{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}New Visa{% endblock %}
{% block h1 %}New Visa{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "visas:list_all_visas" %}">Visas</a></li>
<li>Add New Visa</li>
{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#id_person').each(function() {
        $(this).autocomplete({
          source: '/data/students',
          minLength: 2,
          select: function(event, ui){
            $(this).data("val", ui.item.value);
          }
        });
      });
} );

</script>
{% endblock %}

{% block content %}
<form action="{% url "visas:new_visa" %}" method="post">
    {% csrf_token %}
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Add Visa" />
    </p>
</form>
{% endblock %}

