{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}View Visa{% endblock %}
{% block h1 %}View Visa{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "visas:list_all_visas" %}">Visas</a></li>
<li>View Visa</li>
{% endblock %}

{% block actions %}
<div id="actions">
  <h2>Actions</h2>
    <ul>
        <li><a href="{% url 'visas:new_attachment' visa_id=visa.id %}">Add File Attachment</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <dt>Person</dt><dd>{{ visa.person }}</dd>
    <dt>Unit</dt><dd>{{ visa.unit.name }}</dd>
    <dt>Status</dt><dd>{{ visa.get_status_display }}</dd>
    <dt>Start Date</dt><dd>{{ visa.start_date }}</dd>
    <dt>End Date</dt><dd>{{ visa.end_date }}</dd>

    {% with attachments=visa.attachments.visible %}
    {% if attachments %}
    <h2 id="attachments">Attachments</h2>
    <ul>
    {% for a in attachments %}
    <li>{{ a.title }} ({{a.contents_filename}}, {{ a.created_at.date }}, {{ a.contents.file.size|filesizeformat }})
      <a href="{% url 'visas:view_attachment' visa_id=visa.id  attach_slug=a.slug %}">View</a> |
      <a href="{% url 'visas:download_attachment' visa_id=visa.id  attach_slug=a.slug %}">Download</a> |
      <a href="{% url 'visas:delete_attachment' visa_id=visa.id  attach_slug=a.slug  %}">Delete</a>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

{% endblock %}

