{% extends "base.html" %}
{% load static %}
{% load visa_display %}

{% block title %}Visas{% if person %} for {{ person }}{% endif %}{% endblock %}
{% block h1 %}Visas{% if person %} for {{ person }}{% endif %}{% endblock %}

{% block subbreadcrumbs %}
<li>Visas{% if person %} for {{ person }}{% endif %}</li>
{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/visas.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "style/tacontracts.css" %}" type="text/css">
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#visas').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[2, 'asc']]
  } );
} );
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "visas:new_visa" %}">Add New Visa</a></li>
        <li><a href="{% url 'visas:download_visas_csv' %}">Download CSV</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

{% if visa_list %}
    <table id="visas" class="display">
        <thead>
            <tr>
                <th>Person</th>
                <th>Unit</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Type</th>
                <th>Validity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for visa in visa_list %}
                <tr {{ visa|add_visa_display_class }}>
                    <td>
                        {{ visa.person }} {% if visa.has_attachments %} &nbsp;
                        <i class="fa fa-paperclip" title="Attachment(s)"></i>{% endif %}
                    </td>
                    <td>{{ visa.unit.label }}</td>
                    <td><span class="sort">{{ visa.start_date.isoformat }}</span>{{ visa.start_date }}</td>
                    <td><span class="sort">{{ visa.end_date.isoformat }}</span>{{ visa.end_date }}</td>
                    <td>{{ visa.status }}</td>
                    <td>{{ visa.get_validity }}</td>
                    <td>
                        <form class="lineform" method="POST"
                              action="{% url "visas:delete_visa" visa_id=visa.id %}">
                            {% csrf_token %}
                            <button type='submit' class='btn confirm-submit' title="Hide Visa" data-submit-action="delete this visa">
                                <i class='fa fa-trash-o'></i>
                            </button>
                        </form>
                        <a class="lineform" href="{% url "visas:edit_visa" visa_id=visa.id %}">
                            <button type='submit' class='btn' title="Edit Visa">
                                <i class='fa fa-edit'></i>
                            </button>
                        </a>
                        <a class="lineform" href="{% url "visas:view_visa" visa_id=visa.id %}">
                            <button type='submit' class='btn' title="View Visa">
                                <i class='fa fa-eye'></i>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <h2>There are no visas to display.</h2>
{% endif %}

{% endblock %}