{% extends "base.html" %}
{% load form_display %}{% load static %}
{% block title %}Add File Attachment{% endblock %}
{% block h1 %}Add File Attachment{% endblock %}


{% block subbreadcrumbs %}
<li><a href="{% url "visas:list_all_visas" %}">Visas</a></li>
<li>Add File Attachment</li>
{% endblock %}


{% block content %}
<div class="form_container">
    <form action="{% url "visas:new_attachment" visa_id=visa.id  %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {{ attachment_form|as_dl }}
            <p><input type="submit" class="submit" value="Create Attachment" /></p>
        </fieldset>
    </form>
</div>
{% endblock %}