{% extends "base.html" %}
{% load static %}
{% load inventory_display %}
{% load browser_display %}


{% block title %}Inventory{% endblock %}
{% block h1 %}Inventory{% endblock %}

{% block subbreadcrumbs %}<li>Inventory</li>{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/inventory.css" %}" type="text/css">
<script src="{% static 'jquery-ext/jquery.ba-bbq.min.js' %}"></script>
<script type="text/javascript" src={% static "js/browse.js"%}></script>
<script type="text/javascript" src={% static "js/inventory.js"%}></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  inventory_browser_ready({% url 'inventory:inventory_index' %})
});

</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "inventory:new_asset" %}">Add New Asset</a></li>
        <li><a href="{% url "inventory:inventory_download" %}">Download CSV</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <form action="" id="filterform">
        <h4 class="collapse">Filters</h4>
        <ul>
            {{ form.categories|browser_field }}
            {{ form.in_stock_status|browser_field }}
            {{ form.brand|browser_field }}
        </ul>
    </form>
    <table id="assets" class="display">
    <thead>
        <tr>
            <td>Name</td>
            <td>Qty</td>
            <td>Category</td>
            <td>Location</td>
            <td>Last Modified</td>
            <td>Stock Status</td>
            <td>Actions</td>
        </tr>
    </thead>
        <tbody></tbody>
    </table>
    <div id="legend">
        <h3>Legend</h3>
        <ul>
            <li class="instock">Green Items: Have stock above the minimum re-order quantity</li>
            <li class="needsreorder">Orange Items: Are in stock but at a level below the minumum re-order quantity</li>
            <li class="outofstock">Red Items:  Are out of stock</li>
            <li>Other items:  Have no quantity and/or no minimum re-order quantity</li>
        </ul>
    </div>
{% endblock %}
