{% extends "base.html" %}
{% load form_display %}

{% block title %}New Asset{% endblock %}
{% block h1 %}New Asset{% endblock %}


{% block subbreadcrumbs %}
<li><a href="{% url 'inventory:inventory_index' %}">Inventory</a></li>
<li>New Event</li>
{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#id_user').each(function() {
    $(this).autocomplete({
      source: '/data/students',
      minLength: 2,
      select: function(event, ui){
        $(this).data("val", ui.item.value);
      }
    });
  });
});
</script>
{% endblock %}

{% block content %}
<form action="{% url 'inventory:new_asset' %}" method="post">
    {% csrf_token %}
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Add Asset" />
    </p>
</form>
{% endblock %}
