{% extends "base-wide.html" %}
{% load static %}
{% load form_display %}

{% block title %}Browse RA Appointments{% endblock %}
{% block h1 %}Browse RA Appointments{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{% static "jquery-ext/jquery.ba-bbq.min.js" %}"></script>
<script src="{% static 'js/ra.js' %}"></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  ra_browser_setup("{% url 'ra:browse_appointments' %}");
  $('#processing').dataTable( {
    'bPaginate': false,
    'bInfo': true,
    'bFilter': true,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[0, 'asc']],
    } );
  $('#reqs').dataTable( {
    'bPaginate': false,
    'bInfo': true,
    'bFilter': true,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[0, 'asc']],
    } );
    $('#drafts').dataTable( {
    'bPaginate': false,
    'bInfo': true,
    'bFilter': true,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[3, 'desc']],
    } );
});
</script>
<link rel="stylesheet" href="{% static 'style/ra.css' %}" />
{% endblock %}

{% block subbreadcrumbs %}
<li>RA Browse</li>
{% endblock %}

{% block content %}

<div class="actionlist">
    <a class="btn" href="{% url "ra:new_request" %}">New RA Request</a>
    {% if admin %}
    <a class="btn" href="{% url "ra:advanced_search" %}">Advanced Search</a>
    <div class="btn pressed">Browse Appointments</div>
    <a class="btn" href="{% url "ra:active_appointments" %}">Active Appointments</a>
    <a class="btn" href="{% url "ra:dashboard" %}">In Progress Requests</a>
    {% endif %}
</div>

{% if not admin %}
<div class="helptext">
This page will display any RA requests/appointments that you have created or are a supervisor for. 
If you have the correct permissions, so you may also create/reappoint new requests here.
</div>
{% endif %}

{% if processing and admin %}
<h2>Processing</h2>
<div class="helptext">
  These are requests that I am a processor for.
</div>
<div class="datatable_container">
  <table id="processing" class="display">
    <thead>
      <tr>
        <th scope="col">Appointee</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Unit</th>
        <th scope="col">Fund</th>
        <th scope="col">Project</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Total Pay</th>
      </tr>
    </thead>
    <tbody>
      {% for req in processing %}
        <tr>
          <td><a href="{% url "ra:view_request" ra_slug=req.slug %}">
            {{ req.get_sort_name }}
          </a></td>
          <td>{{ req.supervisor }}</td>
          <td>{{ req.unit.label }}</td>
          <td>{{ req.get_funds }}</td>
          <td>{{ req.get_projects }}</td>
          <td><span class="sort">{{ req.start_date.isoformat }}</span>{{ req.start_date }}</td>
          <td><span class="sort">{{ req.end_date.isoformat }}</span>{{ req.end_date }}</td>
          <td>${{ req.total_pay }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if drafts %}
<h2>My Drafts</h2>
<div class="helptext">
  These requests have not been submitted yet.
</div>
<div class="datatable_container">
  <table id="drafts" class="display">
    <thead>
      <tr>
        <th scope="col">Appointee</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Unit</th>
        <th scope="col">Last Updated</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for req in drafts %}
        <tr>
          <td><b>{{ req.get_sort_name }}</b></td>
          <td>{{ req.supervisor }}</td>
          <td>{{ req.unit.label }}</td>
          <td>{{ req.last_updated_at }}</td>
          <td>
            <form class="lineform" method="POST" action="{% url "ra:delete_request_draft" ra_slug=req.slug %}">
              {% csrf_token %}
              <button type='submit' class='btn confirm-submit' title="Delete Draft" data-submit-action="delete this draft">
                  <i class='fa fa-trash-o'></i>
              </button>
            </form>
            <a class="lineform" href="{% url "ra:edit_request" ra_slug=req.slug %}">
              <button type='submit' class='btn' title="Edit Draft">
                  <i class='fa fa-edit'></i>
              </button>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if reqs %}
<h2>My Requests In Progress</h2>
{% if admin %}
  <div class="helptext">
    I am either an author or a supervisor for these requests.
  </div>
{% endif %}
<div class="datatable_container">
  <table id="reqs" class="display">
    <thead>
      <tr>
        <th scope="col">Appointee</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Unit</th>
        <th scope="col">Fund</th>
        <th scope="col">Project</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Total Pay</th>
      </tr>
    </thead>
    <tbody>
      {% for req in reqs %}
        <tr>
          <td><a href="{% url "ra:view_request" ra_slug=req.slug %}">
            {{ req.get_sort_name }}
          </a></td>
          <td>{{ req.supervisor }}</td>
          <td>{{ req.unit.label }}</td>
          <td>{{ req.get_funds }}</td>
          <td>{{ req.get_projects }}</td>
          <td><span class="sort">{{ req.start_date.isoformat }}</span>{{ req.start_date }}</td>
          <td><span class="sort">{{ req.end_date.isoformat }}</span>{{ req.end_date }}</td>
          <td>${{ req.total_pay }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if admin %}
<h2>All Appointments</h2>
{% else %}
<h2>My Appointments</h2>
{% endif %}

<form action="" id="filterform">{{ form.as_ul }}</form>
<table class="display" id="ra_table">
<thead>
<tr><th scope="col">Appointee</th><th scope="col">Supervisor</th><th scope="col">Unit</th>
<th scope="col">Fund</th><th scope="col">Project</th><th scope="col">Start Date</th>
<th scope="col">End Date</th><th scope="col">Total Pay</th>
</tr>
</thead>
<tbody></tbody>
</table>
<div class="actionlist">
<a class="btn" href="{% url "ra:browse" %}">Browse Historic Appointments</a>
{% if not admin %}
<a class="btn" href="{% url "ra:download_current" %}">Download Active Appointments</a>
<a class="btn" href="{% url "ra:download_all" %}">Download All Appointments</a>
{% else %}
<a class="btn" href="{% url "ra:download_index" %}">Downloads</a>
{% endif %}
</div>
{% endblock %}