{% extends "base-wide.html" %}
{% load static %}
{% load form_display %}

{% block title %}RA Dashboard - Requests{% endblock %}
{% block h1 %}RA Dashboard - Requests{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
    $('#gras').dataTable( {
    'bPaginate': true,
    'lengthMenu': [[25, 50, 100, -1], [25, 50, 100, 'All']],
    'bInfo': true,
    'bFilter': true,
    'bLengthChange': true,
    "bJQueryUI": true,
    'aaSorting': [[4, 'desc']],
    } );
    $('#ra').dataTable( {
    'bPaginate': true,
    'lengthMenu': [[25, 50, 100, -1], [25, 50, 100, 'All']],
    'bInfo': true,
    'bFilter': true,
    'bLengthChange': true,
    "bJQueryUI": true,
    'aaSorting': [[4, 'desc']],
    } );
    $('#nc').dataTable( {
    'bPaginate': true,
    'lengthMenu': [[25, 50, 100, -1], [25, 50, 100, 'All']],
    'bInfo': true,
    'bFilter': true,
    'bLengthChange': true,
    "bJQueryUI": true,
    'aaSorting': [[4, 'desc']],
    } );
} );
</script>
<link rel="stylesheet" href="{% static 'style/ra.css' %}" />
{% endblock %}

{% block subbreadcrumbs %}
<li>RA Dashboard</li>
{% endblock %}

{% block content %}
<div class="actionlist">
<a class="btn" href="{% url "ra:new_request" %}">New RA Request</a>
<a class="btn" href="{% url "ra:advanced_search" %}">Advanced Search</a>
<a class="btn" href="{% url "ra:browse_appointments" %}">Browse Appointments</a>
<a class="btn" href="{% url "ra:active_appointments" %}">Active Appointments</a>
<div class="btn pressed">In Progress Requests</div>
</div>

<h3>Graduate Research Assistant</h3>
<div class="datatable_container">
  <table id="gras" class="display">
    <thead>
      <tr>
        <th scope="col">Appointee</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Created At</th>
        <th scope="col">Author</th>
        <th scope="col">Total Pay</th>
        <th scope="col">Unit</th>
      </tr>
    </thead>
    <tbody>
      {% for req in graduate_research_assistant %}
        <tr>
          <td><a href="{% url "ra:view_request" ra_slug=req.slug %}">
            {{ req.get_sort_name }}
          </a></td>
          <td>{{ req.supervisor }}</td>
          <td><span class="sort">{{ req.start_date.isoformat }}</span>{{ req.start_date }}</td>
          <td><span class="sort">{{ req.end_date.isoformat }}</span>{{ req.end_date }}</td>
          <td><span class="sort">{{ req.created_at.isoformat }}</span>{{ req.created_at }}</td>
          <td>{{ req.author }}</td>
          <td>${{ req.total_pay }}</td>
          <td>{{ req.unit.label }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3>Research Assistant</h3>
<div class="datatable_container">
  <table id="ra" class="display">
    <thead>
      <tr>
        <th scope="col">Appointee</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Created At</th>
        <th scope="col">Author</th>
        <th scope="col">Total Pay</th>
        <th scope="col">Unit</th>
      </tr>
    </thead>
    <tbody>
      {% for req in research_assistant %}
        <tr>
          <td><a href="{% url "ra:view_request" ra_slug=req.slug %}">
            {{ req.get_sort_name }}
          </a></td>
          <td>{{ req.supervisor }}</td>
          <td><span class="sort">{{ req.start_date.isoformat }}</span>{{ req.start_date }}</td>
          <td><span class="sort">{{ req.end_date.isoformat }}</span>{{ req.end_date }}</td>
          <td><span class="sort">{{ req.created_at.isoformat }}</span>{{ req.created_at }}</td>
          <td>{{ req.author }}</td>
          <td>${{ req.total_pay }}</td>
          <td>{{ req.unit.label }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3>Non-Continuing</h3>
<div class="datatable_container">
  <table id="nc" class="display">
    <thead>
      <tr>
        <th scope="col">Appointee</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Created At</th>
        <th scope="col">Author</th>
        <th scope="col">Total Pay</th>
        <th scope="col">Unit</th>
      </tr>
    </thead>
    <tbody>
      {% for req in non_continuing %}
        <tr>
          <td><a href="{% url "ra:view_request" ra_slug=req.slug %}">
            {{ req.get_sort_name }}
          </a></td>
          <td>{{ req.supervisor }}</td>
          <td><span class="sort">{{ req.start_date.isoformat }}</span>{{ req.start_date }}</td>
          <td><span class="sort">{{ req.end_date.isoformat }}</span>{{ req.end_date }}</td>
          <td><span class="sort">{{ req.created_at.isoformat }}</span>{{ req.created_at }}</td>
          <td>{{ req.author }}</td>
          <td>${{ req.total_pay }}</td>
          <td>{{ req.unit.label }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
