{% extends 'base.html' %}

{% block title %}Convert Grades{% endblock %}

{% block subbreadcrumbs %}
&gt; <a href="{% url 'gpaconvert.views.list_grade_sources' %}">GPA Calculator</a> &gt; {{ grade_source }}
{% endblock %}

{% block h1 %}Convert Grades{% endblock %}

{% block content %}
<div class="table_container">
  <form action="{% url 'gpaconvert.views.convert_grades' grade_source.slug %}" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="info">
      <thead>
        <tr>
          <th class="ui-state-default">Course Name*</th>
          <th class="ui-state-default">Credits*</th>
          <th class="ui-state-default">2nd GPA</th>
          <th class="ui-state-default">Your Grade*</th>
          <th class="ui-state-default">SFU Grade</th>
          <th class="ui-state-default">SFU Grade Points</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr>
          <!-- TODO: Show error messages -->
          {% for field in form %}
          <td>{{ field }}</td>
          {% endfor %}
          {% with transfer_rule=transfer_rules.next %}
          <td>{{ transfer_rule.transfer_value }}</td>
          <td>{{ transfer_rule.grade_points }}</td>
          {% endwith %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Convert" />
{% if transfer_gpa >= 0 %}
<div class="table_container">
  <table class="info">
    <thead>
      <th>SFU GPA</th>
      {% if secondary_gpa >= 0 %}
      <th>Secondary GPA</th>
      {% endif %}
    </thead>
    <tbody>
      <tr>
        <td>{{ transfer_gpa|floatformat:2 }}</td>
        {% if secondary_gpa >= 0 %}
        <td>{{ secondary_gpa|floatformat:2 }}</td>
        {% endif %}
      </tr>
    </tbody>
  </table>
  <input type="submit" name="save_grades" value="Save for later" />
{% endif %}
  </form>
</div>

{% endblock %}