{% extends 'base.html' %}

{% block headextra %}
<link rel="stylesheet" href="{{MEDIA_URL}}style/gpaconvert.css" media="all" />
{% endblock %}

{% block title %}Convert Grades{% endblock %}

{% block breadcrumbs %}
<li>
  <a href="{% url 'gpaconvert.views.list_grade_sources' %}">Grade Sources</a>
</li>
<li>&gt;</li>
<li>{{ grade_source }}</li>
{% endblock %}

{% block h1 %}Convert Grades{% endblock %}

{% block content %}
<div class="table_container">
  <form action="{% url 'gpaconvert.views.convert_grades' grade_source.slug %}" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="info">
      <thead>
        <tr>
          <th class="ui-state-default">Course Name*</th>
          <th class="ui-state-default">Credits*</th>
          <th class="ui-state-default">Your Grade*</th>
          <th class="ui-state-default">SFU Grade</th>
          <th class="ui-state-default">SFU Grade Points</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr>
          <!-- TODO: Show error messages -->
          {% for field in form %}
          <td>{{ field }}</td>
          {% endfor %}
          {% with transfer_rule=transfer_rules.next %}
          <td>{{ transfer_rule.transfer_value }}</td>
          <td>{{ transfer_rule.grade_points }}</td>
          {% endwith %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Convert" />
{% if transfer_gpa %}
<div class="table_container">
  <table class="info">
    <thead>
      <th>SFU GPA</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ transfer_gpa|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>
  <input type="submit" name="save_grades" value="Save for later" />

{% if form.grade.value != nill %}
	<div id="result">{{ form.grade.value }}</div>
</div>
{% endif %}
{% endif %}
  </form>
</div>

{% endblock %}