{% extends "base.html" %}
{% block title %}GPA Convert Admin Interface{% endblock %}
{% block h1 %}GPA Convert Admin Interface{% endblock %}

{% block subbreadcrumbs %}
&gt; <a href="{% url 'grade_source_index' %}">GPA Calculator</a> &gt; New Grade Source
{% endblock %}

{% block headextra %}
<style type="text/css">
    .hideshow input{
        font-size: x-small;
    }
    .deleted{
        background-color: pink;
    }
</style>
<script type="text/javascript" src="{{MEDIA_URL}}collapsible/js/jQuery.collapsible.js"></script>

{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url 'grade_source_index' %}">Return to Grade Sources</a></li>         
    </ul>
</div>
{% endblock %}

{%block content%}
<div class="form_container">
    <form action="." method="post">
        {% csrf_token %}
        <fieldset>
        <legend>Grade Source</legend>
        {{ grade_source_form.id }}
        <dl class="dlform">
            {% for field in grade_source_form %}
            <dt class="{{ field.html_name }}">
                <label for="{{ field.auto_id }}">
                    {{ field.label }}:
                    {% if field.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </label>
            </dt>
            <dd>
                <div class="field">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </dd>
            {% endfor %}
        </dl>

        <p><input type="submit" class="submit" value="Submit" /></p>
        </fieldset>
    </form>
</div>
{%endblock content%}
