{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% block headextra %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#letters').dataTable({
			"bJQueryUI" : true,
			"aaSorting" : [[4, "desc"]],
			"iDisplayLength" : 10,
			"sPaginationType" : "full_numbers",
		});
	});

</script>
{% endblock %}
{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li>
			<a href="{% url grad.views.new_letter grad_slug=grad.slug %}"> New Letter </a>
		</li>
	</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	<a href="{% url grad.views.index %}">Grad</a>
</li>
{% if grad %}
<li>
	<a href="{% url grad.views.view_all grad_slug=grad.slug%}">{{grad.person.last_name}}, {{grad.person.first_name}}</a>
</li>
{% endif %}
<li>
	{{crumb}}
</li>
{% endblock %}

{% block content %}
<div class="datatable_container">
	<table class="display" id="letters">
		<thead>
			<tr>
				<th scope="col">Student ID </th>
				<th scope="col">Last Name</th>
				<th scope="col">First Name</th>
				<th scope="col">Template Used</th>
				<th scope="col">Created At</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for s in letters %}
			<tr>
				<td>{{s.student.person.emplid}}</td>
				<td>{{s.student.person.last_name}}</td>
				<td>{{s.student.person.first_name}}</td>
				<td>{{s.template.label}}</td>
				<td>{{s.created_at}}</td>
				<td><a href="{% url grad.views.get_letter letter_slug=s.slug %}">Get PDF</a> | <a href="{% url grad.views.view_letter letter_slug=s.slug %}">View Body</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} 