{% extends "base.html" %}
{% load course_display %}

{% block title %}{{ activity.name }} Information{% endblock %}
{% block h1 %}{{ activity.name }} Information{% endblock %}

{% comment %}
Column logic:

  always:
    Last name
    First name
    User ID
    Student #
  if group assignment:
    Group
  if calculated letter
    source grade
  always:
    Grade (may be letter or number)
  if graded numeric:
    Marking
  if not calculated:
    Submission
  if calculated numeric
    Calculate

{% endcomment %}

{% block headextra %}
<script type="text/javascript">
//<![CDATA[
    function fetchUserId(data) {
	var dataArray = data.split('&')
	for (var i=0; i<dataArray.length; i++) {
	    pos = dataArray[i].indexOf('userid');
	    if (pos != -1) {
		userid = dataArray[i].substring(pos+7)
		return userid
	    }
	}
    }

    $(document).ready(function() {
	// activate dataTable ui
	oTable = $('#student_grades').dataTable({
                "bPaginate": false,
		"bJQueryUI": true,
		"aaSorting": [[0, "asc"]],
		"aoColumns": [
		    null,
		    null,
		    null,
		    { "sType": "by-nolink" },
		    {% if activity.group %}null,{% endif %}
		    {% if not activity.is_numeric and activity.is_calculated %}{ "sType": "by-mark" },{% endif %}
		    {% if activity.is_numeric %}{ "sType": "by-nolinkmark" }{% else %}{ "sType": "by-nolinkletter" }{% endif %}
		    {% if not activity.is_calculated and activity.is_numeric %},{ "sType": "by-marklink" }{% endif %}
		    {% if not activity.is_calculated %},{ "sType": "by-anything" }{% endif %}
		    {% if activity.is_calculated and activity.is_numeric %},{ "bSortable": false }{% endif %}
		]
	});
	
	{% if activity.calnumericactivity %}
	$(document).ajaxSend(function(e, xhr, settings) {
	    cal_link = $('#'+fetchUserId(settings.data));
	    ajax_status = cal_link.parent().children('.ajax_status')
	    if (ajax_status.html() != null) {
		ajax_status.text('Processing...');
	    }
	    else {
		cal_link.parent().append('<div class="ajax_status">Processing...</div>');
		ajax_status = cal_link.parent().children('.ajax_status');
	    }
	});
	$(document).ajaxSuccess(function(e, xhr, settings) {
	    cal_link = $('#'+fetchUserId(settings.data));
	    cal_link.parent().children('.ajax_status').remove();
	    cal_link.parent().children('span.grade').html(xhr.responseText);
	    cal_link.parent().parent().find('.grade_status').text('calculated');
	});
	$(document).ajaxError(function(e, xhr, settings) {
	    cal_link = $('#'+fetchUserId(settings.data));
	    cal_link.parent().children('.ajax_status').text(xhr.status + " " + xhr.statusText);
	});
	$('a.calculator').attr('href', 'javascript:').click(function(){
	    var cal_link = $(this);
	    var userid = cal_link.attr('id').substring(5);
	    /* post request */
	    $.post("{% url "grades.views.calculate_individual_ajax" course_slug=course.slug activity_slug=activity.slug %}",		  		    {'userid': userid, 'csrfmiddlewaretoken': "{{csrf_token}}"},
	    function(data, textStatus, jqXHR){
	      $("#grade-"+userid+">a").html(data);
	    });
	});
	{% endif %}
    });
//]]></script>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{{course.get_absolute_url}}">{{ course.name }}</a></li><li>{{ activity.name }}</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
{% if activity.group %}
<li>
{% ifequal activity_view_type 'group' %}
<a href="{% url "grades.views.activity_info" course_slug=course.slug activity_slug=activity.slug%}">View By Student</a>
{% endifequal %}
{% ifequal activity_view_type 'individual' %}
<a href="{% url "grades.views.activity_info_with_groups" course_slug=course.slug activity_slug=activity.slug%}">View By Group</a>
{% endifequal %}</li>
{% endif %}

	    <li{% if activity.group %} class="newsec"{% endif %}><a href="{% url "grades.views.edit_activity" course_slug=course.slug activity_slug=activity.slug %}?from_page={{ from_page }}">Edit Activity Details</a></li>
	    
	    {% if activity.is_calculated and not activity.is_numeric%}
	    <li><a href="{% url "grades.views.edit_cutoffs" course_slug=course.slug activity_slug=activity.slug%}">Edit Cutoffs</a></li>
	    {% endif %}
	    {% if not activity.is_calculated %}
	    <li><a href="{% url "submission.views.show_components" course_slug=course.slug activity_slug=activity.slug%}">Configure Submission</a></li>
	    {% if activity.is_numeric %}
	    <li class="newsec">
	    <a href="{% url "marking.views.manage_activity_components" course_slug=course.slug activity_slug=activity.slug%}">Configure Marking</a>
	    </li>
	    {% endif %}
	    {% if sub_comps %}
	    <li><a href="{% url "submission.views.download_activity_files" course_slug=course.slug activity_slug=activity.slug%}">Download Submissions</a></li>
	    {% endif %}
	    {% endif %}
	    
	    {% if not activity.is_calculated %}
	    <li><a href="{% url "marking.views.mark_all_students" course_slug=course.slug activity_slug=activity.slug%}">Grade each Student</a></li>
	    {% endif %}
	    
	    {% if activity.group and not activity.is_calculated%}
		    	<li>
		    	<a href="{% url "marking.views.mark_all_groups" course_slug=course.slug activity_slug=activity.slug%}?from_page={{ from_page }}">Grade each Group</a>
		    	</li>
	    {% endif %}
	    {% if mark_comps %}
	      <li><a href="{% url "marking.views.import_marks" course_slug=course.slug activity_slug=activity.slug%}">Import Marking Details</a></li>
	    {% endif %}

	    <li class="newsec"><a href="{% url "grades.views.activity_stat" course_slug=course.slug activity_slug=activity.slug %}">Display Statistics</a></li> 
		    	<li><a href="{% url "marking.views.export_csv" course_slug=course.slug activity_slug=activity.slug%}">Export Grades</a></li>
                 {% if not activity.is_numeric %}
		    	<li><a href="{% url "marking.views.export_sims" course_slug=course.slug activity_slug=activity.slug%}">Export for SIMS</a></li>
		    	<li><a href="{% url "grades.views.compare_official" course_slug=course.slug activity_slug=activity.slug%}">Compare Official Letter Grades</a></li>
		 {% endif %}

	 
    </ul>
</div>
{% endblock %}

{% block content %}
    <table class="info">
        <tbody>
	    <tr>
                <th scope="row">Activity Type</th>
                <td>{{ activity.type_long }}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{activity.name}}</td>
            </tr>
            <tr>
                <th scope="row">Short name</th>
                <td>{{activity.short_name}}</td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td><form action="{% url "grades.views.release_activity" course_slug=course.slug activity_slug=activity.slug %}" method="post">{% csrf_token %}<p>
                {{activity.get_status_display}}
                {% if activity.status == "INVI" %}
                <input type="submit" value="Make visible" onclick="return confirmSubmit('make the activity visible to students')" />
                {% else %}{% if activity.status == "URLS" %}
                <input type="submit" value="Release grades" onclick="return confirmSubmit('release the grades to students')" />
                {% endif %}{% endif %}</p></form></td>
            </tr>
            <tr>
                <th scope="row">Due date</th>
                <td class="{{activity.due_class}}">{{activity.due_date}}</td>
            </tr>
            <tr>
                <th scope="row">Percentage</th>
                <td>{% if activity.percent == None %}&mdash;{% else %}{{activity.percent}}%{% endif %}</td>
            </tr>
            {% if not activity.is_calculated %}
		<tr>
                <th scope="row">Group Activity</th>
                <td>{% if activity.group %}Yes{% else %}No{% endif %}</td>
            </tr>
            {% endif %}
            {% if activity.numericactivity %}
            <tr>
                <th scope="row">Maximum grade</th>
                <td>{{activity.max_grade}}</td>
            </tr>
            {% endif %}
	    {% if activity.calnumericactivity %}
            <tr>
                <th scope="row">Formula</th>
                <td>
                <form action="{% url "grades.views.calculate_all" course_slug=course.slug activity_slug=activity.slug %}" method="get">
                <p>{{activity.formula}}
                    <input type="submit" value="Calculate all grades" /></p>
                </form>
                </td>
            </tr>
            {% endif %}
            {% if not activity.is_calculated %}
            <tr>
                <th scope="row">Submission Components</th>
                <td>{% if sub_comps %}{{sub_comps|join:", "}}{% else %}<span class="empty">Submission not configured.</span>{% endif %}
                <a class="editlink" href="{% url "submission.views.show_components" course_slug=course.slug activity_slug=activity.slug%}">Configure Submission</a>
                </td>
            </tr>
            {% endif %}
            {% if not activity.is_calculated and activity.is_numeric %}
            <tr>
                <th scope="row">Marking Components</th>
                <td>{% if mark_comps %}{{mark_comps|join:", "}}{% else %}<span class="empty">Marking not configured.</span>{% endif %}
                <a class="editlink" href="{% url "marking.views.manage_activity_components" course_slug=course.slug activity_slug=activity.slug%}">Configure Marking</a>
                </td>
            </tr>
            {% endif %}
            {% if activity.is_calculated and not activity.is_numeric %}
            <tr>
                <th scope="row">Numeric Source</th>
                <td><a href="{% url "grades.views.activity_info" course_slug=course.slug activity_slug=activity.numeric_activity.slug %}">{{activity.numeric_activity.name}}</a></td>
            </tr>
            <tr>
                <th scope="row">Exam Activity</th>
                {% if activity.exam_activity %}
                <td><a href="{% url "grades.views.activity_info" course_slug=course.slug activity_slug=activity.exam_activity.slug %}">{{activity.exam_activity.name}}</a></td>
                {% else %}
                <td class="empty">None</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Cutoffs</th>
                <td>
                <form action="{% url "grades.views.calculate_all_lettergrades" course_slug=course.slug activity_slug=activity.slug %}" method="get">
                <p>{{activity.cutoff_display}}
                    <input type="submit" value="Calculate all grades" /></p>
                </form>
                </td>
            </tr>
            {% endif %}
            {% if activity.config.url %}
            <tr>
                <th scope="row">More Information</th>
                <td>{{activity.config.url|urlize}}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

{% block activity_info_grades_block %}


<div class="datatable_container">
	{% if students %}
    <table class="display" id="student_grades">
        <thead>
            <tr>
                <th scope="col">Last name</th>
                <th scope="col">First name</th>
		<th scope="col">User ID</th>
		<th scope="col">Stu #</th>
		{% if activity.group %}
		  <th scope="col">Group</th>
		{% endif %}
		{% if not activity.is_numeric and activity.is_calculated %}
		  <th scope="col"><a href="{% url "grades.views.activity_info" course_slug=course.slug activity_slug=activity.numeric_activity.slug %}">{{activity.numeric_activity.short_name}}</a> Grade</th>
		{% endif %}
		<th scope="col">Grade</th>
		{% if not activity.is_calculated and activity.is_numeric %}
		  <th scope="col"{% if not mark_comps %} class="disabled"{% endif %}>Marking</th>
		{% endif %}
		{% if not activity.is_calculated %}
		  <th scope="col"{% if not sub_comps %} class="disabled"{% endif %}>Submission</th>
		{% endif %}
		{% if activity.is_calculated and activity.is_numeric %}
		  <th scope="col">Calculate</th>
		{% endif %}
            </tr>
	</thead>
        <tbody>
	    {% for member in students %}
	    {% with member.person.userid as userid %}
	    {% with grades|hash:userid as grade %}
	    <tr>
		<td>{{ member.person.last_name }}</td>
		<td>{{ member.person.first_with_pref }}</td>
		<td>{{ member.person.userid }}</td>
		<td><a href="{% url "grades.views.student_info" course_slug=course.slug userid=member.person.userid %}" title="student info">{{ member.person.emplid }}</a></td>

		{% if activity.group %}
		  <td>{% with group_membership|hash:userid as group %}
		  {% if group %}<a href="{{group.get_absolute_url}}">{{group}}</a>{% else %}&mdash;{% endif %}
		  {% endwith %}</td>
		{% endif %}
		{% if not activity.is_numeric and activity.is_calculated %}<td>
		  {% with source_grades|hash:userid as sgrade %}
		  {% if not sgrade or sgrade.flag == 'NOGR'%}
		    &mdash;/{{activity.max_grade}}
		  {% else %}
		    {{ sgrade.display_staff }}
		  {% endif %}
		  {% endwith %}
		</td>{% endif %}
		<td id="grade-{{ member.person.userid }}">
		    {% if not grade or grade.flag == 'NOGR'%}
			{% if not activity.is_calculated %}
				{% if activity.is_numeric %}
					<a href="{% url "marking.views.change_grade_status" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}?from_page={{from_page}}" title="edit grade">&mdash;/{{activity.max_grade}}</a>
				{% else %}
					<a href="{% url "marking.views.change_grade_status" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}?from_page={{from_page}}" title="edit grade">&mdash;</a>
				{% endif %}
			{% else %}
				{% if activity.is_numeric %}
					<a href="{% url "marking.views.change_grade_status" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}?from_page={{from_page}}" title="edit grade">&mdash;/{{activity.max_grade}}</a>
				{% else %}
					<a href="{% url "marking.views.change_grade_status" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}?from_page={{from_page}}" title="edit grade">&mdash;</a>
				{% endif %}
			{% endif %}	   
		    {% else %}
		    	{% if not activity.is_calculated %}
		    		{% if activity.is_numeric %}
					<a href="{% url "marking.views.change_grade_status" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}?from_page={{from_page}}" title="edit grade">{{ grade.display_staff }}</a>
				{% else %}
					<a href="{% url "marking.views.change_grade_status" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}?from_page={{from_page}}" title="edit grade">{{ grade.display_staff }}</a>
				{% endif %}
			{% else %}
				{% if activity.is_numeric %}
					<a href="{% url "marking.views.change_grade_status" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}?from_page={{from_page}}" title="edit grade">{{ grade.display_staff }}</a>
				{% else %}
					<a href="{% url "marking.views.change_grade_status" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}?from_page={{from_page}}" title="edit grade">{{ grade.display_staff }}</a>
				{% endif %}
			{% endif %}
		    {% endif %}
		    
		    {% if activity.is_calculated %}
		      {% if not grade or grade.flag != 'CALC' %}
		      ({{ grade.get_flag_display }})
		      {% endif %}
		    {% else %}
		      {% if grade and grade.flag != 'GRAD' and grade.flag != 'NOGR' %}
		      ({{ grade.get_flag_display }})
		      {% endif %}
		    {% endif %}
		</td>
		{% if not activity.is_calculated and activity.is_numeric %}
		  {% if mark_comps %}
		  <td class="iconcell">
		    {% if marked|hash:userid %}
		    <a href="{% url "marking.views.mark_summary_student" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}"><i class="fa fa-search" title="View detail"></i></a>
		    {% else %}
		    <a href="{% url "submission.views.take_ownership_and_mark" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}?from_page={{from_page}}"><i class="fa fa-edit" title="Mark"></i></a>
		    {% endif %}
		  </td>
		  {% else %}
		  <td class="iconcell disabled"></td>
		  {% endif %}
		{% endif %}
		{% if not activity.is_calculated %}
		  {% if sub_comps %}
		  <td class="iconcell">
		    {% if submitted|hash:userid %}<a href="{% url "submission.views.show_student_submission_staff" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}"><i class="fa fa-search" title="View detail"></i></a>

		    <a href="{% url "submission.views.download_file" course_slug=course.slug activity_slug=activity.slug userid=member.person.userid %}" class="calculate"><i class="fa fa-download" title="Download"></i></a>{% endif %}
		  </td>
		  {% else %}
		  <td class="iconcell disabled"></td>
		  {% endif %}
		{% endif %}
		{% if activity.is_calculated and activity.is_numeric %}
		  <td class="iconcell"><a href="" id="calc-{{member.person.userid }}"><i class="fa fa-refresh"></i></a></td>
		{% endif %}
	    </tr>
	    {% endwith %}
	    {% endwith %}
	    {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="empty">No students enrolled.</p>
    {% endif %}</div>
{% endblock %}
{% endblock %}
