{% extends "base.html" %}

{% block title %}{{ activity.name }} Information{% endblock %}
{% block h1 %}{{ activity.name }} Information{% endblock %}

{% block subbreadcrumbs %}<li><a href="{{course.get_absolute_url}}">{{ course.name }}</a></li><li>{{ activity.name }}</li>{% endblock %}

{% block headextra %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
{% if activity_stat %}
{% if activity.showhisto %}
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);
  
  var chart, data, rangetitle;
  function drawChart() {
    data = new google.visualization.DataTable();
    data.addColumn('string', 'Range');
    data.addColumn('number', 'Count');
    data.addRows({{activity_stat.grade_range_stat_list|length}});

    {% for grade_range_stat in activity_stat.grade_range_stat_list %}
    data.setValue({{forloop.counter0}}, 0, '{{ grade_range_stat.grade_range|escapejs }}');
    data.setValue({{forloop.counter0}}, 1, {{ grade_range_stat.stud_count|escapejs }});
    {% endfor %}
    
    chart = new google.visualization.ColumnChart(document.getElementById('histogram'));
    chart.draw(data, {width: 700, height: 400, axisTitlesPosition: 'none', legend: 'none'});
  }
{% endif %}
{% endif %}

  $(document).ready(function() {
  });
</script>
{% endblock %}

{% block actions %}
{% if activity.submitable or activity.no_submit_too_old %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
		{% if activity.submitable %}
        <li><a href="{% url "submission.views.show_components" course.slug activity.slug%}">Make Submission</a></li>
		{% else %}
		{% if activity.no_submit_too_old %}
        <li><a href="{% url "submission.views.show_components" course.slug activity.slug%}">View Submission</a></li>
		{% endif %}
		{% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
    <table class="info">
        <tbody>
            <tr>
                <th scope="row">Status</th>
                <td>{{activity.get_status_display}}</td>
            </tr>
            <tr>
                <th scope="row">Due date</th>
                <td class="{{activity.due_class}}">{{activity.due_date}}</td>
            </tr>
            <tr>
                <th scope="row">Percentage</th>
                <td>{% if activity.percent %}{{activity.percent}}%{% else %}unknown{% endif %}</td>
            </tr>
            {% if activity.config.url %}
            <tr>
                <th scope="row">More Information</th>
                <td>{{activity.config.url|urlize}}</td>
            </tr>
            {% endif %}
            
            <tr>
                <th scope="row">Grade Status</th>
                <td>{{grade.get_flag_display}}</td>
            </tr>
            <tr>
                <th scope="row">Your Grade</th>
                <td>
               <strong>{{ grade.display_with_percentage_student }}</strong>
               {% if activity.is_numeric %}
               {% ifnotequal grade.flag 'NOGR' %} 
               {% ifnotequal grade.flag 'CALC' %} 
               [<a href="{% url "marking.views.mark_summary_student" course_slug=course.slug activity_slug=activity.slug userid=grade.member.person.userid %}">Additional Marking Details</a>]
               {% endifnotequal %}
               {% endifnotequal %}
               {% endif %}
                </td>
            </tr>
            {% if grade.comment %} 
            <tr>
            	<th scope="row">Grade Comment</th>
                <td>{{grade.comment|linebreaks}}</td>
            </tr>
            {% endif %}

        </tbody>
    </table>


{% if activity_stat %}
{% if activity.showstats %}
<h2 id="summary">Summary Statistics</h2>

    <table class="info">
        <tbody>
            {% if activity.is_numeric %}
            <tr>
                <th scope="row">Mean Grade</th>
                <td>{{ activity_stat.average }}</td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Median Grade</th>
                <td>{{ activity_stat.median }}</td>
            </tr>
            {% if activity.is_numeric %}
            <tr>
                <th scope="row">Standard Deviation</th>
                <td>{{ activity_stat.stddev }}</td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Minimum Grade</th>
                <td>{{ activity_stat.min }}</td>
            </tr>
            <tr>
                <th scope="row">Maximum Grade</th>
                <td>{{ activity_stat.max }}</td>
            </tr>
        </tbody>
    </table>
{% else %}
<p class="empty">Summary stats disabled by instructor.</p>
{% endif %}{% else %}
<p class="empty">{{ reason_msg }}</p>
{% endif %}

{% if activity_stat %}
{% if activity.showhisto %}
<h2 id="histo">Histogram</h2>
<div id="histogram"></div>
{% else %}
<p class="empty">Histogram display disabled by instructor.</p>
{% endif %}
{% endif %}
{% endblock %}
