{% extends "grades/base.html" %}

{% block title %}{{ activity.name }} Information{% endblock %}
{% block h1 %}{{ activity.name }} Information{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{{course.get_absolute_url}}">{{ course.name }}</a></li><li>&gt; {{ activity.name }}</li>{% endblock %}

{% block grades_headextra %}
<link rel="stylesheet" href="{{MEDIA_URL}}visualize/css/visualize.css" type="text/css" />
<!--[if IE]><script type="text/javascript" src="{{MEDIA_URL}}visualize/excanvas.compiled.js"></script><![endif]-->
<script type="text/javascript" src="{{MEDIA_URL}}visualize/visualize.jQuery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
	$("table.data").hide();
        $("table.data").visualize({'height': '300px', appendTitle: false, appendKey: false});
    });
</script>
{% endblock %}

{% block actions %}
{% if activity.submitable or activity.no_submit_too_old %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
		{% if activity.submitable %}
        <li><a href="{% url submission.views.show_components course.slug, activity.slug%}">Make Submission</a></li>
		{% else %}
		{% if activity.no_submit_too_old %}
        <li><a href="{% url submission.views.show_components course.slug, activity.slug%}">View Submission</a></li>
		{% endif %}
		{% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="table_container">
    <table class="info">
        <tbody>
            <tr>
                <th class="ui-state-default">Status</th>
                <td>{{activity.get_status_display}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Due date</th>
                <td class="{{activity.due_class}}">{{activity.due_date}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Percentage</th>
                <td>{% if activity.percent %}{{activity.percent}}%{% else %}unknown{% endif %}</td>
            </tr>
            {% if activity.url %}
            <tr>
                <th class="ui-state-default">More Information</th>
                <td>{{activity.url|urlize}}</td>
            </tr>
            {% endif %}
            
            <tr>
                <th class="ui-state-default">Grade Status</th>
                <td>{{grade.get_flag_display}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Your Grade</th>
                <td>
               {{ grade.display_with_percentage_student }}
               {% if activity.is_numeric %}
               {% ifnotequal grade.flag 'NOGR' %} 
               {% ifnotequal grade.flag 'CALC' %} 
               [<a href="{% url marking.views.mark_summary_student course_slug=course.slug activity_slug=activity.slug userid=grade.member.person.userid %}">Additional Marking Details</a>]
               {% endifnotequal %}
               {% endifnotequal %}
               {% endif %}
                </td>
            </tr>
            {% if grade.comment %} 
            <tr>
            	<th class="ui-state-default">Grade Comment</th>
                <td>{{grade.comment|linebreaks}}</td>
            </tr>
            {% endif %}

        </tbody>
    </table>
</div>


{% if activity_stat %}
<h2 id="summary">Summary Statistics</h2>

<div class="table_container">
    <table class="info">
        <tbody>
            {% if activity.is_numeric %}
            <tr>
                <th class="ui-state-default">Mean Grade</th>
                <td>{{ activity_stat.average }}</td>
            </tr>
            {% endif %}
            <tr>
                <th class="ui-state-default">Median Grade</th>
                <td>{{ activity_stat.median }}</td>
            </tr>
            {% if activity.is_numeric %}
            <tr>
                <th class="ui-state-default">Standard Deviation</th>
                <td>{{ activity_stat.stddev }}</td>
            </tr>
            {% endif %}
            <tr>
                <th class="ui-state-default">Minimum Grade</th>
                <td>{{ activity_stat.min }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Maximum Grade</th>
                <td>{{ activity_stat.max }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 id="histo">Histogram</h2>
<table class="data info" style="width: 500px; border-collapse: collapse;">
    <caption>Grade Range</caption>
    <thead>
	<tr>
	    <td></td>
	    {% for grade_range_stat in activity_stat.grade_range_stat_list %}
	    <th scope="col">{{ grade_range_stat.grade_range }}</th>
	    {% endfor %}
	</tr>
    </thead>
    <tbody>
	<tr>
	    <th scope="row">{{ activity.name }}</th>
	    {% for grade_range_stat in activity_stat.grade_range_stat_list %}
	    <td>{{ grade_range_stat.stud_count }}</td>
	    {% endfor %}
	</tr>
    </tbody>
</table>
{% else %}
<p class="empty">{{ reason_msg }}</p>
{% endif %}
{% endblock %}
