{% extends "grades/base.html" %}

{% block h1 %}Activity Information{% endblock %}

{% block grades_headextra %}
<script type="text/javascript">
    $(document).ready(function() {
	addLinkClickStyleClass('a.redbutton', 'redbutton_onclick');
	// activate dataTable ui
	oTable = $('#student_grades').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"iDisplayLength" : 50,
		"aoColumns": [
		    { "sType": "html" },
		    null,
		    null,
		    null,
            { "sWidth": "3em" }
		]
	});
    });
</script>
{% endblock %}

{% block breadcrumbs_extra %}
<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li>
<li>&gt; <a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug%}">{{ activity.name }}</a></li>
{% endblock %}


{% block content %}
<div class="table_container">
    <table class="info">
        <tbody>
	    <tr>
                <th class="ui-state-default">Activity Type</th>
                <td>{{ activity_type }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Name</th>
                <td>
                    {{activity.name}}
                    <span>(<a href="{% url grades.views.edit_activity course_slug=course.slug activity_slug=activity.slug %}?from_page={{ from_page }}">Edit</a>) </span> 
                    <span>(<a href="{% url grades.views.delete_activity_review course_slug=course.slug activity_slug=activity.slug %}">Delete</a>)</span>
                </td>
            </tr>
            <tr>
                <th class="ui-state-default">Short name</th>
                <td>{{activity.short_name}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Status</th>
                <td>{{activity.get_status_display}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Due date</th>
                <td>{{activity.due_date}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Percentage</th>
                <td>{{activity.percent}}</td>
            </tr>
            {% ifequal activity_type 'Numeric Graded' %}
            <tr>
                <th class="ui-state-default">Maximum grade</th>
                <td>{{activity.max_grade}}</td>
            </tr>
            {% endifequal %}
        </tbody>
    </table>
</div>
<div class="grades_container">
    <h2>Student Grades</h2>
    <a class="redbutton" href="{% url marking.views.export_csv course_slug=course.slug, activity_slug=activity.slug%}">Export all</a>
    <br/>
    <table class="display" id="student_grades">
        <thead>
            <tr>
                <th>Student Name</th>
		<th>Student Number</th>
		<th>Grade Status</th>
		<th>Grade</th>
        <th><img src="{{MEDIA_URL}}icons/disk_multiple.png" title="Submission" alt="Submission" /></th>
            </tr>
	</thead>
        <tbody>
	    {% for student_grade_info in student_grade_info_list %}
	    <tr>
		<td>
		    <strong>
			<a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug%}?id={{ student_grade_info.id }}">{{ student_grade_info.name }}</a>
		    </strong>
		</td>
		<td>{{ student_grade_info.emplid }}</td>
		<td>{{ student_grade_info.grade_status }}</td>
		<td>			
			{% ifequal student_grade_info.grade_status 'graded'%} 
			    {{ student_grade_info.grade }}
				<a href="{% url marking.views.mark_summary course_slug=course.slug activity_slug=activity.slug%}?student={{ student_grade_info.userid }}" target="_blank"><img src="{{MEDIA_URL}}icons/magnifier.png" title="View Detail" alt="View Detail" /></a>
			{% else %}
				<a href="{% url marking.views.marking course_slug=course.slug activity_slug=activity.slug%}?student={{ student_grade_info.userid }}" target="_blank">mark this...</a>
			{% endifequal %}
			
		</td>
        <td>
            <a href="{% url submission.views.show_student_submission_staff course_slug=course.slug activity_slug=activity.slug userid=student_grade_info.userid %}" target="_blank"><img src="{{MEDIA_URL}}icons/magnifier.png" title="View" alt="View" /></a>
            <a href="{% url submission.views.download_file course_slug=course.slug activity_slug=activity.slug %}?user-id={{student_grade_info.userid}}" target="_blank"><img src="{{MEDIA_URL}}icons/page_compressed.png" title="Download" alt="Download" /></a>
        </td>
	    </tr>
	    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
