{% extends "grades/activity_info.html" %}
{% load course_display %}

{% block grades_headextra %}
<script type="text/javascript" src="{{MEDIA_URL}}collapsible/js/jQuery.collapsible.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
		// activate dataTable ui
		oTable = $('#group_grades').dataTable({
			"bJQueryUI": true,
			"sPaginationType": "full_numbers",
			"iDisplayLength" : 50,
            "aoColumns": [
		    null,
		    { "sType": "by-mark" },
            { "sWidth": "3em" }
            ]
		});
		$('div.collapsible').collapsible();		
    });
   
</script>
{% endblock %}

{% block activity_info_grades_block %} 
<div class="datatable_container">
    <table class="display" id="group_grades">
        <thead>
           <tr>
            <th>Group Name</th>
			<th>Grade</th>
			<th><img src="{{MEDIA_URL}}icons/disk_multiple.png" title="Submission" alt="Submission" /></th>
            </tr>
	    </thead>
        <tbody>
	    {% for group_grade_info in group_grade_info_list %}
	    {% with group_grade_info.group as group %}
		    <tr>
			<td scope="row">
				<a href="#">{{ group.name }}</a>
		    	<div class="collapsible"></div>
		    	<div>
		    	    <ul class="group_member_list">
			    		{% for group_member in group_grade_info.members %}
			    		<li>
			    		<a href="{{ group_member.get_absolute_url }}">{{group_member.person.name}}</a>			    		
			    		</li>
		    		{% endfor %}
		    		</ul>		    				    		
		    	</div>	    	   	   
			</td>
			<td>
			{% ifequal group_grade_info.grade 'no grade'%} 
				<a href="{% url submission.views.take_ownership_and_mark course_slug=course.slug activity_slug=activity.slug group_slug=group.slug %}?from_page={{from_page}}"><img src="{{MEDIA_URL}}icons/page_white_edit.png" title="Mark This" alt="Mark This"/></a>
			{% else %}
			    {{ group_grade_info.grade }}		   
			    <a href="{% url marking.views.mark_summary_group course_slug=course.slug activity_slug=activity.slug group_slug=group.slug %}"><img src="{{MEDIA_URL}}icons/magnifier.png" title="View Detail" alt="View Detail" /></a>
			{% endifequal %}	
			</td>
			<td>
			{% if submitted|hash:group.slug %}<a href="{% url submission.views.show_student_submission_staff course_slug=course.slug activity_slug=activity.slug userid=group_grade_info.members.0.person.userid %}"><img src="{{MEDIA_URL}}icons/magnifier.png" title="View" alt="View" /></a>
                <a href="{% url submission.views.download_file course_slug=course.slug activity_slug=activity.slug userid=group_grade_info.members.0.person.userid %}"><img src="{{MEDIA_URL}}icons/page_compressed.png" title="Download" alt="Download" /></a>{% endif %}
			</td>
			{% endwith %}
		    </tr>
	    {% empty %}
	    <tr>
		<td class="empty">No groups</td>
		<td></td>
		<td></td>
	    </tr>
	    {% endfor %}
        </tbody>
    </table>
</div>
<h2>
There are still {{ungrouped_students}} students left who is in no group!
<h2>
{% endblock %}
