{% extends "grades/base.html" %}

{% block title %}{{ activity.name }} Statistics{% endblock %}
{% block h1 %}{{ activity.name }} Statistics{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{{course.get_absolute_url}}">{{ course.name }}</a></li>
<li>&gt; <a href="{{activity.get_absolute_url}}">{{ activity.name }}</a></li>
<li>&gt; Statistics</li>
{% endblock %}

{% block grades_headextra %}
<link rel="stylesheet" href="{{MEDIA_URL}}visualize/css/visualize.css" type="text/css" />
<!--[if IE]><script type="text/javascript" src="{{MEDIA_URL}}visualize/excanvas.compiled.js"></script><![endif]-->
<script type="text/javascript" src="{{MEDIA_URL}}visualize/visualize.jQuery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
	$("table.data").hide();
        $("table.data").visualize({'height': '300px'});
    });
</script>
{% endblock %}

{% block content %}

{% if display_summary %}
{% if activity_stat %}
<h2 id="summary">Summary Statistics</h2>


<div class="table_container">
    <table class="info">
        <tbody>
            <tr>
                <th class="ui-state-default">Mean Grade</th>
                <td>{{ activity_stat.average }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Median Grade</th>
                <td>{{ activity_stat.median }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Standard Deviation</th>
                <td>{{ activity_stat.stddev }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Minimum Grade</th>
                <td>{{ activity_stat.min }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Maximum Grade</th>
                <td>{{ activity_stat.max }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Grades Received</th>
                <td>{{ activity_stat.count }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 id="histo">Histogram</h2>
<span class='histogram_memo'>(refresh the page if histogram is not displayed properly)</span>
<table class="data info" style="width: 500px; border-collapse: collapse;">
    <caption>Grade Range</caption>
    {% if activity.is_numeric %}
    <thead>
	<tr>
	    <td></td>
	    {% for grade_range_stat in activity_stat.grade_range_stat_list %}
	    <th scope="col">{{ grade_range_stat.grade_range }}</th>
	    {% endfor %}
	</tr>
    </thead>
    <tbody>
	<tr>
	    <th scope="row">{{ activity.name }}</th>
	    {% for grade_range_stat in activity_stat.grade_range_stat_list %}
	    <td>{{ grade_range_stat.stud_count }}</td>
	    {% endfor %}
	</tr>
    </tbody>
    {% else %}
    <thead>
	<tr>
	    <td></td>
	    {% for grade_range_stat in activity_stat.grade_range_stat_list %}
	    <th scope="col">{{ grade_range_stat.grade_range }}</th>
	    {% endfor %}
	</tr>
    </thead>
    <tbody>
	<tr>
	    <th scope="row">{{ activity.name }}</th>
	    {% for grade_range_stat in activity_stat.grade_range_stat_list %}
	    <td>{{ grade_range_stat.stud_count }}</td>
	    {% endfor %}
	</tr>
    </tbody>
    {% endif%}
</table>
{% endif %}
{% else %}
<p>Statistics is not available due to insufficient students</p>
{% endif %}
{% endblock %}

