{% extends "grades/base.html" %}

{% block title %}{{ activity.name }} Information{% endblock %}
{% block h1 %}{{ activity.name }} Information{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{{course.get_absolute_url}}">{{ course.name }}</a></li><li>&gt; {{ activity.name }}</li>{% endblock %}

{% block grades_headextra %}
<link rel="stylesheet" href="{{MEDIA_URL}}visualize/visualize.jQuery.css" type="text/css" />
<!--[if IE]><script type="text/javascript" src="{{MEDIA_URL}}visualize/excanvas.compiled.js"></script><![endif]-->
<script type="text/javascript" src="{{MEDIA_URL}}visualize/visualize.jQuery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
	$("table.data").hide();
        $("table.data").visualize({'height': '300px'});
    });
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
		{% if activityinfo.activity.submitable %}
        <li><a href="{% url submission.views.show_components course.slug, activityinfo.activity.slug%}">Make Submission</a></li>
		{% else %}
		{% if activityinfo.activity.no_submit_too_old %}
        <li><a href="{% url submission.views.show_components course.slug, activityinfo.activity.slug%}">View Submission</a></li>
		{% endif %}
		{% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="table_container">
    <table class="info">
        <tbody>
            <tr>
                <th class="ui-state-default">Status</th>
                <td>{{activity.get_status_display}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Due date</th>
                <td>{{activity.due_date}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Percentage</th>
                <td>{% if activity.percent %}{{activity.percent}}%{% else %}unknown{% endif %}</td>
            </tr>
            <tr>
            	<th class="ui-state-default">Grade Status</th>
                <td>{{activityinfo.grade_status}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Your Grade</th>
                <td>
		{% if activity.calnumericactivity %}
		{{ activityinfo.display_grade_with_percentage_student }}
		{% else %}
		    {% ifnotequal activityinfo.grade_status 'no grade' %} 
		      <a href="{% url marking.views.mark_summary_student course_slug=course.slug activity_slug=activity.slug userid=activityinfo.student.person.userid %}"><img src="{{MEDIA_URL}}icons/magnifier.png" title="View Detail" alt="View Detail" /></a>
		    {% endifnotequal %}
		    {{ activityinfo.display_grade_with_percentage_student }}
		{% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% if display_summary %}

{% if activityinfo.activity_stat %}
<h2 id="summary">Summary Statistics</h2>


<div class="table_container">
    <table class="info">
        <tbody>
            <tr>
                <th class="ui-state-default">Mean Grade</th>
                <td>{{ activityinfo.activity_stat.average }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Median Grade</th>
                <td>{{ activityinfo.activity_stat.median }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Standard Deviation</th>
                <td>{{ activityinfo.activity_stat.stddev }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Minimum Grade</th>
                <td>{{ activityinfo.activity_stat.min }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Maximum Grade</th>
                <td>{{ activityinfo.activity_stat.max }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 id="histo">Histogram</h2>
<span class='histogram_memo'>(refresh the page if histogram is not displayed properly)</span>
<table class="data info" style="width: 500px; border-collapse: collapse;">
    <caption>Grade Range</caption>
    <thead>
	<tr>
	    <td></td>
	    {% for grade_range_stat in activityinfo.activity_stat.grade_range_stat_list %}
	    <th scope="col">{{ grade_range_stat.grade_range }}</th>
	    {% endfor %}
	</tr>
    </thead>
    <tbody>
	<tr>
	    <th scope="row">{{ activityinfo.activity.name }}</th>
	    {% for grade_range_stat in activityinfo.activity_stat.grade_range_stat_list %}
	    <td>{{ grade_range_stat.stud_count }}</td>
	    {% endfor %}
	</tr>
    </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}
