{% extends "base.html" %}

{% block title %}{{ activity.name }} Statistics{% endblock %}
{% block h1 %}{{ activity.name }} Statistics{% endblock %}

{% block subbreadcrumbs %}{% spaceless %}
<li><a href="{{course.get_absolute_url}}">{{ course.name }}</a></li>
<li><a href="{{activity.get_absolute_url}}">{{ activity.name }}</a></li>
<li>Statistics</li>
{% endspaceless %}{% endblock %}

{% block headextra %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
{% if activity_stat.count %}
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);
  
  var chart, data, rangetitle;
  function drawChart() {
    data = new google.visualization.DataTable();
    data.addColumn('string', 'Range');
    data.addColumn('number', 'Count');
    data.addRows({{activity_stat.grade_range_stat_list|length}});

    {% for grade_range_stat in activity_stat.grade_range_stat_list %}
    data.setValue({{forloop.counter0}}, 0, '{{ grade_range_stat.grade_range|escapejs }}');
    data.setValue({{forloop.counter0}}, 1, {{ grade_range_stat.stud_count|escapejs }});
    {% endfor %}
    
    chart = new google.visualization.ColumnChart(document.getElementById('histogram'));
    chart.draw(data, {width: 700, height: 400, axisTitlesPosition: 'none', legend: 'none'});
  }

{% endif %}
  
  $(document).ready(function() {
    $("#details").collapsible();
  });
</script>
{% endblock %}

{% block content %}

{% if activity_stat.count %}
	{% if display_summary %}
		{% if activity_stat %}
		<h2 id="summary">Summary Statistics</h2>
		{% if activity.is_numeric %}
    		<table class="info">
        	<tbody>
            		<tr>
                		<th scope="row">Mean Grade</th>
                		<td>{{ activity_stat.average }} / {{activity.max_grade}}</td>
            		</tr>
            		<tr>
           		     	<th scope="row">Median Grade</th>
                		<td>{{ activity_stat.median }} / {{activity.max_grade}}</td>
            		</tr>
            		<tr>
                		<th scope="row">Standard Deviation</th>
                		<td>{{ activity_stat.stddev }}</td>
            		</tr>
            		<tr>
                		<th scope="row">Minimum Grade</th>
                		<td>{{ activity_stat.min }} / {{activity.max_grade}}</td>
            		</tr>
            		<tr>
                		<th scope="row">Maximum Grade</th>
                		<td>{{ activity_stat.max }} / {{activity.max_grade}}</td>
            		</tr>
            		<tr>
                		<th scope="row">Grades Received</th>
                		<td>{{ activity_stat.count }}</td>
            		</tr>
        	</tbody>
    		</table>
		{% else %}
    		<table class="info">
        	<tbody>
            		<tr>
                		<th scope="row">Median Grade</th>
                		<td>{{ activity_stat.median }}</td>
            		</tr>
            		<tr>
                		<th scope="row">Minimum Grade</th>
                		<td>{{ activity_stat.min }}</td>
            		</tr>
            		<tr>
                		<th scope="row">Maximum Grade</th>
                		<td>{{ activity_stat.max }}</td>
            		</tr>
            		<tr>
                		<th scope="row">Grades Received</th>
                		<td>{{ activity_stat.count }}</td>
            		</tr>
        	</tbody>
    		</table>
		{% endif %}
	{% endif %}{% endif %}
{% else %}
	<p>Summary statistics is not available: no grades assigned.</p>
{% endif %}

<h2 id="submark">Submissions and Grades</h2>
<table class="info">
<tbody>
  <tr>
    <th scope="row">Submissions</th>
    {% if submark_stat.submittable %}
      <td>
      {% if activity.group %}
      {{ submark_stat.groupsubmissons }} (group submissions)
      {% else %}
      {{ submark_stat.studentsubmissons }}
      {% endif %}
      <span id="details">Details</span>
      <table>
      <tr><th scope="col">Component</th><th scope="col">Submissions</th></tr>
      {% for data in sub_comp_rows %}
      <tr><td scope="row">{{data.comp.title}}</td><td>{{data.count}}</td></tr>
      {% endfor %}
      </table>
      </td>
    {% else %}
      <td class="empty">not configured</td>
    {% endif %}
  </tr>
  <tr>
    <th scope="row">Detailed Marks Given</th>
    {% if submark_stat.markable %}
      <td>
      {% if activity.group %}
      {{ submark_stat.groupmarks }} (group marks){% if submark_stat.studentmarks %},
        {{ submark_stat.studentmarks }} (to individuals){% endif %}
      {% else %}
      {{ submark_stat.studentmarks }}
      {% endif %}
      </td>
    {% else %}
      <td class="empty">not configured</td>
    {% endif %}
  </tr>
</tbody>
</table>

{% if activity_stat.count %}
<h2 id="histo">Histogram</h2>
<div id="histogram"></div>
{% endif %}


{% endblock %}

