{% extends "grades/activity_info.html" %}
{% load course_display %}

{% block headextra %}
<script type="text/javascript">
    $(document).ready(function() {
		// activate dataTable ui
		oTable = $('#group_grades').dataTable({
			"bJQueryUI": true,
			"sPaginationType": "full_numbers",
			"iDisplayLength" : 50,
            "aoColumns": [
		    null,
		    { "sType": "by-mark", "sWidth": "8em" },
                    { "sType": "by-anything", "sWidth": "8em" }
            ]
		});
		$('div.collapsible').collapsible();
		$('a.collapsible-heading-toggle').attr('href', 'javascript:');
    });
   
</script>
{% endblock %}

{% block activity_info_grades_block %} 
<div class="datatable_container">
    <table class="display" id="group_grades">
        <thead>
           <tr>
           <th>Group</th>
           <th{% if not mark_comps %} class="disabled"{% endif %}>Marking</th>
           <th{% if not sub_comps %} class="disabled"{% endif %}>Submission</th>
           </tr>
	</thead>
        <tbody>
	    {% for group_grade_info in group_grade_info_list %}
	    {% with group_grade_info.group as group %}
		    <tr>
			<td scope="row">
				<a href="{{group.get_absolute_url}}">{{ group.name }}</a>
		    	<div class="collapsible"></div>
		    	<div>
		    	    <ul class="bulleted">
			    		{% for group_member in group_grade_info.members %}
			    		<li>
			    		<a href="{{ group_member.get_absolute_url }}">{{group_member.person.name}}</a>			    		
			    		</li>
		    		{% endfor %}
		    		</ul>		    				    		
		    	</div>	    	   	   
			</td>
  		  {% if mark_comps %}
			<td class="iconcell">
			{% ifequal group_grade_info.grade 'no grade'%}
				<a href="{% url "submission.views.take_ownership_and_mark" course_slug=course.slug activity_slug=activity.slug group_slug=group.slug %}?from_page={{from_page}}"><i class="fa fa-edit" title="Mark"></i></a>
			{% else %}
			    {{ group_grade_info.grade }}
			    {% if activity.is_numeric %}
			    <a href="{% url "marking.views.mark_summary_group" course_slug=course.slug activity_slug=activity.slug group_slug=group.slug %}"><i class="fa fa-search" title="View detail"></i></a>
			    {% endif %}
			{% endifequal %}
			</td>
		  {% else %}
		  <td class="iconcell disabled"></td>
		  {% endif %}
		    {% if sub_comps %}
			<td class="iconcell">
			{% if submitted|hash:group.slug %}<a href="{% url "submission.views.show_student_submission_staff" course_slug=course.slug activity_slug=activity.slug userid=group_grade_info.members.0.person.userid %}"><i class="fa fa-search" title="View detail"></i></a>
                <a href="{% url "submission.views.download_file" course_slug=course.slug activity_slug=activity.slug userid=group_grade_info.members.0.person.userid %}"><i class="fa fa-download" title="Download"></i></a>{% endif %}
			</td>
		    {% else %}
		    <td class="iconcell disabled"></td>
		    {% endif %}

			{% endwith %}
		    </tr>
	    {% empty %}
	    <tr>
		<td class="empty">No groups</td>
		<td></td>
		<td></td>
	    </tr>
	    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
