{% extends "grades/base.html" %}
{% load grade_student %}

{% block title %}{{ course.name }} Grades{% endblock %}
{% block h1 %}{{ course.name }} Grades{% endblock %}

{% block grades_headextra %}
<script type="text/javascript">
    $(document).ready(function() {
	// activate dataTable ui
	oTable = $('#student_grades').dataTable({
	    "bJQueryUI": true,
	    "bPaginate": false,
	    "aaSorting": [[1, "asc"]],
	    "aoColumns": [
		    null,
		    null,
		    null,
		    null,
		    {% if course.labtut %}null,{% endif %}
		    {% for a in activities %}
		    {"sType": {% if a.is_numeric%}"numnull"{% else %}"by-letter"{% endif %}}{% if not forloop.last %},{% endif %}
		    {% endfor %}
		]
	});
    });
    
    function toggle_more() {
      $('div.bigdatatable span.more').toggle();
      if( $('#toggle_more').html() == "Less info") {
        $('#toggle_more').html("More info")
      } else {
        $('#toggle_more').html("Less info")
      }
    }
    
</script>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li>All Grades</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
	<li><a href="{% url "grades.views.all_grades_csv" course_slug=course.slug %}">Export CSV</a></li>
    {% regroup memberships by offering.semester as by_semester %}
        {% for semester in by_semester %}
        <li><a>View {{semester.grouper.label}} grades</a></li>
        <ul>
        {% for membership in semester.list %}
          <li><a href="{{membership.offering.get_absolute_url}}grades">{{membership.offering.name}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
<p class="noprint"><a class="button" onclick="toggle_more()" id="toggle_more" title="Displays grade statuses and indicates comments.">More info</a></p>
<div class="datatable_container bigdatatable">
    <table class="display" id="student_grades">
        <thead>
            <tr>
                <th scope="col">Last</th>
                <th scope="col">First</th>
		<th scope="col">User ID</th>
		<th scope="col">Stu #</th>
        {% if course.labtut %}<th scope="col">Lab/Tut</th>{% endif %}
		{% for a in activities %}
		<th scope="col"><abbr title="{{a.name}}"><a href="{{a.get_absolute_url}}">{{a.short_name}}</a></abbr></th>
		{% endfor %}
            </tr>
	</thead>
        <tbody>
        {% for s in students %}
        <tr>
            <td scope="row">{{s.person.last_name}}</td>
            <td scope="row">{{s.person.first_name}}</td>
            <td>{{s.person.userid}}</td>
            <td><a href="{{s.get_absolute_url}}">{{s.person.emplid}}</a></td>
            {% if course.labtut %}<td>{{s.labtut_section}}</td>{% endif %}
            {% for a in activities %}
              <td class="num">{% select_grade grades a.slug s.person.userid %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
