{% extends "base.html" %}

{% block title %}Grades{% endblock %}

{% block headextra %}
<script type="text/javascript">
    function addLinkClickStyleClass(selector, styleclass ) {
        $(selector).mousedown(
            function(){ 
		$(this).addClass(styleclass); 
            }
        ).mouseup(
            function(){ 
		$(this).removeClass(styleclass); 
            }
        ).mouseout(
            function(){ 
		$(this).removeClass(styleclass); 
            }
        )
    }
function confirmSubmit() {
  return confirm("Are you sure you want to delete this activity?");
}
</script>
{% block grades_headextra %}
{% endblock %}
{% endblock %}


