{% extends "grades/base.html" %}
{% load grade_student %}

{% block h1 %}
{% ifequal form_type 'add' %}Add Calculated Numeric Activity{% endifequal %}
{% ifequal form_type 'edit' %}Edit Calculated Numeric Activity{% endifequal %}
{% endblock %}
{% block title %}
{% ifequal form_type 'add' %}{{ course.name }} - Add Calculated Numeric Activity{% endifequal %}
{% ifequal form_type 'edit' %}{{ course.name }} - Edit Calculated Numeric Activity{% endifequal %}
{% endblock %}

{% block grades_headextra %}
<script type="text/javascript" src="{{STATIC_URL}}collapsible/js/jQuery.collapsible.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/formula.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    addLinkClickStyleClass('a.redbutton', 'redbutton_onclick');
    $("#id_due_date_0").datepicker({ buttonImageOnly: true, buttonImage: '{{STATIC_URL}}images/grades/calendar.png',
                                changeMonth: true, changeYear: true,
                                dateFormat: 'yy-mm-dd', showOn: 'button'});
    document.getElementById('testerlink').setAttribute('target', '_blank');
    $("#moreconfig").collapsible();
});
</script>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>{% ifequal form_type 'add' %}<li>Add Calculated Numeric Activity</li>{% endifequal %}{% if activity %}<li><a href="{% url "grades.views.activity_info" course_slug=course.slug activity_slug=activity.slug%}">{{ activity.name }}</a></li>{% endif %}{% ifequal form_type 'edit' %}<li>Edit</li>{% endifequal %}{% endblock %}


{% block content %}
<br/>

{{ form.errors }}
<div class="form_container">
    {% if form.non_field_errors %}
    <p class="errorindicator">
        <img src="{{STATIC_URL}}/icons/exclamation.png" alt="exclamation" />
        {{ form.non_field_errors }}
    </p>
    {% endif %}
    <form action="{% ifequal form_type 'add' %}{% url "grades.views.add_cal_numeric_activity" course_slug=course.slug %}{% endifequal %}{% ifequal form_type 'edit' %}{% url "grades.views.edit_activity" course_slug=course.slug activity_slug=activity.slug %}?from_page={{ from_page }}{% endifequal %}"
                method="post">{% csrf_token %}
        <fieldset>
            <legend>Activity Info</legend>
            <p class="requireindicator"><img src="{{STATIC_URL}}/icons/required_star.gif" alt="required" />&nbsp;Indicates required field</p>
            <ul>
                {{form.name|activity_field}}
                {{form.short_name|activity_field}}
                {{form.status|activity_field}}
                {{form.url|activity_field}}
                {{form.percent|activity_field}}
                {{form.max_grade|activity_field}}
                <li>
                    {{ form.formula.label_tag }}
                    <div class="inputfield">
                        {{ form.formula }}
                        {% if form.formula.errors %}<span class="errortext"><img src="{{STATIC_URL}}icons/error.png" alt="error"/> {{form.formula.errors.0}}</span>{% endif %}
                        {% if form.formula.help_text %}<div class="helptext">({{form.formula.help_text}})</div>{% endif %}
                        <div class="buttongroup">
                            <a href="{% url "grades.views.formula_tester" course_slug=course.slug %}" id="testerlink" class="redbutton">Formula Tester</a>
                        </div>
                        <div class="collapsible">The applicable numeric activities:</div>
                        <div class="activity_reference_container">
                            <table class="info">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Out of</th>
                                        <th scope="col">%</th>
                                        <th scope="col" colspan="4">Insert</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for numeric_activity in numeric_activities %}
                                    <tr>
                                        <td>{{ numeric_activity.name }}</td>
                                        <td>{{ numeric_activity.max_grade }}</td>
                                        {% if numeric_activity.percent %}
                                        <td>{{ numeric_activity.percent }}%</td>
                                        {% else %}
                                        <td>&mdash;</td>
                                        {% endif %}
                                        <td><a href="javascript:insert_activity('{{numeric_activity.short_name|escapejs}}')" title="the grade the student received on {{numeric_activity.name}}">{{numeric_activity.short_name}} grade</a></td>
                                        <td><a href="javascript:insert_max('{{numeric_activity.short_name|escapejs}}')" title="the maximum grade for {{numeric_activity.name}} (currently {{numeric_activity.max_grade}})">{{numeric_activity.short_name}} out of</a></td>
                                        <td><a href="javascript:insert_percent('{{numeric_activity.short_name|escapejs}}')" title="the &quot;percent&quot; for {{numeric_activity.name}} (currently {{numeric_activity.percent}})">{{numeric_activity.short_name}} percent</a></td>
                                        <td><a href="javascript:insert_final('{{numeric_activity.short_name|escapejs}}')" title="the student's final grade contribution for {{numeric_activity.name}} (their grade / max * percent)">{{numeric_activity.short_name}} final</a></td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td class="empty" colspan="5">No numeric activities defined</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                <li>
                    <input class="submit" type="submit" value="Submit" />
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend id="moreconfig">Additional Options</legend>
            <ul>
                {{form.showstats|activity_field}}
                {{form.showhisto|activity_field}}
            </ul>
        </fieldset>
    </form>
</div>
    {% ifequal form_type 'edit' %}
    <form action="{% url "grades.views.delete_activity" course_slug=course.slug activity_slug=activity.slug %}" method="post" name="deleteform">{% csrf_token %}
    <p><input type="submit" class="submit" value="Delete Activity" id="deletesubmit" onclick="return confirmSubmit('delete this activity');" /></p>
    </form>
    {% endifequal %}

<h2 id="help">Formula Help</h2>

<div id="formulahelp">
{% include "grades/formula-help.html" %}
</div>

{% endblock %}
