{% extends "base.html" %}

{% block title %}{{ course.name }} Class List{% endblock %}
{% block h1 %}{{ course.name }} Class List{% endblock %}

{% block headextra %}
<script type="text/javascript">
    $(document).ready(function() {
	// activate dataTable ui
	oTable = $('#students').dataTable({
	    "bJQueryUI": true,
	    "bPaginate": false,
	    "aaSorting": [[0, "asc"], [1, "asc"]],
	    "aoColumns": [
		    null,
		    null,
		    null,
		    null,
		    {% if course.combined %}null,{% endif %}
		    {% if course.labtut %}null,{% endif %}
		    null,
		]
	});
    });
</script>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li>Class List</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    {% regroup memberships by offering.semester as by_semester %}
        {% for semester in by_semester %}
        <li><a>View {{semester.grouper.label}} class lists</a></li>
        <ul>
        {% for membership in semester.list %}
          <li><a href="{{membership.offering.get_absolute_url}}list/">{{membership.offering.name}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="datatable_container">
    <table class="display" id="students">
        <thead>
            <tr>
                <th scope="col">Last<span class="wideonly"> Name</span></th>
                <th scope="col">First<span class="wideonly"> Name</span></th>
		<th scope="col">User ID</th>
		<th scope="col"><span class="wideonly">Student #</span><span class="narrowonly">Stu#</span></th>
		{% if course.combined %}<th scope="col">Section</th>{% endif %}
		{% if course.labtut %}<th scope="col"><span class="wideonly">Lab/Tutorial</span><span class="narrowonly">Lab/Tut</span></th>{% endif %}
		<th scope="col">Group(s)</th>
            </tr>
	</thead>
        <tbody>
        {% for data in rows %}
        <tr>
            <td scope="row">{{data.member.person.last_name}}</td>
            <td scope="row">{{data.member.person.first_with_pref}}</td>
            <td>{{data.member.person.userid}}</td>
            <td><a href="{{data.member.get_absolute_url}}">{{data.member.person.emplid}}</a></td>
            {% if course.combined %}<td>{{data.member.config.origsection|slice:"-2:"|upper}}</td>{% endif %}
            {% if course.labtut %}<td>{{data.member.labtut_section}}</td>{% endif %}
            <td>{% for g in data.groups %}
            <a href="{{g.get_absolute_url}}">{{g.name}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
