{% extends "grades/base.html" %}

{% block title %}{{ activity.name }}: Compare Official Grades{% endblock %}
{% block h1 %}{{ activity.name }}: Compare Official Grades{% endblock %}

{% block grades_headextra %}
<script type="text/javascript">
    $(document).ready(function() {
	oTable = $('#grades').dataTable({
	    "bJQueryUI": true,
	    "bPaginate": false,
	    //"aaSorting": [[0, "asc"], [1, "asc"]],
	    //"aoColumns": []
	});
    });
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{{activity.get_absolute_url}}">{{ activity.name }}</a></li>
<li>Compare Official</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<p>Official grades are imported from SIMS nightly: they may be up to a day out of date from the actual SIMS database (or more if there was a problem with the import).</p>

<div class="datatable_container">
    <table class="display" id="grades">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">{{activity.name}} (CourSys)</th>
                <th scope="col">Official Grade (SIMS)</th>
                <th scope="col">Different?</th>
            </tr>
	</thead>
        <tbody>
        {% for m,g,d in data %}
        <tr>
            <td scope="row"><a href="{% url "grades.views.student_info" course_slug=course.slug userid=m.person.userid %}">{{m.person.sortname}}</a></td>
            <td>{{g|default_if_none:""}}</td>
            <td>{{m.official_grade|default_if_none:""}}</td>
            <td>{{d|yesno:"yes,"}}
              {% if d %}[<a href="{% url "grades.views.grade_change" course_slug=course.slug activity_slug=activity.slug userid=m.person.userid %}">grade change form</a>]{% endif %}	
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
