{% extends "grades/base.html" %}

{% block title %}{{ course.subject }} {{ course.number }} Course Information{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Course Information{% endblock %}

{% block grades_headextra %}
<script type="text/javascript">
    $(document).ready(function() {
        addLinkClickStyleClass('a.redbutton', 'redbutton_onclick');
        addLinkClickStyleClass('span.position_button', 'ui-state-hover');
        // activate dataTable ui
	oTable = $('#activities').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
                "iDisplayLength" : 50,
                "bSort": false
	});
	});
</script>
{% endblock %}


{% block subbreadcrumbs %}<li>&gt; {{ course.name }} ({{course.semester.label}})</li>{% endblock %}

{% block content %}
<div class="table_container">
    <table class="info">
        <tbody>
            <tr>
                <th scope="row">Course Number</th>
                <td>{{ course.subject }} {{ course.number }}</td>
            </tr>
            <tr>
                <th scope="row">Section</th>
                <td>{{ course.section }}</td>
            </tr>
            <tr>
                <th scope="row">Semester</th>
                <td>{{ course.semester.label }}</td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ course.title }}</td>
            </tr>
            <tr>
                <th scope="row">Campus</th>
                <td>{{ course.get_campus_display }}</td>
            </tr>
            <tr>
                <th scope="row">Instructor(s)</th>
                <td>{% for instructor in course.instructors %}
                    {{ instructor.name }} (<a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a>){% if not forloop.first %},{% endif %}
                    {% endfor %}</td>
            </tr>
            <tr>
                <th scope="row">TA(s)</th>
                <td>{% for ta in course.tas %}
                    {{ ta.name }} (<a href="mailto:{{ ta.email }}">{{ ta.email }}</a>){% if not forloop.first %},{% endif %}
                    {% endfor %}</td>
            </tr>
            <tr>
                <th scope="row">Number of Students</th>
                <td>{{ course.student_count }}</td>
            </tr>
        </tbody>
    </table>
</div>

<p>
<a class="button" href="{% url grades.views.all_grades course_slug=course.slug %}">All Grades</a>
</p>
<p>
<a class="button" href="{% url groups.views.groupmanage course_slug=course.slug %}">Groups</a>
</p>
<p>
<a class="button" href="{% url dashboard.views.new_message course_slug=course.slug %}">Message</a>
</p>
<p>
<a class="button" href="{% url marking.views.copy_course_setup course_slug=course.slug %}">Copy Setup</a>
</p>

<div class="datatable_container">
    <h2>Course Activities</h2>
    <div class="buttongroup">
	<a class="redbutton" href="{% url grades.views.add_numeric_activity course_slug=course.slug %}">Add Activity</a>
    </div>
    <table class="display" id="activities">
        <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Activity</th>
                <th scope="col">Max Grade</th>
                <th scope="col">Percentage</th>
                <th scope="col">Status</th>
                <th scope="col">Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for activity_info in activities_info %}
            {% with activity_info.activity as activity %}
            <tr>
                <td>
                    {% if not forloop.first %}
                    <a href="{% url grades.views.course_info course_slug=course.slug %}?order=up&amp;act={{ activity.slug }}">
                        <span class="position_button ui-state-default ui-icon ui-icon-arrowthick-1-n">&uarr;</span>
                    </a>
                    {% endif %}
                    {% if forloop.first %}
                    <span class="position_placeholder"> </span>
                    {% endif %}
                    {% if not forloop.last %}
                    <a href="{% url grades.views.course_info course_slug=course.slug %}?order=down&amp;act={{ activity.slug }}">
                        <span class="position_button ui-state-default ui-icon ui-icon-arrowthick-1-s">&darr;</span>
                    </a>
                    {% endif %}
                </td>
                <td scope="row">
                        <a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">{{ activity.name }}</a>
                    <div class="row-actions">
                        <span><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">Info</a> | </span>
                        {% ifequal activity_info.type 'Numeric Graded' %}
                        <span><a href="{% url marking.views.mark_all_students course_slug=course.slug activity_slug=activity.slug %}?from_page={{ from_page }}">Mark</a> | </span>
                        {% endifequal %}
                        <span><a href="{% url grades.views.edit_activity course_slug=course.slug activity_slug=activity.slug %}?from_page={{ from_page }}">Edit</a> | </span>
                        <span><a href="{% url grades.views.delete_activity_review course_slug=course.slug activity_slug=activity.slug %}">Delete</a></span>
                    </div>
                </td>
                {% if activity.max_grade %}
                <td>{{ activity.max_grade }}</td>
                {% else %}
                <td>&mdash;</td>
                {% endif %}
		{% if activity.percent %}
                <td>{{ activity.percent }}%</td>
		{% else %}
                <td>&mdash;</td>
                {% endif %}
                <td class="{{activity.status|lower}}">{{ activity.get_status_display }}</td>
                <td>{{ activity.due_date }}</td>
            </tr>
            {% endwith %}
	    {% empty %}
	    <tr>
		<td class="empty">No activities defined</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
