{% extends "grades/base.html" %}

{% block title %}{{ course.subject }} {{ course.number }} Course Information{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Course Information{% endblock %}

{% block grades_headextra %}
<link rel="stylesheet" href="{{MEDIA_URL}}visualize/visualize.jQuery.css" type="text/css" />
<!--[if IE]><script type="text/javascript" src="{{MEDIA_URL}}visualize/excanvas.compiled.js"></script><![endif]-->
<script type="text/javascript" src="{{MEDIA_URL}}visualize/visualize.jQuery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
	$("table.data").hide();
        $("table.data").visualize({'height': '200px'});
    });
</script>
{% endblock %}

{% block subbreadcrumbs %}<li>&gt; {{ course.name }} ({{course.semester.label}})</li>{% endblock %}

{% block actions %}
{% if any_group %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
	<li><a href="{% url groups.views.groupmanage course_slug=course.slug %}">Manage Groups</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="table_container">
    <table class="info">
        <tbody>
            <tr>
                <th scope="row">Course Number</th>
                <td>{{ course.subject }} {{ course.number }}</td>
            </tr>
            <tr>
                <th scope="row">Section</th>
                <td>{{ course.section }}</td>
            </tr>
            <tr>
                <th scope="row">Semester</th>
                <td>{{ course.semester.label }}</td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ course.title }}</td>
            </tr>
            <tr>
                <th scope="row">Campus</th>
                <td>{{ course.get_campus_display }}</td>
            </tr>
            <tr>
                <th scope="row">Instructor(s)</th>
                <td>{% for instructor in course.instructors %}
                    {{ instructor.name }} (<a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a>){% if not forloop.first %},{% endif %}
                    {% endfor %}</td>
            </tr>
            <tr>
                <th scope="row">TA(s)</th>
                <td>{% for ta in course.tas %}
                    {{ ta.name }} (<a href="mailto:{{ ta.email }}">{{ ta.email }}</a>){% if not forloop.last %},{% endif %}
                    {% endfor %}</td>
            </tr>
            {% if course.config.url %}
            <tr>
                <th scope="row">Course home page</th>
                <td>{{ course.config.url|urlize }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<h2>Course Activities</h2>
{% if not activity_data %}
<p class="empty">No activities defined for this course: it is likely is not using this system.</p>
{% else %}
<div class="table_container">
    <table class="info">
	<thead>
	    <tr>
		<th scope="col">Activity</th>
		<th scope="col">Due In</th>
		<th scope="col">Status</th>
		<th scope="col">Grade</th>
	    </tr>
	</thead>
        <tbody>
	    {% for data in activity_data %}
            <tr>
		<td scope="row"><a href="{{data.act.get_absolute_url}}">{{ data.act.display_label }}</a></td>
		<td class="{{data.act.due_class}}">{{ data.act.due_in_str }}</td>
		<td>{{ data.act.get_status_display }}</td>
		<td>{{ data.grade_display }}</td>
            </tr>
	    {% endfor %}
	</tbody>
    </table>
</div>

{% endif %}
{% endblock %}
