{% extends "base.html" %}

{% block title %}{{ course.subject }} {{ course.number }} Course Information{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Course Information{% endblock %}

{% block headextra %}
<script src="{{STATIC_URL}}js/grades.js"></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
	var oTable = $('#activities').dataTable({
		"bJQueryUI": true,
		"bSort": true,
		"bPaginate": false,
		"bFilter": false,
		"bInfo": false,
		"aaSorting": [[0, "asc"]],
		"fnDrawCallback": enable_disable_ordering,
		"aoColumns": [
		    null,
		    null,
		    null,
		    {"sType": "numnull"},
		    null,
		    {"sType": "numnull"},
		    null,
		    null,
		],
	});

    var reorder_url = "{% url "offering:reorder_activity" course_slug=course.slug %}";
    var csrf_token = "{{csrf_token}}";

	$('.sortarrows .arrow_up').attr('href', '#').bind('click', function(event) {
	    var this_tr = $(this).parents('tr')
	    var prev_tr = this_tr.prev();
        reorder_activities(reorder_url, csrf_token, oTable, prev_tr, this_tr);
	});
	$('.sortarrows .arrow_down').attr('href', '#').bind('click', function(event) {
	    var this_tr = $(this).parents('tr')
	    var next_tr = this_tr.next();
        reorder_activities(reorder_url, csrf_token, oTable, this_tr, next_tr);
	});
});
</script>
{% endblock %}


{% block subbreadcrumbs %}<li>{{ course.name }} ({{course.semester.label}})</li>{% endblock %}


{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul class="fa-ul">
	<li><a href="{% url "offering:course_config" course_slug=course.slug %}"><i class="fa fa-li fa-wrench"></i> Edit Course Setup</a></li>
        <li><a href="{% url "offering:activity_choice" course_slug=course.slug %}"><i class="fa fa-li fa-plus"></i>Add Activity</a></li>
        {% if course.discussion %}
        <li><a href="{% url "offering:discussion:discussion_index" course_slug=course.slug %}"><i class="fa fa-li fa-comment-o"></i> Course Discussion
        	{% if discussion_activity %}<i class="fa fa-comments infomessage"></i>{% endif %}
        	</a></li>
        {% endif %}
        <li class="newsec"><a href="{% url "offering:class_list" course_slug=course.slug %}"><i class="fa fa-li fa-list"></i>Display Class List</a></li>
    {% if member.role == "INST" %}<li><a href="{% url "offering:photo_list" course_slug=course.slug %}"><i class="fa fa-li fa-picture-o"></i>Photo Class List</a></li>{% endif %}
        <li><a href="{% url "offering:all_grades" course_slug=course.slug %}"><i class="fa fa-li fa-table"></i>Display All Grades</a></li>
        <li><a href="{% url "offering:student_search" course_slug=course.slug %}"><i class="fa fa-li fa-search"></i>Student Search</a></li>
	<li class="newsec"><a href="{% url "offering:new_message" course_slug=course.slug %}"><i class="fa fa-li fa-bullhorn"></i>Create News Item</a></li>
	{% if any_group %}<li><a href="{% url "offering:groups:groupmanage" course_slug=course.slug %}"><i class="fa fa-li fa-group"></i>Manage Groups</a></li>{% endif %}
    {% if member.role == "INST" %}<li><a href="{% url "offering:discipline:index" course_slug=course.slug %}"><i class="fa fa-li fa-gavel"></i>Dishonesty Cases</a></li>{% endif %}
        <li><a href="{% url "offering:pages:index_page" course_slug=course.slug %}"><i class="fa fa-li fa-edit"></i>Course Pages</a></li>
    {% if member.role == "TA" %}
        <li class="newsec"><a href="{% url "offering:view_tug" course_slug=course.slug userid=user.username %}"><i class="fa fa-li fa-clock-o"></i>Time Use Guideline</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
{% if offer_combined %}
<p class="infomessage">This seems to be joint with another offering. It is possible to combine offerings in {{ CourSys }} so they appear as one large &ldquo;course&rdquo;:
email <a href="mailto:{{ help_email }}">{{ help_email }}</a> to get it set up <em>before</em> you do any setup here.</p>
{% endif %}
    <table class="info">
        <tbody>
            <tr>
                <th scope="row">Course Number</th>
                <td>{{ course.subject }} {{ course.number }} {{ course.section }}, {{ course.semester.label }} ({{ course.semester.name }})</td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ course.title }}</td>
            </tr>
            <tr>
                <th scope="row">Instructor(s)</th>
                <td>{% for instructor in course.instructors %}
                    {{ instructor.name_with_pref }} &lt;<a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a>&gt;{% if not forloop.last %}, {% endif %}
                    {% endfor %}</td>
            </tr>
            <tr>
                <th scope="row">TA(s)</th>
                <td>
                {% if course.taemail or course.contact_url %}
                  {% if course.taemail %}<a href="mailto:{{ course.taemail }}">{{ course.taemail }}</a>
                  {% else %}<a href="{{ course.contact_url }}">{{ course.contact_url }}</a>
                  {% endif %}
                  ({% for ta in course.tas %}{{ ta.name_with_pref }} &lt;<a href="mailto:{{ ta.email }}">{{ ta.email }}</a>&gt;{% if not forloop.last %}, {% endif %}{% endfor %})
                {% else %}
                  {% for ta in course.tas %}
                    {{ ta.name }} &lt;<a href="mailto:{{ ta.email }}">{{ ta.email }}</a>&gt;{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Number of Students</th>
                <td>{{ course.student_count }}</td>
            </tr>
            <tr>
                <th scope="row">Course home page</th>
                <td>{% if course.config.url %}{{ course.config.url|urlize }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h2 id="act">Course Activities</h2>
    {% if activities_info %}
    <table id="activities" class="display">
        <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Activity</th>
                <th scope="col">Group?</th>
                <th scope="col">Max<span class="wideonly"> Grade</span></th>
                <th scope="col"><span class="wideonly">Grade </span>Type</th>
                <th scope="col"><span class="wideonly">Percentage</span><span class="narrowonly">%</span></th>
                <th scope="col">Status</th>
                <th scope="col">Due<span class="wideonly"> Date</span></th>
            </tr>
        </thead>
        <tbody>
            {% for activity_info in activities_info %}
            {% with activity_info.activity as activity %}
            <tr id="activity-{{ activity.id }}">
                <td class="sortarrows">
                    <span class="sort">{{ activity.position }}</span>
                    {% if not forloop.first %}
                    <a class="arrow_up" href="{% url "offering:course_info" course_slug=course.slug %}?order=up&amp;act={{ activity.slug }}">
                    <i class="fa fa-arrow-up"></i>
                    </a>
                    {% endif %}
                    {% if not forloop.last %}
                    <a class="arrow_down" href="{% url "offering:course_info" course_slug=course.slug %}?order=down&amp;act={{ activity.slug }}">
                    <i class="fa fa-arrow-down"></i>
                    </a>
                    {% endif %}
                </td>
                <td scope="row">
                <a href="{% url "offering:activity_info" course_slug=course.slug activity_slug=activity.slug %}">{{ activity.name }}</a>
                </td>
                
                <td>{% if activity.group %}group{% else %}individual{% endif %}</td>
                
                {% ifnotequal activity.max_grade None %}
                <td>{{ activity.max_grade }}</td>
                {% else %}
                <td>&mdash;</td>
                {% endifnotequal %}
		<td>
		    {% if activity.is_numeric %}
		    	{% if activity.is_calculated %}
				Calculated Numeric
		    	{% else %}
		    		Numeric
		    	{% endif %}
		    {% else %}
		    	{% if activity.is_calculated %}
				Calculated Letter
		    	{% else %}
		    		Letter
		    	{% endif %}
		    {% endif %}
		</td>
		{% ifnotequal activity.percent None %}
                <td>{{ activity.percent }}%</td>
		{% else %}
                <td>&mdash;</td>
                {% endifnotequal %}
                <td class="{{activity.status|lower}}">{{ activity.get_status_display_staff }}</td>
                <td class="{{activity.due_class}}"><span class="sort">{{ activity.due_date.isoformat }}</span>{{ activity.due_date }}</td>
            </tr>
            {% endwith %}
          {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="empty">No activities defined. You can <a href="{% url "offering:activity_choice" course_slug=course.slug %}">add an activity</a> to get started.</p>
    {% endif %}
{% if activities_info %}
<p>Percent total: {{total_percent}}%</p>
{% endif %}
{% endblock %}
