{% extends "grades/base.html" %}
{% load grade_student %}

{% block h1 %}{{course.name}} Config{% endblock %}
{% block title %}{{course.name}} Config{% endblock %}

{% block grades_headextra %}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; Edit Course Config</li>{% endblock %}


{% block content %}
<div id="form_container">
    {% if form.non_field_errors %}
    <p class="errorindicator">
        <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
        {{ form.non_field_errors }}
    </p>
    {% endif %}
    <form action="{% url grades.views.course_config course_slug=course.slug %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Course Settings</legend>
            <ul>
                {{form.url|activity_field}}
                {{form.taemail|activity_field}}
                <li>
                    <input class="submit" type="submit" value="Submit" />
                </li>
            </ul>
        </fieldset>
    </form>
</div>
{% endblock %}
