{% extends "base.html" %}
{% load form_display %}

{% block h1 %}{{course.name}} Setup{% endblock %}
{% block title %}{{course.name}} Setup{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li>Setup</li>{% endblock %}

{% block actions %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
<li><a href="{% url "offering:copy_course_setup" course_slug=course.slug %}">Copy Course Setup</a></li>
<li><a href="{% url "offering:ta_offers" course_slug=course.slug %}">View TA Offers</a></li>
<li><a href="{% url "offering:manage_tas" course_slug=course.slug %}">Manage TAs</a></li>
<li><a href="{% url "offering:export_all" course_slug=course.slug %}">Export Course Data</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div class="form_container">
  <form action="" method="post">{% csrf_token %}
  <fieldset>
    {{ form|as_dl }}
    <p><input class="submit" type="submit" value="Submit" /></p>
  </fieldset>
  </form>
</div>
{% endblock %}
