{% extends "grades/base.html" %}
{% load grade_student %}

{% block h1 %}{{course.name}} Setup{% endblock %}
{% block title %}{{course.name}} Setup{% endblock %}

{% block grades_headextra %}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; Setup</li>{% endblock %}

{% block actions %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
<li><a href="{% url marking.views.copy_course_setup course_slug=course.slug %}">Copy Course Setup</a></li>
<li><a href="{% url ta.views.ta_offers course_slug=course.slug %}">View TA Offers</a></li>
<li><a href="{% url coredata.views.manage_tas course_slug=course.slug %}">Manage TAs</a></li>
<li><a href="{% url ta.views.all_tugs course_slug=course.slug %}">Edit TUGs</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div id="form_container">
    {% if form.non_field_errors %}
    <p class="errorindicator">
        <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
        {{ form.non_field_errors }}
    </p>
    {% endif %}
    <form action="{% url grades.views.course_config course_slug=course.slug %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Course Settings</legend>
            <ul>
                {{form.url|activity_field}}
                {{form.taemail|activity_field}}
                {{form.discussion|activity_field}}
                {% if course.uses_svn %}{{form.indiv_svn|activity_field}}{% endif %}
                <li>
                    <input class="submit" type="submit" value="Submit" />
                </li>
            </ul>
        </fieldset>
    </form>
</div>
{% endblock %}
