{% extends "grades/base.html" %}

{% block h1 %}Course Information{% endblock %}

{% block headextra %}
<script type="text/javascript">
    $(document).ready(function() {
	oTable = $('#activities').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
                "iDisplayLength" : 50
	});
    });
</script>
{% endblock %}

{% block breadcrumbs_extra %}
<li>&gt; <a href="{% url grades.views.course course_slug=course.slug %}">{{ course.name }}</a></li>
{% endblock %}


{% block content %}
<p>Course content goes here.</p>
<br/>
<br/>
<div id="activity_container">
    {% if is_course_staff %}
    <a class="redbutton" href="{% url grades.views.add_numeric_activity course_slug=course.slug %}">Add Activity</a>
    {% endif %}
    <table class="display" id="activities">
        <thead>
            <tr>
                <th>Activity</th>
                <th>Percentage</th>
                <th>Status</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
            <tr>
                <td>
                    <strong>
                        <a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">{{ activity.name }}</a>
                    </strong>
                    <div class="row-actions">
                        <span><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">Info</a> | </span>
                        <span><a href="#">Mark</a> | </span>
                        <span><a href="{% url grades.views.edit_activity course_slug=course.slug activity_slug=activity.slug %}?from_page={{ from_page }}">Edit</a> | </span>
                        <span><a href="{% url grades.views.delete_activity_review course_slug=course.slug activity_slug=activity.slug %}">Delete</a></span>
                    </div>
                </td>
                <td>
                    {{ activity.percent }}
                </td>
                {% ifequal activity.status 'RLS' %}
                <td class="green">
                    {{ activity.get_status_display }}
                </td>
                {% endifequal %}
                {% ifequal activity.status 'URLS' %}
                <td class="red">
                    {{ activity.get_status_display }}
                </td>
                {% endifequal %}
                {% ifequal activity.status 'INVI' %}
                <td class="grey">
                    {{ activity.get_status_display }}
                </td>
                {% endifequal %}
                <td>{{ activity.due_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
