{% extends "grades/base.html" %}

{% block title %}{{ course.subject }} {{ course.number }} Course Information{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Course Information{% endblock %}

{% block grades_headextra %}
<script type="text/javascript">
//<![CDATA[
    /*store activity ids*/	
	var act_ids = new Array();
	
    $(document).ready(function() {
        addLinkClickStyleClass('a.redbutton', 'redbutton_onclick');
        addLinkClickStyleClass('span.position_button', 'ui-state-hover');
	
        // activate dataTable ui
	var oTable = $('#activities').dataTable({
		"bJQueryUI": true,
		"bSort": true,
		"bPaginate": false,
		"aaSorting": [[0, "asc"]],
		"fnDrawCallback": enable_disable_ordering,
		"aoColumns": [
		    {"sType": "numnull"},
		    null,
		    null,
		    {"sType": "numnull"},
		    null,
		    {"sType": "numnull"},
		    null,
		    null,
		],
	});
	
	// The following code deals with activity reordering
	{%for info in activities_info%}
		act_ids[{{forloop.counter}}-1] = "{{info.activity.id}}";
	{%endfor%}
	
	for(var r = 1; r <= {{activities_info|length}}; r++)
	{
	    /* when javascript is enabled, use ajax call to reorder activity */
	    $('#arrow' + r + ' ' + 'a.arrow_up').attr('href', 'javascript: return false;');
	    $('#arrow' + r + ' ' + 'a.arrow_down').attr('href', 'javascript: return false;');
	    
	   /* attach position info to the arrow td */
	    $('#arrow' + r).data('pos', r-1);
	}			
	
	$('.arrow_up').click(function(){			
		 var p = $(this).parent();
		 var i = p.data('pos');			 
		 /* post request */
		 if(i > 0){
			$.post("{% url "grades.views.reorder_activity" course_slug=course.slug %}",
				{'id_up': act_ids[i], 'id_down': act_ids[i-1], 'csrfmiddlewaretoken': "{{csrf_token}}"}, 
				function(data){ /* request success callback: swap rows */					 				
					 /* swap the content of the current row and the previous row(except for the first column) */				
					 var row = oTable.fnGetNodes(i);
					 var pre_row = oTable.fnGetNodes(i-1);
					 var content = oTable.fnGetData(row);
					 var pre_content = oTable.fnGetData(pre_row);
					 var temp;
					 for (var col=1, len = content.length ; col<len ; col++ )
					 {  
					    temp = content[col];
						oTable.fnUpdate(pre_content[col], i, col);
						oTable.fnUpdate(temp, i-1, col); 
					 }
					 /* swap the order of the two ids as well */
					 temp = act_ids[i];
					 act_ids[i] = act_ids[i-1];
					 act_ids[i-1] = temp;			 				 
					 
					 oTable.fnDraw();			
				 
				});
			}
	  });
	 
	$('.arrow_down').click(function(){
		 var p = $(this).parent();
		 var i = p.data('pos');
		 if(i < {{activities_info|length}}-1){
		 /* post request */
			$.post("{% url "grades.views.reorder_activity" course_slug=course.slug %}",		  	 
				{'id_up': act_ids[i+1], 'id_down': act_ids[i], 'csrfmiddlewaretoken': "{{csrf_token}}"},
				function(data){ /* request success callback: swap rows */  		 	 
				     /* swap the content of the current row and the next row(except for the first column) */
					 var row = oTable.fnGetNodes(i);
					 var next_row = oTable.fnGetNodes(i+1);
					 var content = oTable.fnGetData(row);
					 var next_content = oTable.fnGetData(next_row);					
					 var temp;
					 for (var col=1, len = content.length ; col<len ; col++ )
					 {  
					    temp = content[col];
						oTable.fnUpdate(next_content[col], i, col);
						oTable.fnUpdate(temp, i+1, col); 
					 }
					 /* swap the order of the two ids as well */
					 temp = act_ids[i];
					 act_ids[i] = act_ids[i+1];
					 act_ids[i+1] = temp;	
									 
					 oTable.fnDraw();
				});		 
			}
	  });
    });
//]]>
</script>
{% endblock %}


{% block subbreadcrumbs %}<li>{{ course.name }} ({{course.semester.label}})</li>{% endblock %}


{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
	<li><a href="{% url "grades.views.course_config" course_slug=course.slug %}">Edit Course Setup</a></li>
        <li><a href="{% url "grades.views.activity_choice" course_slug=course.slug %}">Add Activity</a></li>
        {% if course.discussion %}
        <li>
        	<a href="{% url "discuss.views.discussion_index" course_slug=course.slug %}">
        		Course Discussion
        		{% if discussion_activity %}
                <img src="{{ STATIC_URL }}/icons/required_star.gif" alt="New Activity" />
                {% endif %}
        	</a>
        </li>    
        {% endif %}
        <li class="newsec"><a href="{% url "grades.views.class_list" course_slug=course.slug %}">Display Class List</a></li>
        <li><a href="{% url "grades.views.all_grades" course_slug=course.slug %}">Display All Grades</a></li>
        <li><a href="{% url "grades.views.student_search" course_slug=course.slug %}">Student Search</a></li>
	<li class="newsec"><a href="{% url "grades.views.new_message" course_slug=course.slug %}">Create News Item</a></li>
	{% if any_group %}<li><a href="{% url "groups.views.groupmanage" course_slug=course.slug %}">Manage Groups</a></li>{% endif %}
        <li><a href="{% url "discipline.views.index" course_slug=course.slug %}">Dishonesty Cases</a></li>
        <li><a href="{% url "pages.views.index_page" course_slug=course.slug %}">Course Pages</a></li>
    {% if member.role == "TA" %}
        <li class="newsec"><a href="{% url "ta.views.view_tug" course_slug=course.slug userid=user.username %}">Time Use Guideline</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="table_container">
    <table class="info">
        <tbody>
            <tr>
                <th scope="row">Course Number</th>
                <td>{{ course.subject }} {{ course.number }} {{ course.section }}</td>
            </tr>
            <tr>
                <th scope="row">Semester</th>
                <td>{{ course.semester.label }} ({{ course.semester.name }})</td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ course.title }}</td>
            </tr>
            <tr>
                <th scope="row">Campus</th>
                <td>{{ course.get_campus_display }}</td>
            </tr>
            <tr>
                <th scope="row">Instructor(s)</th>
                <td>{% for instructor in course.instructors %}
                    {{ instructor.name_with_pref }} &lt;<a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a>&gt;{% if not forloop.last %}, {% endif %}
                    {% endfor %}</td>
            </tr>
            <tr>
                <th scope="row">TA(s)</th>
                <td>
                {% if course.config.taemail %}
                <a href="mailto:{{ course.config.taemail }}">{{ course.config.taemail }}</a>
                ({% for ta in course.tas %}{{ ta.name_with_pref }} &lt;{{ ta.email }}&gt;{% if not forloop.last %}, {% endif %}{% endfor %})
                {% else %}
                {% for ta in course.tas %}
                  {{ ta.name }} &lt;<a href="mailto:{{ ta.email }}">{{ ta.email }}</a>&gt;{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Number of Students</th>
                <td>{{ course.student_count }}</td>
            </tr>
            <tr>
                <th scope="row">Course home page</th>
                <td>{% if course.config.url %}{{ course.config.url|urlize }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="datatable_container">
    <h2>Course Activities</h2>
    {% if activities_info %}
    <table class="display" id="activities">
        <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Activity</th>
                <th scope="col">Group?</th>
                <th scope="col">Max Grade</th>
		<th scope="col">Grade Type</th>
                <th scope="col">Percentage</th>
                <th scope="col">Status</th>
                <th scope="col">Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for activity_info in activities_info %}
            {% with activity_info.activity as activity %}
            <tr>
                <td id = "arrow{{forloop.counter}}">
                    <span class="sort">{{ activity.position }}</span>
                    {% if not forloop.first %}
		    <a class="arrow_up" href="{% url "grades.views.course_info" course_slug=course.slug %}?order=up&amp;act={{ activity.slug }}">  
		       <span class="arrow_up position_button ui-state-default ui-icon ui-icon-arrowthick-1-n">&uarr;</span>  
		    </a>
		    {% else %}
		       <span class="position_placeholder"></span>
		    {% endif %}
		    {% if not forloop.last %}
		    <a class="arrow_down" href="{% url "grades.views.course_info" course_slug=course.slug %}?order=down&amp;act={{ activity.slug }}">
			<span class="arrow_down position_button ui-state-default ui-icon ui-icon-arrowthick-1-s">&darr;</span>
		    </a>
		    {% endif %}
                </td>
                <td scope="row">
                <a href="{% url "grades.views.activity_info" course_slug=course.slug activity_slug=activity.slug %}">{{ activity.name }}</a>
                </td>
                
                <td>{% if activity.group %}group{% else %}individual{% endif %}</td>
                
                {% ifnotequal activity.max_grade None %}
                <td>{{ activity.max_grade }}</td>
                {% else %}
                <td>&mdash;</td>
                {% endifnotequal %}
		<td>
		    {% if activity.is_numeric %}
		    	{% if activity.is_calculated %}
				Calculated Numeric
		    	{% else %}
		    		Numeric
		    	{% endif %}
		    {% else %}
		    	{% if activity.is_calculated %}
				Calculated Letter
		    	{% else %}
		    		Letter
		    	{% endif %}
		    {% endif %}
		</td>
		{% ifnotequal activity.percent None %}
                <td>{{ activity.percent }}%</td>
		{% else %}
                <td>&mdash;</td>
                {% endifnotequal %}
                <td class="{{activity.status|lower}}">{{ activity.get_status_display }}</td>
                <td class="{{activity.due_class}}"><span class="sort">{{ activity.due_date.isoformat }}</span>{{ activity.due_date }}</td>
            </tr>
            {% endwith %}
          {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="empty">No activities defined. You can <a href="{% url "grades.views.activity_choice" course_slug=course.slug %}">add an activity</a> to get started.</p>
    {% endif %}
</div>
{% if activities_info %}
<p>Percent total: {{total_percent}}%</p>
{% endif %}
{% endblock %}
