{% extends "grades/base.html" %}

{% block h1 %}Grades{% endblock %}

{% block headextra %}
<link type="text/css" href="{{MEDIA_URL}}style/grades/activitytable.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function() {
	oTable = $('#activities').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers"
	});
    });
</script>
{% endblock %}

{% block breadcrumbs_extra %}
<li>&gt; <a href="{% url grades.views.course course_slug=course.slug %}">{{ course.name }}</a></li>
{% endblock %}


{% block content %}
<p>Course content goes here.</p>
<br/>
<br/>
<div id="activity_container">
    <a id="addactivity" href="{% url grades.views.course course_slug=course.slug %}/addnumericactivity">Add Activity</a>
    <table class="display" id="activities">
        <thead>
            <tr>
                <th>Activity</th>
                <th>Status</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %} 
            <tr>
                <td>{{ activity.name }}
                {% if activity.percent %}
                    &nbsp;({{ activity.percent }}%)
                {% endif %}
                </td>
                {% ifequal activity.status 'RLS' %}
                <td class="green">
                    {{ activity.get_status_display }}
                </td>
                {% endifequal %}
                {% ifequal activity.status 'URLS' %}
                <td class="red">
                    {{ activity.get_status_display }}
                </td>
                {% endifequal %}
                {% ifequal activity.status 'INVI' %}
                <td class="grey">
                    {{ activity.get_status_display }}
                </td>
                {% endifequal %}
                <td>{{ activity.due_date }}</td>
                <td><a href="#">Edit</a> <a href="#">Delete</a></td>
            </tr>
            {% empty %}
            <tr>
                <td>No Activity</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
