{% extends "base.html" %}

{% block title %}{{ course.subject }} {{ course.number }} Course Information{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Course Information{% endblock %}

{% block subbreadcrumbs %}<li>{{ course.name }} ({{course.semester.label}})</li>{% endblock %}

{% block actions %}
{% if any_group or has_index or course.discussion %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
	{% if any_group %}<li><a href="{% url "groups.views.groupmanage" course_slug=course.slug %}">Manage Groups</a></li>{% endif %}
	{% if course.discussion %}
    <li>
    	<a href="{% url "discuss.views.discussion_index" course_slug=course.slug %}">
    		Course Discussion
    		{% if discussion_activity %}
            <i class="fa fa-comments infomessage"></i>
            {% endif %}
    	</a>
    </li>    
    {% endif %}
	{% if has_index %}<li><a href="{% url "pages.views.index_page" course_slug=course.slug %}">View Pages</a></li>{% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
    <table class="info">
        <tbody>
            <tr>
                <th scope="row">Course Number</th>
                <td>{{ course.subject }} {{ course.number }} {{ course.section }}, {{ course.semester.label }}</td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ course.title }}</td>
            </tr>
            <tr>
                <th scope="row">Instructor(s)</th>
                <td>{% for instructor in course.instructors %}
                    {{ instructor.name_with_pref }} &lt;<a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a>&gt;{% if not forloop.first %}, {% endif %}
                    {% endfor %}</td>
            </tr>
            <tr>
                <th scope="row">TA(s)</th>
                <td>
                {% if course.config.taemail %}
                <a href="mailto:{{ course.config.taemail }}">{{ course.config.taemail }}</a>
                ({% for ta in course.tas %}{{ ta.name_with_pref }} &lt;{{ ta.userid }}@&gt;{% if not forloop.last %}, {% endif %}{% endfor %})
                {% else %}
                {% for ta in course.tas %}
                  {{ ta.name }} &lt;<a href="mailto:{{ ta.email }}">{{ ta.email }}</a>&gt;{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                </td>
            </tr>
            {% if course.config.url %}
            <tr>
                <th scope="row">Course home page</th>
                <td>{{ course.config.url|urlize }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

<h2>Course Activities</h2>
{% if not activity_data %}
<p class="empty">No activities defined for this course: it is likely is not using this system.</p>
{% else %}
    <table class="info">
	<thead>
	    <tr>
		<th scope="col">Activity</th>
		<th scope="col">Due</th>
		<th scope="col">Status</th>
		<th scope="col">Grade</th>
	    </tr>
	</thead>
        <tbody>
        {% for data in activity_data %}
            <tr>
            <td scope="row"><a href="{{data.act.get_absolute_url}}">{{ data.act.display_label }}</a></td>
            {% if data.act.due_date %}
            <td class="{{data.act.due_class}}">{{ data.act.due_date }}
                {% if data.act.due_in_future %}(in {{ data.act.due_in_str }}){% endif %}</td>
            {% else %}
            <td class="empty">none</td>
            {% endif %}
            <td>{{ data.act.get_status_display }}</td>
            <td>{{ data.grade_display }}</td>
            </tr>
	    {% endfor %}
	</tbody>
    </table>

{% endif %}

{% if course.uses_svn %}
<h2 id="svn">Subversion Repository</h2>
<p>You have a personal <a href="http://svnbook.red-bean.com/">Subversion</a> repository for this course at this URL:
{{ member.svn_url|urlize }}&nbsp;.</p>
<p>The repository will be available for the duration of the course.
{% if course.indiv_svn %}
The instructor and TAs <strong>do</strong> have read-only access to this repository.
{% else %}
The instructor and TAs do <strong>not</strong> have access to this repository.
{% endif %}
</p>
{% endif %}

{% endblock %}
