{% extends "grades/base.html" %}

{% block h1 %}Delete Activity ({{ course.name }}){% endblock %}

{% block grades_headextra %}
<script type="text/javascript">
    $(document).ready(function() {
        addLinkClickStyleClass('a.redbutton', 'redbutton_onclick');
    });
</script>
{% endblock %}

{% block breadcrumbs_extra %}
<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li>
<li>&gt; <a href="{% url grades.views.delete_activity_review course_slug=course.slug activity_slug=activity.slug %}">Delete {{ activity.name }}</a></li>
{% endblock %}


{% block content %}
<div class="table_container">
    <table class="info">
        <tbody>
            <tr>
                <th class="ui-state-default">Activity Type</th>
                <td>{{ activity_type }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Name</th>
                <td>{{activity.name}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Short name</th>
                <td>{{activity.short_name}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Status</th>
                <td>{{activity.get_status_display}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Due date</th>
                <td>{{activity.due_date}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Percentage</th>
                <td>{{activity.percent}}</td>
            </tr>
            {% if activity.max_grade %}
            <tr>
                <th class="ui-state-default">Maximum grade</th>
                <td>{{activity.max_grade}}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="buttongroup">
        <a class="redbutton" href="{% url grades.views.delete_activity_confirm course_slug=course.slug activity_slug=activity.slug %}">
            Delete
        </a>
    </div>
</div>
{% endblock %}
