{% extends "grades/base.html" %}
{% load grade_student %}

{% block h1 %}
Edit Cutoffs of {{ activity.name }}
{% endblock %}
{% block title %}
Edit Cutoffs of {{ activity.name }}
{% endblock %}

{% block grades_headextra %}
<script type="text/javascript" src="{{MEDIA_URL}}collapsible/js/jQuery.collapsible.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    addLinkClickStyleClass('a.redbutton', 'redbutton_onclick');
    $("#id_due_date_0").datepicker({ buttonImageOnly: true, buttonImage: '{{MEDIA_URL}}images/grades/calendar.png',
                                changeMonth: true, changeYear: true,
                                dateFormat: 'yy-mm-dd', showOn: 'button'});
    $('div.collapsible').collapsible();
    $('div#helphandle').collapsible();
    document.getElementById('testerlink').setAttribute('target', '_blank');
});
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li>
{% ifequal form_type 'add' %}
<li>&gt; <a href="{% url grades.views.activity_choice course_slug=course.slug %}">Choose the type of activity</a></li>
<li>&gt; Add Activity</li>
{% endifequal %}
{% if activity %}
<li>&gt; <a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug%}">{{ activity.name }}</a></li>
{% endif %}
{% ifequal form_type 'edit' %}
<li>&gt; Edit</li>
{% endifequal %}
{% endblock %}


{% block content %}
<br/>

<div id="form_container">
    {% if cutoffs.non_field_errors %}
        <p class="errorindicator">
        	<img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
        	{{ form.non_field_errors }}
    	</p>
    {% endif %}
    
    {% ifequal form_type 'edit' %}
        <form action="{% url grades.views.edit_cutoffs course_slug=course.slug activity_slug=activity.slug %}"
                method="post">{% csrf_token %}
        <fieldset>
        	<legend>Edit Cutoffs and Set Lower Bounds</legend>
        		<ul>
        		<p>Max grade for {{activity.numeric_activity.name}}: {{activity.numeric_activity.max_grade}}</p>
        		<table class="cutoffs">
        		<tr>
        		<td class="label">A+</td><td>{{cutoff.ap}} {{cutoff.ap.errors}}</td>
        		<td class="label">A</td><td>{{cutoff.a}} {{cutoff.a.errors}}</td>
        		<td class="label">A-</td><td>{{cutoff.am}} {{cutoff.am.errors}}</td>
        		</tr>
        		
        		<tr>
        		<td class="label">B+</td><td>{{cutoff.bp}} {{cutoff.bp.errors}}</td>
        		<td class="label">B</td><td>{{cutoff.b}} {{cutoff.b.errors}}</td>
        		<td class="label">B-</td><td>{{cutoff.bm}} {{cutoff.bm.errors}}</td>
        		</tr>
        		
        		<tr>
        		<td class="label">C+</td><td>{{cutoff.cp}} {{cutoff.cp.errors}}</td>
        		<td class="label">C</td><td>{{cutoff.c}} {{cutoff.c.errors}}</td>
        		<td class="label">C-</td><td>{{cutoff.cm}} {{cutoff.cm.errors}}</td>
        		</tr>
        		
        		<tr>
        		<td class="label">D</td><td>{{cutoff.d}} {{cutoff.d.errors}}</td>
        		<td class="label">F</td><td>0</td>
        		</tr>
        		</table>	
				<li>
        				<input class="submit" type="submit" value="Submit" />
        			</li>
			</ul>
        </fieldset>
        
        </form>
	{% endifequal %}
</div>

<p>
    {% ifequal form_type 'edit' %}
    	<a class="button" href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug%}">Back</a>
    {% endifequal %}
</p>
{% endblock %}
