{% extends "base.html" %}
{% load form_display %}
{% block h1 %}Formula Tester{% endblock %}
{% block title %}Formula Tester{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li>Formula Tester</li>{% endblock %}


{% block content %}
        <form action="{% url "grades.views.formula_tester" course_slug=course.slug %}" method="get">
            <fieldset>
                <legend>Activities</legend>
                        <p>Give status and grade to the numeric activities to test formula</p>
                        <div class="activity_reference_container">
                            <table class="info">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Short Name</th>
                                        <th scope="col">Percentage</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for activity_entry in activity_entries %}
                                    {% with activity_entry.activity as activity %}
                                    {% with activity_entry.activity_form_entry as activity_form_entry %}
                                    <tr>
                                        <td>{{ activity.name }}</td>
                                        <td>{{ activity.short_name }}</td>
                                        {% if activity.percent %}
                                        <td>{{ activity.percent }}%</td>
                                        {% else %}
                                        <td>&mdash;</td>
                                        {% endif %}
                                        <td>{{ activity_form_entry.status }}</td>
                                        <td>
                                            {{ activity_form_entry.value }}/{{ activity.max_grade }}
                                            {% if activity_form_entry.value.errors %}<div class="errortext"><img src="{{STATIC_URL}}icons/error.png" alt="error"/> {{activity_form_entry.value.errors.0}}</div>{% endif %}
                                        </td>
                                    </tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% empty %}
                                    <tr>
                                        <td class="empty" colspan="5">No numeric activities defined</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
            </fieldset>
            <fieldset>
                <legend>Formula</legend>
                {{ formula_form_entry|as_dl }}
            </fieldset>
            <fieldset>
                <legend>Result</legend>
                <ul>
                    <li>
                        <div id="formula_result">{{ result }}</div>
                    </li>
                    <li>
                        <input class="submit" type="submit" value="Test" />
                    </li>
                </ul>
            </fieldset>
        </form>

{% endblock %}