{% extends "grades/base.html" %}

{% block h1 %}Grades{% endblock %}

{% block content %}
<p><a href="{% url grades.views.student_view %}">Student</a></p>
{% regroup memberships by offering.semester as by_semester %}
{% for semester in by_semester %}
  <h2 id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</h2>
  <ul>
  {% for membership in semester.list %}
    <li><a href="{% url grades.views.course course_slug=membership.offering.slug %}">{{membership.offering.name}}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

{% endblock %}
