{% extends "grades/base.html" %}

{% block h1 %}
{% ifequal form_type 'add' %}
Add Letter Graded Activity
{% endifequal %}
{% ifequal form_type 'edit' %}
Edit Letter Graded Activity
{% endifequal %}
{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
    $("#letter_formula_box").hide();
    $("input:checkbox[name='specify_letter_formula']").click(function(){
        if ($(this).attr("checked"))
            $("#letter_formula_box").show(500);
        else
            $("#letter_formula_box").hide(500);
    });
    $("#id_due_date").datepicker({ buttonImageOnly: true, buttonImage: '{{MEDIA_URL}}images/grades/calendar.bmp',
                                changeMonth: true, changeYear: true, showOn: 'button'});
});
</script>
{% endblock %}

{% block breadcrumbs_extra %}
<li>&gt; <a href="{% url grades.views.course course_slug=course.slug %}">{{ course.name }}</a></li>
{% ifequal form_type 'add' %}
<li>&gt; <a href="{% url grades.views.add_numeric_activity course_slug=course.slug %}">Add Activity</a></li>
{% endifequal %}
{% ifequal form_type 'edit' %}
<li>&gt; <a href="{% url grades.views.edit_activity course_slug=course.slug activity_slug=activity.slug %}">Edit Letter Graded Activity</a></li>
{% endifequal %}
{% endblock %}

{% block content %}
<br/>
{% ifequal form_type 'add' %}
<ul id="form_nav">
    <li><a href="{% url grades.views.add_numeric_activity course_slug=course.slug %}">Numeric Graded Activity</a></li>
    <li class="current"><a href="{% url grades.views.add_letter_activity course_slug=course.slug %}">Letter Graded Activity</a></li>
</ul>
{% endifequal %}
<div id="form_container">
    {% if form.errors %}
    <p class="errorindicator">
        <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
        Please correct the error below.
    </p>
    {% endif %}
    {% if form.non_field_errors %}
    <p class="errorindicator">
        <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
        {{ form.non_field_errors }}
    </p>
    {% endif %}
    <form action="{% ifequal form_type 'add' %}{% url grades.views.add_letter_activity course_slug=course.slug %}{% endifequal %}
                {% ifequal form_type 'edit' %}{% url grades.views.edit_activity course_slug=course.slug activity_slug=activity.slug %}{% endifequal %}" method="post">
        <fieldset>
            <legend>Activity Info</legend>
            <p class="requireindicator"><img src="{{MEDIA_URL}}/icons/required_star.gif" alt="required" />&nbsp;Indicates required field</p>
            <ul>
                <li>
                    {{ form.name.label_tag }}
                    <div class="inputfield">
                        {{ form.name }}{% if form.name.errors %}<img src="{{MEDIA_URL}}/icons/error.png" alt="error"/>{% endif %}
                        {{form.name.errors}}
                    </div>
                </li>
                <li>
                    {{ form.short_name.label_tag }}
                    <div class="inputfield">
                        {{ form.short_name }}{% if form.short_name.errors %}<img src="{{MEDIA_URL}}/icons/error.png" alt="error"/>{% endif %}
                        {{ form.short_name.errors }}
                    </div>
                </li>
                <li>
                    {{ form.status.label_tag }}
                    <div class="inputfield">
                        {{ form.status }}{% if form.status.errors %}<img src="{{MEDIA_URL}}/icons/error.png" alt="error"/>{% endif %}
                        {{ form.status.errors }}
                    </div>
                </li>
                <li>
                    {{ form.due_date.label_tag }}
                    <div class="inputfield">
                        {{ form.due_date }}{% if form.due_date.errors %}<img src="{{MEDIA_URL}}/icons/error.png" alt="error"/>{% endif %}
                        {{ form.due_date.errors }}
                    </div>
                </li>
                <li>
                    {{ form.percent.label_tag }}
                    <div class="inputfield">
                        {{ form.percent }}{% if form.percent.errors %}<img src="{{MEDIA_URL}}/icons/error.png" alt="error"/>{% endif %}
                        {{ form.percent.errors }}
                    </div>
                </li>
                <li>
                    {{ form.specify_letter_formula.label_tag }}
                    {{ form.specify_letter_formula }}
                </li>
                <li id="letter_formula_box" class="fomula_box">
                    To be added
                </li>
                <li>
                    <input class="submit" type="submit" value="Submit" />
                </li>
            </ul>
        </fieldset>
    </form>
</div>
{% endblock %}
