{% extends "base.html" %}

{% block title %}{{ course.name }} Class List{% endblock %}
{% block h1 %}{{ course.name }} Class List{% endblock %}

{% block headextra %}
<style type="text/css">
.datatable_container #students td {
  vertical-align: middle;
}
.idphoto {
  text-align: center;
}
.idphoto img {
  max-width: 100px;
  max-height: 100px;
}
</style>
<script type="text/javascript">
    $(document).ready(function() {
	oTable = $('#students').dataTable({
	    "bJQueryUI": true,
	    "bPaginate": false,
	    "aaSorting": [[1, "asc"], [2, "asc"]],
	    "aoColumns": [
		    null,
		    null,
		    null,
		    null,
		    null,
		]
	});
    });
</script>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li>Photo List</li>{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<div class="datatable_container">
    <table class="display" id="students">
        <thead>
            <tr>
		        <th scope="col">Photo</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
		<th scope="col">User ID</th>
		<th scope="col">Student #</th>
            </tr>
	</thead>
        <tbody>
        {% for member in members %}
        <tr>
            <td class="idphoto"><img src="{% url "grades.views.student_photo" emplid=member.person.emplid %}" alt="{{member.person.userid}}'s photo" /></td>
            <td>{{member.person.last_name}}</td>
            <td>{{member.person.first_with_pref}}</td>
            <td>{{member.person.userid}}</td>
            <td><a href="{{member.get_absolute_url}}">{{member.person.emplid}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
