{% extends "base.html" %}

{% block title %}Student Search{% endblock %}
{% block h1 %}Student Search{% endblock %}

{% block headextra %}<script type="text/javascript">
$(document).ready(function() {
  document.getElementById("id_search").focus();
});
</script>{% endblock %}
{% block actions %}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{{course.get_absolute_url}}">{{ course.name }}</a></li><li>Student Search</li>{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
{{form.as_p}}
<p><input class="submit" type="submit" value="Submit" /></p>
</form>
{% endblock %}
