{% extends "grades/base.html" %}
{% load grade_student %}

{% block h1 %}   {{course.name}}<br> {{course.title }} {% endblock %}

{% block breadcrumbs_extra %}
<li>&gt; <a href="{% url grades.views.student_view %}">Student</a>>{{ course.name }}</li>
{% endblock %}

{% block content %}
<br/>
<div id="grade_container">
    <table class="display" id='grades' align=center style="text-align:center">
        <thead>
            <tr>
                <th>Activity</th>
                <th>Percentage</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for numeric in numerics %}
                {% ifequal numeric.status 'RLS' %}
                    <tr>
                        <td>
                            {{ numeric.name }}
                        </td>                        
                        <td >
                            {{ numeric.percent }}{% if numeric.percent %}%{% endif %}
                        </td>
                        <td>
                            {{numeric|stu_grade:student}}
                        </td>
                    </tr>
                {% endifequal %}
            {% endfor %}
            {% for letter in letters %}
                {% ifequal letter.status 'RLS' %}
                    <tr>
                        <td>
                            {{ letter.name }}
                        </td>
                        <td>
                            {{ letter.percent }}{% if letter.percent %}%{% endif %}
                        </td>
                        <td>
                            {{letter|stu_grade:student}}
                        </td>
                    </tr>
                {% endifequal %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

