{% extends "grades/base.html" %}

{% block title %}{{ course.name }}: Details for {{member.person.name}}{% endblock %}
{% block h1 %}{{ course.name }}: Details for {{member.person.name}}{% endblock %}

{% block grades_headextra %}
<script type="text/javascript">
    $(document).ready(function() {
	// activate dataTable ui
	oTable = $('#student_grades').dataTable({
	    "bJQueryUI": true,
	    "bPaginate": false,
            "bSort": false
	});
	$('#grade_history').dataTable({
	    "bJQueryUI": true,
	    "bPaginate": false,
            "bSort": true,
        "aaSorting": [[0,'asc']],
	});
    });
</script>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{{course.get_absolute_url}}">{{ course.name }}</a></li><li>Details for {{member.person.name}}</li>{% endblock %}

{% block content %}
<div class="table_container">
    <table class="info">
        <tbody>
	    <tr>
                <th class="ui-state-default">Last Name</th>
                <td>{{ member.person.last_name }}</td>
            </tr>
	    <tr>
                <th class="ui-state-default">First Name</th>
                <td>{{ member.person.first_with_pref }}
                </td>
            </tr>
	    <tr>
                <th class="ui-state-default">Middle Name</th>
                <td>{{ member.person.middle_name }}</td>
            </tr>
	    <tr>
                <th class="ui-state-default">Student Number</th>
                <td>{{ member.person.emplid }}</td>
            </tr>
            {% if course.labtut %}
	    <tr>
                <th class="ui-state-default">Lab/Tutorial Section</th>
                <td>{{ member.labtut_section }}</td>
            </tr>
            {% endif %}
	    <tr>
                <th class="ui-state-default">Email Address</th>
                <td><a href="mailto:{{ member.person.email }}">{{ member.person.email }}</a></td>
            </tr>
        </tbody>
    </table>
</div>

<h2 id="grades">Grade Details</h2>
<div class="datatable_container">
    <table class="display" id="student_grades">
        <thead>
            <tr>
            <th scope="col">Activity</th>
            <th scope="col">Grade Status</th>
            <th scope="col">Grade</th>
            <th scope="col">Marking</th>
            <th scope="col">Submission</th>
            </tr>
	</thead>
        <tbody>
            {% for info in grade_info %}
            <tr>
              <td scope="row"><a href="{% url "grades.views.activity_info" course_slug=course.slug activity_slug=info.act.slug %}">{{info.act.name}}</a></td>
              
              <td>{% if info.grade %}{{info.grade.get_flag_display}}{% else %}no grade{% endif %}</td>
              
              <td><a href="{% url "marking.views.change_grade_status" course_slug=course.slug activity_slug=info.act.slug userid=member.person.userid %}">{% if info.grade %}{{info.grade.display_staff}}{% else %}&mdash;{% endif %}</a></td>
              
              
              {% if info.marked %}
              	<td>{% if info.act.is_numeric %}<a href="{% url "marking.views.mark_summary_student" course_slug=course.slug activity_slug=info.act.slug userid=member.person.userid %}"><img src="{{STATIC_URL}}icons/magnifier.png" title="View Detail" alt="View Detail" /></a>{% endif %}</td>
              {% else %}
              	<td>{% if info.act.is_numeric %}<a href="{% url "submission.views.take_ownership_and_mark" course_slug=course.slug activity_slug=info.act.slug userid=member.person.userid %}"><img src="{{STATIC_URL}}icons/page_white_edit.png" title="Mark This" alt="Mark This"/></a>{% endif %}</td>
              {% endif %}
              

              {% if info.sub %}
              <td><a href="{% url "submission.views.show_student_submission_staff" course_slug=course.slug activity_slug=info.act.slug userid=member.person.userid %}"><img src="{{STATIC_URL}}icons/magnifier.png" title="{{info.act.name}} submission" alt="info" /></a>
              <a href="{% url "submission.views.download_file" course_slug=course.slug activity_slug=info.act.slug userid=member.person.userid %}"><img src="{{STATIC_URL}}icons/page_compressed.png" title="download {{info.act.name}} submission" alt="Download" /></a></td>
              {% else %}
              <td></td>
              {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% if group_memberships %}
<h2 id="groups">Group Memberships</h2>
{% regroup group_memberships by group as groups %}
<ul>
{% for info in groups %}
<li>
  <a href="{{ info.grouper.get_absolute_url }}">{{info.grouper.name}}</a>
  ({% for gm in info.list %}<a href="{{ gm.activity.get_absolute_url }}">{{ gm.activity.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
</li>
{% endfor %}
</ul>
{% endif %}


{% if grade_history %}
<h2 id="history">Grading History</h2>
<div class="datatable_container">
<table class="display" id="grade_history">
<thead><tr><th scope="col">Time</th><th scope="col">Activity</th><th scope="col">Grade</th><th scope="col">Entered By</th></tr></thead>
<tbody>
{% for gh in grade_history %}
<tr>
    <td><span class="sort">{{ gh.timestamp.isoformat }}</span>{{ gh.timestamp }}</td>
    <td><span class="sort">{{ gh.activity.position }}</span>{{ gh.activity.name }}
      {% if gh.group %}
      (with group <a href="{{ gh.group.get_absolute_url }}">{{ gh.group.name }}</a>)
      {% endif %}
    </td>
    <td>{{ gh.grade }}
      {% if gh.status_change %}
      ({{ gh.get_activity_status_display }})
      {% endif %}
      {% if gh.mark %}
      <a href="{% url "marking.views.mark_summary_student" course_slug=course.slug activity_slug=gh.activity.slug userid=member.person.userid%}?activity_mark={{gh.mark.id}}"><img src="{{STATIC_URL}}icons/magnifier.png" title="View Detail" alt="View Detail" /></a>
      {% endif %}	
    </td>
    <td>{{ gh.entered_by.sortname }} ({{gh.entered_by.email_mailto}})</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endif %}

{% endblock %}
