{% extends "base.html" %}

{% block title %}All Registrations{% endblock %}
{% block h1 %}All Registrations{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'outreach_index' %}">Outreach</a></li>
<li>All Registration</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        {% if current_registrations %}
            <li><a href="{% url "download_registrations" %}">Download Current Registrations</a></li>
        {% endif %}
        {% if past_registrations %}
            <li><a href="{% url "download_registrations" past=1 %}">Download Past Registrations</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}


{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#currentregistrations').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[1, 'asc']]
  } );
  $('#pastregistrations').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[1, 'asc']]
  } );
  $('#view_past_registrations').prop('checked', false);
  $('#pastsection').hide();
} );

function confirmDelete() {
  return confirm("Are you sure you want to remove this registration?");
}

function togglePast() {
    $('#pastsection').toggle();
}
</script>
{% endblock %}

{% block content %}
    {% if past_registrations %}
    <div>View past registrations &nbsp; <input type="checkbox" id="view_past_registrations" onclick="togglePast()"></div>
    {% endif %}
    {% if current_registrations %}
        <h1>Current Registrations</h1>
        <table id="currentregistrations">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Event</td>
                    <td>Event Start Date</td>
                    <td>Registration Date</td>
                    <td>Waiver</td>
                    <td>Attending</td>
                    <td>Actions</td>
                </tr>
            </thead>
            {% for registration in current_registrations %}
                <tr>
                    <td>{{ registration.fullname }}</td>
                    <td><a href="{% url 'view_event' event_slug=registration.event.slug  %}" title="View event">{{ registration.event.title }}</a></td>
                    <td>{{ registration.event.start_date }}</td>
                    <td>{{ registration.created_at }}</td>
                    <td>{{ registration.waiver|yesno }}</td>
                    <td>{{ registration.attended|yesno }}</td>
                    <td>
                    <form class="lineform" method="POST"
                        action = "{% url "toggle_registration_attendance" registration_id=registration.id %}">
                        {% csrf_token %}
                        <button type='submit' class='btn' title="Toggle Attendance">
                            <i class='fa fa-check-square'></i>
                        </button>
                    </form>
                    <form class="lineform" method="POST"
                          action="{% url "delete_registration" registration_id=registration.id %}"
                          onsubmit="return confirmDelete();">
                        {% csrf_token %}
                        <button type='submit' class='btn' title="Hide Registration">
                            <i class='fa fa-trash-o'></i>
                        </button>
                    </form>
                    <form class="lineform" method="GET"
                        action="{% url "edit_registration" registration_id=registration.id %}">
                        <button type='submit' class='btn' title="Edit Registration">
                            <i class='fa fa-edit'></i>
                        </button>
                    </form>
                    <form class="lineform" method="GET"
                        action="{% url "view_registration" registration_id=registration.id %}">
                        <button type='submit' class='btn' title="View Registration">
                            <i class='fa fa-eye'></i>
                        </button>
                    </form>
                </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>There are no current registrations to display.</div>
    {% endif %}
    {% if past_registrations %}
        <div id="pastsection">
            <h1>Past Registrations</h1>
            <table id="pastregistrations">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Event</td>
                        <td>Event Start Date</td>
                        <td>Registration Date</td>
                        <td>Waiver</td>
                        <td>Attended</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                {% for registration in past_registrations %}
                    <tr>
                        <td>{{ registration.fullname }}</td>
                        <td><a href="{% url 'view_event' event_slug=registration.event.slug  %}" title="View event">{{ registration.event.title }}</a></td>
                        <td>{{ registration.event.start_date }}</td>
                        <td>{{ registration.created_at }}</td>
                        <td>{{ registration.waiver|yesno }}</td>
                        <td>{{ registration.attended|yesno }}</td>
                        <td>
                        <form class="lineform" method="POST"
                            action = "{% url "toggle_registration_attendance" registration_id=registration.id %}">
                            {% csrf_token %}
                            <button type='submit' class='btn' title="Toggle Attendance">
                                <i class='fa fa-check-square'></i>
                            </button>
                        </form>
                        <form class="lineform" method="POST"
                              action="{% url "delete_registration" registration_id=registration.id %}"
                              onsubmit="confirmDelete(this)">
                            {% csrf_token %}
                            <button type='submit' class='btn' title="Hide Registration">
                                <i class='fa fa-trash-o'></i>
                            </button>
                        </form>
                        <form class="lineform" method="GET"
                            action="{% url "edit_registration" registration_id=registration.id %}">
                            <button type='submit' class='btn' title="Edit Registration">
                                <i class='fa fa-edit'></i>
                            </button>
                        </form>
                        <form class="lineform" method="GET"
                            action="{% url "view_registration" registration_id=registration.id %}">
                            <button type='submit' class='btn' title="View Registration">
                                <i class='fa fa-eye'></i>
                            </button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

{% endblock %}