{% extends "base.html" %}
{% load form_display %}

{% block title %}Edit Registration{% endblock %}
{% block h1 %}Edit Registration{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'outreach_index' %}">Outreach</a></li>
<li>Edit Registration</li>
{% endblock %}


{% block content %}
    {% if not registration.event.current %}
    <h2 class="warningmessage">You are editing a registration for a past event</h2>
    {% endif %}
    This is the registration form for {{ registration.event.title }}.
    <dt>Event description</dt><dd>{{ registration.event.description|linebreaks }}</dd>
    <dt>Start date</dt><dd>{{ event.start_date }}</dd>
    {% if registration.event.end_date %}<dt>End date</dt><dd>{{ registration.event.end_date }}</dd>{% endif %}
    {% if registration.event.location %}<dt>Location</dt><dd>{{ registration.event.location|linebreaks }}</dd>{% endif %}
    {% if registration.event.notes %}<dt>Notes</dt><dd>{{ registration.event.notes|linebreaks }}</dd>{% endif %}
    {% if event_slug %}
    <form action="{% url 'edit_registration' registration_id=registration.id event_slug=event_slug %}" method="post">
    {% else %}
    <form action="{% url 'edit_registration' registration_id=registration.id %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form|as_dl }}
        <p>
            <input type="submit" class="submit" value="Save" />
        </p>
    </form>
{% endblock %}