{% extends "base.html" %}
{% load form_display %}

{% block title %}Register{% endblock %}
{% block h1 %}Register{% endblock %}


{% block content %}
    {% if event.current and not event.closed %}
    This is the registration form for {{ event.title }}.
    <dt>Event description</dt><dd>{{ event.description|linebreaks }}</dd>
    <dt>Start date</dt><dd>{{ event.start_date }}</dd>
    {% if event.end_date %}<dt>End date</dt><dd>{{ event.end_date }}</dd>{% endif %}
    {% if event.location %}<dt>Location</dt><dd>{{ event.location|linebreaks }}</dd>{% endif %}
    {% if event.notes %}<dt>Notes</dt><dd>{{ event.notes|linebreaks }}</dd>{% endif %}
    <form action="{% url 'register' event_slug=event.slug %}" method="post">
        {% csrf_token %}
        {{ form|as_dl }}
        <p>
            <input type="submit" class="submit" value="Register" />
        </p>
    </form>
    {% else %}
    <div>Sorry, either this event has already ended or registrations for this event are closed.  You cannot register for it.</div>
    {% endif %}
{% endblock %}