{% extends "base.html" %}
{% load form_display %}

{% block title %}Register{% endblock %}
{% block h1 %}Register{% endblock %}


{% block content %}
    {% if event.current %}
    This is the registration form for {{ event.title }}.
    <dt>Event description</dt><dd>{{ event.description }}</dd>
    <dt>Start date</dt><dd>{{ event.start_date }}</dd>
    {% if event.end_date %}<dt>End date</dt><dd>{{ event.end_date }}</dd>{% endif %}
    <form action="{% url 'register' event_slug=event.slug %}" method="post">
        {% csrf_token %}
        {{ form|as_dl }}
        <p>
            <input type="submit" class="submit" value="Register" />
        </p>
    </form>
    {% else %}
    <div>Sorry, this event has already ended.  You can no longer register for it.</div>
    {% endif %}
{% endblock %}