{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}Add/Edit Credentials{% endblock %}
{% block h1 %}Add/Edit Credentials{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "faculty:index" %}">Faculty Management</a></li>
<li><a href="{% url "faculty:list_positions" %}">Positions</a></li>
<li><a href="{% url "faculty:view_position" position_id=position.id %}">{{ position.title }}</a></li>
<li>Add/Edit Credentials</li>
{% endblock %}


{% block content %}
<form action="{% url "faculty:position_add_credentials" position_id=position.id%}" method="post">
    {% csrf_token %}
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Save Credentials" />
    </p>
</form>
{% endblock %}