{% extends "base.html" %}
{% load form_display %}
{% load static %}
{% load humanize %}

{% block title %}{{ position.title }}{% endblock %}
{% block h1 %}{{ position.title }}{% endblock %}


{% block subbreadcrumbs %}
<li><a href="{% url 'faculty:index' %}">Faculty Management</a></li>
<li><a href="{% url 'faculty:list_positions' %}">Positions</a></li>
<li><a href="{% url 'faculty:view_position' position_id=position.id %}">{{ position.title }}</a></li>
<li>Assign Person</li>
{% endblock %}


{% block content %}
    <ul>
        <li>
            <a href="{% url 'faculty:assign_position_person' position_id=position.id %}">Assign Current User</a>
        </li>
        <li>
            <a href="{% url 'faculty:assign_position_futureperson' position_id=position.id %}">
            Assign Future Person</a>
        </li>
    </ul>
{% endblock %}
