{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block headextra %}
<link type="text/css" href="{{STATIC_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript" src="{% static 'js/faculty.js' %}"></script>
<script nonce="{{ CSP_NONCE }}">
  $(function() {
    $("#id_owners").css("min-height", "180px").multiselect();
  });
</script>
{% endblock %}

{% block title %}Edit Grant: {{ grant }}{% endblock %}
{% block h1 %}Edit Grant: {{ grant }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'faculty:index' %}">Faculty</a></li>
<li><a href="{% url 'faculty:grant_index' %}">Grants</a></li>
<li>Edit Grant: {{ grant }}</li>
{% endblock %}

{% block content %}
<div class="form_container">
  <form action="{% url 'faculty:edit_grant' grant.unit.slug grant.slug %}" method="post">
    {% csrf_token %}
    <fieldset>
      {{grant_form|as_dl}}
      <p>
        <input class="submit"  type="submit" value="Submit" />
      </p>
    </fieldset>
  </form>
</div>
{% endblock %}
