{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}Add {{ config_name }}{% endblock %}
{% block h1 %}Add {{ config_name }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'faculty:index' %}">Faculty</a></li>
<li><a href="{% url 'faculty:manage_event_index' %}">Manage Event Types</a></li>
<li><a href="{% url 'faculty:event_config' event_type=event_type_slug %}">{{ event_name }}</a></li>
<li>Add {{ config_name }}</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{% static "js/faculty.js" %}"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {{ form|as_dl }}
  <p><input class="submit" type="submit" value="Add" /></p>
  </form>
{% endblock %}