{% extends "base.html" %}
{% block title %}Career Events{% endblock %}
{% block h1 %}Career Events{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#event_type_table').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    "aoColumns": [null,
    ],
    "bJQueryUI": true,
  } );
} );
</script>
{% endblock %}
{% block subbreadcrumbs %}
<li><a href="{% url "faculty.views.index" %}">Faculty</a></li>
<li><a href="{% url "faculty.views.summary" userid=person.userid_or_emplid %}">{{ person.name }}</a></li>
<li>Event Types</li>
{% endblock %}

{% block content %}
<div class="datatable_container">
<table id="event_type_table" class="display">
  <thead><tr>
    <th scope="col">Title</th>
  </tr></thead>
  <tbody>
  {% for type in event_types %}
  <tr>
    <td><a href="{% url 'faculty_create_event' userid=person.userid_or_emplid handler=type.type|lower %}">{{ type.name }}</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
