{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}Faculty Setup Wizard: {{ person.name }}{% endblock %}
{% block h1 %}Faculty Setup Wizard: {{ person.name }}{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{% static "js/faculty.js" %}"></script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "faculty:index" %}">Faculty</a></li>
<li><a href="{% url "faculty:summary" userid=person.userid_or_emplid %}">{{ person.name }}</a></li>
<li>Setup Wizard</li>
{% endblock %}

{% block actions %}
{% if not position %}
<li><a href="{% url "faculty:pick_position" userid=person.userid_or_emplid %}">Fill from position</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="form_container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for form in event_form %}
        <fieldset>
            <legend>{{ form.legend }}</legend>
            {{ form|as_dl }}
            {{ form.media }}
        </fieldset>
        {% endfor %}
        <p><input type="submit" class="submit" value="Submit" /></p>
    </form>
</div>
{% endblock %}
