{% extends "base.html" %}
{% load static %}
{% load visa_display %}

{% block title %}Faculty Management{% endblock %}
{% block h1 %}Faculty Management{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/visas.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "style/tacontracts.css" %}" type="text/css">
<script type="text/javascript" src="{% static 'js/faculty.js' %}"></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('.facultytable').DataTable( {
    'bPaginate': false,
    'bInfo': true,
    "aaSorting": [[0, "asc"]],
    "bJQueryUI": true,
  } );
  $('#filter-form').change( function() {
          event_filter_update('facultytable');
          event_filter_update('formerfaculty');
        }).change();
});

</script>
{% endblock %}

{% block actions %}
<div id="actions">
  <h2>Actions</h2>
  <ul class="fa-ul">
    {% if is_admin %}
        <li>
          <a href="{% url 'faculty:manage_faculty_roles' %}"><i class="fa fa-li fa-plus"></i> Add/Remove Faculty Members</a>
        </li>
        <li>
          <a href="{% url 'faculty:manage_event_index' %}"><i class="fa fa-li fa-wrench"></i> Event Management</a>
        </li>
        <li>
          <a href="{% url 'faculty:status_index' %}"><i class="fa fa-li fa-thumbs-o-up"></i> Event Queue {% if queued_events %}<i class="fa fa-warning infomessage"> {{ queued_events }}</i>{% endif %}</a>
        </li>
        <li>
          <a href="{% url 'faculty:list_positions' %}"><i class="fa fa-li fa-sitemap"></i> Positions</a>
        </li>

        <li class="newsec">
          <a href="{% url 'faculty:search_index' %}"><i class="fa fa-li fa-search"></i> Event Search</a>
        </li>
        <li class="newsec">
          <a href="{% url 'faculty:salary_index' %}"><i class="fa fa-li fa-money"></i> Salaries</a>
        </li>
        <li>
          <a href="{% url 'faculty:fallout_report' %}"><i class="fa fa-li fa-umbrella"></i> Fallout Report</a>
        </li>
    {% endif %}
    <li>
      <a href="{% url 'faculty:teaching_capacity' %}"><i class="fa fa-li fa-briefcase"></i> Teaching Capacity by Unit</a>
    </li>
    <li>
      <a href="{% url 'faculty:course_accreditation' %}"><i class="fa fa-li fa-flag"></i> Courses by Instructor Accreditation</a>
    </li>
    {% if is_admin %}
        {% if not viewvisas %}
        <li>
            <a href="{% url 'faculty:index' %}?viewvisas=True"><i class="fa fa-li fa-plane"></i>View Visa Information</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'faculty:index' %}"><i class="fa fa-li fa-users"></i>View Rank and Unit</a>
        </li>
        {% endif %}
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block subbreadcrumbs %}
<li>Faculty Management</li>
{% endblock %}

{% block content %}

{% include 'faculty/_unit_form.html' %}

<table id="facultytable" class="facultytable display">
  <thead><tr><th scope="col">Name</th>{% if viewvisas and is_admin %}<th>Visa Information</th>{% else %}<th scope="col">Rank</th><th scope="col">Unit</th>{% endif %}</tr></thead>
  <tbody>
  {% for person,units,ranks in fac_roles %}
  <tr class="{% for u in units %}{{ u.label }} {% endfor %}">
  <td><a href="{% url "faculty:summary" userid=person.userid_or_emplid %}">{{person.sortname}}</a></td>
  {% if viewvisas and is_admin %}<td>{{ person|display_visas }}</td>
  {% else %}
  <td>{{ ranks }}</td>
  <td>
      {% for u in units %}{{ u.informal_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
  </td>
  {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>


<h2 id="gone">Former Faculty Members</h2>
<table id="formerfaculty" class="facultytable display">
  <thead><tr><th scope="col">Name</th><th scope="col">Rank</th><th scope="col">Unit</th></tr></thead>
  <tbody>
  {% for person,units,ranks in fac_roles_gone %}
  <tr class="{% for u in units %}{{ u.label }} {% endfor %}">
  <td><a href="{% url "faculty:summary" userid=person.userid_or_emplid %}">{{person.sortname}}</a></td>
  <td>{{ ranks }}</td>
  <td>
      {% for u in units %}{{ u.informal_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
  </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% if is_admin %}
    <h2 id="future">Future Faculty Members</h2>
    <table id="futurefaculty" class="facultytable display">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Converted to Faculty</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for person in future_people %}
        <tr>
        <td><a href="{% url "faculty:view_futureperson" futureperson_id=person.id %}">{{ person.sortname }}</a></td>
        <td>{{ person.get_position_name }}</td>
        <td>{{ person.assigned|yesno }}</td>
        <td>
            <form class="lineform" method="POST" action="{% url "faculty:delete_futureperson" futureperson_id=person.id %}">
                {% csrf_token %}
                <button type='submit' class='btn confirm-submit' title="Delete Future Member" data-submit-action="delete this future faculty member">
                    <i class='fa fa-trash-o'></i>
                </button>
            </form>
            <a class="lineform" href="{% url "faculty:edit_futureperson" futureperson_id=person.id %}">
                <button type='submit' class='btn' title="Edit Person">
                    <i class='fa fa-edit'></i>
                </button>
            </a>

        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
