{% extends "base.html" %}
{% block title %}Faculty Management{% endblock %}
{% block h1 %}Faculty Management{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#facultytable').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    "aaSorting": [[0, "asc"]],
    "bJQueryUI": true,
  } );
} );
</script>
{% endblock %}

{% block actions %}
<div id="actions">
  <h2>Actions</h2>
  <ul class="fa-ul">
    <li>
      <a href="{% url 'faculty.views.manage_event_index' %}"><i class="fa fa-li fa-wrench"></i> Event Management</a>
    </li>
    <li>
      <a href="{% url 'faculty.views.search_index' %}"><i class="fa fa-li fa-search"></i> Event Search</a>
    </li>
    <li>
      <a href="{% url 'faculty.views.status_index' %}"><i class="fa fa-li fa-thumbs-o-up"></i> Event Queue</a>
    </li>    
    <li>
      <a href="{% url 'faculty.views.salary_index' %}"><i class="fa fa-li fa-money"></i> Salaries</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block subbreadcrumbs %}
<li>Faculty Management</li>
{% endblock %}

{% block content %}

<div class="datatable_container">
<table id="facultytable" class="display">
  <thead><tr><th scope="col">Name</th><th scope="col">Unit</th></tr></thead>
  <tbody>
  {% for person,units in fac_roles %}
  <tr>
  <td><a href="{% url "faculty.views.summary" userid=person.userid_or_emplid %}">{{person.sortname}}</a></td>
  <td>{{ units }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
