{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}Edit Memo{% endblock %}
{% block h1 %}Edit Memo{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{% static 'js/faculty.js' %}"></script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'faculty:index' %}">Faculty</a></li>
<li><a href="{% url 'faculty:summary' userid=person.userid_or_emplid %}">{{ person.name }}</a></li>
<li><a href="{% url 'faculty:view_event' userid=person.userid_or_emplid event_slug=event.slug %}">{{ event.handler_type_name }}</a></li>
<li>Manage Memo</li>
{% endblock %}

{% block content %}
{% with reason=memo.uneditable_reason %}
{% if reason %}<p class="warningmessage"><i class="fa fa-exclamation-circle"></i> This memo cannot be edited ({{ reason}}). A modified copy will be saved instead.</p>{% endif %}
{% endwith %}
<form action="{% url 'faculty:manage_memo' userid=person.userid_or_emplid event_slug=event.slug memo_slug=memo.slug %}" method="post">
{% csrf_token %}
{{ form|as_dl }}
<p><input  class="submit"  type="submit" value="Submit" /></p>
</form>
{% endblock %}
