{% extends "base.html" %}
{% load form_display %}

{% block title %}Edit Memo Template{% endblock %}
{% block h1 %}Edit Memo Template{% endblock %}

{% block subbreadcrumbs %}
<li>
	<a href="{% url "faculty.views.index" %}">Faculty</a>
</li>
<li>
	<a href="{% url "faculty.views.memo_templates" %}">Memo Template</a>
</li>
<li>
	Edit
</li>
{% endblock %}

{% block headextra %}
<script>
$( document ).ready(function() {
    var help = $('#template-help');
    var field = $('#id_template_text');
    help.css('float', 'right');
    help.insertBefore(field);
});
</script>
{% endblock %}

{% block content %}
<div class="form_container">
	<form action="{% url "faculty.views.manage_memo_template" slug=memo_template.slug%}" method="post">
		{% csrf_token %}
        <fieldset>
            {{ form|as_dl }}
        </fieldset>

				<div id="template-help">
						<h3>Available tags:</h3>
							<dl>
								<dt>
									TBD
								</dt>
								<dd>
									TBD
								</dd>
							</dl>
				</div>
			<p>
				<input  class="submit"  type="submit" value="Submit" />
			</p>
			</div>
		</fieldset>
	</form>
</div>
{% endblock %} 