{% extends "base.html" %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li >
		<a href="{% url 'faculty.views.new_memo_template' event_type=event_type_slug %}">New Memo Template</a>
		</li>
		{% if flags %}
		<li >
		<a href="{% url 'faculty.views.new_event_flag' event_type=event_type_slug %}">New Event Flag</a>
		</li>
		{% endif %}
	</ul>
</div>
{% endblock %}

{% block title %}Event Management{% endblock %}
{% block h1 %}Event Management{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "faculty.views.index" %}">Faculty</a></li>
<li><a href="{% url 'faculty.views.manage_event_index' %}">Manage Event Types</a></li>
<li>{{ event_name }}</li>
{% endblock %}

{% block content %}
<h2>Memo Templates</h2>
{% if templates %}
<div class="table_container">
  <table class="display" id="memo_templates">
    <thead>
      <tr>
        <th scope="col">Template Name</th>
        <th scope="col">Event Type</th>
        <th scope="col">Content</th>
        <th scope="col">Created At</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for s in templates %}
      <tr>
        <td>{{s.label}}</td>
        <td>{{s.get_event_type_display}}</td>
        <td>{{s.template_text|truncatechars:50}}</td>
        <td>{{s.created_at}}</td>
        <td><a href="{% url 'faculty.views.manage_memo_template' event_type=event_type_slug slug=s.slug %}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>There are no templates for this event type. <a href="{% url 'faculty.views.new_memo_template' event_type=event_type_slug %}">Create one now.</a></p>
{% endif %}

{% if flags %}
<h2>Event Flags</h2>
<div class="table_container">
	<table class="display" id="memo_templates">
		<thead>
			<tr>
				<th scope="col">Flag Name</th>
				<th scope="col">Unit</th>
				<!--<th scope="col">Action</th>-->
			</tr>
		</thead>
		<tbody>
			{% for t in flags %}
			{% for value in t.config.fellowships%}
			<tr>
				{% if value.2 == 'ACTIVE' %}
				<td>{{value.1}}</td>
				<td>{{t.unit}}</td>
				<!--<td><a href="{% url 'faculty.views.delete_event_flag' event_type=event_type_slug unit=t.unit.label flag=value.0 %}">Delete</a></td>-->
				{% endif %}
			</tr>
			{% endfor %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock %} 