{% extends "base.html" %}
{% load mobile_tags %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li >
			<a href="{% url 'faculty.views.new_memo_template' %}">New Memo Template</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	<a href="{% url "faculty.views.index" %}">Faculty</a>
</li>
<li>
	{{crumb}}
</li>
{% endblock %}

{% block content %}
<div class="table_container">
	<table class="display" id="memo_templates">
		<thead>
			<tr>
				<th scope="col">Template Name</th>
				<th scope="col">Event Type</th>
				<th scope="col">Content</th>
				<th scope="col">Created At</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for s in templates %}
			<tr>
				<td>{{s.label}}</td>
				<td>{{s.event_type}}</td>
				<td>{{s.template_text|slice:":75"}}</td>
				<td>{{s.created_at}}</td>
				<td><a href="{% url "faculty.views.manage_memo_template" slug=s.slug %}">Manage</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} 
