{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block headextra %}
<script type="text/javascript" src="{% static "js/faculty.js" %}"></script>
<script nonce="{{ CSP_NONCE }}">//<![CDATA[
    function getData(url) {
      $.ajax({
        type : "GET",
        url : url,
        success : function(data) {
          $("#id_memo_text").html(data);
        }
      })
    }

  $(document).ready(function() {
    $("#id_sent_date").datepicker({
      'dateFormat' : 'yy-mm-dd'
    });

    {% if not notemplate %}
    url = '{% url "faculty:get_memo_text" userid=person.userid_or_emplid event_slug=event.slug memo_template_id=template.id %}'
    getData(url);
    {% endif %}

    $("#id_from_lines").html(subject);
  });

//]]></script>
{% endblock %}

{% block title %}New {{ template.label|title }} Memo{% endblock %}
{% block h1 %}New {{ template.label|title }} Memo{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'faculty:index' %}">Faculty</a></li>
<li><a href="{% url 'faculty:summary' userid=person.userid_or_emplid %}">{{ person.name }}</a></li>
<li><a href="{% url 'faculty:view_event' userid=person.userid_or_emplid event_slug=event.slug %}">{{ event.handler_type_name }}</a></li>
<li>New {{ template.label|title }} Memo</li>
{% endblock %}

{% block content %}
<div class="form_container">
  <form action="" method="post">
    {% csrf_token %}
    <fieldset>
      {{ form|as_dl }}
      <p>
        <input class="submit"  type="submit" value="Submit" />
      </p>
    </fieldset>
  </form>
</div>
{% endblock %}
