{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block headextra %}
<script type="text/javascript" src="{% static 'js/faculty.js' %}"></script>
{% endblock %}

{% block title %}New Position{% endblock %}
{% block h1 %}New Position{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "faculty:index" %}">Faculty Management</a></li>
<li><a href="{% url "faculty:list_positions" %}">Positions</a></li>
<li>New Position</li>
{% endblock %}

{% block content %}
<form action="{% url "faculty:new_position" %}" method="post">
    {% csrf_token %}
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Add New Position">
    </p>
</form>
{% endblock %}