{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block headextra %}
<script type="text/javascript" src="{% static 'js/faculty.js' %}"></script>
{% endblock %}

{% block title %}New Grant{% endblock %}
{% block h1 %}New Grant{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'faculty:index' %}">Faculty</a></li>
<li><a href="{% url 'faculty:grant_index' %}">Grants</a></li>
<li>New Grant</li>
{% endblock %}

{% block content %}
<div class="form_container">
  <form action="{% url 'faculty:new_grant' %}" method="post">
    {% csrf_token %}
    <fieldset>
      {{ grant_form|as_dl }}
      <p>
        <input class="submit"  type="submit" value="Submit" />
      </p>
    </fieldset>
  </form>
</div>
{% endblock %}
