{% extends "base.html" %}
{% load event_display %}
{% load static %}
{% block title %}Faculty Summary: {{ person.name }}{% endblock %}
{% block h1 %}Faculty Summary: {{ person.name }}{% endblock %}

{% block headextra %}
<script src="{% static "js/faculty.js" %}"></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#career_event_table').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    "aaSorting": [[2, "desc"]],
    "bJQueryUI": true,
  } );

  $('#filter-form').change( function() {
    event_filter_update('career_event_table');
  });
  event_filter_update('career_event_table');

});
</script>
{% endblock %}
{% block subbreadcrumbs %}
<li><a href="{% url "faculty:index" %}">Faculty</a></li>
<li>{{ person.name }}</li>
{% endblock %}



{% block actions %}
<div id="actions">
  <h2>Actions</h2>
  <ul class="fa-ul">
    {% if is_admin %}
        {% if not can_wizard %}
        <li><a href="{% url 'faculty:event_type_list' userid=person.userid_or_emplid %}"><i class="fa fa-li fa-plus"></i> Create New Event</a></li>
        {% else %}
        <li><a href="{% url 'faculty:faculty_wizard' userid=person.userid_or_emplid %}"><i class="fa fa-li fa-magic"></i> Faculty Setup Wizard</a></li>
        {% endif %}
        <li>
          <a href="{% url 'faculty:faculty_member_info' userid=person.userid_or_emplid %}">
            <i class="fa fa-li fa-user"></i> Contact Info
          </a>
        </li>
  {% endif %}
    <li {% if is_admin %}class="newsec"{% endif %}><a href="{% url 'faculty:teaching_summary' userid=person.userid_or_emplid %}"><i class="fa fa-li fa-book"></i> Teaching Summary</a></li>
    <li><a href="{% url 'faculty:study_leave_credits' userid=person.userid_or_emplid %}"><i class="fa fa-li fa-rocket"></i> Study Leave Credits</a></li>
    {% if is_admin %}<li><a href="{% url 'faculty:salary_summary' userid=person.userid_or_emplid %}"><i class="fa fa-li fa-money"></i> Salary Info</a></li>{% endif %}
  <li><a href="{% url 'faculty:otherinfo' userid=person.userid_or_emplid %}"><i class="fa fa-li fa-list"></i> View Faculty Member Summary</a></li>
    {% if career_events and is_admin %}
    <li class="newsec">
      <a href="{% url 'faculty:timeline' person.userid_or_emplid %}">
        <i class="fa fa-li fa-random"></i> Career Timeline
      </a>
    </li>
        {% if resume %}
            <li><a href="{{ resume.get_absolute_url }}"><i class="fa fa-li fa-address-card"></i> Show latest resume</a></li>
        {% endif %}
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
{% if is_admin %}
<form id="filter-form" action="">
  {% for radio in filterform.category %}
  {{ radio }}
  {% endfor %}
</form>

<table id="career_event_table" class="display">
  <thead><tr class="th">
    <th scope="col">Event</th>
    <th scope="col">Event Type</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    <th scope="col">Status</th>
  </tr></thead>
  <tbody>
  {% for e in career_events %}
  {% if editor|can_view:e %}
  <tr class="{{ e.filter_classes }}">
    <td><a href="{{ e.get_absolute_url }}">{{ e.get_handler.short_summary }}
        {% if e.has_memos %} &nbsp;<i class="fa fa-envelope-o" title="Memo(s)"></i>{% endif %}
        {% if e.has_attachments %} &nbsp;<i class="fa fa-paperclip" title="Attachment(s)"></i>{% endif %}
    </a></td>
    <td>{{ e.get_event_type_display }}</td>
    <td><span class="sort">{{ e.start_date.isoformat }}</span>{{ e.start_date }}</td>
    <td>{% if e.end_date %}<span class="sort">{{ e.end_date.isoformat }}</span>{{ e.end_date }}{% else %}&mdash;{% endif %}</td>
    <td>{{ e.get_status_display }}</td>
  </tr>
  {% endif %}
  {% endfor %}
</tbody>
</table>

{% with grants=person.grant_set.all %}
{% if grants %}
<h2 id="grants">Grants Owned</h2>
<table id="grants_table">
  <thead><tr class="th">
    <th scope="col">Grant</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
  </tr></thead>
  <tbody>
  {% for grant in grants %}
  <tr>
    <td><a href="{{ grant.get_absolute_url }}">{{ grant }}</a></td>
    <td><span class="sort">{{ grant.start_date.isoformat }}</span>{{ grant.start_date }}</td>
    <td><span class="sort">{{ grant.end_date.isoformat }}</span>{{ grant.end_date }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
{% endwith %}
{% endif %}
{% endblock %}
