{% extends "base.html" %}
{% load event_display  %}
{% block title %}Teaching Summary: {{ person.name }}{% endblock %}
{% block h1 %}Teaching Summary: {{ person.name }}{% endblock %}

{% block headextra %}
<style type="text/css">
    input[type="number"] {
      width:70px;
    }
    #balance {
      float: right;
    }
</style>
<script type="text/javascript">
$(document).ready(function() {
  $('#teaching_event_table').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    "aaSorting": [[0, "asc"]],
    "bJQueryUI": true,
  } );
} );
</script>
{% endblock %}
{% block subbreadcrumbs %}
<li><a href="{% url "faculty.views.index" %}">Faculty</a></li>
<li><a href="{% url "faculty.views.summary" userid=person.userid_or_emplid %}">{{ person.name }}</a></li>
<li>Teaching Summary</li>
{% endblock %}

{% block content %}
<form action="{% url 'faculty.views.teaching_summary' userid=person.userid_or_emplid %}" method="GET">
  {{ form.as_p }}
  <input type="submit" value="Select" />
</form>

<div class="datatable_container">
  <table id="teaching_event_table" class="display">
    <thead><tr class="th">
      <th scope="col">Semester</th>
      <th scope="col">Course/Event Type</th>
      <th scope="col">Summary</th>
      <th scope="col">Credits</th>
    </tr></thead>
    <tbody>
    {% for semester, course, summary, credits in events %}
    <tr>
      <td>{{ semester }}</td>
      <td>{{ course }}</td>
      <td>{{ summary }}</td>
      <td>{{ credits }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% if events %}
<h3 id="balance"> Teaching Credit Balance = {{ credit_balance }}</h3>
{% endif %}
{% endblock %}
