{% extends "base.html" %}
{% load form_display %}{% load static %}
{% block title %}Add Text Attachment{% endblock %}
{% block h1 %}Add Text Attachment{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
var event_type = "{{ event_type|escapejs }}";
</script>
<script type="text/javascript" src="{% static "js/faculty.js" %}"></script>
{% endblock %}
{% block subbreadcrumbs %}
<li><a href="{% url "faculty:index" %}">Faculty</a></li>
<li><a href="{% url "faculty:summary" userid=person.userid_or_emplid %}">{{ person.name }}</a></li>
<li><a href="{{ event.get_absolute_url }}">{{ event.handler_type_name }}</a></li>
<li>Add Text Attachment</li>
{% endblock %}

{% block content %}
<div class="form_container">
    <form action="{{ event.get_attachment_form }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {{ form|as_dl }}
            <p><input type="submit" class="submit" value="Create Attachment" /></p>
        </fieldset>
    </form>
</div>
{% endblock %}
