{% extends "base.html" %}
{% block title %}View Salary: {{ person.name }}{% endblock %}
{% block h1 %}View Salary: {{ person.name }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "faculty.views.index" %}">Faculty</a></li>
<li><a href="{% url "faculty.views.summary" userid=person.userid_or_emplid %}">{{ person.name }}</a></li>
<li>Get Salary</li>
{% endblock %}

{% block content %}
<form action="{% url 'faculty.views.view_salary' userid=person.userid_or_emplid %}" method="GET">
  {{ form.as_p }}
  <input type="submit" value="Select" />
  <div>Salary: ${{ salary|floatformat:2 }}<div>
</form>
{% endblock %}