{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#memo_table').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    "aaSorting": [[2, "asc"]],
    "aoColumns": [null,
                  null,
                  { "sType": "by-date" },
                  { "sType": "by-date" },
                  null,
    ],
    "bJQueryUI": true,
  } );
} );
</script>
{% endblock %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
{% for t in templates%}
<li><a href="">New {{t.label|title}} Letter</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}

{% block title %}event name: Letters{% endblock %}
{% block h1 %}event name: Letters{% endblock %}

{% block subbreadcrumbs %}
<li>Letters</li>
{% endblock %}

{% if index and can_edit %}<p class="manage_link"><a href="">Manage Letters</a></p>{% endif %}
<div class="datatable_container">
	<table class="display" id="memo_table">
		<thead>
			<tr>
				<th scope="col">Template</th>
				<th scope="col">Send Date</th>
                <th scope="col">Creation Date</th>
				<th scope="col">From</th>
				{% if not index %}<th scope="col">Actions</th>{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for l in letters %}
			<tr>
				<td> {{ l.template.label }} </td>
				<td> <span class="sort">{{ l.date.isoformat }}</span>{{ l.date|date:GRAD_DATE_FORMAT }} </td>
				<td> <span class="sort">{{ l.created_at.isoformat }}</span>{{ l.created_at|date:GRAD_DATETIME_FORMAT }} </td>
				<td> {{ l.from_person }} </td>
				{% if not index %}<td><a href="">Get PDF</a>
					| <a href="">View Body</a>
					| <a href="">Copy Letter</a></td>{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
