{% extends "base.html" %}
{% load form_display %}
{% load event_display %}
{% load staticfiles %}

{% block title %}Grant: {{ grant }}{% endblock %}
{% block h1 %}Grant: {{ grant }}{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/faculty.css" %}" />
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'faculty.views.index' %}">Faculty</a></li>
<li><a href="{% url 'grants_index' %}">Grants</a></li>
<li>{{ grant.title }}</li>
{% endblock %}

{% block actions %}
<div id="actions">
  <h2>Actions</h2>
  <ul>
    <li><a href="{% url 'edit_grant' grant.unit.label|lower grant.slug %}">Edit Grant</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="grant">
<p>Start Date: {{ grant.start_date }}</p>
<p>Initial: ${{ grant.initial }}</p>
<p>Overhead: ${{ grant.overhead }}</p>
<p>Status: {{ grant.get_status_display }}</p>
<h3>Balance</h3>
<table id="grant_balance_table" class="display">
  <thead><tr><th scope="col">Date</th><th scope="col">Balance</th><th scope="col">YTD Actual</th><th>This Month</th></tr></thead>
  <tbody>
  {% for bal in grant.grantbalance_set.all %}
  <tr>
    <td>{{ bal.date }}</td>
    <td>${{ bal.balance }}</td>
    <td>${{ bal.actual }}</td>
    <td>${{ bal.month }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<div class="clearfix"></div>

{% endblock %}
