{% extends "base.html" %}
{% load form_display %}
{% load event_display %}
{% load staticfiles %}

{% block title %}{{ person.name }}: {{ event.title }}{% endblock %}
{% block h1 %}{{ person.name }}: {{ event.title }}{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/faculty.css" %}" />
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "faculty.views.index" %}">Faculty</a></li>
<li><a href="{% url "grants_index" %}">Grants</a></li>
<li>{{ grant.title }}</li>
{% endblock %}

{% block actions %}
<div id="actions">
  <h2>Actions</h2>
  <ul>
    <li><a href="#">Edit Grant</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="grant">
{{ grant }}
</div>
<div class="clearfix"></div>

{% endblock %}

