{% extends "submission/base.html" %}

{% block h1 %}Submission for {{activity.name}}{% endblock %}

{% block breadcrumbs %}
<li><a href="http://www.sfu.ca/">SFU</a></li>
<li>&gt; <a href="http://www.cs.sfu.ca/">Computing Science</a></li>
<li>&gt; <a href="/">Course Management</a></li>
<li>&gt; <a href="/submission">Submission</a></li>
<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{course.name}}</a></li>
<li>&gt; <a href="{% url submission.views.show_components course_slug=course.slug activity_slug=activity.slug%}">{{activity.short_name}}</a></li>
{% block breadcrumbs_extra %}{% endblock %}
{% endblock %}

{% block content%}

{% ifequal submitted_pair|length 0 %}
    {# there is no component #}
{% else %}

        {% block studentinfo %}
        {% endblock %}

        {% block time %}
        <table id="time_block">
            <tr>
                <td><h3>Due Date:</h3></td>
                <td>{{activity.due_date}}</td>
            </tr>
            <tr>
                <td><h3>Latest Submission:</h3></td>
                <td>{% if submit_time%} {{submit_time|date:"Y-m-d"}} {{submit_time|time:"H:i:s"}} {% else %} No Submission {% endif %}</td>
            </tr>
            {% if late %}
            <tr id="late_for">
                <td><h3>Late for:</h3></td>
                <td>{{activity.due_date|timesince:submit_time}}</td>
            </tr>
            {% endif %}
            {% block current_time %}
            <tr>
                <td><h3>Current Time:</h3></td>
                <td>{% now "Y-m-d H:i:s" %}</td>
            </tr>
            {% endblock %}
            {% block owner %}
            {% endblock %}
        </table>
        {% endblock %}

        {% block navbutton %}
        <div id="my_submission_dashboard"><h1>My Submission</h1>
        <ul class="add_nav">
            <li><a href ="submit/" class="button">New Submission</a></li>
            {% if submit_time %}
            <li><a href ="history/" class="button">View History</a></li>
            <li><a href ="{% url submission.views.download_file course_slug=course.slug activity_slug=activity.slug %}?user-id={{userid}}" class="button" >Download All</a></li>
            {% endif %}
        </ul>
        </div>
        {% endblock %}

        <div id="form_container">
        <div id="component_view_student_container">

        {# <!-- pair<component, its latest submission> --> #}
        {% for pair in submitted_pair %}
        <h2>{{forloop.counter}}. {{pair.0.title}}</h2>
        <h3>{{pair.0.get_type}} Component</h3>
        <ul class="component_description">
            <li class="view"><label>Description:</label>{{pair.0.description}}</li>
            {% if pair.0.max_size %}<li class="view"><label>Max File Size:</label>{{pair.0.max_size}} KB</li>{% endif %}
            {% if pair.0.max_length %}<li class="view"><label>Max Length:</label>{{pair.0.max_length}} Characters</li>{% endif %}
        </ul>

        {% ifequal pair.1 None %}
            <div class="warningindicator">
                <img src="{{MEDIA_URL}}icons/cancel.png" alt="warning" />
                You haven't made any submission to this component.
            </div>
        {% else %}
            <div class="successindicator">
                <img src="{{MEDIA_URL}}icons/tick.png" alt="check" />
                You have made submission to this component.
                <ul class="component_description">
                    <li><label>Latest Submission: </label>{{pair.1.get_time}}</li>
                    {% if pair.1.get_size %}
                        <li><label>File Size:</label>{{pair.1.get_size_in_kb}} KB</li>
                    {% endif %}
                    {% ifequal pair.1.get_type 'URL' %}
                        <li><label>URL:</label><a href="{{pair.1.get_url}}">{{pair.1.get_url}}</a></li>
                    {% else%}
                    {% ifequal pair.1.get_type 'PlainText' %}
                        <li><label>Text:</label><pre>{{pair.1.text}}</pre></li>
                    {% endifequal %}
                    {% endifequal %}
                    <li><img src="{{MEDIA_URL}}icons/attach.png" alt="download" /><a href="{% url submission.views.download_file course_slug=course.slug activity_slug=activity.slug %}?type={{pair.1.get_type}}&user-id={{userid}}&id={{pair.1.id}}" target="_blank">Download File</a></li>
                </ul>
            </div>

        {% endifequal %}


        {% endfor %}
        </div>
        </div>

{% endifequal %}

{% endblock %}