{% extends "submission/base.html" %}
{% load course_display %}

{% block headextra %}
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/ui.all.css" />
<link type="text/css" href="{{MEDIA_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/jquery-ui-1.8.custom.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/plugins/localisation/jquery.localisation-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/plugins/scrollTo/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/"></script>
<script type="text/javascript">
	$(function(){
		$.localise('ui-multiselect', {/*language: 'en',*/ path: '{{MEDIA_URL}}multiselect/js/locale/'});
		$(".multiselect").multiselect();
		$('#switcher').themeswitcher("Redmond");
	});
</script>
{% endblock %}

{% block title %}Add Submission Component for {{activity.name}}{% endblock %}
{% block h1 %}Add Submission Component for {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{{ course.get_absolute_url }}">{{course.name}}</a></li><li>&gt; <a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>&gt; <a href="{% url submission.views.show_components course_slug=course.slug activity_slug=activity.slug %}">Submission Components</a></li><li>&gt; New</li>{% endblock %}

{% block content %}
<h2>Select Component Type:</h2>

<ul class="add_nav">
{% for t in types %}
  <li><a href="?type={{t.label}}" class="button"{% ifequal t.label type.label %}id="current_type"{% endifequal %}>{{t.name}}</a></li>
{% endfor %}
</ul>

<div id="form_container">
<div id="add_submission_component_container">

<form action="" method="post">
<fieldset>
    <legend>Add Component</legend>
	{% if form.custom_form %}
		{{form.custom_form}}
	{% else %}
		{{form|display_form}}
	{% endif %}
</fieldset>
</form>
</div>
<div id="switcher" style="display:none"></div>
    
</div>
{% endblock %}
