{% extends "submission/base.html" %}
{% load course_display %}

{% block headextra %}
{% endblock %}

{% block h1 %}Configure Submission for {{activity.name}}{% endblock %}

{% block breadcrumbs %}
<li><a href="http://www.sfu.ca/">SFU</a></li>
<li>&gt; <a href="http://www.cs.sfu.ca/">Computing Science</a></li>
<li>&gt; <a href="/">Course Management</a></li>
<li>&gt; <a href="/submission">Submission</a></li>
<li>&gt; <a href="{% url grades.views.course course_slug=course.slug %}">{{course.name}}</a></li>
<li>&gt; <a href="">{{activity.short_name}}</a></li>
{% block breadcrumbs_extra %}{% endblock %}
{% endblock %}

{% block content %}
<a class="button" href="add_component/" id="edit_submission_component_add_button">Add Component</a>
<div id="form_container">
<div id="edit_submission_component_container">
    {% if errors %}
    <p class="errorindicator">
        <img src="{{MEDIA_URL}}icons/action_delete.png" alt="error" />
        Please correct the errors below.
    </p>
    {% endif %}
    {% if updated %}
    <p class="successindicator">
        <img src="{{MEDIA_URL}}icons/action_check.png" alt="check" />
        Components updated successfully.
    </p>
    {% endif%}

    {% ifequal form_set|length 0 %}
    <p class="warningindicator">
        <img src="{{MEDIA_URL}}icons/exclamation.png" alt="warning" />
        No component found.
    </p>
    {% else %}
    <form action="" method="post">
    {% for form in form_set %}
    <fieldset>
        <legend>Legend</legend>
        {{form|display_form:'Update'}}
    </fieldset>
    {% endfor %}
    
    </form>
    {% endifequal %}
</div>
</div>


{% endblock %}
