{% extends "submission/base.html" %}
{% load course_display %}

{% block headextra %}
{% endblock %}

{% block title %}Add Submission Component for {{activity.name}}{% endblock %}
{% block h1 %}Add Submission Component for {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{{ course.get_absolute_url }}">{{course.name}}</a></li><li>&gt; <a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>&gt; <a href="{% url submission.views.show_components course_slug=course.slug activity_slug=activity.slug %}">Submission Components</a></li><li>&gt; New</li>{% endblock %}

{% block content %}
<h2>Select Component Type:</h2>

<ul class="add_nav">
{% for t in types %}
  <li><a href="?type={{t.label}}" class="button"{% ifequal t.label type.label %}id="current_type"{% endifequal %}>{{t.name}}</a></li>
{% endfor %}
</ul>

<div id="form_container">
<div id="add_submission_component_container">

<form action="" method="post">
<fieldset>
    <legend>Add Component</legend>
    {{form|display_form}}
</fieldset>
</form>
</div>
    
</div>
{% endblock %}
