{% extends "base.html" %}
{% load form_display %}

{% block headextra %}
<link type="text/css" href="{{STATIC_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_allowed").multiselect();
    var ftype_help = $('#id_filename_type').parent().nextAll().filter('.helptext').first();
    var ftype_help_orig = ftype_help.html();
    $('#id_filename_type').change(function(){
      if ( $('#id_filename_type').val() === 'REX' ) {
        $('#regex-help').show();
        ftype_help.html(ftype_help_orig);
        $('<strong>See regular expression help below.</strong>').hide().appendTo(ftype_help).show('slow');
      } else {
        $('#regex-help').hide();
        ftype_help.html(ftype_help_orig);
      }
    }).change();
  });
</script>
{% endblock %}

{% block title %}Edit Submission Component for {{activity.name}}{% endblock %}
{% block h1 %}Edit Submission Component for {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{{ course.get_absolute_url }}">{{course.name}}</a></li>
<li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li>
<li><a href="{% url "submission.views.show_components" course_slug=course.slug activity_slug=activity.slug %}">Submission Components</a></li>
<li>Edit {{ component.title }}</li>{% endblock %}


{% block content %}
{% if component %}
    <div id="edit_single_submission_component_form_container">

    <form action="" method="post">{% csrf_token %}
    <fieldset>
        <legend>{{component.title}}</legend>
	{{form|as_dl}}
	<p><input class="submit" type="submit" value="Update" /></p>
    </fieldset>
    </form>
    {% include "submission/regex_help.html" %}
    </div>

{% endif %}
{% endblock %}
