{% extends "base.html" %}
{% load static %}

{% block title %}Submission for {{activity.name}}{% endblock %}
{% block h1 %}Submission for {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{course.name}}</a></li><li><a href="{% url "offering:activity_info" course_slug=course.slug activity_slug=activity.slug %}">{{activity.name}}</a></li><li>Submission</li>{% endblock %}


{% block headextra %}
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}" />
    <link rel="stylesheet" href="{% static 'codemirror/theme/eclipse.css' %}" />
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    {% for data in component_form_list %}{% if data.comp.is_live_code %} {# codemirror mode <script> elements for livecode #}
        {{ data.comp.mode_script_element }}
    {% endif %}{% endfor %}
    <script nonce="{{ CSP_NONCE }}">
    var cm;
    function activate_codemirror() {
        $('dd.livecode').each(function(i, dd) {
            dd = $(dd);
            var ta = dd.find('textarea').get(0);
            var mode = dd.attr('data-mode');
            dd.css('float', 'none'); // TODO: ug, our CSS
            cm = CodeMirror.fromTextArea(ta, {'mode': mode});
        });
    }
    $(document).ready(activate_codemirror);
    </script>
{% endblock %}

{% block actions %}
{% if any_submissions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url "offering:submission:show_components_submission_history" course_slug=course.slug activity_slug=activity.slug %}">View Submission History</a></li>
        <li><a href="{% url "offering:submission:download_file" course_slug=course.slug activity_slug=activity.slug userid=userid %}">Download Current Submission</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}


{% block content%}
        <table class="info">
            {% block studentinfo %}{% if activity.group %}<tr><th scope="row">Last Submitter:</th><td>{{student.name}}</td></tr>{% endif %}{% endblock %}
            {% if activity.group %}
            <tr>
                <th scope="row">Group:</th>
                <td>{% if group %}{% block groupinfo %}{{group.name}}{% endblock %}{% else %}<span class="empty">No group</span>{% endif %}</td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Due Date:</th>
                <td>{{activity.due_date|date:"Y-m-d H:i:s"}}</td>
            </tr>
            <tr>
                <th scope="row">Latest Submission:</th>
                <td>{% if any_submissions %} {{submission_info.latest.created_at|date:"Y-m-d H:i:s"}} {% else %} &mdash; {% endif %}</td>
            </tr>
            {% if late %}
            <tr id="late_for">
                <th scope="row">Late for:</th>
                <td class="warningmessage">{{activity.due_date|timesince:submission_info.latest.created_at}}</td>
            </tr>
            {% endif %}
        </table>

        {% if cansubmit and not is_staff %}
            {% if activity.group and not group %}
            <p class="infomessage">This is a group-based activity: you cannot submit because you aren't in a group.</p>
            <p class="infomessage">You need to <a href="{% url "offering:groups:groupmanage" course_slug=course.slug %}">create or join a group</a> before you can submit. It can be a group with only one member if that is allowed by your instructor.</p>
            {% else %}
        <h2 id="submit">Make a Submission</h2>
            {% if submission_info.is_group and group %}
            <p class="infomessage">This is a group activity. You will submit on behalf of the group &ldquo;{{ group }}&rdquo;.</p>
            {% endif %}
            <form action="" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
                    {% for data in component_form_list %}
                        <fieldset>
                        <legend>{{data.comp.title}}</legend>
                        <dl class="inline">
                        {% for f in data.form.visible_fields %}
                        <dt>{{ f.label }}</dt><dd{% if data.comp.is_live_code %} class="livecode" data-mode="{{ data.comp.language }}"{% endif %}>{{ f }}{% if f.help_text %}<p class="helptext">{{ f.help_text }}</p>{% endif %}</dd>
                        {% endfor %}
                        {% if data.comp.description %}<dt>Description</dt><dd>{{data.comp.description|linebreaksbr}}</dd>{% endif %}
                        {% if data.comp.max_size %}<dt>Max File Size</dt><dd>{{data.comp.max_size}} KB</dd>{% endif %}
                        {% if data.comp.allowed %}<dt>Allowed File Types</dt><dd>{{data.comp.get_allowed_display}}</dd>{% endif %}
                        {% if data.comp.specified_filename %}<dt>Specified File Name</dt><dd>{{data.comp.specified_filename}}</dd>{% endif %}
                        </dl>
                        </fieldset>
                    {% endfor %}
                <input type="submit" value="Submit" class="submit"/>

            </form>
            {% endif %}
        {% endif %}

        {% if not activity.multisubmit %}
        <h2 id="submitted">Current Submission</h2>
        {% for comp,subcomp in submission_info.components_and_submitted %}
        <h3 id="submitted-{{ comp.slug }}">{{comp.title}}</h3>

        {% if not subcomp %}
            <p class="empty"><i class="fa fa-exclamation-triangle warningmessage"></i> You haven't made a submission for this component.</p>
        {% else %}
            <ul class="component_description">
                <li>Latest Submission: {{subcomp.get_time}}</li>
                {% if group %}
                <li>Submitter: {{subcomp.get_submitter}}</li>
                {% endif %}
                {% if subcomp.get_size %}
                <li>File Size: {{subcomp.get_size|filesizeformat}} </li>
                {% endif %}
                <li><a href="{% url "offering:submission:download_file" course_slug=course.slug activity_slug=activity.slug component_slug=comp.slug submission_id=subcomp.submission.id %}"><i class="fa fa-download"></i>
                    Download {{ subcomp.get_filename|default:'submission' }}</a></li>
            </ul>
        {% endif %}
        {% endfor %}

        {% else %}
        <h2 id="submitted">Submissions</h2>
        <p class="infomessage">The instructor has flagged this activity for multiple submissions: older submissions will be available to the instructor. How they are used will depend on the course.</p>

        {% for submission, subcomp in submission_info.submissions_and_components %}
            <h3 id="sub-{{ submission.id }}">{{ submission.created_at }}</h3>
            <ul>
            {% for comp, sub in subcomp %}
                {% if sub %}
                <li>{{ comp.title }}:
                    <a href="{% url "offering:submission:download_file" course_slug=course.slug activity_slug=activity.slug component_slug=comp.slug submission_id=submission.id %}"><i class="fa fa-download"></i> {{ sub.get_filename|default:'submission' }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% empty %}
        <p class="empty">None</p>
        {% endfor %}

        {% endif %}

{% endblock %}
