{% extends "base.html" %}

{% block title %}Submission for {{activity.name}}{% endblock %}
{% block h1 %}Submission for {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{course.name}}</a></li><li><a href="{% url "grades.views.activity_info" course_slug=course.slug activity_slug=activity.slug %}">{{activity.name}}</a></li><li>Submission</li>{% endblock %}


{% block actions %}
{% if submission %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        {% if submission %}
        <li><a href="{% url "submission.views.show_components_submission_history" course_slug=course.slug activity_slug=activity.slug %}">View Submission History</a></li>
        <li><a href="{% url "submission.views.download_file" course_slug=course.slug activity_slug=activity.slug userid=userid %}">Download Current Submission</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}


{% block content%}

{% ifequal submitted_pair|length 0 %}
    {# there is no component #}
{% else %}
        <div class="table_container">
        <table class="info">
            {% block studentinfo %}{% if activity.group %}<tr><th scope="row">Last Submitter:</th><td>{{student.name}}</td></tr>{% endif %}{% endblock %}
            {% if activity.group %}
            <tr>
                <th scope="row">Group:</th>
                <td>{% if group %}{% block groupinfo %}{{group.name}}{% endblock %}{% else %}<span class="empty">No group</span>{% endif %}</td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Due Date:</th>
                <td>{{activity.due_date|date:"Y-m-d H:i:s"}}</td>
            </tr>
            <tr>
                <th scope="row">Latest Submission:</th>
                <td>{% if submission %} {{submission.created_at|date:"Y-m-d H:i:s"}} {% else %} &mdash; {% endif %}</td>
            </tr>
            {% if late %}
            <tr id="late_for">
                <th scope="row">Late for:</th>
                <td style="color:red">{{activity.due_date|timesince:submission.created_at}}</td>
            </tr>
            {% endif %}
        </table>
        </div>

        {% if cansubmit %}
        {% if not is_staff %}
            {% if activity.group and not group %}
            <p>This is a group-based activity: you cannot submit because you aren't in a group.</p>
            <p>You need to <a href="{% url "groups.views.groupmanage" course_slug=course.slug %}">create or join a group</a> before you can submit. It can be a group with only one member if that is allowed by your instructor.</p>
            {% else %}
        <h2 id="submit">Make a Submission</h2>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    {% for data in component_form_list %}
                        <fieldset>
                        <legend>{{data.comp.title}}</legend>
                        <dl class="inline">
                        {% for f in data.form.visible_fields %}
                        <dt>{{ f.label }}</dt><dd>{{ f }}</dd>
                        {% endfor %}
                        {% if data.comp.description %}<dt>Description</dt><dd>{{data.comp.description|linebreaksbr}}</dd>{% endif %}
                        {% if data.comp.max_size %}<dt>Max File Size</dt><dd>{{data.comp.max_size}} KB</dd>{% endif %}
                        {% if data.comp.allowed %}<dt>Allowed File Types</dt><dd>{{data.comp.get_allowed_display}}</dd>{% endif %}
                        {% if data.comp.specified_filename %}<dt>Specified File Name</dt><dd>{{data.comp.specified_filename}}</dd>{% endif %}
                        </dl>
                        </fieldset>
                    {% endfor %}
                <input type="submit" value="Submit" class="submit"/>

            </form>
            {% endif %}
        {% endif %}
        {% endif %}

        {% if submitted_components %}<h2 id="submitted">Current Submission</h2>
        {# <!-- pair<component, its latest submission> --> #}
        {% for pair in submitted_components %}
        <h3>{{pair.0.title}}</h3>

        {% ifequal pair.1 None %}
            <p class="empty"><i class="fa fa-exclamation-triangle warningmessage"></i> You haven't made a submission for this component.</p>
        {% else %}
            <ul class="component_description">
                <li>Latest Submission: {{pair.1.get_time}}</li>
                {% if group %}
                <li>Submitter: {{pair.1.get_submitter}}</li>
                {% endif %}
                {% if pair.1.get_size %}
                <li>File Size: {{pair.1.get_size|filesizeformat}} </li>
                {% endif %}
                <li><a href="{% url "submission.views.download_file" course_slug=course.slug activity_slug=activity.slug component_slug=pair.0.slug submission_id=pair.1.submission.id %}"><i class="fa fa-download"></i>
                    Download {% if pair.1.get_filename %}{{ pair.1.get_filename }}{% else %}submission{% endif %}</a></li>
            </ul>
        {% endifequal %}
        {% endfor %}
        {% endif %}

{% endifequal %}

{% endblock %}
