{% extends "submission/base.html" %}

{% block title %}Submission for {{activity.name}}{% endblock %}
{% block h1 %}Submission for {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{course.name}}</a></li><li>&gt; <a href="{% url "grades.views.activity_info" course_slug=course.slug activity_slug=activity.slug %}">{{activity.name}}</a></li><li>&gt; Submission</li>{% endblock %}


{% block actions %}
{% if submission %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        {% if submission %}
        <li><a href="{% url "submission.views.show_components_submission_history" course_slug=course.slug activity_slug=activity.slug %}">View History</a></li>
        <li><a href="{% url "submission.views.download_file" course_slug=course.slug activity_slug=activity.slug userid=userid %}">Download</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}


{% block content%}

{% ifequal submitted_pair|length 0 %}
    {# there is no component #}
{% else %}
        <div class="table_container">
        <table class="info">
            {% block studentinfo %}{% if activity.group %}<tr><th scope="row">Last Submitter:</th><td>{{student.name}}</td></tr>{% endif %}{% endblock %}
            {% if activity.group %}
            <tr>
                <th scope="row">Group:</th>
                <td>{% if group %}{{group.name}}{% else %}<span class="empty">No group</span>{% endif %}</td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Due Date:</th>
                <td>{{activity.due_date|date:"Y-m-d H:i:s"}}</td>
            </tr>
            <tr>
                <th scope="row">Latest Submission:</th>
                <td>{% if submission %} {{submission.created_at|date:"Y-m-d H:i:s"}} {% else %} &mdash; {% endif %}</td>
            </tr>
            {% if late %}
            <tr id="late_for">
                <th scope="row">Late for:</th>
                <td style="color:red">{{activity.due_date|timesince:submission.created_at}}</td>
            </tr>
            {% endif %}
        </table>
        </div>

        {% if cansubmit %}
        {% if not is_staff %}
            {% if activity.group and not group %}
            <p>This is a group-based activity: you cannot submit because you aren't in a group.</p>
            <p>You need to <a href="{% url "groups.views.groupmanage" course_slug=course.slug %}">create or join a group</a> before you can submit. It can be a group with only one member if that is allowed by your instructor.</p>
            {% else %}
            <div id="submission_form_container">
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <fieldset>
                    <legend>New Submission</legend>
                    {% for data in component_form_list %}
                        <h2>{{data.comp.title}}</h2>
                        <ul>
                        {% if data.comp.description %}<li><label>Description:</label><div class="fieldcontent">{{data.comp.description|linebreaksbr}}</div></li>{% endif %}
                        {% if data.comp.max_size %}<li><label>Max File Size:</label><div>{{data.comp.max_size}} KB</div></li>{% endif %}
                        {% if data.comp.allowed %}<li><label>Allowed File Types:</label><div>{{data.comp.get_allowed_display}}</div></li>{% endif %}
                        {% if data.comp.specified_filename %}<li><label>Specified File Name:</label><div>{{data.comp.specified_filename}}</div></li>{% endif %}
                        {{data.form.as_ul}}
                        </ul>
                    {% endfor %}
                <input type ="submit" value ="Submit" class ="submit"/>
                </fieldset>

            </form>
            </div>
            {% endif %}
        {% endif %}
        {% endif %}

        <div class="form_container">
        <div id="component_view_student_container">
        {# <!-- pair<component, its latest submission> --> #}
        {% for pair in submitted_components %}
        <h2>{{pair.0.title}}</h2>

        {% ifequal pair.1 None %}
            <div class="warningindicator">
                <img src="{{MEDIA_URL}}icons/cancel.png" alt="warning" />
                You haven't made a submission for this component.
            </div>
        {% else %}
            <div class="successindicator">
                <img src="{{MEDIA_URL}}icons/tick.png" alt="check" />
                You have made submission to this component.
                <ul class="component_description">
                    <li><label>Latest Submission: </label>{{pair.1.get_time}}</li>
                    {% if group %}
                    <li><label>Submitter: </label>{{pair.1.get_submitter}}</li>
                    {% endif %}
                    {% if pair.1.get_size %}
                        <li><label>File Size:</label>{{pair.1.get_size|filesizeformat}} </li>
                    {% endif %}
                    <li><img src="{{MEDIA_URL}}icons/attach.png" alt="download" /><a href="{% url "submission.views.download_file" course_slug=course.slug activity_slug=activity.slug component_slug=pair.0.slug submission_id=pair.1.submission.id %}">Download {% if pair.1.get_filename %}{{ pair.1.get_filename }}{% else %}submission{% endif %}</a></li>
                </ul>
            </div>

        {% endifequal %}


        {% endfor %}
        </div>
        </div>

{% endifequal %}

{% endblock %}
