{% extends "submission/base.html" %}

{% block h1 %}Submission{% endblock %}

{% block content %}

<h2>How to Use This Service (READ THIS BEFORE SUBMITTING!)</h2>
<p>(INSTRUCTIONS GOES HERE:)</p>
<p>Logging in: You must provide identification in a number of places, for security purposes. Your identification is your user id from SFU, while your password is the same as the one used for the GradeBook. Initially that password is set to your 9 digit student number. It can be changed at the GradeBook web site. You should be able to use the changed password here within 10 minutes. If you need to submit your assignment right away, you should be able to use your old (unchanged) password.</p>
<p>Note: Submission can take some time, and the server may become busy and slow near the deadline for assignments, especially in large classes. Give yourself some time to submit (half an hour before the deadline is probably a good idea). After a successful submission, the server emails a confirmation to your SFU account.</p>
<p>TEST EARLY! Please TEST your GradeBook user id and password as soon as you find out that you are going to use this service - preferably at least one week before the first assignment. Please send e-mail describing any failure to log in to the Submit Server as soon as possible to us at helpdesk@cs.sfu.ca . Note that test submissions do not send a confirmation message to your SFU e-mail account.</p>
<p>Late submissions: Assignments submitted after the deadline specified by the instructor are still accepted, but they are marked as late, with a timestamp. It is your responsibility to know whether late assignments are accepted, or if there are penalties. The instructor determines this policy. Note that if you re-submit after the deadline, the system keeps only the timestamped late assignment.</p>
<p>...</p>


{% regroup memberships by offering.semester as by_semester %}
{% for semester in by_semester %}
  <h2 id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</h2>
  <ul>
  {% for membership in semester.list %}
    <li><a href="{{membership.offering.get_absolute_url}}">{{membership.offering.name}}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

{% endblock %}
