{% extends "submission/base.html" %}

{% block h1 %}
Someone is marking this submission
{% endblock %}

{% block content %}
<h3>It seems that {{old_owner.name}} is marking this submission.</h3>
<h2>Are you sure to override?</h2>
<ul class="add_nav">
    
    {% if student %}
    <li><a href="{% url submission.views.show_student_submission_staff course.slug, activity.slug, userid %}" class="button">No</a></li>
    <li><a href="{% url submission.views.take_ownership_and_mark course.slug, activity.slug, student.userid %}?confirm=OK{%if activity_suffix%}&base_activity_mark={{activity_suffix}}{%endif%}{%if from_suffix%}&from_page={{from_suffix}}{%endif%}" class="button">Yes, override!</a></li>
    {% else %}
    <li><a href="{% url submission.views.show_student_submission_staff course.slug, activity.slug, userid %}" class="button">No</a></li>
    <li><a href="{% url submission.views.take_ownership_and_mark_group course.slug, activity.slug, group_slug %}?confirm=OK{%if activity_suffix%}&base_activity_mark={{activity_suffix}}{%endif%}{%if from_suffix%}&from_page={{from_suffix}}{%endif%}" class="button">Yes, override!</a></li>
    {% endif %}
</ul>

{% endblock %}