{% extends "submission/base.html" %}

{% block h1 %}

    {%ifequal not_submitted_comp|length 0%}
        Submission succeeded!
    {%else%}
        {% ifequal submitted_comp|length 0 %}
            No submission acceptted!
        {%else%}
            Warning: Error detected in your submission!
        {% endifequal %}
    {%endifequal%}
{% endblock %}

{% block content %}
    {%ifequal not_submitted_comp|length 0%}
        <a href="{% url submission.views.show_components course_slug=course.slug activity_slug=activity.slug%}" class="button">continue</a>
    {%else%}
        <h2>Warning List:</h2>
        {% for pair in component_list %}
            {{pair.1.errors}}
            {%if pair.1.error%}
                <h3>{{pair.1.error}}</h3>
            {%endif%}
        {%endfor%}
        {% ifequal submitted_comp|length 0 %}
        {% else %}
            <h2>Successful submission</h2>
                {% for component in submitted_comp %}
                    <h3>{{component}}</h3>
                {% endfor %}
        {% endifequal %}
        <h2>Do you want to continue?</h2>
        <ul class="add_nav">
        <li><a href="{% url submission.views.add_submission course_slug=course.slug activity_slug=activity.slug%}" class="button">No.</a></li>
        <li><a href="{% url submission.views.show_components course_slug=course.slug activity_slug=activity.slug%}" class="button">Yes</a></li>
        </ul>
    {%endifequal%}
{% endblock %}