{% extends "base.html" %}
{% load submission_filters %}

{% block title %}Submission History for {{activity.name}}{% endblock %}
{% block h1 %}Submission History for {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{course.name}}</a></li><li><a href="{% url "grades.views.activity_info" course_slug=course.slug activity_slug=activity.slug %}">{{activity.name}}</a></li><li><a href="{% url "submission.views.show_components" course_slug=course.slug activity_slug=activity.slug %}">Submission</a></li><li>History</li>{% endblock %}


{% block content %}

<div id="submission_history_view_container">
    {% for submission in submitted_components %}
    <h2 id="submission-{{ submission.sub.id }}">Submission at {{submission.sub.created_at|date:"Y-m-d H:i:s"}} {%if activity.group%} by {{submission.sub.creator.person.name}}{%endif%}</h2>
        <table>
        <tbody>
            <tr>
                <th>Component</th>
                <th>Download</th>
                <th>Size</th>
            </tr>
        {% for comp in submission.comp %}
            <tr>
                <th scope="row">{{comp.0.title}}</th>
                <td>
                    {% if comp.1 %}
                        <a href="{% url "submission.views.download_file" course_slug=course.slug activity_slug=activity.slug component_slug=comp.0.slug submission_id=submission.sub.id %}">
                        <i class="fa fa-download"></i> Download</a>
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
                <td>
                    {% if comp.1.get_size %}
                        {{comp.1.get_size|filesizeformat}}
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endfor %}
</div>



{% endblock %}

