{% extends "base.html" %}
{% load submission_filters %}

{% block title %}Submission History for {{activity.name}}{% endblock %}
{% block h1 %}Submission History for {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'grades.views.course_info' course_slug=offering.slug %}">{{offering.name}}</a></li>
<li><a href="{% url 'grades.views.activity_info' course_slug=offering.slug activity_slug=activity.slug %}">{{activity.name}}</a></li>
<li><a href="{% url 'submission.views.show_components' course_slug=offering.slug activity_slug=activity.slug %}">Submission</a></li>
<li>History</li>{% endblock %}


{% block content %}
{% if submission_info.is_group %}
<p class="infomessage">This is a group activity. This history is based on submissions from all group members.</p>
{% endif %}

    {% for submission, subcomps in submission_info.submissions_and_components %}
    <h2 id="submission-{{ submission.id }}">Submission at {{submission.created_at|date:"Y-m-d H:i:s"}}
        {% if submission_info.is_group %} by {{submission.creator.person.name}}{% endif %}</h2>
        <table>
        <tbody>
            <tr>
                <th>Component</th>
                <th>Download</th>
                <th>Size</th>
            </tr>
        {% for comp, subcomp in subcomps %}
            <tr>
                <th scope="row">{{comp.title}}</th>
                <td>
                    {% if subcomp %}
                        <a href="{% url 'submission.views.download_file' course_slug=offering.slug activity_slug=activity.slug component_slug=comp.slug submission_id=submission.id %}">
                        <i class="fa fa-download"></i> Download</a>
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
                <td>
                    {% if subcomp.get_size %}
                        {{subcomp.get_size|filesizeformat}}
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endfor %}



{% endblock %}

