{% extends "submission/component_view.html"%}

{% block h1 %}{% endblock %}
<li>&gt; <a href="">add</a></li>
{% block extra_breadcrubs %}
{% endblock %}
{% block content %}

<h2>Add new submission for {{activity.name}}</h2>

<a href ="{% url submission.views.show_components course_slug=course.slug activity_slug=activity.slug%}", class = 'button'>Back</a>

<div id="form_container">
<form action ="" method ="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Submission List</legend>
        {% for sub_list in component_form_list %}
            <ul>
                <li class="view"><label>{{sub_list.0.title}}</label>{{sub_list.1.url}}{{sub_list.1.cpp}}{{sub_list.1.text}}{{sub_list.1.java}}{{sub_list.1.archive}}</li>
            </ul>
        {% endfor %}
    <input type ="submit" value ="Submit" class ="submit"/>
    </fieldset>
    
</form>
</div>
{% endblock%}