======= THIS FILE IS NOT USED ANY MORE =======

{% extends "submission/dashboard_student.html"%}

{% block h1 %}{% endblock %}

{% block extra_breadcrubs %}
{% endblock %}


{% block content %}

<h2>Add new submission for {{activity.name}}</h2>

<a href ="{% url submission.views.show_components course_slug=course.slug activity_slug=activity.slug%}", class = 'button'>Back</a>

<div id="form_container">
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <fieldset>
        <legend>Activity Submission</legend>
        {% for data in component_form_list %}
            <h2>{{data.comp.title}}</h2>
            {% if data.comp.description %}<p><label>Description:</label>{{data.comp.description}}</p>{% endif %}
            {% if data.comp.max_size %}<p><label>Max File Size:</label>{{data.comp.max_size}} KB</p>{% endif %}
			{% if data.comp.allowed %}<p><label>Allowed File Types:</label>{{data.comp.allowed}}</p>{% endif %}
            {{data.form.as_p}}
        {% endfor %}
    <input type ="submit" value ="Submit" class ="submit"/>
    </fieldset>
    
</form>
</div>
{% endblock%}
