{% extends "submission/dashboard_student.html" %}

{% block studentinfo %}
<tr><th scope="row">{% if activity.group %}Submitter's {% endif %}Name:</th><td>{{student.name}}</td></tr>
<tr><th scope="row">Student Number:</th><td>{{student.emplid}}</td></tr>
<tr><th scope="row">Email:</th><td><a href="mailto:{{student.email}}">{{student.email}}</td></tr>
{% endblock %}

{% block owner %}
    {% if owner %}
        <tr>
            <td><h3>Ownership:</h3></td>
            <td>{{owner.name}}</td>
        </tr>
    {% endif %}
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
	    <li><a href="{% url "submission.views.take_ownership_and_mark" course_slug=course.slug activity_slug=activity.slug userid=userid%}">Mark Student</a></li>
	    {% if group %}
	    <li><a href="{% url "submission.views.take_ownership_and_mark" course_slug=course.slug activity_slug=activity.slug group_slug=group.slug %}">Mark Group</a></li>
	    {% endif %}
	    {% if submission %}
	        <li><a href="{% url "submission.views.show_components_submission_history" course_slug=course.slug activity_slug=activity.slug userid=userid %}">View History</a></li>
	        <li><a href="{% url "submission.views.download_file" course.slug activity.slug userid %}">Download</a></li>
	    {% endif %}
    </ul>
</div>
{% endblock %}

{% block navbutton %}
{% endblock %}
