{% extends "submission/dashboard_student.html" %}

{% block studentinfo %}
<div id="student_info_submission_dashboard">
<h3>Student Information</h3>
<ul>
    <li><label>Name:</label>{{student.name}}</li>
    <li><label>Student ID:</label>{{student.emplid}}</li>
    <li><label>Computing ID:</label>{{student.userid}}</li>
    <li><label>Email:</label><a href="mailto:{{student.email}}">{{student.email}}</a></li>
</ul>
</div>
{% endblock %}

{% block owner %}
    {% if owner %}
        <tr>
            <td><h3>Ownership:</h3></td>
            <td>{{owner.name}}</td>
        </tr>
    {% endif %}
{% endblock %}

{% block current_time %}
{% endblock %}

{% block navbutton %}
<div id="my_submission_dashboard">
<ul class="add_nav">
    {% if submit_time %}
        <li><a href ="{% url submission.views.show_components_submission_history course_slug=course.slug activity_slug=activity.slug %}?userid={{userid}}" class="button">View History</a></li>
        <li><a href ="{% url submission.views.download_file course.slug, activity.slug, userid %}" class="button" target="_blank">Download All</a></li>
    {% endif %}
    <li><a href ="{% url submission.views.take_ownership_and_mark course_slug=course.slug activity_slug=activity.slug userid=userid%}" class="button" >Mark This</a></li>
</ul>
</div>
{% endblock %}