{% extends "submission/component_view.html" %}

{% block studentinfo %}
<div id="student_info_submission_dashboard">
<h3>Student Information</h3>
<ul>
    <li><label>Name:</label>{{student.name}}</li>
    <li><label>Student ID:</label>{{student.emplid}}</li>
    <li><label>Computing ID:</label>{{student.userid}}</li>
    <li><label>Email:</label><a href="mailto:{{student.email}}">{{student.email}}</a></li>
</ul>
</div>

{% endblock %}

{% block current_time %}
{% endblock %}

{% block navbutton %}
<div id="my_submission_dashboard">
<ul class="add_nav">
    {% if submit_time %}
        <li><a href ="history/" class="button">View History</a></li>
        <li><a href ="{% url submission.views.download_file course_slug=course.slug activity_slug=activity.slug %}?user-id={{userid}}" class="button" >Download All</a></li>
    {% endif %}
</ul>
</div>
{% endblock %}