{% extends "base.html" %}
{% load form_display %}
{% block title %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}

{% block subbreadcrumbs %}
<li>
	<a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a>
</li>
<li>
	<a href="{% url "discuss.views.discussion_index" course_slug=course.slug %}">Discussion</a>
</li>
<li>
	<a href="{% url "discuss.views.view_topic" course_slug=course.slug topic_slug=topic.slug %}">View Topic</a>
</li>
<li>
	Manage Topic	
</li>
{% endblock %}

{% block content %}
<div class="form_container">
	<form action="{% url "discuss.views.change_topic_status" course_slug=course.slug topic_slug=topic.slug %}" method="post">{% csrf_token %}
		<fieldset>
			<legend>Manage Topic</legend>
			{{ form|as_dl }}
			<p><input class="submit" type="submit" value="Submit" /></p>
		</fieldset>
	</form>
</div>
{% endblock %}
