{% extends "base.html" %}
{% load form_display %}
{% load static %}
{% block title %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}

{% block headextra %}
{% include 'pages/markup_edit_head.html' %}
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{% url "offering:discussion:discussion_index" course_slug=course.slug %}">Discussion</a></li>
<li>New Topic</li>
{% endblock %}

{% block content %}
<div class="form_container">
	<form action="{% url "offering:discussion:create_topic" course_slug=course.slug %}" method="post">{% csrf_token %}
		<fieldset>
			<legend>New Discussion Topic</legend>
			{{ form|as_dl_safe }}
			<p><input class="submit" type="submit" value="Post" /></p>
		</fieldset>
	</form>
</div>
{% endblock %}
