{% extends "base.html" %}
{% load form_display %}
{% block title %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li>
<li>&gt; <a href="{% url discuss.views.discussion_index course_slug=course.slug %}">Discussion</a></li>
<li>&gt; New Topic</li>
{% endblock %}

{% block content %}
<div class="form_container">
	<form action="{% url discuss.views.create_topic course_slug=course.slug %}" method="post">{% csrf_token %}
		<fieldset>
			<legend>New Discussion Topic</legend>
			{{ form|as_dl_safe }}
			<p><input class="submit" type="submit" value="Post" /></p>
		</fieldset>
	</form>
</div>
{% endblock %}
