{% extends "base.html" %}
{% load form_display %}
{% block title %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}

{% block headextra %}
{% include 'pages/markup_edit_head.html' %}
<link rel="stylesheet" href="{{STATIC_URL}}style/discuss.css" media="all" />
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{% url "offering:discussion:discussion_index" course_slug=course.slug %}">Discussion</a></li>
<li><a href="{% url "offering:discussion:view_topic" course_slug=course.slug topic_slug=topic.slug %}">{{topic.title}}</a></li>
<li>Edit Reply</li>
{% endblock %}

{% block content %}
<div class="form_container">
    <form action="{% url "offering:discussion:edit_message" course_slug=course.slug topic_slug=topic.slug message_slug=message.slug %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Edit Discussion Reply</legend>
                {{ form|as_dl_safe }}
                <p><input class="submit" type="submit" value="Update" /></p>
        </fieldset>
    </form>
</div>
{% endblock %}
