{% extends "base.html" %}
{% load discuss_paginate %}
{% block title %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}
{% block headextra %}
<link rel="stylesheet" href="{{STATIC_URL}}style/discuss.css" media="all" />
<script type="text/javascript">
	$(document).ready(function() {
		$('.discussion-topic-title').hover(function() {
			$(this).parent().addClass('discussion-highlight');
		}, function() {
			$(this).parent().removeClass('discussion-highlight');
		});
	}); 
</script>
{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li>Discussion</li>
{% endblock %}

{% block actions %}
<div id="actions">
	<h2 class="heading">Actions</h2>
	<ul>
		<li><a href="{% url "discuss.views.create_topic" course_slug=course.slug %}">Create New Topic</a></li>
		<li><a href="{% url "discuss.views.manage_discussion_subscription" course_slug=course.slug %}">Manage Subscription</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
{% if topics.object_list|length_is:0 %}
<p class="empty">There are currently no topics</p>
{% endif %}
{% if topics.object_list|length > 0 %}
{{ topics|create_pagination }}
{% for topic in topics.object_list %}
{% if topic.status != 'HID' or view == 'staff' %}
<div class="discussion-topic{% if topic.status == 'HID' %} fade-out{% endif %}" id="topic-{{ topic.pk }}">
	<h3><a href="{% url "discuss.views.view_topic" course_slug=course.slug topic_slug=topic.slug %}">
		{% if topic.pinned %}<i class="fa fa-tag"></i>{% endif %}
		{% if topic.status == 'ANS' %}<i class="fa fa-check"></i>{% endif %}
		{{ topic.title }}
	</a></h3>
	<div>
		<span class="author">{{ topic.author.person.name }} ({{topic.author.person.userid}})</span>
		<span class="last">
			{% if topic.message_count == 0 %}
				Created: {{ topic.last_activity_at_delta }}
			{% endif %}
			{% if topic.message_count > 0 %}
			    Last Reply: {{ topic.last_activity_at_delta }}
			{% endif %}
		</span>
	</div>
</div>
{% endif %}
{% endfor %}
{{ topics|create_pagination }}
{% endif %}
{% endblock %}

