{% extends "base.html" %}
{% load form_display %}
{% block title %}{{ course.subject }} {{ course.number }} Discussion Subscription{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Discussion Subscription{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{% url "discuss.views.discussion_index" course_slug=course.slug %}">Discussion</a></li>
<li>Subscription</li>
{% endblock %}

{% block content %}
<div class="form_container">
	<form action="" method="post">{% csrf_token %}
		<fieldset>
			<legend>Manage Subscription</legend>
			{{ form|as_dl }}
			<p><input class="submit" type="submit" value="Save" /></p>
		</fieldset>
	</form>
</div>
{% if topic_subs %}
<p>You are currently subscribed to discussion in these specific topics in this course. You can edit your subscriptions to them as well:</p>
<ul>
{% for sub in topic_subs %}
<li><a href="{% url "discuss.views.manage_topic_subscription" course_slug=course.slug topic_slug=sub.topic.slug %}">{{ sub.topic.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
