{% extends "base.html" %}
{% block title %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}
{% block headextra %}
<link rel="stylesheet" href="{{STATIC_URL}}style/discuss.css" media="all" />
{% if brushes %}
	<script type="text/javascript" src="{{STATIC_URL}}syntaxhighlighter/scripts/shCore.js"></script>
	{% for b in brushes %}
	<script type="text/javascript" src="{{STATIC_URL}}syntaxhighlighter/scripts/{{b}}"></script>
	{% endfor %}
	<link href="{{STATIC_URL}}syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
	<link href="{{STATIC_URL}}syntaxhighlighter/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	SyntaxHighlighter.defaults['light'] = true;
	SyntaxHighlighter.all()
	</script>
{% endif %}
{% if any_math %}
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	displayAlign: "left",
	displayIndent: "2em",
	elements: {{need_mathjax|safe}},
	});
	</script>
	<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
<script type="text/javascript">
	$(document).ready(function() {
		{% if not form.errors %}
			$("#discussion-topic-reply-form").hide();
		{% endif %}
		{% if form.errors %}
			$("#topic-reply-toggle").hide();
			$('html, body').animate({scrollTop: $("#discussion-topic-reply-form").offset().top});
			$("#id_content").focus();
		{% endif %}
		$("#topic-reply-toggle").click(function() {
			
			$("#topic-reply-toggle").hide();
			$("#discussion-topic-reply-form").show('slide');
			$('html, body').animate({scrollTop: $(document).height()});
			$("#id_content").focus();
		});
		$(".remove-discussion-reply").click(function() {
			topicPK = $(this).attr('id').substr(6);
			console.log(topicPK);
			var confirmRemove = confirm("Are you sure you want to remove this reply?");
			if (confirmRemove) {
				$("form#remove-reply-" + topicPK).submit();
			}
		});
	});
</script>
{% endblock %}

{% block h1 %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{% url "discuss.views.discussion_index" course_slug=course.slug %}">Discussion</a></li>
<li>{{ topic.title }}</li>
{% endblock %}
{% block actions %}

{% if view == 'staff' or request.user.username == topic.author.person.userid and topic.still_editable %}
<div id="actions">
	<h2 class="heading">Actions</h2>
	<ul>
		{% if request.user.username == topic.author.person.userid and topic.still_editable %}
		<li>
		  	<a href="{% url "discuss.views.edit_topic" course_slug=course.slug topic_slug=topic.slug %}">Edit Topic ({{ topic.editable_time_left }} left)</a>
		</li>
		{% endif %}
		{% if view == 'staff' %}
		<li>
			<a href="{% url "discuss.views.change_topic_status" course_slug=course.slug topic_slug=topic.slug %}">Manage Topic</a>
		</li>
		{% endif %}
	</ul>
</div>
{% endif %}

{% endblock %}

{% block content %}

{% if topic.status == 'HID' %}
    <div id="topic-hidden-warning">
    	This topic is currently hidden and cannot be seen by students.
    </div>
{% endif %}

<div class="discussion-topic-body">
	<div class="discussion-topic-header">
		<span class="discussion-topic-header-title"> 
			{% if topic.pinned %} 
			<span style="color: #B5111B">[Pinned]</span> 
			{% endif %}
			{% if topic.status == 'ANS' %} 
			<span style="color: #1F6B08">[Answered]</span> 
			{% endif %}
			{{ topic.title }}
		</span>
		<div class="discussion-topic-meta">
			<span class="discussion-topic-author-content">{{ topic.author.person.name_pref }} ({{ topic.author.person.userid }})</span>
			<span class="discussion-topic-last"><span style="color:#1F6B08">{{ topic.created_at_delta }}</span></span>
		</div>
	</div>

	<div class="discussion-topic-content" id="topic-content">
		{{ topic.html_content }}
	</div>
</div>

<div class="discussion-topic-replies-header">
	Replies:
</div>

<div class="discussion-topic-replies">
	{% if replies|length_is:0 and topic.status != 'CLO' %} 
	<div class="discussion-replies-warning">No replies yet...</div>
	{% endif %}
	{% if replies|length > 0 %}
	{% for reply in replies %}
		<div class="discussion-topic-reply" id="reply-{{reply.id}}">
			<div class="discussion-reply-author {% if reply.status == 'HID' %}fade-out{% endif %}">
				{{ reply.author.person.name_pref }} ({{reply.author.person.userid}}),
			</div>
			<div class="discussion-reply-time{% if reply.status == 'HID' %} fade-out{% endif %}">
				{{ reply.create_at_delta }}
				{% if reply.was_edited %}
				    *
				{% endif %}
			</div>
			{% if reply.status != 'HID' %}
			<div class="discussion-reply-controls">
			{% if view == 'staff' or request.user.username == reply.author.person.userid %}
			<form id="remove-reply-{{ reply.pk }}" action = "{% url "discuss.views.remove_message" course_slug=course.slug topic_slug=topic.slug message_slug=reply.slug %}" method="post">
				{% csrf_token %}
			</form>
			<span class="remove-discussion-reply" id="topic-{{ reply.pk }}">Remove</span>
			{% endif %}
			{% if reply.still_editable and request.user.username == reply.author.person.userid %}
			    <a href="{% url "discuss.views.edit_message" course_slug=course.slug topic_slug=topic.slug message_slug=reply.slug %}" class="edit-discussion-reply">Edit ({{ reply.editable_time_left }})</a>
			{% endif %}
			</div>
			{% endif %}
			<div class="discussion-reply-content {% if reply.status == 'HID' %}fade-out{% endif %}" id="reply-content-{{reply.id}}">
				{% if reply.status == 'HID' %}
				    <i>This reply has been removed...</i>
				{% endif %}
				{% if reply.status != 'HID' %}
				    {{ reply.html_content }}
				{% endif %}
			</div>
		</div>
	{% endfor %}
	{% endif %}
	{% if topic.status == 'CLO' and view == 'student' %}
	<div class="discussion-replies-warning">Replies are currently disabled for this topic...</div>
	{% endif %}
	{% if topic.status == 'CLO' and view == 'staff' %}
	<div class="discussion-replies-warning">Topic is closed. Students may not post replies.</div>
	{% endif %}
</div>

{% if topic.status != 'CLO' or view == 'staff' %}
<a href="#" id="topic-reply-toggle">Post a reply</a>
<div id="discussion-topic-reply-form">
	<form action="{% url "discuss.views.view_topic" course_slug=course.slug topic_slug=topic.slug %}" method="post">
		{% csrf_token %}
		<div class="discussion-topic-reply-errors">
			{% for error in form.content.errors %}
			    <span>{{ error }}</span><br />
			{% endfor %}
		</div>
		<p>{{ form.content }}</p><p class="helptext">{{form.content.help_text}}</p>
		<div><input type="submit" value="Reply" /></div>
	</form>
</div>
{% endif %}

{% endblock %}

