{% extends "base.html" %}
{% block title %}Discussion: {{ topic.title }}{% endblock %}
{% block h1 %}Discussion: {{ topic.title }}
	{% if topic.pinned %}<i class="fa fa-tag"></i>{% endif %}
    {% if topic.status == 'ANS' %}<i class="fa fa-check"></i>{% endif %}
{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{{STATIC_URL}}style/discuss.css" media="all" />
{% if brushes %}
	<script type="text/javascript" src="{{STATIC_URL}}syntaxhighlighter/scripts/shCore.js"></script>
	{% for b in brushes %}
	<script type="text/javascript" src="{{STATIC_URL}}syntaxhighlighter/scripts/{{b}}"></script>
	{% endfor %}
	<link href="{{STATIC_URL}}syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
	<link href="{{STATIC_URL}}syntaxhighlighter/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	SyntaxHighlighter.defaults['light'] = true;
	SyntaxHighlighter.all()
	</script>
{% endif %}
{% if any_math %}
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	displayAlign: "left",
	displayIndent: "2em",
	elements: {{need_mathjax|safe}},
	});
	</script>
	<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
<script type="text/javascript">
	$(document).ready(function() {
		{% if not form.errors %}
			$("#discussion-topic-reply-form").hide();
		{% endif %}
		{% if form.errors %}
			$("#topic-reply-toggle").hide();
			$('html, body').animate({scrollTop: $("#discussion-topic-reply-form").offset().top});
			$("#id_content").focus();
		{% endif %}
		$("#topic-reply-toggle").click(function() {
			$("#topic-reply-toggle").hide();
			$("#discussion-topic-reply-form").show('slide');
			$('html, body').animate({scrollTop: $(document).height()});
			$("#id_content").focus();
		});
		$(".remove-discussion-reply").click(function() {
			topicPK = $(this).attr('id').substr(6);
			console.log(topicPK);
			var confirmRemove = confirm("Are you sure you want to remove this reply?");
			if (confirmRemove) {
				$("form#remove-reply-" + topicPK).submit();
			}
		});
	});
</script>
{% endblock %}


{% block subbreadcrumbs %}
<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{% url "discuss.views.discussion_index" course_slug=course.slug %}">Discussion</a></li>
<li>{{ topic.title }}</li>
{% endblock %}
{% block actions %}

{% if view == 'staff' or request.user.username == topic.author.person.userid and topic.still_editable %}
<div id="actions">
	<h2 class="heading">Actions</h2>
	<ul>
		{% if request.user.username == topic.author.person.userid and topic.still_editable %}
		<li><a href="{% url "discuss.views.edit_topic" course_slug=course.slug topic_slug=topic.slug %}">Edit Topic ({{ topic.editable_time_left }} left)</a></li>
		{% endif %}
		{% if view == 'staff' %}
		<li><a href="{% url "discuss.views.change_topic_status" course_slug=course.slug topic_slug=topic.slug %}">Manage Topic</a></li>
		{% endif %}
	</ul>
</div>
{% endif %}
{% endblock %}

{% block content %}

{% if topic.status == 'HID' %}
<p><span class="warning">This topic is currently hidden and cannot be seen by students.</span></p>
{% endif %}

<div class="topic-body">
<p class="discussion-author"><span class="author">{{ topic.author.person.name_pref }} ({{ topic.author.person.userid }})</span>, {{ topic.created_at_delta }}.</p>

<div class="discussion-content" id="topic-content">
{{ topic.html_content }}
</div>
</div>

<h2 id="replies">Replies</h2>

	{% if replies|length_is:0 and topic.status != 'CLO' %}
	<p class="empty">No replies yet.</p>
	{% endif %}
	{% if replies|length > 0 %}
	{% for reply in replies %}
        <div class="discussion-reply{% if reply.status == 'HID' %} fade-out{% endif %}" id="reply-content-{{reply.id}}">
            <p class="reply-author ">
                <span class="author">{{ reply.author.person.name_pref }} ({{reply.author.person.userid}})</span>, {{ reply.create_at_delta }}
				{% if reply.was_edited %}*{% endif %}
            </p>
            {% if reply.status != 'HID' %}
            <div class="discussion-reply-controls">
			{% if view == 'staff' or request.user.username == reply.author.person.userid %}
			    <form class="miniform" id="remove-reply-{{ reply.pk }}" action="{% url "discuss.views.remove_message" course_slug=course.slug topic_slug=topic.slug message_slug=reply.slug %}" method="post">
				{% csrf_token %}
			    </form>
			    <span class="remove-discussion-reply" id="topic-{{ reply.pk }}"><i class="fa fa-times"></i> Remove</span>
			{% endif %}
			{% if reply.still_editable and request.user.username == reply.author.person.userid %}
			    <a href="{% url "discuss.views.edit_message" course_slug=course.slug topic_slug=topic.slug message_slug=reply.slug %}" class="edit-discussion-reply">
                <i class="fa fa-pencil-square-o"></i> Edit ({{ reply.editable_time_left }})</a>
			{% endif %}
            </div>
            <div class="discussion-content">{{ reply.html_content }}</div>
            {% else %}
				<p class="empty">This reply has been removed.</p>
		    {% endif %}
        </div>
   	{% endfor %}
	{% endif %}
	{% if topic.status == 'CLO' and view == 'student' %}
	<p><span class="warning">Replies are currently disabled for this topic.</span></p>
	{% endif %}
	{% if topic.status == 'CLO' and view == 'staff' %}
	<p><span class="warning">Topic is closed. Students may not post replies.</span></p>
	{% endif %}


{% if topic.status != 'CLO' or view == 'staff' %}
<p><a href="#" id="topic-reply-toggle">Post a reply</a></p>
<div id="discussion-topic-reply-form">
	<form action="{% url "discuss.views.view_topic" course_slug=course.slug topic_slug=topic.slug %}" method="post">
		{% csrf_token %}
		<div class="discussion-topic-reply-errors">
			{% for error in form.content.errors %}
			    <span>{{ error }}</span><br />
			{% endfor %}
		</div>
		<p>{{ form.content }}</p><p class="helptext">{{form.content.help_text}}</p>
		<div><input type="submit" value="Reply" /></div>
	</form>
</div>
{% endif %}

{% endblock %}

