{% extends "base.html" %}
{% load form_display course_display%}

{% block subbreadcrumbs %}
<li>&gt; {{ contract.application.person.first_name }}'s Contract Offer</li>
{% endblock %}

{% block title %}Contract Offer for {{ contract.application.person }}{% endblock %}
{% block h1 %}Contract Offer for {{ contract.application.person }}{% endblock %}

{% block actions %}
{% endblock %}


{% block content %}
{% if contract.status == 'ACC'  or contract.status == 'REJ' %}
<h2> You have already {{contract.get_status_display}} the offer.</h2>
<p><em>** Please contact {{ contract.posting.contact.name }} &lt;{{ contract.posting.contact.email_mailto }}&gt; after <b>accepting</b> the contract.</em> </p>
{%else%}
<div class="table_container">
<h3>You have been chosen to be a TA for {{contract.posting.semester}}!</h3>
 <table class="info">
	<tr><th>Acceptance Deadline</th><td>{{acc_deadline}}</td></tr>
</table>

</div> 

<h2>Courses Assigned:</h2> 
<div class="table_container">
<table class="info">
		<thead class="form_head">
          <tr>
         	<th scope="col">Course Name</th>
         	<th scope="col">Description</th>
         	<th scope="col">Base Unit</th>
          </tr>         
        </thead>  
		<tbody>
			<!-- Courses-->
			
			{% for course in courses %}
			<tr>
				<td>{{course.course.subject}} {{course.course.number}} {{course.course.section}}</td>
				<td>{{course.get_description_display }}</td>
				<td>{{course.bu}}</td>
			<tr/>
			{% endfor %}		
			<tr id="cal_tr">
	      	<td></td>
	      	<td class="table-row-label" id="total_bu_label" align="right">Total Base Units:&nbsp;</td>
	      	<td class="table-row-label">{{total}}</td>
	      </tr>		
		</tbody>
  </table>
</div>

<h2>Payment Information:</h2> 
<div class="table_container"> 
      <table class="info">
      	<thead class="form_head">
          <tr>
         	<th scope="col"></th>
         	<th scope="col">Pay Per BU</th>
         	<th scope="col">Biweekly Rate</th>
         	<th scope="col">Semester Rate</th>
          </tr>         
        </thead>  
        <tbody>
        	<tr> 
        		<th class="ui-state-default">Salary</th>
				<td>{{pay}}</td>	
        		<td>{{salary_bi}}</td>
        		<td>{{salary_sem}}</td>
        	</tr>
        	<tr>
        		<th class="ui-state-default">Scholarship</th>
				<td>{{scholarship}}</td>
        		<td>{{schol_bi}}</td>
        		<td>{{schol_sem}}</td>
        	</tr>
        </tbody>
      </table>
	  <table class="info">
			<tr><th>Start Date</th><td>{{ contract.pay_start }}</td></tr>
			<tr><th>End Date</th><td>{{ contract.pay_end }}</td></tr>
	  </table>
</div>

<div id="form_container">
<form action="" method="post">{% csrf_token %}
		<p> Please make sure the following information is correct, otherwise you don't get paid.</p>
	    {{ form|as_dl_usefield:"sin"}}
			
<!--<p><em>Accept</em> or <em>Reject</em> the offered Contract?
		<div class="field"><select name="status" id="id_status">
			<option value="ACC">Accepted</option>
			<option value="REJ">Rejected</option>
			</select></div>
		</dd>  
<p><input id="submit" type="submit" class="submit" value="Submit" /></p>-->
			
<p><input id="submit" name="reject" type="submit" class="submit" value="Reject" /><input id="submit" name="accept" type="submit" class="submit" value="Accept" /></p>
<p><em>** Please contact {{ contract.posting.contact.name }} &lt;{{ contract.posting.contact.email_mailto }}&gt; after <b>accepting</b> the contract.</em> </p>
</form>
</div>
{%endif%}
{% endblock %}
