{% extends "base.html" %}
{% load form_display course_display%}

{% block subbreadcrumbs %}
<li>{{ contract.application.person.first_name }}'s Contract Offer</li>
{% endblock %}

{% block title %}Contract Offer for {{ contract.application.person }}{% endblock %}
{% block h1 %}Contract Offer for {{ contract.application.person }}{% endblock %}

{% block actions %}
{% endblock %}


{% block content %}
{% if contract.status == 'ACC'  or contract.status == 'REJ' %}
<h2> You have already {{contract.get_status_display}} the offer.</h2>
<p><em>** Please contact {{ contract.posting.contact.name }} &lt;{{ contract.posting.contact.email_mailto }}&gt; after <b>accepting</b> the contract.</em> </p>
{%else%}
<div class="table_container">
<h3>You have been chosen to be a TA for {{contract.posting.semester}}.</h3>
 <table class="info">
	<tr><th>Acceptance Deadline</th><td>{{acc_deadline}}</td></tr>
</table>

</div> 

<h2>Courses Assigned</h2>
<div class="table_container">
<table class="info">
		<thead class="form_head">
          <tr>
         	<th scope="col">Course Name</th>
         	<th scope="col">Description</th>
            <th scope="col">Prep Units</th>
            <th scope="col">Base Units</th>
         	<th scope="col">Total Units</th>
          </tr>         
        </thead>  
		<tbody>
			<!-- Courses-->
			
			{% for course in courses %}
			<tr>
				<td>{{course.course.subject}} {{course.course.number}} {{course.course.section}}</td>
				<td>{{course.get_description_display }}</td>
                <td>{{course.prep_bu}}</td>
                <td>{{course.bu}}</td>
				<td>{{course.total_bu}}</td>
			</tr>
			{% endfor %}		
			<tr id="cal_tr">
	      	<td></td>
            <td></td>
            <td></td>
	      	<td class="table-row-label" id="total_bu_label" align="right">Total Base Units:&nbsp;</td>
	      	<td class="table-row-label">{{total}}</td>
	      </tr>		
		</tbody>
  </table>
</div>

<h2>Payment Information</h2>
<div class="table_container"> 
      <table class="info">
      	<thead class="form_head">
          <tr>
         	<th scope="col"></th>
         	<th scope="col">Pay Per BU</th>
         	<th scope="col">Biweekly Rate</th>
         	<th scope="col">Semester Rate</th>
          </tr>         
        </thead>  
        <tbody>
        	<tr> 
        		<th class="ui-state-default">Salary</th>
				<td>{{pay}}</td>	
        		<td>{{salary_bi}}</td>
        		<td>{{salary_sem}}</td>
        	</tr>
        	<tr>
        		<th class="ui-state-default">Scholarship</th>
				<td>{{scholarship}}</td>
        		<td>{{schol_bi}}</td>
        		<td>{{schol_sem}}</td>
        	</tr>
        </tbody>
      </table>
	  <table class="info">
			<tr><th>Start Date</th><td>{{ contract.pay_start }}</td></tr>
			<tr><th>End Date</th><td>{{ contract.pay_end }}</td></tr>
	  </table>
</div>

<div class="form_container">
<form action="" method="post">{% csrf_token %}
<p><strong>Social Insurance Number:</strong> {{ form.sin }}
<span class="helptext">(required for receiving payments)</span></p>

<p>Please contact {{ contract.posting.contact.name }} &lt;{{ contract.posting.contact.email_mailto }}&gt; if you have questions about this contract.</p>

{% if contract.posting.offer_text %}
<h2 id="offer-info">More Information About This Offer</h2>
<div id="offer-text">
	{{contract.posting.html_offer_text}}
</div>
{% endif %}
{% if not preview %}
<p><input id="submit" name="reject" type="submit" class="submit" value="Reject" /><input id="submit" name="accept" type="submit" class="submit" value="Accept" /></p>
{% endif %}

</form>
</div>
{%endif%}
{% endblock %}
