{% extends "base.html" %}

{% block h1 %}Time Use Guidelines for {{semester}}{% endblock %}
{% block title %}Time Use Guidelines for {{semester}}{% endblock %}

{% block headextra %}
<style type="text/css">
.over { color: #d00; font-weight: bold; }
</style>
<script type="text/javascript">
  $(function() {
  	table = $('#offerings').dataTable({
        "bPaginate": false,
		"bJQueryUI": true,
		"aaSorting": [[0, "asc"]],
	});
  });
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li>All TUGs</li>
{% endblock %}

{% block actions %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
{% if semester.previous_semester %}
<li><a href="{% url "ta.views.all_tugs_admin" semester_name=semester.previous_semester.name %}">Previous Semester</a></li>
{% endif %}
{% if semester.next_semester %}
<li><a href="{% url "ta.views.all_tugs_admin" semester_name=semester.next_semester.name %}">Next Semester</a></li>
{% endif %}
</ul>
</div>
{% endblock %}

{% block content %}

{% if admin %}
<p class="infomessage">You can direct instructors to this URL: they will see a list of their own TAs and can create/update TUGS here.</p>
{% endif %}

<table class="display" id="offerings">
<thead>
    <tr>
        <th scope="col">Offering</th>
        {% if admin %}<th scope="col">Instructor</th>{% endif %}
        <th scope="col">TA</th>
        <th scope="col">TUG</th>
        <th scope="col">BU</th>
        <th scope="col">Hours</th>
    </tr>
</thead>
<tbody>
{% for data in tas_with_tugs %}
  <tr>
  <td>{% if data.is_instr %}<strong>{% endif %}{{data.ta.offering.name}}{% if data.is_instr %}</strong>{% endif %}</td>
  {% if admin %}
      <td>{% for instructor in data.ta.offering.instructors %}<a href="mailto:{{ instructor.email }}">{{ instructor }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
  {% endif %}
  <td><a href="mailto:{{ data.ta.person.email }}">{{data.ta.person}}</a></td>
  <td>
  	{% if data.tug %}
  	<span class="sort">{{ data.tug.last_update.isoformat }}</span>
        {% if data.tug.expired %}
  	        <a class='warning' href="{% url "ta.views.view_tug" course_slug=data.ta.offering.slug userid=data.ta.person.userid %}">Invalidated by BU Change</a>
        {% else %}
  	        <a href="{% url "ta.views.view_tug" course_slug=data.ta.offering.slug userid=data.ta.person.userid %}">Last Updated: {{ data.tug.last_update|default:"Unknown" }}</a>
        {% endif %}
  	{% else %}
      {% if data.is_instr %}
      <a href="{% url "ta.views.new_tug" course_slug=data.ta.offering.slug userid=data.ta.person.userid_or_emplid %}">Create TUG</a>
      {% endif %}
  	{% endif %}
  </td>
  <td>
  	{% if data.ta.bu %}{{data.ta.bu}}{% else %}?{% endif %}
  	{% if data.tug %}({{data.tug.base_units}} in TUG){% endif %}
  </td>
  <td class="{% if data.tug and data.tug.total_hours > data.tug.max_hours %}over{% endif %}">
  	{% if data.tug %}
  	{{data.tug.total_hours}} / {{data.tug.max_hours}}
  	{% endif %}
  </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
