{% extends "base.html" %}
{% load course_display form_display %}

{% block title %}TA Contracts for {{ posting }}{% endblock %}
{% block h1 %}TA Contracts for {{ posting }}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; TA Contracts</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">
    $(function() {
    	$('#contracts').dataTable({
			"bJQueryUI" : true,
			"iDisplayLength" : 10,
			"aaSorting" : [[4, "desc"]],
			"sPaginationType" : "full_numbers",
		});
		
    	//setting post_slug
    	$('#submit').click(function(){
    		var slugs = $('#app').val().split(" ")
    		$('#create').attr("href","/ta/contracts/" + slugs[0] + "/" + slugs[1] + "/new") 
    	})

		$('#posting').change(function(){
    		window.location.href = "/ta/contracts/" + $('#posting').val()
    	})
    	
    	//send batch offers
    	$("#select_tog").change(function() {
  			$(".offer").attr('checked', this.checked)
    	})
    	
    	$(".offer").change(function(){
    		if($("#select_tog").attr('checked'))
    			$("#select_tog").attr('checked', false)
    	})
    	
    });

</script>
{% endblock %}

{%block content%}
{%if contracts %}
<form action="" method="post">{% csrf_token %}
<div class="datatable_container">
<table class="display" id="contracts">
  <thead>
  	<tr>
	<!--#name, appointment category, rank, deadline, status. Total BU, Courses TA-ing , view/edit-->
  		<th scope="col">Person</th>
		<!--<th scope="col">First Name</th>-->
  		<th scope="col">Appt Category</th>
		<th scope="col">Rank</th>
		<th scope="col">Status</th>
		<th scope="col">Total BU</th>
		<th scope="col">Courses TA-ing</th>
		<th scope="col">Deadline</th>
  		<th scope="col">Manage</th>
  		<th scope="col">Send Offer? <input type="checkbox" id="select_tog"></th>
  	</tr>
  </thead>
  <tbody>
  {% for contract in contracts %}
  <tr>
  	<td>{{ contract.application.person }}</td> <!--#lastname-->
  	 <!--<td>{{ contract.application.person.first_name }}</td>-#first name-->
  	<td>{{contract.get_appt_category_display}} ({{contract.appt_category}})</td><!--#appt category-->
	<td>{{contract.application.rank}}</td> <!--#rank-->
	<td>{{contract.get_status_display}}</td><!--#status-->
	<td>{{contract.total_bu}}</td><!--#totalbu-->
	<td>{{contract.crs_list|linebreaksbr}}</td><!--#courses ta-ing-->
	<td>{{ contract.deadline|date:"M d Y" }}</td><!--#deadline-->
  	<td>
  		<a href="{% url ta.views.view_contract post_slug=contract.posting.slug userid=contract.application.person.userid%}">View</a>&nbsp;
  		<a href="{% url ta.views.edit_contract post_slug=contract.posting.slug userid=contract.application.person.userid%}">Edit</a>&nbsp;
  	</td>
  	<td>{% if contract.status == 'NEW' %} <input name="contract_{{contract.id}}" class="offer" type="checkbox"/> {% endif %} </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<input id="send" class="submit" type="submit" value="Send"/>
</form>
{%else%}
	<p>No contracts yet</p>
{%endif%}

<div id="ta_con">
<h2>New Contract:</h2>
<form>
	<select name="app" id="app">
		{% for app in applications %}
		<option value="{{app.posting.slug}} {{app.person.userid}}">{{ app.person }}</option>
		{% endfor %}
	</select>
	<a id="create" href="" style="height:0"><button type="button" class="submit" id="submit">Create</button></a>
	<div class="helptext">Select the associated applicant</div>
	
</form>
</div>

<div id="ta_con">
<h2>Contracts for Other Postings:</h2>
<form>
	<select name="posting" id="posting">
		<option value="">---------</option>
		{% for post in postings %}
		<option value="{{ post.slug }}">{{ post }}</option>
		{% endfor %}
	</select>
	<div class="helptext">Select the posting to view the associated contracts</div>
	
</form>
</div>
{%endblock content%}
