{% extends "base.html" %}

{% block h1 %}Time Use Guidelines, Workload Review, and TA Evaluations for {{semester}}{% endblock %}
{% block title %}Time Use Guidelines, Workload Review, and TA Evaluations for {{semester}}{% endblock %}

{% block headextra %}
<style type="text/css">
.over { color: #d00; font-weight: bold; }
.bottom_admin {
    border: 12px solid #eee;
    padding-bottom: 30px; 
}
</style>
<script nonce="{{ CSP_NONCE }}">
  $(function() {
  	table = $('#offerings').dataTable({
        "bPaginate": false,
		"bJQueryUI": true,
		"aaSorting": [[0, "asc"]],
	});

  //toggle select checkbox
  $("#select_tog").change(function() {         
  			$(".taeval").prop('checked', this.checked)
  })
    	
  $(".taeval").change(function(){
    		if($("#select_tog").prop('checked'))
    			$("#select_tog").prop('checked', false)
  })
  });
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li>All TUGs</li>
{% endblock %}

{% block actions %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
{% if semester.previous_semester %}
<li><a href="{% url "tugs:all_tugs_admin" semester_name=semester.previous_semester.name %}">Previous Semester</a></li>
{% endif %}
{% if semester.next_semester %}
<li><a href="{% url "tugs:all_tugs_admin" semester_name=semester.next_semester.name %}">Next Semester</a></li>
{% endif %}
{% if admin %}
<li><a href="{% url "tugs:tugs_csv_download" semester_name=semester.name %}">TUGs CSV Download</a></li>
{% endif %}
</ul>
</div>
{% endblock %}

{% block content %}

<ul class="fa-ul">
There are three TA-related processes that course instructors need to complete as per the TSSU Collective Agreement: 
<li>a.	the Time Use Guidelines (TUG) is due by the end of week 1 of the term.</li>
<li>b.	the Workload Review is available in week 6 of the term and is due in a timely manner after that.</li>
<li>c.	the TA Evaluation is due by the end of the term.</li>
</ul>
{% if admin %}
<p class="infomessage">You can direct instructors to this URL: they will see a list of their own TAs and can create/update TUGS here.</p>
{% endif %}

<form action="" class="subtle" method="post">{% csrf_token %}
<div class="datatable_container">
<table class="display" id="offerings">
<thead>
    <tr>
        <th scope="col">Offering</th>
        {% if admin %}<th scope="col">Instructor</th>{% endif %}
        <th scope="col">TA</th>
        <th scope="col">Time Use Guidelines (TUG) due week 1</th>
        <th scope="col">Base Units (BU)</th>
        <th scope="col">Hours</th>
        <th scope="col">Workload Review available in week 6</th>  
        <th scope="col">TA evaluation due by end of term</th>
        {% if admin %}
        <th scope="col" title="The evaluations are sent to TAs automatically on the first day of the following term. This function can can be used to remind TAs who have not completed Section E yet.">Select to action &nbsp;<input type="checkbox" id="select_tog"></th>  
        {% endif %}
    </tr>
</thead>
<tbody>
{% for data in tas_with_tugs %}
  <tr>
  <td>{% if data.is_instr %}<strong>{% endif %}{{data.ta.offering.name}}{% if data.is_instr %}</strong>{% endif %}</td>
  {% if admin %}
      <td>{% for instructor in data.ta.instructors %}<a href="mailto:{{ instructor.person.email }}">{{ instructor.person.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
  {% endif %}
  <td><a href="mailto:{{ data.ta.person.email }}">{{data.ta.person}}</a></td>
  <td>
  	{% if data.tug %}
  	<span class="sort">{{ data.tug.last_update.isoformat }}</span>
        <a href="{% url "offering:view_tug" course_slug=data.ta.offering.slug userid=data.ta.person.userid %}">{% if data.tug.draft %}(DRAFT)<br> {% endif %} Last Updated: {{ data.tug.last_update|default:"Unknown" }}</a>
  	{% else %}
      {% if data.is_instr or admin %}
      <a href="{% url "offering:new_tug" course_slug=data.ta.offering.slug userid=data.ta.person.userid_or_emplid %}">Create TUG</a>
      {% endif %}
  	{% endif %}
  </td>
  <td class="{% if data.ta.bu and data.tug and data.ta.bu != data.tug.base_units %}over{% endif %}">
  	{% if data.ta.bu %}{{data.ta.bu}}{% else %}?{% endif %}
  	{% if data.tug %}({{data.tug.base_units}} in TUG){% endif %}
  </td>
  <td class="{% if data.tug and data.tug.total_hours > data.tug.max_hours %}over{% endif %}">
  	{% if data.tug %}
  	{{data.tug.total_hours}} / {{data.tug.max_hours}}
  	{% endif %}
  </td>
  <td>
  	{% if data.tug and is_wr_visible %}  	
      {% if data.taworkload.reviewdate %}
        <a href="{% url "offering:view_ta_workload" course_slug=data.ta.offering.slug userid=data.ta.person.userid %}">Reviewed on: {{ data.taworkload.reviewdate|default:"Unknown" }} <br> 
          {% if data.taworkload.reviewhour %} <i class="fa fa-star">Needs Action</i>{% endif %}</a>
  	  {% else %}
        {% if data.is_instr or admin %}
          {% if not data.tug.draft  %}
            <a href="{% url "offering:new_ta_workload" course_slug=data.ta.offering.slug userid=data.ta.person.userid_or_emplid %}">Create</a>
          {% else %}
                --  
          {% endif %}
        {% endif %}
      {% endif %}  
    {% else %}
      --
  	{% endif %}
  </td>
  <td>
    {% if data.tug %}  	
      {% if data.taeval %}        
        <a href="{% url "offering:view_ta_evaluation" course_slug=data.ta.offering.slug userid=data.ta.person.userid %}">{% if data.taeval.draft %}(DRAFT)<br>{% endif %} Evaluated on: {{ data.taeval.instructor_signdate|default:"Unknown" }} </a>
        {% if not data.taeval.draft and not data.taeval.ta_signdate %}  <i class="fa fa-question"> Missing TA comments</i> {% endif %}
  	  {% else %}
        {% if data.is_instr or admin %}
          {% if not data.tug.draft %}
            <a href="{% url "offering:new_ta_evaluation_wizard" course_slug=data.ta.offering.slug userid=data.ta.person.userid_or_emplid %}">Create</a>
          {% else %}
                --  
          {% endif %}   
        {% endif %}
      {% endif %}  
    {% else %}
      --
  	{% endif %}      
  </td>
    {% if admin %}
    <td class="miniaction">
        {% if data.tug and data.taeval %}  
          {% if not data.taeval.ta_signdate %}
            {% if data.taeval.config.released %}          
              <i class="fa fa-info"> Released msg sent</i>
            {% endif %}
            {% if data.taeval.config.reminded %}          
              <i class="fa fa-info"> Reminded msg sent</i>
            {% endif %}
              <input name="taeval_{{data.taeval.id}}" class="taeval" type="checkbox"/>
          {% endif %}
        {% endif %}
    </td>
    {% endif %}
  </tr>
{% endfor %}
</tbody>
</table>
</div>
{% if admin %}  
  <div class = "bottom_admin infomessage">
  {% if is_past_nextsemstart %}    
      Select forms and click:
      {% if not is_cutoff %}
      <input id="send" class="submit btn" name="send_instr_reminders" type="submit" value="Send Reminders to Instructors"/>
      <input id="send" class="submit btn" name="sendrelease" type="submit" value="Send Release to TAs"/> 
      <input id="send" class="submit btn" name="sendreminders" type="submit" value="Send Reminders to TAs"/>
      {% endif %}      
      <input id="send" class="submit btn" name="sendincomplete" type="submit" value="Send Incomplete Evals To Admin"/>
  {% else%}
      Admin buttons will be available on/after {{ nextsemstart }}.
  {% endif %}
  </div>
  <p class="infomessage">Below are the automatic notifications that have been set up.</p>      
  <ul class="fa-ul">
    Time Use Guidelines
    <li> - Once instructors submit the TUG, the TA and Admin receive a pdf copy in their emails</li>
  </ul>         
  <ul class="fa-ul"> 
    Workload Review    
    <li> - Once instructors submit the Workload Review, the TA receive a pdf copy in their email. Admin only receive a notification if the number of hours required exceeds the number of hours assigned. </li>
  </ul>
  <ul class="fa-ul">
    TA Evaluation
    <li> - Day 1 of next term: Instructors with TA Evaluations in draft are reminded to submit them (on {{ nextsemstart }})</li>
    <li> - Day 1 of next term: TAs receive TA Evaluations (on {{ nextsemstart }})</li>
    <li> - Ongoing: Once TAs complete their part of the TA Evaluation, Admin receives a pdf copy in their email</li>
    <li> - Day 7 of next term: TAs who have not completed their part of the TA Evaluation receive a first reminder (on {{ nextsem7day }})</li>
    <li> - Day 14 of next term: TAs who have not completed their part of the TA Evaluation receive a second reminder (on {{ nextsem14day }})</li>
    <li> - Day 28 of next term: Admin receives pdf copies of all TA Evaluations for which the TAs have not completed their part on ({{ nextsem28day }})</li>
  </ul>
{% endif %}
</form>

{% endblock %}
