{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}


{% block h1 %}
	Time Use Guidelines for {{unit}}
{% endblock %}
{% block subbreadcrumbs %}
<li>&gt; All TUGs</li>
{% endblock %}

{% block content %}

{# or maybe use datatables? #}

{% regroup tas_with_tugs by ta.offering as course_list %}
{% for course in course_list %}
{{ course.grouper.name }}
<ul>
	{% for t in course.list %}
	<li>
		{% if not t.tug == None %}
			<a href="{% url ta.views.view_tug course_slug=course.grouper.slug userid=t.ta.person.userid %}">
				{{t.ta.person}} 
			</a> (Last Updated: {{ t.tug.last_updated|default:"Unknown" }})
		{% else %}
			{{t.ta.person}} - 
			{% if not_ta %}
			<a href="{% url ta.views.new_tug course_slug=course.grouper.slug userid=t.ta.person.userid %}">
				Create TUG
			</a>
			{% else %}
			No TUG
			{% endif %}
			
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% endfor %} 
{% if empty_courses %}
<h3>The following courses do not have any TAs listed:</h3>
{% endif %}
{% for course in empty_courses %}
<p>{{ course.name }}</p>
{% endfor %}

{% comment %}
{% for course in courses %}
{{ course.name }}
<ul>
	<li style="display:none"></li> <!-- TO DO:  have a better way to handle courses without TA and be xhtml valid -->
	{% for t in tas_with_tugs %}
		{% if t.ta.offering == course %}
			<li>
				{% if not t.tug == None %}
					<a href="{% url ta.views.view_tug course_slug=course.slug userid=t.ta.person.userid %}">
						{{t.ta.person}} 
					</a> (Last Updated: {% if t.tug.last_updated == "" %}{{ t.tug.last_updated }} {% else %} Unknown {% endif %})
				{% else %}
					{{t.ta.person}}{% if not_ta %} - 
					<a href="{% url ta.views.new_tug course_slug=course.slug userid=t.ta.person.userid %}">
						Create TUG
					</a>{% endif %}
					
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
</ul>
{% endfor %}
{% endcomment %}

{% endblock %}
