{% extends "base.html" %}
{% load form_display %}

{% block title %}TA Applications{% endblock %}
{% block h1 %}TA Applications{% endblock %}

{% block content %}

{% for unit in units %}
    <h2>{{ unit.label }} Applications</h2> 
    <ul>
        {% for app in applications %}
            {% if app.unit == unit %}
            <li>
            <a href="{% url ta.views.view_application app_id=app.id %}">{{ app.person.name }}</a> 
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}

{% endblock %}
