{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}


{% block h1 %}
	Time Use Guidelines for {{course.name}}
{% endblock %}
{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li>
<li>&gt; All TUGs</li>
{% endblock %}

{% block content %}
<ul>
{% for ta, tug in tas_with_tugs %}
	{% comment %}
	{% for tug in tugs%}
		<li>
			{% if tug.member == ta %}
				<a href="{% url ta.views.view_tug course_slug=course.slug userid=ta.person.userid %}">
					{{ta.person}} 
				</a> (Last Updated: {% if tug.last_updated == "" %}{{ tug.last_updated }} {% else %} Unknown {% endif %})
			{% else %}
				{{ta.person}}
				<a href="{% url ta.views.new_tug course_slug=course.slug %}">
					Create TUG
				</a>
				
			{% endif %}
		</li>
	{% endfor %}
	{% endcomment %}
	<li>
			{% if not tug == None %}
				<a href="{% url ta.views.view_tug course_slug=course.slug userid=ta.person.userid %}">
					{{ta.person}} 
				</a> (Last Updated: {% if tug.last_updated == "" %}{{ tug.last_updated }} {% else %} Unknown {% endif %})
			{% else %}
				{{ta.person}} - 
				<a href="{% url ta.views.new_tug course_slug=course.slug%}">
					Create TUG
				</a>
				
			{% endif %}
		</li>
{% endfor %}
</ul>

{% endblock %}
