{% extends "base.html" %}
{% load course_display form_display %}

{% block title %}TA Contracts for {{ posting }}{% endblock %}
{% block h1 %}TA Contracts for {{ posting }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ta.views.view_postings" %}">TA Postings</a></li>
<li><a href="{% url "ta.views.posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li>
<li>Contracts</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
    var application_urls = new Array();
    {% for app in applications %}
    application_urls['{{ app.id }}'] = '{% url "ta.views.edit_contract" post_slug=posting.slug userid=app.person.userid %}';
    {% endfor %}
    $(function() {
    	$('#contracts').dataTable({
			"bJQueryUI" : true,
			"bPaginate" : false,
			"aaSorting" : [[0, "asc"]],
		});
		
    	//setting post_slug
    	$('#submit').click(function(){
    		var url = application_urls[$('#app').val()]
    		$('#create').attr("href", url)
    	})

    	//send batch offers
    	$("#select_tog").change(function() {
  			$(".offer").attr('checked', this.checked)
    	})
    	
    	$(".offer").change(function(){
    		if($("#select_tog").attr('checked'))
    			$("#select_tog").attr('checked', false)
    	})
    	
    });

</script>
{% endblock %}


{% block actions %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
<li><a href="{% url "ta.views.contracts_csv" post_slug=posting.slug %}">Payroll Upload File</a></li>
<li><a href="{% url "ta.views.contracts_forms" post_slug=posting.slug %}">All Forms</a></li>
</ul>
</div>
{% endblock %}

{%block content%}
{%if contracts %}
<form action="" class="subtle" method="post">{% csrf_token %}
<div class="datatable_container">
<table class="display" id="contracts">
  <thead>
  	<tr>
  		<th scope="col">Person</th>
  		<th scope="col">Appt Category</th>
		<th scope="col">Rank</th>
		<th scope="col">Status</th>
		<th scope="col">Total BU</th>
		<th scope="col">TA Courses</th>
		<th scope="col">Deadline</th>
  		<th scope="col">Manage</th>
  		<th scope="col">Send?<input type="checkbox" id="select_tog"></th>
  	</tr>
  </thead>
  <tbody>
  {% for contract in contracts %}
  <tr>
  	<td>{{ contract.application.person }}</td>
  	<td>{{contract.get_appt_category_display}} ({{contract.appt_category}})</td>
	<td>{{contract.application.rank}}</td>
	<td>{{contract.get_status_display}}</td>
	<td>{{contract.total_bu}}</td>
	<td>{{contract.crs_list|linebreaksbr}}</td>
	<td>{{ contract.deadline|date:"M d Y" }}</td>
  	<td>
  		<a href="{% url "ta.views.view_contract" post_slug=contract.posting.slug userid=contract.application.person.userid%}">View</a>&nbsp;
  		<a href="{% url "ta.views.edit_contract" post_slug=contract.posting.slug userid=contract.application.person.userid%}">Edit</a>&nbsp;
  	</td>
  	<td class="miniaction">
  		{% if contract.status == 'NEW' %}
  		<input name="contract_{{contract.id}}" class="offer" type="checkbox"/>
  		{% else %}{% if contract.status == 'ACC' or contract.status == 'OPN' %}
  		<input type="submit" name="signed-{{ contract.application.person.userid }}" value="Signed" />
  		{% endif %}{% endif %}
  	</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<input id="send" class="submit" name="sendoffers" type="submit" value="Send"/>
</form>
{%else%}
	<p>No contracts yet</p>
{%endif%}

<h2 id="new">New Contract</h2>
<form action="{% url "ta.views.new_contract" post_slug=posting.slug %}" method="post">{% csrf_token %}
	{{ form.application }}
	<input type="submit" class="submit" id="submit" value="Create">
	<div class="helptext">Select the associated applicant</div>
	
</form>

{%endblock content%}
