{% extends "base.html" %}
{% block title %}TA Contracts for {{ posting }}{% endblock %}
{% block h1 %}TA Contracts for {{ posting }}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; TA Contracts</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">
    $(document).ready(function() {
    	//setting post_slug
    	$('#submit').click(function(){
    		var slugs = $('#app').val().split(" ")
    		$('#create').attr("href","/ta/contracts/" + slugs[0] + "/" + slugs[1] + "/new") 
    	})

		$('#posting').change(function(){
    		//$.post("{% url ta.views.all_contracts  %}",
    		//{'csrfmiddlewaretoken': "{{csrf_token}}", 'slug':$('#posting').val()})
    		window.location.href = "/ta/contracts/" + $('#posting').val()
    		//window.location = "/ta/contracts/" + $('#posting').val()
    	})
    });
</script>
{% endblock %}

{%block content%}
{%if contracts %}
<div class="datatable_container">
<table class="display">
  <thead>
  	<tr>
  		<th scope="col">Applicant</th>
  		<th scope="col">Posting</th>
  		<th scope="col">Deadline</th>
  		<th scope="col">View</th>
  		<th scope="col">Edit</th>
  	</tr>
  </thead>
  <tbody>
  {% for contract in contracts %}
  <tr>
  	<td>{{ contract.application.person }}</td>
  	<td>{{ contract.posting }}</td>
  	<td>{{ contract.deadline }}</td>
  	<td><a href="{% url ta.views.view_contract contract_id=contract.id%}">View</a></td>
  	<td><a href="{% url ta.views.edit_contract post_slug=contract.posting.slug userid=contract.application.person.userid%}">Edit</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>


{%else%}
	<p>No contracts yet</p>
{%endif%}

<div id="ta_con">
<h2>New Contract</h2>
<form>
	<select name="app" id="app">
		{% for app in applications %}
		<option value="{{app.posting.slug}} {{app.person.userid}}">{{ app.person }}</option>
		{% endfor %}
	</select>
	<a id="create" href="" style="height:0"><button type="button" class="submit" id="submit">Create</button></a>
	<div class="helptext">Select the associated applicant</div>
	
</form>
</div>

<div id="ta_con">
<h2>History</h2>
<form>
	<select name="posting" id="posting">
		<option value="">---------</option>
		{% for post in postings %}
		<option value="{{ post.slug }}">{{ post }}</option>
		{% endfor %}
	</select>
	<div class="helptext">Select the posting to view the associated contracts</div>
	
</form>
</div>
{%endblock content%}
