{% extends "base.html" %}
{% load form_display ta_display %}

{% block title %}Assign TAs for {{ offering.subject }} {{ offering.number }} {{ offering.section }} at {{ offering.get_campus_display }}{% endblock %}
{% block h1 %}Assign TAs for {{ offering.subject }} {{ offering.number }} {{ offering.section }} at {{ offering.get_campus_display }}{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url ta.views.view_postings %}">TA Postings</a></li><li>&gt; {{ posting.unit.label }} {{ posting.semester }} </li><li>&gt; <a href="{% url ta.views.assign_tas post_slug=posting.slug %}">Assign TAs</a></li><li>&gt; {{ offering.subject }} {{ offering.number }} {{ offering.section }}</li> 
{% endblock %}

{% block headextra %}
<link type="text/css" href="{{MEDIA_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript">
  $(function() {
  	table = $('#applications').dataTable({
        "bPaginate": false,
		"bJQueryUI": true,
		"aaSorting": [[0, "asc"]],
	});
  });
</script>
{% endblock %}

{% block content %}

<form action="{% url ta.views.update_course_bus post_slug=posting.slug, course_slug=offering.slug %}" method="post">{% csrf_token %}
    Extra Base Units:<input id="extra_bu" name="extra_bu" type="text" value="{{ extra_bu }}"/>
    <input id="submit" class="submit" type="submit" value="update"/>
</form>

<p><b>
Required BU: {{ offering|display_bu:posting }}
Assigned BU: {{ offering|display_assigned_bu:posting }}
Remaining BUs: {{ offering|display_bu_difference:posting }}
</b></p>

<form action="{% url ta.views.assign_bus post_slug=posting.slug, course_slug=offering.slug %}" method="post">{% csrf_token %}
{{ formset.management_form }}
<div class="form_container">
<table class="display" id="ta_app">
<thead>
    <tr>
      <th scope="col">Applicant</th>
      <th scope="col">Rank</th>
      <th scope="col">Course Rank</th>
      <th scope="col">Campus Preference</th>
      <th scope="col">Max BUs</th>
      <th scope="col">Assigned BUs</th>
    </tr>
</thead>
<tbody>
{% for a in applications %}
      <tr>
        <td scope="row"><a href="{% url ta.views.view_application app_id=a.id %}">{{ a.person.last_name }}, {{ a.person.first_name }}</a></td>
        <td>{% for form in formset %}
        {% ifequal forloop.counter forloop.parentloop.counter %}
          {{ form|as_dl_usefield:'rank' }}
        {% endifequal %}
        {% endfor %}
        </td>
        <td scope="row">{{ course_preferences|display_course_rank:forloop.counter0 }}</td>
        <td scope="row">{{ campus_preferences|display_campus_preference:forloop.counter0 }}</a></td>
        <td scope="row">{{ a.base_units }}</a></td>
        <td>{% for form in formset %}
        {% ifequal forloop.counter forloop.parentloop.counter %}
          {{ form|as_dl_usefield:'bu' }}
        {% endifequal %}
        {% endfor %}
        </td>
      </tr>	
{% endfor %}
</tbody>
</table>
</div>
<input id="submit" class="submit" type="submit" value="submit"/>
</form>

{% endblock %}
