{% extends "base.html" %}
{% load course_display ta_display %}

{% block title %}Assign TAs for {{ posting.unit.label }} in {{ posting.semester }}{% endblock %}
{% block h1 %}Assign TAs for {{ posting.unit.label }} in {{ posting.semester }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ta:view_postings" %}">TA Postings</a></li>
<li><a href="{% url "ta:posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li>
<li>Assign TAs</li>{% endblock %}

{% block headextra %}
<link type="text/css" href="{{STATIC_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}js/core.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}multiselect/js/ui.multiselect.js"></script>
<script nonce="{{ CSP_NONCE }}">
  $(function() {
  	table = $('#offerings').dataTable({
        "bPaginate": false,
		"bJQueryUI": true,
		"aaSorting": [[0, "asc"]],
		"aoColumns": [
		    { "sType": "by-notag" },
		    null,
            { "sType": "by-mark" },
            null,
            null,
            null,
            { "sType": "by-result" },
            null,
            { "sType": "by-notagnum" },
            { "sType": "by-result" },
		]
	});
  });
</script>
<style type="text/css">
  .over {
    color: #b00;
    font-weight: bold;
  }
  .under {
    color: #090;
    font-weight: bold;
  }
</style>
{% endblock %}

{% block actions %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
<li><a href="{% url "ta:generate_csv" post_slug=posting.slug %}">Applicant Spreadsheet</a></li>
<li><a href="{% url "ta:generate_csv_by_course" post_slug=posting.slug %}">Applicant Spreadsheet By Course</a></li>
<li><a href="{% url "ta:download_assign" post_slug=posting.slug %}">Download CSV</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div class="datatable_container">
<table class="display" id="offerings">
<thead>
    <tr>
    <th scope="col">Offering</th>
    <th scope="col">Instructor</th>
    <th scope="col">Enrol</th>
    <th scope="col">Campus</th>
	<th scope="col">Assigned</th>
	<th scope="col">Applicants</th>
  <th scope="col">Required BU (by capacity)</th>
	<th scope="col">Required BU (by enrol.)</th>
    <th scope="col">Assigned BU</th>
    <th scope="col">Diff</th>
  </tr>
 </thead>
<tbody>
{% for o in offerings %}
<tr>
  <td scope="row" title="{{o.title}}">
    {% if o.component == "CAN" %}<del>{% endif %}
    <a href="{% url "ta:assign_bus" post_slug=posting.slug course_slug=o.slug %}">{{o.name}}</a>
    {% if o.component == "CAN" %}</del>{% endif %}
    </td>
  <td>{% for instructor in o.instructors %}<a href="mailto:{{ instructor.email }}">{{ instructor.sortname }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
  <td class="num">{{o.enrl_tot}}/{{o.enrl_cap}}{% if o.wait_tot %} (+{{ o.wait_tot }}) {% endif %}</td>
  <td>{{o.get_campus_display}}</td>
  <td>
  	{% for tacrs in o.assigned %}
    {% if tacrs.total_bu > 0 %}
  	    <a href="mailto:{{tacrs.contract.application.person.email}}">{{tacrs.contract.application.person.sortname}}</a>
  	    ({{tacrs.total_bu }}){% if not forloop.last %}, {% endif %}
    {% endif %}
  	{% endfor %}
  </td>
  <td class="num">{{ o|display_applicant_count:posting }}</td>
  <td class="num">{{ o|display_bu_cap:posting }}</td>
  <td class="num">{{ o|display_required_bu:posting }}
    {% if o|display_extra_bu:posting != "0.00" %} 
        <br/>({{ o|display_default_bu:posting }}+{{o|display_extra_bu:posting}}) 
        {% endif %}
  </td>
  <td class="num">{{ o|display_assigned_bu:posting }}</td>
  <td class="num">{{ o|display_bu_difference:posting }}</td>
</tr>	
{% endfor %}
</tbody>
</table>
<p class="helptext">
These offerings have been excluded from the above because they are in the exclusion list of the <a href="{% url "ta:edit_posting" post_slug=posting.slug %}">original posting</a>: 
{% for o in excluded %}{{ o.name }}{% if not forloop.last %}, {% endif %}{% endfor %}.
</p>
</div>

{% endblock %}
