{% extends "base.html" %}
{% load form_display ta_display %}

{% block title %}Assign TAs for {{ offering.subject }} {{ offering.number }} {{ offering.section }} at {{ offering.get_campus_display}}{% endblock %}
{% block h1 %}Assign TAs for {{ offering.subject }} {{ offering.number }} {{ offering.section }} at {{ offering.get_campus_display}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ta.views.view_postings" %}">TA Postings</a></li>
<li><a href="{% url "ta.views.posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li>
<li><a href="{% url "ta.views.assign_tas" post_slug=posting.slug %}">Assign TAs</a></li>
<li>{{ offering.subject }} {{ offering.number }} {{ offering.section }}</li> 
{% endblock %}

{% block headextra %}
<link type="text/css" href="{{STATIC_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript">
//<![CDATA[  

  var server_side_labtas_set = false;
  var initial_extra_bus = false;
  var default_required_bu = {{ offering|display_default_bu:posting}};
  var default_required_bu_cap = {{ offering|display_default_bu_cap:posting}};

  $(function() {
  	
    table = $('#ta_app').dataTable({
        "bPaginate": false,
        "bFilter": false,
		"bJQueryUI": true,
		"aaSorting": [],
	});

    server_side_labtas_set = $("#labtas").attr('checked') == 'checked';
    initial_extra_bus = $("#extra_bu").val();

	$('.bu_inp').change(function(i, e){
        if( isNaN( parseFloat( $(this).val() ))){
            $(this).val('');
        }
        else{
            $(this).val( parseFloat($(this).val()).toFixed(2) );
        }
        
        var row_element = $(this).parent().parent();
        decide_whether_to_show_prep_bu( 0, row_element );
        calculate_total_bu();
	})
 
    hide_update(); 
    $('#messages').hide();

    $('#extra_bu').change( show_update );
    $('#extra_bu').keydown( show_update );
    $('#labtas').change( show_update );
	
  });

  function show_update(){
    
    $("#update_button").show();
    $("#cancel_button").show();
    $("#submit_message").show();
    $(".submit_button").hide();
  }
  
  function hide_update(){
    
    $("#update_button").hide();
    $("#cancel_button").hide();
    $("#submit_message").hide();
    $(".submit_button").show();
    $("#messages").hide();
  }
  
  function decide_whether_to_show_prep_bu( i, row_element ){
    row_element = $(row_element);
    // if this person has a valid BU value and LABTAS is set on the server side,
    // then show the prep-BU bonus. 
    bu_element = row_element.find(".bu_inp");
    prep_element = row_element.find(".prep_bu");
    if( parseFloat( bu_element.val() ) > 0 && server_side_labtas_set ){
       prep_element.html( "{{LAB_BONUS}}" ); 
    }
    else{
       prep_element.html( "" );
    }
  }
  
  function cancel(){
    $("#labtas").prop('checked', server_side_labtas_set );
    $("#extra_bu").val( initial_extra_bus );

    hide_update();
  }
  
  function update(){
  	var extra_bu = parseFloat($('#extra_bu').val());

    if( isNaN(extra_bu) )
    {
        $("#extra_bu").val( "0.00" );
        extra_bu = 0;
    }

    var labtas = $("#labtas").attr('checked') == 'checked';
  	
  	$.post("{% url "ta.views.assign_bus" post_slug=posting.slug course_slug=offering.slug %}",
  			{'csrfmiddlewaretoken': "{{csrf_token}}", 'extra_bu': extra_bu, 'labtas': labtas},
				function(data, success){

                    // The response object should look like: 
                    // data = { 'message':'blah blah blah', 'error':false, 'has_labtas':true, 'labtas_changed':true }
					
                    if(data.message != ''){
						$('#messages div.warninglist').html('<ul><li class="warning">' + data.message + '</li></ul>');
    					$('#messages').show();
					}
					else{
						$('#messages').hide();
					}

                    if( ! data.error ){
                        server_side_labtas_set = data.has_labtas;
                    
                        $(".application_row").each( decide_whether_to_show_prep_bu );
                        
                        calculate_total_bu();

                        hide_update();
                    }
				})
  }

  function calculate_total_bu(){
  	var extra_bu = parseFloat($('#extra_bu').val());
    var bu = 0;
    $(".bu_inp").each(function(i,data){
        if( ! isNaN( parseFloat( $(data).val() ))){
            bu = bu + parseFloat( $(data).val() )
        }
    });
    var prep_bu = 0;
    $(".prep_bu").each(function(i,data){
        if( ! isNaN( parseFloat( $(data).html() ))){
            prep_bu = prep_bu + parseFloat( $(data).html() )
        }
    });
    var total_bu = bu + prep_bu;
    var req_bu = default_required_bu + extra_bu + prep_bu;
    var cap_bu = default_required_bu_cap + extra_bu + prep_bu;
    var rem_bu = req_bu - total_bu;
    $("#a_bu").html(total_bu);
    $("#rem_bu").html(rem_bu);
    $("#cap_bu").html(cap_bu);
    $("#req_bu").html(req_bu);
  }
  
//]]></script>
{% endblock %}

{% block content %}

<h2>
Instructor:
{% for instructor in instructors %}
    {{ instructor.sortname }}<br/>
{% endfor %}
</h2>

<form action="">
	<div class="container">
		<div id="messages"><div class="warninglist"></div></div>
	</div>
    
    <fieldset id="assign_bu">
    <legend>Additional Course Configuration</legend>
        <ul>
        <li>
            <label>Extra Base Units:&nbsp;</label>
            <div class="inputfield"><input id="extra_bu" name="extra_bu" type="text" value="{{ offering.extra_bu }}"/></div>
            <div class="helptext">(Extra base units to assign, in addition to the calculated defaults.)</div>
        </li>
        <li>
            <label>TA runs lab/tutorial:&nbsp;</label>
            <div class="inputfield"><input id="labtas" name="labtas" type="checkbox" {% if offering.labtas %}checked="checked"{% endif %}/></div>
            <div class="helptext">(i.e. TAs get +{{LAB_BONUS}} BU)</div>
        </li>
        </ul>
        <button type="button" id="cancel_button" class="submit" onclick="cancel()">Cancel</button>
        <button type="button" id="update_button" class="submit" onclick="update()">Update</button>
    </fieldset>
</form>


<div id= "config">
<p id="info">
Required BU: <span id="req_bu">{{ offering|display_required_bu:posting }}</span>
(<span id="cap_bu">{{ offering|display_bu_cap:posting }}</span> @ enrollment cap),
assigned: <span id="a_bu"> {{ offering|display_assigned_bu:posting }}</span>,
remaining: <span id="rem_bu"> {{ offering|display_bu_difference:posting }}</span>.
</p>
</div>

<form class="subtle" action="{% url "ta.views.assign_bus" post_slug=posting.slug course_slug=offering.slug%}" method="post">{% csrf_token %}
<div><input id="submit_button1" class="submit submit_button" style='margin-right:18px' type="submit" value="Submit"/></div>
<div class="clearfix"></div>
<div class="form_container">
{{ formset.management_form }}
<table class="display" id="ta_app">
<thead>
    <tr>
      <th scope="col">Applicant</th>
      <th scope="col">Rank</th>
      <th scope="col">Grad Program</th>
      <th scope="col">Category</th>
      <th scope="col">Course Rank</th>
      <th scope="col">Campus Pref.</th>
      <th scope="col">Max BUs</th> <!-- this is the maximum number of BU's the student is willing to accept. -->
      <th scope="col">Prep BUs</th>
      <th scope="col">Assigned BUs</th>
    </tr>
</thead>
<tbody>
{% for a in applications %}
      <tr class='application_row'>
        <td scope="row"><a href="{% url "ta.views.view_application" post_slug=posting.slug userid=a.person.userid %}">{{ a.person.last_name }}, {{ a.person.first_name }}</a></td>
        <td>
            {% for form in formset %}
                {% ifequal forloop.counter forloop.parentloop.counter %}
                  {{ form.rank }}
                {% endifequal %}
            {% endfor %}
        </td>
        <td>
            {% for st in a.statuses %}
                {{st.student.program.label}} ({{st.student.program.unit.label}}, {{st.get_status_display}}) {% if not forloop.last %}<br />{% endif %}
            {% endfor %}
        </td>
        <td>{{ a.get_category_display }}</td>
        <td>{{ a.course_rank }}</td>
        <td>{{ a.campus_preference.get_pref_display }}</td>
        <td>{{ a.base_units }}</td>
        <td class='prep_bu'>{{ a.assigned_course.prep_bu }}</td>
        <td>
            {% for form in formset %}
                {% ifequal forloop.counter forloop.parentloop.counter %}
                    {{ form.bu }}
                {% endifequal %}
            {% endfor %}
        </td>
      </tr>	
{% endfor %}
</tbody>
</table>
<input id="submit_button" class="submit submit_button" type="submit" value="Submit"/>
<div id="submit_message" style="text-align: right;"> Please Update or Cancel your course configuration change before continuing. </div>
</div>
</form>

{% endblock %}
