{% extends "base.html" %}
{% load course_display ta_display %}

{% block title %}Assign TAs for {{ posting.unit.label }} in {{ posting.semester }}{% endblock %}
{% block h1 %}Assign TAs for {{ posting.unit.label }} in {{ posting.semester }}{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url ta.views.view_postings %}">TA Postings</a></li><li>&gt; {{ posting.unit.label }} {{ posting.semester }} </li><li>&gt; Assign TAs</li>
{% endblock %}

{% block headextra %}
<link type="text/css" href="{{MEDIA_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript">
  $(function() {
  	table = $('#offerings').dataTable({
        "bPaginate": false,
		"bJQueryUI": true,
		"aaSorting": [[0, "asc"]],
		"aoColumns": [
		    null,
		    null,
            null,
            null,
            null,
            null,
		]
	});
  });
</script>
{% endblock %}

{% block content %}
<a href="{% url ta.views.generate_csv post_slug=posting.slug %}">Download Applicant Spreadsheet</a>
<div class="datatable_container">
<table class="display" id="offerings">
<thead><tr><th scope="col">Offering</th><th scope="col">Instructor</th><th scope="col">Enrol</th><th scope="col">Campus</th><th scope="col">Applicants</th><th scope="col">Required BU</th><th scope="col">Assigned BU</th><th scope="col">Diff</th></tr></thead>
<tbody>
{% for o in offerings %}
<tr>
  <td scope="row" title="{{o.title}}"><a href="{% url ta.views.assign_bus post_slug=posting.slug, course_slug=o.slug %}">{{o.name}}</a></td>
  <td>{% for instructor in o.instructors %}<a href="mailto:{{ instructor.email }}">{{ instructor.sortname }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
  <td class="num">{{o.enrl_tot}}</td>
  <td class="num">{{o.get_campus_display}}</td>
  <td class="num">{{ o|display_applicant_count:posting }}</td>
  <td class="num">{{ o|display_bu:posting }}</td>
  <td class="num">{{ o|display_assigned_bu:posting }}</td>
  <td class="num">{{ o|display_bu_difference:posting }}</td>
</tr>	
{% endfor %}
</tbody>
</table>
<p class="helptext">
These offerings have been excluded from the above because they are in the exclusion list of the <a href="{% url ta.views.edit_posting post_slug=posting.slug %}">original posting</a>: 
{% for o in excluded %}{{ o.name }}{% if not forloop.last %}, {% endif %}{% endfor %}.
</p>
</div>

{% endblock %}
