{% extends "base.html" %}
{% load form_display ta_display %}

{% block title %}Assign TAs for {{ offering.subject }} {{ offering.number }} {{ offering.section }} at {{ offering.get_campus_display}}{% endblock %}
{% block h1 %}Assign TAs for {{ offering.subject }} {{ offering.number }} {{ offering.section }} at {{ offering.get_campus_display}}{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url ta.views.view_postings %}">TA Postings</a></li>
<li>&gt; <a href="{% url ta.views.posting_admin post_slug=posting.slug %}">{{ posting.short_str }}</a></li>
<li>&gt; <a href="{% url ta.views.assign_tas post_slug=posting.slug %}">Assign TAs</a></li>
<li>&gt; {{ offering.subject }} {{ offering.number }} {{ offering.section }}</li> 
{% endblock %}

{% block headextra %}
<link type="text/css" href="{{MEDIA_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript">
//<![CDATA[  
  $(function() {
  	table = $('#ta_app').dataTable({
        "bPaginate": false,
		"bJQueryUI": true,
		"aaSorting": [[0, "asc"]],
	});
	
	$('#messages').hide()
	
	$('.bu_inp').change(function(){
		var max = parseFloat($(this).parent().parent().prev().html())
		if(!isNaN($(this).val()) && parseFloat($(this).val()) > max){
			$('#messages div.warninglist').html('<ul><li class="warning">Assigned BU exceeds the maximum BU</li></ul>')
    		$('#messages').show()
    	}
    	else {
    		$('#messages').hide()
    	}
	})
	
  });
  
  function update(){
  	var bu = $('#extra_bu').val()
  	var labtut = "no"
  	var labtas = "no"
  	if($('#labtut').attr('checked'))
  		labtut = "yes"
  	if($('#labtas').attr('checked'))
  		labtas = "yes"
  	
  	$.post("{% url ta.views.assign_bus post_slug=posting.slug, course_slug=offering.slug %}",
  			{'csrfmiddlewaretoken': "{{csrf_token}}", 'bu_update': 'yes', 'extra_bu': bu, 'labtut': labtut, 'labtas': labtas},
				function(data){
					data = JSON.parse(data)
					if(data.act > 0) //add LAB_BONUS
						change_bu({{LAB_BONUS}})
					else if(data.act < 0) //minus LAB_BONUS
						change_bu(-{{LAB_BONUS}})
					
					if(data.msg != ''){
						$('#messages div.warninglist').html('<ul><li class="warning">' + data[1] + '</li></ul>')
    					$('#messages').show()
					}
					else
						$('#messages').hide()
					
					if(data.req_bu != ''){
						$('#req_bu').html(data.req_bu)
						$('#rem_bu').html(data.rem_bu)
					}
				})
  }
  
  function change_bu(bu){
  	$('.bu_inp').each(function(){
  		var val = $(this).val()
  		if($(this).val()!=''){
  			var val = $(this).val()
  			$(this).val((parseFloat(val) + bu).toFixed(2))
  		}
  		/*
  		if($(this).val()!=''){
  			if($(this).parent().next().length == 0){ //go with default
  				var val = $(this).val()
				$(this).val((parseFloat(val) + bu).toFixed(2))
			}
		}
		*/
	})
  }
  
//]]></script>
{% endblock %}

{% block content %}

<h2>
Instructor:
{% for instructor in instructors %}
    {{ instructor.sortname }}<br/>
{% endfor %}
</h2>

<form action="">
	<div class="container">
		<div id="messages"><div class="warninglist"></div></div>
	</div>
    
    <fieldset id="assign_bu">
    <legend>Additional Course Configuration</legend>
        <ul>
        <li>
            <label>Extra Base Units:&nbsp;</label>
            <div class="inputfield"><input id="extra_bu" name="extra_bu" type="text" value="{{ offering.extra_bu }}"/></div>
            <div class="helptext">(Extra base units to assign, in addition to the calculated defaults.)</div>
        </li>
        <li>
            <label>TA runs lab/tutorial:&nbsp;</label>
            <div class="inputfield"><input id="labtas" name="labtas" type="checkbox" {% if offering.labtas %}checked="checked"{% endif %}/></div>
            <div class="helptext">(i.e. TAs get +{{LAB_BONUS}} BU)</div>
        </li>
        </ul>
        <button type="button" class="submit" onclick="update()">Update</button>
    </fieldset>
</form>

<div id= "config">
<p id="info">
Required BU: <span id="req_bu">{{ offering|display_bu:posting }}</span>
(<span id="cap_bu">{{ offering|display_bu_cap:posting }}</span> @ enrollment cap),
assigned: <span id="a_bu"> {{ offering|display_assigned_bu:posting }}</span>,
remaining: <span id="rem_bu"> {{ offering|display_bu_difference:posting }}</span>.
</p>
</div>

<form action="{% url ta.views.assign_bus post_slug=posting.slug, course_slug=offering.slug%}" method="post">{% csrf_token %}
<div class="form_container">
{{ formset.management_form }}
<table class="display" id="ta_app">
<thead>
    <tr>
      <th scope="col">Applicant</th>
      <th scope="col">Rank</th>
      <th scope="col">Grad Program</th>
      <th scope="col">Category</th>
      <th scope="col">Course Rank</th>
      <th scope="col">Campus Preference</th>
      <th scope="col">Max BUs</th>
      <th scope="col">Assigned BUs</th>
    </tr>
</thead>
<tbody>
{% for a in applications %}
      <tr>
        <td scope="row"><a href="{% url ta.views.view_application post_slug=posting.slug userid=a.person.userid %}">{{ a.person.last_name }}, {{ a.person.first_name }}</a></td>
        <td>{% for form in formset %}
        {% ifequal forloop.counter forloop.parentloop.counter %}
          {{ form.rank }}
        {% endifequal %}
        {% endfor %}
        </td>
        <td>{% for st in a.statuses %}
            {{st.student.program.label}} ({{st.student.program.unit.label}}, {{st.get_status_display}}) {% if not forloop.last %}<br />{% endif %}
            {% endfor %}</td>
        <td>{{ a.get_category_display }}</td>
        <td>{{ course_preferences|display_course_rank:forloop.counter0 }}</td>
        <td>{{ campus_preferences|display_campus_preference:forloop.counter0 }}</td>
        <td>{{ a.base_units }}</td>
        <td>{% for form in formset %}
        {% ifequal forloop.counter forloop.parentloop.counter %}
          {{ form.bu }}
        {% endifequal %}
        {% endfor %}
        </td>
      </tr>	
{% endfor %}
</tbody>
</table>
<input class="submit" type="submit" value="submit"/>
</div>
</form>

{% endblock %}
