{% extends "base.html" %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $("h3.instructions").collapsible();
});
</script>
{% endblock %}

{% block title %}Edit Time Use Guideline{% endblock %}
{% block h1 %}Edit Time Use Guideline{% if draft %} [DRAFT]{% endif %}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{% url "offering:course_config" course_slug=course.slug %}">Setup</a></li>
<li><a href="{% url "offering:manage_tas" course_slug=course.slug %}">Manage TAs</a></li>
<li>Edit TUG for {{ta.name}}</li>{% endblock %}

{% block content %}
<form action="" method="post" id="edit-time-use-guideline">{% csrf_token %}

<div>TA Name: {{ta.name}}</div>
<div>Instructor: {% for instructor in course.instructors %}
    {{instructor.name}} {% if not forloop.last %}, {% endif %}
  {% endfor %}</div>
<div>Course: {{course}}</div>
<div>
  <p>
    Teaching Assistant total workload for the semester should approach but not exceed the 
    maximum hours over the term of the semester (normally 17 weeks).

  </p>
  <p><em>
    The following summary is an approximation of the length of time expected 
    to be devoted to  the major activities.  There may be shifts between 
    activities, but the total hours required over the semester cannot exceed the
    maximum hours set out above.
  </em></p>
</div>
{{ form.as_p }}
<table>
<tr>
<th>Duties and Responsibilities</th><th>Average hrs/week</th><th>Total hrs/semester</th><th>Comment</th>
</tr>

{% for form in form.subforms.values %}
<tr>
<th>
{{form.non_field_errors}}
{% if form.label_editable %}
*** Other: {{ form.label.as_widget }}{{form.label.errors}}
{% else %}
{{ form.label }}
{% endif %}
</th>
{{ form.as_table_row }}
</tr>
{% endfor %}
<tr>
<th class="totals">Total</th>
<td class="weekly"><span id="weeklyHours"></span></td>
<td class="total"><span id="totalHours"></span> (Max: <span id="maxHours"></span>)</td>
<td class="comment"></td>

</tr>
</table>
{{ form.config_form.management_form }}
<div>
  <p>
    Teaching Assistants and course instructors should familiarize themselves with the general 
    working conditions set out in Article 13C, assignment and compensation in Article 13D, 
    and workload review mechanisms in Article 13E.
  </p>
  <p>
    * There are no hours of work associated with the additional {{lab_bonus}} base unit for preparation,
    Article 13D. 2 b.  See Appendix B for calculation of hours.
    <br/>
    **  Includes grading of all assignments, reports and examinations - whether in class/lab or afterwards. 
    <br/>
    *** Attendance at a TA/TM Day/ and other required Training
  </p>
  </div>
  <p class="infomessage">Once you click on Submit, the TA will receive a pdf copy in their email. </p>
  <div><input class='submit confirm-submit' type="submit" value="Save and Submit TUG" data-submit-action="submit" title="Once you click on Save and Submit, the TA will receive a pdf copy in their email" />

        {% if draft %}
          <input class="submit" name="save_draft" type="submit" value="Save to Draft"/>
        {% endif %}
  </div>
</form>

<div class="instructions" id="instructions-section">
  <p> This form is based on the form in Appendix C of the <a href="{{tssu_link}}" target="_new">TSSU's collective agreement.</a></p>
  <p> To compensate for all statutory holidays which may occur in a semester, the total workload required will be reduced by 1.1 hour(s) for each base unit assigned excluding the additional 0.17 B.U. for preparation, e.g. 4.4 hours reduction for 4.17 B.U. appointment.</p>
  <p> The Course instructor shall complete these forms during the first week of classes each semester in consultation with the Teaching Assistant. The Teaching Assistant is entitled to suggest amendments to the assigned times for the various activities. </p>
  <p> All TA assignments will be reviewed by the Course instructor to assess that the workload will not by semester end, exceed the maximum hours of work provided as follows:</p>
  <p> a. Prior to the end of week six (6), Departments shall remind Course instructors and Teaching Assistants that Course instructors are required to conduct a workload review.</p>
  <p> b. The Course instructor will conduct the workload review in consultation with the Teaching Assistant in a timely manner so as to ensure that the course is sufficiently advanced to assess the workload. The Course instructor will advise the Teaching Assistant of the result of the review, and the Department will retain the copy of the completed review form until the conclusion of the following semester.</p>
  <p>Where the Course instructor concludes that the workload required will, by semester end, exceed the total workload hours of the appointment, then it will be necessary to either reduce the workload, where possible, or provide additional compensation.</p>   
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/ta.js"></script>
<script nonce="{{ CSP_NONCE }}">
var HOURS_PER_BU = {{HOURS_PER_BU}};
</script>
{% block extrascripts %}{% endblock %}
{% endblock %}
