{% extends "base.html" %}
{% load course_display form_display %}

{% block title %}{% if editing %}Edit Contract for {{ contract.application.person.name }}{% else %}New Contract for {{application.person}}{% endif %}{% endblock %}
{% block h1 %} {% if editing %}Edit Contract for {{ contract.application.person.name }}{% else %}New Contract for {{application.person}}{% endif %}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ta.views.view_postings" %}">TA Postings</a></li>
<li><a href="{% url "ta.views.posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li>
<li><a href="{% url "ta.views.all_contracts" post_slug=posting.slug %}">Contracts</a></li>
{% if editing %}
<li><a href="{% url "ta.views.view_contract" post_slug=posting.slug userid=contract.application.person.userid %}">{{ contract.application.person.name }}</a></li>
<li>Edit</li>
{% else %}
<li>New</li>
{% endif %}
{% endblock %}

{% block headextra %}
<script type="text/javascript">

    var old_status = {% if old_status %}'{{old_status|escapejs}}'{% else %}null{% endif %};

    var LAB_BONUS = {{LAB_BONUS}};
    var ids_of_descriptions_with_labs = {{ids_of_descriptions_with_labs|escapejs}};

    function getBonusBUs(){
        var bonus_bus = 0;
        $(".desc_select").each(function(i, element){
            if( ids_of_descriptions_with_labs.indexOf( parseInt($(element).val(), 10) ) != -1){
                bonus_bus += LAB_BONUS;
            }
        });
        return bonus_bus;
    }

	function calculate(){
		var total = 0;
        $(".bu_inp").each(function(i, element){
            var val = parseFloat( $(element).val() )
            if( val > 0 ){
                total += val
            }
        });
        var before_bonus_bu = total;
        total += getBonusBUs();

		$('#total_bu').val(total.toFixed(2))   
		
		var salary_rate = parseFloat($('#id_pay_per_bu').val())
		var schol_rate = parseFloat($('#id_scholarship_per_bu').val())
		var bu = parseFloat($('#total_bu').val())
		var salary_sem = (bu * salary_rate).toFixed(2)
		var schol_sem = (before_bonus_bu * schol_rate).toFixed(2)
		$('#salary_sem').val(salary_sem)
		$('#schol_sem').val(schol_sem)
		var salary_bi = (salary_sem / "{{posting.payperiods}}").toFixed(2)
		var schol_bi = (schol_sem / "{{posting.payperiods}}").toFixed(2)
		$('#salary_bi').val(salary_bi)
		$('#schol_bi').val(schol_bi)
	}
	
	function validate(){
		$('#messages').hide()
		if($('#messages ul.errorlist').html!='')
			$('#messages ul.errorlist').html("")
		var valid = true
		var html = ""
		
		var clist = new Array()
		$('.course_select').each(function(){
			if($(this).val()!="")
				clist.push($(this).val())
		})	

		if(!check_dup(clist.sort())){
			html += '<li class="warning">Duplicate course selection</li>'
			valid = false
		}
			
    	if(html!=""){
    		$('#messages ul.warninglist').html(html)
    		$('#messages').show()
    	}
    	return valid;
	}
	
	function check_dup(list){
		for(var i = 0; i< list.length-1; i++){
			if(list[i]==list[i+1])
				return false
		}
		return true
	}
	
	//ajax to get default rates
	function set_rates(cat){
		$.post("{% url "ta.views.edit_contract" post_slug=posting.slug userid=userid %}",
			{'csrfmiddlewaretoken': "{{csrf_token}}", 'appt_cat': cat},
			function(data){
				vals = data.split(',')
				$('#id_pay_per_bu').val(vals[0])
				$('#id_scholarship_per_bu').val(vals[1])
				$('#id_position_number').val(vals[2])
				if($('#salary_bi').val()!="")
					calculate()
			}); 
	}
	
	function button_update() {
		var button = $('#submit');
		var val = $("#id_status").val();
		if (val == 'OPN') {
			button.attr('value', 'Save and offer contract');
		} else if (val == 'NEW') {
			button.attr('value', 'Save draft contract');			
		} else {
			button.attr('value', 'Update contract');			
		}
		
	}
		
    $(document).ready(function() {
    	$('#id_pay_start').datepicker({'dateFormat': 'yy-mm-dd'});
    	$('#id_pay_end').datepicker({'dateFormat': 'yy-mm-dd'});
    	$('#id_deadline').datepicker({'dateFormat': 'yy-mm-dd'});
    	
    	if(!('{{formset.non_form_errors}}'))
    		$('#messages').hide()
    	else
    		$('.errorlist li').attr('class','error') 		
 					
 		//ajax to get default desc and required BU
		$('.course_select').change(function(){
			if(!validate())
				return
			var cid = $(this).val()
			var bu_inp = '#' + this.id.replace('-course','-bu')
			var desc_sel = '#' + this.id.replace('-course','-description')
			if(cid != ''){//nonempty selection
				$.post("{% url "ta.views.edit_contract" post_slug=posting.slug userid=userid%}",
                    {'csrfmiddlewaretoken': "{{csrf_token}}", 'course': cid},
                    function(data){
                        var val = parseFloat(data)
                        $(bu_inp).val(val.toFixed(2))
                    });
			}
			else{
				$(bu_inp).val(0)
				$(desc_sel).val('')
			}
    	})
    	
    	//retain old values for course description select
    	$('.desc_select').each(function(){
    		$(this).data('orig', $(this).val())
    	})
    	
    	//setting rates per bu based on appt category
    	if("{{ editing }}" == 'False'){
    		set_rates($('#id_appt_category').val())
    	}
    	
    	$('#id_appt_category').change(function(){
			set_rates($(this).val())
    	})
    	
    	//calcuate event
    	$('#button_cal').click(function(){
    		if(validate()){
                calculate()
            }
    	})
    	
    	// set up status info
    	if ( old_status ) {
			$("#id_status").after(' <div class="helptext">Set to "offered" after changes are made. Previous value was "' + old_status + '".</div>');    		
    	}    	
    	$("#id_status").change(button_update);
    	button_update();
    	
    	// alert manager if sin is not yet filled with valid number
    	if($("#id_sin").val() == '000000000')
    		$("#id_sin").parent().next().css({'color': 'red'})
    });
</script>

{% endblock %}

{% block content %}

<div class="table_container">
	<table class="info">
        <tbody>
	    <tr>
	    	<th>Posting</th>
            <td>{{ posting }}</td>
        </tr>
{% if editing %}
	    <tr>
            <th>TA</th>
            <td>{{ contract.application.person }} ({{ contract.application.person.email_mailto }}, {{ contract.application.person.emplid}})</td>
        </tr>
{% endif %}
        </tbody>
    </table>
</div>

<div class="form_container">
<form action="" method="post">{% csrf_token %}

<fieldset>
<legend>General Info</legend>
<p><input id="submit" type="submit" class="submit" value="Submit" /></p>
{%if editing%}
{{ form|as_dl_excludefields:"pay_per_bu,scholarship_per_bu"}}   
{%else%}
{{ form|as_dl_excludefields:"pay_per_bu,scholarship_per_bu,status"}}   
<dt><label for="id_status" style="display:none">Appointment Status: <span class="required" ></span></label></dt><dd>
<div class="field"  style="display:none"><select  name="status" id="id_status" >
<option value="NEW" selected="selected">New</option>
</select></div>
</dd>
{%endif%}

</fieldset>

<div class="container">
	<div id="messages">{{formset.non_form_errors}}<ul class="warninglist"></ul></div>
</div>

<fieldset>
<legend>Course and Payment Details</legend>
	<div class="table_container">
	  {{ formset.management_form }} 	
      <table class="display" id="ta_course">
      	<thead class="form_head">
          <tr>
         	<th scope="col">Course</th>
         	<th scope="col">Description</th>
         	<th scope="col">Base Unit</th>
         	{% if editing %}
         	<th scope="col">Delete?</th>
         	{% endif %}
          </tr>         
        </thead>  
        <tbody>
		  {% for form in formset.forms %} 	      
		      {{ form|display_form_as_row}}
	      {% endfor %}
	      <tr id="cal_tr">
	      	<td></td>
	      	<td class="table-row-label" id="total_bu_label" align="right">Total Base Units:&nbsp;</td>
	      	<td class="table-row-label"><input type"text" readonly="readonly" id="total_bu" value""></td>
	      </tr>
	      <tr id="cal_tr"><td colspan=3><button type="button" class="submit" id="button_cal">Calculate</button></td></tr>
        </tbody>
      </table>
   </div>
   
   <div class="table_container"> 
      <table class="info" id="ta_pay">
      	<thead class="form_head">
          <tr>
         	<th scope="col"></th>
         	<th scope="col">Pay Per BU</th>
         	<th scope="col">Biweekly Rate</th>
         	<th scope="col">Semester Rate</th>
          </tr>         
        </thead>  
        <tbody>
        	<tr> 
        		<th class="ui-state-default">Salary</th>
				<td> {{ form.pay_per_bu }} </td>	
        		<td><input id="salary_bi" type=text readonly="readonly" value="" /></td>
        		<td><input id="salary_sem" type=text readonly="readonly" value="" /></td>
        	</tr>
        	<tr>
        		<th class="ui-state-default">Scholarship</th>
				<td>{{ form.scholarship_per_bu }} </td>
        		<td><input id="schol_bi" type=text readonly="readonly" value="" /></td>
        		<td><input id="schol_sem" type=text readonly="readonly" value="" /></td>
        	</tr>
        </tbody>
      </table>
   </div>
<p><input id="submit" type="submit" class="submit" value="Submit" /></p>
</fieldset>


</form>
</div>

{% endblock %}
