{% extends "base.html" %}
{% load form_display %}

{% block title %}Edit Contract Email Text{% endblock %}
{% block h1 %}Edit Contract Email Text{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ta:view_postings" %}">TA Postings</a></li>
<li>Edit</li>
{% endblock %}

{% block content %}
<h2>These are the email body and subject that will be included along with an attachment of the actual TA contract.
    This will be sent automatically once a TA accepts a contract.</h2>
<div class="form_container">
<form action="{% url "ta:edit_email" %}" method="post">{% csrf_token %}
<fieldset>
    {{ form|as_dl }}
</fieldset>
<input type="submit" class="submit" value="Save" /></p>
</fieldset>
</form>
</div>

{% endblock %}
