{% extends "base.html" %}
{% load course_display form_display %}

{% block title %}{% if editing %}Edit Posting for {{ posting.unit.label }} in {{ posting.semester }}{% else %}New TA Job Posting{% endif %}{% endblock %}
{% block h1 %}{% if editing %}Edit Posting for {{ posting.unit.label }} in {{ posting.semester }}{% else %}New TA Job Posting{% endif %}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "ta:view_postings" %}">TA Postings</a></li>{% if editing %}<li><a href="{% url "ta:posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li><li>Edit</li>{% else %}<li>New</li>{% endif %}{% endblock %}

{% block headextra %}
<link type="text/css" href="{{STATIC_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}multiselect/js/ui.multiselect.js"></script>
<script nonce="{{ CSP_NONCE }}">
  $(function() {
    $("#id_start").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_end").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_payroll_start").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_payroll_end").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_deadline").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_opens").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_closes").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_excluded").multiselect();

 
    $(document).ready(function(){
      $.fn.refreshoption = function(){
        var $id_semester = $('#id_semester').val();

        $.ajax({
          method: "GET",
          url: '{% url "ta:ta-exclude-choice" %}',
          dataType: 'json',
          data: {semester_id: $id_semester},
          success: function(response) {      
            var selitems = $("#id_excluded").val();
            $("#id_excluded").empty();          
            $.each(response, function(key, value) {
              let isSelected = selitems.indexOf(value[1].toString());
                if ((isSelected) >= 0)
                  $("#id_excluded").append("<option value="+value[1]+"  selected>"+value[0]+"</option>");
                else
                  $("#id_excluded").append("<option value="+value[1]+">"+value[0]+"</option>");
            });
          
            $("#id_excluded").val(selitems);
            $("#id_excluded").multiselect('refresh'); 
          },
          error: function(){
            console.log("error");
          }
        });      
      }
      $.fn.refreshoption();

      $("#id_semester").on('change', function(){
        $.fn.refreshoption();
      });
  }); 

  });
</script>
{% endblock %}

{% block content %}

<div class="form_container">
<form action="" method="post">{% csrf_token %}
<fieldset>
{{ form|as_dl_safe }}
<p><input type="submit" class="submit" value="Submit" /></p>
</fieldset>
</form>
</div>

{% endblock %}
