{% extends "base.html" %}
{% load course_display form_display %}

{% block title %}{% if editing %}Edit Posting for {{ posting.unit.label }} in {{ posting.semester }}{% else %}New TA Job Posting{% endif %}{% endblock %}
{% block h1 %}{% if editing %}Edit Posting for {{ posting.unit.label }} in {{ posting.semester }}{% else %}New TA Job Posting{% endif %}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "ta.views.view_postings" %}">TA Postings</a></li>{% if editing %}<li><a href="{% url "ta.views.posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li><li>Edit</li>{% else %}<li>New</li>{% endif %}{% endblock %}

{% block headextra %}
<link type="text/css" href="{{STATIC_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript">
  $(function() {
    $("#id_start").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_end").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_deadline").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_opens").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_closes").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_excluded").multiselect();
  });
</script>
{% endblock %}

{% block content %}

<div class="form_container">
<form action="" method="post">{% csrf_token %}
<fieldset>
{{ form|as_dl_safe }}
<p><input type="submit" class="submit" value="Submit" /></p>
</fieldset>
</form>
</div>

{% endblock %}
