{% extends "base.html" %}
{% load course_display ta_display %}

{% block title %}Late Applications {% endblock %}
{% block h1 %}Late Applications {% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url "ta.views.view_postings" %}">TA Postings</a></li>
<li>&gt; <a href="{% url "ta.views.posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li>
<li>&gt; Late Applications</li>
{% endblock %}


{% block headextra %}
<link type="text/css" href="{{MEDIA_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{MEDIA_URL}}js/core.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript">
  $(function() {
  	table = $('#offerings').dataTable({
        "bPaginate": false,
		"bJQueryUI": true,
		"aaSorting": [[0, "asc"]],
	});
  });
</script>
{% endblock %}

{% block content %}
<div class="datatable_container">
<table class="display" id="offerings">
<thead><tr>
<th scope="col">Name</th>
<tbody>
{% for a in applications %}
<tr>
  <td><a href="{% url "ta.views.view_application" post_slug=posting.slug userid=a.person.userid %}">{{ a.person.last_name }}, {{ a.person.first_name }}</a></td>
</tr>	
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
