{% extends "base.html" %}
{% load form_display %}

{% block content %}

<div id="form_container">
<form action="{% url ta.views.new_application unit_slug=unit.slug %}" method="post">{% csrf_token %}
<fieldset>
<legend>{{ unit.name }} TA Application</legend>
{{ ta_form|as_dl }}

<h1>Course Preference:</h1>
{{ course_form|as_dl }}

<h1>Skills:</h1>
<table id="borderless">
{% for s in skill_names %}
<tr>
<td><b>{{ s.name }}: </b></td>

<!--
<select name="skills{{ forloop.counter }}" id="id_skills">
-->

    {% for skill in skills %}
    {% if skill.name == s.name %}
        <td>
        <!--<option value={{ skill.id }}>Level: {{ skill.get_level_display }}</option>-->
        <input type="radio" value={{ skill.id }} name="skills{{ forloop.parentloop.counter}}" > {{ skill.get_level_display }}</input>
        </td>
    {% endif %}
    {% endfor %}

<!--
</select></p>
-->
</tr>
{% endfor %}
</table>
<input type="submit" class="submit" value="Submit" /></p>
</fieldset>
</form>
</div>

{% endblock %}
