{% extends "base.html" %}
{% load form_display %}

{% block title %}New Contract Description{% endblock %}
{% block h1 %}New Contract Description{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ta.views.view_postings" %}">TA Postings</a></li>
<li><a href="{% url "ta.views.descriptions" %}">Contract Descriptions</a></li>
<li>New</li>
{% endblock %}

{% block content %}

<div class="form_container">
<form action="" method="post">{% csrf_token %}
<fieldset>
    {{ form|as_dl }}
</fieldset>
<input type="submit" class="submit" value="Create" /></p>
</fieldset>
</form>
</div>

{% endblock %}
