{% extends "base.html" %}
{% load form_display %}

{% block content %}

<div id="form_container">
<form action="{% url ta.views.new_application unit_slug=unit.slug %}" method="post">{% csrf_token %}
<fieldset>
<legend>{{ unit.name }} TA Application</legend>
{{ ta_form|as_dl }}

<h1>Course Preference:</h1>
{{ course_form|as_dl }}

<h1>Skills:</h1>
{% for s in skill_names %}

<p>Name: {{ s.name }}</p>
<select name="skills{{ forloop.counter }}" id="id_skills">

    {% for skill in skills %}
    {% if skill.name == s.name %}
        <option value={{ skill.id }}>Level: {{ skill.get_level_display }}</option>
    {% endif %}
    {% endfor %}

</select>
{% endfor %}

<p><input type="submit" class="submit" value="Submit" /></p>
</fieldset>
</form>
</div>

{% endblock %}
