{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}

{% block h1 %}Create Time Use Guideline{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li>
<li>&gt; New Tug for {{ta.first_name}}</li>
{% endblock %}

{% block actions %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
<li><a href="{% url ta.views.all_tugs course_slug=course.slug %}">View All TUGs</a></li>

</ul>
</div>
{% endblock %}

{% block content %}
<form action="{% block formaction %}{% url ta.views.new_tug course_slug=course.slug userid=userid %}{% endblock %}" method="post">{% csrf_token %}
<fieldset id="edit-time-use-guideline">

<p><label>TA Name:</label>{{ta.name}}</p>
<p><label>Course:</label>{{course}}</p>

{{ form.as_p }}
<table>
<th>Duties and Responsibilities</th><th>Average hrs/week</th><th>Total hrs/semester</th><th>Comment</th>

{% for form in form.config_form.forms %}
<tr>
<th>
{% if form.label_editable %}
Other: {{ form.label_bound_field.as_widget }}
{% else %}
{{ form.label }}
{% endif %}
</th>
{{ form.as_table_row }}
</tr>
{% endfor %}
{#{{ form.config_form.as_table_row }}#}
</table>
{{ form.config_form.management_form }}
<p><input class='submit' type="submit" value="{% block submittext %}Create{% endblock %}" /></p>
</fieldset>
</form>
<script type="text/javascript" src="{{MEDIA_URL}}js/ta.js"></script>
{% block extrascripts %}{% endblock %}
{% endblock %}
