{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}

{% block h1 %}Create Time Use Guideline{% endblock %}

{% block content %}
<form action="{% url ta.views.new_tug course_slug=course.slug userid=userid %}" method="post">{% csrf_token %}
<fieldset>
{{ form.as_p }}
<table>
{% for form in form.config_form.forms %}
<tr>
<th>
{% if form.label_editable %}
{{ form.label_bound_field.as_widget}}
{% else %}
{{ form.label }}
{% endif %}
</th>
{{ form.as_table_row }}
</tr>
{% endfor %}
{#{{ form.config_form.as_table_row }}#}
</table>
<p><input class='submit' type="submit" value="Create" /></p>
</fieldset>
</form>
{% endblock %}
