{% extends "base.html" %}
{% load form_display %}

{% block title %}Apply for {{ posting.unit.label }} in {{ posting.semester }}{% endblock %}
{% block h1 %}Apply for {{ posting.unit.label }} in {{ posting.semester }}{% endblock %}

{% block subbreadcrumbs %}{% if manual %}<li><a href="{% url "ta:view_postings" %}">TA Postings</a></li><li><a href="{% url "ta:posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li><li>Apply for student</li>{% else %}<li><a href="{% url "ta:view_postings" %}">TA Postings</a></li><li>{{ posting.unit.label }} {{ posting.semester }}</li>{% endif %}{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{{STATIC_URL}}js/application.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/advisornotes.js"></script>
<style type="text/css">
div#phones {
  float: right;
  width: 25%;
}
div#phones ul {
  margin-top: 0;
  list-style: disc inside;
}
div#phones li {
  margin: 0;
  padding: 0;
}
textarea {
  width: 70%;
  height: 30px;
}
</style>
<script nonce="{{ CSP_NONCE }}">

var default_pref_descr = 'Please indicate your top 5 preferences below.';

var cs_grad_pref_descr = "According to Article XIII F 4(a) of the TSSU/SFU Collective Agreement, if you ARE a graduate \
  student in the School of Computing Science, this application will deem you to have applied to all available TA/TM \
  positions posted by the School this semester.<br/><br/>\
  You are not required to apply for specific appointments, but may indicate your course preferences (below). Your\
  preferences will be taken into account per the department's hiring priorities.";

var ugrad_pref_descr = 'You may give additional information on your course preferences here.';

function get_more_info() {
	$.ajax({
		url: "{% url "ta:get_info" post_slug=posting.slug %}",
		success: function(data, textStatus, jqXHR) {
			if (data['phones']) {
				var html = '';
				html += '<div id="phones"><p>The following phone numbers are on record in <a href="https://go.sfu.ca/">SIS</a>:</p><ul>';
       	        $.each(data['phones'], function(key, value) {
           	        html += '<li>' + key + ': ' + value + '</li>';
               	});
				html += '</ul><p>Please make sure they are up to date so we can contact you regarding this application if necessary. <a href="http://students.sfu.ca/advising-support/help-videos/contact.html?keepThis=true">Instructions on updating this info</a> are available.</p></div>';
				$('dl.dlform').first().before(html);
	        }
		},
	})
}

function update_course_interpretation() {
    var descr = $('#preference_comment_descr');

    if ( descr.length == 0 ) {
        descr = $('<p id="preference_comment_descr"></p>');
        $('#id_ta-preference_comment').before(descr);
    }
    var category = $('#id_ta-category').val();
    var dept = $('#id_ta-current_program').val();
    if ( (category == 'GTA1' || category == 'GTA2') && dept == 'CMPT' ) {
        descr.html(cs_grad_pref_descr);
    } else {
        descr.html(default_pref_descr);
    }
}

$(document).ready(function() {
    $("id_search").focus();
    student_autocomplete('id_search');
    {% if simssearch %}
    search_sims('{% url "advising:sims_search" %}', '{{simssearch}}', '{% url "advising:sims_add_person" %}', '{% filter escapejs %}{% csrf_token %}{% endfilter %}');
    {% endif %}
    get_more_info();
    $('#id_ta-category').change(update_course_interpretation);
    $('#id_ta-current_program').change(update_course_interpretation);
    update_course_interpretation();
});

</script>{% endblock %}

{% block content %}

<div class="instructions">
{{ instructions }}
</div>

<div class="form_container">
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
<fieldset>
    {% if manual %}
        {{search_form.as_p}}
        <div id="simsresult">
        <i class="fa fa-spinner fa-spin" id="fetchwait" style="display:none"></i>
        </div>
    {% endif %}

    {{ ta_form|as_dl_excludefields:"preference_comment,experience,course_load,other_support,comments" }}

</fieldset>

{% csrf_token %}
<fieldset>
    <legend>Preferred Courses: most to least preferred</legend>
    <p id="preference_comment_descr"></p>
    <div id="course-forms">
    	{{ courses_formset.management_form }}
        {% for form in courses_formset %}
            <div id="course-form-{{ forloop.counter0 }}">
            <h3>Course {{ forloop.counter }}:</h3>
            {{ form|as_dl_inline }}
            </div>
        {% endfor %}
        <span id="form_btns">
            Please enable JavaScript to add a new course
        </span>
        {{ ta_form|as_dl_includefields:"preference_comment" }}
    </div>

</fieldset>
<script nonce="{{ CSP_NONCE }}">
	// dynamically append button for no-script compatibility
	$(function() {
		$("#form_btns").html('<input id="add_btn" type="button" value="Add Another" onclick="add_course()"/>')
	});
</script>

<fieldset>
    <legend>Additional Info</legend>

    {{ ta_form|as_dl_includefields:"experience,course_load,other_support,comments" }}

</fieldset>

{% if not hide_campuses %}
<fieldset>
    <legend>Campus Preferences</legend>
    <table class="borderless">
    {% for lbl,name,pref in campus_preferences %}
    <tr><td scope="row">{{name}}:</td>
      {% for plbl,pname in campus_pref_choices %}
      <td><input type="radio" name="campus-{{lbl}}" value="{{plbl}}" {% if pref == plbl %}checked="checked" {% endif %}/> {{pname}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </table>
</fieldset>
{% endif %}

{% if skill_values %}
<fieldset>
    <legend>Skills:</legend>
    <table class="borderless">
    {% for i,name,pref in skill_values %}
    <tr><td scope="row">{{name}}:</td>
        {% for slbl,sname in skill_choices %}
        <td><input type="radio" name="skill-{{i}}" value="{{slbl}}" {% if pref == slbl %}checked="checked" {% endif %}/> {{sname}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </table>
</fieldset>
{% endif %}

<p><input type="submit" class="submit" value="Submit" /></p>
</form>
</div>

{% endblock %}
