{% extends "base.html" %}

{% block title %}{{ application.posting.unit.label }} TA Applications for {{posting.short_str}}{% endblock %}
{% block h1 %}{{ application.posting.unit.label }} TA Applications for {{posting.short_str}}{% endblock %}

{% block headextra %}
<script type="text/javascript">
  $(function() {
      window.print()
  });
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ta:view_postings" %}">TA Postings</a></li>
<li><a href="{% url "ta:posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li>
<li>TA Applications for {{posting.short_str}} </li> 
{% endblock %}

{% block content %}

{% for application in applications %}
<div class="table_container" style='page-break-after:always; page-break-inside:avoid;'>
  <h2 id="app-{{ application.person.userid_or_emplid }}">{{application.person.name}}</h2>

  {% include "ta/_ta_application.html" with application=application only %}
</div>
{% endfor %}
{% endblock %}
