{% extends "base.html" %}

{% block title %}{{ application.posting.unit.label }} TA Applications for {{posting.short_str}}{% endblock %}
{% block h1 %}{{ application.posting.unit.label }} TA Applications for {{posting.short_str}}{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
  $(function() {
      window.print()
  });

</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ta:view_postings" %}">TA Postings</a></li>
<li><a href="{% url "ta:posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li>
<li>TA Applications for {{posting.short_str}} </li> 
{% endblock %}

{% block content %}

{% for offering in offerings %}
<div style='page-break-before:always; page-break-after:always; page-break-inside:avoid;'> 
    <div style='width: 800px; height: 800px; border: 2px dotted black; '>
        <h1 style='width: 200px; margin: auto;'> 
            {{offering.course.subject}} {{offering.course.number}} {{offering.section }}
        </h1>
    </div>
</div>

{% for application in offering.applications %}
<div class="table_container" style='page-break-before: always; page-break-after:always; page-break-inside:avoid;'>
  <h2 id="app-{{ offering.slug }}-{{ application.person.userid_or_emplid }}">{{application.person.name}}</h2>
  {% include "ta/_ta_application.html" with application=application only %}
</div>
{% endfor %}
{% endfor %}
{% endblock %}
