{% extends "base.html" %}
{% load mobile_tags %}


{% block headextra %}
<link rel="stylesheet" href="{{STATIC_URL}}ta/css/view-tug-noprint.css" media="all" />
<link rel="stylesheet" href="{{STATIC_URL}}ta/css/view-tug-print.css" media="print" />
{% endblock %}

{% block title %}{{course.name}} TUG for {{ta.person}} {% endblock %}
{% block h1 %}{{course.name}} TUG for {{ta.person}} {% endblock %}

{% block subbreadcrumbs %}
    {% if user_role == "ADMN" %}
    <li><a href="{% url "ta.views.all_tugs_admin" %}">All TUGs</a> {{tug.member.person}}</li>
    {% else %}
    <li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li><a href="{% url "grades.views.course_config" course_slug=course.slug %}">Setup</a></li><li><a href="{% url "ta.views.all_tugs" course_slug=course.slug %}">TUGs</a></li><li>{{ta.person.name}}</li>
    {% endif %}
{% endblock %}



{% block actions %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
{% if user_role == "ADMN" %}
<li><a href="{% url "ta.views.all_tugs_admin" %}">View All TUGs</a></li>
<li><a href="{% url "ta.views.edit_tug" course_slug=course.slug userid=ta.person.userid %}">Edit TUG</a></li>
{% else %}{% if user_role != "TA" %}
<li><a href="{% url "ta.views.edit_tug" course_slug=course.slug userid=ta.person.userid %}">Edit TUG</a></li>
{% endif %}{% endif %}
<li><a href="javascript:print()">Print TUG</a></li>
</ul>
</div>
{% endblock %}

{% block content %}

{% if expired %}
<div id='messages' class='warning' style='width: 600px'>
    The Base Units for this TA have changed since this TUG was created.
    Please edit this TUG.
</div>
{% endif %}

<div id="tugPrintHeader">
    Simon Fraser University<br/>
    Teaching Assistant Time Use Guideline
</div>

<div id="tugHeader">
	<span id="taName">TA Name: 
		<span class="tugField">{{tug.member.person}}</span>
	</span> 
	<span id="Instructor">Instructor: 
		<span class="tugField">
		{% for instructor in course.instructors %}
			{{instructor.name}} {% if not forloop.last %}, {% endif %}
		{% endfor %}
		</span>
	</span>
	<br />
	<span id="courses">Course(s): 
		<span class="tugField">{{course.name}}</span> 
	</span>
	<span id="maxHours"> Maximum Hours to be Assigned: 
		<span class="tugField">{{ max_hours }}</span>
	</span>
	{% if has_lab_or_tut %}
        <span id="prepHours"> Prep BUs: 
            <span class="tugField">{{ LAB_BONUS }}</span>
        </span>
    {% endif %}
</div>

<div id="tugBody">
	<p>
		Teaching Assistant total workload for the semester should approach but not exceed the 
		maximum hours over the term of the semester (normally 17 weeks).
		
	</p>
	<p><em>
		The following summary is an approximation of the length of time expected 
		to be devoted to  the major activities.  There may be shifts between 
		activities, but the total hours required over the semester cannot exceed the
		maximum hours set out above.
	</em></p>
	<table>
		<tbody>
			<tr>
				<th colspan="2">Duties and Responsibilities</th>
				<th>Average hrs/week </th>
				<th>Total hrs/semester</th>
			</tr>
			<tr class="firstrow">
				<td class="numeral">1.</td>
				<td> Preparation for labs/tutorials</td>
				<td class="tugField">{{tug.config.prep.weekly|default_if_none:""}}</td>
				<td class="tugField">{{tug.config.prep.total}}</td>
			</tr>
			<tr>
				<td class="numeral">2.</td>
				<td> Attendance at planning/coordinating meetings with instructor</td>
				<td class="tugField">{{tug.config.meetings.weekly|default_if_none:""}}</td>
				<td class="tugField">{{tug.config.meetings.total}}</td>
			</tr>
			<tr>
				<td class="numeral">3.</td>
				<td> Attendance at lectures</td>
				<td class="tugField">{{tug.config.lectures.weekly|default_if_none:""}}</td>
				<td class="tugField">{{tug.config.lectures.total}}</td>
			</tr>
			<tr>
				<td class="numeral">4.</td>
				<td> Attendance at labs/tutorials</td>
				<td class="tugField">{{tug.config.tutorials.weekly|default_if_none:""}}</td>
				<td class="tugField">{{tug.config.tutorials.total}}</td>
			</tr>
			<tr>
				<td class="numeral">5.</td>
				<td> Office hours/student consultation/electronic communication</td>
				<td class="tugField">{{tug.config.office_hours.weekly|default_if_none:""}}</td>
				<td class="tugField">{{tug.config.office_hours.total}}</td>
			</tr>
			<tr>
				<td class="numeral">6.</td>
				<td> Grading **</td>
				<td class="tugField">{{tug.config.grading.weekly|default_if_none:""}}</td>
				<td class="tugField">{{tug.config.grading.total}}</td>
			</tr>
			<tr>
				<td class="numeral">7.</td>
				<td> Quiz preparation/assist in exam preparation/Invigilation of exams</td>
				<td class="tugField">{{tug.config.test_prep.weekly|default_if_none:""}}</td>
				<td class="tugField">{{tug.config.test_prep.total}}</td>
			</tr>
			<tr>
				<td class="numeral">8.</td>
				<td> Statutory Holiday Compensation - <br />
					To compensate for all statutory holidays which 
					may occur in a semester, the total workload required will be reduced by {{HOLIDAY_HOURS_PER_BU}} hour(s) 
					for each base unit assigned excluding the additional {{LAB_BONUS}} B.U. for preparation, 
					e.g. 4 hours reduction for {{LAB_BONUS_4}} B.U. appointment.
 				</td>
				<td class="tugField">{{tug.config.holiday.weekly|default_if_none:""}}</td>
				<td class="tugField">{{tug.config.holiday.total}}</td>
			</tr>
			<tr class="subsectionHeader">
				<td class="numeral">9.</td>
				<td>Other – specify*** </td><td/><td/>
			</tr>
			{% for other in tug.others %} 
			<tr>
				<td class="numeral" />
				<td class="tugField">{{other.label}}</td>
				<td class="tugField">{{other.weekly|default_if_none:""}}</td>
				<td class="tugField">{{other.total}}</td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan="2">
					Required Total Hours =
				</td>
				<td></td>
				<td>{{total_hours}}</td>
			</tr>
		</tbody>
	</table> 
	<p>
		Teaching Assistants and course instructors should familiarize themselves with the general 
		working conditions set out in Article XIII C, assignment and compensation in Article XIII D, 
		and workload review mechanisms in Article XIII E.
	</p>
	<p>
		*There are no hours of work associated with the additional {{LAB_BONUS}} base unit for preparation, 
		Article XIII D. 2 b.  See Appendix B for calculation of hours.
		<br/>
		**  Includes grading of all assignments, reports and examinations. 
		<br/>
		*** Attendance at a TA/TM Day/Training
	</p>
</div>

<div id="tugReview" class="noprint">
<h3>Conducting Teaching Assistant Workload Reviews:</h3>
<ul>
  <li>
  Course Supervisors are required to conduct a workload review if the size of a tutorial is
over 24 or where the student to TA ratio is over 26:1 in a scheduled lab. Also, Course
Supervisors are required to conduct a workload review if two or more of the following
factors affecting workload occur:
<ol><li>the average size of tutorials, labs or workshops for the Teaching Assistant is over
   fifteen (15), or where the enrollment in any tutorial, lab or workshop assigned
  exceeds eighteen (18)
</li><li>the course is being offered for the first time
</li><li>the course has been substantially modified, e.g. new text
</li><li>it is the Teaching Assistant's first appointment
</li><li>the instructor is supervising Teaching Assistants for the first time
</li><li>the type of examinations and/or assignments have a significant impact on
   workload when considered in combination with enrollment (e.g. essays vs.
  multiple-choice exams)
  </li>
  </ol>
  </li>
  <li>
    The Course Supervisor and T.A. should conduct the review as soon as reasonably
    possible after the week three enrollment data is available.
  <li>
    In conducting the review, the Course Supervisor is expected to contact the T.A. and
    discuss the workload factors.
  </li>
  <li>
    Where the Course Supervisor concludes that the workload required will, by semester
    end, exceed the total workload hours of the appointment, then it will be necessary to
    either reduce the workload, where possible, or provide additional compensation.
  </li>
  <li>
    The Course Supervisor should review these options with the T.A., but the option of
    additional compensation must be approved by the Department Chair.
  </li>
  <li>
    In all cases, once the department has made a decision on the workload review, the
    Department Chair shall promptly advise the Teaching Assistant of the results and
    reasons of the decision in writing, with a copy to the Union.
  </li>
</ul>
</div>

{% endblock %}
