{% extends "base.html" %}
{% load form_display %}

{% block title %}{{ application.posting.unit.label }} TA Application for {{application.person}}{% endblock %}
{% block h1 %}{{ application.posting.unit.label }} TA Application for {{application.person}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ta.views.view_postings" %}">TA Postings</a></li>
<li><a href="{% url "ta.views.posting_admin" post_slug=application.posting.slug %}">{{ application.posting.short_str }}</a></li>
<li>{{ application.person.userid }}</li> 
{% endblock %}

{% block actions %}
{% if application.posting.is_open or contract %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
{% if application.posting.is_open %}<li><a href="{% url "ta.views.edit_application" post_slug=application.posting.slug userid=application.person.userid %}">Edit Application</a></li>{% endif %}
{% if contract %}<li><a href="{% url "ta.views.view_contract" post_slug=application.posting.slug userid=application.person.userid %}">View Contract</a></li>{% endif %}
</ul>
</div>
{% endif %}
{% endblock %}

{% block content %}


<div class="table_container">
  <h2 id="general">General Information</h2>
  {% if application.late %}
    <p>This application was submitted late.  <a href="{% url "ta.views.update_application" post_slug=application.posting.slug userid=application.person.userid %}">Remove late status.</a></p>
  {% endif %}
  <table class="info">
    <tr><th scope="row">Name</th><td>{{ application.person.name }} &lt;{{application.person.email_mailto}}&gt;</td></tr>
    <tr><th scope="row">Student Number</th><td>{{ application.person.emplid }} </td></tr>
    <tr><th scope="row">Semester</th><td>{{ application.posting.semester }}</td></tr>
    <tr><th scope="row">Category</th><td>{{ application.get_category_display }}</td></tr>
    <tr><th scope="row">Base Units</th><td>{{ application.base_units }}</td></tr>
    <tr><th scope="row">Current Program</th><td>{{ application.current_program|linebreaksbr }}</td></tr>
    <tr><th scope="row">Experience</th><td>{{ application.experience|linebreaksbr }}</td></tr>
    <tr><th scope="row">Course Load</th><td>{{ application.course_load|linebreaksbr }}</td></tr>
    <tr><th scope="row">Other Support</th><td>{{ application.other_support|linebreaksbr }}</td></tr>
    <tr><th scope="row">Comments</th><td>{{ application.comments|linebreaksbr }}</td></tr>
  </table>

  {% if application.config.extra_questions %}
    <h2 id="extra">Extra Questions</h2>
    {% for question, answer in application.config.extra_questions.items %}
        <p><strong>{{ question }}:</strong> {{answer }}</p>
    {% endfor %}
  {% endif %}
  
  <h2 id="crs-applied">Courses Applied for</h2>
  <table class="info">
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Taken</th>
      <th scope="col">Experience</th>
    </tr>
      {% for course in courses %}
        <tr>
          <td>{{ course.course }}</td>
          <td>{{ course.get_taken_display }}</td>
          <td>{{ course.get_exper_display }}</td>
        </tr>
      {% endfor %}
   </table>

  {% if campuses %}
  <h2 id="campus">Campus Preference</h2>
  <table class="info">
      {% for campus in campuses %}
        <tr><th scope="row">{{ campus.get_campus_display }}</th><td>{{ campus.get_pref_display }}</td></tr>
      {% endfor %}
  </table> 
  {% endif %}  
 
  {% if skills %}
  <h2 id="skills">Skills</h2>
  <table class="info">
      {% for skill in skills %}
        <tr><th scope="row">{{ skill.skill.name }}</th><td>{{ skill.get_level_display }}</td></tr>
      {% endfor %}
  </table>
  {% endif %}

  <h2 id="experience">Previous TA Experience</h2>
  {% if experience %}
  <table class="info">
      <tr><th scope="col">Course</th><th scope="col">Semester</th><th scope="col">BU</th></tr>
      {% for tacrs in experience %}
        <tr><td>{{ tacrs.course.name }}</td><td>{{ tacrs.course.semester.label }}</td><td>{{ tacrs.bu }}</td></tr>
      {% endfor %}
  </table>
  {% else %}
  <p class="empty">None known.</p>
  {% endif %}

</div>
{% endblock %}
