{% extends "base.html" %}
{% load form_display %}

{% block title %}{{ application.posting.unit.label }} TA Application for {{application.person}}{% endblock %}
{% block h1 %}{{ application.posting.unit.label }} TA Application for {{application.person}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ta.views.view_postings" %}">TA Postings</a></li>
<li><a href="{% url "ta.views.posting_admin" post_slug=application.posting.slug %}">{{ application.posting.short_str }}</a></li>
<li>{{ application.person.userid }}</li> 
{% endblock %}

{% block actions %}
{% if application.posting.is_open or contract %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
{% if application.posting.is_open %}<li><a href="{% url "ta.views.edit_application" post_slug=application.posting.slug userid=application.person.userid %}">Edit Application</a></li>{% endif %}
{% if contract %}<li><a href="{% url "ta.views.view_contract" post_slug=application.posting.slug userid=application.person.userid %}">View Contract</a></li>{% endif %}
</ul>
</div>
{% endif %}
{% endblock %}

{% block content %}

{% include "ta/_ta_application.html" with application=application only %}

{% endblock %}
