{% extends "base.html" %}

{% block title %}TA Job Postings{% endblock %}
{% block h1 %}TA Job Postings{% endblock %}

{% block subbreadcrumbs %}
<li>TA Postings</li>
{% endblock %}

{% block actions %}
{% if is_admin %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url "ta.views.edit_posting" %}">New Posting</a></li>
    <li><a href="{% url "ta.views.descriptions" %}">Contract Descriptions</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}

{% if is_admin %}
<h2>Posting Administration</h2>
<ul>
{% for p in owned %}
<li><a href="{% url "ta.views.posting_admin" post_slug=p.slug %}">{{p}}</a></li>
{% empty %}
<li class="empty">None</li>
{% endfor %}
</ul>

<h2>All Open Postings</h2>
{% endif %}

<p>The following departments are accepting applications:</p>
<ul>
{% for p in postings %}
<li>
  <a href="{% url "ta.views.new_application" post_slug=p.slug %}">{{p}}</a>
</li>
{% empty %}
<li class="empty">No open postings</li>
{% endfor %}
</ul>
{% endblock %}
