{% extends "base.html" %}
{% load form_display course_display%}

{% block subbreadcrumbs %}
<li><a href="{% url "ta.views.view_postings" %}">TA Postings</a></li>
<li><a href="{% url "ta.views.posting_admin" post_slug=posting.slug %}">{{ posting.short_str }}</a></li>
<li><a href="{% url "ta.views.all_contracts" post_slug=posting.slug %}">Contracts</a></li>
<li>{{ contract.application.person.name }}</li>
{% endblock %}

{% block title %}Contract for {{ contract.application.person.name }}{% endblock %}
{% block h1 %}Contract for {{ contract.application.person.name }}{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url "ta.views.edit_contract" post_slug=contract.posting.slug userid=contract.application.person.userid %}">Edit Contract</a></li>
    <li><a href="{% url "ta.views.view_form" post_slug=contract.posting.slug userid=contract.application.person.userid %}">Appointment Form</a></li>
    <li><a href="{% url "ta.views.preview_offer" post_slug=contract.posting.slug userid=contract.application.person.userid %}">Preview Offer</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="table_container">
  <h2 id="general">General Information</h2>
  
  <table class="info">
    <tr><th>ID</th><td>{{ contract.application.person.emplid }} ({{contract.application.person.userid}})</td></tr>
  	<tr><th>Email</th><td>{{ contract.application.person.email_mailto }}</td></tr>
  	<tr><th>Applicant SIN</th><td>{{ contract.sin }}</td></tr>
  	<tr><th>Category</th><td>{{ contract.get_appt_category_display }}</td></tr>
  	<tr><th>Appointment Type</th><td>{{ contract.get_appt_display }}</td></tr>
  	<tr><th>Status</th><td>{{ contract.get_status_display }}</td></tr>
    <tr><th>Contract Start Date</th><td>{{ contract.pay_start }}</td></tr>
    <tr><th>Contract End Date</th><td>{{ contract.pay_end }}</td></tr>
    <tr><th>Acceptance Deadline</th><td>{{ contract.deadline }}</td></tr>
    <tr><th>Conditional</th><td>{{ contract.appt_cond|yesno }}</td></tr>
    <tr><th>Appointment in TSSU</th><td>{{ contract.appt_tssu|yesno }}</td></tr>
    <tr><th>Remarks</th><td>{{ contract.remarks }}</td></tr>
  </table>
  
  <h2 id="courses">Courses Assigned</h2>
  <table class="info">
		<thead class="form_head">
          <tr>
         	<th scope="col">Course Name</th>
         	<th scope="col">Description</th>
         	<th scope="col">Prep Units</th>
         	<th scope="col">Base Units</th>
         	<th scope="col">Total Units</th>
          </tr>         
        </thead>  
		<tbody>
			<!-- Courses-->
			
			{% for course in courses %}
			<tr>
				<td>{{course.course.subject}} {{course.course.number}} {{course.course.section}}</td>
				<td>{{course.description.description}}</td>
                <td>{{course.prep_bu}} </td> 
				<td>{{course.bu}}</td>
                <td>{{course.total_bu}}</td>
			</tr>
			{% endfor %}		
			<tr id="cal_tr">
	      	<td></td>
            <td></td>
            <td></td>
	      	<td class="table-row-label" id="total_bu_label" align="right">Total Base Units:&nbsp;</td>
	      	<td class="table-row-label">{{total}}</td>
	      </tr>
			
		</tbody>
		
		
  </table>
  
  <h2 id="payment">Payment Details:</h2>
      <table class="info" id="ta_pay">
      	<thead class="form_head">
          <tr>
         	<th scope="col"></th>
         	<th scope="col">Pay Per BU</th>
         	<th scope="col">Biweekly Rate</th>
         	<th scope="col">Semester Rate</th>
          </tr>         
        </thead>  
        <tbody>
        	<tr> 
        		<th scope="row">Salary</th>
				<td>{{pay}}</td>	
        		<td>{{salary_bi}}</td>
        		<td>{{salary_sem}}</td>
        	</tr>
        	<tr>
        		<th scope="row">Scholarship</th>
				<td>{{scholarship}}</td>
        		<td>{{schol_bi}}</td>
        		<td>{{schol_sem}}</td>
        	</tr>
        </tbody>
      </table>
</div>
{% endblock %}
