body {
	font-size:62.5%;
	margin:50px;
	color:#333;
}
body { font-family: "Segoe UI", Arial, sans-serif; }
div#message li em { display: block; }

div#message {
	padding:1em 20px;
	border:2px solid #aaa;
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width:430px;
}

div#message h1 {
	font-size:1.9em;
	font-weight:bold;
	padding-left:30px;
	background:url(../images/icon-warning.png) left .2em no-repeat;
}

div#message p {
	font-size:1.4em;
}

div#message h2 {
	font-size:1.5em;
	font-weight:normal;
}

div#message ul {
	border-top:1px solid #aaa;
	padding-left:0;
	margin-left:16px;
}

div#message li {
	line-height:1;
	font-size:1.3em;
	color:#000;
	border-bottom:1px solid #aaa;
	padding:.5em 0;
	list-style:inside url(../images/icon-file-warning.png);
}

div#message li em {
	color:#666;
	font-style:italic;
	float:right;
	margin-right:40px;
	font-size:.9em;
}

.collapsible-heading {
	padding-left:15px;
	background:url(../images/icon-triangle.png) 0 6px no-repeat;
}
.collapsible-heading-collapsed {
	background-position:0 -84px;
}
.collapsible-heading-toggle {
	text-decoration:none;
	color:#333;
}
.collapsible-heading-status {
	position:absolute;
	left:-99999px;
}

.collapsible-content-collapsed {
	display:none;
}