{% extends "base.html" %}

{% block title %}{{offering.name}}: All Pages{% endblock %}
{% block h1 %}{{offering.name}}: All Pages{% endblock %}
{% block subbreadcrumbs %}<li>&gt; <a href="{% url "grades.views.course_info" course_slug=offering.slug %}">{{ offering.name }}</a></li><li>&gt; <a href="{% url "pages.views.index_page" course_slug=offering.slug %}">Pages</a></li><li>&gt; All</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#pagestable').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
  } );
} );
</script>
{% endblock %}

{% block actions %}
{% if can_create %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url "pages.views.new_page" course_slug=offering.slug %}">Create page</a></li>
    <li><a href="{% url "pages.views.new_file" course_slug=offering.slug %}">Create file</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}

<div class="datatable_container">
<table id="pagestable" class="display">
  <thead><tr><th scope="col">Label</th><th scope="col">Page Title</th><th scope="col">Can Read</th><th scope="col">Can Edit</th><th scope="col">Modified</th></tr></thead>
  <tbody>
  {% for p in pages %}{% with p.current_version as v %}
  <tr>
  <td><a href="{% url "pages.views.view_page" course_slug=offering.slug page_label=p.label %}">{{p.label}}</a></td>
  <td>{{v.title}}</td>
  <td>{{p.get_can_read_display}}</td>
  <td>{{p.get_can_write_display}}</td>
  <td>{{v.created_at}}</td>
  </tr>
  {% endwith %}{% endfor %}
  </tbody>
</table>
</div>
{% if member.role == 'INST' or member.role == 'TA' %}
<p class="helptext">Users see only the pages that they can <strong>read</strong> here, i.e. if you have a page that is only visible to instructors and TAs, students will not see it on this list.</p>
{% endif %}

{% endblock %}
