{% extends "base.html" %}
{% load form_display %}

{% block title %}{% if page %}Edit {{kind}} {{page.label}}{% else %}New {{kind}}{% endif %}{% endblock %}
{% block h1 %}{% if page %}Edit {{kind}} {{page.label}}{% else %}New {{kind}}{% endif %}{% endblock %}
{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=offering.slug %}">{{ offering.name }}</a></li><li>&gt; <a href="{% url pages.views.index_page course_slug=offering.slug %}">Pages</a></li>{% if page %}<li>&gt; <a href="{% url pages.views.view_page course_slug=offering.slug page_label=page.label %}">{{page.label}}</a></li><li>&gt; Edit</li>{% else %}<li>&gt; New Page</li>{% endif %}{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{{MEDIA_URL}}/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
var convert_url = '{% if page %}{% url pages.views.convert_content course_slug=offering.slug page_label=page.label %}{% else %}{% url pages.views.convert_content course_slug=offering.slug %}{% endif %}';
var csrf_token = '{{csrf_token}}';
function setup_tinymce(id) {
	tinyMCE.init({
		mode: "exact",
		elements: id,
		theme: "advanced",
		theme_advanced_toolbar_location: "top",
		theme_advanced_toolbar_align: "left",
		theme_advanced_statusbar_location: "bottom",
		theme_advanced_resizing: true,
		theme_advanced_buttons1: "bold,italic,sub,sup,formatselect,|,bullist,numlist,outdent,indent,|,undo,redo,|,link,unlink,|,charmap",
		theme_advanced_buttons2: "",
		theme_advanced_buttons3: "",
		theme_advanced_buttons4: "",
	});
}
function do_wysiwyg() {
	if ($('#id_markup').val() != 'wiki') {
		return;		
	}
	$('#id_markup').val('html');
	var current = $('#id_wikitext').val();
	$.ajax({
		url: convert_url,
		type: "POST",
		data: { data: current, to: 'html', 'csrfmiddlewaretoken': csrf_token },
	}).done(function(data) {
		var html = data['data'];
		$('#id_wikitext').val(html);
		setup_tinymce('id_wikitext');
	});
}

function do_wiki() {
	if ($('#id_markup').val() != 'html') {
		console.log('hail')
		return;		
	}
	$('#id_markup').val('wiki')

	var current = $('#id_wikitext').val();
	$.ajax({
		url: convert_url,
		type: "POST",
		data: { data: current, to: "wiki", 'csrfmiddlewaretoken': csrf_token },
	}).done(function(data) {
		var wiki = data['data'];
		tinyMCE.execCommand('mceFocus', false, 'id_wikitext');
		tinyMCE.execCommand('mceRemoveControl', false, 'id_wikitext');
		$('#id_wikitext').val(wiki);
	});
}
</script>
{% endblock %}

{% block actions %}
{% if not import and page %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url pages.views.import_page course_slug=offering.slug page_label=page.label %}">Import Content</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<a href="javascript:do_wysiwyg()">WYSIWYG</a>
<a href="javascript:do_wiki()">wiki</a>

<div id="form_container">
    <form action="{% if url %}{{url}}{% endif %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    
    <fieldset><legend>Page Details</legend>
    {{form|as_dl_safe}}

    <p><input class="submit" type="submit" value="{% if page %}Update {{kind}}{% else %}Create {{kind}}{% endif %}" /></p>
    </fieldset>

    </form>
</div>
{% endblock %}
