{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}{% if page %}Edit {{kind}} {{page.label}}{% else %}New {{kind}}{% endif %}{% endblock %}
{% block h1 %}{% if page %}Edit {{kind}} {{page.label}}{% else %}New {{kind}}{% endif %}{% endblock %}
{% block subbreadcrumbs %}<li><a href="{% url "offering:course_info" course_slug=offering.slug %}">{{ offering.name }}</a></li><li><a href="{% url "offering:pages:index_page" course_slug=offering.slug %}">Pages</a></li>{% if page %}<li><a href="{% url "offering:pages:view_page" course_slug=offering.slug page_label=page.label %}">{{page.label}}</a></li><li>Edit</li>{% else %}<li>New Page</li>{% endif %}{% endblock %}

{% block headextra %}
{% include 'pages/markup_edit_head.html' %}
{% endblock %}

{% block content %}

{% if is_macro_page %}
<div class="helptext">
<p>This is the page of macro expansions for this course offering. The &ldquo;content&rdquo; should be like this:</p>
<blockquote><pre>MACRO_NAME: text to actually place on the page
ANOTHER_MACRO: some other replacement text</pre></blockquote>
<p>Then on any page for this course, the text <code>+MACRO_NAME+</code> and <code>+ANOTHER_MACRO+</code> will be replaced with the text above.
Macro names (before the colon) cannot contain spaces; replacements (after the colon) can be any text, including wiki markup.</p>
</div>
{% endif %}

<form action="{% if url %}{{url}}{% endif %}" method="post" enctype="multipart/form-data">{% csrf_token %}
{{form|as_dl_safe}}
<p><input class="submit" type="submit" value="{% if page %}Update {{kind}}{% else %}Create {{kind}}{% endif %}" /></p>
</form>

{% if page %}
<h2 id="delete">Delete this page</h2>
<form action="{% if url %}{{url}}{% endif %}" method="post">{% csrf_token %}
<p>
<input type="hidden" name="delete" value="yes" size="30"/>
URL to redirect after deletion: <input type="text" name="redirect" value="Index" />
<input class="submit" type="submit" value="Delete {{kind}}" onclick="confirmSubmit('delete this {{kind}}')" />
</p>
</form>
{% endif %}
{% endblock %}
