{% extends "base.html" %}
{% load form_display %}

{% block title %}Import Page {{page.label}}{% endblock %}
{% block h1 %}Import Page {{page.label}}{% endblock %}
{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=offering.slug %}">{{ offering.name }}</a></li><li><a href="{% url "pages.views.index_page" course_slug=offering.slug %}">Pages</a></li><li><a href="{% url "pages.views.view_page" course_slug=offering.slug page_label=page.label %}">{{page.label}}</a></li><li>Import</li>{% endblock %}

{% block content %}
<div class="form_container">
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    
    <fieldset><legend>Import Content</legend>
    <p>Give <strong>either</strong> an HTML file or a URL to the content you'd like to import for this page.</p>
    {{form|as_dl_safe}}

    <p><input class="submit" type="submit" value="Import Page" /></p>
    </fieldset>

    </form>
</div>
{% endblock %}
