{% extends "base.html" %}

{% block title %}{{page.title}}: History{% endblock %}
{% block h1 %}{{page.title}}: History{% endblock %}
{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=offering.slug %}">{{ offering.name }}</a></li>{% if is_index %}<li>&gt; Pages</li>{% else %}<li>&gt; <a href="{% url pages.views.index_page course_slug=offering.slug %}">Pages</a></li><li>&gt; <a href="{% url pages.views.view_page course_slug=offering.slug page_label=page.label %}">{{page.title}}</a></li><li>&gt; History</li>{% endif %}{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#pagestable').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    "aaSorting": [[ 0, "desc" ]],
    "aoColumns": [
      null,
      null,
      null,
      null,
    ]
  } );
} );
</script>
{% endblock %}

{% block content %}

<div class="datatable_container">
<table id="pagestable" class="display">
  <thead><tr><th scope="col">Modified</th><th scope="col">Editor</th><th scope="col">Comment</th><th scope="col">Size</th></tr></thead>
  <tbody>
  {% for v in versions %}
  <tr>
  <td><a href="{% url pages.views.page_version course_slug=offering.slug page_label=page.label version_id=v.id %}">{{v.created_at}}</a></td>
  <td>{{v.editor.person.name}} ({{v.editor.person.userid}})</td>
  <td>{{v.comment}}</td>
  <td>{% if v.is_filepage %}{{v.file_attachment.size|filesizeformat}}{% else %}{{v.get_wikitext|length|filesizeformat}}{% endif %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}
