{% extends "base.html" %}
{% load static %}{% load compress %}

{% block title %}{{version.title}}{% endblock %}
{% block h1 %}{{version.title}}{% endblock %}
{% block subbreadcrumbs %}<li><a href="{% url "offering:course_info" course_slug=offering.slug %}">{{ offering.name }}</a></li>{% if is_index %}<li>Pages</li>{% else %}<li><a href="{% url "offering:pages:index_page" course_slug=offering.slug %}">Pages</a></li>{% if is_old %}<li><a href="{% url "offering:pages:view_page" course_slug=offering.slug page_label=page.label %}">{{page.label}}</a></li><li>Previous Version</li>{% else %}<li>{{page.label}}</li>{% endif %}{% endif %}{% endblock %}

{% block headextra %}
{% include 'pages/markup_view_head.html' %}
{% endblock %}


{% block actions %}
{% if can_edit or is_index or is_old %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    {% if is_old %}<li><a href="{% url "offering:pages:view_page" course_slug=offering.slug page_label=page.label %}">View current version</a></li>{% endif %}
    {% if is_index %}
        <li><a href="{% url "offering:pages:all_pages" course_slug=offering.slug %}">List All Pages</a></li>
        {% if member.role == 'INST' %}<li><a href="{% url "offering:pages:permissions" course_slug=offering.slug %}">Manage additional permissions</a></li>{% endif %}
    {% endif %}
    {% if can_edit %}
    <li><a href="{% url "offering:pages:edit_page" course_slug=offering.slug page_label=page.label %}">Edit this {% if version.is_filepage %}file{% else %}page{% endif %}</a></li>
    <li><a href="{% url "offering:pages:page_history" course_slug=offering.slug page_label=page.label %}">View History</a></li>{% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if page.release_message %}<div class="warningmessage">{{ page.release_message }}</div>{% endif %}
{% if redirect_url %}<div class="infomessage">This page has been configured to <a href="{{ redirect_url }}">redirect to its new location</a>. Non-instructors will be taken there automatically.</div>{% endif %}

{% if version.is_filepage %}
<p>View file <a href="{% url "offering:pages:view_file" course_slug=offering.slug page_label=page.label %}">{{version.file_name}}</a> ({{version.file_attachment.size|filesizeformat}}), or <a href="{% url "offering:pages:download_file" course_slug=offering.slug page_label=page.label %}">download</a>.</p>
{% else %}
<div class="wikicontents {{ version.markup }} {% if version.math %}tex2jax_process{% else %}tex2jax_ignore{% endif %}">{{ version.html_contents }}</div>
{% endif %}
<div class="updateinfo">Updated {{ version.created_at }} by {{version.editor.person.userid }}.
{% if can_edit and page.can_read != 'ALL' %}<br /><span class="infomessage">This page is visible only to {{ page.get_can_read_display }}.</span>{% endif %}
</div>

{% endblock %}
