{% extends "base.html" %}

{% block title %}{{version.title}}{% endblock %}
{% block h1 %}{{version.title}}{% endblock %}
{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=offering.slug %}">{{ offering.name }}</a></li>{% if is_index %}<li>Pages</li>{% else %}<li><a href="{% url "pages.views.index_page" course_slug=offering.slug %}">Pages</a></li>{% if is_old %}<li><a href="{% url "pages.views.view_page" course_slug=offering.slug page_label=page.label %}">{{page.label}}</a></li><li>Previous Version</li>{% else %}<li>{{page.label}}</li>{% endif %}{% endif %}{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{{STATIC_URL}}style/print.css" media="print" />
<link rel="stylesheet" href="{{STATIC_URL}}style/pages.css" media="all" />
{% if version.math %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  displayAlign: "left",
  displayIndent: "2em",
});
</script>
<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
{% if version.syntax %}
<script type="text/javascript" src="{{STATIC_URL}}syntaxhighlighter/scripts/shCore.js"></script>
{% for b in version.brushes %}
<script type="text/javascript" src="{{STATIC_URL}}syntaxhighlighter/scripts/{{b}}"></script>
{% endfor %}
<link href="{{STATIC_URL}}syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}syntaxhighlighter/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
  SyntaxHighlighter.defaults['light'] = true;
  SyntaxHighlighter.all()
</script>
{% endif %}
{% endblock %}


{% block actions %}
{% if can_edit or is_index or is_old %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    {% if is_old %}<li><a href="{% url "pages.views.view_page" course_slug=offering.slug page_label=page.label %}">View current version</a></li>{% endif %}
    {% if is_index %}<li><a href="{% url "pages.views.all_pages" course_slug=offering.slug %}">List All Pages</a></li>{% endif %}
    {% if can_edit %}
    <li><a href="{% url "pages.views.edit_page" course_slug=offering.slug page_label=page.label %}">Edit this {% if version.is_filepage %}file{% else %}page{% endif %}</a></li>
    
    <li><a href="{% url "pages.views.page_history" course_slug=offering.slug page_label=page.label %}">View History</a></li>{% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if page.release_message %}<div class="releasemessage">{{ page.release_message }}</div>{% endif %}


{% if version.is_filepage %}
<p>View file <a href="{% url "pages.views.view_file" course_slug=offering.slug page_label=page.label %}">{{version.file_name}}</a> ({{version.file_attachment.size|filesizeformat}}), or <a href="{% url "pages.views.download_file" course_slug=offering.slug page_label=page.label %}">download</a>.</p>
{% else %}
<div class="wikicontents">{{ version.html_contents }}</div>
{% endif %}
<div class="updateinfo">Updated {{ version.created_at }} by {{version.editor.person.userid }}.</div>

{% endblock %}
