{% extends "base.html" %}

{% block title %}{{page.title}}{% endblock %}
{% block h1 %}{{page.title}}{% endblock %}
{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=offering.slug %}">{{ offering.name }}</a></li>{% if is_index %}<li>&gt; Pages</li>{% else %}<li>&gt; <a href="{% url pages.views.index_page course_slug=offering.slug %}">Pages</a></li><li>&gt; {{page.title}}</li>{% endif %}{% endblock %}

{% block headextra %}
{% if version.math %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  displayAlign: "left",
  displayIndent: "2em",
});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
{% if version.syntax %}
<script type="text/javascript" src="{{MEDIA_URL}}syntaxhighlighter/scripts/shCore.js"></script>
{% for b in version.brushes %}
<script type="text/javascript" src="{{MEDIA_URL}}syntaxhighlighter/scripts/{{b}}"></script>
{% endfor %}
<link href="{{MEDIA_URL}}syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
<link href="{{MEDIA_URL}}syntaxhighlighter/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
  SyntaxHighlighter.defaults['light'] = true;
  SyntaxHighlighter.all()
</script>
{% endif %}
{% endblock %}


{% block actions %}
{% if can_edit or is_index %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    {% if is_index %}<li><a href="{% url pages.views.all_pages course_slug=offering.slug %}">List All Pages</a></li>{% endif %}
    {% if can_edit %}
    <li><a href="{% url pages.views.edit_page course_slug=offering.slug page_label=page.label %}">Edit this {% if version.is_filepage %}file{% else %}page{% endif %}</a></li>
    
    <li><a href="{% url pages.views.page_history course_slug=offering.slug page_label=page.label %}">View History</a></li>{% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}

{% if version.is_filepage %}
<p>View file <a href="{% url pages.views.view_file course_slug=offering.slug page_label=page.label %}">{{version.file_name}}</a> ({{version.file_attachment.size|filesizeformat}}), or <a href="{% url pages.views.download_file course_slug=offering.slug page_label=page.label %}">download</a>.</p>
{% else %}
{{ version.html_contents }}
{% endif %}
<div class="updateinfo">Updated {{ version.created_at }} by {{version.editor.person.userid }}.</div>

{% endblock %}
