{% extends "base.html" %}
{% block title %}Manage Accounts{% endblock %}
{% block h1 %}Manage Accounts{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ra.views.search" %}">RAs</a></li>
<li>Accounts</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#accounts').dataTable( {
  'bPaginate': false,
  'bInfo': false,
  'bFilter': false,
  'bLengthChange': false,
  "bJQueryUI": true,
  'aaSorting': [[1, 'asc']],
  } );
} );
function confirmDelete() {
  return confirm("Are you sure you want to delete this account?")
}
</script>
{% endblock %}

{% block actions %}
  <div id="actions">
  <h2>Actions</h2>
    <ul>
      <li><a href="{% url "ra.views.new_account" %}">New Account</a></li>
    </ul>
  </div>
{% endblock %}

{%block content%}
  <div class="datatable_container">
    <table id="accounts" class="display">
      <thead>
        <tr>
          <th scope="col">Account Number</th>
          <th scope="col">Title</th>
          <th scope="col">Position Number</th>
          <th scope="col">Unit</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
          <tr>
            <td scope="row"><span class="sort">{{account.account_number}}</span>{{account.account_number}}</td>
            <td>{{account.title}}</td>
            <td>{{account.position_number}}</td>
            <td>{{account.unit}}</td>
            <td class='miniaction'>
                <a href="{% url "ra.views.edit_account" account_slug=account.slug %}">Edit</a>
                | 
                <a onclick="return confirmDelete();" 
                    href="{% url "ra.views.remove_account" account_slug=account.slug %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{%endblock content%}
