{% extends "base.html" %}
{% load static %}
{% load form_display %}

{% block title %}RA Appointments{% endblock %}
{% block h1 %}RA Appointments{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{% static "jquery-ext/jquery.ba-bbq.min.js" %}"></script>
<script src="{% static 'js/ra.js' %}"></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  ra_browser_setup("{% url 'ra:browse' %}");
});
</script>{% endblock %}

{% block subbreadcrumbs %}
{% if supervisor_only %}
<li>RAs</li>
{% else %}
<li><a href="{% url "ra:search" %}">RAs</a></li>
{% endif %}
<li>Browse</li>
{% endblock %}

{% block actions %}
<li><a href="{% url "ra:download_current_ras" %}">Download Current RAs</a></li>
<li><a href="{% url "ra:download_all_ras" %}">Download All RAs</a></li>
{% endblock %}

{% block content %}
<form action="" id="filterform">{{ form.as_ul }}</form>
<table class="display" id="ra_table">
<thead>
<tr><th scope="col">RA Name</th><th scope="col">Faculty Name</th><th scope="col">Unit</th>
<th scope="col">Project</th><th scope="col">Account</th>
<th scope="col">Start Date</th><th scope="col">End Date</th><th scope="col">Amount</th>
</tr>
</thead>
<tbody></tbody>
</table>
{% endblock %}
