{% extends "base.html" %}
{% load staticfiles %}
{% load form_display %}

{% block title %}RA Appointments{% endblock %}
{% block h1 %}RA Appointments{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{% static "jquery-ext/jquery.ba-bbq.min.js" %}"></script>
<script src="{% static 'js/ra.js' %}"></script>
<script>
$(document).ready(function() {
	ra_browser_setup("{% url 'ra.views.browse' %}");
});
</script>{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "ra.views.search" %}">RA Appointments</a></li>
<li>Browse</li>{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<form id="filter">
<fieldset>

</fieldset>
</form>

<table class="display" id="ra_table">
<thead>
<tr><th scope="col">RA Name</th><th scope="col">Faculty Name</th><th scope="col">Project</th><th scope="col">Account</th>
<th scope="col">Start Date</th><th scope="col">End Date</th><th scope="col">Amount</th>
</tr>
</thead>
<tbody></tbody>
</table>

{% endblock %}
