{% extends "base.html" %}
{% load form_display %}

{% block headextra %}
<script type="text/javascript">
var personinfo_url = "{% url "ra.views.person_info" %}";
var payperiods_url = "{% url "ra.views.pay_periods" %}";
{% if person %}
var emplid = '{{ person.emplid }}';
{% else %}
var emplid = null;
{% endif %}
</script>
<script type="text/javascript" src="/media/js/ra.js"></script>
<link rel="stylesheet" type="text/css" href="/media/ra/ra.css" />
{% endblock %}

{% block title %}Update RA Appointment for {{ appointment.person.name }}{% endblock %}
{% block h1 %}Update RA Appointment for {{ appointment.person.name }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ra.views.search" %}">RAs</a></li>
<li><a href="{% url "ra.views.student_appointments" userid=appointment.person.userid%}"> {{ appointment.person.name }}</a></li>
<li><a href="{% url "ra.views.view" ra_slug=appointment.slug %}">{{ appointment.account.title }} starting {{ appointment.start_date|date:GRAD_DATE_FORMAT }}</a></li>
<li>Edit</li>{% endblock %}

{% block content %}
  <div class="form_container">
    <form action="{% url "ra.views.edit" ra_slug=appointment.slug %}" method="POST">{% csrf_token %}
      <fieldset>
        <legend>Contract Information</legend>
        {{ raform|as_dl_excludefields:"lump_sum_pay,lump_sum_hours,biweekly_pay,pay_periods,hourly_pay,hours,pay_frequency,reappointment,medical_benefits,dental_benefits,notes,comments,use_hourly" }}

        <p><legend>Salary Information</legend></p>
        <table id="salary_info">
          <tr>
            <td class="salary_first">{{ raform.pay_frequency|label_display }}</td>
            <td>{{ raform.pay_frequency|field_display }}</td>
          </tr>
          <tr>
            <td class="salary_first">{{ raform.lump_sum_pay|label_display }}</td>
            <td>{{ raform.lump_sum_pay|field_display }}</td>
            <td class="salary_label">{{ raform.lump_sum_hours|label_display }}</td>
            <td>{{ raform.lump_sum_hours|field_display }}</td>
          </tr>

          <tr>
            <td class="salary_first">{{ raform.biweekly_pay|label_display }}</td>
            <td>{{ raform.biweekly_pay|field_display }}</td>
            <td class="salary_label">{{ raform.pay_periods|label_display }}</td>
            <td>{{ raform.pay_periods|field_display }}</td>
          </tr>

          <tr>
            <td class="salary_first">{{ raform.hourly_pay|label_display }}</td>
            <td>{{ raform.hourly_pay|field_display }}</td>
            <td class="salary_label">{{ raform.hours|label_display }}</td>
            <td>{{ raform.hours|field_display }}</td>
          </tr>
          <tr>
            <td class="salary_first">{{ raform.use_hourly|label_display }}</td>
            <td colspan="3">{{ raform.use_hourly|field_display }}</td>
          </tr>
        </table>
        {{ form|required_message }}
        <p><legend>Other Information</legend></p>
        {{ raform|as_dl_excludefields:"person,sin,hiring_faculty,unit,hiring_category,scholarship,project,account,start_date,end_date,pay_frequency,lump_sum_pay,lump_sum_hours,biweekly_pay,pay_periods,hourly_pay,hours,use_hourly" }}
        <p><input type="submit" class="submit" value="Submit" /></p>
      </fieldset>
    </form>  
  </div>
{% endblock %}
