{% extends "base.html" %}
{% load form_display %}

{% block headextra %}
<script type="text/javascript" src="/media/js/ra.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("id_person").focus();
  ra_autocomplete('id_person');
  $("#id_start_date").datepicker({'dateFormat': 'yy-mm-dd'});
  $("#id_end_date").datepicker({'dateFormat': 'yy-mm-dd'});
  $("#id_lump_sum_pay").change(function() {
    update_lump_sum();
  });
  $("#id_biweekly_pay").change(function() {
    update_biweekly();
  });
  $("#id_pay_periods").change(function() {
    update_lump_sum();
  });
  $("#id_hourly_pay").change(function() {
    update_hourly();
  });
  $("#id_hours").change(function() {
    update_lump_sum();
  });
});
</script>
{% endblock %}

{% block title %}Update RA Appointment for {{ appointment.person.first_name }} {{ appointment.person.last_name }}{% endblock %}
{% block h1 %}Update RA Appointment for {{ appointment.person.first_name }} {{ appointment.person.last_name }}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url ra.views.search %}">RA Appointments</a></li><li><a href="{% url ra.views.student_appointments userid=appointment.person.userid%}">&gt; RA Appointments for {{ appointment.person.first_name }} {{ appointment.person.last_name }}</a></li><li>&gt; Update RA Appointment</li>{% endblock %}

{% block content %}
<div id="form_container">
  <form action="{% url ra.views.edit ra_slug=appointment.slug %}" method="POST">{% csrf_token %}
    <fieldset style="list-style: none;">
      <legend>Personal Information</legend>
      {{ raform.as_ul }}
      <p><input type="submit" value="Submit"></p>
    </fieldset>
  </form>  
</div>

{% endblock %}
