{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}

{% block title %}New RA Application{% endblock %}
{% block h1 %}New RA Application{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="/ra">RA</a></li>
<li>&gt; New RA</li>{% endblock %}
{% block content %}
    <form action="{% url ra.views.new %}" method="POST">{% csrf_token %}
        <fieldset>
<legend>General Info</legend>
             {{ form }}
        <p><input type="submit" value="Submit"></p>
        </fieldset>
    </form>

{% endblock %}
