{% extends "base.html" %}
{% load form_display %}

{% block headextra %}
<script type="text/javascript" src="/media/js/ra.js"></script>
<link rel="stylesheet" type="text/css" href="/media/ra/ra.css" />

{% endblock %}

{% block title %}New RA Appointment{% endblock %}
{% block h1 %}New RA Appointment{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url ra.views.search %}">RA Appointments</a></li>
<li>&gt; New RA Appointment</li>{% endblock %}

{% block content %}
  <div id="form_container">
    <form action="{% url ra.views.new %}" method="POST">{% csrf_token %}
      <fieldset style="list-style: none;">
        <legend>Personal Information</legend>
        {{ raform|as_dl_excludefields:"lump_sum_pay,biweekly_pay,pay_periods,hourly_pay,hours,reappointment,medical_benefits,dental_benefits,notes,comments" }}

        <p><legend>Salary Information</legend></p>
        <p>
          <span id="lump_sum_label">{{ raform.lump_sum_pay.label }}:*</span> 
          {{raform.lump_sum_pay }}
        </p>
      
        <p>
          <span id="biweekly_pay_label">{{ raform.biweekly_pay.label }}:*</span> 
          {{ raform.biweekly_pay }}
          <span id="pay_periods_label">{{ raform.pay_periods.label }}:*</span> 
          {{ raform.pay_periods }}
        </p>
      
        <p>
          <span id="hourly_pay_label">{{ raform.hourly_pay.label }}:*</span> 
          {{ raform.hourly_pay }}
          <span id="hours_label">{{ raform.hours.label }}:*</span> 
          {{ raform.hours }}
        </p>

        <p class="helptext">* This field is required.</p>
        
        <p><legend>Other Information</legend></p>
        {{ raform|as_dl_excludefields:"person,hiring_faculty,unit,hiring_category,project,account,start_date,end_date,lump_sum_pay,biweekly_pay,pay_periods,hourly_pay,hours" }}
        <p><input type="submit" value="Submit"></p>
      </fieldset>
    </form>  
  </div>
{% endblock %}