{% extends "base.html" %}
{% load form_display %}

{% block title %}New Account{% endblock %}
{% block h1 %}New Account{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ra.views.search" %}">RAs</a></li>
<li><a href="{% url "ra.views.accounts_index" %}">Accounts</a></li>
<li>New</li>{% endblock %}

{% block content %}
  <div class="form_container">
    <form action="{% url "ra.views.new_account" %}" method="post">{% csrf_token %}
      <fieldset>
        {{ accountform|as_dl }}
        <p><input type="submit" value="Submit" class="submit" /></p>
      </fieldset>
    </form>  
  </div>
{% endblock %}
