{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block headextra %}
<script type="text/javascript" src="{% static 'js/ra_application.js' %}"></script>
<link rel="stylesheet" href="{% static 'style/ra.css' %}" />
{% endblock %}

{% block title %}New RA Request{% endblock %}
{% block h1 %}
  New RA Request
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "ra:search" %}">RAs</a></li>
<li>New RA Request</li>
{% endblock %}




{% block content %}
<div class="form_container">
  <form action="{% url "ra:new_request" %}" method="POST" enctype="multipart/form-data" class="subtle">{% csrf_token %}
    <fieldset>
      <div class ="form_section">
        <h2><strong>SECTION 1: Appointee/Supervisor Information and Hiring Category</strong></h2>
          {{ raform|as_dl_includefields:"person,nonstudent,first_name,last_name,email_address,unit,supervisor,student,mitacs,coop,thesis,people_comments,hiring_category" }}
          <div class="important_info">
            <b>Hiring Category:</b> 
            <div class="need_more_info">
              Please complete more information above to show hiring category.
            </div>
            <div class="ra_info">
              <h3>Research Assistant (True RA)</h3>
              <div class="helptext">
                <p><b>Examples:</b><br>Non-students of SFU, undergraduate students (unless doing an honors thesis), co-op students (unless named in Mitacs grant), Mitacs funded appointees who are NOT named in the Mitacs grant, and SFU students who are not academically supervised by the Hiring Supervisor.<br>
                <b>Definition:</b><br>Research Assistants who assist in completing the tasks necessary for the Hiring Supervisor’s research program and/or towards the research group’s general academic deliverables. There is an employer/employee relationship and expectations. Tasks are directed and defined by the Hiring Supervisor and may be broad in range, degree of expertise and complexity. Earnings are considered employment income and employee will receive a T4 tax form.</p>
              </div>
            </div>
            <div class="gras_info">
              <h3>Graduate Research Assistant Scholarship/Stipend (Trainee)</h3>
              <div class="helptext">
                <p><b>Examples:</b><br>Students being academically supervised by the Hiring Supervisor, undergraduate honors students, and both undergraduate and graduate students who are named in a Mitacs grant.<br>
                <b>Definition:</b><br> Students of the Hiring Supervisor who perform work and research towards the students own academic program/thesis. The purpose of this appointment is to support the student financially and/or to bring the student up to the guaranteed level of funding. The relationship is supervisor/student and academic mentor/mentee. While the research may be related to the Hiring Supervisors overall research program, it is defined by the academic pursuits and outcomes reflected in the student’s thesis or final project. Earnings are considered scholarship funding and students will receive a T4A tax form.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="form_section">
        <h2><strong>SECTION 2: Funding Sources</strong></h2>
        {{ raform|as_dl_includefields:"fs1_unit,fs1_project,fs1_fund,fs1_percentage" }}
        {{ raform|as_dl_includefields:"fs2_option,fs2_unit,fs2_project,fs2_fund,fs2_percentage" }}
        {{ raform|as_dl_includefields:"fs3_option,fs3_unit,fs3_project,fs3_fund,fs3_percentage" }}
      </div>
      <div class ="form_section">
        <h2><strong>SECTION 3: Start and End Dates</strong></h2>
        {{ raform|as_dl_includefields:"start_date,end_date" }}
        <div class="important_info">
          <b>Estimated Pay Periods:</b><div class="pay_periods_info"></div>
        </div>
      </div>
      <div class ="form_section">
        <h2><strong>SECTION 4: Payment Methods</strong></h2>
        <div class="helptext">
          <ul>
            <li>Please complete all above sections before filling out payment method information</li>
            <li>All numbers are exclusive of statutory benefit rate (Employer portion of EHT, CPP, EI, and WCB) --> 10%</li>
            <li>All numbers are exclusive of discretionary benefits (extended health and dental) --> 4%</li>
          </ul>
        </div>
          {{ raform|as_dl_includefields:"gras_payment_method,ra_payment_method"}}
        <div class="ra_biweekly_fields">
          {{ raform|as_dl_includefields:"rabw_total_gross,rabw_weeks_vacation,rabw_biweekly_hours,rabw_biweekly_salary,rabw_gross_hourly"}}
        </div>
        <div class="ra_hourly_fields">
          {{ raform|as_dl_includefields:"rah_gross_hourly,rah_vacation_pay,rah_biweekly_hours"}}
        </div>
        <div class="gras_lump_sum_fields">
          {{ raform|as_dl_includefields:"grasls_total_gross"}}
        </div>
        <div class="gras_biweekly_fields">
          {{ raform|as_dl_includefields:"grasbw_total_gross,grasbw_biweekly_hours,grasbw_biweekly_salary,grasbw_gross_hourly"}}
        </div>
          {{ raform|as_dl_includefields:"total_pay"}}
        <div class="biweekly_info">
          <p><div class="important_info">
            <b>Estimated Biweekly Rate:</b><div class="biweekly_rate_info"></div>
          </div></p>
          <p><div class="important_info">
            <b>Estimated Hourly Rate:</b><div class="hourly_rate_info"></div>
          </div></p>
        </div>
        <p><div class="important_info">
          <b>Estimated Total Pay:</b><div class="total_pay_info"></div>
        </div></p>
      </div>
      <div class ="form_section">
        <h2><strong>SECTION 5: Supporting Documents & Comments</strong></h2>
        {{ raform|as_dl_includefields:"file_attachment_1,file_attachment_2,funding_comments"}}
      </div>
      <div class="ra_section">
        <div class ="form_section">
          <h2><strong>SECTION 6: For Research Assistants</strong></h2>
          {{ raform|as_dl_includefields:"ra_benefits,ra_duties_ex,ra_duties_dc,ra_duties_pd,ra_duties_im,ra_duties_eq,ra_duties_su,ra_duties_wr,ra_duties_pm,ra_other_duties"}}
        </div>
      </div>
        <p><input type="submit" class="submit" value="Submit" /></p>
    </fieldset>
  </form>  
</div>
{% endblock %}
