{% extends "base.html" %}
{% block title %}Manage Projects{% endblock %}
{% block h1 %}Manage Projects{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ra.views.search" %}">RAs</a></li>
<li>Projects</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#projects').dataTable( {
  'bPaginate': false,
  'bInfo': false,
  'bFilter': false,
  'bLengthChange': false,
  "bJQueryUI": true,
  'aaSorting': [[1, 'asc']],
  } );
} );
function confirmDelete() {
  return confirm("Are you sure you want to delete this project?");
}
</script>
{% endblock %}

{% block actions %}
<div id="actions">
  <h2>Actions</h2>
    <ul>
      <li><a href="{% url "ra.views.new_project" %}">New Project</a></li>
    </ul>
</div>
{% endblock %}

{%block content%}
<div class="datatable_container">
  <table id="projects" class="display">
    <thead>
      <tr>
        <th scope="col">Project Number</th>
        <th scope="col">Position Number</th>
        <th scope="col">Unit</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
        <tr>
          <td scope="row"><span class="sort">{{project.project_number}}</span>{{project.project_number}}</td>
          <td>{{project.fund_number}}</td>
          <td>{{project.unit}}</td>
          <td><a href="{% url "ra.views.edit_project" project_slug=project.slug %}">Edit</a>
                | 
              <a onclick="return confirmDelete();" 
                href="{% url "ra.views.remove_project" project_slug=project.slug %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock content%}
