{% extends "base.html" %}
{% block title %}
  RA Appointments for {{ student.first_name}} {{ student.last_name }}
{% endblock %}
{% block h1 %}
  RA Appointments for {{ student.first_name}} {{ student.last_name }}
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ra.views.search" %}">RAs</a></li>
<li>{{ student.name }}</li>
{% endblock %}

{% block headextra %}
  <script type="text/javascript">
  $(document).ready(function() {
    $('#appointments').dataTable( {
      'bPaginate': false,
      'bInfo': false,
      'bLengthChange': false,
      "bJQueryUI": true,
      'aaSorting': [[1, 'asc']],
    } );
  } );
  </script>
{% endblock %}

{% block actions %}
  <div id="actions">
    <h2>Actions</h2>
    <ul>
      <li><a href="{% url "ra.views.new_student" userid=student.userid_or_emplid %}">New RA appointment</a></li>
    </ul>
  </div>
{% endblock %}

{%block content%}
  <div class="table_container">
    <table class="info">
      <tbody>
        <tr>
          <th class="ui-state-default">Last Name</th>
          <td>{{ student.last_name }}</td>
        </tr>
        <tr>
          <th class="ui-state-default">First Name</th>
          <td>{{ student.first_name }}</td>
        </tr>
        <tr>
          <th class="ui-state-default">Middle Name</th>
          <td>{{ student.middle_name }}</td>
        </tr>
        <tr>
          <th class="ui-state-default">Student Number</th>
          <td>{{ student.emplid }}</td>
        </tr>
        <tr>
          <th class="ui-state-default">Email Address</th>
          <td>{{ student.email_mailto }}</td>
        </tr>
        {% if grads %}
        <tr>
          <th class="ui-state-default">Financial Summary</th>
          <td>
          	{% for gs in grads %}
            <a href="{% url "grad.views.financials" grad_slug=gs.slug %}">{{ gs.program.label }}</a>
            {% endfor %}
          </td>
        </tr>        
        {% endif %}
      </tbody>
    </table>
  </div>

  {%if appointments %}
    <div class="datatable_container">
      <table id="appointments" class="display">
        <thead>
          <tr>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Hiring Faculty</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
        <tr>
          <td scope="row">
              <span class="sort">{{ appointment.start_date.isoformat }}</span>
              {{ appointment.start_date|date:GRAD_DATE_FORMAT }}</td>
          <td><span class="sort">{{ appointment.end_date.isoformat }}</span>
          	  {{ appointment.end_date|date:GRAD_DATE_FORMAT }}</td>
          <td>{{ appointment.account.title }}</td>
          <td>{{ appointment.get_pay_frequency_display }}</td>
          <td>{{ appointment.hiring_faculty.last_name}}, 
              {{ appointment.hiring_faculty.first_name }}</td>
          <td><a href="{% url "ra.views.view" ra_slug=appointment.slug %}">View </a> |
              <a href="{% url "ra.views.edit" ra_slug=appointment.slug %}">Edit</a> |
              <a href="{% url "ra.views.edit_letter" ra_slug=appointment.slug %}">Edit Letter</a> |
              <a href="{% url "ra.views.form" ra_slug=appointment.slug %}">Form</a> |
              <a href="{% url "ra.views.letter" ra_slug=appointment.slug %}">Letter</a> |
              <a href="{% url "ra.views.reappoint" ra_slug=appointment.slug %}">Reappoint</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {%else%}
    <p>No RA Appointments Found.</p>
  {%endif%}
{%endblock content%}
