{% extends "base.html" %}
{% block title %}
  RA Appointment for {{ student.name }}
{% endblock %}

{% block h1 %}
  RA Appointment for {{ student.name }}
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ra.views.search" %}">RAs</a></li>
<li><a href="{% url "ra.views.student_appointments" userid=appointment.person.emplid %}">{{ student.name }}</a></li>
<li>{{ appointment.account.title }} starting {{ appointment.start_date }}</li>
{% endblock %}

{% block actions %}
  <div id="actions">
    <h2>Actions</h2>
    <ul>
      <li><a href="{% url "ra.views.edit" ra_slug=appointment.slug %}">Edit this appointment</a></li>
      <li><a href="{% url "ra.views.edit_letter" ra_slug=appointment.slug %}">Edit Letter Text</a></li>
      <li><a href="{% url "ra.views.form" ra_slug=appointment.slug %}">Appointment Form</a></li>
      <li><a href="{% url "ra.views.letter" ra_slug=appointment.slug %}">Appointment Letter</a></li>
      <li><a href="{% url "ra.views.reappoint" ra_slug=appointment.slug %}">Reappoint</a></li>
    </ul>
  </div>
{% endblock %}

{%block content%}
<div class="table_container">
  <h2>Personal Information:</h2>
  <table class="info">
    <tr><th>Student Number:</th><td>{{ student.emplid }}</td></tr>
    <tr><th>Last Name:</th><td>{{ student.last_name }}</td></tr>
    <tr><th>First Name:</th><td>{{ student.first_name }}</td></tr>
    <tr><th>Email:</th><td>{{ student.email_mailto }}</td></tr>
    <tr><th>SIN:</th><td>{{ appointment.sin }}</td></tr>
    <tr><th>Department:</th><td>{{ appointment.account.unit.name }}</td></tr>
  </table>
</div>

<div class="table_container">
  <h2>Contract Information</h2>
  <table class="info">
    <tr><th>Hiring Faculty:</th>
      <td>{{ appointment.hiring_faculty }}</td></tr>
    <tr><th>Hiring Category:</th>
      <td>{{ appointment.get_hiring_category_display }}</td></tr>
    <tr>
      <th>Scholarship:</th>
      <td>
        {% if appointment.scholarship %}
        {{ appointment.scholarship.scholarship_type.unit.label }}: {{ appointment.scholarship.scholarship_type.name }} ({{ appointment.scholarship.start_semester.name }} - {{ appointment.scholarship.end_semester.name }})
        {% endif %}
      </td>
    </tr>
    <tr><th>Fund Number:</th>
      <td>{{ appointment.project.fund_number }}</td></tr>
    <tr><th>Project Number:</th>
      <td>{{ appointment.project.project_number }}
          {% if appointment.project.hidden %}
            : <span class='warning'>Warning! This project has been deleted! </span>
          {% endif %} 
      </td></tr>
    <tr><th>Account Number:</th>
      <td>{{ appointment.account.account_number }} - 
          {{ appointment.account.title }}
          {% if appointment.account.hidden %}
            : <span class='warning'>Warning! This account has been deleted! </span> 
          {% endif %} 
      </td></tr>
    <tr><th>Position Number:</th>
      <td>{{ appointment.account.position_number }}</td></tr>
    <tr><th>Start Date:</th>
      <td>{{ appointment.start_date|date:GRAD_DATE_FORMAT }}</td></tr>
    <tr><th>End Date:</th>
      <td>{{ appointment.end_date|date:GRAD_DATE_FORMAT }}</td></tr>
    <tr><th>Re-appointment:</th>
      <td>{{ appointment.reappointment|yesno }}</td></tr>
  </table>
</div>

<div class="table_container">
  <h2>Salary Details</h2>
  <table class="info">
    <tr>
      <th>Pay Frequency</th>
      <td>{{ appointment.get_pay_frequency_display }}</td>
    </tr>
    <tr>
      <th>Total Pay Amount:</th> 
      <td>${{ appointment.lump_sum_pay }}</td>
    </tr>
    {% if appointment.pay_frequency != 'L' %}
    <tr>
      <th>Biweekly Pay:</th>
      <td>${{ appointment.biweekly_pay }}</td>
    </tr>
    <tr>
      <th>Hourly Pay:</th>
      <td>${{ appointment.hourly_pay }}</td>
    </tr>
    <tr>
      <th>Pay Periods:</th>
      <td>{{ appointment.pay_periods }}</td>
    </tr>
    <tr>
      <th>Hours per pay period:</th>
      <td>{{ appointment.hours }}</td>
    </tr>
    {% endif %}
  </table>
</div>

<div class="table_container">
  <h2>Benefit Options</h2>
  <table class="info">
    <tr><th>50% of Medical Service Plan:</th>
      <td>{{ appointment.medical_benefits|yesno }}</td></tr>
    <tr><th>50% of Dental Plan:</th>
      <td>{{ appointment.dental_benefits|yesno }}</td></tr>
  </table>
</div>

<div class="table_container">
  <h2>Other Information</h2>
  <table class="info">
    <tr><th>Notes:</th>
      <td>{{ appointment.notes|linebreaksbr }}</td></tr>
    <tr><th>Comments:</th>
      <td>{{ appointment.comments|linebreaksbr }}</td></tr>
  </table>
</div>

                        <form action="{% url "ra.views.delete_ra" ra_slug=appointment.slug %}" method="post">
                            {% csrf_token %}
                                <p class="actionbutton">
                                    <input type="submit" class="submit" value="Delete Appointment" onclick="return confirmSubmit('delete this appointment')" />
                                </p>
                        </form>

{%endblock content%}
