{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'style/ra.css' %}" />
{% endblock %}

{% block title %}
  RA {{ status }} for {{ req.get_name }}
{% endblock %}

{% block h1 %}
  RA {{ status }} for {{ req.get_name }}
{% endblock %}

{% block subbreadcrumbs %}
{% if admin %}
<li><a href="{% url "ra:dashboard" %}">RA Dashboard</a></li>
{% else %}
<li><a href="{% url "ra:browse_appointments" %}">My RA Dashboard</a></li>
{% endif %}
<li>View RA {{ status }} for {{ req.get_name }}</li>
{% endblock %}

{% block actions %}
  <div id="actions">
    <h2>Actions</h2>
    <ul>
      {% if admin %}
        <li><a href="{% url "ra:edit_request" ra_slug=req.slug %}">Edit this {{ status }}</a></li> 
        <li><a href="{% url "ra:request_paf" ra_slug=req.slug %}">Payroll Appointment Form</a></li>
        {% if req.backdated and not graduate_research_assistant %}
        <li><i>Offer letters are not available for backdated appointments.</i></li>
        {% else %}
        <li><a href="{% url "ra:request_offer_letter_update" ra_slug=req.slug %}">Offer Letter</a></li>
        {% endif %}
      {% endif %}
      <li><a href="{% url "ra:reappoint_request" ra_slug=req.slug %}">Reappoint</a></li>
    </ul>
  </div>
{% endblock %}

{%block content%}
<div class="table_container">
  <table class="info">
    <tr><th>Submission Author:</th><td>{{ author.first_name }} {{ author.last_name }} ({{ author.email_mailto }})</td></tr>
    <tr><th>Submission Date:</th><td>{{ req.created_at }}</td></tr>
    <tr><th>Last Update:</th><td>
      {% if req.last_updater and req.last_updated_at %}
        {{ req.last_updated_at }} by {{ req.last_updater }} ({{ req.last_updater.email_mailto }})
      {% else %}
        Never updated.
      {% endif %}
    </td></tr>
    {% if admin %}
      <tr><th>
        {% if req.complete %}
          Processed By:
        {% else %}
          Processor:
        {% endif %}
      </th><td>
      {% if req.processor %}
        {{ req.processor }} 
        {% if is_processor %}
        (Me)
        {% else %} 
        ({{ req.processor.email_mailto }})
        {% endif %}
      {% else %}
        Unassigned
      {% endif %}
      {% if not req.complete %}
        <form action="{% url "ra:update_processor" ra_slug=req.slug %}" class="lineform" method="post"> 
          {% csrf_token %}
          {% if not req.processor %}
            <p><input type="submit" value="Assign Myself" /></p>
          {% elif is_processor %}
            <p><input type="submit" value="Unassign Myself" /></p>
          {% else %}
            <p><input type="submit" value="Unassign Current Processor and Assign Myself" /></p>
          {% endif %}
        </form>
      {%endif %}
      </td></tr>
    {% endif %}
  </table>
</div>

<div class="table_container">
  <h2>Appointee Information</h2> 
  {% if not no_id and admin %} 
    <i>(Click <a href="{% url "ra:appointee_appointments" userid=req.person.userid_or_emplid %}">here</a> to view all appointments for {{ person.name }})</i>
  {% endif %}
  <table class="info">
    {% if no_id %}
    <tr><th>ID:</th><td>Appointee does not have an SFU ID</td></tr>
    <tr><th>First Name:</th><td>{{ req.first_name }}</td></tr>
    <tr><th>Last Name:</th><td>{{ req.last_name }}</td></tr>
    <tr><th>Email:</th><td>{{ req.email_address }}</td></tr>
    {% else %}
    <tr><th>ID:</th><td>{{ person.emplid }}</td></tr>
    <tr><th>First Name:</th><td>{{ person.first_name }}</td></tr>
    <tr><th>Last Name:</th><td>{{ person.last_name }}</td></tr>
    <tr><th>Email:</th><td>{{ person.email_mailto }}</td></tr>
    {% endif %}
    <tr><th>Student Type:</th><td>{{ req.get_student_status }}</td></tr>
    {% if not nonstudent %}
    <tr><th>Is Co-Op:</th><td>{{ req.coop|yesno|capfirst }}
        {% if req.swpp and req.coop %} (and applying for funding through SWPP) {% endif %}</td></tr>
    {% if req.student == 'U' %}
        <tr><th>USRA:</th><td>{{ req.usra|yesno|capfirst }}</td></tr>
    {% endif %}
    {% if show_mitacs %}
    <tr><th>Funded by Mitacs:</th><td>{{ req.mitacs|yesno|capfirst }}</td></tr>
    {% endif %}
    {% endif %}
    {% if show_research %}
    <tr><th>Involves Research:</th><td>{{ req.research|yesno|capfirst }}</td></tr>
    {% endif %}
    {% if show_thesis %}
      <tr><th>For Thesis:</th><td>{{ req.thesis|yesno|capfirst }}</td></tr>
    {% endif %}
    <tr><th>Department:</th><td>{{ req.unit }}</td></tr>
    <tr><th>Position Title:</th>
      <td>
      {% if req.position %}
      {{ req.position }}
      {% else %}
      None specified.
      {% endif %}
      </td>
    </tr>
  </table>
</div>

<div class="table_container">
  <h2>Supervisor Information</h2>
  {% if admin %}
    <i>(Click <a href="{% url "ra:supervisor_appointments" userid=req.supervisor.userid_or_emplid %}">here</a> to view all appointments that {{ supervisor.name }} is supervisor for)</i>
  {% endif %}
  <table class="info">
    <tr><th>ID:</th><td>{{ supervisor.emplid }}</td></tr>
    <tr><th>First Name:</th><td>{{ supervisor.first_name }}</td></tr>
    <tr><th>Last Name:</th><td>{{ supervisor.last_name }}</td></tr>
    <tr><th>Email:</th><td>{{ supervisor.email_mailto }}</td></tr>
  </table>
</div>

<div class="table_container">
  <h2>Appointee/Supervisor Comments</h2>
  <table class="info">
    <tr><td>
      {% if req.people_comments %}
        {{ req.people_comments }}
      {% else %}
        No additional comments about appointee/supervisor.
      {% endif %}
    </td></tr>
  </table>
</div>

{% if req.comments %}
<div class="table_container">
  <h2>Additional Info</h2>
  <table class="info">
  <tr><th>Comments:</th><td>{{ req.comments }}</td></tr>
  </table>    
</div>
{% endif %}

<div class="table_container">
  <h2>Hiring Category</h2>
  <table class="info">
    <tr><th>Category:</th><td><u>{{ req.get_hiring_category_display }}
        {% if req.usra and research_assistant %} (USRA) {% endif %}
    </u></td></tr>
  </table>
</div>

<div class="table_container">
  <h2>Funding Sources</h2>
  {% if not req.fs2_option %}
  <h3>Single Funding Source</h3>
  {% else %}
  <h3>Funding Source #1</h3>
  {% endif %}
  <table class="info">
    <tr><th>Unit:</th><td>{{ req.fs1_unit }}</td></tr>
    <tr><th>Fund:</th><td>{{ req.fs1_fund }}</td></tr>
    <tr><th>Project:</th><td>{{ req.fs1_project }}</td></tr>
    <tr><th>Funding Amount:</th><td>${{ req.fs1_amount|floatformat:2 }}</td></tr>
    {% if req.fs2_option %} 
    <tr><th>Start Date:</th><td>{{ req.fs1_start_date }}</td></tr>
    <tr><th>End Date:</th><td>{{ req.fs1_end_date }}</td></tr>
    {% endif %}
  </table>
</div>

{% if req.fs2_option %}
<div class="table_container">
  <h3>Funding Source #2</h3>
  <table class="info">
    <tr><th>Unit:</th><td>{{ req.fs2_unit }}</td></tr>
    <tr><th>Fund:</th><td>{{ req.fs2_fund }}</td></tr>
    <tr><th>Project:</th><td>{{ req.fs2_project }}</td></tr>
    <tr><th>Funding Amount:</th><td>${{ req.fs2_amount|floatformat:2 }}</td></tr>
    <tr><th>Start Date:</th><td>{{ req.fs2_start_date }}</td></tr>
    <tr><th>End Date:</th><td>{{ req.fs2_end_date }}</td></tr>
  </table>
</div>
{% endif %}

{% if req.fs3_option %}
<div class="table_container">
  <h3>Funding Source #3</h3>
  <table class="info">
    <tr><th>Unit:</th><td>{{ req.fs3_unit }}</td></tr>
    <tr><th>Fund:</th><td>{{ req.fs3_fund }}</td></tr>
    <tr><th>Project:</th><td>{{ req.fs3_project }}</td></tr>
    <tr><th>Funding Amount:</th><td>${{ req.fs3_amount|floatformat:2 }}</td></tr>
    <tr><th>Start Date:</th><td>{{ req.fs3_start_date }}</td></tr>
    <tr><th>End Date:</th><td>{{ req.fs3_end_date }}</td></tr>
  </table>
</div>
{% endif %}


<div class="table_container">
  <h2>Payment Terms</h2>
  <table class="info">
    <tr><th>Start Date:</th><td>{{ req.start_date }}</td></tr>
    <tr><th>End Date:</th><td>{{ req.end_date }}</td></tr>
    <tr><th>Pay Periods:</th><td>{{ req.pay_periods}}</td></tr>
    {% if ra_bw %}
    <tr><th>Payment Method:</th><td>Bi-Weekly</td></tr>
    <tr><th>Total Gross:</th><td>${{ req.total_gross|floatformat:2 }}</td></tr>
    <tr><th>Weeks Vacation:</th><td>{{ req.weeks_vacation|floatformat:0 }}</td></tr>
    <tr><th>Biweekly Hours:</th><td>{{ req.biweekly_hours|floatformat:2 }} ({{req.get_biweekly_hours}})</td></tr>
    <tr><th>Biweekly Salary:</th><td>${{ req.biweekly_salary|floatformat:2 }}</td></tr>
    <tr><th>Vacation Hours:</th><td>{{ req.vacation_hours|floatformat:2 }} ({{req.get_vacation_hours}})</td></tr>
    <tr><th>Gross Hourly:</th><td>${{ req.gross_hourly|floatformat:2 }}</td></tr>
    {% endif %}
    {% if ra_hourly %}
    <tr><th>Payment Method:</th><td>Hourly</td></tr>
    <tr><th>Gross Hourly:</th><td>${{ req.gross_hourly|floatformat:2 }}</td></tr>
    <tr><th>Vacation Pay:</th><td>{{ req.vacation_pay|floatformat:1 }}%</td></tr>
    <tr><th>Bi-Weekly Hours:</th><td>{{ req.biweekly_hours|floatformat:2 }} ({{req.get_biweekly_hours}})</td></tr>
    <tr><th>Pay:</th><td>${{ req.get_base_pay|floatformat:2 }}</td></tr>
    <tr><th>Vacation Pay:</th><td>${{ req.get_vacation_pay|floatformat:2 }}</td></tr>
    {% endif %}
    {% if gras_le %}
      <tr><th>Payment Method:</th><td>Lump Sum</td></tr>
    {% elif gras_ls %}
      <tr><th>Payment Method:</th><td>Lump Sum - Start of Term</td></tr>
    {% endif %} 
    {% if gras_bw %}
    <tr><th>Payment Method:</th><td>Bi-Weekly</td></tr>
    <tr><th>Total Gross:</th><td>${{ req.total_gross|floatformat:2 }}</td></tr>
    <tr><th>Biweekly Funding:</th><td>${{ req.biweekly_salary|floatformat:2 }}</td></tr>
    {% endif %}
    {% if nc_bw %}
    <tr><th>Payment Method:</th><td>Bi-Weekly</td></tr>
    <tr><th>Total Gross:</th><td>${{ req.total_gross|floatformat:2 }}</td></tr>
    <tr><th>Weeks Vacation:</th><td>{{ req.weeks_vacation|floatformat:1 }}</td></tr>
    <tr><th>Biweekly Hours:</th><td>{{ req.biweekly_hours|floatformat:2 }} ({{req.get_biweekly_hours}})</td></tr>
    <tr><th>Biweekly Salary:</th><td>${{ req.biweekly_salary|floatformat:2 }}</td></tr>
    <tr><th>Vacation Hours:</th><td>{{ req.vacation_hours|floatformat:2 }} ({{req.get_vacation_hours}})</td></tr>
    <tr><th>Gross Hourly:</th><td>${{ req.gross_hourly|floatformat:2 }}</td></tr>
    {% endif %}
    {% if nc_hourly %}
    <tr><th>Payment Method:</th><td>Hourly</td></tr>
    <tr><th>Gross Hourly:</th><td>${{ req.gross_hourly|floatformat:2 }}</td></tr>
    <tr><th>Vacation Pay:</th><td>{{ req.vacation_pay|floatformat:1 }}%</td></tr>
    <tr><th>Bi-Weekly Hours:</th><td>{{ req.biweekly_hours|floatformat:2 }} ({{req.get_biweekly_hours}})</td></tr>
    <tr><th>Pay:</th><td>${{ req.get_base_pay|floatformat:2 }}</td></tr>
    <tr><th>Vacation Pay:</th><td>${{ req.get_vacation_pay|floatformat:2 }}</td></tr>
    {% endif %}
    {% if req.backdated %}
    <b>This is a backdated appointment!</b>
    <tr><th>Lump Sum:</th><td>${{ req.backdate_lump_sum|floatformat:2 }}</td></tr>
    <tr><th>Hours:</th><td>{{ req.backdate_hours|floatformat:2 }} ({{req.get_backdate_hours}})</td></tr>
    <tr><th>Reason:</th><td>{{ req.backdate_reason }}</td></tr>
    {% endif %}
    {% if graduate_research_assistant %}
    <tr><th>Total Funding:</th><td>${{ req.total_pay}}</td></tr>
    {% else %}
    <tr><th><div class="info-bubble">Total Pay: <i class="fa fa-info-circle"></i> <span class="info">Exclusive of statutory benefit rate (Employer portion of EHT, CPP, EI, and WCB)</span></div></th><td>${{ req.total_pay}}</td></tr>
    {% endif %}
  </table>
</div>

<div class="table_container">
  <h2>Funding Comments</h2>
  <table class="info">
    <tr><td>
      {% if req.funding_comments %}
        {{ req.funding_comments }}
      {% else %}
        No additional funding comments.
      {% endif %}
    </td></tr>
  </table>
</div>

{% if admin %}
<div class="table_container">
  <h2>Attachments</h2>
    <table class="info">
      {% if req.file_attachment_1 or req.file_attachment_2 %}
        {% if req.file_attachment_1 %}
          <tr><th>Attachment #1:</th><td>
            <a href="{% url 'ra:view_request_attachment_1' ra_slug=req.slug %}">View</a> |
            <a href="{% url 'ra:download_request_attachment_1' ra_slug=req.slug %}">Download</a>
            ({{ req.file_attachment_1.file.size|filesizeformat }})
          </td></tr>      
        {% endif %}
        {% if req.file_attachment_2 %}
          <tr><th>Attachment #2:</th><td>
            <a href="{% url 'ra:view_request_attachment_2' ra_slug=req.slug %}">View</a> |
            <a href="{% url 'ra:download_request_attachment_2' ra_slug=req.slug %}">Download</a>
            ({{ req.file_attachment_2.file.size|filesizeformat }})
          </td></tr> 
        {% endif %}
      {% else %}
        <tr><td>No additional documents.</td></tr>
      {% endif %}
    </table>
</div>
{% endif %}

{% if graduate_research_assistant %}
  <div class="table_container">
    <h2>True Scholarship Questionnaire</h2>
    <table class="info">
      {% if req.get_scholarship_confirmation_complete %}
      <br><b>Does/Will the funding from your grant(s) result in research or research-related activities being performed by the student that:</b>
      <tr><th style="width:90%">primarily contribute to the student’s academic progress, for example by inclusion in the student’s thesis?</th>
        <td>{{ req.scholarship_confirmation_1|yesno|capfirst }}</td>
      </td></tr>
      <tr><th style="width:90%">primarily contribute to or benefit someone other than the student, for example by supporting your research program or the grant?</th>
        <td>{{ req.scholarship_confirmation_2|yesno|capfirst }}</td>
      </td></tr>
      <tr><th style="width:90%">are not meant to be included in the student’s thesis?</th>
        <td>{{ req.scholarship_confirmation_3|yesno|capfirst }}</td>
      </td></tr>
      <tr><th style="width:90%">are not meant to be part of the student’s education in the student’s academic discipline?</th>
        <td>{{ req.scholarship_confirmation_4|yesno|capfirst }}</td>
      </td></tr>
    </table>
    <table class="info">
      <br><b>As part of your interaction with the student who is receiving the scholarship, do you/will you:</b>
      <tr><th style="width:90%">ask the student to perform research or research-related activities at specific times or places?</th>
        <td>{{ req.scholarship_confirmation_5|yesno|capfirst }}</td>
      </td></tr>
      <tr><th style="width:90%">require the student to track and/or report the hours during which the student is performing research or research-related activities?</th>
        <td>{{ req.scholarship_confirmation_6|yesno|capfirst }}</td>
      </td></tr>
      <tr><th style="width:90%">ask or expect the student to perform a specified amount of research or research-related activities in a given week?</th>
        <td>{{ req.scholarship_confirmation_7|yesno|capfirst }}</td>
      </td></tr>
      <tr><th style="width:90%">ask the student to discuss with you on a regular basis their research and/or research related activities for any reason other than supporting the student’s academic progress?</th>
        <td>{{ req.scholarship_confirmation_8|yesno|capfirst }}</td>
      </td></tr>
      <tr><th style="width:90%">ask the student to train or otherwise support other researchers in your research group for any reason other than supporting the student’s academic progress?</th>
        <td>{{ req.scholarship_confirmation_9|yesno|capfirst }}</td>
      </td></tr>
    </table>
    <table class="info">
      <br><tr><th style="width:90%">Subsequent semester appointments will have the same answers to these questions:</th>
        <td>{{ req.scholarship_subsequent|yesno|capfirst }}</td>
      </td></tr>
    </table>
    <table class="info">  
       <br><tr><th>Any important notes:</th>
        <td>{% if req.scholarship_notes %}{{ req.scholarship_notes }}{% else %}None.{% endif %}</td>
      </td></tr>
    </table>  
      {% else %}
        <tr><td>
          Not Completed.
        </td></tr>
      {% endif %}
    </table>
  </div>
{% endif %}

{% if research_assistant %}
<div class="table_container">
  <h2>Duties/Benefits</h2>
  <table class="info">
    <tr><td>
      <ul>
          {% if req.duties_list or req.ra_other_duties %}
            {% if req.duties_list %}
              {% for duty in req.duties_list %}
                <li>{{ duty }}</li>
              {% endfor %}
            {% endif %}
            {% if req.ra_other_duties %}
              <li>{{ req.ra_other_duties }}</li>
            {% endif %}
          {% else %}
            No duties selected.
          {% endif %}
      </ul>
    </td></tr>
  </table>
  <table class="info">
    <tr><th>Benefits:</th><td>
      {% if req.ra_benefits == 'Y' %}
      Yes
      {% elif req.ra_benefits == 'NE' %}
      No - Grant is Not Eligible
      {% elif req.ra_benefits == 'N' %}
      No
      {% endif %}
    </td></tr>
    
  </table>
</div>
{% endif %}

{% if non_cont %}
<div class="table_container">
  <h2>Duties</h2>
  <table class="info">
    <tr><td>
      {% if req.nc_duties %}
        {{ req.nc_duties }}
      {% else %}
        No duties entered.
      {% endif %}
    </td></tr>
  </table>
</div>
{% endif %}

{% if admin %}
<h3>ADMINISTRATIVE</h3>

<div class="table_container">
  <h2>Notes</h2>
  <ul>
  {% if req.admin_notes %}
    {{ req.admin_notes|linebreaks }}
  {% else %}
    Notes are empty.
  {% endif %}<br>
  </ul>
  <ul><b><a href="{% url "ra:edit_request_notes" ra_slug=req.slug %}">+ Edit Notes</a></b></ul>  
</div>

<div class="table_container">
  <h2>Attachments</h2>
  {% with attachments=req.attachments.visible %}
  {% if attachments %}
  
  {% for a in attachments %}
  <ul>
  <li><b><u>{{ a.title }}</b></u><br>
    ({{a.contents_filename}}, {{ a.created_at.date }}, {{ a.contents.file.size|filesizeformat }}) by {{a.created_by}}<br>
    <a href="{% url 'ra:view_admin_attachment' ra_slug=req.slug  attach_slug=a.slug %}">View</a> |
    <a href="{% url 'ra:download_admin_attachment' ra_slug=req.slug  attach_slug=a.slug %}">Download</a> |
    <a href="{% url 'ra:delete_admin_attachment' ra_slug=req.slug  attach_slug=a.slug  %}">Delete</a>
  </li>
  </ul>
  {% endfor %}
  {% else %}
  <ul>No attachments found.</ul>
  {% endif %}    
  {% endwith %}
  <ul><b><a href="{% url "ra:new_admin_attachment" ra_slug=req.slug %}">+ Add Attachment</a></b></ul>
  </div>
{% endif %}

{% if admin %}
<h2>Checklist</h2>
{% else %}
<h2>Progress</h2>
<div class="helptext">This section will change as admin processes your request.</div>
{% endif %}

<div class="form_container">
  <form action="{% url "ra:request_admin_update" ra_slug=req.slug %}" method="POST" class="subtle">
    {% csrf_token %}
    <fieldset>
      {% if req.funding_available %}
          <table class="form_section_complete"><tr><td><b>Funding Available</b></td>
            <td class="checkbox">
            {% if admin %}
            {{ adminform|as_dl_includefields:"funding_available"}}
            {% else %}
              <i>Complete</i>
            {% endif %}
            </td>
          </tr></table>
      {% else %}
          <table class="form_section_incomplete"><tr><td><b>Funding Available</b></td>
            <td class="checkbox">
            {% if admin %}
            {{ adminform|as_dl_includefields:"funding_available"}}
            {% else %}
              <i>Incomplete</i>
            {% endif %}
            </td>
          </tr></table>
      {% endif %}

      {% if req.grant_active %}
        <table class="form_section_complete"><tr><td><b>Grant is Active for Duration of Appointment</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"grant_active"}}
          {% else %}
            <i>Complete</i>
          {% endif %}
          </td>
        </tr></table>
      {% else %}
        <table class="form_section_incomplete"><tr><td><b>Grant is Active for Duration of Appointment</b></td>
          <td class="checkbox">
          {% if admin %}  
          {{ adminform|as_dl_includefields:"grant_active"}}
          {% else %}
            <i>Incomplete</i>
          {% endif %}
          </td>
        </tr></table>
      {% endif %}

      {% if req.salary_allowable %}
        <table class="form_section_complete"><tr><td><b>Salary is an Allowable Expense</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"salary_allowable"}}
          {% else %}
            <i>Complete</i>
          {% endif %}
          </td>
        </tr></table>
      {% else %}
        <table class="form_section_incomplete"><tr><td><b>Salary is an Allowable Expense</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"salary_allowable"}}
          {% else %}
            <i>Incomplete</i>
          {% endif %}
          </td>
        </tr></table>
      {% endif %}

      {% if req.supervisor_check %}
        <table class="form_section_complete"><tr><td><b>Supervisor has Signing Authority - (If Not, Individual with Signing Authority is Identified)</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"supervisor_check"}}
          {% else %}
            <i>Complete</i>
          {% endif %}
          </td>
        </tr></table>
      {% else %}
        <table class="form_section_incomplete"><tr><td><b>Supervisor has Signing Authority - (If Not, Individual with Signing Authority is Identified)</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"supervisor_check"}}
          {% else %}
            <i>Incomplete</i>
          {% endif %}
          </td>
        </tr></table>
      {% endif %}

      {% if req.visa_valid %}
        <table class="form_section_complete"><tr><td><b>Visa is Valid</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"visa_valid"}}
          {% else %}
            <i>Complete</i>
          {% endif %}
          </td>
        </tr></table>
      {% else %}
        <table class="form_section_incomplete"><tr><td><b>Visa is Valid</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"visa_valid"}}
          {% else %}
            <i>Incomplete</i>
          {% endif %}
          </td>
        </tr></table>
      {% endif %}

      {% if req.payroll_collected %}
        <table class="form_section_complete"><tr><td><b>Payroll Forms are Collected/Already on File</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"payroll_collected"}}
          {% else %}
            <i>Complete</i>
          {% endif %}
          </td>
        </tr></table>
      {% else %}
        <table class="form_section_incomplete"><tr><td><b>Payroll Forms are Collected/Already on File</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"payroll_collected"}}
          {% else %}
            <i>Incomplete</i>
          {% endif %}
          </td>
        </tr></table>
      {% endif %}

      {% if req.paf_signed %}
        <table class="form_section_complete"><tr><td><b>PAF and Offer Letter (If Applicable) are Signed by Supervisor</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"paf_signed"}}
          {% else %}
            <i>Complete</i>
          {% endif %}
          </td>
        </tr></table>
      {% else %}
        <table class="form_section_incomplete"><tr><td><b>PAF and Offer Letter (If Applicable) are Signed by Supervisor</b></td>
          <td class="checkbox">
          {% if admin %}
          {{ adminform|as_dl_includefields:"paf_signed"}}
          {% else %}
            <i>Incomplete</i>
          {% endif %}
          </td>
        </tr></table>
      {% endif %}

      {% if admin %}
      <p><input type="submit" class="submit" value="Update Checklist" /></p>
      {% endif %}
    </fieldset>
  </form>  
</div>

{% if admin %}
<div class="bottom_admin">
<h2>Delete</h2>
<form action="{% url "ra:delete_request" ra_slug=req.slug %}" class="subtle" method="post">
  {% csrf_token %}
  <p class="actionbutton">
      <input type="submit" class="btn confirm-submit" value="Delete Request" data-submit-action="delete this request" />
  </p>
</form>
</div>
{% endif %}


{%endblock content%}
