{% load mobile_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
   
<title>{% block title %}Course Management System{% endblock %}</title>  

<link rel="icon" href="{{MEDIA_URL}}icons/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{{MEDIA_URL}}icons/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{MEDIA_URL}}icons/touch-icon.png" type="image/png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="HandheldFriendly" content="true"/>
<link rel="stylesheet" href="{{MEDIA_URL}}style/mobile.css" media="all" />
{% block headextra %}{% endblock %}
</head> 
 
<body>
<div id="absWrapper">
<div id="container">
    <div id="header"></div>
    <div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
    <h1 id="PageTitle">{% block h1 %}Course Management System{% endblock %}</h1>
    <div id="sysmenu">{% if user %}Logged in as {{user.username}}. {% endif %}<a href="/logout/">Logout</a></div>
    <div id="main">{% block content%}{% endblock %}</div>
    <div id="footer">{% block standardview %}<a href="{{request.get_full_path|demobilize_url}}">Switch to standard view</a> | {% endblock %}&copy; Simon Fraser University</div>
</div>
</div>
</body> 
</html> 
