{% extends "mobile/base.html" %}
{% load mobile_tags %}

{% block title %}{{course.subject}} {{course.number}} {{course.section}} Class List{% endblock %}
{% block h1 %}{{course.subject}} {{course.number}} {{course.section}} Class List{% endblock %}
{% block headextra %}
<script type="text/javascript" src="{{STATIC_URL}}jquery-ui/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}datatables/js/jquery.dataTables.min.js"></script>
<link type="text/css" href="{{STATIC_URL}}jquery-ui/css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/core.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	// activate dataTable ui
	oTable = $('#students').dataTable({
	    "bJQueryUI": true,
	    "bPaginate": false,
	    "aaSorting": [[0, "asc"]],
	    "aoColumns": [
		    null,
		    null,
		    null,
		    {% if course.labtut %}null,{% endif %}
		]
	});
    });
</script>
{% endblock %}


{% block content%}
<a class="back" href="{% url "mobile.views.course_info" course_slug=course.slug %}">back</a>

<table id="students">
<thead>
<tr><th scope="col">Name</th><th>User ID</th><th>Student #</th>
{% if course.labtut %}<th scope="col">Lab/Tut</th>{% endif %}
</tr>
</thead>
<tbody>
{% for m in members %}
<tr>
<td>{{ m.person.sortname }}</td>
<td><a href="mailto:{{m.person.email}}">{{ m.person.userid }}</a></td>
<td><a href="{% url "mobile.views.student_info" course_slug=course.slug userid=m.person.userid %}">{{m.person.emplid}}</a></td>
{% if course.labtut %}<td>{{m.labtut_section}}</td>{% endif %}
</tr>
{% endfor %}
</tbody>
</table>

<a class="back" href="{% url "mobile.views.course_info" course_slug=course.slug %}">back</a>

{% endblock %}
