{% extends "mobile/base.html" %}
{% load mobile_tags %}

{% block title %}{{course.subject}} {{course.number}} {{course.section}}{% endblock %}
{% block h1 %}{{course.subject}} {{course.number}} {{course.section}}{% endblock %}
{% block content%}

<a class="back" href="{% url "mobile.views.index" %}">back</a>

    <h2>Course Activities</h2>
    {% for activity_info in activities_info %}
        {% with activity_info.activity as activity %}            
                <h3><a href="{% url "mobile.views.activity_info" course_slug=course.slug activity_slug=activity.slug %}">{{ activity.name }}</a></h3>
            <ul>
                <li>
                    Status: {{ activity.get_status_display }}
                </li>
                {% if activity.due_date %}
                <li>
                    Due Date: {{ activity.due_date }}
                    {% if activity_info.passdue %}
                    {% endif %}
                </li>
                {% endif %}
                {% if activity.submitable %}
                <li>
                    Submitted: {{activity_info.sub_count}}/{{activity_info.count}}
                    {% if activity.group %}
                        groups
                    {% else %}
                        students
                    {% endif %}
                </li>
                {% endif %}
                {% if activity_info.passdue or activity_info.grade_count %}
                <li>
                    Graded: {{activity_info.grade_count}}/{{activity_info.student_count}} students
                </li>
                {% endif %}

            </ul>
        {% endwith %}
        {% empty %}

    {% endfor %}


<div id="search">
  <form action="{% url "mobile.views.student_search" course_slug=course.slug %}" method="get">
  <h2>Search Student: </h2>
  <p><input type="text" inputmode="latin lowerCase" name="q" /> <input type="submit" value="Search" /></p>
  </form>
  
  <p><a href="{% url "mobile.views.class_list" course_slug=course.slug %}">Class list</a></p>
</div>
    
<a class="back" href="{% url "mobile.views.index" %}">back</a>
{% endblock %}
