{% extends "mobile/base.html" %}
{% load mobile_tags %}

{% block title %}Course Management System{% endblock %}
{% block h1 %}Course Management <em>Mobile</em>{% endblock %}

{% block content %}
{% if news_list%}
<div id="newsitems">
<h2>Latest news</h2>
  {% for news in news_list %}
    <div class="newsitem">
    <div class="newsdate">{{news.published|date}}</div>
   	{%if news.url%}
   	 	<h3>{{news.course.name}}: <a href="{{news.url|mobilize_url}}">{{news.title}}</a></h3>
   	{%else%}
   		<h3>{{news.course.name}}: {{news.title}}</h3>
   	{% endif %}
    {# <div class="newscontent">{{news.content_xhtml}}</div> #}
    </div>
  {% endfor %}
   
</div>
{% endif %}

{% regroup memberships by offering.semester as by_semester %}
{% for semester in by_semester %}
  <h2 id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</h2>
  <ul>
  {% for membership in semester.list %}
    <li><a href="{{membership.offering.get_absolute_url|mobilize_url}}">{{membership.offering.name}}</a></li>
  {% endfor %}
  </ul>
{% endfor %}
{% endblock %}
