{% extends "mobile/base.html" %}
{% load mobile_tags %}

{% block title %} Search Student {% endblock %}
{%comment%}
{% block h1 %}Search Student{% endblock %}
{%endcomment%}
{% block content%}

<a class="back" href="{% url mobile.views.course_info course_slug=course.slug %}">back</a>

<div id ="search">
  <form action="{% url mobile.views.student_search course_slug=course.slug %}" method="get">
  Search Student: <input type="text" name="q" />
  <input type="submit" value="Search" />
</form>
</div>

<div>
    <h2>Search Result</h2>
    {%if student_list%}
        {% for member in student_list %}
        <div>
            <h2><a href ="{% url mobile.views.student_info course_slug=course.slug userid=member.person.userid %}">{{member.person.userid}}</a></h2>
                Name:{{member.person.first_name}} {{member.person.last_name}}<br>
                student ID: {{member.person.emplid}}
        </div>
        {% endfor %}
    {% else %}
    No student found!
    {% endif %}
    
</div>
<a class="back" href="{% url mobile.views.course_info course_slug=course.slug %}">back</a>
{% endblock %}

{% block standardview %}{% endblock %}
