{% extends "mobile/base.html" %}
{% load mobile_tags %}

{% block title %}
{{course.subject}} {{course.number}} {{course.section}}
{% endblock %}
{% block h1 %}
{{course.subject}} {{course.number}} {{course.section}}<br>
Student: {{ student.person.first_name}}&nbsp;{{ student.person.last_name}}
{% endblock %}

{% block content%}

<a href ="{% url mobile.views.course_info course_slug=course.slug %}">back</a>

<div class="datatable_container">
    {% for activity_info in activities_info %}
        {% with activity_info.activity as activity %}
    <h2><a href="{% url mobile.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">{{ activity.name }}</a></h2>
    <table class="info">
        <tbody>
            {%if activity.submitable%}
            <tr>
                <th>Submitted:</th>
                <td>{{ activity_info.submitted }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Grade:</th>
                <td>{{ activity_info.grade.display_with_percentage_student }}</td>
            </tr>
    </table>
    {% endwith %}
    {% endfor %}
</div>

<a href ="{% url mobile.views.course_info course_slug=course.slug %}">back</a>

{% endblock %}