{% extends "base.html" %}
{% load i18n %}
{% load form_display %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{% static 'js/ra_application.js' %}"></script>
<link rel="stylesheet" href="{% static 'style/ra.css' %}" />
{% endblock %}

{% block title %}
  {% if edit %}
    {% if draft %}
      Draft for {{ name }}
    {% else %}
      Update RA {{ status }} for {{ name }}
    {% endif %}
  {% else %}
    New RA Request
  {% endif %}
{% endblock %}

{% block h1 %}
  {% if edit %}
    {% if draft %}
      Draft for {{ name }}
    {% else %}
      Update RA {{ status }} for {{ name }}
    {% endif %}
  {% else %}
    New RA Request
  {% endif %}
{% endblock %}

{% block subbreadcrumbs %}
  {% if admin %}
  <li><a href="{% url "ra:dashboard" %}">RA Dashboard</a></li>
  {% else %}
  <li><a href="{% url "ra:browse_appointments" %}">My RA Dashboard</a></li>
  {% endif %}
  {% if edit %}
    {% if draft %}
      <li>Draft for {{ name }}</li>
    {% else %}
      <li><a href="{% url "ra:view_request" ra_slug=slug %}">View RA {{ status }} for {{ name }}</a></li>
      <li>Edit RA {{ status }} for {{ name }}</li>
    {% endif %}
  {% else %}
    <li>New RA Request</li>
  {% endif %}
{% endblock %}

{% block content %}

<div class="form_container">
  {% if not edit and not draft %}
  <i><a href="{% url "ra:new_request" %}"><u>Click here</u></a> to restart this form and clear all responses. If you have any questions, please contact <b>{{ fas_contact }}.</b></i>
  {% endif %}
  {% if edit %}
  <form action="{% url "ra:edit_request" ra_slug=slug %}" method="POST" enctype="multipart/form-data" class="subtle">{% csrf_token %}
  {% elif reappoint %}
  <form action="{% url "ra:reappoint_request" ra_slug=slug %}" method="POST" enctype="multipart/form-data" class="subtle">{% csrf_token %} 
  {% else %}
  <form action="{% url "ra:new_request" %}" method="POST" enctype="multipart/form-data" class="subtle">{% csrf_token %}
  {% endif %}
    <fieldset>
      <div class ="form_section">
        <h2><strong>Hiring Category: Graduate Research Assistant Scholarship</strong></h2>
        <div class="helptext">
          <ul>
            <li>This is a scholarship appointment; therefore, there will be no additional deductions for statutory/welfare benefits and vacation from your grant.</li>
            <li>The total funding indicated will be the total deducted from the project.</li>
            <li>This also means that the Appointee is not eligible for employment benefits (i.e. EHT, CPP, EI, WCB and other discretionary health and dental benefits) as this is not an employment appointment.</li>
          </ul>
        </div>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form|as_dl_excludefields:"scholarship_confirmation_1,scholarship_confirmation_2,scholarship_confirmation_3,scholarship_confirmation_4,scholarship_confirmation_5,scholarship_confirmation_6,scholarship_confirmation_7,scholarship_confirmation_8,scholarship_confirmation_9,scholarship_subsequent,scholarship_notes" }} 
            <div class="biweekly_info">
              <p><div class="important_info">
                <b>Estimated Biweekly Rate:</b> $<span class="biweekly_rate_info"></span>
                <div class="helptext"><span class="biweekly_rate_calc"></span></div>
              </div></p>
            </div>
            <p><div class="important_info">
              <b>Estimated Total Funding:</b> $<span class="total_pay_info"></span>
              <div class="helptext"><span class="total_pay_calc"></span></div>
            </div></p>
            <p>Please answer below required questions to confirm the full payment is for scholarship/stipend purpose:</p>
            <p><b>1. Does/will the funding from your grant(s) result in research or research-related activities being performed by the student that:</b></p>
            <div class="indent">{{ wizard.form|as_dl_includefields:"scholarship_confirmation_1,scholarship_confirmation_2,scholarship_confirmation_3,scholarship_confirmation_4" }}</div>
            <p><b>2. As part of your interaction with the student who is receiving the scholarship, do you/will you:</b></p>
            <div class="indent">{{ wizard.form|as_dl_includefields:"scholarship_confirmation_5,scholarship_confirmation_6,scholarship_confirmation_7,scholarship_confirmation_8,scholarship_confirmation_9" }}</div>
            {{ wizard.form|as_dl_includefields:"scholarship_subsequent,scholarship_notes" }}
        {% endif %}
    </div>
    </fieldset>
    <div class="directory_buttons">
        <h3>Section {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h3>
        <button id="prev" name="wizard_goto_step" class="btn" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "Previous" %}</button>
        <input id="save" type="submit" class="submit" value="Next"/>
        {% if draft or draft_option %}
        <input id="done_draft" name="save_draft" type="submit" class="submit confirm-submit" value="Save Up to This Page as Draft" data-submit-action="safe draft up to this point"/>
        {% endif %}
    </div>
  </form>  
</div>
{% endblock %}