{% extends "base.html" %}
{% load i18n %}
{% load form_display %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{% static 'js/ra_application.js' %}"></script>
<link rel="stylesheet" href="{% static 'style/ra.css' %}" />
{% endblock %}


{% block title %}
  {% if edit %}
    {% if draft %}
      Draft for {{ name }}
    {% else %}
      Update RA {{ status }} for {{ name }}
    {% endif %}
  {% else %}
    New RA Request
  {% endif %}
{% endblock %}

{% block h1 %}
  {% if edit %}
    {% if draft %}
      Draft for {{ name }}
    {% else %}
      Update RA {{ status }} for {{ name }}
    {% endif %}
  {% else %}
    New RA Request
  {% endif %}
{% endblock %}

{% block subbreadcrumbs %}
  {% if admin %}
  <li><a href="{% url "ra:dashboard" %}">RA Dashboard</a></li>
  {% else %}
  <li><a href="{% url "ra:browse_appointments" %}">My RA Dashboard</a></li>
  {% endif %}
  {% if edit %}
    {% if draft %}
      <li>Draft for {{ name }}</li>
    {% else %}
      <li><a href="{% url "ra:view_request" ra_slug=slug %}">View RA {{ status }} for {{ name }}</a></li>
      <li>Edit RA {{ status }} for {{ name }}</li>
    {% endif %}
  {% else %}
    <li>New RA Request</li>
  {% endif %}
{% endblock %}
{% block content %}

<div class="form_container">
  {% if not edit or draft %}
  <i><a href="{% url "ra:new_request" %}"><u>Click here</u></a> to restart this form and clear all responses. If you have any questions, please contact <b>{{ fas_contact }}.</b></i>
  {% endif %}
  {% if edit %}
  <form action="{% url "ra:edit_request" ra_slug=slug %}" method="POST" enctype="multipart/form-data" class="subtle">{% csrf_token %}
  {% elif reappoint %}
  <form action="{% url "ra:reappoint_request" ra_slug=slug %}" method="POST" enctype="multipart/form-data" class="subtle">{% csrf_token %}
  {% else %}
  <form action="{% url "ra:new_request" %}" method="POST" enctype="multipart/form-data" class="subtle">{% csrf_token %}
  {% endif %}
    <fieldset>
      <div class ="form_section">
        <h2><strong>Hiring Category: Research Assistant</strong></h2>
        <div class="helptext">
          <ul>
            <li><u><b>Appointment Budget Overview</b></u></li>
            <li>B.C. minimum wage starting from June 01, 2025: $17.85 per hour </li>
            <li>TSSU minimum hourly wage starting from April 01, 2026: $24.74 per hour </li>
            <li>Employer portion of statutory benefits covering CPP, EI, WCB and EHT: estimated at 11% </li>
            <li>Employer paid extended health benefits: estimated at 6% (Non-discretionary from April 01, 2026) </li>
            <li>Vacation pay: minimum 4%, which equals to 2 weeks annual vacation </li>
          </ul>
        </div>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form|as_dl_excludefields:"ra_duties_ex,ra_duties_pm,ra_duties_dc,ra_duties_pd,ra_duties_im,ra_duties_eq,ra_duties_su,ra_duties_wr,ra_duties_dm,ra_other_duties" }}
          <div class="biweekly_info">
            <p><div class="important_info">
              <b>Estimated Bi-Weekly Rate:</b> $<span class="biweekly_rate_info"></span>
              <div class="helptext"><span class="biweekly_rate_calc"></span></div>
            </div></p>
            <p><div class="important_info">
              <b>Estimated Hourly Rate:</b> $<span class="hourly_rate_info"></span>
              <div class="helptext"><span class="hourly_rate_calc"></span></div>
            </div></p>
            <p><div class="important_info">
              <b>Vacation Hours:</b> <span class="vacation_hours_info"></span>
              <div class="helptext"><span class="vacation_hours_calc"></span></div>
            </div></p>
            <p><div class="important_info">
              <b>Estimated Total Pay:</b> $<span class="total_pay_info"></span>
              <div class="helptext"><span class="total_pay_calc"></span></div>
            </div></p>
          </div>
          <div class="hourly_info">
            <p><div class="important_info">
              <b>Estimated Total Gross:</b> $<span class="total_pay_gross_info"></span>
              <div class="helptext"><span class="total_pay_gross_calc"></span></div>
            </div></p>
            <p><div class="important_info">
              <b>Estimated Total Gross and Vacation Pay:</b> $<span class="total_pay_info"></span>
              <div class="helptext"><span class="total_pay_calc"></span></div>
            </div></p>
          </div>
          <p><div class="important_info">
            <b>Estimated Cost to PI's Grant:</b> $<span class="grant_cost_info"></span>
            <div class="helptext"><span class="grant_cost_calc"></span></div>
          </div></p>
      </div>
      <div class="form_section">
          <h2>Job Duties</h2>
            {{ wizard.form|as_dl_includefields:"ra_duties_ex,ra_duties_pm,ra_duties_dc,ra_duties_pd,ra_duties_im,ra_duties_eq,ra_duties_su,ra_duties_wr,ra_duties_dm,ra_other_duties" }}
        {% endif %} 
      </div>
    </fieldset>
    <div class="directory_buttons">
        <h3>Section {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h3>
        <button id="prev" name="wizard_goto_step" class="btn" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "Previous" %}</button>
        <input id="save" type="submit" class="submit" value="Next"/>
        {% if draft or draft_option %}
        <input id="done_draft" name="save_draft" type="submit" class="submit confirm-submit" value="Save Up to This Page as Draft" data-submit-action="safe draft up to this point"/>
        {% endif %}
    </div>
  </form>  
</div>
{% endblock %}