table#salary_info, table#salary_info td {
    border-style: none;
}

table#salary_info td {
    padding-right: 0.4em;
    height: 2.3em;
}

td.salary_first {
    width: 10.7em;
}

td.salary_first, td.salary_label {
    text-align: right;
    font-weight: bold;
}