{% extends "base.html" %}
{% block title %}All Visits{% endblock %}
{% block h1 %}All Visits{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(function() {
  $('.display').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
  } );

  offering_autocomplete('id_course', true);
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advising:advising" %}">Advising</a></li>
<li>All Visits</li>
{% endblock %}

{% block content %}

<table class="display visits">
    <thead>
        <tr>
            <th scope="col">At</th>
            <th scope="col">Student</th>
            <th scope="col">Advisor</th>
        </tr>
    </thead>
    <tbody>
        {% for visit in visits %}
        <tr>
            <td><span class="sort">{{ visit.created_at.isoformat }}</span>{{ visit.created_at }}</td>
            <td>
                {% if visit.student %}<a href="{% url "advising:student_notes" userid=visit.student.userid %}">{{ visit.student.sortname }} ({{ visit.student.emplid }})</a>{% endif %}
                {% if visit.nonstudent %}<a href="{% url "advising:student_notes" nonstudent_slug=visit.nonstudent.slug %}">{{ visit.nonstudent.sortname }}</a>{% endif %}
            </td>
            <td>{{ visit.advisor.sortname }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
