{% extends "base.html" %}
{% block title %}Notes for {{ artifact }} {% endblock %}
{% block h1 %}Notes for {{ artifact }} {% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url advisornotes.views.advising %}">Advising</a></li>
<li>&gt; {{ artifact }}</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{{MEDIA_URL}}collapsible/js/jQuery.collapsible.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/advisornotes.js"></script>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  $(".note").collapsible();
  $(".show").trigger('expand');
  
  $('.hide-show').click(function(){
    var id = $(this).val();
    var ch = "no";
    if($(this).attr("checked")){
        ch="yes"
        $("#note-"+id).trigger('collapse_slow');
    }

    $.post("{% url advisornotes.views.artifact_notes course_slug=artifact.slug %}",
        {'csrfmiddlewaretoken': "{{csrf_token}}", 'note_id': id, 'hide': ch});
   });
});
//]]></script>
{% endblock %}

{%block content%}

{%if notes %}
  {% for note in notes %}
    <h2 class="note{% if not note.hidden %} show{% endif %}" id="note-{{note.id}}">{{note.created_at}} by {{note.advisor.first_name}} {{note.advisor.last_name}}</h2>
    <div class="note-box" id="note-box-{{note.id}}">
    
    <p>{{note.text|linebreaks}}</p>
    {% if note.file_attachment %}
    <p><img src="{{MEDIA_URL}}icons/attach.png" alt="download" />
        <a href="{% url advisornotes.views.download_file userid=userid note_id=note.id%}">{{ note.attachment_filename }}</a>
        ({{ note.file_attachment.size|filesizeformat }})
    </p> 
    {% endif %}
    
    <p class="hideshow">
    {% if note.hidden %}
    <input type="checkbox" class="hide-show" value="{{note.id}}" checked="checked" />
    {% else %}
    <input type="checkbox" class="hide-show" value="{{note.id}}"/>
    {% endif %}
    Hide this note?
    </p>
    </div>
  {% endfor %}
{%else%}
    <p>No notes yet</p>
{%endif%}

{%endblock content%}
