{% extends "base.html" %}
{% load form_display %}
{% block title %}Edit Artifact Note for {{ related }}{% endblock %}
{% block h1 %}Edit Artifact Note for {{ related }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advisornotes.views.advising" %}">Advising</a></li>
<li><a href="
{% if course %}
{% url "advisornotes.views.view_course_notes" unit_course_slug=related.slug %}">Courses
{% endif %}
{% if offering %}
{% url "advisornotes.views.view_offering_notes" course_slug=related.slug %}">Course Offerings
{% endif %}
{% if artifact %}
{% url "advisornotes.views.view_artifact_notes" artifact_slug=related.slug %}">Artifacts
{% endif %}
</a>
</li>
<li>
{{ spaceless }}
<a href="
{% if course %}
{% url "advisornotes.views.view_course_notes" unit_course_slug=related.slug %}
{% endif %}
{% if offering %}
{% url "advisornotes.views.view_offering_notes" course_slug=related.slug %}
{% endif %}
{% if artifact %}
{% url "advisornotes.views.view_artifact_notes" artifact_slug=related.slug %}
{% endif %}
">{{ related }}
{{ endspaceless }}
</a></li>
<li>Edit Artifact Note</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(function() {
    $("#id_best_before").datepicker({'dateFormat': 'yy-mm-dd'});
});
</script>
{% endblock %}

{% block content %}

<div class="form_container">
{% spaceless %}
<form action="
{% if course %}
{% url "advisornotes.views.edit_artifact_note" note_id=note.id unit_course_slug=related.slug %}
{% endif %}
{% if offering %}
{% url "advisornotes.views.edit_artifact_note" note_id=note.id course_slug=related.slug %}
{% endif %}
{% if artifact %}
{% url "advisornotes.views.edit_artifact_note" note_id=note.id artifact_slug=related.slug %}
{% endif %}
" enctype="multipart/form-data" method="post">
{% endspaceless %}
{% csrf_token %}
{{ form|as_dl }}
<p><input type="submit" class="submit" value="Update" /></p>
</form>
</div>

{% endblock %}