{% extends "base.html" %}
{% block title %}Merge Prospective Student {{ nonstudent.first_name}} {{ nonstudent.last_name }}{% endblock %}
{% block h1 %}Merge Prospective Student "<i>{{ nonstudent.first_name}} {{ nonstudent.last_name }}</i>"{% endblock %}


{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
    $('#id_student').focus();
    $('#id_student').each(function() {
      $(this).autocomplete({
        source: '/data/students',
        minLength: 2,
        select: function(event, ui){
          $(this).data("val", ui.item.value);
        }
      });
    });
} );
function confirmMerge() {
  return confirm("Are you sure you want to merge this prospective student? This cannot be undone.");
}
</script>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "advising:advising" %}">Advising</a></li>
<li><a href="{% url "advising:student_notes" nonstudent_slug=nonstudent.slug %}">Notes for {{ nonstudent.first_name }} {{ nonstudent.last_name }}</a></li>
<li>Merge With Existing Student</li>{% endblock %}

{% block content %}
<p>A form to merge this Prospective Student's profile with a student in our system. This will merge: notes, visits, high school, college and email address.</p>
<div class="form_container">
    <form action="{% url "advising:merge_nonstudent" nonstudent_slug=nonstudent.slug %}" method="post">
		{% csrf_token %}
		<fieldset>
            {{ form.as_p }}
            <p><input class="submit" type="submit" value="Submit" onclick="return confirmMerge();"/></p>
        </fieldset>
    </form>
</div>
{% endblock %}
