{% extends "base.html" %}
{% load form_display %}
{% block title %}New Artifact{% endblock %}
{% block h1 %}New Artifact{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "advisornotes.views.advising" %}">Advising</a></li>
    <li><a href="{% url "advisornotes.views.view_artifacts" %}">Artifacts</a></li>
    <li>New Artifact</li>
{% endblock %}

{% block content %}
<div class="form_container">
    <form action="{% url "advisornotes.views.new_artifact" %}" method="post">
        {% csrf_token %}
            {{ form|as_dl }}
            <p><input type="submit" class="submit" value="Create" /></p>
    </form>
</div>

{% endblock %}