{% extends "base.html" %}
{% load form_display %}
{% block title %}New Prospective Student{% endblock %}
{% block h1 %}New Prospective Student{% endblock %}

{% block subbreadcrumbs %}
<li>
    <a href="{% url "advisornotes.views.advising" %}">Advising</a>
</li>
<li>
    New Prospective Student
</li>{% endblock %}

{% block content %}
<div class="form_container">
    {% if form.non_field_errors %}
    <p class="errorindicator">
        <img src="{{STATIC_URL}}/icons/exclamation.png" alt="exclamation" />
        {{ form.non_field_errors }}
    </p>
    {% endif %}
    <form action="{% url "advisornotes.views.new_nonstudent" %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                Prospective Student Info
            </legend>
            {{ form|as_dl_safe }}
            <p>
                <input class="submit" type="submit" value="Submit" />
            </p>
        </fieldset>
    </form>
</div>

{% endblock %}

