{% extends "base.html" %}
{% load form_display %}
{% block title %}Advising Notes{% endblock %}
{% block h1 %}Advising Notes{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url advisornotes.views.all_notes %}">List Notes</a></li><li>&gt; New Note</li>{% endblock %}

{% block content %}

<form action="{% url advisornotes.views.new_note %}" method="post">{% csrf_token %}
<fieldset>
<legend>Note</legend>
{{ form|as_dl }}
<p><input type="submit" class="submit" value="Submit" /></p>
</fieldset>
</form>


{% endblock %}
