{% extends "base.html" %}
{% block title %}Note Search{% endblock %}
{% block h1 %}Note Search{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
  $(function() {
  	table = $('#notes').dataTable({
        "bPaginate": false,
		"bJQueryUI": true,
		//"aaSorting": [[0, "asc"]],
		//"aoColumns": [],
	});
  });
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advising:advising" %}">Notes</a></li>
<li>Note Search</li>
{% endblock %}

{% block content %}
<form action="{% url "advising:note_search" %}" method="get">
{{note_form.as_p}}
<p><input class="submit" type="submit" value="Submit" /></p>
</form>

<div class="datatable_container">
<table class="display" id="notes">
<thead><tr><th scope="col">Student</th><th scope="col">Advisor</th><th scope="col">Created</th><th scope="col">Has File</th></tr></thead>
<tbody>
{% for note in notes %}
  <tr>
  <td>
  {% if note.student %}
    <a href="{% url "advising:student_notes" userid=note.student.userid_or_emplid %}">{{note.student.sortname}}</a>
  {% else %}
    <a href="{% url "advising:student_notes" userid=note.nonstudent.slug %}">{{note.nonstudent.sortname}}</a> (prospective)
  {% endif %}
  </td>
  <td>{{note.advisor.sortname}}</td>
  <td><span class="sort">{{note.created_at.isoformat}}</span>{{note.created_at}}</td>
  <td>{% if note.file_attachment %}Y{% endif %}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>


{% endblock content %}
