{% extends "base.html" %}
{% block title %}Advising Notes for {{ student.first_name}} {{ student.last_name }}{% endblock %}
{% block h1 %}Advising Notes for {{ student.first_name}} {{ student.last_name }}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url advisornotes.views.advising %}">Advising</a></li><li>&gt; Notes for {{ student.first_name }} {{ student.last_name }}</li>{% endblock %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
<li><a href="{% url advisornotes.views.new_note userid=student.userid%}">New Note</a></li>
</ul>
</div>
{% endblock %}

{%block content%}
{%if notes %}
<div class="datatable_container">
  {% for note in notes %}
    <h2>Note from {{note.created_at}} by {{note.advisor.first_name}} {{note.advisor.last_name}}</h2>
    {% if note.hidden %}
      <p>This note is hidden.  <a href="{% url advisornotes.views.view_note userid=student.userid note_id=note.id %}">View anyway?</a></p>
    {% else %}
      
      <p>{{note.text}}</p>
      {% if note.file_attachment %}<p>Download Attachment</p> {% endif %}
      <p><a href="{% url advisornotes.views.view_note userid=student.userid note_id=note.id %}">View</a></p>
    {% endif %}
  {% endfor %}

</div>


{%else%}
	<p>No notes yet</p>
{%endif%}

{%endblock content%}
