{% extends "base.html" %}
{% block title %}Transfer Credits for {{ student.first_name}} {{ student.last_name }}{% endblock %}
{% block h1 %}Transfer Credits for {{ student.first_name}} {{ student.last_name }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advising:advising" %}">Advising</a></li>
<li><a href="{% url "advising:student_notes" userid=userid %}">{{ student.name }}</a></li>
<li>Transfer credits</li>
{% endblock %}



{% block headextra %}
<script nonce="{{ CSP_NONCE }}">

	var course_data;

    function noNulls(value) {
        return (value == null) ? '' : value
    }

  	function display_data(data) {
        //console.log(data);

        var elt = $('#transferscontent');
        if (data['error']) {
            var res = '<p class="empty">Could not fetch data: ' + data['error'] + '.</p>';
            elt.html(res);
            return;
        }
        course_data = data;
        elt.html('');
        var html = '';

        if (data.transfers.length > 0) {
        /* transfer credits */

            html += '<h2 id="transfer">Transfer Credits</h2><table id="transfers">';
            html += '<thead><tr>'
            html += '<th>Description</th><th>School Subject</th><th>Course Number</th><th>Transfer Equivalency ';
            html += 'Group</th><th>Transfer Status</th><th>Subject</th><th>Catalog Number</th><th>Transfer Grade Input';
            html += '</th><th>Transfer Official Grade</th><th>External Grade Input</th><th>External Official Grade';
            html += '</th><th>Units Transferred</th></tr></thead>';


            $(data.transfers).each(function (i, trns) {
                html += '<tr><td>' + noNulls(trns.descr) + '</td><td>' + noNulls(trns.school_subject) + '</td><td>';
                html += noNulls(trns.crse_nbr) + '</td><td>' + noNulls(trns.trsnf_equivlncy_grp) + '</td><td>';
                html += noNulls(trns.transfr_stat) + '</td><td>' + noNulls(trns.subject) + '</td><td>';
                html += noNulls(trns.catalog_nbr) + '</td><td>' + noNulls(trns.tcd_grade_input) + '</td><td>';
                html += noNulls(trns.tcd_grade_off) + '</td><td>' + noNulls(trns.ec_grade_input) + '</td><td>';
                html += noNulls(trns.ec_grade_off) + '</td><td>' + noNulls(trns.unt_trnsfr) + '</td > </tr>';
            });
            html += '</table>';
        } else {
            html += '<h2>This student has no transfer information to display.</h2>'
        }
        elt.append(html);

    $('#transfers').dataTable( {
        'bPaginate': false,
        'bInfo': false,
        'bLengthChange': false,
        "bJQueryUI": true
        } );
    }

	var data_url = '{% url "advising:student_transfers_data" userid=userid %}';
    $(document).ready(function() {
    	$.ajax({
        	url: data_url,
        	success: display_data,
	        error: function(jqXHR, textStatus, errorThrown) {
				res = '<p class="empty">Could not contact server to check for student data.</p>';
				$('#transferscontent').html(res);
        	},

   		});
 	});
</script>

{% endblock %}


{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "advising:student_transfers_download" userid=userid%}">Download CSV</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div id="messages"><ul><li class="warning">These are based on the data in the Reporting Database.  These are not the most up to date results.</li></ul></div>

<div id="transferscontent"><i class="fa fa-spinner fa-spin" id="fetchwait"></i></div>


{% endblock content %}
