{% extends "base.html" %}
{% load static %}

{% block title %}Advising Notes for {% if nonstudent%}Prospective Student{% endif%} {{ student.first_name}} {{ student.last_name }}{% endblock %}
{% block h1 %}Advising Notes for {% if nonstudent%}Prospective Student{% endif%} {{ student.first_name}} {{ student.last_name }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advising:advising" %}">Advising</a></li>
{% if nonstudent %}<li><a href="{% url "advising:view_nonstudents" %}">Prospective Students</a></li>{% endif %}
<li>{{ student.name }}</li>
{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'style/advisornotes.css' %}" />
<script type="text/javascript" src="{{STATIC_URL}}js/advisornotes.js"></script>
<script nonce="{{ CSP_NONCE }}">
    var show_deleted = false;
    $(document).ready(function() {
        $('.delete').click(function(){
		    var id = $(this).data('id');
            $("#note-whole-"+id ).addClass('deletednote');
            $("#note-box-"+id+" .delete").hide();
            $("#note-box-"+id+" .restore").show();
            if( !show_deleted ){
                $("#note-whole-"+id).hide();
            }
	
	        $.post("{% url "advising:student_notes" userid=userid%}",
			  {'csrfmiddlewaretoken': "{{csrf_token}}", 'note_id': id, 'hide': 'yes'});
        });
        $('.restore').click(function(){
		    var id = $(this).data('id');
            $("#note-whole-"+id ).removeClass('deletednote');
            $("#note-box-"+id+" .delete").show();
            $("#note-box-"+id+" .restore").hide();
	
	        $.post("{% url "advising:student_notes" userid=userid%}",
			  {'csrfmiddlewaretoken': "{{csrf_token}}", 'note_id': id, 'hide': 'no'});
        });
        $('.show_deleted').click(function(){
            show_deleted = true;
            $('.deletednote').show();
            $('.show_deleted').hide();
            $('.hide_deleted').show();
            return false;
        });
        $('.hide_deleted').click(function(){
            show_deleted = false;
            $('.deletednote').hide();
            $('.show_deleted').show();
            $('.hide_deleted').hide();
            return false;
        });

        $('#moreinfo>a').click(function() {
            get_more_info('{% url "advising:student_more_info" userid=userid %}');
        });

        $('#advisingvisits').dataTable( {
            'bPaginate': true,
            'bInfo': false,
            'bLengthChange': true,
            "bJQueryUI": true,
            'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, 'All']],
            'aaSorting': [[0, 'desc']]

        } );
	});
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "advising:new_note" userid=userid%}">New Note</a></li>
        {% if not nonstudent %}
        {% if show_transcript %}<li><a href="{% url "advising:student_courses" userid=userid%}">View Current Courses</a></li>{% endif %}
        <li><a href="{% url "advising:student_transfers" userid=userid %}">View Transfer Credits</a></li>
        <li id="moreinfo">
            <a href="#">Fetch more info <i class="fa fa-spinner fa-spin" id="fetchwait" style="display:none"></i></a>
        </li>
        {% endif %}
        {% if nonstudent %}
        <li><a href="{% url "advising:edit_nonstudent" nonstudent_slug=student.slug %}">Edit Prospective Student Details</a></li>
        <li><a href="{% url "advising:merge_nonstudent" nonstudent_slug=student.slug %}">Merge with Existing Student</a></li>
        {% endif %}
        <li><a href="#" class='show_deleted'>Show Deleted Notes</a></li> 
        <li><a href="#" class='hide_deleted' style='display:none;'>Hide Deleted Notes</a></li>
        <li>
            {% for u in units %}
            <form target="_blank" method="post" action="{% url "advising:record_advisor_visit" userid=userid unit_slug=u.slug %}" class="subtle">
            {% csrf_token %}
                <p><input type="submit" value="Record Visit to {{u.slug|upper}} Advisor" title="Record visit to {{ u.informal_name }} advisor" /></p>
            </form>
            {% endfor %}
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
{% if nonstudent and student.created_at %}
This prospective student was created on {{student.created_at}}.
{% endif %}
{% if student.emplid %}<div class="idphoto studentinfo"><img src="{% url 'data:student_photo' emplid=student.emplid %}" alt="" /></div>{% endif %}
    <table class="info">
        <tbody>
            <tr>
                <th>Last Name</th>
                <td>{{ student.last_name }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ student.first_with_pref }}</td>
            </tr>
            <tr>
                <th>Middle Name</th>
                <td>{{ student.middle_name|default:"—" }} </td>
            </tr>
            <tr>
                <th>Student Number</th>
                <td> {% if nonstudent %}
                Not a student (<a href="{% url "advising:merge_nonstudent" nonstudent_slug=student.slug %}">Merge with existing student</a>)
                {% endif %}
                {% if not nonstudent %}
                {{ student.emplid }}
                {# [<a href="https://go.sfu.ca/psp/paprd/EMPLOYEE/HRMS/c/SCC_ADMIN_OVRD_STDNT.SSS_STUDENT_CENTER.GBL?EMPLID={{student.emplid }}">SIMS record</a>] #}
                {% endif %} </td>
            </tr>
            {% if not nonstudent %}
            <tr>
                <th>Email Address</th>
                <td>{{ student.email_mailto }}</td>
            </tr>
            {% endif %}
            {% if nonstudent %}
            <tr>
                <th>Email Address</th>
                <td>{{ student.email_address|default:"&mdash;" }}</td>
            </tr>
            <tr>
                <th>High School</th>
                <td>{{ student.high_school|default:"&mdash;" }}</td>
            </tr>
            <tr>
                <th>College</th>
                <td>{{ student.college|default:"&mdash;" }}</td>
            </tr>
            <tr>
                <th>Program:</th>
                <td>{{ student.program }}</td>
            </tr>
            <tr>
                <th>Preferred Campus:</th>
                <td>{{ student.campus }}</td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td>{{ student.gender }}</td>
            </tr>
            <tr>
                <th>Start Year:</th>
                <td>{{ student.start_year|default_if_none:"--" }}</td>
            </tr>
            {% endif %}
            {% if not nonstudent and student.nonstudent_hs %}
            <tr>
                <th>High School (Pre-admission record)</th>
                <td>{{ student.nonstudent_hs }}</td>
            </tr>
            {% endif %}
            {% if not nonstudent and student.nonstudent_colg %}
            <tr>
                <th>College (Pre-admission record)</th>
                <td>{{ student.nonstudent_colg }}</td>
            </tr>
            {% endif %}
            {% if not nonstudent and student.nonstudent_notes %}
            <tr>
                <th>Notes</th>
                <td>{{ student.nonstudent_notes }}</td>
            </tr>
            {% endif %}
            {% if visits  %}
                <tr>
                    <th>Last Visit</th>
                    <td>{% with visits|first as visit %} {{ visit.created_at }} with {{ visit.advisor.sortname_pref_only }} {% endwith %}</td>
                </tr>
            {% endif %}
            <tr>

            </tr>
        </tbody>
    </table>

{% if visits %}
    <div id="visitssection">
    <h2>Visits</h2>
    <table id="advisingvisits" class="display">
        <thead>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Categories</th>
            <th scope="col">Advisor</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                <td><span class="sort">{{ visit.created_at.isoformat }}</span>{{ visit.created_at }}</td>
                <td><span class="sort">{{ visit.end_time.isoformat }}</span>{{ visit.end_time }}</td>
                <td>{{ visit.categories_display }}</td>
                <td>{{ visit.advisor.sortname_pref_only }}</td>
                <td>
                    <a class="lineform" href="{% url "advising:view_visit" visit_slug=visit.slug %}">
                    <button type='submit' class='btn' title="View visit">
                        <i class='fa fa-eye'></i>
                    </button>
                    </a>
                    {% if visit.survey and visit.survey.is_complete %}
                        {% if visit.advisor.userid == request.user.username or advisor_admin %}
                        <a class="lineform" class="btn" href="{% url "advising:view_survey" key=visit.survey.key %}">
                        <button type='submit' class='btn' title="View survey results">
                            <i class='fa fa-clipboard-list'></i>
                        </button>
                        </a>
                        {% else %}
                        <div class="lineform">
                            <div class='btn submitted'><i class='fa fa-clipboard-list' title="Survey results submitted"></i></div>
                        </div>
                        {% endif %}
                    {% elif visit.survey and not visit.survey.is_complete and not visit.survey.is_expired %}
                    <div class="lineform">
                        <div class="btn waiting"><i class='fa fa-envelope' title="Survey has been sent, but not yet completed. Expiry: {{ visit.survey.get_survey_expiry }}"></i></div>
                    </div>
                    {% elif visit.survey_sent %}                             
                    <div class="lineform">
                        <div class="btn expired" title="Survey was sent, but never completed (expired)."><i class='fa fa-envelope'></i></div>
                    </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endif %}

{% if items %}
{% for item in items %}

{% if item.entry_type == 'NOTE' %}
{% with item as note %}
<div id='note-whole-{{note.id}}' class="{% if note.hidden %}deletednote{% endif %}" {% if note.hidden %}style="display:none;"{% endif %} >
<h2 class="note" id="note-{{note.id}}">
    {{note.created_at}} by {{note.advisor.name_pref}}
    {% with "Student was emailed the contents of this note" as email_note %}
    {% if note.emailed %}<i class="fa fa-envelope-o" title="This note was emailed to the student"></i>{% endif %}
    {% endwith %}
    </h2>
<div class="note-box" id="note-box-{{note.id}}">

    <div class="note-content">
        {{ note.html_content }}
    </div>
    {% if note.file_attachment %}
    <p><a href="{% url "advising:download_file" userid=userid note_id=note.id%}">
        <i class="fa fa-download"></i> {{ note.attachment_filename }}</a>
        ({{ note.file_attachment.size|filesizeformat }})
    </p>
    {% endif %}

    <p class="hideshow">
        <input type='button' class='restore' value='Restore this note.' {% if not note.hidden %}style='display:none;'{% endif %} data-id="{{note.id}}" /> 
        <input type='button' class='delete' value='Delete this note.' {% if note.hidden %}style='display:none;'{% endif %} data-id="{{note.id}}" /> 
    </p>
</div>
</div>
{% endwith %}
{% endif %}

{% if item.entry_type == 'FORM' %}
{% with item as formsub %}
<div id='form-whole-{{formsub.id}}'>
<h2 class="note" id="form-{{formsub.id}}">Online form submission: {{formsub.created_at}}</h2>
<div class="note-box" id="form-box-{{formsub.id}}">
<div class="note-content">
  {% if formsub.summary %}<p>Summary{% if formsub.closer %} by {{ formsub.closer.name }}{% endif %}:
  {% if formsub.emailed %}<i class="fa fa-envelope-o" title="Summary emailed to the student"></i>{% endif %}
  </p><blockquote>{{ formsub.summary|linebreaksbr }}</blockquote>
  {% endif %}
  <p><a href="{% url "onlineforms:view_submission" form_slug=formsub.form.slug formsubmit_slug=formsub.slug %}">
      &ldquo;{{formsub.form.title}}&rdquo; submission.</a></p>
  {% if formsub.status != 'DONE' %}<p>Note: form has not yet been completed.</p>{% endif %}
</div>
</div>
</div>
{% endwith %}
{% endif %}
{% endfor %}
{% else %}
<p>
    No notes or problems
</p>
{% endif %}

{%endblock content%}
