{% extends "base.html" %}

{% block title %}Student Search{% endblock %}
{% block h1 %}Student Search{% endblock %}

{% block headextra %}<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  $("id_search").focus();
});
//]]></script>{% endblock %}

{% block subbreadcrumbs %}<li>&gt; Student Search</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url dashboard.views.news_list %}">All News Items</a></li>
    <li><a href="{% url dashboard.views.config %}">User Configuration</a></li>
    <li><a href="{% url dashboard.views.calendar %}">View Calendar</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<form action="" method="post" width="100">{% csrf_token %}
{{form.as_p}}
<p><input class="submit" type="submit" value="Submit" /></p>
</form>
{% endblock %}
