{% extends "base.html" %}

{% block title %}Advising{% endblock %}
{% block h1 %}Advising{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{{STATIC_URL}}js/advisornotes.js"></script>
<script nonce="{{ CSP_NONCE }}">
$(function() {
    $("#id_search").focus();
    student_autocomplete('id_search', true);
    {% if simssearch %}
    search_sims('{% url "advising:sims_search" %}',
        '{{simssearch}}',
        '{% url "advising:sims_add_person" %}',
        '{% filter escapejs %}{% csrf_token %}{% endfilter %}'
    );
    {% endif %}
});
</script>
{% endblock %}

{% block subbreadcrumbs %}<li>Advising</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url "advising:view_nonstudents" %}">Prospective Students</a></li>
        <li><a href="{% url "advising:view_courses" %}">View all courses</a></li>
        <li><a href="{% url "advising:view_course_offerings" %}">View all course offerings</a></li>
        <li><a href="{% url "advising:view_artifacts" %}">View all artifacts</a></li>
        {% if advisor_admin %}
            <li><a href="{% url "advising:manage_categories" %}">Manage advisor visit categories</a></li>
            <li><a href="{% url "advising:all_visits" %}">All Visits</a></li>
            {% if show_survey_info %}
            <li><a href="{% url "advising:view_all_surveys" %}" %>All Surveys</a></li>
            {% endif %}
        {% endif %}
        <li><a href="{% url "advising:my_visits" %}" %>My Visits</a></li>
        {% if show_survey_info %}
            <li><a href="{% url "advising:view_my_surveys" %}" %>My Surveys</a></li>
        {% endif %}
        <li><a href="{% url "advising:news" %}" %>News</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<h2>Recent News</h2>
{% if entries %}
<div id="advisor_newsitems">
    {% for entry in entries %}
    <table><tr><td>
        <div class="newsitem">
        <h3>
        <a href="{% url "advising:news" %}">{{entry.title}}</a>
        </h3>
        <div class="newsdate">{{entry.created_at}} by {{entry.author.sortname_pref_only}}</div>
        </div>
        </td></tr></table>
        </button>
        </form>
    {% endfor %}
</div>
{% else %}
<p>No recent news.</p>
{% endif %}
<h2>Student Search</h2>
<div class="form_container" style="clear: left;">
    <form action="" method="post">{% csrf_token %}
        <fieldset>
            {{form.as_p}}
            <p><input class="submit" type="submit" value="Submit" /></p>
        </fieldset>
    </form>

    <div id="simsresult">
        <i class="fa fa-spinner fa-spin" id="fetchwait" style="display:none"></i>
    </div>

    {% if simserror %}
    <p class="empty">Problem when checking SIMS for missing student data: {{simserror}}.</p>
    {% endif %}

    {% if simsinfo %}
    <form action="{% url "advising:sims_add_person" %}" method="post">{% csrf_token %}
        <p>
            Person found in SIMS: {{ simsinfo.last_name }}, {{ simsinfo.first_name }},
            {{ simsinfo.emplid }}{% if simsinfo.userid %}, {{ simsinfo.userid }}{% endif %}.
            <input type="hidden" name="emplid" value="{{ simsinfo.emplid }}" />
            <input type="submit" value="Add From SIMS"/>
        </p>
    </form>
    {% endif %}
</div>

<h2 id="notesearch">Search Content of Student Notes</h2>
<div style="margin-right: 1em;">
    <form action="{% url "advising:note_search" %}" method="get">
        <fieldset>
            {{note_form.as_p}}
            <p><input class="submit" type="submit" value="Submit" /></p>
        </fieldset>
    </form>
</div>

<h2 id="artifactsearch">Search Content of Artifact Notes</h2>
<div style="margin-right: 1em;">
    <form action="{% url "advising:artifact_search" %}" method="get">
        <fieldset>
            {{artifact_form.as_p}}
            <p><input class="submit" type="submit" value="Submit" /></p>
        </fieldset>
    </form>
</div>

{% endblock %}


