{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'style/advisornotes.css' %}" />
{% endblock %}

{% block title %}Post-Appointment Feedback Survey{% endblock %}
{% block h1 %}Post-Appointment Feedback Survey{% endblock %}

{% block subbreadcrumbs %}
<li>Advising Survey</li>
{% endblock %}

{% block content %}

{% if survey.completed_at %}
    <p>Your response has been recorded. Thank you for your feedback!</p>
{% else %}
    <p>Thank you for attending an advising appointment with the Faculty of Applied Sciences. We'd love to hear how it went. Your responses help us improve our advising services.</p>

    <div class="form_container">
        <form action="{% url "advising:student_survey" key=survey.key %}" method="post" class="subtle">{% csrf_token %}
            <div class="form_section">
            {{ form|as_dl }}
            </div>
            <p><input type="submit" class="submit" value="Submit" /></p>
        </form>
    </div>
{% endif %}
{% endblock %}


