{% extends "base.html" %}
{% load form_display %}
{% block title %}Artifacts{% endblock %}
{% block h1 %}Artifacts{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(function() {
  $('#artifacts').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true
  } );
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advising:advising" %}">Advising</a></li>
<li>Artifacts</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url "advising:new_artifact" %}">Create new artifact</a></li>
        <li><a href="{% url "advising:view_retired_artifacts" %}">View retired artifacts</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

{% if artifacts %}
<table id="artifacts" class="display">
    <thead>
        <tr>
            <th class="category">Category</th>
            <th class="name">Name</th>
            <th class="delete">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for artifact in artifacts %}
        <tr>
            <td>{{ artifact.get_category_display }}</td>
            <td><a href="{% url "advising:view_artifact_notes" artifact_slug=artifact.slug %}">{{ artifact.name }}</a></td>
            <td>
                <form class="lineform" method="POST" action="{% url "advising:delete_artifact" artifact_slug=artifact.slug %}">
                    {% csrf_token %}
                    <button type='submit' class='btn confirm-submit' title="Delete Artifact" data-submit-action="delete this artifact">
                        <i class='fa fa-trash-o'></i>
                    </button>
                </form>
                <a class="lineform" href="{% url "advising:edit_artifact" artifact_slug=artifact.slug %}">
                    <button type='submit' class='btn' title="Edit Artifact">
                        <i class='fa fa-edit'></i>
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no artifacts. <a href="{% url "advising:new_artifact" %}">Create one now.</a></p>
{% endif %}

{% endblock %}
