{% extends "base.html" %}
{% load form_display %}
{% block title %}Courses{% endblock %}
{% block h1 %}Courses{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(function() {
  $('.display').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
  } );
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url advisornotes.views.advising %}">Advising</a></li>
<li>&gt; Courses</li>
{% endblock %}

{% block content %}

{% if courses %}
<table class="display courses">
    <thead>
        <tr>
            <th class="subject"><abbr title="Course Subject">Course</abbr></th>
            <th class="title">Title</th>
            <th>Has Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.subject }} {{ course.number }}</td>
            <td><a href="{% url advisornotes.views.view_course_notes unit_course_slug=course.slug %}">{{ course.title }}</a></td>
            <td>{% if course.id in with_note_ids %}<span class="sort">yes</span><img src="{{ MEDIA_URL }}icons/tick.png" alt="yes" />{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
