{% extends "base.html" %}
{% load form_display %}
{% block title %}Advising Note for       	{{ student.first_name}}
      	{{ student.last_name }}{% endblock %}
{% block h1 %}Advising Note for       	{{ student.first_name}}
      	{{ student.last_name }}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url advisornotes.views.advising %}">Advising</a></li><li>&gt; <a href="{% url advisornotes.views.student_notes userid=student.userid %}">Notes</a></li><li>&gt; View Note</li>{% endblock %}

{% block content %}
<div class="table_container">
<table class="info">
<tbody>
  <tr>
    <th class="ui-state-default">Student</th>
      <td>
      	{{ student.first_name}}
      	{{ student.last_name }}
      </td>
  </tr>  
  <tr>
    <th class="ui-state-default">Created At</th>
      <td>
      	{{ note.created_at }}
      </td>
  </tr>
  {% if note.file_attachment %}
  <tr>
    <th class="ui-state-default">Attachement</th>
      <td>
      	<img src="{{MEDIA_URL}}icons/attach.png" alt="download" /><a href="">Download File</a> {{ note.file_attachment }}   	
      </td>
  </tr>
  {% endif %}
  <tr>
    <th class="ui-state-default">Department</th>
      <td>
      	{{ note.unit }}
      </td>
  </tr>
  <tr>
    <th class="ui-state-default">Note</th>
      <td>
      	{{ note.text }}
      </td>
  </tr>    
</tbody>
</table>
</div>


{% endblock %}
