{% extends "base.html" %}
{% load form_display %}
{% block title %}Artifacts{% endblock %}
{% block h1 %}Artifacts{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(function() {
  $('.artifacts').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true
  } );
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advising:advising" %}">Advising</a></li>
<li>Artifacts</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url "advising:new_artifact" %}">Create new artifact</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

{% if artifacts %}
<table class="display artifacts">
    <thead>
        <tr>
            <th class="category">Category</th>
            <th class="name">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for artifact in artifacts %}
        <tr>
            <td>{{ artifact.get_category_display }}</td>
            <td><a href="{% url "advising:view_artifact_notes" artifact_slug=artifact.slug %}">{{ artifact.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no artifacts. <a href="{% url "advising:new_artifact" %}">Create one now.</a></p>
{% endif %}

{% endblock %}
