{% extends "base.html" %}
{% load form_display %}
{% block title %}Courses{% endblock %}
{% block h1 %}Courses{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(function() {
  $('.display').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
  } );
  
  offering_autocomplete('id_course', true);
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advisornotes.views.advising" %}">Advising</a></li>
<li>Courses</li>
{% endblock %}

{% block content %}

{% if courses %}
<table class="display courses">
    <thead>
        <tr>
            <th class="subject"><abbr title="Course Subject">Course</abbr></th>
            <th class="title">Title</th>
            <th>Has Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.subject }} {{ course.number }}</td>
            <td><a href="{% url "advisornotes.views.view_course_notes" unit_course_slug=course.slug %}">{{ course.title }}</a></td>
            <td class="iconcell">{% if course.id in with_note_ids %}<span class="sort">yes</span><i class="fa fa-check infomessage"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h2 id="offering-search">Search for Other Courses</h2>
<form action="" method="get">
{{form.as_p}}
<p><input type="hidden" name="coursesearch" value="yes" />
<input type="submit" class="submit" value="See Notes" /></p>
</form>
{% endblock %}
