{% extends "base.html" %}
{% load form_display %}
{% block title %}Course Offerings{% endblock %}
{% block h1 %}Course Offerings{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(function() {
  $('.courses').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true
  } );

  $('.semesters').dataTable( {
    'aaSorting': [[ 0, "desc" ]],
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    'bJQueryUI': true,
    'bFilter': false
  } );
  
  offering_autocomplete('id_offering');
} );
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li>
            <a href="{% url "advising:view_all_semesters" %}">View all semesters</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block subbreadcrumbs %}
<li><a href="{% url "advising:advising" %}">Advising</a></li>
{% if semesters %}
    <li>Course Offerings</li>
{% else %}
    <li><a href="{% url "advising:view_course_offerings" %}">Course Offerings</a></li>
    <li>{{ semester }}</li>
{% endif %}
{% endblock %}

{% block content %}

{% if offerings %}
<h2>{{ semester }} ({{ semester.name }})</h2>

<table class="display courses">
    <thead>
        <tr>
            <th class="subject"><abbr title="Course Subject">Sub.</abbr></th>
            <th class="number"><abbr title="Course Number">#</abbr></th>
            <th class="number"><abbr title="Course Section">Sec.</abbr></th>
            <th class="title">Title</th>
            <th class="component"><abbr title="Component">Comp.</abbr></th>
            <th class="instructor">Instructor</th>
        </tr>
    </thead>
    <tbody>
        {% for offering in offerings %}
        <tr>
            <td>{{ offering.subject }}</td>
            <td>{{ offering.number }}</td>
            <td>{{ offering.section }}</td>
            <td><a href="{% url "advising:view_offering_notes" course_slug=offering.slug %}">{{ offering.title }}</a></td>
            <td>{{ offering.get_component_display }}</td>
            {{ spaceless }}
            <td class="instructor">
                {% for i in offering.instructors %}
                    {{ i }}
                    {% if not forloop.last %}
                    <br />
                    {% endif %}
                {% endfor %}
            </td>
            {{ endspaceless }}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no course offerings for this semester.</p>
{% endif %}

<h2 id="offering-search">Search for Other Offerings</h2>
<form action="" method="get">
{{form.as_p}}
<p><input type="hidden" name="offeringsearch" value="yes" />
<input type="submit" class="submit" value="See Notes" /></p>
</form>

{% if semesters %}
<h2 id="recent-sem">Recent Semesters</h2>

<div class="semesters-container">
    <table class="display semesters">
        <thead>
            <tr>
                <th>Sem.</th>
                <th>Label</th>
            </tr>
        </thead>
        <tbody>
            {% for semester in semesters %}
            <tr>
                <td>{{ semester.name }}</td>
                <td><a href="{% url "advising:view_course_offerings" semester=semester.name %}">{{ semester }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
