{% extends "base.html" %}

{% block subbreadcrumbs %}
<li><a href="{% url "advising:advising" %}">Advising</a></li>
<li><a href="{% url "advising:student_notes" userid=userid %}">Notes for {{ userid }}</a></li>
<li>View Visit</li>
{% endblock %}

{% block content %}
    <table class="info">
<tr><th>Student</th><td>{{ visit.get_full_name }}</td></tr>
<tr><th>Advisor</th><td>{{ visit.advisor.sortname_pref_only }}</td></tr>
<tr><th>Unit</th><td>{{ visit.unit }}</td></tr>
<tr><th>Start Time</th><td>{{ visit.created_at }}</td></tr>
{% if visit.end_time %}<tr><th>End Time</th><td>{{ visit.end_time }}</td></tr>{% endif %}
{% if visit.end_time %}<tr><th>Duration</th><td>{{ visit.get_duration }}</td></tr>{% endif %}
{% if visit.campus %}<tr><th>Campus</th><td>{{ visit.get_campus_display }}</td></tr>{% endif %}
{% if visit.has_categories %}<tr><th>Categories</th><td>{{ visit.categories_display }}</td></tr>{% endif %}
    </table>

{% if visit.has_sims_data %}
<h2>Data gathered from SIMS at time of visit</h2>
    <table class="info">
{% if visit.programs %}<tr><th>Programs</th><td>{{ visit.programs|linebreaks }}</td></tr>{% endif %}
{% if visit.cgpa %}<tr><th>CGPA</th><td>{{ visit.cgpa }}</td></tr>{% endif %}
{% if visit.credits %}<tr><th>Credits</th><td>{{ visit.credits }}</td></tr>{% endif %}
{% if visit.gender %}<tr><th>Gender</th><td>{{ visit.get_gender_display }}</td></tr>{% endif %}
{% if visit.citizenship %}<tr><th>Citizenship</th><td>{{ visit.citizenship }}</td></tr>{% endif %}
    </table>
{% endif %}
{% endblock %}