{% extends "base.html" %}
{% load form_display %}
{% block title %}Advising Note for       	{{ student.first_name}}
      	{{ student.last_name }}{% endblock %}
{% block h1 %}Advising Note for       	{{ student.first_name}}
      	{{ student.last_name }}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url advisornotes.views.student)search %}">List Notes</a></li><li>&gt; View Note</li>{% endblock %}

{% block content %}
<div class="table_container">
<table class="info">
<tbody>
  <tr>
    <th class="ui-state-default">Student</th>
      <td>
      	{{ student.first_name}}
      	{{ student.last_name }}
      </td>
  </tr>  
  <tr>
    <th class="ui-state-default">Created At</th>
      <td>
      	{{ note.created_at }}
      </td>
  </tr>
  <tr>
    <th class="ui-state-default">Attachement</th>
      <td>
      	{{ note.attachment }}
      </td>
  </tr>
  <tr>
    <th class="ui-state-default">Department</th>
      <td>
      	{{ note.department }}
      </td>
  </tr>
  <tr>
    <th class="ui-state-default">Note</th>
      <td>
      	{{ note.text }}
      </td>
  </tr>    
</tbody>
</table>
</div>


{% endblock %}
