{% extends "base.html" %}
{% block title %}Notes for {{ offering }} {% endblock %}
{% block h1 %}Notes for {{ offering }} {% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advising:advising" %}">Advising</a></li>
<li><a href="{% url "advising:view_course_offerings" %}">Course Offerings</a></li>
<li>{{ offering }}</li>
{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(function() {
    $('.artifact-notes').delegate('.artifact-note-header', 'click', function() {
        $(this).parent().toggleClass('collapsed');
    });

    $(".show").trigger('expand');

    $('.hide-show').click(function(){
        var id = $(this).val(),
            ch = 'no';

        if ($(this).attr('checked')) {
            ch = 'yes'
            $('#note-'+id).trigger('collapse_slow');
        }

        $.post('{% url "advising:hide_note" %}', {
            'csrfmiddlewaretoken': '{{csrf_token}}',
            'note_id': id,
            'hide': ch
        });
    });
} );
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "advising:new_artifact_note" course_slug=offering.slug %}">New Note</a></li>
        <li><a href="{% url "advising:view_course_notes" unit_course_slug=offering.course.slug %}">View Related {{ offering.course.subject }} {{ offering.course.number }} Notes</a></li>
    </ul>
</div>
{% endblock %}

{%block content%}

<h2>Course Offering Details</h2>

<div class="table_container">
    <table class="info">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ offering.title }}</td>
            </tr>
            <tr>
                <th>Component</th>
                <td>{{ offering.get_component_display }}</td>
            </tr>
            <tr>
                <th>Campus</th>
                <td>{{ offering.get_campus_display }}</td>
            </tr>
            <tr>
                <th>Instructors</th>
                <td>
                    {% for i in offering.instructors %}
                        {{ i }}<br />
                    {% endfor %}
                </td>
            </tr>
            {% if offering.tas %}
            <tr>
                <th>TAs</th>
                <td>
                    {% for i in offering.tas %}
                        {{ i }}<br />
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Enrollment Cap.</th>
                <td>{{ offering.enrl_cap }}</td>
            </tr>
            <tr>
                <th>Enrollment Total</th>
                <td>{{ offering.enrl_tot }}</td>
            </tr>
            <tr>
                <th>Wait Total</th>
                <td>{{ offering.wait_tot }}</td>
            </tr>
            <tr>
                <th>Class Number</th>
                <td>{{ offering.class_nbr }}</td>
            </tr>
            {% if offering.url %}
            <tr>
                <th>Homepage URL</th>
                <td><a href="{{ offering.url }}" title="Homepage for {{ offering }}">{{ offering.url }}</a></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="artifact-notes">
{% if important_notes %}
    <h2>Important Notes</h2>

    {% for note in important_notes %}
        {% include "advisornotes/artifact_note.html" %}
    {% endfor %}
{% endif %}

{%if notes %}
    <h2>All Notes</h2>

    {% for note in notes %}
        {% include "advisornotes/artifact_note.html" %}
    {% endfor %}
{% endif %}

{% if not notes and not important_notes %}
    <p>No notes yet. <a href="{% url "advising:new_artifact_note" course_slug=offering.slug %}">Create a new note.</a></p>
{% endif %}

</div>

{%endblock content%}
