{% extends "base.html" %}
{% block title %}Notes for {{ course }} {% endblock %}
{% block h1 %}Notes for {{ course.full_name }} {% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advisornotes.views.advising" %}">Advising</a></li>
<li><a href="{% url "advisornotes.views.view_courses" %}">Courses</a></li>
<li>{{ course }}</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{{STATIC_URL}}js/advisornotes.js"></script>
<script type="text/javascript">
$(function() {
    $('.artifact-notes').delegate('.artifact-note-header', 'click', function() {
        $(this).parent().toggleClass('collapsed');
    });

    $(".show").trigger('expand');

    $('.hide-show').click(function(){
        var id = $(this).val(),
            ch = 'no';

        if ($(this).attr('checked')) {
            ch = 'yes'
            $('#note-'+id).trigger('collapse_slow');
        }

        $.post('{% url "advisornotes.views.hide_note" %}', {
            'csrfmiddlewaretoken': '{{csrf_token}}',
            'note_id': id,
            'hide': ch
        });
    });

	$('div.table_container').html('<i class="fa fa-spinner fa-spin" id="fetchwait"></i>');
    more_course_info('{% url "advisornotes.views.course_more_info" unit_course_slug=course.slug %}');
} );

$(function() {
  $('.display').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    'bJQueryUI': true,
    'bFilter': false,
    "aaSorting": [[0, "desc"]], 
  } );
} );
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "advisornotes.views.new_artifact_note" unit_course_slug=course.slug %}">New Note</a></li>
    </ul>
</div>
{% endblock %}

{%block content%}

<div class="table_container">
</div>

<div class="artifact-notes">
{% if important_notes %}
    <h2>Important Notes</h2>

    {% for note in important_notes %}
        {% include "advisornotes/artifact_note.html" %}
    {% endfor %}
{% endif %}

{%if notes %}
    <h2>All Notes</h2>

    {% for note in notes %}
        {% include "advisornotes/artifact_note.html" %}
    {% endfor %}
{%endif%}

{% if not important_notes and not notes %}
    <p>No notes yet. <a href="{% url "advisornotes.views.new_artifact_note" unit_course_slug=course.slug %}">Create a new note.</a></p>
{%endif%}

{% if offerings %}
<h2>Related Course Offering Notes</h2>

<table class="display courses">
    <thead>
        <tr>
            <th scope="col"><abbr title="Semester">Sem.</abbr></th>
            <th scope="col"><abbr title="Course Subject">Sub.</abbr></th>
            <th scope="col"><abbr title="Course Number">#</abbr></th>
            <th scope="col"><abbr title="Course Section">Sec.</abbr></th>
            <th scope="col">Title</th>
            <th scope="col"><abbr title="Component">Comp.</abbr></th>
            <th scope="col">Instructor</th>
            <th scope="col">Has Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for offering in offerings %}
        <tr>
            <td>{{ offering.semester.name }}</td>
            <td>{{ offering.subject }}</td>
            <td>{{ offering.number }}</td>
            <td>{{ offering.section }}</td>
            <td><a href="{% url "advisornotes.views.view_offering_notes" course_slug=offering.slug %}">{{ offering.title }}</a></td>
            <td>{{ offering.get_component_display }}</td>
            {{ spaceless }}
            <td class="instructor">
                {% for i in offering.instructors %}
                    {{ i }}
                    {% if not forloop.last %}
                    <br />
                    {% endif %}
                {% endfor %}
            </td>
            {{ endspaceless }}
            <td>{% if offering.id in with_note_ids %}<span class="sort">yes</span><i class="fa fa-check infomessage"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
</div>

{%endblock content%}
