{% extends "base.html" %}
{% load form_display %}
{% block title %}Notes for {{ artifact }}{% endblock %}
{% block h1 %}Notes for {{ artifact }}{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(function() {
    $('.artifact-notes').delegate('.artifact-note-header', 'click', function() {
        $(this).parent().toggleClass('collapsed');
    });

    $(".show").trigger('expand');

    $('.hide-show').click(function(){
        var id = $(this).val(),
            ch = 'no';

        if ($(this).attr('checked')) {
            ch = 'yes'
            $('#note-'+id).trigger('collapse_slow');
        }

        $.post('{% url "advising:hide_note" %}', {
            'csrfmiddlewaretoken': '{{csrf_token}}',
            'note_id': id,
            'hide': ch
        });
    });
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "advising:advising" %}">Advising</a></li>
<li><a href="{% url "advising:view_artifacts" %}">Artifacts</a></li>
<li>{{ artifact }}</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "advising:new_artifact_note" artifact_slug=artifact.slug %}">New Note</a></li>
        <li><a href="{% url "advising:edit_artifact" artifact_slug=artifact.slug %}">Edit Artifact</a></li>
    </ul>
</div>
{% endblock %}

{%block content%}

<div class="artifact-notes">
{% if important_notes %}
    <h2>Important Notes</h2>

    {% for note in important_notes %}
        {% include "advisornotes/artifact_note.html" %}
    {% endfor %}
{% endif %}

{%if notes %}
    <h2>All Notes</h2>

    {% for note in notes %}
        {% include "advisornotes/artifact_note.html" %}
    {% endfor %}
{%endif%}

{% if not important_notes and not notes %}
    <p>No notes yet. <a href="{% url "advising:new_artifact_note" artifact_slug=artifact.slug %}">Create a new note.</a></p>
{%endif%}
</div>

{% endblock content %}
