<script type="text/javascript">
$(function() {
    $('.add-formset').click(function() {
        var last = $('.meeting-time tr:visible:last');
        var next = $('.meeting-time tr:hidden').eq(0).show();

        lastInputs = last.find('select, input[type=text]');
        nextInputs = next.find('select, input[type=text]');

        nextInputs.each(function(i) {
            $(this).val(lastInputs.eq(i).val());
        });
    });

    $('.remove-formset').click(function() {
        var meeting = $(this).parents('tr');
        meeting.find('input[type=text]').val('');
        meeting.find('input[type=checkbox]').attr('checked', 'checked');
        meeting.find('select').val('---------');
        meeting.hide();
    });

    $('input[type=text][alt]').attr('placeholder', function() {
        return $(this).attr('alt')
    });
});
</script>

<fieldset>
    <legend>Add Course Offering</legend>
    <div class="course">
        <h3>Course Information</h3>

        <dl>
        {% for field in offeringform %}
            <dt>
                <label for="{{ field.auto_id }}">
                    {{ field.label }}:
                    {% if field.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </label>
            </dt>
            <dd>
                <div class="field">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </dd>
        {% endfor %}
        </dl>
    </div>

    <div class="meeting-times">
        {{ formset.management_form }}
        <table class="meeting-time">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Start</th>
                    <th>End</th>
                    <th class="room" colspan="2">Room</th>
                </tr>
            </thead>
            <tbody>
                {% for form in timesformset %}
                <tr class="{% if form.errors %}errors{% endif %}
                    {% if form.weekday.value or form.start_time.value or form.end_time.value or form.room.value %}content{% endif %}">
                    <td>
                        {{ form.id }}
                        {{ form.weekday }}
                        {% if form.weekday.errors %}
                            {{ form.weekday.errors }}
                        {% endif %}
                    </td>
                    <td>
                        <input type="text" alt="e.g. 11:30" name="meetingtime_set-{{ forloop.counter0 }}-{{ form.start_time.name }}" id="{{ form.start_time.auto_id }}" value="{{ form.start_time.value|time:"f" }}" />
                        {% if form.start_time.errors %}
                            {{ form.start_time.errors }}
                        {% endif %}
                    </td>
                    <td>
                        <input type="text" alt="e.g. 12:20" name="meetingtime_set-{{ forloop.counter0 }}-{{ form.end_time.name }}" id="{{ form.end_time.auto_id }}" value="{{ form.end_time.value|time:"f" }}" />
                        {% if form.end_time.errors %}
                            {{ form.end_time.errors }}
                        {% endif %}
                    </td>
                    <td>
                        <input type="text" alt="e.g. ASB9896" name="meetingtime_set-{{ forloop.counter0 }}-{{ form.room.name }}" id="{{ form.room.auto_id }}" value="{% firstof form.room.value %}" />
                        {% if form.room.errors %}
                            {{ form.room.errors }}
                        {% endif %}
                    </td>
                    <td>
                        <div style="display: none">{{ form.DELETE }}</div>
                        {% if not forloop.first %}
                            <a class="remove-formset">Remove</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="add-formset">Add another meeting time</a>
    </div>
    <div><input class="submit" type="submit" value="Submit" /></div>
</fieldset>