{% extends "base.html" %}
{% load form_display %}



{% block title %}Add Plan{% endblock %}
{% block h1 %}Add Plan{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "planning.views.admin_index" %}">Course Planning</a></li><li>Add Plan</li>{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}



<div class="form_container">
    <form action="{% url "planning.views.create_plan" %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Plan Info</legend>
            {{form|as_dl}}
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
    </form>

</div>
{% endblock%}


