{% extends "base.html" %}

{% block title %}Teaching Credits {% endblock %}
{% block h1 %}Teaching Credits {% endblock %}

{% block subbreadcrumbs %}
<li>
    <a href="{% url "planning.views.instructor_index" %}">Teaching Preferences</a>
</li>
<li>
    Teaching Credits
</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url "planning.views.new_teaching_equivalent_inst" %}">New Teaching Equivalent</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="table_container">
    {% for semester in semesters %}
    <h2>{{ semester.label }}</h2>
    <table class = "inst_table">
        <thead>
            <tr>
                <th style="width: 80%;">Course</th>
                <th style="width: 20%;">Credits</th>
            </tr>
        </thead>
        <tbody>
            {% for course in semester.courses %}
            <tr>
                <td> 
                {% if course.equivalent %}
                <strong>Teaching Equivalent:</strong> <a href="{% url "planning.views.view_teaching_equivalent_inst" equivalent_id=course.equivalent %}">{{ course.name }}</a> 
                {% if not course.confirmed %}
                <span style="color: red;">(Unconfirmed)</span>
                {% endif %}
                {% endif %}
                {% if not course.equivalent %}
                {{ course.name }}
                {% endif %} </td>
                <td>{{ course.credits }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><i style="font-weight: bold;">{{ semester.total_credits }} total</i>
                	{% if not semester.confirmed %}
                	    <span style="color: red;">**</span>
                	{% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}