{% extends "base.html" %}
{% load form_display %}


{% block title %}Instructor for {{ planned_offering }}{% endblock %}
{% block h1 %}Instructor for {{ planned_offering }}{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "planning.views.admin_index" %}">Course Planning</a></li>
    <li><a href="{% url "planning.views.update_plan" semester=semester_plan.semester.name plan_slug=semester_plan.slug %}">{{ semester_plan.name }} in {{semester_plan.semester.label}}</a></li>
    <li>Instructor for {{ planned_offering }}</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}

<p><strong>Semester Plan</strong>:  {{ semester_plan.name }} in {{ semester_plan.semester.label }} </p>
<p><strong>Currently Assigned Instructor</strong>: {{ planned_offering.instructor }} </p>

<div class="datatable_container">
    
    <div class="form_container">
        <form action="{% url "planning.views.view_instructors" semester=semester_plan.semester.name plan_slug=semester_plan.slug planned_offering_slug=planned_offering.slug %}" method="post">{% csrf_token %}

        <h3>Capable Instructors</h3>

        {% if capable_instructors_list %}
            {% include "planning/instructor_table.html" with instructors_list=capable_instructors_list %}
        {% else %}
            <p>There are no capable instructors for this course.</p>
        {% endif %}

        <h3>All Instructors</h3>

        {% if all_instructors_list %}
            {% include "planning/instructor_table.html" with instructors_list=all_instructors_list %}
        {% else %}
            <p>There are no instructors.</p>
        {% endif %}

        <div><input class="submit" type="submit" value="Assign" /></div>
        </form>

    </div>

</div>


{% endblock%}


