{% extends "base.html" %}

{% block title %}Teaching Equivalent For {{ instructor }}{% endblock %}
{% block h1 %}Teaching Equivalent For <i>{{ instructor }} ({{ instructor.userid }})</i>{% endblock %}

{% block headextra %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#confirm-equivalent").click(function(){
            var confirmChange = confirm("Are you sure you want to confirm this Teaching Equivalent?");
            if(confirmChange){
                $("form#confirm-equivalent-form").submit();
            }
        });
        $("#unconfirm-equivalent").click(function(){
            var confirmChange = confirm("Are you sure you want to unconfirm this Teaching Equivalent?");
            if(confirmChange){
                $("form#confirm-equivalent-form").submit();
            }
        });
    });
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li>
    <a href="{% url "planning.views.view_insts_in_unit" %}">Teaching Administration</a>
</li>
<li>
    <a href="{% url "planning.views.view_teaching_credits_admin" userid=instructor.userid %}">Teaching Credits For {{ instructor.userid }}</a>
</li>
<li>
	&gt; Teaching Equivalent
</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url "planning.views.edit_teaching_equivalent_admin" userid=instructor.userid equivalent_id=equivalent.pk %}">Edit Teaching Equivalent</a></li>
        {% if equivalent.status == 'UNCO' %}
        <li>
        	<a id='confirm-equivalent' href="#">Confirm Teaching Equivalent</a>
        </li>
        {% endif %}
        {% if equivalent.status == 'CONF' %}
        <li>
            <a id='unconfirm-equivalent' href="#">Unconfirm Teaching Equivalent</a>
        </li>
        {% endif %}
    </ul>
</div>
<form id="confirm-equivalent-form" action="{% url "planning.views.confirm_teaching_equivalent" userid=instructor.userid equivalent_id=equivalent.pk %}" method="post">
    {% csrf_token %}
</form>
{% endblock %}

{% block content %}
<div class="table_container">
    <table class = "inst_table">
        <tbody>
            <tr>
                <th>Semester</th>
                <td>{{ equivalent.semester }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ equivalent.summary }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td> {% if equivalent.status == 'CONF' %} <span style="color: green;">Confirmed</span> {% endif %}
                {% if equivalent.status == 'UNCO' %} <span style="color: red;">Unconfirmed</span> {% endif %} </td>
            </tr>
            <tr>
                <th>Credits</th>
                <td>{{ equivalent.get_credits }}</td>
            </tr>
        </tbody>
    </table>
    <h3>Info:</h3>
    {{ equivalent.comment|linebreaks }}
</div>
{% endblock %}
