{% extends "base.html" %}

{% block title %}Relationships{% endblock %}
{% block h1 %}Relationships{% endblock %}

{% block subbreadcrumbs %}<li>Relationships</li>{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#contacts').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[0, 'asc']]
  } );
} );
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "relationships:new_contact" %}">Add New Contact</a></li>
        <li><a href="{% url "relationships:list_reports" %}">View Content Type Reports</a></li>
        <li><a href="{% url "relationships:download_contacts" %}">Download CSV</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
    {% if contacts %}
        <table id="contacts" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Unit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for c in contacts %}
            <tr>
                <td>{{ c.full_name }}</td>
                <td>{{ c.unit.name }}</td>
                <td>
                    <form class="lineform" method="POST"
                          action="{% url "relationships:delete_contact" contact_slug=c.slug %}">
                        {% csrf_token %}
                        <button type='submit' class='btn confirm-submit' title="Delete Contact"
                                data-submit-action="remove this contact">
                            <i class='fa fa-trash-o'></i>
                        </button>
                    </form>
                    <a class="lineform" href="{% url "relationships:edit_contact" contact_slug=c.slug %}">
                        <button type='submit' class='btn' title="Edit Contact">
                            <i class='fa fa-edit'></i>
                        </button>
                    </a>
                    <a class="lineform" href="{% url "relationships:view_contact" contact_slug=c.slug %}">
                        <button type='submit' class='btn' title="View Contact">
                            <i class='fa fa-eye'></i>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>There are no contacts to display.</h2>
    {% endif %}
{% endblock %}