{% extends "base.html" %}
{% load form_display %}
{% load contact_display %}

{% block title %}View Contact{% endblock %}
{% block h1 %}View Contact{% endblock %}


{% block subbreadcrumbs %}
<li><a href="{% url 'relationships:index' %}">Relationships</a></li>
<li>View Contact</li>
{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
    $('#events').dataTable({
        'bPaginate': false,
        'bInfo': false,
        'bLengthChange': false,
        "bJQueryUI": true,
        'aaSorting': [[2, 'asc']]
    });
});
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "relationships:edit_contact" contact_slug=contact.slug %}">Edit Contact</a></li>
        <li><a href="{% url "relationships:list_events" contact_slug=contact.slug %}">Add Contact Content</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <dt>Unit</dt><dd>{{ contact.unit.name }}</dd>
    <dt>Title</dt><dd>{{ contact.title }}</dd>
    <dt>Last Name</dt><dd>{{ contact.last_name }}</dd>
    <dt>First Name</dt><dd>{{ contact.first_name }}</dd>
    <dt>Middle Name</dt><dd>{{ contact.middle_name }}</dd>
    <dt>Preferred First Name</dt><dd>{{ contact.pref_first_name }}</dd>
    <dt>Company Name</dt><dd>{{ contact.company_name }}</dd>
    <dt>Address</dt><dd>{{ contact.address|linebreaks }}</dd>
    <dt>Email</dt><dd><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></dd>
    <dt>Phone</dt><dd>{{ contact.phone }}</dd>
    {% if events %}
        <h2>Contact Content</h2>
        <table id="events" class="display">
            <thead>
                <tr>
                    <td>Content Type</td>
                    <td>Content</td>
                    <td>Last Modified</td>
                    <td>Actions</td>
                </tr>
            </thead>
        {% for event in events %}
            <tr>
                <td>{{ event.get_handler_name }}</td>
                <td>{{ event|get_event_value_direct:'content'|linebreaks }}</td>
                <td><span class="sort">{{ event.last_modified.isoformat }}</span>{{ event.last_modified }}</td>
                <td><form class="lineform" method="POST"
                          action="{% url 'relationships:delete_event' contact_slug=contact.slug event_slug=event.slug %}">
                        {% csrf_token %}
                        <button type='submit' class='btn confirm-submit' title="Delete Content"
                                data-submit-action="delete this content">
                            <i class='fa fa-trash-o'></i>
                        </button>
                    </form>
                    {% if event.is_text_based %}
                        <a class="lineform" href="{% url 'relationships:edit_event' contact_slug=contact.slug event_slug=event.slug %}">
                        <button type='submit' class='btn' title="Edit Content">
                            <i class='fa fa-edit'></i>
                        </button>
                        </a>
                    {% endif %}
                    <a class="lineform" href="{% url "relationships:view_event" contact_slug=contact.slug event_slug=event.slug %}">
                        <button type='submit' class='btn' title="View Content">
                            <i class='fa fa-eye'></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
