{% extends "marking/base.html" %}

{% block title %}Marking Activities{% endblock %}


{% block h1 %}Marking Activities{% endblock %}

{% block content %}

<h2>Activities</h2> 
 
 {% for activity in activities %}          
   <h3>{{activity}}</h3>	 
   <div class = "marking_a">
	  <ul> 
	  <li><a href="{% url marking.views.marking course_slug=course_slug, activity_slug=activity.slug %}">Mark</a></li>
	  <li><a href="{% url marking.views.manage_activity_components course_slug=course_slug, activity_slug=activity.slug %}">Components</a></li>
	  <li><a href="{% url marking.views.manage_common_problems course_slug=course_slug, activity_slug=activity.slug %}">Common Problems</a></li>
	  </ul>	  
   </div>    
{% empty %}
  <h3>No activities defined.</h3>
{% endfor %}  

<form action="" method="post">
    <h2> Import course settings from: </h2>
    <div class = "receiver"> {{course_receiver_form}} </div> 
    <input type="submit" value="go" >  
</form>

{% endblock %}
