{% extends "marking/base.html" %}

{% block title %}Marking Activities{% endblock %}


{% block h1 %}Marking Activities{% endblock %}

{% block content %}

<h2>Activities</h2>    
  <ul>
 {% for activity in activities %}      
      <li>{{activity}}</li>	 
      <div class = "marking_activity">
		  <ul> 
		  <li><a href="{% url marking.views.marking course_slug=course_slug, activity_short_name=activity.short_name %}">Mark ...</a></li>
		  <li><a href="{% url marking.views.manage_activity_components course_slug=course_slug, activity_short_name=activity.short_name %}">Components ...</a></li>
		  <li><a href="marking/{{course_slug}}/{{activity.short_name}}/common_problems">Common Problems ...</a></li>
		  </ul>	
      <div/>  
{% empty %}
  <li>No activities defined.</li>
{% endfor %}    
  </ul>
</div>

{% endblock %}
