{% extends "base.html" %}

{% block headextra %}
{% block marking_header_extra %}{% endblock %}
{% endblock %}

{% block title %}Marking{% endblock %}

{% block navmenu %}
<ul id="main_nav">
	<li class="homeLink"><a href="/">Home</a></li>
	<li><a href="/marking">Courses</a></li>
	<li><a href="/marking">Settings</a></li>
	<li><a href="/marking">Help</a></li>
</ul>
{% endblock %}

{% block breadcrumbs %}
<li><a href="http://www.sfu.ca/">SFU</a></li>
<li>&gt; <a href="http://www.cs.sfu.ca/">Computing Science</a></li>
<li>&gt; <a href="/">Course Management</a></li>
<li>&gt; <a href="/marking">Marking</a></li>
{% block subbreadcrumbs %}{% endblock %}
{% endblock %}

