{% extends "marking/base.html" %}

{% block marking_header_extra %}
<link type="text/css" href="{{MEDIA_URL}}jquery-ui-1.7.2.custom/css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
<link type="text/css" href="{{MEDIA_URL}}style/marking/table.css" rel="stylesheet" />
<script type="text/javascript" src="{{MEDIA_URL}}datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
	oTable = $('#activity_components').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers"
	});
    });
</script>
{% endblock %}

{% block title %}{{course.name}}: {{activity.name}} Common Problems {% endblock %}

{% block h1 %}{{course.name}}: {{activity.name}} Common Problems {% endblock %}

{% block content %}

<form action="{% url marking.views.manage_common_problems course_slug=course.slug, activity_short_name=activity.short_name %}" method="POST">
    {{ formset.management_form }} 
     <div id = "table_container">
	   {% if error_info %}
	   <p class="errorindicator">
	      <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
	      {{error_info}}
	   </p>	   
      {% endif %}
       <table class="display" id="activity_components">
        <thead>
          <tr>             
             <th>Associated Component</th>
             <th>Title</th>
             <th>Description</th>
             <th>Penalty</th>
             <th>Deleted?</th>
          </tr>    
        </thead>     
         <tbody>
	      {% for form in formset.forms|slice:":-5" %} 	      
			  {{form.id}}  {# important here !!! #}  
			  <tr>	  		       
				   {% for field in form %}				   
			            <td>			            
			            {{field}}
			            {% if field.errors %}	            
				        	<img src="{{MEDIA_URL}}/icons/error.png" alt="error"/>
				        	{{ field.errors }}
				        {% endif %}
				        </td>
			       {% endfor %}
			 </tr>
	      {% endfor %}
	      {% for form in formset.forms|slice:"-5:" %} {# you can add 5 more common problems #}	      
	      {{form.id}} {# important here !!! #}  	   
	      <tr>  
       	   {% for field in form %}
       	        {% ifnotequal field.name "deleted" %}
		            <td>			            
		            {{field}}
		            {% if field.errors %}	            
			        	<img src="{{MEDIA_URL}}/icons/error.png" alt="error"/>
			        	{{ field.errors }}			        	
			        {% endif %}
			        </td>
		        {% endifnotequal %}
	       {% endfor %}	
          </tr>
         {% endfor %}
         </tbody>
      </table>
   </div>
   <input type="submit" value="Save" />  
   <input type="button" value="Reset" onClick="location.href='{% url marking.views.manage_common_problems course_slug=course.slug, activity_short_name=activity.short_name %}'">
</form>

{% endblock %}
