{% extends "marking/base.html" %}
{% load course_display %}

{% block marking_header_extra %}
<script type="text/javascript">
    $(document).ready(function() {
	oTable = $('#common_problems').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers"
	});
    });
</script>
{% endblock %}

{% block title %}{{course.name}}: {{activity.name}} Common Problems {% endblock %}

{% block h1 %}{{course.name}}: {{activity.name}} Common Problems {% endblock %}

{% block content %}

<form action="{% url marking.views.manage_common_problems course_slug=course.slug, activity_short_name=activity.short_name %}" method="POST">
    {{ formset.management_form }} 
     <div id = "table_container">
       <table class="display" id="common_problems">
        <thead>
          <tr>             
             <th>Associated Component</th>
             <th>Title</th>
             <th>Description</th>
             <th>Penalty</th>
             <th>Deleted?</th>
          </tr>    
        </thead>     
         <tbody>
	      {% for form in formset.forms|slice:":-3" %} 	      
			  {{form.id}}  {# important here !!! #}  
			  {{form|display_form_as_row:"deleted_flag"}}
	      {% endfor %}
	      {% for form in formset.forms|slice:"-3:" %} {# you can add 3 more common problems #}	      
		      {{form.id}} {# important here !!! #}  	   
		      {{form|display_form_as_row}}
          {% endfor %}
         </tbody>
      </table>
   </div>
   <input type="submit" value="Save" />  
   <input type="button" value="Reset" onClick="location.href='{% url marking.views.manage_common_problems course_slug=course.slug, activity_short_name=activity.short_name %}'">
</form>

{% endblock %}
