{% extends "base.html" %}
{% load course_display %}

{% block title %}{{activity.name}} Common Problems{% endblock %}
{% block h1 %}{{activity.name}} Common Problems{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>Common Problems</li>
{% endblock %}

{% block content %}

<form action="" class="subtle" method="post">{% csrf_token %}
       {{ formset.management_form }}
       <table class="display" id="common_problems">
        <thead class="form_head">
          <tr>             
             <th>Component</th>
             <th>Button Label</th>
             <th>Comment for Student</th>
             <th>Mark Penalty</th>
             <th>Deleted?</th>
          </tr>    
         </thead>     
         <tbody>
	      {% for form in formset.forms|slice:":-3" %} 	 
			  {{form|display_form_as_row:"deleted_flag"}}
	      {% endfor %}
	      {% for form in formset.forms|slice:"-3:" %} {# you can add 3 more common problems #}	
		      {{form|display_form_as_row}}
          {% endfor %}
         </tbody>
      </table>
   <div>
   <input class="submit" type="submit" value="Submit" />
   </div>
</form>  

{% endblock %}
