{% extends "marking/base.html" %}
{% load course_display %}

{% block marking_header_extra %}
<script type="text/javascript">
    $(document).ready(function() {
	oTable = $('#common_problems').dataTable({
		"bJQueryUI": true,
		"bSort": false,
		"bInfo": false,
		"bPaginate": false,	
	});
    });
</script>
{% endblock %}

{% block title %}Marking Common Problems{% endblock %}

{% block h1 %}{{course.name}}: {{activity.name}} Common Problems {% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{course}}</a></li><li>&gt; <a href="{% url grades.views.activity_info course_slug=course.slug, activity_slug=activity.slug %}">{{activity.name}}</a></li>{% endblock %}

{% block content %}

<form action="" method="post">
    {{ formset.management_form }} 
     <div class = "datatable_container">
       <table class="display" id="common_problems">
        <thead class="form_head">
          <tr>             
             <th>Associated Component</th>
             <th>Title</th>
             <th>Description</th>
             <th>Penalty</th>
             <th>Deleted?</th>
          </tr>    
         </thead>     
         <tbody>
	      {% for form in formset.forms|slice:":-3" %} 	 
			  {{form|display_form_as_row:"deleted_flag"}}
	      {% endfor %}
	      {% for form in formset.forms|slice:"-3:" %} {# you can add 3 more common problems #}	
		      {{form|display_form_as_row}}
          {% endfor %}
         </tbody>
      </table>
   </div>
   <input class="submit" type="submit" value="Submit" />
</form>  
<a class="button" href="{% url marking.views.manage_common_problems course_slug=course.slug, activity_slug=activity.slug %}">Reset</a>

{% endblock %}
