{% extends "base.html" %}
{% load course_display %}

{% block headextra %}
<script type="text/javascript">
//<![CDATA[
    function add_more() {
    	var count = 0;
    	$('#activity_components tr.hidden').each(function() {
    		if (count < 5) {
    			count += 1;
 		   		$(this).removeClass('hidden');
    		}
    	})
    	if ( count < 5 ) {
    		$("#button_more").addClass("hidden");
    	}
	    return false;
	}
    $(document).ready(function() {
	$("#button_more").removeClass("hidden");
	$("#button_more").click(add_more);
	add_more();
    });
//]]>
</script>
{% endblock %}

{% block title %}{{activity.name}} Marking Components{% endblock %}
{% block h1 %}{{activity.name}} Marking Components{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>Marking Components</li>{% endblock %}

{% block content %}
<ul id="form_nav">
    <li class="current"><a href="{% url "marking.views.manage_activity_components" course_slug=course.slug activity_slug=activity.slug %}">Edit Components Content</a></li>  
    <li><a href="{% url "marking.views.manage_component_positions" course_slug=course.slug activity_slug=activity.slug %}">Edit Components Order</a></li>  
</ul>
<form action="" method="post" class="subtle">{% csrf_token %}
     <div class="datatable_container"> 
     {{ formset.management_form }} 
      <table class="display" id="activity_components">
      	<thead class="form_head">
          <tr>
         	<th scope="col">Title</th>
         	<th scope="col">Description</th>
         	<th scope="col">Max Mark</th>
         	<th scope="col">Delete?</th>            
          </tr>         
        </thead>  
        <tbody>
	      {% for form in formset.forms|slice:":-25" %} 	      
		      {{ form|display_form_as_row:"deleted_flag"}}
	      {% endfor %}
	      {# you can add 25 more components #}
          {% for form in formset.forms|slice:"-25:" %}
              {{ form|display_form_as_row:"hidden" }}
          {% endfor %}
        </tbody>
      </table>
   </div>
<p><input class ="submit" type="submit" value="Submit" /></p>
<p><input class="submit hidden" type="submit" value="Add more" id="button_more" /></p>   
</form>  
{% endblock %}
