{% extends "marking/base.html" %}



{% block title %}{{course.name}}: {{activity.name}} Components{% endblock %}

{% block h1 %}{{course.name}}: {{activity.name}} Components{% endblock %}

{% block content %}

<form action="{% url marking.views.manage_activity_components course_slug=course.slug, activity_short_name=activity.short_name %}" method="POST">  
    {{ formset_main.management_form }}   
    {% if formset_main.forms %}
    <h2>Current Components<h2>
       <table>
          <tr>
             {% for field in fields_main %}
             	<td><span class="marking_activity_component">{{field}}</span></td>
             {% endfor %}
          </tr>         
	      {% for form in formset_main.forms|slice:":-5" %} 	      
			  {{form.id}} {% comment %} important here !!! {% endcomment %}   
			  <tr>			  		       
				   {% for field in form %}				   
			            <td>			            
			            {{field}}
			            {% if field.errors %}	            
				        	<img src="{{MEDIA_URL}}/icons/cross.png" />
				        {% endif %}
				        </td>
			       {% endfor %}
			 </tr>
	      {% endfor %}
	      {% for form in formset_main.forms|slice:"-5:" %} 	      
	      {{form.id}} {% comment %} important here !!! {% endcomment %}  	   
	      <tr>  
       	   {% for field in form %}
       	        {% ifnotequal field.name "deleted" %}
		            <td>			            
		            {{field}}
		            {% if field.errors %}	            
			        	<img src="{{MEDIA_URL}}/icons/cross.png" />
			        {% endif %}
			        </td>
		        {% endifnotequal %}
	       {% endfor %}	
          </tr>
         {% endfor %}
      </table>
               
   {% else %}
   		<h2> Currently No Components </h2>
   {% endif %}
   
   {% if error_info %}
   		<h2 style = "color:red">Can not save: {{error_info}}<h2>
   {% endif %}
   <input type="submit" value="Save" />  
   <input type="button" value="Reset" onClick="location.href='{% url marking.views.manage_activity_components course_slug=course.slug, activity_short_name=activity.short_name %}'">
</form>

{% endblock %}
