{% extends "base.html" %}
{% load course_display %}

{% block headextra %}
<script type="text/javascript">
//<![CDATA[
	var comp_ids = new Array(); 
    
    $(document).ready(function() {
		var oTable = $('#component_positions').dataTable({
			"bJQueryUI": true,
			"bSort": false,
			"bFilter": false,
			"bPaginate": false/* turn off the pagination */
			});
		
		{%for component in components%}
			comp_ids[{{forloop.counter}}-1] = "{{component.id}}";
		{%endfor%}
	
		for(var r = 1; r <= {{components|length}}; r++)
		{   
		   /* attach position info to the arrow td */
		    $('#arrow' + r).data('pos', r-1);
		}		
		
		$('.arrow_up').click(function(){
			 var p = $(this).parent();
			 var i = p.data('pos');
			 if( i > 0){				
				 /* swap the content of the current row and the previous row(only the second column) */
				 var row = oTable.fnGetNodes(i);
				 var pre_row = oTable.fnGetNodes(i-1);
				 var content = oTable.fnGetData(row);
				 var temp = content[1];
				 oTable.fnUpdate(oTable.fnGetData(pre_row)[1], i, 1);
				 oTable.fnUpdate(temp, i-1, 1);
				 temp = comp_ids[i];
				 comp_ids[i] = comp_ids[i-1];
				 comp_ids[i-1] = temp;	
				 
				 oTable.fnDraw();			
			 }		 
		  });
		 
		$('.arrow_down').click(function(){
			 var p = $(this).parent();
			 var i = p.data('pos');
			 if( i < {{components|length}}-1){				
				 /* swap the content of the current row and the next row(only the second column) */
				 var row = oTable.fnGetNodes(i);
				 var next_row = oTable.fnGetNodes(i+1);
				 var content = oTable.fnGetData(row);
				 var temp = content[1];
				 oTable.fnUpdate(oTable.fnGetData(next_row)[1], i, 1);
				 oTable.fnUpdate(temp, i+1, 1);
				 temp = comp_ids[i];
				 comp_ids[i] = comp_ids[i+1];
				 comp_ids[i+1] = temp;	
				 
				 oTable.fnDraw();		
			 }		 
		  });
		  		  
		  $('#save_order').click(function(){
		  	$.post("{% url "marking.views.manage_component_positions" course_slug=course.slug activity_slug=activity.slug %}",
		  	 {'ids[]': comp_ids, 'csrfmiddlewaretoken': "{{csrf_token}}" }, 
		  		function(data){
    			 alert(data);
   			 });
   		   });
		 
	});	
	
	
//]]></script>
{% endblock %}

{% block title %}{{activity.name}} Marking Components{% endblock %}
{% block h1 %}{{activity.name}} Marking Components{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{{activity.get_absolute_url}}">{{activity.name}}</a></li><li>Marking Components</li>{% endblock %}

{% block content %}
<ul id="form_nav">
    <li><a href="{% url "marking.views.manage_activity_components" course_slug=course.slug activity_slug=activity.slug %}">Edit Components Content</a></li>  
    <li class="current"><a href="{% url "marking.views.manage_component_positions" course_slug=course.slug activity_slug=activity.slug %}">Edit Components Order</a></li>  
</ul>
<form action="#" class="subtle">
   <table class="display" id="component_positions">
   	<thead class="form_head">
          <tr>
          	<th scope="col">Order</th>
         	<th scope="col">Component</th>    
          </tr>         
        </thead>  
        <tbody>
	      {% for component in components %}
		  <tr>
		  <td id="arrow{{forloop.counter}}">
          {% if not forloop.first %} 
             <span class="arrow_up position_button ui-state-default ui-icon ui-icon-arrowthick-1-n">&uarr;</span>  
 	      {% else %}
 	       	 <span class="position_placeholder"></span>
 	      {% endif %}
 	      {% if not forloop.last %}
 	         <span class="arrow_down position_button ui-state-default ui-icon ui-icon-arrowthick-1-s">&darr;</span>
 	      {% endif %}
 	      </td>
	      <td>
	      	{{ component.title }}
	      </td>
	      </tr>
	      {% empty %}
		  <tr>
		  <td class="empty">No components defined</td>
		  <td></td>
		  </tr>
          {% endfor %}
        </tbody>
      </table>
{% if components %}
<p><input class="submit" id="save_order" type="button" value="Update" /></p>
{% endif %}
</form>
{% endblock %}
