{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function(){
 $('.rename_check').each(function(index){ 
 	if(!$(this).attr('checked')){
 		$(".rename_info:eq(" + index + ")").hide();
 	}
 	$(this).click(function(){
 		$(".rename_info:eq(" + index + ")").slideToggle("fast");
 		});
 });
});
</script>
{% endblock %}


{% block title %}Copy Course Setup{% endblock %}
{% block h1 %}Copy Course Setup{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{% url "grades.views.course_config" course_slug=course.slug %}">Setup</a></li><li>Copy Setup</li>{% endblock %}

{% block content %}


{% if source_pages %}
<h2>These course pages will be copied:</h2>
<ul>
{% for p in source_pages %}
<li>{{p.label}}</li>
{% endfor %}
</ul>
{% endif %}


<form action="{% url "marking.views.copy_course_setup" course_slug=course.slug %}?copy_from={{source_course.slug}}" method="post">{% csrf_token %}


{% if source_setup %}
<p>These activities will be copied:</p>
	<ul class="bulleted">
	{% for activity in source_setup %}
		<li>{{activity.name}} ({{activity.short_name}})</li>
	{% endfor %}
	</ul>
{% else %}
	<p class="empty">No activities to copy.</p>
{% endif %}

{% if conflicting_activities %}
<h2>Conflicting activity names: </h2>
	<p class="warningmessage" id="setupcopy">
	It's recommended that you change the name/short name of these activities
	which conflict with the current course activities.
	</p>
<ul>
{% for activity in conflicting_activities %}	
	{% with activity.1 as form %}
    <h3>{{activity.0.name}} ({{activity.0.short_name}})</h3>
    <p>{{form.selected}} {{form.selected.label_tag}}<br/>
		{{form.name.label_tag}}&nbsp;{{form.name}}
		{% if form.name.errors %}<span class="errortext"><img src="{{STATIC_URL}}icons/error.png" alt="error"/> {{form.name.errors.0}}</span>{% endif %}
		{{form.short_name.label_tag}}&nbsp;{{form.short_name}}
		{% if form.short_name.errors %}<span class="errortext"><img src="{{STATIC_URL}}icons/error.png" alt="error"/> {{form.short_name.errors.0}}</span>{% endif %}		
	</p>
	{% endwith %}
{% endfor %}
</ul> 
{% endif %}
{% if source_setup %}
<input class="submit" type="submit" value="Copy">
{% endif %}
</form>
{% endblock %}

