{% extends "marking/base.html" %}

{% block marking_header_extra %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
	var oTable = $('#all_marks').dataTable({
		"bJQueryUI": true,
		"bSort": false,
		"bPaginate": false	/* turn off the pagination */
	});		
		
	var oRows = oTable.fnGetNodes();
	
	/* set the tab indices of all the text boxes*/
	var tabi = 1;
	for(var r = 0; r < oRows.length; r++)
	{
		var mark_entry = oRows[r].getElementsByTagName('input');
		if(mark_entry.length > 0)
			mark_entry[0].tabIndex = tabi ++;
	}	
});
//]]>
</script>
{% endblock %}

{% block title %}Edit Details of Caculated Letter Grades {% endblock %}

{% block content %}
<form action="/marking/" method="get">
	<div>
	A+: {{form.ap}} {{form.ap.errors}}
	
		A+: 
		<input type="text" name="A+_value"/>
		<br />
		A : 
		<input type="text" name="A_value" />
		<br/>
		A-:				
		<input type="text" name="A_value"/>
		<br/>
	</div>
	<div>
		B+: 
		<input type="text" name="B+_value"/>
		<br />
		B :  
		<input type="text" name="B_value" />
		<br/>
		B-:				
		<input type="text" name="B_value"/>
		<br/>
	<div>
		C+: 
		<input type="text" name="C+_value"/>
		<br />
		C : 
		<input type="text" name="C_value" />
		<br/>
		C-:				
		<input type="text" name="C-_value"/>
		<br/>
	</div>
	<div>
		D : 
		<input type="text" name="D_value" />
		<br/>
		F : 
		<input type="text" name="F_value"/>
		<br/>
		<input type="submit" name="Submit_F"/>
	</div>
</form>

{% endblock %}
		


