{% extends "base.html" %}
{% load form_display %}

{% block title %}Change Grade: {{student.name}}, {{activity.name}}{% endblock %}
{% block h1 %}Change Grade: {{student.name}}, {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>Change Grade Status</li>{% endblock %}

{% block content %}
	<table class="info">
	<tbody> 
	     <tr>
	     	<th scope="row">Activity</th>
	        <td>
	            {{activity.name}}  
	        </td>
	     </tr> 
		 <tr>
	    	<th scope="row">Student Name</th>
	        <td>
	            {{student.name}}  
	        </td>
	    </tr>
	    <tr>
	    	<th scope="row">User ID</th>
	        <td>
	            {{student.userid}}
	        </td>
	    </tr>
	    <tr>
	    	<th scope="row">Stu #</th>
	        <td>
	            {{student.emplid}}
	        </td>
	    </tr>  
	    <tr>
	    	<th scope="row">Current Grade Status</th>
	        <td>
	            {{current_status}}
	        </td>
	    </tr> 
	</tbody>
	</table>
    <form action="" method="post">{% csrf_token %}
	    <fieldset>
		 {{status_form|as_dl}}
         <p><input class="submit" type="submit" value="Save" /></p>
		</fieldset> 
    </form>


<h2 id="status">Status Descriptions</h2>
{% if activity.is_calculated %}
<p>For a calculated letter activity like this, the status values have the following semantics:</p>
<dl>
<dt>calculated</dt>
<dd>Grade has been calculated by the system. This value <strong>will</strong> be updated if you recalculate grades for the class.</dd>
<dt>no grade</dt>
<dd>No grade assigned for this activity. Any grade entered is ignored. This value <strong>will not</strong> be updated if you recalculate grades for the class.</dd>
<dt>graded</dt>
<dd>Student's grade has been manually overridden. This value <strong>will not</strong> be updated if you recalculate grades for the class.</dd>
<dt>excused</dt>
<dd>Student has been excused from this piece of work.  Status does not affect calculations: used for your own record keeping. This value <strong>will not</strong> be updated if you recalculate grades for the class.</dd>
<dt>academic dishonesty</dt>
<dd>Grade is affected by academic dishonesty on this piece of work. Status does not affect calculations: used for your own record keeping. This value <strong>will not</strong> be updated if you recalculate grades for the class.</dd>
</dl>
<p>If you have manually entered a grade (i.e. the status is not &ldquo;calculated&rdquo;) and you want to revert to a automatically calculated grade, set the status to &ldquo;calculated&rdquo; and then recalculate grades for the class.</p>
{% else %}
<p>For a letter graded activity like this, the status values have the following semantics:</p>
<dl>
<dt>no grade</dt>
<dd>No grade assigned for this activity. Any grade entered is ignored: GN might be a reasonable value to set.</dd>
<dt>graded</dt>
<dd>Student has received this grade.</dd>
<dt>excused</dt>
<dd>Student has been excused from this piece of work.  Status does not affect calculations: used for your own record keeping.</dd>
<dt>academic dishonesty</dt>
<dd>Grade is affected by academic dishonesty on this piece of work.  Status does not affect calculations: used for your own record keeping.</dd>
</dl>
{% endif %}

{% endblock %}
