{% extends "marking/base.html" %}
{% load course_display %}

{% block marking_header_extra %}
{% endblock %}

{% block title %}{{activity.name}}: Import Marking Details{% endblock %}
{% block h1 %}{{activity.name}}: Import Marking Details{% endblock %}

{% block marking_subbreadcrumbs %}<li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>Import Marking Details</li>{% endblock %}

{% block actions %}
<div id="actions">
  <h2 class="heading">Actions</h2>
  <ul>
    <li><a href="{% url "marking.views.export_marks" course_slug=course.slug activity_slug=activity.slug %}">Export Current Marks</a></li>
    <li><a href="{% url "marking.views.manage_activity_components" course_slug=course.slug activity_slug=activity.slug %}">Configure Marking</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<form action="{% url "marking.views.import_marks" course_slug=course.slug activity_slug=activity.slug %}" method="post" enctype="multipart/form-data">{% csrf_token %}
<p>{{form.file}} {{form.file.errors}}</p>
<p><input class ="submit" type="submit" value="Submit" /></p>
</form>

<h2 id="format" style="clear:right;">File Format</h2>
<p>The import file must be a <a href="http://www.json.org/">JSON</a> file (UTF-8 encoded) with fields as follows:</p>
<blockquote><pre>
{
  "marks": [
    {
      {% if activity.group %}"group": "g-groupone",{% else %}"userid": "abc1",{% endif %}{% for c in components %}
      "{{c.slug}}": {"mark": {{c.max_mark|floatformat:2}}, "comment": "Comment on {{c.title}}."}{% if not forloop.last %},{% endif %}{% endfor %}
    },
    {
      {% if activity.group %}"group": "g-grouptwo",{% else %}"userid": "def1",{% endif %}{% for c in components %}
      "{{c.slug}}": {"mark": {{c.max_mark|floatformat:2}}, "comment": "Comment on {{c.title}}."},{% endfor %}
      "late_percent": 0.0,
      "mark_penalty": 0.0,
      "mark_penalty_reason": "Reason for mark penalty",
      "overall_comment": "Overall comment on the assignment."
    }
  ]
}
</pre></blockquote>
<p>Mark components may be omitted: they will be graded zero with no comment.  Comments can be empty or omitted. The <code>late_penalty</code> and other additional details can be omitted.</p>
{% if activity.group %}
<p>The labels for the groups are:</p>
<ul>
  {% for g in groups %}
  <li>{{g.name}}: <code>"{{g.slug}}"</code></li>
  {% endfor %}
</ul>

{% endif %}

{% endblock %}
