{% extends "marking/base.html" %}

{% block title %}Marking{% endblock %}

{% block h1 %}Marking{% endblock %}

{% block content %}
{% block courses %}
<h2>Courses</h2>    
    {% regroup course_memberships by offering.semester as semester_groups %}
    <ul>
    {% for semester in semester_groups %}      
      <li><h3 id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</li>
      <ul>
      {% for membership in semester.list %}
	  	<li><a href="{% url marking.views.list_activities course_slug=membership.offering.slug %}">{{membership.offering.name}}</a></li>
      {% endfor %}
      </ul>     
    {% endfor %}
    </ul>    
{% endblock %}
{% endblock %}
