{% extends "marking/base.html" %}

{% block title %}Marking{% endblock %}

{% block h1 %}Marking{% endblock %}

{% block content %}
{% block courses %}
<h2>Courses</h2>    
    {% regroup course_memberships by offering.semester as semester_groups %}    
    {% for semester in semester_groups %}           
      <h2 id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</h2> 
      <div class = "marking_a">     
      <ul>
      {% for membership in semester.list %}
	  	<li><a href="{% url marking.views.list_activities course_slug=membership.offering.slug %}">{{membership.offering.name}}</a></li>
      {% endfor %}
      </ul>   
      </div>
    {% endfor %}
{% endblock %}
{% endblock %}
