{% extends "base.html" %}
{% load form_display %}

{% block headextra %}
<script type="text/javascript">//<![CDATA[
function append_problem(n, penalty, content, outof) {
  // handle comment
  var comment = $("#id_cmp-" + n + "-comment");
  var text = comment.val();
  if ( text != "" ) { text += "; " }
  text += content;
  comment.val(text);
  
  // handle mark
  var value = $("#id_cmp-" + n + "-value");
  if ( penalty == 0 ) { return; }
  mark = parseFloat(value.val());
  if ( isNaN(mark) || mark==0 ) {
    // logic: negative penalty must mean we're marking from 0 up; positive from max mark down.
    if ( penalty<0 ) {
      mark = 0.0;
    } else {
      mark = outof;
    }
  }
  mark -= penalty;
  value.val(mark);
}

$(document).ready(function() {
  $(".group_members").collapsible();
});

//]]></script>
{% endblock%}

{% block title %}Marking: {% if student %}{{student.name}}{% else %}{{ group.name }}{% endif %}, {{activity.name}}{% endblock %}
{% block h1 %}Marking: {% if student %}<a href="{% url 'offering:student_info' course_slug=course.slug userid=student.userid_or_emplid %}">{{student.name}}</a>{% else %}<a href="{{ group.get_absolute_url }}">{{ group.name }}</a>{% endif %}, {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li>
<li>Mark {% if student %}{{student.name}}{% else %}{{ group.name }}{% endif %}</li>{% endblock %}

{% block content %}
    {% if group_members %}
    <h2 class="group_members">Group Members ({{ group_members|length }})</h2>
    <ul class="bulleted">
    {% for m in group_members %}
        <li><a href="{% url "offering:student_info" course_slug=course.slug userid=m.student.person.userid %}">{{ m.student.person.name_with_pref }}</a>, {{ m.student.person.userid }} {% if not m.confirmed %}(unconfirmed){% endif %}
    {% endfor %}
    </ul>
    {% endif %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	 {% for entry in component_data %}
	     <fieldset class="marking">
	     <legend>{{entry.component.title}}</legend> 
		     <div class="common">
			    {% with forloop.counter as pos %}
			    Common problems:
			    <div>
			    {% for problem in entry.common_problems %}
			        <input type="button" value="{{problem.title}}" title="{{problem.description}}{%if problem.penalty%} [penalty: {{problem.penalty}}]{%endif%}"
			        onclick="append_problem({{pos}}, {{problem.penalty}}, '{{problem.description|escapejs}}', {{entry.component.max_mark}});"/>
			    {% endfor %}
			    <a href="{% url "offering:marking:manage_common_problems" course_slug=course.slug activity_slug=activity.slug%}" title="Manage common problems">Manage&hellip;</a>
			    </div>
			    {% endwith %}
		 	 </div>
             <div class="description">{{ entry.component.description|linebreaks }}</div>
             {{ entry.form|as_dl_noreq }}
	  </fieldset>
     {% empty %}
	   	<p class="empty">Marking is not <a href="{% url "offering:marking:manage_activity_components" course_slug=course.slug activity_slug=activity.slug %}" title="Edit components">configured</a>.
	    </p>
	 {% endfor %}
	 <fieldset>
	 <legend>Additional Information</legend>
     {{form|as_dl}}
     {{ 0|required_message }}
     <p>
     <input class="submit" type="submit" name="mark" value="Submit" />
	 {% if not group %}
	   <input class="submit" type="submit" name="marknext" title="submit this form and mark next student (by userid)" value="Submit and mark next userid" />
	 {% endif %}
     </p>
	 </fieldset>
</form>

{% endblock %}
