{% extends "marking/base.html" %}

{% block marking_header_extra %}
<script type="text/javascript">
    $(document).ready(function() {
	oTable = $('.display').dataTable({
		"bJQueryUI": true,
		"bFilter": false,
		"bPaginate": false,
		"bInfo": false,
		"aaSorting": [[ 0, "asc" ]]	
	});
    });
</script>
{% endblock %}

{% block title %}Marking History {% endblock %}

{% block h1 %} Marking History {% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{course}}</a></li><li>&gt; <a href="{% url grades.views.activity_info course_slug=course.slug, activity_slug=activity.slug %}">{{activity.name}}</a></li>{% endblock %}

{% block content %}
<h2> For Student {{student.userid}} on {{activity.name}} of {{course.name}} </h2>
<div class = "datatable_container">
  <h3>Assigned directly:</h3>
  <table class="display">
	<thead>
		<tr>
			<th>Time</th>
			<th>Marker</th>
			<th>Mark Given</th>		
		</tr>
	</thead>
	<tbody>
	    {% for act_mark in marks_individual %}
		      <td>
		       {{act_mark.created_at|date:"Y M d D"}} {{act_mark.created_at|time:"H:i:s"}}
		       {% ifequal act_mark current_mark %}
		       <img src = "{{MEDIA_URL}}icons/tick.png" title="Currently Valid" alt="Currently Valid" />
		       {% endifequal %}		       
		      </td>
	          <td>{{ act_mark.created_by }}</td>           
	          <td>{{ act_mark.mark }}/{{ activity.max_grade }}
	          	<a href="{% url marking.views.mark_summary course_slug=course.slug activity_slug=activity.slug, userid=student.userid %}?activity_mark={{act_mark.id}}"><img src="{{MEDIA_URL}}icons/magnifier.png" title="View Detail" alt="View Detail" /></a>
	          </td>
	        </tr>	
	    {% endfor %}
    </tbody>
  </table>  
</div> 
{% if marks_via_group %}
<div id = "table_container">
  <h3>Assigned via Group:<h3>
  <table class="display">
	<thead>
		<tr>
			<th>Time</th>
			<th>Via Group</th>
			<th>Marker</th>
			<th>Mark Given</th>		
		</tr>
	</thead>
	<tbody>
	    {% for act_mark in marks_via_group %}
		      <td>
		      {{ act_mark.created_at }}
		       {% ifequal act_mark current_mark %}
		       <img src = "{{MEDIA_URL}}icons/tick.png" title="Currently Valid" alt="Currently Valid" />
		       {% endifequal %}		       
		      </td>
	          <td>{{ act_mark.created_by }}</td>
	          <td>{{ act_mark.group.name }}</td>           
	          <td>{{ act_mark.mark }}/{{ activity.max_grade }}
	          	<a href="{% url marking.views.mark_summary course_slug=course.slug activity_slug=activity.slug userid=student.userid%}?activity_mark={{act_mark.id}}"><img src="{{MEDIA_URL}}icons/magnifier.png" title="View Detail" alt="View Detail" /></a>
	          </td>
	        </tr>	
	    {% endfor %}
    </tbody>
  </table>  
</div> 
{% endif %}
{% endblock %}
