{% extends "marking/base.html" %}

{% block marking_header_extra %}
<script type="text/javascript">
$(document).ready(function() {
	var oTable = $('#all_marks').dataTable({
		"bJQueryUI": true,
		"bSort": false,
		"bPaginate": false	/* turn off the pagination */
	});		
		
	var oRows = oTable.fnGetNodes();
	
	/* set the tab indices of all the text boxes*/
	var tabi = 1;
	for(var r = 0; r < oRows.length; r++)
	{
		var mark_entry = oRows[r].getElementsByTagName('input');
		if(mark_entry.length > 0)
			mark_entry[0].tabIndex = tabi ++;
	}	
});
</script>
{% endblock %}

{% block title %}Mark All{% endblock %}
{% block h1 %} Mark All Students {% endblock %}
{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; <a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">{{activity.name}}</a></li><li>&gt; Mark All Students</li>{% endblock %}

{% block content %}
<form id= "import_file_form" action="{%url marking.views.mark_all_students course_slug=course.slug activity_slug=activity.slug%}?import=true" method="post" enctype="multipart/form-data"> 
{% if fileform.file.errors %}
<div class="errortext"><img src="{{MEDIA_URL}}icons/error.png" alt="error"/>&nbsp;{{fileform.file.errors.0}}</div>
{% endif %} 
{{fileform.file}}
<input type="submit" value="import"/>
</form>
{% if too_many %}
<a class="redbutton reset_button" href="{% url marking.views.mark_all_students course_slug=course.slug activity_slug=activity.slug %}">Reset</a>
{% endif %}
<form id = "grades_form" action="{%url marking.views.mark_all_students course_slug=course.slug activity_slug=activity.slug%}" method="post">
{%if too_many %}
<input class="submit" type="submit" value="Submit" />
{% endif %}
<div class="datatable_container">
     <table class="display" id="all_marks">
        <thead class="form_head">
            <tr>
                <th>Student Name</th>
				<th>Student Number</th>
				<th>Current Grade</th>
				<th>New Grade</th>
		</thead>
        <tbody>
	    {% for mark_row in mark_all_rows %}
	    {% with mark_row.student as student %}
	    <tr>
		<td>
		    <strong>
			<a href="{% url grades.views.activity_info_student course_slug=course.slug activity_slug=activity.slug userid=student.userid %}">{{ student.name }}</a>
		    </strong>
		</td>
		{% with mark_row.form as form %}
		<td>{{ student.emplid }}</td>
		<td>{{ mark_row.current_grade }}</td>
		<td>
		{{ form.value }} / {{activity.max_grade}}
		{% if form.value.errors %}
		<div class="errortext"><img src="{{MEDIA_URL}}icons/error.png" alt="error"/>&nbsp;{{form.value.errors.0}}</div>
		{% endif %} 
		</td>
		{% endwith %}	    
	    </tr>
	    {%endwith%}
	    {% empty %}
	    <tr>
		<td>No student</td>
		<td></td>
		<td></td>
		<td></td>
	    </tr>
	    {% endfor %}
        </tbody>
    </table>
</div>
<input class="submit" type="submit" value="Submit" />
</form>
<a class="redbutton reset_button" href="{% url marking.views.mark_all_students course_slug=course.slug activity_slug=activity.slug %}">Reset</a>
{% endblock %}
