{% extends "base.html" %}

{% block title %}Marking: {% if student %}{{student.name}}{% else %}{{ group.name }}{% endif %}, {{activity.name}}{% endblock %}
{% block h1 %}Marking: {% if student %}{{student.name}}{% else %}{{ group.name }}{% endif %}, {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>{% if student %}{{student.name}}{% else %}{{ group.name }}{% endif %} Marking</li>{% endblock %}

{% block actions %}
{% if is_staff %}
<div id="actions">
  <h2 class="heading">Actions</h2>
  <ul>
  {% if student %}
  <li><a href="{% url "submission.views.take_ownership_and_mark" course_slug=course.slug activity_slug=activity.slug userid=student.userid %}?base_activity_mark={{activity_mark.id}}">Edit Marking</a></li>
  {% if view_history %}<li><a href="{% url "marking.views.mark_history_student" course_slug=course.slug activity_slug=activity.slug userid=student.userid %}">View History</a></li>{% endif %}
  {% else %}
  <li><a href="{% url "submission.views.take_ownership_and_mark" course_slug=course.slug activity_slug=activity.slug group_slug=group.slug %}?base_activity_mark={{activity_mark.id}}">Edit Marking</a></li>
  {% if view_history %}<li><a href="{% url "marking.views.mark_history_group" course_slug=course.slug activity_slug=activity.slug group_slug=group.slug %}">View History</a></li>{% endif %}
  {% endif %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
	<table class="info">
	<tbody> 
		 <tr>
	    	<th scope="row">Marked by</th>
	        <td>
	            {{ activity_mark.created_by }}
	        </td>
	    </tr>
	    {% if is_staff %}<tr>
	    	<th scope="row">Time</th>
	        <td>
	            {{activity_mark.created_at}} 
	        </td>
	    </tr>{% endif %}
	    <tr>
	    	<th scope="row">Total Mark</th>
	        <td>
	            {{ activity_mark.mark }} / {{activity.max_grade}}
	        </td>
	    </tr>   
	    {% if student and group %}
	    <tr>
	    	<th scope="row">In group</th>
	        <td>&ldquo;{{group.name}}&rdquo;</td>
	    </tr>   
	    {% endif %}  
	</tbody>
	</table>

<h2 id="details">Details</h2>

<table id="mark_details">
  {% for component in component_marks %}
  <tr>
  <td colspan="3"><h3>{{component.activity_component.title}}</h3></td>
  <td colspan="1" class="mark">{{component.value}} / {{component.activity_component.max_mark}}</td>
  </tr>
  <tr>
  <td colspan="1" class="subrow"></td>
  <td colspan="1" class="subhead">Description</td>
  <td colspan="2">{{component.activity_component.description|linebreaks}}</td>
  </tr>
  <tr>
  <td colspan="1" class="subrow"></td>
  <td colspan="1" class="subhead comment">Comment</td>
  <td colspan="2" class="comment">{{component.comment|linebreaks}}</td>
  </tr>
  
  {% empty %}
  <tr colspan="3" class="empty">No records on component marks found.</tr>
  {% endfor %}
  
  {% if activity_mark.mark_adjustment != 0 or activity_mark.mark_adjustment_reason != '' %}
    <tr>
    <td colspan="3"><h3>Mark Adjustment</h3></td>
    <td colspan="1" class="mark">{% if activity_mark.mark_adjustment_neg > 0 %}+{% endif %}{{ activity_mark.mark_adjustment_neg }}</td>
    </tr>
    <tr>
    <td colspan="1" class="subrow"></td>
    <td colspan="1" class="subhead">Reason</td>
    <td colspan="2">{{ activity_mark.mark_adjustment_reason|linebreaks }}</td>
    </tr>
  {% endif %}
  {% if activity_mark.late_penalty != 0 %}
    <tr>
    <td colspan="3"><h3>Late Penalty</h3></td>
    <td colspan="1" class="mark">-{{ activity_mark.late_penalty }}%</td>
    </tr>
  {% endif %}
  <tr>
  <td colspan="4"><h3>Overall</h3></td>
  </tr>
  <tr>
  <td colspan="1" class="subrow"></td>
  <td colspan="1" class="subhead comment">Comment</td>
  <td colspan="2" class="comment">{{ activity_mark.overall_comment|linebreaks }}</td>
  </tr>
  {% if activity_mark.file_attachment %}
    <tr>
    <td colspan="1" class="subrow"></td>
    <td colspan="1" class="subhead">Attachment</td>
    <td colspan="2"><a href="{% url "marking.views.download_marking_attachment" course_slug=course.slug activity_slug=activity.slug mark_id=activity_mark.id %}">{{activity_mark.attachment_filename}} <i class="fa fa-download" title="Download"></i></a></td>
    </tr>
  {% endif %}
  <tr id="totalrow">
  <td colspan="1" class="subrow"></td>
  <td colspan="2" class="subhead">Total</td>
  <td colspan="1" class="mark">{{ activity_mark.mark }} / {{activity.max_grade}}</td>
  </tr>
  
</table>




{% endblock %}
