{% extends "marking/base.html" %}

{% block marking_header_extra %}
<script type="text/javascript">
    $(document).ready(function() {
	oTable = $('.display').dataTable({
		"bJQueryUI": true,
		"bFilter": false,
		"bPaginate": false,
		"aaSorting": [[ 0, "desc" ]] /*as default sorted by created time: from latest to earliest*/	
	});
    });
</script>
{% endblock %}

{% block title %}Marking History {% endblock %}

{% block h1 %} Marking History {% endblock %}

{% block marking_subbreadcrumbs %}
<li>&gt; <a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>&gt; Marking History</li>
{% endblock %}

{% block content %}
<h2> For Student {{student.userid}} on {{activity.name}} of {{course.name}} </h2>
<div>
</br>
<img src = "{{MEDIA_URL}}icons/tick.png" title="Currently Valid" alt="Currently Valid" />
: Currently Valid
</br>
</div>
{% if marks_individual %}
<div class = "datatable_container">
  <h3>Assigned directly to this individual:</h3>
  <table class="display">
	<thead>
		<tr>
			<th>Time</th>
			<th>Marker</th>
			<th>Mark Given</th>		
		</tr>
	</thead>
	<tbody>
	    {% for act_mark in marks_individual %}
	     	<tr>
		      <td>
		       {{act_mark.created_at|date:'r'}} 
		       {% ifequal act_mark current_mark %}
		       <img src = "{{MEDIA_URL}}icons/tick.png" title="Currently Valid" alt="Currently Valid" />
		       {% endifequal %}		       
		      </td>
	          <td>{{ act_mark.created_by }}</td>           
	          <td>{{ act_mark.mark }}/{{ activity.max_grade }}
	          	<a href="{% url "marking.views.mark_summary_student" course_slug=course.slug activity_slug=activity.slug userid=student.userid %}?activity_mark={{act_mark.id}}"><img src="{{MEDIA_URL}}icons/magnifier.png" title="View Detail" alt="View Detail" /></a>
	          </td>
	        </tr>	
	    {% endfor %}
    </tbody>
  </table>  
</div> 
{% endif %}
{% if marks_via_group %}
<div class = "datatable_container">
  <h3>Assigned via group:</h3>
  <table class="display">
	<thead>
		<tr>
			<th>Time</th>
			<th>Via Group</th>
			<th>Marker</th>
			<th>Mark Given</th>		
		</tr>
	</thead>
	<tbody>
	    {% for act_mark in marks_via_group %}
	    	<tr>
		      <td>
		       {{act_mark.created_at|date:'r'}} 
		       {% ifequal act_mark current_mark %}
		       <img src = "{{MEDIA_URL}}icons/tick.png" title="Currently Valid" alt="Currently Valid" />
		       {% endifequal %}		       
		      </td>		      
	          <td>{{ act_mark.group.name }}</td> 
	          <td>{{ act_mark.created_by }}</td>          
	          <td>{{ act_mark.mark }}/{{ activity.max_grade }}
	          	<a href="{% url "marking.views.mark_summary_student" course_slug=course.slug activity_slug=activity.slug userid=student.userid%}?activity_mark={{act_mark.id}}"><img src="{{MEDIA_URL}}icons/magnifier.png" title="View Detail" alt="View Detail" /></a>
	          </td>
	        </tr>	
	    {% endfor %}
    </tbody>
  </table>  
</div> 
{% endif %}
{% endblock %}
