{% extends "base.html" %}
{% load form_display %}

{% block headextra %}
<script type="text/javascript">
var oTable;
function clear_filter() {
  oTable.fnFilter("");
  return true;
}
$(document).ready(function() {
	oTable = $('#all_marks').dataTable({
		"bJQueryUI": true,
		"bSort": true,
		"bPaginate": false,
		"aoColumns": [null, null, null, {% if course.labtut %}null,{% endif %} { "sType": "by-mark" }, { "bSearchable": false, "bSortable": false }]
	});
});
</script>
{% endblock %}

{% block title %}Mark All Students{% endblock %}
{% block h1 %}Mark All Students{% endblock %}
{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>Mark All Students</li>{% endblock %}

{% block content %}
<form action="{% url "marking.views.mark_all_students" course_slug=course.slug activity_slug=activity.slug %}?import=true" method="post" enctype="multipart/form-data">{% csrf_token %}
<p><input type="submit" class="submit" value="Import"/></p>
{{fileform.file|field_display}}
</form>
<p class="helptext">Imported file must be CSV (comma-separated values). File can be in one of two formats:</p>
<ul class="helptext bulleted">
<li> With header: The file should be a grade file exported by this system or
one with the same format.  There must be a column labelled
<code>{{ userid_header }}</code> containing the student's userid and a column labelled
with the short name of the assignment (such as <code>{{activity.short_name}}</code> for this activity) containing
the grade.  All other columns will be ignored.
</li>
<li> No header: First column can be either student number or userid; second
column is the grade.  Other columns will be ignored.</li>
</ul>
{% if too_many %}
<a class="redbutton reset_button" href="{% url "marking.views.mark_all_students" course_slug=course.slug activity_slug=activity.slug %}">Reset</a>
{% endif %}
<form id="grades_form" class="subtle" action="{% url "marking.views.mark_all_students" course_slug=course.slug activity_slug=activity.slug %}" method="post" onsubmit="return clear_filter()">{% csrf_token %}
{%if too_many %}
<input class="submit" type="submit" value="Submit" />
{% endif %}
     <table class="display" id="all_marks">
        <thead class="form_head">
            <tr>
                <th>Name</th>
		<th>Student #</th>
		<th>User ID</th>
		{% if course.labtut %}<th>Lab/Tut</th>{% endif %}
		<th>Current Grade</th>
		<th>New Grade</th>
	    </tr>
	</thead>
        <tbody>
	    {% for mark_row in mark_all_rows %}
	    {% with mark_row.student as student %}
	    {% with mark_row.member as member %}
	    <tr>
		<td>{{ student.sortname_pref }}</td>
		{% with mark_row.form as form %}
		<td>{{ student.emplid }}</td>
		<td>{{ student.userid }}</td>
		{% if course.labtut %}<td>{{member.labtut_section}}</td>{% endif %}
		<td>{{ mark_row.current_grade }}</td>
		<td>
		{{ form.value }}&nbsp;/&nbsp;{{activity.max_grade}}
		{% if form.value.errors %}
		<div class="errortext"><img src="{{STATIC_URL}}icons/error.png" alt="error"/>&nbsp;{{form.value.errors.0}}</div>
		{% endif %} 
		</td>
		{% endwith %}	    
	    </tr>
	    {%endwith%}
	    {%endwith%}
	    {% empty %}
	    <tr>
		<td class="empty">No students</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	    </tr>
	    {% endfor %}
        </tbody>
    </table>
<div><input class="submit" type="submit" value="Submit" /></div>
</form>
{% endblock %}
