{% extends "marking/base.html" %}

{% block marking_header_extra %}
<script type="text/javascript">

var oTable;
var heading = "<div class=\"datatable_container\">" +
     	"<table class=\"display\" id=\"all_marks\">" +
        "<thead class=\"form_head\"><tr>" +
                "<th>Student Name</th>" +
				"<th>Student Number</th>" + 
				"<th>Current Grade</th>" + 
				"<th>New Grade</th>" +
				"<th>New Status</th>" +
		"</thead><tbody>";
var tail = "</tbody></table></div>" +
           "<input type=\"submit\" value=\"Submit\" /><input type=\"button\" value=\"Reset\">";

$(document).ready(function() {
	$('#my_form').submit( function() {	    
	    /* because DataTable does not include the DOM elements which are not currently being displayed */
	    /* here, we have to include all the into the content of the form */		
		var content = heading;				
	    var oRows = oTable.fnGetNodes();/* get all the rows */
		for(var i = 0; i < oRows.length; i = i+1)
	    {
			content = content + "<tr>" + oRows[i].innerHTML + "</tr>";
		}			
		content = content + tail;		
		this.innerHTML = content;
		/* redraw the datatable */
		oTable = $('#all_marks').dataTable({
			"bJQueryUI": true,
			"bSort": false,
			"sPaginationType": "full_numbers",
			"iDisplayLength" : 50,
	    });				
    });
	
	oTable = $('#all_marks').dataTable({
		"bJQueryUI": true,
		"bSort": false,
		"sPaginationType": "full_numbers",
		"iDisplayLength" : 50,
	});	
} );
</script>
{% endblock %}

{% block title %}Mark All{% endblock %}
{% block h1 %} Mark All Students {% endblock %}
{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{course}}</a></li><li>&gt; <a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">{{activity.name}}</a></li>{% endblock %}

{% block content %}
<div>
<p><strong>Note: leave the entry blank if you don't want to give a mark or override the current one</strong></p>
</div>
<form id = "my_form" action="" method="post">
<div class="datatable_container">
     <table class="display" id="all_marks">
        <thead class="form_head">
            <tr>
                <th>Student Name</th>
				<th>Student Number</th>
				<th>Current Grade</th>
				<th>New Grade</th>
				<th>New Status</th>
		</thead>
        <tbody>
	    {% for mark_row in mark_all_rows %}
	    {% with mark_row.student as student %}
	    <tr>
		<td>
		    <strong>
			<a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug%}?id={{ student.id }}">{{ student.name }}</a>
		    </strong>
		</td>
		{% with mark_row.form as form %}
		<td>{{ student.emplid }}</td>
		<td>{{ mark_row.current_grade }}</td>
		<td>
		{{ form.value }} / {{activity.max_grade}}
		{% if form.value.errors %}
		<div class="errortext"><img src="{{MEDIA_URL}}icons/error.png" alt="error"/>&nbsp;{{form.value.errors.0}}</div>
		{% endif %} 
		</td>	
		<td>{{ form.status }}</td>
		{% endwith %}
	    </tr>
	    {%endwith%}
	    {% empty %}
	    <tr>
		<td>No student</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	    </tr>
	    {% endfor %}
        </tbody>
    </table>
</div>
<input type="submit" value="Submit" />  
<input type="button" value="Reset" onclick="location.href='{% url marking.views.mark_all_students course_slug=course.slug, activity_slug=activity.slug %}'" />
</form>
{% endblock %}
