{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript">
    $(document).ready(function() {
	oTable = $('.display').dataTable({
		"bJQueryUI": true,
		"bFilter": false,
		"bInfo": false,
		"bPaginate": false,
		"aaSorting": [[ 0, "desc" ]] /*as default sorted by created time: from latest to earliest*/	
	});
    });
</script>
{% endblock %}

{% block title %}Marking History: {{student.name}}, {{activity.name}}{% endblock %}
{% block h1 %}Marking History: {{student.name}}, {{activity.name}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li>
<li><a href="{% url "marking.views.mark_summary_student" course_slug=course.slug activity_slug=activity.slug userid=student.userid %}">{{student.name}} Marking</a></li>
<li>History</li>
{% endblock %}

{% block content %}
{% if marks_individual %}
  <h3 id="indiv">Assigned directly to this individual</h3>
  <table class="display">
	<thead>
		<tr>
			<th scope="col">Time</th>
			<th scope="col">Marker</th>
			<th scope="col">Mark Given</th>
		</tr>
	</thead>
	<tbody>
	    {% for act_mark in marks_individual %}
	     	<tr>
		      <td>
               <span class="sort">{{act_mark.created_at.isoformat}}</span>
		       {{act_mark.created_at}}
		       {% ifequal act_mark current_mark %}
		       <i class="fa fa-check-circle infomessage"></i>
		       {% endifequal %}		       
		      </td>
	          <td>{{ act_mark.created_by }}</td>           
	          <td>{{ act_mark.mark }}/{{ activity.max_grade }}
	          	<a href="{% url "marking.views.mark_summary_student" course_slug=course.slug activity_slug=activity.slug userid=student.userid %}?activity_mark={{act_mark.id}}"><i class="fa fa-search" title="View detail"></i></a>
	          </td>
	        </tr>	
	    {% endfor %}
    </tbody>
  </table>  
{% endif %}
{% if marks_via_group %}
  <h3 id="group">Assigned via group</h3>
  <table class="display">
	<thead>
		<tr>
			<th scope="col">Time</th>
			<th scope="col">Via Group</th>
			<th scope="col">Marker</th>
			<th scope="col">Mark Given</th>
		</tr>
	</thead>
	<tbody>
	    {% for act_mark in marks_via_group %}
	    	<tr>
		      <td>
               <span class="sort">{{act_mark.created_at.isoformat}}</span>
		       {{act_mark.created_at}}
		       {% ifequal act_mark current_mark %}
		       <i class="fa fa-check-circle infomessage"></i>
		       {% endifequal %}		       
		      </td>		      
	          <td>{{ act_mark.group.name }}</td> 
	          <td>{{ act_mark.created_by }}</td>          
	          <td>{{ act_mark.mark }}/{{ activity.max_grade }}
	          	<a href="{% url "marking.views.mark_summary_student" course_slug=course.slug activity_slug=activity.slug userid=student.userid%}?activity_mark={{act_mark.id}}"><i class="fa fa-search" title="View detail"></i></a>
	          </td>
	        </tr>	
	    {% endfor %}
    </tbody>
  </table>
{% endif %}
<p><i class="fa fa-check-circle infomessage"></i> indicates the currently-valid marks.</p>
{% endblock %}
