{% extends "marking/base.html" %}



{% block title %}{{course.name}}: {{activity.name}} Marking{% endblock %}

{% block h1 %}{{course.name}}: {{activity.name}} Marking {% endblock %}

{% block content %}

<form action="{% url marking.views.marking course_slug=course.slug, activity_short_name=activity.short_name %}" method="POST" enctype="multipart/form-data">  
	 {{receiver_form.as_p}}
	 {% for entry in mark_components %} 
	     <div>         
	     <p>{{entry.component.title}}:  {{entry.component.description}}</p>  
	     {% for field in entry.form %} 
	      	{% ifequal field.name "value" %}
	      		{{field}} out of {{entry.component.max_mark}}
	      	{% else %}
	      		{{ field.label_tag }}: {{ field }}
	      	{% endifequal %}  
	      	{% if field.errors %}	            
			      <img src="{{MEDIA_URL}}/icons/cross.png" />
			{% endif %}        	
	     {% endfor %}
	     </div>
     {% empty %}
	   	<h2> No Components to Mark</h2>
	 {% endfor %}
	 
	 {{additional_info_form.as_p}}
   
     {% if error_info %}
   		<h2 style = "color:red">Can not save: {{error_info}}<h2>
     {% endif %}
   <input type="submit" value="Save" />  
   <input type="button" value="Reset" onClick="location.href='{% url marking.views.marking course_slug=course.slug, activity_short_name=activity.short_name %}'">
</form>

{% endblock %}