{% extends "marking/base.html" %}

{% block title %}Marking Summary{% endblock %}

{% block h1 %} Marking Summary {% endblock %}

{% block marking_subbreadcrumbs %}<li>&gt; <a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>&gt; Marking Summary</li>{% endblock %}

{% block content %}
<h2>
{% if student %}
Student {{student.userid}} marked on {{activity.name}} 
{% else %}
Group {{group.name}} marked on {{activity.name}} 
{% endif %}
</h2>

<h2>Basic Information</h2>
<div class="table_container">
	<table class="info">
	<tbody> 
		 <tr>
	    	<th class="ui-state-default">Marked by</th>
	        <td>
	            {{ activity_mark.created_by }}
	        </td>
	    </tr>
	    {% if is_staff %}<tr>
	    	<th  class="ui-state-default">Time</th>
	        <td>
	            {{activity_mark.created_at|date:'r'}} 
	        </td>
	    </tr>{% endif %}
	    <tr>
	    	<th  class="ui-state-default">Total Mark</th>
	        <td>
	            {{ activity_mark.mark }} out of {{activity.max_grade}}
	        </td>
	    </tr>   
	    {% if student %}
	    <tr>
	    	<th  class="ui-state-default">Mark Approach</th>
	        <td>
	            {% if group %}
	            Via group &ldquo;{{group.name}}&rdquo;
	            {% else %}
	            Directly to individual
	            {% endif %}
	        </td>
	    </tr>   
	    {% endif %}  
	</tbody>
	</table>
</div>

<h2> Additional Information </h2>
<div class = "table_container">
	<table class="info">
	<tbody>
	    <tr>
	       <th class="ui-state-default">Overall comment</th>
	       <td> 
		      {{ activity_mark.overall_comment|linebreaks }}	
           </td>
        </tr>    
		<tr>
		  <th class="ui-state-default">Late Percent</th>
		  <td> 
			 {{ activity_mark.late_penalty }}%
	      </td>
	    </tr>
	    {% if activity_mark.mark_adjustment != 0 or activity_mark.mark_adjustment_reason != '' %}
	    <tr>
		  <th class="ui-state-default">Mark Penalty</th>
		  <td> 
			 {{ activity_mark.mark_adjustment }}
	      </td>
	    </tr>
	    <tr>
		  <th class="ui-state-default">Mark Penalty Reason</th>
		  <td> 
			 {{ activity_mark.mark_adjustment_reason|linebreaks }}	
	      </td>
	    </tr>
	    {% endif %}
		  {% if activity_mark.file_attachment %}
	    <tr>
		  <th class="ui-state-default">File Attachment</th>
		    <td>
		    <a href = "{% url marking.views.download_marking_attachment course_slug=course.slug, activity_slug=activity.slug, mark_id=activity_mark.id %}">{{activity_mark.attachment_filename}} <img src="{{MEDIA_URL}}icons/download.png" title="Download" alt="Download" /></a>		    
		    </td>
	    </tr>
	      {% endif %}
    </tbody>
    </table>
</div>   

<h2> Components Details </h2>
<div id="marking_summary_container">
{% for component_mark in component_marks %}
<div class="component_mark">
    <label class="component_title">{{component_mark.activity_component.title}}</label>
    <div class="component_description">
   		<label>Description:</label>{{component_mark.activity_component.description|linebreaks}}
    </div>
	<ul>	   
        <li>
	        <label>Mark:</label>{{component_mark.value}} out of {{component_mark.activity_component.max_mark}}
        </li>
        <li>
       		<label>Comment: </label>{{component_mark.comment|linebreaks}}
        </li>
    </ul>
</div>
{% empty %}
<h3 class="empty">No records on component marks found</h3>
{% endfor %}
</div>

{% if is_staff %}

{% if student %}
<a class="button" href= "{% url submission.views.take_ownership_and_mark course_slug=course.slug activity_slug=activity.slug userid=student.userid %}?base_activity_mark={{activity_mark.id}}">Mark based on this</a>
{% else %}
<a class="button" href= "{% url submission.views.take_ownership_and_mark course_slug=course.slug activity_slug=activity.slug group_slug=group.slug %}?base_activity_mark={{activity_mark.id}}">Mark based on this</a>
{% endif %}

{% if view_history %}
    {% if student %}
		<a class="button" href = "{% url marking.views.mark_history_student course_slug=course.slug activity_slug=activity.slug userid=student.userid %}">Marking History</a>
	{% else %}
		<a class="button" href = "{% url marking.views.mark_history_group course_slug=course.slug activity_slug=activity.slug group_slug=group.slug %}">Marking History</a>
	{% endif %}
{% endif %}	

{% endif %}

{% endblock %}
