{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript">
var oTable;
function clear_filter() {
  oTable.fnFilter("");
  return true;
}
$(document).ready(function() {
	oTable = $('#all_marks').dataTable({
		"bJQueryUI": true,
		"bSort": true,
		"bPaginate": false,
		"aoColumns": [null, { "sType": "by-letter" }, { "bSearchable": false, "bSortable": false }]
	});

});
</script>
{% endblock %}

{% block title %}Mark All Groups{% endblock %}
{% block h1 %}Mark All Groups{% endblock %}
{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>Mark All Groups</li>{% endblock %}
{% block content %}

<form id="grades_form" class="subtle" action="{% url "marking.views.mark_all_groups" course_slug=course.slug activity_slug=activity.slug %}" method="post" onsubmit="return clear_filter()">{% csrf_token %}
     <table class="display" id="all_marks">
        <thead class="form_head">
            <tr>
                <th>Group Name</th>
		<th>Current Grade</th>
		<th>New Grade</th>
	    </tr>	
	</thead>
        <tbody>
	    {% for mark_row in mark_all_rows %}
	    {% with mark_row.group as group %}
	    <tr>
		<td>
		    <strong>
			<a href="#">{{ group.name }}</a>
		    </strong>
		</td>		
		<td>{{ mark_row.current_grade }}</td>
		{% with mark_row.form as form %}
		<td>
		{{ form.value }}
		{% if form.value.errors %}
		<div class="errortext"><img src="{{STATIC_URL}}icons/error.png" alt="error"/>&nbsp;{{form.value.errors.0}}</div>
		{% endif %} 
		</td>
		{% endwith %}	    
	    </tr>
	    {%endwith%}
	    {% empty %}
	    <tr>
		<td class="empty">No groups</td>
		<td></td>
		<td></td>
	    </tr>
	    {% endfor %}
        </tbody>
    </table>
<div><input class="submit" type="submit" value="Submit" /></div>
</form>
{% endblock %}
