{% extends "marking/base.html" %}
{% load course_display %}

{% block marking_header_extra %}
<script type="text/javascript">//<![CDATA[
function append_problem(n, penalty, content, outof) {
  // handle comment
  var comment = $("#id_cmp-" + n + "-comment");
  var text = comment.val();
  if ( text != "" ) { text += "; " }
  text += content;
  comment.val(text);
  
  // handle mark
  var value = $("#id_cmp-" + n + "-value");
  if ( penalty == 0 ) { return; }
  mark = parseFloat(value.val());
  if ( isNaN(mark) || mark==0 ) {
    // logic: negative penalty must mean we're marking from 0 up; positive from max mark down.
    if ( penalty<0 ) {
      mark = 0.0;
    } else {
      mark = outof;
    }
  }
  mark -= penalty;
  value.val(mark);
}
//]]></script>
{% endblock%}

{% block title %}{{activity.name}} Marking {% endblock %}
{% block h1 %}{{activity.name}} Marking {% endblock %}

{% block marking_subbreadcrumbs %}<li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>Marking</li>{% endblock %}

{% block content %}
     
<div class="form_container">
<div id="marking_container">
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
     {% if group %}
        <h2>Mark for Group: <a href="{{ group.get_absolute_url }}">{{group}}</a></h2>
     {% else %}
       {% if student %}           
        	<h2> Mark for Student: {{student.name}} ({{student.userid}}) </h2>       
       {% endif %}
     {% endif %}
	 {% for entry in component_data %}  	     
	     <fieldset>
	     <legend>{{entry.component.title}}</legend> 
		     <ul class="component">
		        <li>{{entry.component.description|linebreaks}}</li>
		        <li class="component_mark"> 
		        	Mark {{entry.form.value}} Out of {{entry.component.max_mark}}
		        	{% if entry.form.value.errors %}		        	
		        	<div class="errortext"><img src="{{MEDIA_URL}}icons/error.png" alt="error"/>&nbsp;{{entry.form.value.errors.0}}</div>	        	
		        	{% endif %}
		        </li>
		        <li class="common_problems">
			    {% with forloop.counter as pos %}
			    Common problems:    
			    <div>
			    {% for problem in entry.common_problems %}			    	
			        <input class="common_problem" type="button" value="{{problem.title}}" title="{{problem.description}}{%if problem.penalty%} [penalty: {{problem.penalty}}]{%endif%}" 
			        onclick="append_problem({{pos}}, {{problem.penalty}}, '{{problem.description|escapejs}}', {{entry.component.max_mark}});"/>
			    {% endfor %}
			    <a href="{% url "marking.views.manage_common_problems" course_slug=course.slug activity_slug=activity.slug%}" title="Manage common problems">Manage&hellip;</a>
			    </div>			    
			    {% endwith %}			    
			    </li>
		        <li class="component_comment">		    		      		 
		        	{{entry.form.comment.label_tag}} {{ entry.form.comment }}
		      		{% if entry.form.comment.errors %}		      		
		      		<div class="errortext"><img src="{{MEDIA_URL}}icons/error.png" alt="error"/>&nbsp;{{entry.form.comment.errors.0}}</div>	        			      		
		      		{% endif %}		      				      	  	
				</li>			
		 	</ul>   	 
	  </fieldset>
     {% empty %}
	   	<p class="empty">Marking is not <a href="{% url "marking.views.manage_activity_components" course_slug=course.slug activity_slug=activity.slug %}" title="Edit components">configured</a>.
	    </p>
	 {% endfor %}	 
	 <fieldset>
	 <legend>Additional Information</legend>
	 {% if group %}
	   {{form|display_form}}
	 {% else %}
	   {{form|display_form_marknext}}
	 {% endif %}
	 </fieldset>     
</form>
</div>
</div>

{% endblock %}
