{% extends "marking/base.html" %}

{% block title %}Copy Course Setup{% endblock %}
{% block h1 %}Copy Course Setup{% endblock %}

{% block marking_subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_config course_slug=course.slug %}">Setup</a></li><li>&gt; Copy Setup</li>{% endblock %}

{% block content %}

<form action="{%url marking.views.copy_course_setup course_slug=course.slug%}" method="post">{% csrf_token %}
    <h2> Please select the course to duplicate:</h2>
    <div>Source Course: {{select_form.course}} <input type="submit" value="Continue" ></div> 
    {% if select_form.course.errors %}
	<div class="errortext"><img src="{{MEDIA_URL}}icons/error.png" alt="error"/>&nbsp;{{select_form.course.errors.0}}</div>
    {% endif %} 
    <p>This will copy all activities, along with their submission and marking configuration to this course.</p>
</form>

{% endblock %}
