{% load discipline_filters %}
{% comment %}
This is used and an HTML email body: everything that happens here must work in email clients
http://en.wikipedia.org/wiki/HTML_e-mail
{% endcomment %}

<table style="width: 100%; border-collapse: collapse;">
<tr>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Course:</span> {{case.offering.subject}} {{case.offering.number}}</td>
  <td colspan="2" style="border: 1px solid black"><span style="font-weight: bold">Title:</span> {{case.offering.title}}</td>
</tr>
<tr>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Section:</span> {{case.offering.section}}</td>
  <td colspan="2" style="border: 1px solid black"><span style="font-weight: bold">Semester:</span> {{case.offering.semester.label}} ({{case.offering.semester.name}})</td>
</tr>
<tr>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Student Name:</span> {{case.student.sortname}}</td>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Student Number:</span> {% if case.student.emplid %}{{case.student.emplid}}{% else %}unknown{% endif %}</td>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Student Email:</span> {{case.student.email}}</td>
</tr>
<tr>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Instructor:</span> {{case.instructor.sortname}}</td>
  <td colspan="2" style="border: 1px solid black"><span style="font-weight: bold">Instructor Email:</span> {{case.instructor.email}}</td>
</tr>
</table>

<dl>
<dt style="font-weight: bold">Meeting with student</dt>
  <dd>
    <p>Met with the student on {{case.chair_meeting_date}}.</p>
    {{case|format_field:'chair_meeting_summary'}}
  </dd>
  <dd>{{case.meeting_text}}</dd>
<dt style="font-weight: bold">Facts of the case</dt>
  <dd>{{case|format_field:'facts'}}</dd>
<dt style="font-weight: bold">Penalty assigned by Chair/Director</dt>
  <dd>
  {% if case.chair_penalty_reason %}
  <p>Penalty: {{case.get_chair_penalty_display}}.</p>{{case|format_field:'chair_penalty_reason'}}
  {% else %}
   <p>{{case.get_chair_penalty_display|capfirst}}.</p>
  {% endif %}
  </dd>
<dt style="font-weight: bold">Case referred to UBSD?</dt>
  <dd><p>{{case.get_refer_ubsd_display}}</p></dd>
<p>This report will be retained by the University and, in the event of any further reports of academic dishonesty, it may be used to determine a penalty for the subsequent academic dishonesty.</p>
{% if case.public_attachments %}
<dt style="font-weight: bold">Enclosed</dt>
  <dd><ul>
  {% for f in case.public_attachments %}
  <li>{{f.name}} ({{f.filename}}, {{f.attachment.size|filesizeformat}})</li>
  {% endfor %}
  </ul></dd>
{% endif %}
</dl>


