{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#casestable').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    "aaSorting": [[4,'desc'], [5,'asc']],
    "aoColumns": [
      null,
      null,
      { "sType": "by-nolink" },
      null,
      null,
      null,
      null,
    ]
  } );
} );
</script>
{% endblock %}

{% block title %}Dishonesty Cases{% endblock %}
{% block h1 %}Dishonesty Cases{% endblock %}

{% block subbreadcrumbs %}<li>&gt; Dishonesty Cases</li>{% endblock %}

{% block content %}

<h2 id="instr">Instructor Cases</h2>
<div class="datatable_container">
<table id="casestable" class="display">
  <thead><tr><th scope="col">Done?</th><th scope="col">Chair's Case</th><th scope="col">Student</th><th scope="col">Cluster</th><th scope="col">Semester</th><th scope="col">Course</th><th scope="col">Instructor</th></tr></thead>
  <tbody>
  {% for c in instr_cases %}
  <tr><td>{% if c.done %}Done{% endif %}</td>
  <td class="miniaction">
  <!--
  {% if c.refer and c.letter_sent != "WAIT" %}{% if c.chair_case %}
  <a href="{% url discipline.views.chair_show course_slug=c.offering.slug case_slug=c.slug %}">Open</a>
  {% else %}
  <form action="{% url discipline.views.chair_create course_slug=c.offering.slug case_slug=c.slug %}" method="post">{% csrf_token %}<p><input type="submit" value="Create" disabled="disabled" /></p></form>
  {% endif %}{% endif %}
  -->
  </td>
  <td><a href="{% url discipline.views.chair_show_instr course_slug=c.offering.slug case_slug=c.slug %}">{{c.student.sortname}} ({{c.student.emplid}}, {{c.student.userid}})</a></td><td>{{c.group.name}}</td>
  <td><span class="sort">{{c.offering.semester.name}}</span>{{c.offering.semester}}</td><td>{{c.offering.name}}</td><td>{{c.owner}}</td>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
