{% extends "discipline/editbase.html" %}

{% block jsextra %}
function form_change() {
  // suggest assigning F if doing referral
  var penalty = $("input[name=chair_penalty]:checked").val();
  var refer = $("#id_refer_ubsd:checked").val();
  var div = $('#warning');
  if ( refer == "on" && penalty != "F" && penalty != "FD" ) {
    div.html('If referring to the UBSD, it is recommended that you assign an F or FD, since you are referring <em>for further penalty</em>.  This may not be appropriate if you are referring because of repeated cases of dishonesty.');
  } else {
    div.html('');
  }
}
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.name}}: Edit Chair's Penalty{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Edit Chair's Penalty{% endblock %}
{% block editlabel %}Chair's Penalty{% endblock %}

{% block actions %}{% endblock %}

{% block disc_content %}
<p>SFU's <a href="http://www.sfu.ca/policies/gazette/student.html">Academic Honesty and Student Conduct Policies</a> have this to say about deciding penalty:</p>
<blockquote style="font-size: 80%;">
	<p>In deciding upon the appropriate penalty to be imposed for an act of academic dishonesty,
		consideration must be given to the following factors:</p>
	<ol style="list-style-type: lower-roman;">
	<li>the extent of the academic dishonesty;</li>
	<li>whether the academic dishonesty was deliberate;</li>
	<li>the importance of the work in question as a component of the course or program;</li>
	<li>whether the act in question is an isolated incident or part of repeated acts of academic
	dishonesty; and</li>
	<li>any other mitigating or aggravating circumstances.</li>
	</ol>
</blockquote>

<div id="form_container">
    <form action="{% url discipline.views.edit_case_info field='chair_penalty' course_slug=course.slug case_slug=case.slug %}" method="post" onchange="form_change();">{% csrf_token %}
    <p>{{ form.chair_penalty.help_text }}
    	{{ form.chair_penalty }}</p>

    <hr class="fieldsep" />
    <div class="discside" id="group_refer_ubsd"></div>
    <p>{{ form.refer_ubsd.help_text }}
    	{{ form.refer_ubsd }}</p>
    <p class="helptext">The case may be referred to the UBSD if you &ldquo;believe that the academic dishonesty deserves a penalty beyond that provided for [above]&rdquo;.</p>
    <p class="actionwarning" id="warning"></p>
    
    <hr class="fieldsep" />
    <p>{{ form.chair_penalty_reason.label }}:</p>
    <blockquote>{{ form.chair_penalty_reason }}</blockquote>
    <p class="helptext">{{ form.chair_penalty_reason.help_text|safe }}</p>
    
    <p><input type="submit" value="Update Penalty" /></p>
    </form>
</div>

{% endblock %}
