{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
    $("#id_activities").multiselect();
    $("#id_submissions").multiselect();
    $("#id_students").multiselect();
    setup_groupmembers("related");
})
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.name}}: Edit Related Items{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Edit Related Items{% endblock %}
{% block editlabel %}Related Items{% endblock %}

{% block disc_content %}
<div class="form_container">
    <form action="{% url "discipline.views.edit_related" course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <div class="discside" id="group_related"></div>
    {{form.as_p}}

    <p><input type="submit" value="Update Related Items" /></p>
    </form>
</div>

{% endblock %}
