{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
  setup_groupmembers("response");
})
{% endblock %}
{% block title %}Dishonesty Case for {{case.student.name}}: Edit Student Response{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Edit Student Response{% endblock %}
{% block editlabel %}Student Response{% endblock %}

{% block disc_content %}
<div id="form_container">
    <form action="{% url discipline.views.edit_case_info field='response' course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <div class="discside" id="group_response"></div>
    <p>{{ form.response.help_text }}
    	{{ form.response }}</p>
    <p><input type="submit" value="Update Student Response" /></p>
    </form>
</div>

{% endblock %}
