{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
  setup_templates("notes");
})
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.person.name}}: Edit Notes{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.person.name}}: Edit Notes{% endblock %}
{% block editlabel %}Notes{% endblock %}

{% block content %}
<div id="form_container">
    <form action="{% url discipline.views.edit_notes course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <p>{{ form.notes.label }}:</p>
    <div class="templates" id="templates_notes"></div>
    <blockquote>{{ form.notes }}</blockquote>
    <p class="helptext">{{ form.notes.help_text|safe }}</p>
    <p><input type="submit" value="Update Notes" /></p>
    </form>
</div>

{% endblock %}
