{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
  setup_templates("contact_email_text");
})
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.person.name}}: Edit Intro{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.person.name}}: Edit Intro{% endblock %}
{% block editlabel %}Intro{% endblock %}

{% block content %}
<div id="form_container">
    <form action="{% url discipline.views.edit_contacted course_slug=course.slug case_slug=case.slug %}" method="post" onchange="contact_change()">{% csrf_token %}
    <p>{{ form.contacted.help_text }}
    	{{ form.contacted }}</p>
    <p class="actionwarning" id="warning"></p>
    
    <p>{{ form.contact_email_text.label }}:</p>
    <div class="templates" id="templates_contact_email_text"></div>
    <blockquote>{{ form.contact_email_text }}</blockquote>
    <p class="helptext">{{ form.contact_email_text.help_text|safe }}</p>
    
    <p><input type="submit" value="Update Contact Details" /></p>
    <blockquote>
    	<pre id="preview"></pre>
    </blockquote>
    </form>
</div>

{% endblock %}
