{% extends "discipline/editbase.html" %}

{% block jsextra %}
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.name}}: Penalty Implemented{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Penalty Implemented{% endblock %}
{% block editlabel %}Penalty Implemented{% endblock %}

{% block actions %}{% endblock %}

{% block disc_content %}
<div id="form_container">
    {% if case.related_activities and case.student.userid %}
    <p>You may wish to edit this student's grades on:</p>
    <ul>
    {% for ro in case.related_activities %}
    <li><a href="{% url marking.views.change_grade_status course_slug=case.offering.slug activity_slug=ro.content_object.slug userid=case.student.userid %}?status=DISH">{{ro.content_object.name}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url discipline.views.edit_case_info field='penalty_implemented' course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}

    <p>{{ form.penalty_implemented.help_text }} {{ form.penalty_implemented }}</p>
    {{ form.penalty_implemented.errors }}
    <p><input type="submit" value="Update Penalty Status" /></p>
    </form>
</div>

{% endblock %}
