{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
})
{% endblock %}
{% block title %}Dishonesty Case for {{case.student.person.name}}: Edit Student Response{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.person.name}}: Edit Student Response{% endblock %}
{% block editlabel %}Student Response{% endblock %}

{% block content %}
<div id="form_container">
    <form action="{% url discipline.views.edit_response course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <p>{{ form.response.help_text }}
    	{{ form.response }}</p>
    <p><input type="submit" value="Update Student Response" /></p>
    </form>
</div>

{% endblock %}
