{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
  setup_templates("notes");
  setup_templates("notes_public");
})
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.name}}: Edit Notes{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Edit Notes{% endblock %}
{% block editlabel %}Notes{% endblock %}

{% block disc_content %}
<div class="form_container">
    <form action="{% url discipline.views.edit_case_info field='notes' course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <p>{{ form.notes.label }}:</p>
    <div class="discside" id="templates_notes"></div>
    <div class="discside" id="group_notes"></div>
    <blockquote>{{ form.notes }}</blockquote>
    <p class="helptext">{{ form.notes.help_text|safe }}</p>

    <p>{{ form.notes_public.label }}:</p>
    <div class="discside" id="templates_notes_public"></div>
    <div class="discside" id="group_notes_public"></div>
    <blockquote>{{ form.notes_public }}</blockquote>
    <p class="helptext">{{ form.notes_public.help_text|safe }}</p>

    <p><input type="submit" value="Update Notes" /></p>
    </form>
</div>
{% endblock %}
