{% extends "discipline/editbase.html" %}

{% block jsextra %}
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.name}}: Letter Review{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Letter Review{% endblock %}
{% block editlabel %}Letter Review{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<div id="form_container">
    <h2 id="letter">Letter</h2>
    <div class="letter">{% include "discipline/letter_body.html" %}</div>
    <h2 id="attach">Attached Files</h2>
    <p>These files will be attached to the email sent to the student and instructor:</p>
    <ul>
    {% for f in case.public_attachments %}
    <li><a href="{% url discipline.views.download_file course_slug=course.slug case_slug=case.slug fileid=f.id %}">{{f.filename}}</a>, {{f.attachment.size|filesizeformat}}</li>
    {% empty %}
    <li class="none">None</li>
    {% endfor %}
    </ul>
    
    <h2 id="confirm">Confirm</h2>
    <form action="{% url discipline.views.edit_case_info field='letter_review' course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <p>Letter is okay to send to the student and be filed.  {{ form.letter_review }}</p>
    {{ form.letter_review.errors }}
    <p><input type="submit" value="Update Letter Review Status" /></p>
    </form>
</div>

{% endblock %}
