{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
  setup_templates("facts");
})
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.name}}: Edit Case Facts{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Edit Case Facts{% endblock %}
{% block editlabel %}Case Facts{% endblock %}

{% block actions %}{% endblock %}

{% block disc_content %}
<div class="form_container">
    <form action="{% url "discipline.views.edit_case_info" field='facts' course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <p>{{ form.facts.label }}:</p>
    <div class="discside" id="templates_facts"></div>
    <div class="discside" id="group_facts"></div>
    <blockquote>{{ form.facts }}</blockquote>
    <p class="helptext">{{ form.facts.help_text|safe }}</p>
    <p><input type="submit" value="Update Facts" /></p>
    </form>
</div>

{% endblock %}
