{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
  setup_templates("penalty_reason");
})
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.person.name}}: Edit Instructor Penalty{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.person.name}}: Edit Instructor Penalty{% endblock %}
{% block editlabel %}Instructor Penalty{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<div id="form_container">
    <form action="{% url discipline.views.edit_instr_penalty course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <p>{{ form.instr_penalty.help_text }}
    	{{ form.instr_penalty }}</p>

    <p>{{ form.refer_chair.help_text }}
    	{{ form.refer_chair }}</p>
    
    <p>{{ form.penalty_reason.label }}:</p>
    <div class="discside" id="templates_penalty_reason"></div>
    <div class="discside" id="group_penalty_reason"></div>
    <blockquote>{{ form.penalty_reason }}</blockquote>
    <p class="helptext">{{ form.penalty_reason.help_text|safe }}</p>
    
    <p><input type="submit" value="Update Penalty" /></p>
    </form>
</div>

{% endblock %}
