{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
  sent_change();
    $("#id_letter_date").datepicker({ dateFormat: 'yy-mm-dd' });
})

function sent_change() {
  // set the page up appropriately to this radio-button selection
  var value = $('input:radio[name=letter_sent]:checked').val();
  var div = $('#warning');
  var submit = $('#submitbutton');
  var date = $('#date_div');
  var text = $('#text_div');
  if ( value=="WAIT" ) {
    div.html( "" );
    submit.val("Save letter status");
    date.hide();
    text.hide();
  } else if ( value=="MAIL" ) {
    div.html( 'Submitting will cause <a href="{% url "discipline.views.edit_case_info" course_slug=course.slug case_slug=case.slug field="letter_review" %}">the letter you reviewed</a> to be sent to the student (as well as instructor, the department, and Student Services for filing).' );
    submit.val("Email the student");
    date.hide();
    text.hide();
  } else if ( value=="OTHR" ) {
    div.html( 'Enter information about how the student was contacted below. Please ensure that the letter is delivered to the student, your department, and Student Services.' );
    submit.val("Save letter details");
    date.show();
    text.show();
  }
}
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.name}}: Edit Letter Status{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Edit Letter Status{% endblock %}
{% block editlabel %}Letter Status{% endblock %}

{% block disc_content %}
<div class="form_container">
    <form action="{% url "discipline.views.edit_case_info" field='letter_sent' course_slug=course.slug case_slug=case.slug %}" method="post" onchange="sent_change()">{% csrf_token %}
    {{ form.non_field_errors }}
    <p>How will the letter be sent to the student?</p>
    {{ form.letter_sent }}
    <p class="actionwarning" id="warning"></p>
    
    <div id="date_div">
    <p>{{ form.letter_date.label }}: {{ form.letter_date }}</p>
    {{form.letter_date.errors}}
    <p class="helptext">{{ form.letter_date.help_text|safe }}</p>
    </div>
    
    <div id="text_div">
    <hr class="fieldsep" />
    <p>Details of letter delivery:</p>
    <blockquote>{{ form.letter_text }}</blockquote>
    </div>

    <p><input type="submit" value="Update Letter Status" id="submitbutton" /></p>
    </form>
</div>

{% endblock %}
