{% extends "base.html" %}
{% load form_display %}

{% block title %}Edit Dishonesty Template "{{template.label}}"{% endblock %}
{% block h1 %}Edit Dishonesty Template "{{template.label}}"{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{{MEDIA_URL}}js/discipline.js"></script>
<script type="text/javascript">
function confirmSubmit() {
  return confirm("Are you sure you want to delete this template?");
}
</script>
{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url coredata.views.sysadmin %}">System Admin</a></li><li>&gt; <a href="{% url discipline.views.show_templates %}">Dishonesty Templates</a></li><li>&gt; Edit "{{template.label}}"</li>{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<div id="form_container">
    <form action="{% url discipline.views.edit_template template_id=template.id %}" method="post">{% csrf_token %}
    <fieldset>
    <legend>Template Details</legend>
    {{ form|as_dl_safe }}
    <p><input type="submit" class="submit" value="Update Template" /></p>
    </fieldset>
    </form>

    <form action="{% url discipline.views.delete_template template_id=template.id %}" method="post" name="deleteform">{% csrf_token %}
    <p><input type="submit" class="submit" value="Delete Template" id="deletesubmit" onclick="return confirmSubmit();" /></p>
    </form>
</div>

{% include "discipline/substitutions.html" %}

{% endblock %}
