{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
  setup_templates("chair_notes");
})
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.name}}: Edit Chair's Notes{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Edit Chair's Notes{% endblock %}
{% block editlabel %}Notes{% endblock %}

{% block disc_content %}
<div id="form_container">
    <form action="{% url discipline.views.edit_case_info field='chair_notes' course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <p>{{ form.chair_notes.label }}:</p>
    <div class="discside" id="templates_chair_notes"></div>
    <blockquote>{{ form.chair_notes }}</blockquote>
    <p class="helptext">{{ form.chair_notes.help_text|safe }}</p>
    <p><input type="submit" value="Update Notes" /></p>
    </form>
</div>
{% endblock %}
