{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
  setup_templates("penalty_reason");
  setup_groupmembers("penalty");
  setup_groupmembers("refer");
  form_change();
})

function form_change() {
  // suggest assigning F if doing referral
  var penalty = $("input[name=penalty]:checked").val();
  var refer = $("#id_refer:checked").val();
  var div = $('#warning');
  if ( refer == "on" && penalty != "ZERO" ) {
    div.html('If referring the case on, it is strongly recommended that you assign the maximum penalty available, since you are referring <em>for further penalty</em>.  You should assign <em>and implement</em> this penalty: further penalty may or may not be assigned later.');
  } else {
    div.html('');
  }
}
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.name}}: Edit Penalty{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Edit Penalty{% endblock %}
{% block editlabel %}Instructor Penalty{% endblock %}

{% block actions %}{% endblock %}

{% block disc_content %}
<p>SFU's <a href="http://www.sfu.ca/policies/gazette/student.html">Academic Honesty and Student Conduct Policies</a> have this to say about deciding penalty:</p>
<blockquote style="font-size: 80%;">
	<p>In deciding upon the appropriate penalty to be imposed for an act of academic dishonesty,
		consideration must be given to the following factors:</p>
	<ol style="list-style-type: lower-roman;">
	<li>the extent of the academic dishonesty;</li>
	<li>whether the academic dishonesty was deliberate;</li>
	<li>the importance of the work in question as a component of the course or program;</li>
	<li>whether the act in question is an isolated incident or part of repeated acts of academic
	dishonesty; and</li>
	<li>any other mitigating or aggravating circumstances.</li>
	</ol>
</blockquote>
<p>Please consider consulting with the departmental Academic Integrity Advisor or Chair before deciding penalty.</p>

<div class="form_container">
    <form action="{% url "discipline.views.edit_case_info" field='penalty' course_slug=course.slug case_slug=case.slug %}" method="post" onchange="form_change();">{% csrf_token %}
    <hr class="fieldsep" />
    <div class="discside" id="group_penalty"></div>
    <p>{{ form.penalty.help_text }}
    	{{ form.penalty }}</p>

    <hr class="fieldsep" />
    <div class="discside" id="group_refer"></div>
    <p>{{ form.refer.help_text }}
    	{{ form.refer }}</p>
    <p class="helptext">The case may be referred on if you &ldquo;believe that a penalty is warranted beyond that provided for [above]&rdquo;.</p>
    <p class="actionwarning" id="warning"></p>
    
    <hr class="fieldsep" />
    <p>{{ form.penalty_reason.label }}:</p>
    <div class="discside" id="templates_penalty_reason"></div>
    <div class="discside" id="group_penalty_reason"></div>
    <blockquote>{{ form.penalty_reason }}</blockquote>
    <p class="helptext">{{ form.penalty_reason.help_text|safe }}</p>
    
    <p><input type="submit" value="Update Penalty" /></p>
    </form>
</div>

{% endblock %}
