{% extends "discipline/editbase.html" %}

{% block jsextra %}
$(document).ready(function() {
  setup_templates("chair_meeting_summary");
  setup_templates("chair_meeting_notes");
  $("#id_chair_meeting_date").datepicker({ dateFormat: 'yy-mm-dd' });
});
{% endblock %}

{% block title %}Dishonesty Case for {{case.student.name}}: Edit Chair's Meeting/Email Details{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Edit Chair's Meeting/Email Details{% endblock %}
{% block editlabel %}Chair's Meeting/Email Details{% endblock %}

{% block disc_content %}
<div class="form_container">
    <form action="{% url "discipline.views.edit_case_info" field='chair_meeting' course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <p>{{ form.chair_meeting_date.label }}: {{ form.chair_meeting_date }}</p>
    {{form.chair_meeting_date.errors}}
    <p class="helptext">{{ form.chair_meeting_date.help_text|safe }}</p>

    <hr class="fieldsep" />
    <p>{{ form.chair_meeting_summary.label }}:</p>
    <div class="discside" id="templates_chair_meeting_summary"></div>
    <blockquote>{{ form.chair_meeting_summary }}</blockquote>
    <p class="helptext">{{ form.chair_meeting_summary.help_text|safe }}</p>

    <hr class="fieldsep" />
    <p>{{ form.chair_meeting_notes.label }}:</p>
    <div class="discside" id="templates_chair_meeting_notes"></div>
    <blockquote>{{ form.chair_meeting_notes }}</blockquote>
    <p class="helptext">{{ form.chair_meeting_notes.help_text|safe }}</p>

    <p><input type="submit" value="Update Meeting Details" /></p>
    </form>
</div>

{% endblock %}
