{% extends "base.html" %}
{% load discipline_filters %}{% load static %}

{% block headextra %}
<link type="text/css" href="{% static 'multiselect/css/ui.multiselect.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'multiselect/js/ui.multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'js/discipline.js' %}"></script>
<link rel="stylesheet" href="{% static "style/discipline.css" %}" />

<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
    $('form[method=post]').areYouSure();
});

var templates = {{templatesJSON}};
var groupmembers = {{groupmembersJSON}};
var hasRelAct = {{hasRelAct|lower}};

{% block jsextra %}{% endblock %}
</script>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li><a href="{% url "offering:discipline:index" course_slug=course.slug %}">Dishonesty Cases</a></li><li><a href="{% url "offering:discipline:show" course_slug=course.slug case_slug=case.slug %}">Case for {{case.student.name}}</a></li><li>Edit {% block editlabel %}{% endblock %}</li>{% endblock %}

{% block content %}
{% block disc_content %}{% endblock %}

{% include "discipline/substitutions.html" %}

{% endblock %}
