{% extends "base.html" %}

{% block title %}Edit Dishonesty Template "{{template.label}}"{% endblock %}
{% block h1 %}Edit Dishonesty Template "{{template.label}}"{% endblock %}

{% block headextra %}
<script type="text/javascript">
function confirmSubmit() {
  return confirm("Are you sure you want to delete this template?");
}

</script>
{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url coredata.views.sysadmin %}">System Admin</a></li><li>&gt; <a href="{% url discipline.views.show_templates %}">Dishonesty Templates</a></li><li>&gt; Edit "{{template.label}}"</li>{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<div id="form_container">
    <form action="{% url discipline.views.edit_template template_id=template.id %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Update Template" /></p>
    </form>

    <form action="{% url discipline.views.delete_template template_id=template.id %}" method="post" name="deleteform">{% csrf_token %}
    <p><input type="submit" value="Delete Template" id="deletesubmit" onclick="return confirmSubmit();" /></p>
    </form>

<h2 id="subs">Substitutions</h2>
<p>The following substitutions will be made within the template:</p>
{% include "discipline/substitutions.html" %}



</div>
{% endblock %}
