{% extends "base.html" %}
{% load discipline_filters %}

{% block headextra %}
<link type="text/css" href="{{MEDIA_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/discipline.js"></script>
<script type="text/javascript">
var templates = {{templatesJSON}};
var groupmembers = {{groupmembersJSON}};
var hasRelAct = {{hasRelAct|lower}};

{% block jsextra %}{% endblock %}
</script>
{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; <a href="{% url discipline.views.index course_slug=course.slug %}">Discipline Cases</a></li><li>&gt; <a href="{% url discipline.views.show course_slug=course.slug case_slug=case.slug %}">Case for {{case.student.name}}</a></li><li>&gt; Edit {% block editlabel %}{% endblock %}</li>{% endblock %}

{% block content %}
{% block disc_content %}{% endblock %}
<div id="subpop">
<p>The following substitutions will be made within the text:</p>
{% include "discipline/substitutions.html" %}
</div>
<div id="texpop">
<p>Textile is a simple markup language that you can use to do some basic formatting within this field.  Text within a paragraph:</p>
<ul>
  <li><code>_text_</code>: emphasized text (italic)</li>
  <li><code>*text*</code>: strongly emphasized text (bold)</li>
  <li><code>@text@</code>: code (monospaced font)</li>
</ul>
<p>And some basic blocks.  Each of these should be a separate line/paragraph:</p>
<ul>
  <li><code>bq. text</code>: blockquote (indented as a long-form quote)</li>
  <li><code>* text</code>: a bulleted list</li>
  <li><code># text</code>: a numbered list</li>
</ul>
<p>For more options, see the <a href="http://en.wikipedia.org/wiki/Textile_%28markup_language%29">Wikipedia article on Textile</a>.</p>
</div>
{% endblock %}
