{% load discipline_filters %}
{% comment %}
This is used as an HTML email body: everything that happens here must work in email clients
http://en.wikipedia.org/wiki/HTML_e-mail
{% endcomment %}

<h1 style="font-size: 125%; color: black; padding: 0; margin: 0.5em 0;">{{case.typelabel|capfirst}} Academic Incident Report</h1>
<table style="width: 100%; border-collapse: collapse;">
<tr>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Course:</span> {{case.get_origsection.subject}} {{case.get_origsection.number}}</td>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Section:</span> {{case.get_origsection.section}}</td>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Date:</span> {% now "Y-m-d" %}</td>
</tr>
<tr>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Semester:</span> {{case.get_origsection.semester.label}} ({{case.get_origsection.semester.name}})</td>
  <td colspan="2" style="border: 1px solid black"><span style="font-weight: bold">Course Title:</span> {{case.get_origsection.title}}</td>
</tr>
<tr>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Student Name:</span> {{case.student.sortname}}</td>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Student Email:</span> {{case.student.email}}</td>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Student Number:</span> {% if case.student.emplid %}{{case.student.emplid}}{% else %}unknown{% endif %}</td>
</tr>
<tr>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Instructor:</span> {{case.owner.sortname}}</td>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Instructor Email:</span> {{case.owner.email}}</td>
  <td colspan="1" style="border: 1px solid black"><span style="font-weight: bold">Case ID:</span> {{case.caseid}}</td>
</tr>
</table>

<dl>
{% if case.notes_public %}
<dt style="font-weight: bold">Notes</dt>
  <dd>{{case|format_field:'notes_public'}}</dd>
{% endif %}
<dt style="font-weight: bold">Meeting with student</dt>
  <dd>
    {% if case.response == "NONE" %}
    <p>No response from student.</p>
    {% else %}{% if case.response == "DECL" %}
    <p>Student declined to meet.</p>
    {% else %}{% if case.response == "MAIL" %}
    <p>Student sent a statement by email on {{case.meeting_date}}.</p>
    {{case|format_field:'meeting_summary'}}
    {% else %}{% if case.response == "MET" %}
    <p>Met with the student on {{case.meeting_date}}.</p>
    {{case|format_field:'meeting_summary'}}
    {% endif %}{% endif %}{% endif %}{% endif %}
  </dd>
  <dd>{{case.meeting_text}}</dd>
<dt style="font-weight: bold">Facts of the case</dt>
  <dd>{{case|format_field:'facts'}}</dd>
<dt style="font-weight: bold">Penalty assigned by instructor</dt>
  <dd>
  {% if case.penalty_reason %}
  <p>Penalty: {{case.get_penalty_display}}.</p>{{case|format_field:'penalty_reason'}}
  {% else %}
   <p>{{case.get_penalty_display|capfirst}}.</p>
  {% endif %}
  </dd>
<dt style="font-weight: bold">Case referred to Chair/Director?</dt>
  <dd><p>{{case.get_refer_display}}</p></dd>
</dl>
<p>This incident report will be retained in the student's file and, in the event of further reports of academic dishonesty, this report may be used when determining penalty.</p>
<p>Information about the disciplinary appeal process can be found at <a href="http://www.sfu.ca/students/appeals.html">http://www.sfu.ca/students/appeals.html</a>.</p>
<p style="font-size: 75%">The information on this form is collected under the authority of the University Act (RSBC 1996, C.468, s.27[4a]), and is needed to record this incident.
If you have any questions about the collection and use of this information, contact the Assistant Registrar, Senate and Academic Services, Student Services, Simon Fraser University,
778.782.5350. All information is given in confidence.</p>
{% if currentuser != case.owner %}<p>{{case.owner.initials|upper}}:{{currentuser.initials|lower}}</p>{% endif %}
{% if case.public_attachments %}
<p>Enclosed:</p>
<ul>
  {% for f in case.public_attachments %}
  <li>{{f.name}} ({{f.filename}}, {{f.attachment.size|filesizeformat}})</li>
  {% endfor %}
</ul>
{% endif %}


