{% load discipline_filters %}
<dl>
<dt>Course Number</dt>
  <dd>{{case.student.offering.subject}} {{case.student.offering.number}} {{case.student.offering.section}}</dd>
<dt>Course Title</dt>
  <dd>{{case.student.offering.title}}</dd>
<dt>Semester</dt>
  <dd>{{case.student.offering.semester.label}} ({{case.student.offering.semester}})</dd>
<dt>Student's Name</dt>
  <dd>{{case.student.person.sortname}}</dd>
<dt>Student's Email</dt>
  <dd>{{case.student.person.email}}</dd>
<dt>Instructor's Name</dt>
  <dd>{{case.instructor.sortname}}</dd>
<dt>Student's Email</dt>
  <dd>{{case.instructor.email}}</dd>

<dt>Meeting with student</dt>
  <dd>
    {% if case.response == "NONE" %}
    <p>No response from student.</p>
    {% else %}{% if case.response == "DECL" %}
    <p>Student declined to meet.</p>
    {% else %}{% if case.response == "MAIL" %}
    <p>Student sent statement by email on {{case.meeting_date}}.</p>
    {{case|format_field:'meeting_summary'}}
    {% else %}{% if case.response == "MET" %}
    <p>Met with the student on {{case.meeting_date}}.</p>
    {{case|format_field:'meeting_summary'}}
    {% endif %}{% endif %}{% endif %}{% endif %}
  </dd>
  <dd>{{case.meeting_text}}</dd>
<dt>Facts of the case</dt>
  <dd>{{case|format_field:'facts'}}</dd>
<dt>Penalty assigned by instructor</dt>
  <dd><p>Penalty: {{case.get_instr_penalty_display}}</p>
  {% if case.penalty_reason %}{{case|format_field:'penalty_reason'}}{% endif %}
  </dd>
<dt>Case referred to Chair/Director?</dt>
  <dd><p>{{case.get_refer_chair_display}}</p></dd>
</dl>


