{% load discipline_filters %}
<dl>
<dt>Course Number</dt>
  <dd>{{case.offering.subject}} {{case.offering.number}} {{case.offering.section}}</dd>
<dt>Course Title</dt>
  <dd>{{case.offering.title}}</dd>
<dt>Semester</dt>
  <dd>{{case.offering.semester.label}} ({{case.offering.semester}})</dd>
<dt>Student's Name</dt>
  <dd>{{case.student.sortname}}</dd>
<dt>Student's Email</dt>
  <dd>{{case.student.email}}</dd>
<dt>Instructor's Name</dt>
  <dd>{{case.instructor.sortname}}</dd>
<dt>Student's Email</dt>
  <dd>{{case.instructor.email}}</dd>

<dt>Meeting with student</dt>
  <dd>
    {% if case.response == "NONE" %}
    <p>No response from student.</p>
    {% else %}{% if case.response == "DECL" %}
    <p>Student declined to meet.</p>
    {% else %}{% if case.response == "MAIL" %}
    <p>Student sent statement by email on {{case.meeting_date}}.</p>
    {{case|format_field:'meeting_summary'}}
    {% else %}{% if case.response == "MET" %}
    <p>Met with the student on {{case.meeting_date}}.</p>
    {{case|format_field:'meeting_summary'}}
    {% endif %}{% endif %}{% endif %}{% endif %}
  </dd>
  <dd>{{case.meeting_text}}</dd>
<dt>Facts of the case</dt>
  <dd>{{case|format_field:'facts'}}</dd>
<dt>Penalty assigned by instructor</dt>
  <dd><p>Penalty: {{case.get_instr_penalty_display}}</p>
  {% if case.penalty_reason %}{{case|format_field:'penalty_reason'}}{% endif %}
  </dd>
<dt>Case referred to Chair/Director?</dt>
  <dd><p>{{case.get_refer_chair_display}}</p></dd>
{% if case.public_attachments %}
<dt>Enclosed</dt>
  <dd><ul>
  {% for f in case.public_attachments %}
  <li>{{f.name}} ({{f.filename}}, {{f.attachment.size|filesizeformat}})</li>
  {% endfor %}
  </ul></dd>
{% endif %}
</dl>


