{% extends "base.html" %}
{% load form_display %}

{% block title %}New Dishonesty Case{% endblock %}
{% block h1 %}New Dishonesty Case{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; <a href="{% url discipline.views.index course_slug=course.slug %}">Discipline Cases</a></li><li>&gt; New Case</li>{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<div class="form_container">
    <form action="{% url discipline.views.new course_slug=course.slug %}" method="post">{% csrf_token %}
    <fieldset>
    <legend>Dishonesty Case</legend>
    {{ form|as_dl_safe }}
    <p><input type="submit" class="submit" value="Create Case" /></p>
    </fieldset>
    </form>
</div>
{% endblock %}
