{% extends "base.html" %}

{% block title %}{{ course.name }} New Dishonesty Case{% endblock %}
{% block h1 %}{{ course.name }} New Dishonesty Case{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; <a href="{% url discipline.views.index course_slug=course.slug %}">Discipline Cases</a></li><li>&gt; New</li>{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<div id="form_container">
    <form action="{% if group %}{% url discipline.views.newgroup course_slug=course.slug %}{% else %}{% url discipline.views.new course_slug=course.slug %}{% endif %}" method="post">{% csrf_token %}
    
    {{ form.as_p }}
    <p><input type="submit" value="Create Group" /></p>
    
    <!--
    
    {% if group %}<p>Group name: <input type="text" name="name" id="name" /></p>{% endif %}
    <p>Select student{% if group %}s{% endif %}: <select name="userid" id="userid"{% if group %}multiple="multiple"{% endif %}>
    {% for m in students %}
    <option value="{{m.person.userid}}">{{m.person.sortname}} ({{m.person.userid}}, {{m.person.emplid}})</option>
    {% endfor %}
    </select></p>
    -->
    </form>
</div>
{% endblock %}
