{% extends "base.html" %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#roles').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[0, 'asc']],
  } );
} );
</script>
{% endblock %}

{% block title %}Dishonesty Department Permissions{% endblock %}
{% block h1 %}Dishonesty Department Permissions{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'discipline:chair_index' %}">Dishonesty Cases</a></li>
<li>Department Permissions</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url 'discipline:permission_admin_add' %}">Add new permission</a></li>
    </ul>
</div>
{% endblock %}


{% block content %}
<table id="roles" class="display">
  <thead><tr><th scope="col">Name</th><th scope="col">Role</th><th>Expires</th><th scope="col">Unit</th><th scope="col">Actions</th></tr></thead>
  <tbody>
  {% for role in disc_roles %}
  <tr{% if role.expires_soon %} class="warningmessage"{% endif %}><td scope="row"><span class="sort">{{role.person.sortname}}</span>{{role.person}} (<a href="mailto:{{ role.person.email }}">{{ role.person.email }}</a>)</td>
      <td>{% if role.role == 'DISC' %}Admin: can view cases online{% else %}Filer: receives reports by email{% endif %}</td>
      <td>{{ role.expiry }}</td>
      <td>{{role.unit}}</td>
      <td>
          <a href="{% url 'discipline:permission_admin' %}?delete={{ role.pk }}" class="confirm-submit" data-submit-action="delete this role"><i class="fa fa-trash" title="delete permission"></i><span class="sr-only">delete</span></a>
          {% if role.expires_far %}<a href="{% url 'discipline:permission_admin' %}?renew={{ role.pk }}"><i class="fa fa-refresh" title="renew permission" title="renew permission"></i><span class="sr-only">renew</span></a>{% endif %}
      </td>
  </tr>

  {% endfor %}
  </tbody>
</table>
{% endblock %}
