{% extends "base.html" %}
{% load discipline_filters %}

{% block title %}Dishonesty Case for {{case.student.name}}{% if chair %}: Instructor's case{% endif %}{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}{% if chair %}: Instructor's case{% endif %}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; <a href="{% url discipline.views.index course_slug=course.slug %}">Discipline Cases</a></li><li>&gt; <a href="{% url discipline.views.chair_show course_slug=case.offering.slug case_slug=case.slug %}">Case for {{case.student.name}}</a></li>{% if chair %}<li>&gt; Instructor's case</li>{% endif %}{% endblock %}

{% block actions %}{% endblock %}

{% block content %}

<h2 id="info">Case Info</h2>

<div class="table_container">
<table class="info">
<tbody>
<tr>
  <th class="ui-state-default">Student Name</th>
  <td>{{ case.student.sortname }}</td>
</tr>
<tr>
  <th class="ui-state-default">Student Email</th>
  <td><a href="mailto:{{ case.student.email }}">{{ case.student.email }}</a></td>
</tr>
<tr>
  <th class="ui-state-default">Student Number</th>
  <td>
  {% if case.is_in_course %}<a href="{% url grades.views.student_info course_slug=case.offering.slug userid=case.student.userid %}">{{ case.student.emplid }}</a>{% else %}{{ case.student.emplid }}{% endif %}</td>
</tr>
<tr>
  <th class="ui-state-default">Course Offering</th>
  <td>{{ case.offering }}</td>
</tr>
<tr>
  <th class="ui-state-default">Case Cluster</th>
  <td>{% if case.group %}<a href="{% url discipline.views.showgroup course_slug=course.slug group_slug=case.group.slug %}">{{ case.group.name }}</a>{% else %}&mdash;{% endif %}</td>
</tr>
<tr>
  <th class="ui-state-default">Case Owner</th>
  <td>{% if chair %}<a href="mailto:{{case.owner.email}}">{{ case.owner.name }}</a>{% else %}{{ case.owner.name }}{% endif %}</td>
</tr>
</tbody>
</table>
</div>

{% if not chair %}
<div id="nextstep">
{% if not case.done %}
Suggested next step is to <a href="{{case.next_step_url}}">{{case.next_step_text}}</a>.
  {% if case.next_step == 'contacted' or case.next_step == 'response' %}
  Optional but useful: Enter <a href="{% url discipline.views.edit_related course_slug=course.slug case_slug=case.slug %}">related items</a> or <a href="{% url discipline.views.edit_attach course_slug=course.slug case_slug=case.slug %}">attach files</a>.
  {% endif %}
{% else %}
    Case is completed.
    {% if case.letter_sent == 'MAIL' %}
      <a href="{% url discipline.views.view_letter course_slug=course.slug case_slug=case.slug %}">View the letter that was sent</a>.
    {% endif %}
{% endif %}
</div>
{% else %}
{% if case.letter_sent == 'MAIL' %}
<div id="nextstep">Instructor's letter has been sent. <a href="{% url discipline.views.view_letter course_slug=course.slug case_slug=case.slug %}">View the letter</a>.</div>{% endif %}
{% endif %}

<div class="showcase">
<h2 id="notes">Notes</h2>
<dl>
<dt>Case Notes (public)</dt>
<dd>{{case|edit_link:'notes_public'}}{{case|format_field:'notes_public'}}</dd>
<dt>Case Notes (private)</dt>
<dd>{{case|edit_link:'notes'}}{{case|format_field:'notes'}}</dd>
<dt>Related Items (private)</dt>
<dd>{{case|edit_link:'related'}}
<ul>{% for ro in case.relatedobject_set.all %}
  {% if ro.content_object.get_absolute_url %}
  <li><a href="{{ro.content_object.get_absolute_url}}">{{ro.content_object.short_str}}</a></li>
  {% else %}
  <li>{{ro.content_object.short_str}}</li>
  {% endif %}
{% empty %}<li class="empty">None</li>
{% endfor %}</ul></dd>
<dt>Attached Files</dt>
<dd>{{case|edit_link:'attach'}}
<ul>{% for f in case.caseattachment_set.all %}
  <li>{{f.name}} (<a href="{% url discipline.views.download_file course_slug=course.slug case_slug=case.slug fileid=f.id %}">{{f.filename}}</a>, {{f.attachment.size|filesizeformat}}, {% if f.public %}public{% else %}private{% endif %})</li>
{% empty %}<li class="empty">None</li>
{% endfor %}</ul>
</dd>
</dl>

<h2 id="contact">Initial Contact</h2>
<dl>
<dt>Student Contacted?</dt>
<dd>{{case|edit_link:'contacted'}}<p>{{case.get_contacted_display}} {% if case.contact_date %}on {{case.contact_date}}{% endif %}.</p></dd>
<dt>Contact Email or Contact Information</dt>
<dd>{{case|edit_link:'contacted'}}{{case|format_field:'contact_email_text'}}</dd>
<dt>Student Response</dt>
<dd>{{case|edit_link:'response'}}<p>{{case.get_response_display}}</p></dd>
</dl>

<h2 id="meeting">Meeting with (or Email from) Student</h2>
<dl>
<dt>Meeting Date</dt>
<dd>{{case|edit_link:'meeting'}}<p>{{case.meeting_date}}</p></dd>
<dt>Meeting/Email Summary (included in letter)</dt>
<dd>{{case|edit_link:'meeting'}}{{case|format_field:'meeting_summary'}}</dd>
<dt>Meeting/Email Notes (private)</dt>
<dd>{{case|edit_link:'meeting'}}{{case|format_field:'meeting_notes'}}</dd>
</dl>

<h2 id="facts">Facts and Decision</h2>
<dl>
<dt>Facts of case (included in letter)</dt>
<dd>{{case|edit_link:'facts'}}{{case|format_field:'facts'}}</dd>
<dt>Penalty assigned by instructor</dt>
<dd>{{case|edit_link:'penalty'}}<p>{{case.get_penalty_display}}</p></dd>
<dt>Refer to Chair/Director?</dt>
<dd>{{case|edit_link:'penalty'}}<p>{{case.get_refer_display}}</p></dd>
<dt>Penalty Rationale (included in letter)</dt>
<dd>{{case|edit_link:'penalty'}}{{case|format_field:'penalty_reason'}}</dd>
</dl>

<h2 id="facts">Finalizing Case</h2>
<dl>
<dt>Letter Reviewed?</dt>
<dd>{{case|edit_link:'letter_review'}}<p>{{case.get_letter_review_display}}</p></dd>
<dt>Letter Sent?</dt>
<dd>{{case|edit_link:'letter_sent'}}<p>{{case.get_letter_sent_display}}
{% if case.letter_date %} on {{case.letter_date}}{% endif %}
</p>
{% if case.letter_sent == "OTHR" %}
{{case|format_field:'letter_text'}}
{% endif %}</dd>
<dt>Penalty Implemented?</dt>
<dd>{{case|edit_link:'penalty_implemented'}}<p>{{case.get_penalty_implemented_display}}</p></dd>
</dl>

</div>

{% endblock %}
