{% load discipline_filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Discipline case for {{case.student.person.name}} in {{case.student.offering}}</title>
<style type="text/css">
dt {
  font-weight: bold;
}
</style>
</head>
<body>
<h1>Academic Dishonesty Report</h1>

<dl>
<dt>Course Number</dt>
  <dd>{{case.student.offering.subject}} {{case.student.offering.number}} {{case.student.offering.section}}</dd>
<dt>Course Title</dt>
  <dd>{{case.student.offering.title}}</dd>
<dt>Semester</dt>
  <dd>{{case.student.offering.semester.label}} ({{case.student.offering.semester}})</dd>
<dt>Student's Name</dt>
  <dd>{{case.student.person.sortname}}</dd>
<dt>Student's Email</dt>
  <dd>{{case.student.person.email}}</dd>
<dt>Instructor's Name</dt>
  <dd>{{case.instructor.sortname}}</dd>
<dt>Student's Email</dt>
  <dd>{{case.instructor.email}}</dd>
</dl>



</body>
</html>


