{% extends "base.html" %}

{% block title %}Dishonesty Cluster {{group.name}}{% endblock %}
{% block h1 %}Dishonesty Cluster {{group.name}}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; <a href="{% url discipline.views.index course_slug=course.slug %}">Discipline Cases</a></li><li>&gt; Cluster {{group.name}}</li>{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<h2 id="members">Member cases:</h2>
<ul>
{% for case in group.disciplinecasebase_set.all %}
<li><a href="{% url discipline.views.show course_slug=course.slug case_slug=case.slug %}">{{case.subclass.student.sortname}}</a></li>
{% endfor %}
</ul>
{% endblock %}
