{% extends "base.html" %}
{% load discipline_filters %}{% load static %}

{% block title %}Dishonesty Case for {{case.student.name_with_pref}}{% if chair %}: Instructor's case{% endif %}{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name_with_pref}}{% if chair %}: Instructor's case{% endif %}{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
    <li><a href="{% url "offering:discipline:index" course_slug=course.slug %}">Dishonesty Cases</a></li>
    <li>{{case.student.name}} {% if chair %} (instructor's case){% endif %}</li>
{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/discipline.css" %}" />
{% endblock %}

{% block actions %}{% endblock %}

{% block content %}

<h2 id="info">Case Info</h2>

<div class="table_container">
<table class="info">
<tbody>
<tr>
  <th scope="col">Student Name</th>
  <td>{{ case.student.sortname_pref }}</td>
</tr>
<tr>
  <th scope="col">Student Email</th>
  <td><a href="mailto:{{ case.student.email }}">{{ case.student.email }}</a></td>
</tr>
<tr>
  <th scope="col">Student Number</th>
  <td>
  {% if case.is_in_course %}<a href="{% url "offering:student_info" course_slug=case.offering.slug userid=case.student.userid %}">{{ case.student.emplid }}</a>{% else %}{{ case.student.emplid }}{% endif %}</td>
</tr>
<tr>
  <th scope="col">Course Offering</th>
  <td>{{ case.offering }}</td>
</tr>
<tr>
  <th scope="col">Case Cluster</th>
  <td>{% if case.group %}<a href="{% url "offering:discipline:showgroup" course_slug=course.slug group_slug=case.group.slug %}">{{ case.group.name }}</a>{% else %}&mdash;{% endif %}</td>
</tr>
</tbody>
</table>
</div>

<p class="helptext">The steps listed here are required by SFU's <a href="https://www.sfu.ca/policies/gazette/student.html">Student Discipline procedures</a>.
    Steps that have been confirmed completed are marked with &ldquo;<i class="fa fa-check successmessage"></i>&rdquo; below.
    Steps that have not been completed (as far as this system knows) are marked &ldquo;<i class="fa fa-question infomessage"></i>&rdquo;.</p>


<section id="contact">
  <h2>Step 1: Notify The Student {% step_done_unless case case.contacted 'NONE' %}</h2>
  <p class="helptext">Per <a href="https://www.sfu.ca/policies/gazette/student.html">S10.01</a>:
      <q>Upon becoming aware that a student may have engaged in academic dishonesty in their
course, an instructor must notify the student, outlining the nature of the concern, within
two (2) weeks.</q></p>
  {% if not case.editable %}
  {% elif case.contacted != 'NONE' %}
  <p class="status">Complete: {{ case.get_contacted_display }} {% if case.contact_date %}({{ case.contact_date }}){% endif %}</p>
  <ul class="actions">
    {% discipline_action case 'notify' 'NONE' 'Clear: student has not been notified' %}
  </ul>
  {% else %}
  <ul class="actions">
    {% discipline_action case 'notify' 'OTHR' 'I have already notified the student' %}
    {% discipline_action case 'notify' None 'Email the student&hellip;' %}
  </ul>
  {% endif %}
</section>


<section id="meet">
  <h2>Step 2: Discuss With The Student {% step_done_unless case case.response 'WAIT' %}</h2>
  <p class="helptext">Per <a href="https://www.sfu.ca/policies/gazette/student.html">S10.01</a>:
      <q>The student must be given the opportunity to discuss the matter with the instructor in a timely manner.</q></p>
  {% if not case.editable %}
  {% elif case.response != 'WAIT' %}
  <p class="status">Complete: {{ case.get_response_display }} {% if case.meeting_date %}({{ case.meeting_date }}){% endif %}</p>
  <ul class="actions">
    {% discipline_action case 'response' 'WAIT' 'Clear: response is still pending' %}
  </ul>
  {% else %}
  <ul class="actions">
    {% discipline_action case 'response' 'NONE' 'No response from student' %}
    {% discipline_action case 'response' 'MAIL' 'Student responded by email' %}
    {% discipline_action case 'response' 'MET' 'Discussed case with student' %}
  </ul>
  {% endif %}
</section>


<section id="facts">
  <h2>Step 3: Describe The Case {% step_done_if_truthy case case.facts %}</h2>
  <p class="helptext">Per <a href="https://www.sfu.ca/policies/gazette/student.html">S10.01</a>:
      <q>The instructor must submit an academic incident report regarding the nature of the dishonesty or misconduct and the decision in a timely manner.</q></p>
  {% if case.editable %}
  {% with case.facts_wordcount as wc %}{% with case.attachment_count as n_attach %}
      {% if wc == 0 and n_attach == 0 %}
      {% else %}
          <p class="status">Status: {% if wc == 0 %}no description entered{% else %}description entered ({{ wc }} words){% endif %}, {{ n_attach }} attachment{{ n_attach|pluralize }}.</p>
      {% endif %}
  {% endwith %}{% endwith %}
  <ul class="actions">
    {% discipline_action case 'facts' None 'Edit the description of the case&hellip;' %}
    {% discipline_action case 'edit_attach' None 'Manage attachments&hellip; (optional)' %}
  </ul>
  {% endif %}
</section>


<section id="send">
  <h2>Step 4: Determine a Penalty {% step_done_unless case case.penalty 'WAIT' %}</h2>
  <p class="helptext">Per <a href="https://www.sfu.ca/policies/gazette/student.html">S10.01</a>:
      <q>If an instructor finds, on a balance of probabilities, that a student has engaged in academic dishonesty, the instructor may&hellip; impose one or more of the following penalties&hellip;
      [If] the instructor believes that a penalty is warranted beyond that &hellip; the Chair may impose a different penalty</q></p>
  {% if case.editable %}
  {% if case.penalty != 'WAIT' %}
  <p class="status">Complete: {{ case.get_penalty_display }}</p>
  {% endif %}
  <ul class="actions">
    {% discipline_action case 'penalty' None 'Edit penalty&hellip;' %}
  </ul>
  {% elif case.penalty == 'NONE' %}
      <p class="status">Case dropped without penalty.</p>
  {% endif %}
</section>


<section id="send">
  <h2>Step 5: Review and Submit Report {% step_done_unless case case.letter_sent 'WAIT' %}</h2>
  <p class="helptext">Per <a href="https://www.sfu.ca/policies/gazette/student.html">S10.01</a>:
      <q>The instructor must submit an academic incident report&hellip;.</q></p>
  {% if case.letter_sent != 'WAIT' %}
  <p class="status">The case report has been sent. <a href="{% url "offering:discipline:view_letter" course_slug=course.slug case_slug=case.slug %}">View the report</a>.</p>
  {% elif case.penalty == 'NONE' %}
      <p class="status">Case dropped without penalty: cannot send report</p>
  {% else %}
  <ul class="actions">
    {% if case.sendable %}
    {% discipline_action case 'send' None 'Review and submit the report&hellip;' %}
    {% else %}
    {% discipline_action case 'send' None 'Preview the report&hellip; (cannot submit until all steps complete)' %}
    {% endif %}
  </ul>
  {% endif %}
</section>


<section id="notes">
  <h2>Optional: Notes to Yourself</h2>
  <p class="helptext">You may add notes about the case, which will <strong>not</strong> be included in the incident report.</p>
  <ul class="actions">
    {% discipline_action case 'notes' None 'Manage notes&hellip;' %}
  </ul>
</section>


<section id="implement-penalty">
  <h2>Optional: Confirm Penalty Given {% step_done_unless case case.penalty_implemented False %}</h2>
  <p class="helptext">This step is completely for your own records, but you can record here that whatever penalty
      assigned has actually been recorded/calculated.</p>
  <ul class="actions">
      {% if case.penalty_implemented %}
      {% discipline_action case 'penalty_implemented' 'no' 'Clear: Penalty Not Given' %}
      {% else %}
      {% discipline_action case 'penalty_implemented' 'yes' 'Confirm Penalty Given' %}
      {% endif %}
  </ul>
</section>


{% if chair and has_global_role %}
    <h2 id="central-updates">Student Services Actions</h2>
    {% if case.letter_sent == 'MAIL' %}
    <form action="{% url "discipline:central_updates" course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <p>Re-open the case so the instructor can modify: <input type="submit" class="submit" name="unfinalize" value="Re-open" /></p>
    </form>
    {% endif %}
    <form action="{% url "discipline:central_updates" course_slug=course.slug case_slug=case.slug %}" method="post">{% csrf_token %}
    <p>{{ central_form.central_note.label }}:</p>
    <blockquote>{{ central_form.central_note }}</blockquote>
    <p class="helptext">{{ central_form.central_note.help_text|safe }}</p>
    <p>{{ central_form.send.label }}: {{ central_form.send }} <span class="helptext">{{ central_form.send.help_text|safe }}</span></p>
    <p><input type="submit" class="submit" name="addnote" value="Update Note" /></p>
    </form>
{% endif %}


{% endblock %}
