{% extends "base.html" %}
{% load discipline_filters %}
{% block title %}Dishonesty Case for {{case.student.name}}: Letter{% endblock %}
{% block h1 %}Dishonesty Case for {{case.student.name}}: Letter{% endblock %}

{% block headextra %}
<style media="print">
h1, div#messages {
	display: none;
}
div.letter {
	margin: 0;
	border: none;
}
</style>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li>{% if is_student %}Dishonesty Cases {% else %}<a href="{% url "discipline.views.index" course_slug=course.slug %}">Dishonesty Cases</a> {% endif %}</li><li>{% if is_student %}Case for {{case.student.name}} {% else %}<a href="{% url "discipline.views.show" course_slug=course.slug case_slug=case.slug %}">Case for {{case.student.name}}</a> {% endif %}</li><li>Letter</li>{% endblock %}

{% block content %}
<p class="noprint">The following letter was sent from the instructor regarding this case:</p>
<div class="letter">{{case.letter_text|safe}}</div>
<h2 id="attach">Attached Files</h2>
    <p>These files were attached to the email sent:</p>
    <ul>
    {% for f in case.public_attachments %}
    <li><a href="{% url "discipline.views.download_file" course_slug=course.slug case_slug=case.slug fileid=f.id %}">{{f.filename}}</a>, {{f.attachment.size|filesizeformat}}</li>
    {% empty %}
    <li class="empty">None</li>
    {% endfor %}
    </ul>
{% endblock %}
