{% extends "base.html" %}
{% load course_display %}

{% block title %}System Logs{% endblock %}
{% block h1 %}System Logs{% endblock %}

{% block headextra %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  $('#logs').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bSort': true,
    'bLengthChange': false,
    "bJQueryUI": true,
    "aaSorting": [[0, "desc"]],
  } );
} );
//]]></script>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "coredata.views.sysadmin" %}">System Admin</a></li><li>Logs</li>{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<form method="get" action="">
<p><input type="text" name="q" value="{{ q }}" size="30" /> <input type="submit" value="Search" class="submit"/></p>
</form>

{% if logs %}
<div class="datatable_container">
<table id="logs" class="display">
  <thead><tr><th scope="col">Date/Time</th><th scope="col">Userid</th><th scope="col">Description</th><th scope="col"></th></tr></thead>
  <tbody>
  {% for l in logs %}
    <tr><td><span class="sort">{{l.datetime.isoformat}}</span>{{l.datetime}}</td><td>{{l.userid}}</td><td>{{l.description}}</td>
    <td>{% if l.related_object.get_absolute_url %}<a href="{{l.related_object.get_absolute_url}}"><i class="fa fa-search"></i> </a>{% endif%}</td></tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endif %}
{% endblock %}
