.discussion-topic {
  max-width: 600px;
  padding: .6em;
  margin-top: 0.5em;
}
.discussion-topic h3 {
  margin-top: 0.15em;
  margin-bottom: 0em;
}
.discussion-topic span.last {
  float: right;
  font-size: smaller;
}

.discussion-author, .reply-author {
  font-style: italic;
  margin-top: 0em;
}
.discussion-author .author, .reply-author .author {
  font-weight: bold;
}
.topic-body {
  border: 2px solid #eee;
  padding: 0.5em;
}
.discussion-topic-content *:last-child {
  margin-bottom: 0;
}
.discussion-content ul {
  list-style-type: disc;
  padding-left: 2em;
}

.discussion-reply {
  border: 2px solid #eee;
  padding: 0.5em;
  margin-top: 0.5em;
}
.discussion-reply *:last-child {
  margin-bottom: 0;
}

form.miniform {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.discussion-reply-controls {
  float: right;
  margin-top: -2em;
}

#topic-reply-toggle {
  font-weight: bold;
  font-size: larger;
}
.discussion-topic-reply-errors {
	color: red;
	font-weight: bold;
}
.remove-discussion-reply {
	float: right;
	cursor: pointer;
	color: red;
}
.edit-discussion-reply {
    float: right;
    cursor: pointer;
    color: #D2761A;
    margin-right: .6em;
}
.fade-out {
	opacity: 0.4;
	filter: alpha(opacity=40)
}




.pagination {
	height: 36px;
	margin: 14px 0;
}
.pagination ul {
	padding-left: 0;
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	*zoom: 1;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
	display: inline;
}

.pagination a {
	color: #0054A6;
	font-weight: bold;
	float: left;
	padding: 0 10px;
	line-height: 26px;
	text-decoration: none;
	border: 1px solid #B7B7B7;
	border-left-width: 0;
}

.pagination .active a {
	color: #999999;
	cursor: default;
}

.pagination li:first-child a {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
