/* dl style adapted from http://www.maxdesign.com.au/articles/definition/ */
dl.tabular
{
    float: left;
    width: 100%;
	margin: 1em 0;
	padding: 0;
}
dl.tabular dt
{
	clear: left;
	float: left;
	width: 25%;
	margin: 0;
	padding: 5px;
	font-weight: bold;
}
dl.tabular dd
{
	float: left;
	width: 75%;
	margin: 0;
	padding: 5px;
}
.clearfix {
  clear: both;
}