#forum {
    display: grid;
    grid-template-columns: minmax(10em, 25%) 1fr;
}
#thread-list {
    grid-column: 1;
    grid-row: 1;
}
#main-panel {
    grid-column: 2;
    grid-row: 1;
}
a i.forum-button {
    font-size: 100%;
    display: inline-block;
    padding: 0.2em;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    vertical-align: middle;
    background: #a6192e;
    color: white;
}

.forum-form label {
    font-weight: bold;
}
.forum-form .radio label {
    font-weight: normal;
}
.forum-form div.field {
    display: inline-block;
    vertical-align: top;
}
.forum-form div.field > * {
    margin-top: 0;
}

.thread-reply {
    border: thin solid #ddd;
    margin: 0.5em 0;
    padding: 0 0.5em;
}
span.reaction {
    border: thin solid #ddd;
    padding: 0.1em;
    margin: 0 0.25em;
}
.react-widget a {
    border: thin solid #ddd;
    padding: 0.1em;
    margin: 0 0.25em;
}