/* Style for the grad admin pages (that aren't shared by anything else) */

p.hiddencomment {
  margin-top: 0;
}
.hiddencomment {
  display: none;
  margin-left: 1em;
  font-style: italic;
}

.collapsible-heading {
  background: none !important;
}

.collapsed a:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.25em;
  content: '\00f196';
}
.displayed a:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.25em;
  content: '\00f147';
}

tr.current {
	font-weight: bold;
}
.datatable_container table.display {
  width: 100%;
  border-collapse:collapse;
}
p.manage_link {
  text-align: right;
  margin-top: -1.75em;
}

/* financial page */
/* from W3 Dot Leaders */
ul.leaders {
    max-width: 100%;
    overflow-x: hidden;
    list-style: none
    }
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 }
ul.leaders li.comment:before{
	content:"";
}
ul.leaders li.helptext{
	padding-left: 2em;
}
ul.leaders span:first-child {
    padding-right: 1em;
    background: white
}
ul.leaders span + span {
    float: right;
    padding-left: 1em;
    padding-right: 2em;
    background: white;
}

div.hr{
	border: 1px solid black;
	width: 98%;
}

span.label {
 	font-weight: bold
}
.promise-owing {
  color: red;
}

table#financial {
	width: 100%;
}
table#financial, table#financial td {
  border: none;
  padding: 0.5em;
}
table#financial thead {
  display: none;
}
table#financial h2 {
  margin-bottom: 1em;
}
table#financial td.prom {
  text-align: right;
  vertical-align: bottom;
  background-color: #ddd;
  border-bottom: solid white 0.5em;
}
table#financial td.rec {
	width: 60%;
}
table#financial td.programchange {
	border-bottom: 2px solid red;
	background-color: #fcc;
}

table#financial-compact tr.newprogram {
  border-bottom: 2px #fcc solid;
}
table#financial-compact td.num {
  text-align: right;
}