/* Style for the grad admin pages (that aren't shared by anything else) */

p.hiddencomment {
  margin-top: 0;
}
.hiddencomment {
  margin-left: 1em;
  font-style: italic;
}

.collapsible-heading {
  background: none !important;
}

.collapsed a:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.25em;
  content: '\00f196';
}
.displayed a:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.25em;
  content: '\00f147';
}

tr.current {
	font-weight: bold;
}
.datatable_container table.display {
  width: 100%;
  border-collapse:collapse;
}
p.manage_link {
  text-align: right;
  margin-top: -1.75em;
}

/* financial page */
/* from W3 Dot Leaders */
ul.leaders {
    max-width: 100%;
    overflow-x: hidden;
    list-style: none
    }
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 }
ul.leaders li.comment:before{
	content:"";
}
ul.leaders li.helptext{
	padding-left: 2em;
}
ul.leaders span:first-child {
    padding-right: 1em;
    background: white
}
ul.leaders span + span {
    float: right;
    padding-left: 1em;
    padding-right: 2em;
    background: white;
}

div.hr{
	border: 1px solid black;
	width: 98%;
}

span.label {
 	font-weight: bold
}
.promise-owing {
    color: red;
}

.promise-owing-negative {
    color: green;
}

.sims_check_yes {
  color: #7382B5; /* grabbed from labels in SIMS */
}
.sims_check_no {
  color: #b5464e;
}

table#financial {
	width: 100%;
}
table#financial, table#financial td {
  border: none;
  padding: 0.5em;
}
table#financial thead {
  display: none;
}
table#financial h2 {
  margin-bottom: 1em;
}
table#financial td.prom {
  text-align: right;
  vertical-align: bottom;
  background-color: #ddd;
  border-bottom: solid white 0.5em;
}
table#financial td.rec {
	width: 60%;
}
table#financial td.programchange {
	border-bottom: 2px solid red;
	background-color: #fcc;
}

table#financial-compact {
  overflow: hidden;
}
table#financial-compact tr.newprogram {
  border-bottom: 2px #fcc solid;
}
table#financial-compact tr.end-ay {
  border-top: 1px #888 dotted;
}
table#financial-compact td.num {
  text-align: right;
}
table#financial-compact td.acad-year .value {
/* http://css-tricks.com/snippets/css/text-rotation/ */
transform: rotate(90deg);
/* Safari */
-webkit-transform: rotate(90deg);
/* Firefox */
-moz-transform: rotate(90deg);
/* IE */
-ms-transform: rotate(90deg);
/* Opera */
-o-transform: rotate(90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); 
}
