.outofstock {
    color: red;
}

.needsreorder {
    color: orange;
}

.instock {
    color: green;
}

#filterform li span.field label {
    margin-left: 0.5em;
    white-space: nowrap;
}

.filter {
    border: 1px solid black;
    float: left;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}