/* some mods to SFU template CSS */
div#main p {
  margin-top: 1em;
}
#PageTitle {
  margin: 0.75em 0 0.25em;
  padding: 0;
}
div#main h3 {
  margin-top: 1em;
}
/* remove left-side menu for more screen space */
ul#main_nav {
  display: none;
}
#container {
  z-index: auto;
  background-image:url(bgImageWhiteRight.gif);
  padding-left: 40px;
  right: auto;
  width: 940px;
}
div#header, div#footer {
  padding-left: 205px;
}


/* CSS for system elements */
/* SFU colours: (as found at http://www.sfu.ca/clf/web/index.html)
red     #b5111b
blue    #0054a6
visited #25316e
grey    #54534a
*/
div#main {
  margin-bottom: 1.5em;
}
#sysmenu {
  float: right;
  width: 18em;
  text-align: right;
  margin: 0.2em 1em 0 0;
  font-size: 0.81em;
}
.empty {
  font-style: italic;
}
/*
.debug {
  font-size: small;
  color: #aaa;
  font-family: monospace;
}
*/
div#messages {
  border: 1px solid #b5111b;
  padding: 0.5em;
  margin: 1em 1em 1em 0;
  color: #b5111b;
  background-color: #f8f8c2;
}
div#messages h3 {
  margin: 0 0 0.5em 0;
  padding: 0;
  color: #b5111b;
}
div#messages ul {
  margin: 0 0.5em 0 1.4em;
  padding: 0;
}
div#messages li {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 20px;
}
div#messages .success {
    color: #92be2c;
    background-image: url('/media/icons/action_check.png');
    background-repeat: no-repeat;
    font-weight: bold;
}
div#messages .error {
    color: #c33a41;
    background-image: url('/media/icons/action_delete.png');
    background-repeat: no-repeat;
    font-weight: bold;
}
div#messages .warning {
    color: #e06121;
    background-image: url('/media/icons/exclamation.png');
    background-repeat: no-repeat;
    font-weight: bold;
}
div#newsitems div {
  margin: 0 2em;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0.5em;
}
table td, table th {
  border: 1px solid black;
  padding: 0.1em 0.25em;
  vertical-align: top;
}
table th {
  font-size: 110%;
  /* from jqueryui .ui-state-default */
  border: 1px solid #d3d3d3; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; outline: none;
}
td[scope] {
  font-weight: bold;
}
.dataTables_wrapper {
  margin: 1em 0;
}
th.sorting_asc, th.sorting_desc {
  border-width: 2px;
}
 
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  DataTable styles
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 
/* DataTables features */
.dataTables_wrapper {
    clear: both;
    
    /* Override style in "media/style/main.css" */
    margin: 1em 0 0 0;
    zoom: 1; /* Feeling sorry for IE */
}
.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}
.dataTables_info {
    width: 40%;
    float: left;
}

.dataTables_paginate {
    width: 40%;
    float: right;
    text-align: right;
}

/* DataTables display */
table.display {
    margin: 0;
    width: 100%;
    clear: both;
    
    /* Override style in "media/style/main.css" */
    border-width: 0;
}

table.display thead th {
    padding: 3px 0px 3px 10px;
    font-weight: bold;
    cursor: pointer;
    * cursor: hand;
}

table.display td {
    padding: 3px 10px;
    
    /* Override style in "media/style/main.css" */
    border-width: 0;
}

table.display td.center {
    text-align: center;
}

table.display td textarea{
	width: 180px;
	height: 60px;
}

table.display td select{
	width: 100px;
}

/* DataTables row classes */
tr.odd {
    background-color: #F5F5F5;
}

tr.even {
    background-color: white;
}


/* jQuery UI specific styling */
.paging_full_numbers .fg-button {
    padding: 2px 6px;
    cursor: pointer;
    * cursor: hand;
}

.paging_full_numbers {
    height: 22px;
    line-height: 22px;
}
.fg-toolbar {
    padding: 1px;
}
.dataTables_info {
    height: 22px;
    line-height: 22px;
}


/* The following css will make the datatable sorting icon float to right. */
.css_right {
    float: right;
}

/* Row action in course activity page  */
.row-actions {
  visibility: hidden;
  font-weight: normal;
}
tr:hover .row-actions {
  visibility: visible;
}
#activities td {
  vertical-align: top;
}

/* individual activity box style for student view */
.activity_box {
  -moz-border-radius: 6px 6px 6px 6px;
  border: 1px solid #ccc;
  margin: 1em 0 20px 0.5em;;
  width: 600px;
  margin-left: 0.5em;
}
.activity_box .grade {
  float: right;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px 20px 5px 0px;
  color: #555555;
}
.activity_box h3 {
  background: url("/media/images/grades/gray-grad.png") repeat-x left top #DFDFDF;
  color: #555555;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px!important;
  margin: 0!important;
}
.activity_box .inside {
  margin: 10px;
}
table.activity_box_info tbody th {
  font-weight: bold;
  text-align: left;
  width: 20%;
  /* Override default table style */
  background-color: transparent;
}
table.activity_box_info th, table.activity_box_info td {
  /* Override default table style */
  border-width: 0px;
}
table.activity_box_info {
  width: 100%;
  color: #555555;
  /* Override default table style */
  border-width: 0px;
}

/* visualize plugin chart style */
.visualize {
  margin: 60px 0 20px 30px;
  font-size: 0.8em;
}

/* CSS for group */
#groupcontainer {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
#groupmembership {
    float:right;
    width: 200px;
    margin-top:20px;
    margin-right:10px;
    margin-left:0;
    border: 1px solid;
    border-color:#FFCA91;
    backgroup-color:#FFEAD4;
    padding:5px 15px 15px 5px;
}

#groupcontent {
    width:400px;
    padding:0 30px 30px 0;
    margin:0 0 0 0;
}


/* things under container */
#main a.button {
/* need to add '#main' as selector in order to override SFU template style */
    display: block;
    width: 10em;
    height: 2em;
    color: #FFFFFF;
    text-align: center;
    line-height: 2em;
    background-color: #0054a6;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid white;
    border-bottom: 5px solid #fff;
}
#main #current_type {
    background-color: #B5111B;
}
#main a.button:hover {
    background-color: #B5111B;
    border-bottom: 5px solid #d8d5d5;
    text-decoration: none;
}

/* red button */
#main a.redbutton.submit_button {
    margin: 0.5em;
    float: right;
    clear: both;
}
#main a.redbutton {
/* need to add '#main' as selector in order to override SFU template style */
  display: block;
  width: 6em;
  height: 1.4em;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.5em;
  background-color: #B5111A;
  border: 1px solid #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 0.3em 0.5em 0.3em 0.5em;
}

#main a.redbutton:hover {
  border-color: #BCBCB4;
  text-decoration: none;
}
#main a.redbutton_onclick {
  background-color: #F0EFEA;
}

.buttongroup {
  margin: 0.5em;
}
table.info thead th {
  font-weight: bold;
}
table.info tbody th {
  font-weight: bold;
  text-align: left;
}
table.info tbody th {
  width: 30%;
}
table.info thead th, table.info thead td, table.info tbody th, table.info tbody td{
  border-color:#ccc;
}
table.info {
  border-color: #ccc;
  width: 100%;
}
.table_container {
  width: 600px;
}
.datatable_container {
  /*width: 700px;*/
  margin: 0 1em 0 0;
}

.table_container p.errorindicator {
    border: 2px solid red;
    padding: 0.5em;
    background-color: #fffead;
    color: red;
    margin-bottom: 1em;
}

.position_button {
  float: left;
}
.position_placeholder {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
}


#form_container {
    margin: 0 1em 0 0;
}
#form_container .errorindicator, #form_container .successindicator, #form_container .warningindicator {
    border: 1px solid;
    padding: 0.5em;
    background-color: #F8F8C2;
    margin-bottom: 1em;
    margin-top: 0;
}
#form_container .successindicator {
    border: 1px solid green;
    color: green;
}
#form_container .errorindicator {
    border: 1px solid red;
    color: red;
}
#form_container .warningindicator {
    border: 1px solid orange;
    color: orange;
}
#form_container .errorlist {
    color: red;
}
#form_container .requireindicator {
    padding: 0 0 0 1em;
    color: #D52E2D;
}
/*
 * field set
 */
/* form style (grouped by list) */
fieldset {
    width: 100%;
    padding: 0 0 0 0;
    border: 1px solid #BFBAB0;
    background: #F2EFE9;
    background-image: url('/media/images/grades/fieldset_gradient.jpg');
    background-repeat: repeat-x;
    margin: 1em 0 1em 0;
}
fieldset .inputfield ul {
    padding: 0;
    margin: 0;
}
fieldset .inputfield li {
    padding: 0;
    margin: 0;
}
fieldset .inputfield label {
    width: 30em;
}
/*
fieldset .inputfield input[type='text'] {
    width: 30em;
}
*/
fieldset .submit, form .submit {
  min-width: 6em;
  margin: 0 0 0 11em;
  background-color: #B5111A;
  border: 1px solid #FFF;
  color: #FFF;
  float: right;
  padding: 0.3em 0.5em 0.3em 0.5em;
}
fieldset .submit:hover, form .submit:hover {
  border-color: #BCBCB4;
  color: #eaf2fa;
}
fieldset ul {
    list-style: none;
    padding: 0 1em 0 1em;
}
fieldset ul.errorlist {
    list-style: none;
    padding: 0;
}
fieldset li {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}
fieldset .errorlist li {
    float: none;
    clear: none;
    padding: 0;
}
fieldset div.inputfield {
    float: left;
}
fieldset .helptext {
    color: gray;
    font-size: 0.9em;
}
fieldset .errortext {
    color: red;
    font-size: 0.9em;
}
legend {
    padding: 0;
    margin-left: 1em;
    color: #B5111A;
    font-weight: bold;
    font-size: 1.2em;
}
fieldset label {
    position: relative;
    display: block;
    width: 10em;
    float: left;
    margin-right: 1em;
    line-height: 1.5em;
    text-align: right;
}
.add_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.add_nav li {
    float: left;
}
.add_nav .warning {
    margin-bottom: 0.2em;
    width:100%;
    clear:both;
    color: gray;
}
#main .add_nav .button {
    background-color: #b4b4aa;
    width: 9em;
}
#main .add_nav #current_type {
    background-color: #0054a6;
}
/* requried_star style in the label */
fieldset label span {
    position: absolute;
    left: 10em;
}
fieldset .fomula_box {
    margin-bottom: 1em;
    background-color: #BCBCB4;
}
fieldset input#id_specify_numeric_formula,  fieldset input#id_specify_letter_formula{
    width: auto;
}

fieldset .position {
    float:right;
    width: 20%;
}
fieldset .view {
    float:left;
    width: 80%;
}
fieldset .view label {
    width: 7em;
    text-align: right;
    line-height: 1em;
    font-weight: bold;
}
fieldset #editbutton a.button{
    float: right;
}
fieldset #editbutton a.button:hover{
    border: 0;
}
fieldset .hidden {
    display: none;
}

/*
 *  containers
 */

#add_submission_component_container {
    clear: left;
}
#edit_single_submission_component_form_container {
    margin: 5.5em 0 0.5em 0;
}
#edit_submission_component_add_button {
    margin-left: 0em;
}
#component_view_student_container {
    clear: left;
}

/* marking style */
.marking_a
{
  font-weight:bold;
  color:black;
  background-color:#FFCC33;
  width:160px;
  text-transform:capitalize;
}

.marking_a a:hover,.marking_a a:active
{
  background-color:#FF9900;
  margin: 10;
}

#marking_container .receiver
{
	padding: 20px;
}

#marking_container .receiver .errorlist
{
	display: none;
}

#marking_container input[type="text"]{
 	width: 120px;
}

#marking_container textarea{
	width: 400px;
	height: 80px;
}

#marking_container .common_problems{
	float: right;
	background-color: #D0D0D0;
	width: auto;
	height: 25px;
	padding: 4px;
	margin: 10px;
}


#marking_container .requireindicator{
	display: none;
}

thead.form_head th{
	border:1px solid white;
	color:#555555;
	outline:medium none;
}

/* navigator style for selecting different form */
#form_nav {
    margin: 0 0 1em 0;
    padding: 0;
    list-style-type: none;
    width: 402px;
    height: 28px;
}
#form_nav li {
    float: left;
}
#form_nav li a {
    display: block;
    width: 200px;
    height: 28px;
    color: #FFF;
    text-align: center;
    line-height: 2em;
    background-color: #CB5A60;
    border-right: 1px solid #FFF;
    text-decoration: none;
}
#form_nav li a:hover {
    border-bottom: 5px solid #d8d5d5;
    background-color: #B5111A;
    text-decoration: none;
}
#form_nav li.current a {
    background-color: #B5111A;
    font-weight: bold;
}

/* display my submision */
#my_submission_dashboard {
    margin: 1em 0 4em 0;
}
#my_submission_dashboard h1{
    margin: 0em;
    padding: 0em;
}
#form_container .component_description {
    margin: 0 0 0.5em 0;
    padding: 0 0 0 0em;
    list-style: none;
}
#form_container .component_description label {
    font-weight: bold;
    margin-right: 1em;
}
#main #time_block, #main #time_block tr, #main #time_block td{
    border-width: 0px;
    padding: 0 1em 0 1em;
}
#time_block tr h3, #time_block td h3 {
    margin: 0;
}
#time_block #late_for, #time_block #late_for h3{
    background-color: red;
    color: white;
    font-weight: bold;
}
#student_info_submission_dashboard{
    float: right;
    text-align: right;
    margin-right: 10em;
}
#student_info_submission_dashboard ul {
    list-style: none;
    margin-top: 0.2em;
}
#student_info_submission_dashboard ul li {
    float:right;
    clear: right;
    width: 13em;
}

#student_info_submission_dashboard ul label {
    float: left;
    clear: left;
    font-weight: bold;
}

/* Override jquery UI style, otherwise the datepicker will be displayed too large */
#ui-datepicker-div {font-size:0.8em}


/* styles of titles, texts, etc., override SFU's template' */
#main h2 {
    font-family: 'Lucida Grande', Lucida, Arial, Verdana, sans-serif;
    margin: 1em 0 0 0;
    padding: 0em;
}
#main h3 {
    font-family: 'Lucida Grande', Lucida, Arial, Verdana, sasns-serif;
    margin: 0;
    padding: 0;
}
a img {
    border-style: none;
}
