/* some mods to SFU template CSS */
div#main p {
  margin-top: 1em;
}
#PageTitle {
  margin: 0.75em 0 0.25em;
  padding: 0;
}

/* CSS for system elements */
/* SFU colours: (as found at http://www.sfu.ca/clf/web/index.html)
red     #b5111b
blue    #0054a6
visited #25316e
grey    #54534a
*/
div#main {
  margin-bottom: 1.5em;
}
#sysmenu {
  float: right;
  width: 18em;
  text-align: right;
  margin: 0.2em 1em 0 0;
  font-size: 0.81em;
}
.debug {
  font-size: small;
  color: #aaa;
  font-family: monospace;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0.5em;
}
table td, table th {
  border: 1px solid black;
  padding: 0.1em 0.25em;
}
table th {
  background-color: #ddd;
  font-size: 110%;
}
.dataTables_wrapper {
  margin: 1em 0;
}
th.sorting_asc, th.sorting_desc {
  border-width: 2px;
}
 
 

/* CSS for group */
#groupcontainer {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
#groupmembership {
    float:right;
    width: 200px;
    margin-top:20px;
    margin-right:10px;
    margin-left:0;
    border: 1px solid;
    border-color:#FFCA91;
    backgroup-color:#FFEAD4;
    padding:5px 15px 15px 5px;
}

#groupcontent {
    width:400px;
    padding:0 30px 30px 0;
    margin:0 0 0 0;
}
