/* SFU colours: (as found at http://www.sfu.ca/clf/web/index.html)
red     #b5111b
blue    #0054a6
visited #25316e
grey    #54534a
*/

/* some mods to SFU template CSS: basic page elements */
dfn, var {
  font-style: italic;
}
code, tt {
  font-family: monospace;
}
blockquote {
	margin: 1em 2.5em;
}
dd {
	margin: 0 2.5em;
}
div#main dl.docs dd>p:first-child {
	margin-top: 0;
	padding-top: 0;
}
pre {
	font-family: monospace;
}

dt {
  font-weight: bold;
  margin-top: 1em;
}
form {
  overflow: hidden; /* keep the floating submit button contained http://stackoverflow.com/questions/7861276/clearboth-before-the-end-of-the-block */
}
label, input, textarea, select, .date-datepicker-button, .datetime-local-datepicker-button {
  display: inline;
}
fieldset, label, input, textarea, select, .date-datepicker-button, .datetime-local-datepicker-button {
  width: auto;
}
form select[multiple] {
  height: auto;
}
input[type="radio"], input[type="checkbox"] {
  float: none;
  margin: inherit;
  padding: inherit;
}
input[type="email"], input[type="number"] { /* other text-like input types not covered in head.styles.css */
  height:2.25em;
  padding:0 0 0 .4em;
  margin-top: 0.5em;
}
form.subtle, td.miniaction form { /* a form that we don't want to look so form-ish */
  background-color: transparent;
  border: none;
  padding: 0;
}
form table, form .table {
 background: transparent;
}
form table.info th {
  background-color: #ddd;
}
ul.bulleted li, .wikicontents ul>li {
  list-style-type: circle;
  margin-left: 1em;
}
a img {
    border-style: none;
}
ul {
  margin-top: 1em;
}
ul ul {
  margin-top: 0;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
td[scope] {
  font-weight: bold;
}



dl.inline {
  overflow: hidden;
}
dl.inline dt, dl.inline dd {
  float: left;
}
dl.inline dt {
  clear: left;
  margin-top: 0;
  min-width: 8em;
}
dl.inline dt:after {
  content: ':';
}
dl.inline.dlform dt:after {
  content: '';
}
dl.inline dd {
  margin: 0 2em;
}

legend {
  float: none;
}
table th[scope=row] {
  vertical-align: middle;
  border: none;
}

.empty { /* generically used for "nothing is here" messages */
  font-style: italic;
}
span.sort { /* content that fixes datatables sorting but isn't user-visible */
  display: none;
}
.hidden {
    display: none;
}
#ui-datepicker-div { /* shrink the datepicker to something more reasonable */
  font-size:0.75em;
}
.clearfix {
  clear: both;
}


/* for the base-wide template */
body.widebody .main {
  width: 100%;
  padding-top: 12px;
}
body.widebody .main_content {
  margin-top: 2em;
}


/* breadcrumb styling */
div.breadcrumb ul {
  margin-right: 15em;
}
div.breadcrumb ul li {
  display: inline;
  margin-left: 0;
  margin-right: 0;
}
div.breadcrumb ul li:before {
  content: " / ";
}
div.breadcrumb ul li:first-child:before {
  content: "";
}

#sysmenu { /* the "logged in as userid" message */
  display: inline;
  float: right;
  font-size: 0.875em;
  position: relative;
  top: 4em;
  right: 1em;
  width: 15em;
  text-align: right;
}


/* collapsibles */
.collapsible-content-collapsed {
  display: none;
}
.collapsible-heading:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.25em;
  content: '\00f147';
}
.collapsible-heading-collapsed:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.25em;
  content: '\00f196';
}
div#newsitems .collapsible-heading-status, h2.semester .collapsible-heading-status, h2#data .collapsible-heading-status, h2.note .collapsible-heading-status {
  /* hide the "show/hide" messages where appropriate */
  display: none;
}

/* big/small screen alternatives */
.wideonly { display: inline; }
.narrowonly { display: none; }
@media(max-width:980px){
  .wideonly { display: none; }
  .narrowonly { display: inline; }
}




/* actions menu */

.subnav-wrapper {
    float: left;
    font-family: "DINWeb",sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
    margin-bottom: 40px;
    margin-top: 75px;
    padding-left: 27px;
    padding-top: 0;
    width: 22.2222%;
}
.subnav-wrapper h2 {
    color: #A6192E;
    float: none;
    font-family: "DINWebBold",sans-serif;
    font-weight: normal;
    line-height: 1.125em;
    padding-top: 1em;
    text-transform: uppercase;

    letter-spacing: 0;
    padding-bottom: 0;
    font-size: 0.9em;
    padding-left: 23px;
}
.subnav-wrapper ul {
    margin-right: 12px;
    padding-left: 10px;
    padding-right: 12px;
}
.subnav-wrapper ul li {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 13px;
    list-style-type: none;
    margin-left: 0;
}
.subnav-wrapper ul.fa-ul li {
    padding-left: 0;
}
.subnav-wrapper li.newsec {
    border-top: 1px solid #d28c96;
    padding-top: 6px;
}
/* actions for small windows */
@media(max-width:980px){
    .subnav-wrapper {
        width: 100%;
        margin-top: 15px;
    }
    .subnav-wrapper ul li {
        display: inline;
        padding-left: 0;
    }
    .subnav-wrapper ul.fa-ul li .fa {
        display: none;
    }
    .subnav-wrapper ul li:before {
        content: " | ";
    }
    .subnav-wrapper ul li:first-child:before {
        content: "";
    }
    .subnav-wrapper li.newsec {
        border-top: none;
        padding-top: inherit;
    }
    .subnav-wrapper li.newsec:before {
        content: " || ";
    }
}

/* actions mods for base-wide */
body.widebody .subnav-wrapper {
  float: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body.widebody .subnav-wrapper h2 {
  padding-left: 0;
}
body.widebody .subnav-wrapper li {
  padding-left: 0;
}
body.widebody .subnav-wrapper ul {
  padding-left: 0;
}



/* messages */

div#messages {
  border: 1px solid #161513;
  padding: 0.25em 0.5em;
  font-weight: bold;
}
div#messages ul {
  margin: 0;
  padding: 0;
}
div#messages li {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0;
}
div#messages li:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.25em;
}
div#messages .success, .successmessage {
  color: #92be2c;
}
div#messages .success:before {
  content: '\00f058';
}
div#messages .error, .errormessage {
  color: #c33a41;
}
div#messages .error:before {
  content: '\00f057';
}
div#messages .warning, .warningmessage {
  color: #e06121;
}
div#messages .warning:before {
  content: '\00f06a';
}
div#messages .info, .infomessage {
  color: #075fa3;
}
div#messages .info:before {
  content: '\00f05a';
}

/* highlighting of soon-due activities in grades displays */
.due_verysoon {
  background-color: #f22;
}
.due_soon {
  background-color: #ff0;
}

/* news items on index and "all news items" pages */
div#newsitems {
  clear: left;
}
div#newsitems .newsitem {
    line-height: 1.4em;
}
div#newsitems .newsitem h3 {
    margin: 0.25em 0 0 0;
}
div#newsitems .newsitem p {
    margin: 0px;
}
div#newsitems .newsitem .newsdate {
    color: #777;
    font-size: 0.8em;
}
div#newsitems .newsitem .newscontent {
  margin-bottom: 1em;
}
div#newsitems .newsmore {
  margin-left: 1.25em;
}
div#newsitems a.morenews {
  font-family: monospace;
  font-weight: bold;
  margin-right: 0.5em;
}



/* DataTable styles */

.dataTables_length {
  width: 40%;
  float: left;
  font-size: 75%;
  text-align: left;
}
.dataTables_filter {
  font-size: 75%;
  width: 50%;
  float: right;
  text-align: right;
}
.dataTables_info {
  font-size: 75%;
  width: 40%;
  float: left;
  text-align: left;
  height: 22px;
  line-height: 22px;
}
.dataTables_paginate {
  width: 40%;
  float: right;
  text-align: right;
}
.dataTables_paginate a {
  display: inline;
}
.dataTables_filter input, .dataTables_length select {
  display: inline;
}
.paging_full_numbers .fg-button {
    padding: 2px 6px;
}
.fg-toolbar {
    padding: 2px 4px;
}
/* makes the datatable sorting icon float to right. */
.dataTables_wrapper .css_right {
    float: right;
}
.arrow_up, .arrow_down { /* student_info_staff activity reorder arrows */
  font-size: smaller;
  font-weight: normal;
}


div.bigdatatable .dataTables_wrapper {
    font-size: smaller;
}
div.bigdatatable .dataTables_wrapper td {
    padding: 2px 1px;
}
div.bigdatatable span.more {
    display: none;
}

/* DataTables row classes */
tr.odd {
    background-color: #F5F5F5;
}
tr.even {
    background-color: white;
}

/* DataTables cell types */
.iconcell {
  text-align: center;
}
.iconcell .fa {
  margin: 0 0.25em;
}
.datatable_container .disabled {
  background-color: #eee;
  color: #999;
}
table.display td.center {
    text-align: center;
}
table.display td.num {
    text-align: right;
}
table td.hidden, table tr.hidden {
	display: none;
}


/* info tables */
table.info {
  border-collapse:collapse;
}
table.info th {
  font-weight: bold;
  width: 12em;
  background-color: #eee;
  border: 1px solid #ddd;
}
table.info td {
  border: 1px solid #ddd;
}
table.info p {
  padding: 0;
  margin: 0;
}
table.info form {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
table.info p input {
  float: right;
  font-size: 75%;
  padding: 0 0.5em;
}
table.info a.editlink { /* small "edit this thing" links in table.info */
  float: right;
  font-size: smaller;
}


/* Collapsible style */
div.collapsible {
  color: gray;
  font-size: 1.0em;
  font-weight:normal;
}
#main .collapsible-heading {
  padding-left:15px;
  background:url('../images/icon-triangle.png') 0 6px no-repeat;
}
#main .collapsible-heading-collapsed {
  background-position:0 -84px;
}
#main .collapsible-heading-toggle, #main .collapsible-heading-toggle:hover {
  text-decoration:none;
  color: gray;
  line-height: 1.6em;
}
#main .collapsible-content-collapsed {
  display:none;
}


.errorlist {
    color: #b5111b;
    margin-top: .1em;
    margin-bottom: .2em;
}



/* TUG stuff */

#edit-time-use-guideline tr>th {
	vertical-align: middle;
}

#edit-time-use-guideline td.weekly, 
#edit-time-use-guideline td.total {
	text-align: center;
}
#edit-time-use-guideline input.weekly, 
#edit-time-use-guideline input.total {
  text-align: right;
  width: 7em;
}
#edit-time-use-guideline
input.label-field {
  width: 12em;
}

/* form and form|as_dl styling */

form .submit {
  min-width: 6em;
  background-color: #B5111A;
  border: 1px solid #FFF;
  color: #FFF;
  float: right;
  padding: 0.3em 0.5em 0.3em 0.5em;
  margin: 0.5em;
}
.helptext {
    color: gray;
    font-size: 0.9em;
}

dl.dlform dt{
    clear: both;
}
dl.dlform dt label{
	clear: both;
}
form>input:first-child+fieldset { /* strip top margin for first fieldset */
    margin-top: 0;
}
dl.dlform input, dl.dlform select, dl.dlform textarea {
	margin-bottom: 0;
}
dl.dlform div.field.radio {
    display: inline-block;
}
dl.dlform div.field.radio label {
    text-align: left;
    width: auto;
}
dl.dlform div.field.radio ul {
    margin-top: 0;
}
dl.dlform dd .explanation_block {
    margin-left: 9.5em;
}
.reqicon {
  font-size: 80%;
}

form .errortext {
    color: #B5111B;
}
legend {
    padding: 0;
    margin: 0 0 0.5em 0;
    color: #B5111A;
    font-weight: bold;
    font-size: 1.2em;
}



/* marking styles */

#mark_details {
  margin-bottom: 2em;
}
#mark_details td {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
#mark_details td.subrow {
  width: 2em;
}
#mark_details h3 {
  margin: 0;
  padding: 0;
  padding-top: 1.5em;
}
#mark_details td.comment {
  color: #00c;
  padding-top: 0.5em;
}
#mark_details td.subhead {
  width: 8em;
  font-weight: bold;
}
#mark_details td.mark {
  text-align: right;
  padding-top: 1.5em;
}
#mark_details td.mark {
  text-align: right;
}
#mark_details td p:first-child {
  margin-top: 0;
}
#mark_details #totalrow .subhead {
  padding-top: 1.5em;
}
#mark_details #totalrow .mark {
  font-weight: bold;
}

fieldset.marking dl dt {
  clear: none;
}
fieldset.marking .common {
    font-size: smaller;
    border: 1px #888 solid;
	padding: 0.2em 1em;
	float: right;
	max-width: 33%;
	margin: 0.2em 5em 0.2em 5em;
}
fieldset.marking .common input[type="button"]{
	background-color: #036;
	color: #fff;
	padding: 0.2em 1em;
	border-right: 1px solid #fff;
	margin: 0.5em 0.2em 0em 0.2em;
}


/* discipline module styles */

div#main div.showcase h2 {
  margin-top: 2em;
  clear: right;
}
div#nextstep {
  background-color: #66BCFF;
  padding: 1em;
  margin: 1em 1em 1em 0;
  font-size: 1.25em;
}
p.actionwarning {
  color: #b00;
  font-weight: bold;
}
dl p.editlink {
  float: right;
  clear: right;
  width: 15%;
  margin: 1em 1em 1em 2em;
}
hr.fieldsep {
  clear: both;
  width: 0;
  margin: 0.5em;
  color: #fff;
  border: none;
}
div.form_container>form>ul>li {
  list-style-type: none;
}
div.discside {
  float: right;
  clear: right;
  width: 15em;
  border: dashed 1px #ccc;
  margin-bottom: 0.5em;
  display: none; /* display controlled by JS */
}
#main div.discside h3 {
  margin: 0.5em 0;
  padding: 0;
}
div.discside ul {
  margin: 0.5em;
  padding: 0;
}
div.discside ul li {
  margin: 0.25em 0;
  padding: 0;
  list-style-type: none;
}
div#subpop, div#texpop {
  display: none;
}
div.letter {
  margin: 1em 3em;
  padding: 0.5em;
  border: 1px dashed #ccc;
}
div.letter p {
  margin: 1em 0 !important;
  padding: 0;
}

/* grades edit_cutoffs.html page */
table.cutoffs td {
  vertical-align: middle
}
table.cutoffs td.label {
  padding-left: 2em;
}
table.cutoffs input {
  width: 6em;
  text-align: right;
}
p.cutoffoffset {
  position: relative; 
  height: 0;
  margin: 0;
  padding: 0;
  right: 4em;
  top: 4em;
  text-align: right;
  font-size: small;
}
table.info span.letter {
  font-size: x-small;
  color: #777;
}


/* miniaction buttons in tables */
td.miniaction, td.miniaction p {
  margin: 2px !important;
  padding: 0 !important;
  text-align: center;
}
td.miniaction form {
  margin: 0;
}
td.miniaction input {
  font-size: 75%;
  padding: 0 0.25em;
  margin: 0.25em;
}


/* pages module styles */
div.syntaxhighlighter {
  padding-left: 2em;
  clear: right;
}
div.updateinfo {
  font-size: smaller;
  text-align: right;
  margin-bottom: -1em;
  margin-right: 1em;
  margin-top: 2em;
  clear: right;
}

/* advisornotes styles */
div.note-box {
	border:1px solid #ccc;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	padding:10px;
	padding-top:0px;
	margin-bottom: 20px;
}
div.note-box p.hideshow {
  text-align: right;
  font-size: x-small;
}
.deletednote {
  background-color: pink;
}
.deletednote h2 {
  text-decoration: line-through;
}
.deletednote div.note-box {
  margin: 0.5em;
}


/* TA contract template */
div#course-forms dl.inline {
  margin-left: 2.5em;
}


X #ta_course{
	margin: 15px 20px 10px;	
	width: 650px;
}

X #ta_pay{
	margin: 15px 20px 20px;	
}

X #ta_course input{
	width: 80px; 
}

X #ta_course select{
	width: 180px;	
}

X #ta_pay input{
	width: 120px;
}

X td.table-row-label{
	font-weight: bold; 
	color: #555555;
	font-size: 110%;
}

X #cal_tr td{
	vertical-align: middle;	
}

X #cal_tr:hover{
	background-color:#F2EFE9;
}

X #ta_app input{
	width: 80px;	
}

X #assign_bu{
	width: 60%;
}




/* Artifact Notes */
table.artifacts th.name {
  width: 85%;
}

.artifact-note {
  border: 1px solid #CCC;
  margin-top: 5px;
  padding: 5px 10px;
}

.artifact-note.expired {
  background-color: #F5D6DB;
}

.artifact-note-header {
  overflow: hidden;
}

.artifact-note-header {
  cursor: pointer;
  padding-left: 15px;
  background: url('../images/icon-triangle.png') 0 3px no-repeat;
}

.artifact-note.collapsed .artifact-note-header {
  background-position: 0 -87px;
}

.artifact-note.collapsed .hideshow,
.artifact-note.collapsed .note-content {
  display: none;
}

.artifact-note dl {
  float: left;
}

.artifact-note dt,
.artifact-note dd {
  margin: 0;
  display: inline-block;
}

.artifact-note dt {
  color: #777;
  margin-right: 0.3em;
  font-weight: normal;
}

.artifact-note dd {
  margin-right: 20px;
}

.artifact-note div.hideshow {
  float: right;
}

.artifact-note input {
  vertical-align: middle;
  margin-top: 0;
}

.artifact-note div.note-content {
  clear: both;
}

div#main .artifact-note p {
  margin: 10px 0 5px;
}

.artifact-note .attachment-icon {
  margin-bottom: -3px;
}


/* course browser */

#filterform ul {
  margin: 0;
}
#filterform li {
  list-style-type: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0.5em 0.5em;
  *display: inline;
}
#filterform li label {
  display: block;
  font-weight: bold;
  margin: 0;
}
#filterform li span.field label {
  display: inline;
  font-weight: normal;
  margin-top: 0.5em;
}
#filterform li span.field {
}
#browser_container div.table {
  overflow-x: visible;
}
