.view_fieldset {
    padding-bottom: 1em;
}

hr.clear {
    clear: both;
}

dl.formview dt {
	margin-top: 0.9em;
}

p.returnlink {
  float: right;
  margin-right: 1em;
}

.sheetsub-WAIT {
  color: #999;
}
p.incomplete-warning {
  text-align: center;
  font-weight: bold;
  color: #f00;
}

form.sheetsub div.explanation_block {
	color: #999;
}
fieldset div.explanation_block ul>li {
	list-style: disc;
}
.formfileinput {
  display: inline-block;
  margin: 0 0 0.5em 0;
}
fieldset label.sublabel {
	width: auto;
}
fieldset label.xxxxsublabel {
	position: static;
    display: inline;
    width: auto;
    float: none;
    margin-right: 0;
    line-height: 1em;
    text-align: left;
}
