.view_fieldset {
    padding-bottom: 1em;
}

hr.clear {
    clear: both;
}

dl.formview dt {
	margin-top: 0.9em;
}

.sheetsub-WAIT {
  color: #999;
}
p.incomplete-warning {
  text-align: center;
  font-weight: bold;
  color: #f00;
}

form.sheetsub div.explanation_block {
	color: #999;
}
