@CHARSET "UTF-8";
@media print {

/* hide the SFU/site style */
div.branding, div.site-title, div#actions, div.header-divider, header {
  display: none;
}

body {
	font-family: serif;
    background: none;
    border: none;
}

#container {
    width: auto;
	background-image: none;
	border-top: none;
	padding: 0;
}

div#main {
	border-left: 0;
	padding: 0;
}

/* hide things on page that shouldn't be printed */

.noprint {
	display: none;
}
.datatable_container .ui-widget-header, .DataTables_sort_icon {
	display: none;
}


}
