table#salary_info, table#salary_info td {
    border-style: none;
}

table#salary_info td {
    padding-right: 0.4em;
    height: 2.3em;
}

td.salary_first {
    width: 10.7em;
}

td.salary_first, td.salary_label {
    text-align: right;
    font-weight: bold;
}
div#extra_info {
	float: right;
	width: 25%;
}

div#visa_warning {
    color: red;
}

div#programs li {
	list-style-type: disc;
}
dl.dlform dt {
  clear: none;
}

.hiring_category_rec {
    color: rgb(100, 0, 0);
}

.form_section {
    background-color: #eee;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-top:15px;
    margin-bottom:15px;
}

.form_section_complete {
    background-color: rgb(219, 253, 203);
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-top:15px;
    margin-bottom:15px;
    padding-left:10px;
}

.form_section_incomplete {
    background-color: rgb(255, 180, 180);
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-top:15px;
    margin-bottom:15px;
    padding-left:10px;
}

.important_info {
    background-color: rgb(251, 255, 198);
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 1px solid #bbb;
    border-radius: 8px;
}
