table#salary_info, table#salary_info td {
    border-style: none;
}

table#salary_info td {
    padding-right: 0.4em;
    height: 2.3em;
}

td.salary_first {
    width: 10.7em;
}

td.salary_first, td.salary_label {
    text-align: right;
    font-weight: bold;
}
div#extra_info {
	float: right;
	width: 25%;
}

div#visa_warning {
    color: red;
}

div#programs li {
	list-style-type: disc;
}
dl.dlform dt {
  clear: none;
}

.hiring_category_rec {
    color: rgb(100, 0, 0);
}

.form_section {
    background-color: #eee;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-top:15px;
    margin-bottom:15px;
}

table.form_section_complete {
    background-color: rgb(219, 253, 203);
    border: 1px solid #bbb;
    margin-top:2px;
    margin-bottom:2px;
    padding-left:10px;
}

table.form_section_incomplete {
    background-color: rgb(255, 180, 180);
    border: 1px solid #bbb;
    margin-top:2px;
    margin-bottom:2px;
    padding-left:10px;    
}

table td.checkbox {
    text-align:right;
}

.bottom_admin {
    border: 12px solid #eee;
    padding:10px;
}

.important_info {
    background-color: rgb(251, 255, 198);
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 1px solid #bbb;
    border-radius: 8px;
}

.row {
    text-align:center;
}

.directory_buttons h3 {
    text-align:center;
}

.directory_buttons button {
    display:inline; 
    float:left;
}

.directory_buttons input {
    display:inline; 
    float:right;
    margin-left:12px;
}

.actionlist {
    padding-top: 20px;
    padding-bottom: 20px;
}

.actionlist .btn{
    display: inline-block;
    padding: 12px;
    margin-right: 5px;
    margin-left: 0px;
}

.actionlist .pressed {
    background-color: #777777;
    border-bottom: 3px solid #464646;
    cursor: default;
}

table.info p input {
    margin: 0px;
}

.indent {
    padding-left: 30px;
}

/* reference: https://www.w3schools.com/css/css_tooltip.asp */

.info-bubble {
    position: absolute;
    display: inline-block;
  }

.info-bubble .info {
    visibility: hidden;
    width: 600px;
    background-color: #777777;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    font-weight: 100;
}

.info-bubble:hover .info {
    visibility: visible;
}