body {
    background-color: #A7A8A0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #555555;
}

dt {
  font-weight: bold;
}

#container {
    width: 980px;
    background-image: url("../images/bodybg.gif");
    background-repeat: repeat-y;
    border-top: 5px solid #2E3192;
    margin: 0 auto;
}

#head #banner-space {
    background-color: #6E6D64;
    height: 70px;
    border-left: 25px solid #B5111B;
}

#head #banner-space a#logo {
    display: block;
    background-image: url("../images/logo.gif");
    width: 465px;
    height: 70px;
}

#head #bar-space {
    background-color: #B5111A;
    height: 45px;
    border-left: 25px solid #CB5A60;
    text-align: right;
}

#head #links-left {
    float: left;
    height: 45px;
}

#head #links-right {

}

#body {
}

#body #left {
    width: 170px;
    float: right;
    padding-left: 25px;
}

#body #center {
    width: 765px;
    float: right;
    padding: 20px 10px 0px;
}

#foot {
    height: 25px;
    line-height: 25px;
    background-color: #B6B7B1;
    padding: 0 25px;
    text-align: right;
    color: white;
    clear: right;
}

#foot a {
    color: white;
    text-decoration: none;
}

#foot span {
    float: left;
}

/* Top-Level Links CSS */
#bar-space {
    font-size: 15px;
    font-weight: bolder;
    line-height: 30px;
    color: #CB5A60;
    padding-right: 10px;
}

#bar-space label {
    color: #FFFFFF;
    margin-right: 0px;
}

#bar-space #sfu-search {
    width: 100px;
}

#bar-space a {
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 15px solid #B5111A;
}

#bar-space a:hover {
    border-bottom-color: #CB5A60;
}

#bar-space #sfu {
    font-weight: bolder;
    margin: 0px 43px 0px 40px;
    text-transform: uppercase;
}

#bar-space a,
#bar-space label {
    font-weight: normal;
    margin: 0px 3px;
}

#links-right {
    margin: 0;
    padding: 0;
    list-style: none;
}


#links-right li {
    position: relative;
    display: inline;
}

#links-right li.hover ul,
#links-right li:hover ul {
    display: block;
    
}

#links-right li ul {
    width: 200px;
    list-style: none;
    text-align: left;
    background-color: #CB5A60;
    display: none;
    position: absolute;
    top: 39px;
    left: 3px;
    padding: 0;
}

#links-right li ul li {
    margin: 0;
    padding: 0;
}

#links-right li ul a {
    display: block;
    border: 0;
    margin: 0;
    padding: 0px 5px;
}

#links-right li ul a:hover {
    background-color: #B5111A;
}

#links-right #AtoZ {
    text-transform: uppercase;
    padding: 5px;
}

#links-right #AtoZ li {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10pt;
    overflow: hidden;
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    clear: none;
}


/* Menu CSS */
#menu {
    width: 170px;
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu li {
    line-height: 22px;
}

#menu li a {
    display: block;
    height: 22px;
    padding: 0px 0px 0px 10px;
    margin: 0;
    text-decoration: none;
    color: #555555;
}

#menu li a:hover,
#menu li.current a {
    border-right: 5px solid #666666;
    color: #0054A6;
    background-color: #CCCCCC;
}

/* Menu - Level 2 CSS */
#menu li ul {
    display: none;
    padding: 0;
    margin: 0px 0px 0px 15px;
    list-style: none;
}

#menu li.current ul {
    display: block;
    border-right: none;
    background-color: transparent;
}

#menu li.current ul a {
    color: #0054A6;
    background-color: transparent;
    border-right: none;
}

#menu li.current ul a:hover {
    color: #8B2C33;
    background-color: transparent;
    border-right: none;
}

/* Breadcrumbs CSS */
#breadcrumbs {
    font-size: 9pt;
}

#breadcrumbs a {
    color: #0054A6;
    text-decoration: none;
}

#breadcrumbs a:hover {
    text-decoration: underline;
}

#breadcrumbs ul {
    margin: 0;
    padding: 0;
}

#breadcrumbs ul li:first-child {
    margin: 0;
    padding: 0;
}

#breadcrumbs ul li {
    display: inline;
    padding-left: 1em;
    margin-left: 1em;
}

/* Title CSS */
#title {
    text-transform: uppercase;
    font-weight: normal;
    color: #B5111A;
    font-size: 1em;
    line-height: 3em;
}

h2 {
  border-bottom: 1px solid #555555;
  color: #555555;
  font-size: medium;
  padding: 3px;
}

h3 {
  border-bottom: 1px solid #DDDDDD;
  color: #555555;
  font-size: small;
	margin-bottom: 10px;
}

h4 {
  font-size: small;
	background-color: #E9E9E9;
	padding: 5px;
}

table, tr, td {
  border: 1px solid #555555;
  border-collapse: collapse;
}

table {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.table_header td {
  	background-color: #F1D3D3;
	padding: 5px;
	color: #712525;
	letter-spacing: 2pt;
}

.column_header {
  	background-color: #F1D3D3;
	color: #712525;
	letter-spacing: 2pt;
}

.table_header a:active,
.table_header a:hover,
.table_header a:link,
.table_header a:visited {
	letter-spacing: normal;
}

.table_sub_header td {
  font-weight: bold;
}

td.table_sub_header {
  font-weight: bold;
}

form p {
	padding: 3px;
	margin: 0;
}

.msg {
	background-color: #C3FFA3;
	color: #4B7145;
	border: 1px solid #4B7145;
	padding: 10px;
	text-align: center;
}

.err {
	background-color: #FFCDCB;
	color: #D20628;
	border: 1px solid #D20628;
	padding: 10px;
	text-align: center;
}

.left {
	float: left;
	margin-right: 20px;
}

.right {
	float: left;
}

.poster {
	float: left;
}

.button {
	float: right;
	margin: 0;
}

.clear {
	clear: both;
}

.comment {
	color: #C00000;
}

.mark {
	color: #C00000;
	border: 1px solid;
	padding: 5px;
}

.date {
	font-style: italic;
}
