
.collapsible-heading-status{
    display: none;
}


.collapse_menu ul li{
    float: right;
    margin-right: 10px;
}

.contract_not_accepted, .contract_rejected{
    background-color: #a6192e;
    color: white;
    font-weight: bold;
}

.contract_accepted{
    background-color: green;
    color: white;
    font-weight: bold;
}

.contract_form {
    float: right;
    margin: 1em;
}

div#grad_status {
	float: right;
	width: 25%;
}

dl.dlform dt {
    clear: none;
}

div#grad_warning {
    color: orange;
}

div#grad_active {
    color: green;
}

/* reference: https://www.w3schools.com/css/css_tooltip.asp */

.info-bubble {
    position: relative;
    display: inline-block;
  }

.info-bubble .fa {
    color: #777777;
}

.info-bubble .info {
    visibility: hidden;
    width: 200px;
    background-color: #777777;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 110%;
    margin-left: -100px;
}

.info-bubble:hover .info {
    visibility: visible;
}