
.collapsible-heading-status{
    display: none;
}


.collapse_menu ul li{
    float: right;
    margin-right: 10px;
}

/* If you want to make something look like a SFU red button, 
   this style is what you're looking for. */
.btn{
    -webkit-backface-visibility: hidden;
    -webkit-appearance: none;
    border: none;
    border-bottom: 3px solid #7A1024;
    border-radius: 5px;
    display: block;
    margin: 1em 0 10px;
    padding: .25em 1em;
    text-decoration: none;
    background-color: #a6192e;
    font-size: 1em;
    line-height: 1.3125em;
    font-family: "DINWebMedium",sans-serif;
    font-weight: normal;
    line-height: 1.625;
    color: #FFF;
    width: auto;
    cursor: pointer;
}

/* You can make a line of small buttons by building lineforms side-by-side. */
.lineform{
    display: inline;
    float:right;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

.lineform .btn{
    margin: 0;
    margin-left: 10px;
    padding: 0 4px;
    display: inline;
    width: 30px;
}

.contract_not_accepted{
    background-color: #a6192e;
    color: white;
    font-weight: bold;
}

.contract_accepted{
    background-color: green;
    color: white;
    font-weight: bold;
}
