.visaexpired, .visaexpired a {
    color: red;
}

.visaalmostexpired, .visaalmostexpired a {
    color: orange;
}

.visavalid, .visavalid a {
    color: green;
}

.actionlist .btn{
    display: inline-block;
    margin-right: 5px;
    margin-left: 0px;
}

form {
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

/* match the date picker */
form select {
    height: 2.25em;
    padding: 0 0 0 .4em;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: 0 0 5px -2px #777;
}

form label {
    padding: 5px;
}