{% extends "base.html" %}
{% load staticfiles %}
{% load form_display %}

{% block title %}Edit Location{% endblock %}
{% block h1 %}Edit Room Type{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "space:index" %}">Locations</a></li>
    <li>Edit Location</li>
{% endblock %}

{% block content %}
<form action="{% url 'space:edit_location' location_slug=location.slug from_index=from_index %}" method="post">
    {% csrf_token %}
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Save Location" />
    </p>
</form>
{% endblock %}
