{% extends "base.html" %}
{% load static %}

{% block title %}Room Types{% endblock %}
{% block h1 %}Room Types{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "space:index" %}">Space Management</a></li>
    <li>Room Types</li>
{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#roomtypes').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[0, 'asc']]
  } );
} );
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "space:add_roomtype" %}">Add New Room Type</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
    {% if roomtypes %}
        <table id="roomtypes" class="display">
            <thead>
                <tr>
                    <td>Description</td>
                    <td>Code</td>
                    <td>COU</td>
                    <td>COU Description</td>
                    <td>Actions</td>
                </tr>
            </thead>
            {% for r in roomtypes %}
                <tr>
                    <td>{{ r.long_description }}</td>
                    <td>{{ r.code }}</td>
                    <td>{{ r.COU_code_value }}</td>
                    <td>{{ r.COU_code_description }}</td>
                    <td>
                        <form class="lineform" method="POST"
                              action="{% url "space:delete_roomtype" roomtype_id=r.id %}">
                            {% csrf_token %}
                            <button type='submit' class='btn confirm-submit' title="Delete room type" data-submit-action="remove this room type">
                                <i class='fa fa-trash-o'></i>
                            </button>
                        </form>
                        <a class="lineform" href="{% url "space:edit_roomtype" roomtype_slug=r.slug %}">
                            <button type='submit' class='btn' title="Edit Room Type">
                                <i class='fa fa-edit'></i>
                            </button>
                        </a>
                        <a class="lineform" href="{% url "space:view_roomtype" roomtype_slug=r.slug %}">
                            <button type='submit' class='btn' title="View Room Type">
                                <i class='fa fa-eye'></i>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <div>There are no room types to display.</div>
    {% endif %}
{% endblock %}