{% extends "base.html" %}
{% load static %}
{% load form_display %}

{% block title %}Add Room Type{% endblock %}
{% block h1 %}Add Room Type{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "space:index" %}">Space Management</a></li>
    <li><a href="{% url "space:list_roomtypes" %}">Room Types</a></li>
    <li>New Room Type</li>
{% endblock %}

{% block content %}
<form action="{% url 'space:add_roomtype' %}" method="post">
    {% csrf_token %}
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Add Room Type" />
    </p>
</form>
{% endblock %}
