{% extends "base.html" %}
{% load static %}
{% load form_display %}

{% block title %}Add Location{% endblock %}
{% block h1 %}Add Location{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "space:index" %}">Space Management</a></li>
    <li>Add New Location</li>
{% endblock %}

{% block content %}
<form action="{% url 'space:add_location' %}" method="post">
    {% csrf_token %}
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Add Location" />
    </p>
</form>
{% endblock %}
