{% extends "base.html" %}
{% load static %}
{% load form_display %}

{% block title %}Add Booking{% endblock %}
{% block h1 %}Add Booking{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#id_person').each(function() {
    $(this).autocomplete({
      source: '/data/students',
      minLength: 2,
      select: function(event, ui){
        $(this).data("val", ui.item.value);
      }
    });
  });
    $('#id_start_time_0').datepicker({'dateFormat': 'yy-mm-dd'});
    $('#id_end_time_0').datepicker({'dateFormat': 'yy-mm-dd'});
});


</script>
{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "space:index" %}">Space Management</a></li>
    {% ifnotequal from_index '1' %}
    <li><a href="{% url "space:view_location" location_slug=location.slug %}">View Location</a></li>
    {% endifnotequal %}
    <li>Add Booking</li>
{% endblock %}

{% block content %}
<form action="{% url 'space:add_booking' location_slug=location.slug from_index=from_index %}" method="post">
    {% csrf_token %}
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Add Booking" />
    </p>
</form>
{% endblock %}