{% extends "base.html" %}
{% load static %}
{% load form_display %}

{% block title %}View Room Type{% endblock %}
{% block h1 %}View Room Type{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "space:index" %}">Space Management</a></li>
    <li><a href="{% url "space:list_roomtypes" %}">Room Types</a></li>
    <li>View Room Type</li>
{% endblock %}

{% block content %}
    <dt>Unit</dt><dd>{{ roomtype.unit }}</dd>
    <dt>Description</dt><dd>{{ roomtype.long_description }}</dd>
    <dt>Code</dt><dd>{{ roomtype.code }}</dd>
    <dt>COU Code Description</dt><dd>{{ roomtype.COU_code_description }}</dd>
    <dt>Space Factor</dt><dd>{{ roomtype.space_factor }}</dd>
    <dt>COU Code Value</dt><dd>{{ roomtype.COU_code_value }}</dd>
{% endblock %}