{% extends "base.html" %}
{% load form_display %}
{% block title %}Alerts: {{alert_type.code}} Bulk Emails{% endblock %}
{% block h1 %}Alerts: {{alert_type.code}} Bulk Emails{% endblock %}

{% block headextra %}
<link type="text/css" href="{{STATIC_URL}}style/alerts.css" rel="stylesheet" />
<script type="text/javascript">
$(function() {
  $('.display').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
    "aaSorting": [[ 3, "desc" ]]
  } );
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "alerts.views.view_alert_types" %}">Alerts</a></li>
<li><a href="{% url "alerts.views.view_alerts" alert_type=alert_type.slug %}">{{alert_type.code}}</a></li>
<li>Bulk Emails </li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "alerts.views.new_automation" alert_type=alert_type.slug %}">New Automated Email</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<h3 class="warning">I'm ready. We should <a href="{% url "alerts.views.send_emails" alert_type=alert_type.slug%}">Send These Emails Now</a>!</h3>

{% if alert_automations %}
    {% for title, email, alerts in alert_automations %}
        <div class='automation'>
        <h2> {{title}} </h2>
        <p>{{email.content|linebreaksbr}}</p>
        <a class='button' href="{% url "alerts.views.delete_automation" alert_type=alert_type.slug automation_id=email.id %}">Delete</a>
        <table class="display">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Preview Email</th>
                    <th>Actions</th>
                    <th>Emails</th>
                    <th>Comments</th>
                    <th>Last Update</th>
                    <th>Description</th>
                    {% for key, value in most_recent_alert.details.items %}
                        <th>{{key|lower|capfirst}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for alert in alerts %}
                <tr>
                    <td>
                        <a href='{% url "alerts.views.view_alert" alert_type=alert_type.slug alert_id=alert.id %}'>{{alert.person}}</a>
                    </td>
                    <td><a href='{% url "alerts.views.view_email_preview" alert_type=alert_type.slug automation_id=email.id alert_id=alert.id %}'>Preview</a></td>
                    <td style='white-space:nowrap'>
                        {% if alert.resolved %}
                            <a href='{% url "alerts.views.reopen_alert" alert_type=alert.alerttype.slug alert_id=alert.pk %}'>Reopen</a> |
                        {% else %}
                            <a href='{% url "alerts.views.resolve_alert" alert_type=alert.alerttype.slug alert_id=alert.pk %}'>Resolve</a> |
                        {% endif %}
                        <a href='{% url "alerts.views.comment_alert" alert_type=alert.alerttype.slug alert_id=alert.pk %}'>Comment</a> |
                        <a href='{% url "alerts.views.email_alert" alert_type=alert.alerttype.slug alert_id=alert.pk %}'>Email</a>
                    </td>
                    <td>{{alert.n_emails}}</td>
                    <td>{{alert.n_comments}}</td>
                    <td>{{ alert.last_updated|date:"Y/m/d" }}</td>
                    <td>{{ alert.description }}</td>
                    {% for key, value in alert.details.items %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endfor %} 
{% else %}
{% endif %}

<div class='automation'>
    <h2> Manual Intervention </h2>
</div>

{% endblock %}
