{% extends "base.html" %}
{% load form_display %}
{% block title %}Alerts: {{alert_type.code}} {% endblock %}
{% block h1 %}Alerts: {{alert_type.code}}{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(function() {
  $('.display').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
    "aaSorting": [[ 3, "desc" ]]
  } );
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "alerts.views.view_alert_types" %}">Alerts</a></li>
<li>{{alert_type.code}}</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        {% if not unresolved %}
        <li><a href="{% url "alerts.views.view_alerts" alert_type=alert_type.slug %}">View Unresolved Alerts</a></li>
        {% endif  %}
        {% if not resolved %}
        <li><a href="{% url "alerts.views.view_resolved_alerts" alert_type=alert_type.slug %}">View Resolved Alerts</a></li>
        {% endif %}
        {% if not all %}
        <li><a href="{% url "alerts.views.view_all_alerts" alert_type=alert_type.slug %}">View All Alerts</a></li>
        {% endif %}
        <li><a href="{% url "alerts.views.view_automation" alert_type=alert_type.slug %}">Bulk Email ({{bulk_counter}} Candidates)</a></li>

    </ul>
</div>
{% endblock %}

{% block content %}

<p><em>{{alert_type.description}}</em></p>

{% if resolved %}
<h2> Resolved Alerts </h2>
{% endif %}
{% if all %}
<h2> All Alerts </h2>
{% endif %}
{% if unresolved %}
<h2> Manual Intervention </h2> 
{% endif %}

{% if alerts %}
<table class="display">
    <thead>
        <tr>
            <th>Student</th>
            <th>Actions</th>
            <th>Status</th>
            <th>Email</th>
            <th>Emails</th>
            <th>Comments</th>
            <th>Last Update</th>
            <th> </th>
            {% for key, value in most_recent_alert.details.items %}
                <th>{{key|lower|capfirst}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for alert in alerts %}
        <tr>
            <td>
                <a href='{% url "alerts.views.view_alert" alert_type=alert_type.slug alert_id=alert.id %}'>{{alert.person}}</a>
            </td>
            <td style='white-space:nowrap'>
                {% if alert.resolved %}
                    <a href='{% url "alerts.views.reopen_alert" alert_type=alert.alerttype.slug alert_id=alert.pk %}'>Reopen</a> |
                    <a href='{% url "alerts.views.hide_alert" alert_type=alert.alerttype.slug alert_id=alert.pk %}'>Delete</a> |
                {% else %}
                    <a href='{% url "alerts.views.resolve_alert" alert_type=alert.alerttype.slug alert_id=alert.pk %}'>Resolve</a> |
                {% endif %}
                <a href='{% url "alerts.views.comment_alert" alert_type=alert.alerttype.slug alert_id=alert.pk %}'>Comment</a> |
                <a href='{% url "alerts.views.email_alert" alert_type=alert.alerttype.slug alert_id=alert.pk %}'>Email</a>

            </td>
            <td>
                {% if alert.resolved %}
                Resolved
                {% else %}
                Open
                {% endif %}
            </td>
            <td>
                {{alert.person.email}}
            </td>
            <td>{{alert.n_emails}}</td>
            <td>{{alert.n_comments}}</td>
            <td>{{ alert.last_updated|date:"Y/m/d" }}</td>
            <td> || </td>
            {% for key, value in alert.details.items %}
                <td>{{value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{% if resolved %}
<p>There are currently no Alerts that have been resolved.</p>
{% else %}
<p>There are currently no Alerts that require manual intervention.</p>
{% endif %}
{% endif %}


{% endblock %}
