{% extends "base.html" %}
{% load form_display %}

{% block title %}Combined Offerings{% endblock %}
{% block h1 %}Combined Offerings{% endblock %}
{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
    offering_autocomplete('id_offering');
    $('#id_person').each(function() {
      $(this).autocomplete({
        source: '/data/students',
        minLength: 2,
        select: function(event, ui){
          $(this).data("val", ui.item.value);
        }
      });
    });
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "coredata.views.sysadmin" %}">System Admin</a></li>
<li><a href="{% url "coredata.views.combined_offerings" %}">Combined Offerings</a></li>
<li>Add Offering</li>
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
{{ form|as_dl }}
<p><input type="submit" class="submit" value="Add" /></p>
</form>

{% endblock %}
