{% load admin_panel_tags %}

{% if failed %}
<h2 id="failed">Failed Checks</h2>
{{ failed|panel_info }}
{% endif %}

{% if passed %}
<h2 id="passed">Passed Checks</h2>
{{ passed|panel_info }}
{% endif %}

{% if settings_data %}
{{ settings_data|panel_info }}
{% endif %}

{% if email %}
<form action="" method="post">{% csrf_token %}
<p>Email address to send test message to:
<input type="email" name="email" value="{{email}}" />
<input type="submit" value="Send" />
</p>
</form>
{% endif %}

{% if celery %}
<h2 id="celery">Celery Info</h2>
{{ celery|panel_info }}
{% endif %}

{% if tasks %}
<h2 id="tasks">Manually Start Periodic Tasks</h2>
<form action="" method="post">{% csrf_token %}
<ul>
  <li><input type="hidden" name="tasks" value="yes" />
      <input type="submit" name="daily" value="Main Daily Import" /></li>
  <li><input type="submit" name="grad" value="Grad Student Import" /></li>
  <li><input type="submit" name="visits" value="Advisor Visits Update" /></li>
</ul>
</form>
{% endif %}

{% if pip %}
{{ pip|panel_info }}
{% endif %}

{% if csrpt %}
Some guess about how fresh the reporting database is&hellip;
{{ csrpt|panel_info }}
{% endif %}

{% if psinfo %}
<h2 id="psinfo">Process Info</h2>
{{ psinfo|panel_info }}
{% endif %}

{% if the_request %}
<pre>{{ the_request }}</pre>
{% endif %}

{% if git %}
<table>
    <th>Most Recent Commit</th>
    <td>
        <a href="https://github.com/sfu-fas/coursys/commit/{{git.revision}}">{{git.branch}} - {{git.revision}}</a>
    </td>
</table>
{% endif %}

{% if environ %}
{% for k,v in environ %}<pre>{{ k }}={{ v }}</pre>
{% endfor %}
{% endif %}
