{% extends "base.html" %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
var tab_url = '{% url "sysadmin:admin_panel" %}';
$(document).ready(function() {
  $( "#tabs" ).tabs({
    cache:false,
    beforeLoad: function() {
       $('#fetchwait').show()
    },
    load: function(){
       $('#fetchwait').hide()
    },
    success: function() {}
  });
} );
</script>
{% endblock %}


{% block title %}Admin Panel{% endblock %}
{% block h1 %}Admin Panel{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "sysadmin:sysadmin" %}">System Admin</a></li><li>Admin Panel</li>{% endblock %}

{% block content %}
<p><i class="fa fa-spinner fa-spin" id="fetchwait" style="display:none"></i></p>
<div id="tabs">
  <ul>
  <li><a href="#welcome">Welcome</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=psinfo">Process Info</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=settings_info">Settings Info</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=deploy_checks">Deployment Checks</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=email">Email Check</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=celery">Celery Queues</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=tasks">Celery Tasks</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=request">Request Details</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=environ">Environment Vars</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=git">Git Status</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=pip">PIP Status</a></li>
  <li><a href="{% url 'sysadmin:admin_panel' %}?content=csrpt">Reporting DB</a></li>
  </ul>
  <div id="welcome">
  <p>Current load average: {{ loadavg }}</p>
  </div>
</div>


{% endblock %}
