{% extends "base.html" %}

{% block title %}AnyPersons{% endblock %}
{% block h1 %}AnyPersons{% endblock %}


{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#anypersons').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[0, 'asc']]
  } );
} );

</script>
{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "sysadmin:sysadmin" %}">System Admin</a></li><li>AnyPersons</li>{% endblock %}


{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "sysadmin:add_anyperson" %}">Add New AnyPerson</a></li>
        <li><a class="newsec" href="{% url "sysadmin:list_futurepersons" %}">Manage Future Persons</a></li>
        <li><a href="{% url "sysadmin:list_roleaccounts" %}">Manage Role Accounts</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
{% if anypersons %}
    <table id="anypersons" class="display">
        <thead>
            <tr>
                <th>Person</th>
                <th>Future Person</th>
                <th>Role Account</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for anyperson in anypersons %}
        <tr>
            <td>{{ anyperson.person }}</td>
            <td>{{ anyperson.future_person }} {% if anyperson.future_person.hidden %}(hidden){% endif %}</td>
            <td>{{ anyperson.role_account }}</td>
            <td>
                <form method="POST" class="lineform" action="{% url "sysadmin:delete_anyperson" anyperson_id=anyperson.id %}">
                    {% csrf_token %}
                    <button type='submit' class='btn confirm-submit' title="Delete AnyPerson"
                            data-submit-action="delete this AnyPerson">
                        <i class='fa fa-trash-o'></i>
                    </button>
                </form>
                <a class="lineform" href="{% url "sysadmin:edit_anyperson" anyperson_id=anyperson.id %}">
                    <button type='submit' class='btn' title="Edit Anyperson">
                        <i class='fa fa-edit'></i>
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="POST" action={% url "sysadmin:delete_empty_anypersons" %}>
        {% csrf_token %}
        Remove AnyPersons with no Person, FuturePerson, and RoleAccount
        <button type="submit" class='btn confirm-submit' title="Clean up empty AnyPersons"
            data-submit-action="delete all empty AnyPersons">Cleanup</button>
    </form>
{% else %}
    <h2>There are no people to display.</h2>
{% endif %}

{% endblock %}