{% extends "base.html" %}
{% load static %}{% load compress %}
{% block title %}Course Offerings: {{ offering.subject }} {{ offering.number }} {{ offering.section }} {{ offering.semester.label }}{% endblock %}
{% block h1 %}Course Offerings: {{ offering.subject }} {{ offering.number }} {{ offering.section }} {{ offering.semester.label }}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "browse:browse_courses" %}">Browse Course Offerings</a></li><li>{{ offering.subject }} {{ offering.number }} {{ offering.section }} {{ offering.semester.label }}</li>{% endblock %}

{% block headextra %}
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}" />
{% compress js %}
<script type="text/javascript" src="{% static 'moment/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/advisornotes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/browse.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-ext/jquery.linkify.min.js' %}"></script>
{% endcompress %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
	$('table#maininfo').after('<i class="fa fa-spinner fa-spin" id="fetchwait"></i>');
	$('h2#outline').after('<i class="fa fa-spinner fa-spin" id="fetchwait-outline"></i>');
    more_course_info('{% url "browse:browse_courses_info" course_slug=offering.slug %}?data=yes');
    course_outline_info('{% url "browse:browse_courses_info" course_slug=offering.slug %}?outline=yes');
    build_calendar('{% url "browse:browse_courses_info" course_slug=offering.slug %}?caldata=yes',
        {{ offering.semester.start.year }}, {{ offering.semester.start.month }}, {{ offering.semester.start.day }});
} );
</script>
{% endblock %}

{% block content %}
<table class="info" id="courseinfo"><tbody>
  <tr><th scope="row">Instructor</th><td>{{ offering.instructors_printing_str }}</td></tr>
  <tr><th scope="row">Campus</th><td>{{ offering.get_campus_display }}</td></tr>
  <tr><th scope="row">Enrolment</th><td>{{ offering.enrl_tot }} out of {{ offering.enrl_cap }}{% if offering.wait_tot %} ({{ offering.wait_tot }} on waitlist){% endif %} *</td></tr>
  <tr><th scope="row">WQB Designation</th><td>{{ offering.get_wqb_display }}</td></tr>
  <tr><th scope="row">Class Number</th><td>{{ offering.class_nbr }}</td></tr>
  {% if offering.url %}
  <tr><th scope="row">Course Home Page</th><td><a href="{{ offering.url }}">{{ offering.url }}</a></td></tr>
  {% endif %}
</tbody></table>
<p class="helptext">* updated overnight only: see <a href="https://sis.sfu.ca/">SIS</a> for updated data.</p>

<h2 id="outline">Course Outline</h2>
<table class="info" id="outlineinfo"><tbody>
</tbody></table>



<h2 id="schedule">Course Schedule</h2>
<div id="calendar"></div>
{% endblock %}
