{% extends "base.html" %}
{% block title %}Browse Course Offerings{% endblock %}
{% block h1 %}Browse Course Offerings{% endblock %}

{% block subbreadcrumbs %}<li>&gt; Browse Course Offerings</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">
var table;

function server_params() {
	// build the extra GET parameters that will go in the datatables data request (by inspecting the filter form)
	var params = [];
	$('#filterform input').each(function (i, v) {
		v = $(v);
		if ( v.attr('type') == 'checkbox' ) {
			if ( v.prop('checked') ) {
				params.push({'name': v.attr('name'), 'value': v.val()})
			}
		} else {
			params.push({'name': v.attr('name'), 'value': v.val()})
		}
	});
	$('#filterform select').each(function (i, v) {
		params.push({'name': v.name, 'value': $(v).val()})
	});
	//console.log(params) 
	return params;
}
function refresh() {
	table.fnDraw();
}
$(document).ready(function() {
  table = $('#courses').dataTable( {
  	'bJQueryUI': true,
	'sPaginationType': 'full_numbers',
	'iDisplayLength' : 20,
	'aaSorting': [[0,'desc'],[1,'asc']],
    'bProcessing': true,
    'bServerSide': true,
"sPaginationType": "full_numbers",
"iDisplayLength" : 20,
    'sAjaxSource': '{% url coredata.views.browse_courses %}?tabledata=yes',
    "fnServerParams": function ( aoData ) {
    	aoData.push.apply(aoData, server_params());
    },
  } );
  $('#filterform').change(refresh);
  $('#id_instructor').autocomplete({
        source: '{% url coredata.views.browse_courses %}?instructor_autocomplete=yes',
        minLength: 2,
        select: function(event, ui){
          $(this).val(ui.item.value);
          refresh();
        }
      });
} );
</script>
{% endblock %}

{% block content %}
<form action="" id="filterform">
<table>
<tr>
<th scope="col">Subject</th>	
<th scope="col">Number</th>	
<th scope="col">Section</th>	
<th scope="col">Instructor</th>	
<th scope="col">Campus</th>	
<th scope="col">Semester</th>
<th scope="col">Title</th>	
</tr>
<tr>
<td>{{ form.subject }}</td>
<td>{{ form.number }}</td>
<td>{{ form.section }}</td>
<td>{{ form.instructor }}</td>
<td>{{ form.campus }}</td>
<td>{{ form.semester }}</td>
<td>{{ form.crstitle }}</td>
</tr>
</table>
<table>
<tr>
<th scope="col">WQB Designation</th>	
</tr>
<tr>
<td>{{ form.wqb }}</td>
</tr>
</table>
</form>
<!--<a href="javascript:refresh()">refresh</a>-->

<div class="datatable_container">
<table id="courses" class="display">
  <thead><tr><th scope="col">Semester</th><th scope="col">Course</th><th scope="col">Title</th><th scope="col">Instructor(s)</th><th scope="col">Campus</th></tr></thead>
  <tbody>
  </tbody>
</table>
</div>
{% endblock %}
