{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#offerings').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
  } );
} );
</script>
{% endblock %}

{% block title %}{{ unit.informal_name }} Course Pages, {{ semester.label }}{% endblock %}
{% block h1 %}{{ unit.informal_name }} Course Pages, {{ semester.label }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "coredata.views.browse_courses" %}">Browse Course Offerings</a></li>
<li><a href="{% url 'coredata.views.course_home_pages' %}">Home Pages</a></li>
<li>{{ unit.label }}</li>
{% endblock %}

{% block content %}
<table id="offerings">
    <thead><tr><th scope="col">Home Page</th><th scope="col">Campus</th><th scope="col">Instructor</th>
        {% if unit.slug == 'cmpt' %}<th scope="col">Maillist Archive</th>{% endif %}</tr></thead>
    <tbody>
    {% for o in offerings %}
    <tr>
        <td><span class="sort">{{ o.slug }}</span>{% if o.url %}<a href="{{ o.url }}">{{ o.name }}</a>{% else %}{{ o.name }}{% endif %}</td>
        <td>{{ o.get_campus_short_display }}</td>
        <td>{{ o.instructors_str }}</td>
        {% if unit.slug == 'cmpt' %}<td><a href="http://www.cs.sfu.ca/CourseCentral/Hypermail/{{ o.maillist }}">{{ o.maillist }}</a></td>{% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
