{% extends "base.html" %}
{% load form_display %}
{% block title %}{{ offering.name }} Home Page{% endblock %}
{% block h1 %}{{ offering.name }} Home Page{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "coredata.views.browse_courses" %}">Browse Course Offerings</a></li>
<li><a href="{% url 'coredata.views.course_home_pages' %}">Home Pages</a></li>
<li>Edit</li>{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
{{ form|as_dl }}
<p><input type="submit" class="submit" value="Submit" /></p>
</form>
{% endblock %}
