{% extends "base.html" %}
{% load form_display %}
{% block title %}Edit Member{% endblock %}
{% block h1 %}Edit Member{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "coredata.views.sysadmin" %}">System Admin</a></li><li>Edit Member</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">
//<![CDATA[
  $(document).ready(function() {
    offering_autocomplete('id_offering');
    $('#id_person').each(function() {
      $(this).autocomplete({
        source: '/data/students',
        minLength: 2,
        select: function(event, ui){
          $(this).data("val", ui.item.value);
        }
      });
    });
  });
//]]></script>
{% endblock %}

{% block content %}
<div class="form_container">
<form action="{% if member %}{% url "coredata.views.edit_member" member_id=member.id %}{% else %}{% url "coredata.views.edit_member" %}{% endif %}" method="post">{% csrf_token %}
<fieldset>
{{ form|as_dl }}
<p><input type="submit" class="submit" value="Submit" /></p>
</fieldset>
</form>
</div>

{% endblock %}
