{% extends "base.html" %}

{% block title %}FuturePersons{% endblock %}
{% block h1 %}FuturePersons{% endblock %}


{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#futurepersons').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[0, 'asc']]
  } );
} );

function confirmDelete(url) {
  if ( confirm("Are you sure you want to delete this record?  This may cause horrible things to happen if the foreign keys are used elsewhere") ) {
    document.location = url;
  };
}
</script>
{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "coredata.views.sysadmin" %}">System Admin</a></li>
    <li><a href="{% url "coredata.views.list_anypersons" %}">AnyPersons</a></li>
    <li>FuturePersons</li>
{% endblock %}


{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "coredata.views.add_futureperson" %}">Add New FuturePerson</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
{% if futurepersons %}
    <table id="futurepersons" class="display">
        <thead>
            <tr>
                <th>FuturePerson</th>
                <th>AnyPerson exists</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for futureperson in futurepersons %}
        <tr>
            <td>{{ futureperson }} {% if futureperson.hidden %}(hidden){% endif %}</td>
            <td>{{ futureperson.is_anyperson|yesno }}</td>
            <td>
                <div class="lineform">
                    <button type='submit' class='btn' title="Delete"
                            onclick="confirmDelete('{% url "coredata.views.delete_futureperson" futureperson_id=futureperson.id %}')">
                        <i class='fa fa-trash-o'></i>
                    </button>
                </div>
                <form class="lineform" method="GET"
                    action="{% url "coredata.views.edit_futureperson" futureperson_id=futureperson.id %}">
                    <button type='submit' class='btn' title="Edit">
                        <i class='fa fa-edit'></i>
                    </button>
                </form>
                <form class="lineform" method="GET"
                    action="{% url "coredata.views.view_futureperson" futureperson_id=futureperson.id %}">
                    <button type='submit' class='btn' title="View">
                        <i class='fa fa-eye'></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    <h2>There are no people to display.</h2>
{% endif %}

{% endblock %}