{% extends "base.html" %}
{% load form_display %}

{% block h1 %}{{course.name}} TAs{% endblock %}
{% block title %}{{course.name}} TAs{% endblock %}

{% block headextra %}<script type="text/javascript">
    $(document).ready(function() {
    $('#tas_table').dataTable({
                "bPaginate": false,
		"bJQueryUI": true,
		"bFilter": false,
		"bInfo": false,
		"aaSorting": [[0, "asc"]],
	});

    });
</script>{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li><a href="{% url "grades.views.course_config" course_slug=course.slug %}">Setup</a></li><li>Manage TAs</li>{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<h2 id="tas">Current TAs</h2>

<div class="datatable_container">
<table class="display" id="tas_table">
<thead>
<tr><th scope="col">Name</th><th scope="col">Userid</th><th scope="col">TUG</th><th scope="col">Actions</th></tr>
</thead>
<tbody>
{% for m in tas %}
<tr><td>{{m.person.sortname}}</td><td>{{m.person.userid}}</td>
<td>
    {% with tug=m.get_tug %}
    {% if tug %}
    <a href="{% url "ta.views.view_tug" course_slug=course.slug userid=m.person.userid %}">View TUG</a>
    {% else %}
    <a href="{% url "ta.views.new_tug" course_slug=course.slug userid=m.person.userid %}">Create TUG</a>
    {% endif %}
    {% endwith %}
</td>
<td class="miniaction">
{% if m.added_reason == "TAIN" %}
<form action="{% url "coredata.views.manage_tas" course_slug=course.slug %}" method="post">{% csrf_token %}<p><input type="hidden" name="action" value="del" /><input type="hidden" name="userid" value="{{m.person.userid}}" /><input type="submit" value="Remove TA" onclick="return confirmSubmit('remove this TA')" /></p></form>
{% else %}{% if m.added_reason == "AUTO" %}
[cannot remove: imported]
{% else %}
[cannot remove: added by admin]
{% endif %}{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

    <h2 id="add">Add TA</h2>
    <form action="{% url "coredata.views.manage_tas" course_slug=course.slug %}" method="post">{% csrf_token %}
        <fieldset>
            {% if longform %}
            {{ form|as_dl }}
            {% else %}
            {{ form|as_dl_excludefields:"fname,lname" }}
            {% endif %}
                <p><input type="hidden" name="action" value="add" />
                    <input class="submit" type="submit" value="Add TA" />
                </p>
            </ul>
        </fieldset>
    </form>
{% endblock %}
