{% extends "base.html" %}
{% load form_display %}

{% block h1 %}{{course.name}} TAs{% endblock %}
{% block title %}{{course.name}} TAs{% endblock %}

{% block headextra %}<script nonce="{{ CSP_NONCE }}">
    $(document).ready(function() {
    $('#tas_table').dataTable({
                "bPaginate": false,
		"bJQueryUI": true,
		"bFilter": false,
		"bInfo": false,
		"aaSorting": [[0, "asc"]],
	});

    });
</script>{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li><a href="{% url "offering:course_config" course_slug=course.slug %}">Setup</a></li><li>Manage TAs</li>{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<h2 id="tas">Current TAs</h2>

<div class="datatable_container">
<table class="display" id="tas_table">
<thead>
    <tr><th scope="col">Name</th><th scope="col">Userid</th><th scope="col">TUG</th><th scope="col">TA Workload Review</th><th scope="col">TA Evaluation</th><th scope="col">Actions</th></tr>
</thead>
<tbody>
{% for m in tas %}
<tr><td>{{m.person.sortname}}</td><td>{{m.person.userid}}</td>
{% with tug=m.get_tug %}    
<td>    
    {% if tug %}
    <a href="{% url "offering:view_tug" course_slug=course.slug userid=m.person.userid %}">View TUG {% if tug.draft %} (DRAFT) {% endif %}</a>
    {% else %}
    <a href="{% url "offering:new_tug" course_slug=course.slug userid=m.person.userid %}">Create TUG</a>
    {% endif %}
    
</td>
<td>
    {% with tawr=m.get_tawr %}
    {% if tawr %}
        <a href="{% url "offering:view_ta_workload" course_slug=course.slug userid=m.person.userid %}">View WR</a>
    {% else %}
        {% if tug and not tug.draft %}
            <a href="{% url "offering:new_ta_workload" course_slug=course.slug userid=m.person.userid %}">Create WR</a>
        {% else %}
            --
        {% endif %}
    {% endif %}
    {% endwith %} 

</td>
<td>
    {% with taeval=m.get_taeval %}
    {% if taeval %}
        <a href="{% url "offering:view_ta_evaluation" course_slug=course.slug userid=m.person.userid %}">View Eval {% if taeval.draft %} (DRAFT) {% endif %}</a>
    {% else %}
        {% if tug and not tug.draft %}
            <a href="{% url "offering:new_ta_evaluation_wizard" course_slug=course.slug userid=m.person.userid %}">Create Eval</a>
        {% else %}
            --
        {% endif %}            
    {% endif %}
    {% endwith %}    
</td>
<td class="miniaction">
{% if m.added_reason == "TAIN" %}
<form action="{% url "offering:manage_tas" course_slug=course.slug %}" method="post">{% csrf_token %}<p><input type="hidden" name="action" value="del" /><input type="hidden" name="userid" value="{{m.person.userid}}" /><input type="submit" value="Remove TA" class="confirm-submit" data-submit-action="remove this TA" /></p></form>
{% else %}{% if m.added_reason == "AUTO" %}
[cannot remove: imported]
{% else %}
[cannot remove: added by admin]
{% endif %}{% endif %}
</td>
{% endwith %}
</tr>
{% endfor %}
</tbody>
</table>
</div>

    <h2 id="add">Add TA</h2>
    <form action="{% url "offering:manage_tas" course_slug=course.slug %}" method="post">{% csrf_token %}
        <fieldset>
            {% if longform %}
            {{ form|as_dl }}
            {% else %}
            {{ form|as_dl_excludefields:"fname,lname" }}
            {% endif %}
                <p><input type="hidden" name="action" value="add" />
                    <input class="submit" type="submit" value="Add TA" />
                </p>
            </ul>
        </fieldset>
    </form>
{% endblock %}
