{% extends "base.html" %}
{% block title %}Course Management System: Unknown Instructors{% endblock %}
{% block h1 %}Course Management System: Unknown Instructors{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url coredata.views.sysadmin %}">System Admin</a></li><li>&gt; Unknown Instructors</li>{% endblock %}

{% block content %}

<p>These people are listed as the instructor of one or more courses, but do not have an appropriate role within the system.  These missing roles will prevent these people from using the course planning module.</p>
<form action="{% url coredata.views.missing_instructors %}" method="post">{% csrf_token %}{{ formset.management_form }}
<table>
<thead><tr><th scope="col">Person</th><th scope="col">Role</th></tr></thead>
{% for f in formset.forms %}
<tr><td scope="row">{{ f.initial.person.name }}</td><td>{{f.person}}{{f.role}}</td>{% if f.errors %}<td>{{f.errors}}</td>{% endif %}</tr>
{% empty %}
<tr><td class="empty">No instructors without role</td><td></tr>
{% endfor %}
</table>
<p><input type="submit" value="Submit" /></p>
</form>


{% endblock %}
