{% extends "base.html" %}
{% load form_display %}
{% load staticfiles %}
{% load humanize %}

{% block title %}{{ position.title }}{% endblock %}
{% block h1 %}{{ position.title }}{% endblock %}


{% block subbreadcrumbs %}
<li><a href="{% url "coredata.views.sysadmin" %}">System Admin</a></li>
<li><a href="{% url "coredata.views.list_anypersons" %}">AnyPersons</a></li>
<li><a href="{% url "coredata.views.list_futurepersons" %}">FuturePersons</a></li>
<li>New FuturePerson</li>
{% endblock %}


{% block content %}
    <form action="{% url "coredata.views.add_futureperson" %}" method="post">
    {% csrf_token %}
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Add FuturePerson" />
    </p>
</form>
{% endblock %}