{% extends "base.html" %}
{% load form_display %}
{% block title %}{{ CourSys }} Roles{% endblock %}
{% block h1 %}{{ CourSys }} Roles{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "sysadmin:sysadmin" %}">System Admin</a></li><li>New Role</li>{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
//<![CDATA[
$(document).ready(function() {
    $('#id_person').each(function() {
      $(this).autocomplete({
        source: '/data/students',
        minLength: 2,
        select: function(event, ui){
          $(this).data("val", ui.item.value);
        }
      });
    });
   $('#id_person').focus();
});
//]]></script>
{% endblock %}

{% block content %}

<form action="{% url "sysadmin:new_role" %}" method="post">
<fieldset>{% csrf_token %}
<legend>Role</legend>
{{ form|as_dl }}
<p><input type="submit" class="submit" value="Submit" /></p>
</fieldset>
</form>


{% endblock %}
