{% extends "base.html" %}
{% load form_display %}
{% block title %}Add Temporary Person{% endblock %}
{% block h1 %}Add Temporary Person{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "sysadmin:sysadmin" %}">System Admin</a></li>
    <li>Add Temporary Person</li>
{% endblock %}

{% block content %}

<p> This person will not be able to log into the system. </p>

<form action="{% url "admin:new_temporary_person" %}" method="post">
<fieldset>{% csrf_token %}
<legend>New Temporary Person</legend>
{{ form|as_dl }}
<p><input type="submit" class="submit" value="Submit" /></p>
</fieldset>
</form>

{% endblock %}
