{% extends "base.html" %}
{% load form_display %}
{% block title %}CourSys Roles{% endblock %}
{% block h1 %}CourSys Roles{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url "coredata.views.sysadmin" %}">System Admin</a></li><li>&gt; New Role</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    $('#id_person').each(function() {
      $(this).autocomplete({
        source: '/data/students',
        minLength: 2,
        select: function(event, ui){
          $(this).data("val", ui.item.value);
        }
      });
    });  
});
//]]></script>
{% endblock %}

{% block content %}

<form action="{% url "coredata.views.new_role" %}" method="post">
<fieldset>{% csrf_token %}
<legend>Role</legend>
{{ form|as_dl }}
<p><input type="submit" class="submit" value="Submit" /></p>
</fieldset>
</form>


{% endblock %}
