{% extends "base.html" %}
{% block title %}CourSys Administration{% endblock %}
{% block h1 %}CourSys Administration{% endblock %}

{% block subbreadcrumbs %}<li>System Admin</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">
//<![CDATA[
  $(document).ready(function() {
    offering_autocomplete('id_offering');
    $('#id_user').each(function() {
      $(this).autocomplete({
        source: '/data/students',
        minLength: 2,
        select: function(event, ui){
          $(this).data("val", ui.item.value);
        }
      });
    });
  });
//]]></script>
{% endblock %}


{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
	    <li><a href="{% url "log.views.index" %}">View Logs</a></li>
	    <li class="newsec"><a href="{% url "coredata.views.role_list" %}">Manage Roles</a></li>
	    <li><a href="{% url "coredata.views.members_list" %}">Manage Memberships</a></li>
	    <li><a href="{% url "coredata.views.new_person" %}">New Person</a></li>
	    <li class="newsec"><a href="{% url "coredata.views.unit_list" %}">Manage Units</a></li>
	    <li><a href="{% url "coredata.views.semester_list" %}">Manage Semesters</a></li>
	    <li><a href="{% url "discipline.views.show_templates" %}">Dishonesty Templates</a></li>
    </ul>
</div>
{% endblock %}
{% block content %}
<h2 id="search">User Search</h2>
<form action="{% url "coredata.views.sysadmin" %}" method="get">
{{ form.non_field_errors }}
<p>Person search: {{ form.user }} {{ form.user.errors }} <input type="submit" name="usersearch" value="Search" class="submit" /></p>
<div class="clearfix"></div>
<p>Course Offering search: {{ form.offering }} {{ form.offering.errors }} <input type="submit" name="offeringsearch" value="Search" class="submit"/></p>
</form>

{% endblock %}
