{% extends "base.html" %}
{% block title %}CourSys Administration{% endblock %}
{% block h1 %}CourSys Administration{% endblock %}

{% block subbreadcrumbs %}<li>&gt; System Admin</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
	    <li><a href="{% url log.views.index %}">View Logs</a></li>
	    <li><a href="{% url coredata.views.role_list %}">Manage Roles</a></li>
	    <li><a href="{% url coredata.views.members_list %}">Manage Memberships</a></li>
	    <li><a href="{% url coredata.views.unit_list %}">Manage Units</a></li>
	    <li><a href="{% url coredata.views.new_person %}">New Person</a></li>
	    <li><a href="{% url discipline.views.show_templates %}">Dishonesty Templates</a></li>
    </ul>
</div>
{% endblock %}
{% block content %}
<h2 id="search">User Search</h2>
<form action="{% url coredata.views.sysadmin %}" method="get">
<p>Userid: <input type="text" name="q" size="8" /></p>
<p><input type="submit" value="Search" /></p>
</form>

{% endblock %}
