{% extends "base.html" %}
{% block title %}CourSys Units{% endblock %}
{% block h1 %}CourSys Units{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url coredata.views.sysadmin %}">System Admin</a></li>
<li>&gt; Units</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#roles').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[1, 'asc']],
  } );
} );
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url coredata.views.edit_unit %}">Add new unit</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="datatable_container">
<table id="roles" class="display">
  <thead><tr><th scope="col">Name</th><th scope="col">Label</th><th scope="col">Acad Org</th><th scope="col">Parent</th></tr></thead>
  <tbody>
  {% for unit in units %}
  <tr>
  <td scope="row"><a href="{% url coredata.views.edit_unit unit_slug=unit.slug %}">{{unit.name}}</a></td>
  <td>{{unit.label}}</td>
  <td>{{unit.acad_org|default:''}}</td>
  <td>{{unit.parent.label|default:''}}</td>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
