{% extends "base.html" %}
{% block title %}{{ CourSys }} Roles{% endblock %}
{% block h1 %}{{ CourSys }} Roles{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "admin:unit_admin" %}">Admin</a></li><li>Roles</li>{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#roles').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[2, 'asc']],
  } );
} );
function confirmDelete(url) {
  return confirm("Are you sure you want to delete this role?");
}
function confirmRenew(url) {
  return confirm("Are you sure you want to renew this role for one year?");
}
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url "admin:new_unit_role" %}">Add new role</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="datatable_container">
<table id="roles" class="display">
  <thead><tr><th scope="col">Name</th><th scope="col">User ID</th><th scope="col">Role</th><th scope="col">Expires</th>
      <th scope="col">Unit</th><th scope="col">Actions</th></tr></thead>
  <tbody>
  {% for role in roles %}
  <tr{% if role.expires_soon %} class="warningmessage"{% endif %}><td scope="row">{{role.person}}</td>
  <td>{{role.person.userid}}</td>    
  <td>{{role.get_role_display}}</td>
  <td>{{role.expiry.isoformat}}</td>
  <td>{{role.unit.name}}</td>
  <td>
      {% if role.expires_far %}
      <form class="lineform" method="POST" action="{% url "admin:renew_unit_role" role_id=role.id %}">
      {% csrf_token %}<button type='submit' class='btn' title="Renew Role" onclick="return confirmRenew()"><i class='fa fa-refresh'></i></button>
      </form>
      {% endif %}
      <form class="lineform" method="POST" action="{% url "admin:delete_unit_role" role_id=role.id %}">
      {% csrf_token %}<button type='submit' class='btn' title="Delete Role" onclick="return confirmDelete()"><i class='fa fa-trash-o'></i></button>
      </form>
  </td></tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
