{% extends "base.html" %}

{% block title %}Summary of User {{person.userid}}{% endblock %}
{% block h1 %}Summary of User {{person.userid}}{% endblock %}
{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#members').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    "aaSorting": [[1, "desc"], [0, "asc"]],
    } );
  $('#taroles').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    "aaSorting": [[1, "desc"], [0, "asc"]],
    } );
  $('#raroles').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    "aaSorting": [[1, "desc"], [0, "asc"]],
    } );    
  $('#gradprograms').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    "aaSorting": [[1, "desc"], [0, "asc"]],
    } );      
} );
</script>
{% endblock %}


{% block subbreadcrumbs %}<li><a href="{% url "sysadmin:sysadmin" %}">System Admin</a></li><li>{{person.userid}} Summary</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
        <ul>
            <li><a href="{% url "sysadmin:user_config" userid=person.userid_or_emplid %}">Configuration</a></li>
        </ul>
</div>
{% endblock %}

{% block content %}
    <table class="info">
        <tbody>
	    <tr>
                <th scope="row">Last Name</th>
                <td>{{ person.last_name }}</td>
            </tr>
	    <tr>
                <th scope="row">First Name</th>
                <td>{{ person.first_with_pref }}</td>
            </tr>
	    <tr>
                <th scope="row">Middle Name</th>
                <td>{{ person.middle_name }}</td>
            </tr>
	    <tr>
                <th scope="row">Student Number</th>
                <td>{{ person.emplid }}</td>
            </tr>
	    <tr>
                <th scope="row">Email Address</th>
                <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
            </tr>
        </tbody>
    </table>

<h2 id="member">Course Memberships</h2>
{% if memberships %}

<table id="members" class="display">
    <thead><tr><th scope="col">Course</th><th scope="col">Semester</th><th scope="col">Role</th><th scope="col">Reason</th><th scope="col">Component</th><th scope="col">Actions</th></tr></thead>
  <tbody>
  {% for m in memberships %}
  <tr><td scope="row">{{m.offering.name}}</td><td><span class="sort">{{m.offering.semester.name}}</span>{{m.offering.semester}}</td><td>{{m.get_role_display}}</td><td>{{m.get_added_reason_display}}</td><td>{{ m.offering.get_component_display }}</td><td><a href="{% url "sysadmin:edit_member" member_id=m.id %}">Edit</a></td></tr>
  {% endfor %}
  </tbody>
</table>

{% else %}
<p class="empty">Not a member of any courses.</p>
{% endif %}

<h2>Grad Programs</h2>
{% if gradprograms %}
	<table id="gradprograms" class="display">
        <thead>
            <tr>
                <th>Grad Program</th>
                <th>Start Semester</th>
                <th>End Semester</th>
                <th>Senior Supervisors</th>
                <th>Completion Progress</th>
                <th>Current Status</th>
            </tr>
        </thead>
        <tbody>
    {% for grad in gradprograms %}
    <tr>
                <td>
                    {{ grad.program.unit.label }}, {{ grad.program.label }}
                </td>
                <td>
                    {{ grad.start_semester.name }} ({{ grad.start_semester.label }})
                </td>
                <td> 
                    {% if grad.end_semester %}
                        {{ grad.end_semester.name}} ({{ grad.end_semester.label }})
                    {% endif %}
                </td>
                <td>
                    {{grad.list_all_supervisors}}                    
                </td>
                <td>
                    {{grad.active_semesters_display}}
                </td>
                <td>
                    {{ grad.get_current_status_display }}
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% else %}
<p class="empty">No grad programs.</p>
{% endif %}

<h2>TA Contracts</h2>
{% if tacontracts or oldcontracts %}
	<table id="taroles" class="display">
        <thead>
            <tr>
                <th>Semester</th>
                <th>Start Date</th>
                <th>Category</th>
                <th>Status</th>
                <th>Course(s)</th>
                <th>Instructor(s)</th>
            </tr>
        </thead>
        <tbody>
    {% for contract in tacontracts %}
    <tr>
                <td>
                    {{contract.category.hiring_semester.semester.name}}
                </td>
                <td>
                    <span class="sort">{{ contract.pay_start.isoformat }}</span>
                    {{contract.pay_start|date:"M d, Y"}}
                </td>
                <td>
                    {{contract.category.code}}
                </td>
                <td>
                    {{contract.get_status_display}}
                </td>
                <td>                    
                    {{ contract.course_list_string }} 
                </td>
                <td>                    
                    {{ contract.instructor_list_string }}
                </td>                
            </tr>
    {% endfor %}
    {% for contract in oldcontracts %}
    <tr>
                <td>
                    {{contract.posting.semester.name}}
                </td>
                <td>
                    <span class="sort">{{ contract.pay_start.isoformat }}</span>
                    {{contract.pay_start|date:"M d, Y"}}
                </td>
                <td>
                    {{contract.appt_category}}
                </td>
                <td>
                    {{contract.get_status_display}}
                </td>
                <td>
                    {{ contract.course_list_string }}                    
                </td>
                <td>                    
                    {{ contract.instructor_list_string }}
                </td>                  
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% else %}
<p class="empty">No TA contracts.</p>
{% endif %}
<h2>RA Appointments</h2>
{% if ras or oldras %}
	<table id="raroles" class="display">
        <thead>
            <tr>
                <th>Supervisor</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>
            {% for req in ras %}
            <tr>
                <td>
                    {{ req.supervisor }}
                </td>
                <td>
                    <span class="sort">{{ req.start_date.isoformat }}</span>{{ req.start_date }}
                </td>
                <td>
                    <span class="sort">{{ req.end_date.isoformat }}</span>{{ req.end_date }}
                </td>
                <td>
                    {{ req.unit.label }}
                </td>
            </tr>
            {% endfor %}
            {% for req in oldras %}
            <tr>
                <td>
                    {{ req.hiring_faculty }}
                </td>
                <td>
                    <span class="sort">{{ req.start_date.isoformat }}</span>{{ req.start_date }}
                </td>
                <td>
                    <span class="sort">{{ req.end_date.isoformat }}</span>{{ req.end_date }}
                </td>
                <td>
                    {{ req.unit.label }}
                </td>
            </tr>
            {% endfor %}
    </tbody>
    </table>
{% else %}
<p class="empty">No RA appointments.</p>
{% endif %}

<h2 id="roles">Roles</h2>
{% if roles %}
<ul>
  {% for r in roles %}
  <li>{{r.get_role_display}}, {{r.unit.name}}</li>
  {% endfor %}
</ul>

{% else %}
<p class="empty">Not assigned any roles.</p>
{% endif %}

<h2 id="roles">Form Groups</h2>
{% if groups %}
<ul>
  {% for g in groups %}
  <li>{{g.formgroup.name}} (Email: {{g.config.email | yesno }}) </li>
  {% endfor %}
</ul>
{% else %}
<p class="empty">Not assigned any form groups.</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
    <input type="submit" name="import" value="SIMS Import">
    <input type="submit" name="import-grad" value="SIMS Import + Grad Data">
</form>


{% endblock %}
