<p>Thank you for attending an academic advising appointment with the Faculty of Applied Sciences. You met with <b>{{ survey.get_advisor }} on {{ survey.get_time_and_place }}.</b></p>
<p>We'd love to hear how it went. Please take 2 minutes to complete a short feedback survey. After submitting, you'll be entered into a monthly draw for a $20 Amazon gift card.</p>

<p><a href="{{url}}">Complete Survey</a></p>

<p>Please note the survey is not anonymous as your contact information will be visible to our team. The survey link will automatically expire in 3 days.</p>

<p>Thanks again for stopping by.</p>


<p><a href="https://www.sfu.ca/fas/study/support-services/academic-advising.html">FAS Advising Team</a></p>
