{%extends "base.html" %}

{%block content%}

	{%if results %}
		<table border="1">
			<tr>
				<td>Student Name</td>
				<td>Student ID</td>
                                <td>Option</td>
			
			</tr>
			{%for result in results%}
			<tr>
				<td>{{result.first_name}} {{result.last_name}}</td>
				<td>{{result.emplid}}</td>
					
				<td><a href="{% url advisors.views.view_notes userid=result.userid %}">Detail</a></td>
			</tr>			



			{%endfor%}

		</table>

	{%else%}
		<p>No such student found</p>
	{%endif%}

{%endblock content%}


