{% extends "base.html" %}
{% load course_display %}
{% block title %}Add Student to {{group.name}}{% endblock %}
{% block h1 %}Add Student to {{group.name}}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{{course.get_absolute_url}}">{{ course.name }}</a></li><li>&gt; <a href="{% url "groups.views.groupmanage" course_slug=course.slug %}">Groups</a></li><li>&gt; {{group.name}} </li><li>&gt; Add student</li>{% endblock %}

{% block content %}
<form action="{% url "groups.views.assign_student" course_slug=course.slug group_slug=group.slug %}" method="post">{% csrf_token %}

<h2>Activities for this Member</h2>
<table class="display" id="activities">
<thead>
<tr>
  <th>Selected</th> 
  <th>Title</th>
  <th>Percent</th>
  <th>Due Date</th>              
</tr>         
</thead>  
<tbody>
  {% for d in activity_data %}
  <tr>
    <td>{{ d.form.selected }}</td> 
    <td>{{ d.act.name }}</td>
    <td>{{ d.act.percent }}</td>
    <td>{{ d.act.due_date }}</td>              
  </tr> 
  {% endfor %}
</tbody>
</table>


<h2>Students</h2>
<div class = "datatable_container"> 
<table class="display" id="students">
<thead>
<tr>
  <th>Add?</th> 
  <th>Student</th>
</tr>         
</thead>  
<tbody>
{% for d in student_data %}
<tr>
  <td>{{ d.form.selected }}</td> 
  <td>{{ d.member.person.name }} ({{ d.member.person.userid }}, {{ d.member.person.emplid }})</td>
</tr> 
{% endfor %}
</tbody>
</table>
</div>

<p>
<input class='submit' type="submit" value="Add" />
</p>
</form>

{% endblock content %}
