{% extends "base.html" %}
{% load course_display %}
{% block title %}Create Group{% endblock %}
{% block h1 %}Create Group{% endblock %}
{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li><li><a href="{% url "groups.views.groupmanage" course_slug=course.slug %}">Groups</a></li><li>Create group</li>{% endblock %}
{% block content %}
	{% if user %}
		<form action="{% url "groups.views.submit" course_slug=course.slug  %}" method="post">{% csrf_token %}
		<fieldset>
		        <div class="group_name">
				<label for="name">Group Name </label>
				<input type="text" name="GroupName" id="name" maxlength="30" />
			</div>
			<div class = "datatable_container"> 
			<h2>Activities for this Group</h2>
			 <table class="display" id="activities">
			   <thead>
			     <tr>
				   <th>Selected</th> 
				   <th>Title</th>
				   <th>Percent</th>
				   <th>Due Date</th>              
			     </tr>         
			   </thead>  
			   <tbody>
			   {% for act in activityList %}
			     <tr>
				   <td>{{ act.activityForm.selected }}</td> 
				   <td>{{ act.name }}</td>
				   <td>{{ act.percent }}</td>
				   <td>{{ act.due_date }}</td>              
			     </tr> 
			   {% endfor %}
			   </tbody>
			 </table>
		      </div>
	              <div><input class='submit' type="submit" value="Create"/></div>
	        </fieldset>
                </form>
        {% else %}
		<p> Student does not exist </p>
	{% endif %}
{% endblock content %}
