{% extends "base.html" %}
{% load course_display %}
{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; <a href="{% url groups.views.groupmanage course_slug=course.slug %}">groups</a></li><li>&gt; Create group</li>{% endblock %}
{% block content %}
	<h1>Create Group</h1>
	{% if user %}
		<form action="{% url groups.views.submit course_slug=course.slug  %}" method="POST">
		        <div class = "group_name">
				<h2>Please input the Group Name</h2>
				<br>
				<label for="name">Group Name </label>
				<input type="text" name="GroupName">
			</div>
			<br>
			<br>
			<div class = "datatable_container"> 
			<h2>Select activities for the new group</h2>
			<br>
			 <table class="display" id="activities">
			   <thead>
			     <tr>
				   <th>Selected</th> 
				   <th>Title</th>
				   <th>Percent</th>
				   <th>Due Date</th>              
			     </tr>         
			   </thead>  
			   <tbody>
			   {% for act in activityList %}
			     <tr>
				   <td><center>{{ act.activityForm.selected }}</center></td> 
				   <td><center>{{ act.name }}</center></td>
				   <td><center>{{ act.percent }}</center></td>
				   <td><center>{{ act.due_date }}</center></td>              
			     </tr> 
			   </tbody>
			   {% endfor %}
			 </table>
			 <br>
		      </div>
			<br>
			<input class = 'submit' type="submit" value="create">
                </form>
        {% else %}
		<p> Student does not exist </p>
	{% endif %}
{% endblock content %}
