{% extends "base.html" %}
{% load course_display %}
{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; <a href="{% url groups.views.groupmanage course_slug=course.slug %}">groups</a></li><li>&gt; Create group</li>{% endblock %}
{% block content %}
	<h1>Create Group</h1>
	{% if user %}
		<form action="{% url groups.views.submit course_slug=course.slug  %}" method="post">
			<div class = "group_name">
			  <label for="name">Group Name </label>
			  <input type="text" name="GroupName" id="name" />
			</div>
			<div class = "group_for_semester">
			  <h2>If this group is for whole semester</h2>
			  {{ groupForSemester.selected }}
			  <label>If this checkbox is checked, then when a new group activity is created in the future, it will be automatically added for the group </label>
			</div>
			<div class = "datatable_container"> 
			<h2>Activities for this Group</h2>
			 <table class="display" id="activities">
			   <thead>
			     <tr>
				   <th>Selected</th> 
				   <th>Title</th>
				   <th>Percent</th>
				   <th>Due Date</th>              
			     </tr>         
			   </thead>  
			   <tbody>
			   {% for act in activityList %}
			     <tr>
				   <td>{{ act.activityForm.selected }}</td> 
				   <td>{{ act.name }}</td>
				   <td>{{ act.percent }}</td>
				   <td>{{ act.due_date }}</td>              
			     </tr> 
			   {% endfor %}
			   </tbody>
			 </table>
		      </div>
			  <div class = "datatable_container"> 
			  <h2>Students for this Group</h2>
			   <table class="display" id="students">
			     <thead>
			       <tr>
				     <th>Selected</th> 
				     <th>User ID</th>
				     <th>First Name</th>
				     <th>Last Name</th>
				     <th>Student ID</th>
			       </tr>         
			     </thead>  
			     <tbody>
			    {% for std in studentList %}
			     <tr>
				   <td>{{ std.studentForm.selected }}</td> 
				   <td>{{ std.userid }}</td>
				   <td>{{ std.first_name }}</td>
				   <td>{{ std.last_name }}</td>  
				   <td>{{ std.emplid }}</td> 
			     </tr> 
			   {% endfor %}
			   </tbody>
			   </table>
			</div>
			<div><input class = 'submit' type="submit" value="create" /></div>
                </form>
        {% else %}
		<p class="empty">No students not in a group.</p>
	{% endif %}
{% endblock content %}
