{% extends "base.html" %}
{% load course_display %}
{% block content %}
	<h1>Create Group</h1>
	{% if user %}
		<form action="{% url groups.views.submit course_slug=course.slug  %}" method="POST">
			<div class = "datatable_container"> 
			 <table class="display" id="activities">
			   <thead>
			     <tr>
				   <th>Selected</th> 
				   <th>Title</th>
				   <th>Percent</th>
				   <th>Due Date</th>              
			     </tr>         
			   </thead>  
			   <tbody>
			   {% for act in activityList %}
			     <tr>
				   <td><center>{{ act.activityForm.selected }}</center></td> 
				   <td><center>{{ act.name }}</center></td>
				   <td><center>{{ act.percent }}</center></td>
				   <td><center>{{ act.due_date }}</center></td>              
			     </tr> 
			   </tbody>
			   {% endfor %}
			 </table>
			 <br>
		      </div>
			<label for="name">Group Name </label>
                        <input type="text" name="GroupName">
			<input type="submit" value="create">
                </form>
        {% else %}
		<p> Student does not exist </p>
	{% endif %}
{% endblock content %}
