{% extends "base.html" %}

{% block title %}Group Management{% endblock %}

{% block h1 %}Group Management{% endblock %}

{% block content %}
{% regroup courselist by offering.semester as by_semester %}
{% for semester in by_semester %}
  <h2 id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</h2>
  <ul>
    {% for entry in semester.list %}
    <li><a href="{% url groups.views.groupmanage course_slug=entry.offering.slug %}">{{ entry.offering }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
{% endblock %}