{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript" src="{{STATIC_URL}}collapsible/js/jQuery.collapsible.js"></script>
<script type="text/javascript">
//<![CDATA[

$(document).ready(function() {
  $("h2#data").collapsible();
});


//]]></script>
{% endblock %}

{% block title %}{{course.name}} Groups{% if activity %} for {{activity.name}}{% endif %}{% endblock %}
{% block h1 %}{{course.name}} Groups{% if activity %} for {{activity.name}}{% endif %}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "grades.views.course_info" course_slug=course.slug %}">{{ course.name }}</a></li>{% if activity %}<li><a href="{% url "groups.views.groupmanage" course_slug=course.slug %}">Groups</a></li><li>for {{activity.name}}</li>{% else %}<li>Groups</li>{% endif %}{% endblock %}

{% block content %}
{% if not activity %}
  <p>
  See groups for only: {% for a in activities %}
  <a href="{% url "groups.views.groupmanage" course_slug=course.slug activity_slug=a.slug %}">{{ a.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
  {% endfor %}
{% endif%}
</p>
<h2 id="current">Current Groups</h2>
<div id="grouplist">
  {% if groupList %}
  {% for info in groupList %}
  <h3 id="{{info.group.slug}}">{{ info.group.name }}</h3>
  {% if not activity %}<p>For {% for activity in info.activities %}{{ activity.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>{% endif %}
          <ul>
              {% for m in info.unique_members %}
              <li><a href="{% url "grades.views.student_info" course_slug=course.slug userid=m.member.person.userid %}">{{ m.member.person.name_with_pref }}</a>, {{ m.member.person.userid }} {% if not m.confirmed %}(unconfirmed){% endif %}
              {% if m.missing %}(not for 
              {% for a in m.missing %}
              {{ a.name_with_pref }}{% if forloop.last %}){% else %}, {% endif %}
              {% endfor %}
              {% endif %}
              </li>
              {% endfor %}
          </ul>
  <p class="noprint">[ <a href="{% url "groups.views.change_name" course_slug=course.slug group_slug=info.group.slug %}">Change Name</a> |
          <a href="{% url "groups.views.assign_student" course_slug=course.slug group_slug=info.group.slug %}">Add Student</a> |
          <a href="{% url "groups.views.remove_student" course_slug=course.slug group_slug=info.group.slug %}">Remove Student</a> |
          <a href="mailto:{{ info.email|urlencode }}">Email Group</a>
          {% if course.uses_svn %}| <a href="{{info.group.svn_url}}">SVN repo</a> {% endif %}
          ]</p>
  {% endfor %}

  {% else %}
    <p class="empty">There are currently no groups in this course offering</p>
  {% endif %}  
	
<h2 id="nogroup">Students not in any group</h2>

  {% if studentsNotInGroup %}
    <ul>
    {% for student in studentsNotInGroup %}
      <li><a href="{% url "grades.views.student_info" course_slug=course.slug userid=student.person.userid %}">{{student.person.name_with_pref}}</a>, {{student.person.userid}}</li>
      {% endfor %}
    </ul>
  {% else %}
  <p class="empty">None.</p>
  {% endif %}
  </div>
  <p>
    <a class="button" href="{% url "groups.views.create" course_slug=course.slug %}">New Group</a>
  </p>

<h2 id="data">Group Data</h2>
<div>
<p>This is a machine-readable list of group members that you can copy-and-paste. [Does this format make sense? Anybody want something different?]</p>
<blockquote><pre>{% for info in groupList %}{{info.group.slug}}: {{ info.userids }}{% if course.uses_svn %}; {{info.group.svn_url}}{% endif %}
{% endfor %}</pre></blockquote>

</div>
{% endblock %}
