{% extends "base.html" %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
//<![CDATA[

$(document).ready(function() {
  $("h2#data").collapsible();

  $('#groups').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    "aoColumns": [
      null,
      {% if not activity %}null,{% endif %}
      { "bSortable": false },
    ]
  } );
});


//]]></script>
{% endblock %}

{% block title %}{{course.name}} Groups{% if activity %} for {{activity.name}}{% endif %}{% endblock %}
{% block h1 %}{{course.name}} Groups{% if activity %} for {{activity.name}}{% endif %}{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{ course.name }}</a></li>{% if activity %}<li><a href="{% url "offering:groups:groupmanage" course_slug=course.slug %}">Groups</a></li><li>for {{activity.name}}</li>{% else %}<li>Groups</li>{% endif %}{% endblock %}

{% block actions %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
<li><a href="{% url "offering:groups:create" course_slug=course.slug %}{% if activity %}?activity={{ activity.slug }}{% endif %}">Create New Group</a></li>
<li><a href="{% url "offering:groups:group_data" course_slug=course.slug %}{% if activity %}?activity={{ activity.slug }}{% endif %}">Fetch Group Data</a></li>

</ul>
</div>
{% endblock %}

{% block content %}
{% if not activity %}
  <p>
  See groups for only: {% for a in activities %}
  <a href="{% url "offering:groups:groupmanage" course_slug=course.slug activity_slug=a.slug %}">{{ a.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
  {% endfor %}
{% endif%}
</p>
<h2 id="current">Current Groups</h2>
{% if groupList %}
<table id="groups" class="display">
    <thead>
        <tr>
            <th scope="col">Group</th>
            {% if not activity %}<th scope="col">For</th>{% endif %}
            <th scope="col">Members</th>
        </tr>
    </thead>
    <tbody>
        {% for info in groupList %}
        <tr>
            <td scope="row" id="{{info.group.slug}}"><a href="{{ info.group.get_absolute_url }}">{{ info.group.name }}</a>
            {% if info.size_message %}<p class="warningmessage">{{ info.size_message }}</p>{% endif %}
            </td>
            {% if not activity %}<td><ul>{% for activity in info.activities %}<li>{{ activity.name }}</li>{% endfor %}</ul></td>{% endif %}
            <td>
                <ul>
                    {% for m in info.unique_members %}
                    <li>
                        <a href="{% url "offering:student_info" course_slug=course.slug userid=m.member.person.userid %}">{{ m.member.person.name_with_pref }}</a>,
                        {{ m.member.person.userid }}
                        {% if not m.confirmed %}(unconfirmed){% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="empty">There are currently no groups in this course</p>
{% endif %}


<h2 id="nogroup">Students not in any group</h2>

  {% if studentsNotInGroup %}
    <ul>
    {% for student in studentsNotInGroup %}
      <li><a href="{% url "offering:student_info" course_slug=course.slug userid=student.person.userid %}">{{student.person.name_with_pref}}</a>, {{student.person.userid}}</li>
      {% endfor %}
    </ul>
  {% else %}
  <p class="empty">None.</p>
  {% endif %}

{% endblock %}
