{% extends "base.html" %}

{% block title %}{{course.name}} Groups{% endblock %}
{% block h1 %}{{course.name}} Groups{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; Groups</li>{% endblock %}

{% block content %}
<div id="grouplist">
  {% if members %}
    <ul>
    {% regroup members by group as by_group %}
    {% for entry in by_group %}
      <li>{{entry.grouper.name}}<ul>
        {% for m in entry.list %}
          <li>{{m.student.person.name}}, {{m.student.person.userid}}
          {% if not m.confirmed %}(unconfirmed){% endif %}
          </li>
        {% endfor %}
        <br>
        <a class="button" href="{% url groups.views.change_name course_slug=course.slug group_slug=entry.grouper.slug %}">Change Name</a>
        <a class="button" href="{% url groups.views.delete_group course_slug=course.slug group_slug=entry.grouper.slug %}">Delete</a>
      </ul></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>There are currently no groups in this course offering</p>
  {% endif %}  
	
<h2 id="nogroup">Students not in any group</h2>

  {% if studentsNotInGroup %}
    <ul>
    {% for student in studentsNotInGroup %}
      <li>{{student.person.name}}, {{student.person.userid}}</li>
      {% endfor %}
    </ul>
  {% else %}
  <p class="empty">None.</p>
  {% endif %}
  </div>
  <p>
    <a class="button" href="{% url groups.views.create course_slug=course.slug %}">New Group</a>
  </p>
{% endblock %}
