{% extends "base.html" %}
{% load course_display %}
{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; <a href="{% url groups.views.groupmanage course_slug=course.slug %}">groups</a></li><li>&gt; Remove student</li>{% endblock %}
{% block content %}
	<h1>Remove student</h1>
	{% if user %}
		<form action="{% url groups.views.remove_student course_slug=course.slug, group_slug=group.slug  %}" method="POST">
			  <div class = "datatable_container"> 
			  <h2>Select students to remove from this group</h2>
			   <table class="display" id="students">
			     <thead>
			       <tr>
				     <th>Selected</th> 
				     <th>User ID</th>
				     <th>First Name</th>
				     <th>Last Name</th>
				     <th>Student ID</th>
			       </tr>         
			     </thead>  
			     <tbody>
			    {% for std in studentList %}
			     <tr>
				   <td>{{ std.studentForm.selected }}</td> 
				   <td>{{ std.userid }}</td>
				   <td>{{ std.first_name }}</td>
				   <td>{{ std.last_name }}</td>  
				   <td>{{ std.emplid }}</td> 
			     </tr> 
			   </tbody>
			   {% endfor %}
			   </table>
			</div>
			<input class = 'submit' type="submit" value="Remove">
                </form>
		<a class="button" href="{% url groups.views.groupmanage course_slug=course.slug %}">Return</a>
	{% endif %}
{% endblock content %}
