
{% extends "base.html" %}

{% block title %}{{course.name}} Groups{% endblock %}

{% block h1 %}{{course.name}} Groups{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript" src="/media/js/groups/main.js">
</script>
{% if members %}
<dl>
	{% for m in members %}
		<dt><h2>{{ m.group.name }}</h2></dt><dd>
		{% ifequal m.group.manager.person.name  m.student.person.name %}
		<ul>
		  {% for mm in m.group.groupmember_set.all %}
		    {% if mm.confirmed %}
		      <li>{{mm.student.person.name}} ({{mm.student.person.userid}})</li>
		    {% else %}
		      <li>{{mm.student.person.name}} ({{mm.student.person.userid}}) (not yet confirmed)</li>
		    {% endif %}
		  {% endfor %}
		  <br />
		  <a class="button" href="{% url groups.views.invite course_slug=course.slug group_slug=m.group.slug %}">Invite</a>
		</ul>
		{% else %}
      
           {% if m.confirmed %}<ul>
           {% for mm in m.group.groupmember_set.all %}
		    {% if mm.confirmed %}
		      <li>{{mm.student.person.name}} ({{mm.student.person.userid}})</li>
		    {% else %}
		      <li>{{mm.student.person.name}} ({{mm.student.person.userid}}) (not yet confirmed)</li>
		    {% endif %}
		  {% endfor %}
		   <br /></ul>
           {% else %}
		You have not confirmed membership in this group. <a class="button" href="{% url groups.views.join course_slug=course.slug,group_slug=m.group.slug %}">Join Group</a>
		{% endif %}<br />
        {% endifequal %}
		</dd>
	{% endfor %}
</dl>
{% else %}
<p>You don't belong to any groups in this course.</p>
{% endif %}
<p>
<a class="button" href="{% url groups.views.create course_slug=course.slug %}">New Group</a>
</p>

{% endblock %}

