
{% extends "base.html" %}

{% block title %}{{course.name}} Groups{% endblock %}

{% block h1 %}{{course.name}} Groups{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url groups.views.create course_slug=course.slug %}">Create New Group</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<script type="text/javascript" src="/media/js/groups/main.js">
</script>

<div id="grouplist">
  {% if groupList %}
    {% for info in groupList %}
      <h2 id="grp-{{ info.group.slug }}">{{ info.group.name }}</h2>
      <p>A group for  
          {% for activity in info.activities %}
          {{ activity.name }}{% if forloop.last %}.{% else %}, {% endif %}
          {% endfor %}</p>
          <ul>
              {% for m in info.unique_members %}
              <li>{{ m.member.person.name }}, {{ m.member.person.userid }} {% if not m.confirmed %}(unconfirmed){% endif %}
              {% if m.missing %}(not for 
              {% for a in m.missing %}
              {{ a.name }}{% if forloop.last %}){% else %}, {% endif %}
              {% endfor %}
              {% endif %}
              </li>
              {% endfor %}
          </ul>
          <p>
          {% if info.need_conf %}
          You have not confirmed membership in this group.
          <a class="button" href="{% url groups.views.join course_slug=course.slug,group_slug=info.group.slug %}">Join Group</a>
          <a class="button" href="{% url groups.views.reject course_slug=course.slug,group_slug=info.group.slug %}">Reject Invitation</a>
          {% else %}
          <a class="button" href="{% url groups.views.invite course_slug=course.slug group_slug=info.group.slug %}">Invite</a>
          {% endif %}
          </p>
    {% endfor %}
  {% else %}
    <p class="empty">You don't belong to any groups in this course.</p>
  {% endif %}  


</div>

{% endblock %}

