{% extends "base.html" %}
{% load course_display %}
{% block subbreadcrumbs %}<li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; <a href="{% url groups.views.groupmanage course_slug=course.slug %}">groups</a></li><li>&gt; Create group</li>{% endblock %}
{% block content %}
	<h1>Switch Group</h1>
	{% if user %}
		<form action="{% url groups.views.switch_group course_slug=course.slug, group_slug=group.slug  %}" method="post">{% csrf_token %}
			  <div class = "datatable_container"> 
			  <h2>Change the group for the students</h2>
			  <br>
			   <table class="display" id="students">
			     <thead>
			       <tr>
				     <th>User ID</th>
				     <th>First Name</th>
				     <th>Last Name</th>
				     <th>Student ID</th>
				     <th>Group</th> 
			       </tr>         
			     </thead>  
			     <tbody>
			    {% for std in studentList %}
			     <tr>
				   <td><center>{{ std.userid }}</center></td>
				   <td><center>{{ std.first_name }}</center></td>
				   <td><center>{{ std.last_name }}</center></td>  
				   <td><center>{{ std.emplid }}</center></td> 
				   <td><center>{{ std.studentGroupForm.group }}</center></td> 
			     </tr> 
			   </tbody>
			   {% endfor %}
			   </table>
			</div>
			<br>
			<input class = 'submit' type="submit" value="Submit">
                </form>
        {% else %}
		<p> Student does not exist </p>
	{% endif %}
{% endblock content %}
