{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript">
</script>
{% endblock %}

{% block title %}{{ offering.name }} Group: {{ group.name }}{% endblock %}
{% block h1 %}{{ offering.name }} Group: {{ group.name }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grades.views.course_info" course_slug=offering.slug %}">{{ offering.name }}</a></li>
<li><a href="{% url "groups.views.groupmanage" course_slug=offering.slug %}">Groups</a></li>
<li>{{ group.name }}</li>
{% endblock %}

{% block content %}

<h2 id="members">Group Members</h2>
<ul>
    {% for gm in members %}
    <li>{{ gm }}</li>
    {% endfor %}
</ul>

<h2 id="marks">Marks</h2>
<table>
    <thead>
    <tr><th scope="col">Activity</th><th scope="col"></th><th scope="col"></th></tr>
    </thead>
    <tbody>
    {% for a in activities %}
    <tr>
        <td scope="row">{{ a.name }}</td>
        <td>{{ a.mark }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
