{% extends "base.html" %}
{% load form_display %}
{% block title %}Reported Alerts{% endblock %}
{% block h1 %}Reported Alerts{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(function() {
  $('.display').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
    "aaSorting": [[ 3, "desc" ]]
  } );
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url advisornotes.views.advising %}">Advising</a></li>
<li>&gt; Reported Problems</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li>
            {% if resolved %}
                <a href="{% url alerts.views.view_alerts%}">View unresolved alerts</a>
            {% else %}
                <a href="{% url alerts.views.view_resolved_alerts%}">View resolved alerts</a>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}

{% if alerts %}
<table class="display">
    <thead>
        <tr>
            <th>Problem</th>
            <th>Student</th>
            <th>Status</th>
            <th>Since</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for alert in alerts %}
        <tr>
            <td><a href="{% url alerts.views.edit_alert alert_id=alert.pk %}">{{ alert.alerttype.code }}</a></td>
            <td>{{ alert.person }}</td>
            <td><span style="color: #B5111B;">{{ alert.get_status_display }}</span></td>
            <td><abbr title="{{ alert.created_at.date }}">{{ alert.created_at|date:"Y/m/d" }}</abbr></td>
            <td>{{ alert.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are currently no unresolved Alerts</p>
{% endif %}

{% endblock %}
