{% extends "base.html" %}
{% load form_display %}
{% block title %}Privacy Agreement{% endblock %}
{% block h1 %}Privacy Agreement{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "dashboard.views.config" %}">User Configuration</a></li>
    <li>Privacy Agreement</li>
{% endblock %}

{% block content %}

{% if good_to_go %}
    <h2>You're good to go!</h2>
    <form action="{% url "dashboard.views.index" %}" method="get">
        <p>
        You've already signed this Privacy Agreement, as of {{privacy_date}}.
        </p>
            <p><input type="submit" class="submit" value="Well, then, I'm leaving." /></p>
    </form>
{% else %}
    <div class='warning'>
    <h2><i class="fa fa-warning"></i>
        Sorry to bother you, but&hellip;</h2>
    <p>We need you to agree to our privacy policy before continuing.</p>
    <p>This agreement is adapted from the University's privacy statement required for access to the Student Information Management System (SIMS)
        and we are asking you to agree to it since CourSys gives you access to some data from SIMS (and other private data that is managed by CourSys) as part of your role here.</p>
    </div>
{% endif %}

<div class='privacy'>

    <h2><i class="fa fa-download"></i>
        I won't use the data I find here for my own purposes.</h2>
    <p>
    As an employee of Simon Fraser University, I understand that I have a 
    legal oblication to protect personal information to which I have access
    through CourSys - and by extension, a subset of the SIMS Reporting Database.
    In accordance with the 
    <a href="http://www.bclaws.ca/Recon/document/ID/freeside/96165_00">
    Freedom of Information and Protection of Privacy Act
    </a>, and 
    <a href="http://www.sfu.ca/policies/gazette/information/I10-04.html">
    University Policy I10.04
    </a>, I agree to protect all personal information to which I have
    access during the term of my appointment with the University.
    I agree to use information contained in CourSys only for the purposes
    for which the personal information was collected and purposes consistent
    with my job duties. I agree that I will disclose personal information
    only as permitted by law. 
    </p>

    <h2><i class="fa fa-eye-slash"></i>
    I promise not to look at data that doesn't belong to me.</h2>
    <p>
    I recognize that CourSys access <em>may</em> provide me with the ability 
    to view and retrieve data to which I am prohibited, by law. I agree not
    to do so and understand that discipline, up to and including dismissal, 
    may result if I, without authority, access, collect, use, disclose, or dispose
    of personal information. 
    </p>

    <h2><i class="fa fa-lock"></i>
    I promise to keep my data safe, and never to show it to
    anybody.</h2>
    <p>
    I recognize and understand my responsibilities for protecting any data 
    that I retrieve from CourSys including, but not limited to:</p>

    <ul class="bulleted">
        <li>ensuring that all information I download from CourSys is retained
        on a computer that is appropriately secured so that it cannot be 
        accessed by others</li>
        <li>never providing information to others (printing, electronic, or 
        other media), that contains data pertaining to individual students or 
        could be traced to individual students without ensuring that the
        recipient is a SIMS system user who has authorized access to similar
        information for the purposes of performing their job. </li>
    </ul>

    <h2><i class="fa fa-umbrella"></i>
    I only have the roles that I'm supposed to have for my job. 
    </h2>
    <p>We're following the rules governing appropriate collection (i.e. updating), retention,
    accuracy, protection, use and disclosure of a student's personal 
    information, as laid out in the Freedom of Information and Protection of
    Privacy Act, as well as University Policy I10.04.
    Only employees who need to see this information to do their jobs are 
    given access.</p>

    <h2><i class="fa fa-user"></i>
    I'm also responsible for making sure the rules are being followed.
    </h2>
    <p>Employees granted access to this personal information are responsible
    for ensuring compliance with the policy and privacy rules. </p>

    <h2><i class="fa fa-gavel"></i>
    I won't hold IT Services responsible if CourSys' data is wrong.</h2>
    <p>The core CourSys data is a copy of data contained in the SIMS reporting database, which in
    its basic form and consists of hundreds of tables and complex 
    interrelationships. Frequently, it is not obvious how the data is 
    structured nor the meaning of individual data elements. All users, including those who
    only run queries produced by others, should be trained to verify data
    as results may change as new parameters (user groups, academic plans, etc.)
    are added/changed/deleted in the database. The impact of such changes
    on query results may not be obvious and hence the use of such information
    may result in erroneous or inappropriate actions. The Department 
    recognizes and accepts any and all consequences of the Applicants'
    use of this data. </p>

    <h2><i class="fa fa-plane"></i> Even if I leave the university. </h2>
    <p>I understand that my legal obligation continues in perpetuity after
    termination of my employment with Simon Fraser University and that 
    failure to keep confidential the personal information of individuals
    is grounds for legal action. By my signature I acknowledge that I have read
    and understood this privacy agreement.</p>


</div>

<div class="form_container">
    <form method="post">
        {% csrf_token %}
            {{ form|as_dl }}
            <p><input type="submit" class="submit" value="Continue" /></p>
    </form>
</div>

{% endblock %}
