body    { font-size: 62.5%; font-family: Verdana, sans-serif; }
table   {width: 500px; height: 200px; border-collapse: collapse; margin-left: 30px; font-size: 1em;}
td, th  { text-align: center; border: 1px solid #ddd; padding:2px 5px; font-size: 1.2em; padding: 2px; width: 13%; }
th      { background-color:#f4f4f4; }
caption {margin: 1.5em 0 .5em; font-size: 1.5em; font-weight: bold; }

/* Common charts styles */
.visualize { margin: 60px 0 0 30px; }

/* Pie charts legend customizations */
.visualize-pie .visualize-info     { top: 10px; border: 0; right: auto; left: 10px; padding: 0; background: none; }
.visualize-pie .visualize-title    { font-weight: bold; }
.visualize-pie ul.visualize-key li { float: none; }
