    <h2>Honour Code</h2>{# from https://www.sfu.ca/cee/services/online-exam-options.html #}
    <p>In taking this exam you will be required to agree to an honour code statement that affirms your willingness to abide with the course policies.
        These policies may be adjusted as per your instructor’s discretion, but selecting YES here affirms that you are abiding by the honour code agreement of your course.</p>
    <p>I understand that the following activities are prohibited and will be considered cheating. I agree that I will not participate in any of the following activities:</p>
    <ul class="bulleted">
        <li>Looking at or copying from another student’s exam or materials while writing the exam.</li>
        <li>Conferring with other students regarding the exam.</li>
        <li>Having someone else take the exam in your place.</li>
        <li>Storing, receiving, and/or accessing course subject matter in a calculator, pager, cellular telephone, computer, or other electronic device that can be used during an exam period without instructor authorization.</li>
        <li>Distributing the exam materials in any way.</li>
        <li>Using lecture notes, textbooks, learning aids, or electronic devices during an exam when prohibited.</li>
    </ul>
    <p>The honour code is an undertaking for students to abide by both individually and collectively. You should do your share and take an active part in seeing to it that you, as well as the peers in your course uphold both the spirit and letter of the honour code.</p>

