{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}{% if action == 'edit' %}Edit{% elif action == 'new_v' %}Add Version to{% else %}Add{% endif %} {{ question_helper.name }} Question{% endblock %}
{% block h1 %}{% if action == 'edit' %}Edit{% elif action == 'new_v' %}Add Version to{% else %}Add{% endif %} {{ question_helper.name }} Question{% endblock %}
{% block subbreadcrumbs %}
    <li><a href="{{offering.get_absolute_url}}">{{ offering.name }}</a></li>
    <li><a href="{{activity.get_absolute_url}}">{{ activity.name }}</a></li>
    <li><a href="{% url 'offering:quiz:index' course_slug=offering.slug activity_slug=activity.slug %}">Quiz</a></li>
    {% if action == 'new_q' %}
    <li>Add Question</li>
    {% else %}
    <li>Edit Question</li>
    {% endif %}
{% endblock %}

{% block headextra %}
{% include 'pages/markup_edit_head.html' %}
<link rel="stylesheet" href="{% static "style/quizzes.css" %}" />
{% endblock %}

{% block content %}

{% if quiz.ongoing %}
    <p class="warningmessage">This quiz is currently in-progress. Editing it now should be done <strong>very</strong> cautiously.</p>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{{form|as_dl}}
<p><input class="submit" type="submit" value="{% if action == 'edit' %}Update{% else %}Create{% endif %}" /></p>
</form>

{% if action == 'edit' %}
<form action="{% url 'offering:quiz:version_delete' course_slug=offering.slug activity_slug=activity.slug question_id=question.id version_id=version.id %}" method="post" name="deleteform">{% csrf_token %}
<p><input type="submit" class="submit confirm-submit" value="Delete This Version" data-submit-action="delete this version of the question" /></p>
</form>
<form action="{% url 'offering:quiz:question_delete' course_slug=offering.slug activity_slug=activity.slug question_id=question.id %}" method="post" name="deleteform">{% csrf_token %}
<p><input type="submit" class="submit confirm-submit" value="Delete This Question" data-submit-action="delete this question" /></p>
</form>
{% endif %}

{% endblock %}
