{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}{% if quiz %}Edit{% else %}Create{% endif %} Quiz{% endblock %}
{% block h1 %}{% if quiz %}Edit{% else %}Create{% endif %} Quiz{% endblock %}
{% block subbreadcrumbs %}
    <li><a href="{{offering.get_absolute_url}}">{{ offering.name }}</a></li>
    <li><a href="{{activity.get_absolute_url}}">{{ activity.name }}</a></li>
    {% if quiz %}
    <li><a href="{% url 'offering:quiz:index' course_slug=offering.slug activity_slug=activity.slug %}">Quiz</a></li>
    <li>Edit</li>
    {% else %}
    <li>Create Quiz</li>
    {% endif %}
{% endblock %}

{% block headextra %}
{% include 'pages/markup_edit_head.html' %}
{% endblock %}

{% block content %}
{% if quiz.ongoing %}
    <p class="warningmessage">This quiz is currently in-progress. Editing it now should be done <strong>very</strong> cautiously.</p>
{% endif %}
{% if quiz.completed %}
    <p class="warningmessage">This quiz has ended. <strong>Editing it is almost certainly not a good idea</strong>, except to change the end time to extend it.</p>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{{form|as_dl}}
<p><input class="submit" type="submit" value="{% if quiz %}Update{% else %}Create{% endif %}" /></p>
</form>

{% endblock %}
