{% extends "base-wide.html" %}
{% load form_display %}
{% load static %}
{% load compress %}

{% block title %}{{ activity.name }} Quiz{% if preview %} [Instructor's Preview]{% endif %}{% endblock %}
{% block h1 %}{{ activity.name }} Quiz{% if preview %} [Instructor's Preview]{% endif %}{% endblock %}
{% block subbreadcrumbs %}
    <li><a href="{{ offering.get_absolute_url }}">{{ offering.name }}</a></li>
    <li><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a></li>
    <li>Quiz{% if preview %} Preview{% endif %}</li>
{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/quizzes.css" %}" />
{% include 'pages/markup_view_head.html' %}
{% include 'pages/markup_edit_head.html' %}
{% compress js %}
<script src="{% static "fingerprintjs2/dist/fingerprint2.min.js" %}"></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
    var options = {excludes: {canvas: true, webgl: true, enumerateDevices: true}};
    if (window.requestIdleCallback) {
        requestIdleCallback(function () {
            Fingerprint2.get(options, function (components) {
              $('#fingerprint').val(JSON.stringify(components));
            })
        })
    } else {
        setTimeout(function () {
            Fingerprint2.get(options, function (components) {
              $('#fingerprint').val(JSON.stringify(components));
            })
        }, 500)
    }
} );
</script>
{% endcompress %}
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}

    {% if preview %}
        <p class="infomessage">Where there are multiple versions of a question, the first has been selected here.
            Random versions will be selected for students (but a single student will always see the same versions every
            time they view the quiz.</p>
    {% endif %}

    <table class="info">
        <tbody>
	    <tr>
            <th scope="row">Start Time</th>
            <td>{{ start }}</td>
        </tr>
	    <tr>
            <th scope="row">End Time</th>
            <td>{{ end }}</td>
        </tr>
        </tbody>
    </table>

    <form action="" method="post" enctype="multipart/form-data" class="quiz">{% csrf_token %}
    {% if quiz.intro %}
        <h2 id="intro">Introduction</h2>
        {{ quiz.intro_html }}
    {% endif %}

    {{ form.non_field_errors }}
    <input type="hidden" name="fingerprint" id="fingerprint" value="" />

    {% for q, v, f in question_data %}
        <h2 id="{{ q.ident }}">Question #{{ forloop.counter }} ({{ q.points }} point{{ q.points|pluralize }})</h2>
        {{ v.question_html }}
        {{ f|field_display }}
    {% endfor %}

    {% if not preview %}<p><input class="submit" type="submit" value="Submit" /></p>{% endif %}
    </form>

{% endblock %}
