{% extends "base.html" %}
{% load static %}

{% block title %}{{ activity.name }} Quiz{% endblock %}
{% block h1 %}{{ activity.name }} Quiz{% endblock %}
{% block subbreadcrumbs %}
    <li><a href="{{ offering.get_absolute_url }}">{{ offering.name }}</a></li>
    <li><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a></li>
    <li>Quiz</li>
{% endblock %}

{% block headextra %}
{% include 'pages/markup_view_head.html' %}
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url "offering:quiz:edit" course_slug=offering.slug activity_slug=activity.slug %}"><i class="fa fa-edit"></i> Edit Quiz Setup</a></li>
    <li><a href="{% url "offering:quiz:question_add" course_slug=offering.slug activity_slug=activity.slug %}"><i class="fa fa-plus-square"></i> Add Question</a></li>
    <li><a href="{% url "offering:quiz:preview_student" course_slug=offering.slug activity_slug=activity.slug %}"><i class="fa fa-search"></i> Preview Quiz</a></li>
    <li><a href="{% url "offering:quiz:submissions" course_slug=offering.slug activity_slug=activity.slug %}"><i class="fa fa-eye"></i> View Submissions</a></li>
    <li><a href="{% url "offering:quiz:download_submissions" course_slug=offering.slug activity_slug=activity.slug %}"><i class="fa fa-download"></i> Download JSON</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

    <table class="info">
        <tbody>
	    <tr>
            <th scope="row">Start Time</th>
            <td>{{ quiz.start }}</td>
        </tr>
	    <tr>
            <th scope="row">End Time</th>
            <td>{{ quiz.end }}</td>
        </tr>
        </tbody>
    </table>

    <h2 id="intro">Introduction</h2>
    {{ quiz.intro_html }}

    <h2 id="questions">Questions</h2>
    {% for q in questions %}
        <h3 id="q-{{ forloop.counter }}">Question #{{ forloop.counter }} ({{ q.points }} point{{ q.points|pluralize }})</h3>
        <p>Question text:
        [
            <a href="{% url "offering:quiz:question_edit" course_slug=offering.slug activity_slug=activity.slug question_id=q.id %}">Edit Question #{{ forloop.counter }}</a>
        ]
        </p>
        <blockquote>{{ q.question_html }}</blockquote>

    {% endfor %}

{% endblock %}
