{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}{{ activity.name }} Quiz{% endblock %}
{% block h1 %}{{ activity.name }} Quiz{% endblock %}
{% block subbreadcrumbs %}
    <li><a href="{{ offering.get_absolute_url }}">{{ offering.name }}</a></li>
    <li><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a></li>
    <li>Quiz</li>
{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/quizzes.css" %}" />
{% include 'pages/markup_view_head.html' %}
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}

    <table class="info">
        <tbody>
	    <tr>
            <th scope="row">Start Time</th>
            <td>{{ quiz.start }}</td>
        </tr>
	    <tr>
            <th scope="row">End Time</th>
            <td>{{ quiz.end }}</td>
        </tr>
        </tbody>
    </table>

    <form action="" method="post" enctype="multipart/form-data" class="quiz">{% csrf_token %}
    <h2 id="intro">Introduction</h2>
    {{ quiz.intro_html }}

    {% for q, f in question_data %}
        <h2 id="q-{{ forloop.counter }}">Question #{{ forloop.counter }} ({{ q.points }} point{{ q.points|pluralize }})</h2>
        {{ q.question_html }}
        {{ f|field_display }}
    {% endfor %}

    <p><input class="submit" type="submit" value="Submit" /></p>
    </form>

{% endblock %}
