{% extends "base.html" %}
{% load static %}

{% block title %}{{ activity.name }}: Quiz Submissions}{% endblock %}
{% block h1 %}{{ activity.name }}: Quiz Submissions{% endblock %}
{% block subbreadcrumbs %}
    <li><a href="{{ offering.get_absolute_url }}">{{ offering.name }}</a></li>
    <li><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a></li>
    <li><a href="{% url 'offering:quiz:index' course_slug=offering.slug activity_slug=activity.slug %}">Quiz</a></li>
    <li>Submissions</li>
{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/quizzes.css" %}" />
{% include 'pages/markup_view_head.html' %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#submission-table').dataTable({
      "paging": false,
      "columnDefs": [{ targets: 5, render: function (data, type, row) {
        if (type === 'sort') { // strip the "&nbsp;s" units when sorting the late times
            return data.split('&')[0].padStart(5, '0');
        }
        return data;
      }}],
      "order": [[0, "asc"], [1, "asc"]],
  });
} );
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url 'offering:quiz:strange_history' course_slug=offering.slug activity_slug=activity.slug %}">Notable Submissions</a></li>
        {% if quiz.photos %}
        <li><a href="{% url 'offering:quiz:photo_compare' course_slug=offering.slug activity_slug=activity.slug %}">Compare Verification Photos</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}

    <table id="submission-table" class="display">
    <thead><tr>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">User ID</th>
        <th scope="col">Stu #</th>
        <th scope="col">Submission</th>
        <th scope="col">Late?</th>
    </tr></thead>
    <tbody>
    {% for member, late in subs_late %}
        <tr>
            <td>{{ member.person.last_name }}</td>
            <td>{{ member.person.first_name }}</td>
            <td>{{ member.person.userid }}</td>
            <td><a href="{{ member.get_absolute_url }}">{{ member.person.emplid }}</a></td>
            <td><a href="{% url 'offering:quiz:view_submission' course_slug=offering.slug activity_slug=activity.slug userid=member.person.userid_or_emplid %}"><i class="fa fa-search"></i></a></td>
            <td>{% if late > timedelta_zero %}{{ late.total_seconds|floatformat:"0" }}&nbsp;s{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
