{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block title %}Copy Letter for {{grad.person.name}}{% endblock %}
{% block h1 %}Copy Letter for {{grad.person.name}}{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grad.views.index %}">Grad</a></li>
<li>&gt; <a href="{% url grad.views.view grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li>&gt; <a href="{% url grad.views.view_all_letters grad_slug=grad.slug%}">Letters</a></li>
<li>&gt; Copy</li>
{% endblock %}
{% block headextra %}
<script type="text/javascript" src="{{MEDIA_URL}}js/grad.js"></script>
<script type="text/javascript">//<![CDATA[
	var urlMap = {
	{% for k in templates %}
	'{{k.id}}' : '{% url grad.views.get_letter_text grad_slug=grad.slug letter_template_id=k.id %}'
	{% if not forloop.last %},{% endif %}
	{% endfor %}
	};

	$(document).ready(function() {
		$("#id_date").datepicker({
			'dateFormat' : 'yy-mm-dd'
		});
		$('#content_note').show('slow');

		get_addresses('{% url grad.views.get_addresses %}')

		$("#id_template").change(function() {
			var template_val
			template_val = $("#id_template").val();
			$("#id_content").empty();
			if(template_val == 0) {
				$('#id_content').attr("disabled", "disabled");
				$('#content_note').show('slow');
			} else {
				url = urlMap[$(this).val()];
				$('#id_content').removeAttr("disabled");
				$('#content_note').hide('slow');
				getData(url);
			}
		});

		$("#id_from_person").change(update_from_lines);
		update_from_lines();
	});

//]]></script>
{% endblock %}
{% block content %}
<div id="form_container">
	<form action="{% url grad.views.new_letter grad_slug=grad.slug%}" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>
				Letter Info
			</legend>
			{{ form.non_field_errors }}
			<dl class="dlform">
				<dt>
					<label>Template:</label>
				</dt>
				<dd>
					<div class="field">
						<select name="template" id="id_template">
							{% for t in templates%}<option value="{{t.id}}"{% if letter.template_id == t.id %} selected="selected"{% endif %}>{{t.label}}</option>
							{% endfor %}
						</select>
						{{form.template.errors}}
					</div>

				</dd>
			</dl>
			<div style="clear: both"></div>
			{{form|as_dl_excludefields:"template"}}
			<p>
				<input  class="submit"  type="submit" value="Submit" />
			</p>
		</fieldset>
	</form>
	<a class="button" href="{% url grad.views.index %}">Back</a>
</div>
{% endblock %} 
