{% extends "base.html" %}
{% load form_display %}

{% block title %}Copy {{ letter.template.label|title }} Letter{% endblock %}
{% block h1 %}Copy {{ letter.template.label|title }} Letter{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad.views.index" %}">Grad</a></li>
<li><a href="{% url "grad.views.view" grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li><a href="{% url "grad.views.manage_letters" grad_slug=grad.slug%}">Letters</a></li>
<li>Copy {{ letter.template.label|title }} Letter</li>
{% endblock %}
{% block headextra %}
<script type="text/javascript" src="{{STATIC_URL}}js/grad.js"></script>
<script type="text/javascript">//<![CDATA[

	$(document).ready(function() {
		$("#id_date").datepicker({
			'dateFormat' : 'yy-mm-dd'
		});
		$('#content_note').show('slow');

		get_addresses('{% url "grad.views.get_addresses" %}')

		$("#id_template").change(function() {
			var template_val
			template_val = $("#id_template").val();
			$("#id_content").empty();
			if(template_val == 0) {
				$('#id_content').attr("disabled", "disabled");
				$('#content_note').show('slow');
			} else {
				url = urlMap[$(this).val()];
				$('#id_content').removeAttr("disabled");
				$('#content_note').hide('slow');
				getData(url);
			}
		});

		$("#id_from_person").change(update_from_lines);
		update_from_lines();
	});

//]]></script>
{% endblock %}
{% block content %}
<div class="form_container">
	<form action="{% url "grad.views.new_letter" grad_slug=grad.slug letter_template_slug=letter.template.slug %}" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>
				Letter Info
			</legend>
			<div style="clear: both"></div>
            {{form|as_dl}}
			<p>
				<input  class="submit"  type="submit" value="Submit" />
			</p>
		</fieldset>
	</form>
</div>
<p class="gradback"><a class="button" href="{% url "grad.views.view" grad_slug=grad.slug %}">Return to Profile</a></p>
{% endblock %} 
