{% extends "base-wide.html" %}
{% load getattribute mathfunction %}

{% block headextra %}
<script type="text/javascript" src="{{STATIC_URL}}js/grad.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}jquery-ext/jquery.ba-bbq.min.js"></script>
<script nonce="{{ CSP_NONCE }}">
 
var table;
{% if sort %}
var sort = {{sort}};
{% else %}
var sort = [[0, 'asc'], [1, 'asc']];
{% endif %}

$(document).ready(function() {
	table = $('#grads').dataTable({
		"bJQueryUI": true,
		"bPaginate": false,
		"aaSorting": sort,
		"bStateSave": true,
		"fnStateSave": update_search_links,
	});
});
</script>
<style type="text/css">
#actions li label {
padding: 3px 0.2em 3px 0.8em;
}
#actions li input {
margin: 3px 0 3px 0;
width: 120px;
}
</style>
{% endblock %}

{% block title %}Promised and Received Funding by Students{% endblock %}
{% block h1 %}Promised and Received Funding by Students{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad:index" %}">Grad</a></li>
<li>Promised and Received Funding by Students</li>
{% endblock %}

{% block content %}

<form class="noprint" action="{% url "grad:financials_report" %}" method="POST">

  {% csrf_token %}  
  {{ form.as_p }}
  <input type="submit" value="Select" />
</form> 

{% if export %}
<p>
  <a href="{% url "grad:financials_report" %}?finrpt={{ querystr }}&csv=yes" id="excellink">Export for {{ querystr }} as CSV</a> |
  <a href="{% url "grad:financials_report" %}?finrpt={{ querystr }}&excel=yes" id="excellink">Export for {{ querystr }} as Excel</a>
</p>

 {% endif %}
{% endblock %}
