{% extends "base.html" %}
{% load floatsortable %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
	$(document).ready(function() {
		$('#funding').dataTable({
			"bJQueryUI" : true,
			"bSort" : false,
			"bPaginate": false,
			"bFilter": false,
			"bInfo": false,
		});
	});

</script>
{% endblock %}

{% block title %}Funding Summary for {{semester.label}}{% endblock %}
{% block h1 %}Funding Summary for {{semester.label}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad:index" %}">Grad</a></li>
<li>Funding Summary for {{semester.label}}</li>
{% endblock %}

{% block actions %}
<div id="actions">
<h2 class="heading">Actions</h2>
<ul>
{% if semester.previous_semester %}
<li><a href="{% url "grad:funding_report" semester_name=semester.previous_semester.name %}">Previous Semester</a></li>
{% endif %}
{% if semester.next_semester %}
<li><a href="{% url "grad:funding_report" semester_name=semester.next_semester.name %}">Next Semester</a></li>
{% endif %}
</ul>
</div>
{% endblock %}

{% block content %}
<div class="datatable_container">
	<table class="display" id="funding">
		<thead>
			<tr>
            <th scope="col">Program</th>
			{% if multiple_units %}<th scope="col">Unit</th>{% endif %}
            <th scope="col"><a href="{% url "grad:funding_report_tas" semester_name=semester.name %}"><i class="fa fa-download" title="Download"></i> TA Funding</a></th>
            <th scope="col"><a href="{% url "grad:funding_report_ras" semester_name=semester.name %}"><i class="fa fa-download" title="Download"></i> RA Funding</a></th>
            <th scope="col"><a href="{% url "grad:funding_report_scholarships" semester_name=semester.name %}"><i class="fa fa-download" title="Download"></i> Scholarships</a></th>
            <th scope="col"><a href="{% url "grad:funding_report_other" semester_name=semester.name %}"><i class="fa fa-download" title="Download"></i> Other Funding</a></th>
			</tr>
		</thead>
		<tbody>
			{% for prog in programs %}
            <tr>
            <td scope="row">{{prog.label}}</td>
			{% if multiple_units %}<td scope="row">{% if prog.unit %}<i>{{prog.unit.label}}</i>{% endif %}</td>{% endif %}
            <td class="num"><span class="sort">{{prog.funding_ta|floatsortable}}</span>${{prog.funding_ta|floatformat:"2"}}</td>
            <td class="num"><span class="sort">{{prog.funding_ra|floatsortable}}</span>${{prog.funding_ra|floatformat:"2"}}</td>
            <td class="num"><span class="sort">{{prog.funding_schol|floatsortable}}</span>${{prog.funding_schol|floatformat:"2"}}</td>
            <td class="num"><span class="sort">{{prog.funding_other|floatsortable}}</span>${{prog.funding_other|floatformat:"2"}}</td>
            </tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<p>* &ldquo;Non Grad&rdquo; includes funding for grad students outside of the {{these_units}}.</p>
<p>** This report only contains funding <em>from</em> the {{these_units}}. Students may also have received funding from other units.</p>
{% endblock %} 
