{% extends "base.html" %}
{% load form_display %}

{% block title %}Import Grad Applicants{% endblock %}
{% block h1 %}Import Grad Applicants{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url "grad.views.index" %}">Grad</a></li><li>&gt; Import Applicants</li>{% endblock %}
{% block content %}
<div class="form_container">
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    	<fieldset>
			<legend>PCS Export</legend>
              {{ form|as_dl }}
        <p><input  class="submit"  type="submit" value="Submit" /></p>
        </fieldset>
    </form>
</div>
{% endblock %} 
