{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript">
    
	$(document).ready(function() {
	    $("id_search").focus();
	    $("#id_search").autocomplete({
            source: '{% url "grad.views.quick_search" %}',
            minLength: 2,
        });
	});
</script>
{% endblock %}

{% block title %}Graduate Student Records{% endblock %}
{% block h1 %}Graduate Student Records{% endblock %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
<li><a href="{% url "grad.views.programs" %}">Manage Programs</a></li>
<li><a href="{% url "grad.views.requirements" %}">Manage Requirements</a></li>
<li><a href="{% url "grad.views.letter_templates" %}">View Letter Templates</a></li>
<li><a href="{% url "grad.views.manage_scholarshipType" %}">New Scholarship Type</a></li>
<li class="newsec"><a href="{% url "grad.views.search" %}">Advanced Search</a></li>
<li><a href="{% url "grad.views.all_promises" %}">Ending Promises</a></li>
<li><a href="{% url "grad.views.funding_report" %}">Funding Report</a></li>
</ul>

</div>
{% endblock %}

{% block subbreadcrumbs %}
<li>Grads</li>
{% endblock %}

{% block content %}
<p>You can view grad student records for {{units|pluralize:"this unit,these units"}}: 
{% for u in units %}{{u.name}}{% if not forloop.last %},{% endif %}{% endfor %}.
</p>

<form action="{% url "grad.views.quick_search" %}" method="get">
<p>{{form.search.label}}: {{form.search}} <span class="helptext">{{form.search.help_text}}</span></p>
{% comment %}
<p>Include who?
{{form.incl_active}} Active
{{form.incl_appl}} Applicants
{{form.incl_grad}} Graduated
{{form.incl_oldappl}} Old Applicants
</p>
{% endcomment %}
<p><input class="submit" type="submit" class="submit" value="Go" /></p>
</form>

{% if savedsearches %}
<h2 id="saved" style="clear: right;">My Saved Searches</h2>
<ul>
{% for s in savedsearches %}
<li><a href="{% url "grad.views.search" %}?{{ s.query }}">{{s.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if other_savedsearches %}
<h2 id="saved" style="clear: right;">All Saved Searches</h2>
<ul>
{% for s in other_savedsearches %}
<li><a href="{% url "grad.views.search" %}?{{ s.query }}">{{s.name}}</a></li>
{% endfor %}
</ul>
{% endif %}



{% endblock %} 
