{% extends "base-wide.html" %}
{% load static %}
{% load form_display %}

{% block title %}Graduate Student Records{% endblock %}
{% block h1 %}Graduate Student Records{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
    $('#masters').dataTable( {
    'bPaginate': false,
    'bInfo': true,
    'bFilter': true,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[4, 'desc']],
    } );
    $('#doctoral').dataTable( {
    'bPaginate': false,
    'bInfo': true,
    'bFilter': true,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[4, 'desc']],
    } );
    $('#other').dataTable( {
    'bPaginate': false,
    'bInfo': true,
    'bFilter': true,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[4, 'desc']],
    } );
} );
</script>
<link rel="stylesheet" href="{% static 'style/grad.css' %}" />
{% endblock %}

{% block subbreadcrumbs %}
<li>Grads</li>
{% endblock %}

{% block content %}
<div class="actionlist">
    <a class="btn" href="#">Configuration</a>
    <a class="btn" href="#">Reports</a>
    <a class="btn" href="#">Advanced Search</a>
    <a class="btn" href="#">Browse All Students</a>
    <div class="btn pressed">Active Students</div>
</div>

<h3>Master's Graduate Students</h3>
<div class="datatable_container">
  <table id="masters" class="display">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Student ID</th>
        <th scope="col">Program</th>
        <th scope="col">Start Semester</th>
        <th scope="col">Completion Progress</th>
        <th scope="col">Requirements</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
  </table>
</div>

<h3>Doctoral Graduate Students</h3>
<div class="datatable_container">
  <table id="doctoral" class="display">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Student ID</th>
        <th scope="col">Program</th>
        <th scope="col">Start Semester</th>
        <th scope="col">Completion Progress</th>
        <th scope="col">Requirements</th>
        <th scope="col">Supervisor</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
  </table>
</div>

<h3>Other Graduate Students</h3>
<div class="datatable_container">
  <table id="other" class="display">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Student ID</th>
        <th scope="col">Program</th>
        <th scope="col">Start Semester</th>
        <th scope="col">Completion Progress</th>
        <th scope="col">Requirements</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
  </table>
</div>

{% endblock %} 
