{% extends "base.html" %}
{% load static %}

{% block headextra %}
  <link rel="stylesheet" href="{% static "style/grad_quicksearch.css" %}" />

<script nonce="{{ CSP_NONCE }}">
    $.widget("custom.alteredcomplete", $.ui.autocomplete, {
        _renderItem: function(ul, item) {
        var cls="quicksearch-"+item.label.split(",")[2].trim().toLowerCase().replace(/\s/g, "-");
        return $("<li>")
            .data( 'item.autocomplete', item )
            .append( $("<a>")
                .attr( "class", cls )
                .text( item.label ) )
            .appendTo( ul );
        }
    });
    
	$(document).ready(function() {
	    $("#id_search").focus();
	    $("#id_search").alteredcomplete({
            source: '{% url "grad:quick_search" %}',
            minLength: 2
        });
	});
</script>

{% endblock %}

{% block title %}Graduate Student Records{% endblock %}
{% block h1 %}Graduate Student Records{% endblock %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
<li><a href="{% url "grad:programs" %}">Manage Programs</a></li>
<li><a href="{% url "grad:requirements" %}">Manage Requirements</a></li>
<li><a href="{% url "grad:letter_templates" %}">View Letter Templates</a></li>
<li><a href="{% url "grad:manage_scholarshiptypes" %}">Manage Scholarship Types</a></li>
<li class="newsec"><a href="{% url "grad:search" %}">Advanced Search</a></li>
<li><a href="{% url "grad:all_promises" %}">Ending Promises</a></li>
<li><a href="{% url "grad:funding_report" %}">Funding Report</a></li>
<li><a href="{% url "grad:financials_report" %}">Promised and Received Funding by Students</a></li>	
</ul>

</div>
{% endblock %}

{% block subbreadcrumbs %}
<li>Grads</li>
{% endblock %}

{% block content %}
<p>You can view grad student records for {{units|pluralize:"this unit,these units"}}: 
{% for u in units %}{{u.name}}{% if not forloop.last %}, {% endif %}{% endfor %}.
</p>

<form action="{% url "grad:quick_search" %}" method="get">
<p>{{form.search.label}}: {{form.search}} <span class="helptext">{{form.search.help_text}}</span></p>
<p><input class="submit" type="submit" class="submit" value="Go" /></p>
</form>

{% if savedsearches %}
<h2 id="saved" style="clear: right;">My Saved Searches</h2>
<ul>
{% for s in savedsearches %}
<li><a href="{% url "grad:search" %}?{{ s.query }}">{{s.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if other_savedsearches %}
<h2 id="saved" style="clear: right;">All Saved Searches</h2>
<ul>
{% for s in other_savedsearches %}
<li><a href="{% url "grad:search" %}?{{ s.query }}">{{s.name}}</a></li>
{% endfor %}
</ul>
{% endif %}



{% endblock %} 
