{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#letter_templates').dataTable({
			"bJQueryUI" : true,
			"aaSorting" : [[0, "asc"]],
			"iDisplayLength" : 10,
			"sPaginationType" : "full_numbers",
		});
	});

</script>
{% endblock %}
{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li >
			<a href="{% url "grad.views.new_letter_template" %}">New Letter Template</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	<a href="{% url "grad.views.index" %}">Grad</a>
</li>
<li>
	{{crumb}}
</li>
{% endblock %}

{% block content %}
<div class="datatable_container">
	<table class="display" id="letter_templates">
		<thead>
			<tr>
				<th scope="col">Template Name</th>
				<th scope="col">Content</th>
				<th scope="col">Created At</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for s in templates %}
			<tr>
				<td>{{s.label}}</td>
				<td>{{s.content|slice:":75"}}</td>
				<td>{{s.created_at}}</td>
				<td><a href="{% url "grad.views.manage_letter_template" letter_template_slug=s.slug %}">Manage</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} 
