{% extends "grad/base.html" %}
{% load form_display %}

{% block title %}{{grad.person.name}}: Status{% endblock %}
{% block h1 %}{{grad.person.name}}: Status{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url "grad.views.index" %}">Grad</a></li>
<li>&gt; <a href="{% url "grad.views.view" grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li>&gt; Status</li>
{% endblock %}

{% block content %}
<div class="form_container">
    <form action="" method="post">
    	{% csrf_token %}
    	<fieldset>
    	<legend>Update Status</legend>
        {{ form|as_dl }}
        <p><input  class="submit"  type="submit" value="Update Status" /></p>
        </fieldset>
    </form>
</div>

<h2 id="history">Status History</h2>
{% include "grad/view__status.html" %}

<p class="gradback"><a class="button" href="{% url "grad.views.view" grad_slug=grad.slug %}">Return to Profile</a></p>
{% endblock %} 
