{% extends "grad/base.html" %}
{% load form_display %}

{% block title %}{{grad.person.name}}: Program History{% endblock %}
{% block h1 %}{{grad.person.name}}: Program History{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grad.views.index %}">Grad</a></li>
<li>&gt; <a href="{% url grad.views.view grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li>&gt; Program History</li>
{% endblock %}

{% block content %}
{% include "grad/view__program.html" %}

<div id="form_container">
    <form action="" method="post">
    	{% csrf_token %}
    	<fieldset>
    	<legend>Change Program</legend>
        {{ form|as_dl }}
        <p><input class="submit" type="submit" value="Change Program" /></p>
        </fieldset>
    </form>
</div>
{% endblock %} 
