{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}



{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grad</a>
</li>

<li>
	&gt; Scholarship Types
</li>
{% endblock %}



{% block content %}

<div id="form_container">
    <form action="{% url grad.views.manage_scholarshipType %}" method="post">
    	{% csrf_token %}
    	<fieldset>
              {{ new_scholarshipTypeForm|as_dl_2 }}
        <p><input  class="submit"  type="submit" value="Submit" /></p>
        </fieldset>
    </form>
	<a class="button" href="{% url grad.views.index %}">Back</a>
</div>
{% endblock %} 


