{% extends "grad/base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grad</a>
</li>
<li>
	&gt; {{crumb}}
</li>
<li>
	&gt; Supervisors
</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
	function add() {
		$.ajax({
			url : '{% url grad.views.manage_supervisors grad_slug=grad.slug %}',
			success : function(data) {
				if(console && console.log) {
					console.log(data);
				}
			}
		});
	}
</script>
{% endblock %}

{% block content %}
<div class="table_container">
	<table class="info">
		<tbody>
			{% for field, value in gp %}
			<tr>
				<th><label>{{field}} :</label></th>
				<td> {{ value }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div id="form_container">
	<form  method="POST">
		{% csrf_token %}
		<fieldset>
			<legend>
				Potential Supervisor
			</legend>
			{{ potential_supervisors_form|as_dl_2 }}
			<p>
				<input class="submit" type="submit" value="Update">
			</p>
		</fieldset>
	</form>
</div>
<div id="form_container">
	<form method="POST">
		{% csrf_token %}
		{{ supervisors_formset.management_form }}
		<fieldset>
			<legend>
				Supervisors
			</legend>
			<p>
				Choose only a Supervisor or enter an External.
			</p>
			{% for form in supervisors_formset %}

			{{ form.as_p }}

			{% endfor %}
			<p id="form_btns">
				<input id="addBtn" class="submit" type="button" value="Please Enable Javascript" />
				<input class="submit" type="submit" value="Update">
			</p>
		</fieldset>
	</form>
	<a class="button" href="{% url grad.views.index %}">Back to Index</a>
</div>
<script type="text/javascript">
	$(function() {
		$("#addBtn").remove()
		$("#form_btns").append('<input class="submit" type="button" value="Add Another" onclick="add()"/>')
	});

</script>
{% endblock %} 
