{% extends "grad/base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grad</a>
</li>
<li>
	&gt; {{crumb}}
</li>
{% endblock %}

{% block content %}
{# Display the student's Person related info #}
<div id="form_container">
	<fieldset>
		<legend>
			Student Info
		</legend>
		<div class="table_container">
			<table class="display">
				<tbody>
					{% for field, value in gp %}

					{% if forloop.first %}
					<tr>
						{% endif %} <td>
						<dl>
							<dt>
								<label>{{field}} :</label>
							</dt>
							<dd>
								{{ value }}
							</dd>
						</dl></td>
						{% if forloop.counter|divisibleby:2 %}
					</tr>
					<tr>
						{% endif %}
						{% if forloop.last %}
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</fieldset>
</div>
<div id="form_container">
	<form  method="POST">
		{% csrf_token %}
		<fieldset>
			<legend>
				Academic Info
			</legend>
			{{ grad_form|as_dl_2 }}
			<p>
				<input class="submit" type="submit" value="Update">
			</p>
		</fieldset>
	</form>
</div>
<div id="form_container">
	<form  method="POST">
		{% csrf_token %}
		<fieldset>
			<legend>
				Potential Supervisor
			</legend>
			{{ supervisors_form|as_dl_2 }}
			<p>
				<input class="submit" type="submit" value="Update">
			</p>
		</fieldset>
	</form>
</div>
<div id="form_container">
	<form  method="POST">
		{% csrf_token %}
		<fieldset>
			<legend>
				Status History
			</legend>{%if status_form %}
			{{ status_form|as_dl_2 }}
			<p>
				<input class="submit" type="submit" value="Update">
			</p>
			{%endif%}
		</fieldset>
	</form>
	<a class="button" href="{% url grad.views.index %}">Cancel</a>
</div>
{% endblock %} 
