{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block headextra %}
<script type="text/javascript">
	$(function() {
		$("input#id_start_date").datepicker({
			'dateFormat' : 'yy-mm-dd'
		});
	});

</script>
{% endblock %}
{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li>
			<a href="{% url grad.views.view_all grad_slug=grad.slug %}">View All Info</a>
		</li>
		<li class="newsec">
			<a href="{% url grad.views.manage_academics grad_slug=grad.slug %}">Manage Academics</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_requirements grad_slug=grad.slug  %}">Manage Requirements</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_supervisors grad_slug=grad.slug  %}">Manage Committee</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grad.views.index %}">Grad</a></li>
<li>&gt; <a href="{% url grad.views.view_all grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li>&gt; Status</li>
{% endblock %}

{% block content %}
<div class="table_container">
	<table class="info">
		<tbody>
			{% for field, value in gp %}
			<tr>
				<th><label>{{field}} :</label></th>
				<td> {{ value }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div id="form_container">
	<form action="{% url grad.views.manage_status grad_slug=grad.slug %}"  method="post">
		{% csrf_token %}
		<div class="datatable_container bigdatatable">
			<table class="display" id="status">
				<thead>
					<tr>
						<th colspan="5">Status History</th>
					</tr>
					<tr>
						<th>Status</th>
						<th>Start</th>
						<th>End</th>
						<th>Notes</th>
					</tr>
				</thead>
				<tbody>
					{% for s in status_history %}
					<tr>
						<td> {{ s.get_status_display }} </td>
						<td> {{ s.start }} {% if s.start_date %}({{ s.start_date }}){% endif %}</td>
						<td> {{ s.end }} </td>
						<td> {{ s.notes }} </td>
					</tr>
					{% endfor %}
					<tr>
						<td>{{ new_status.status }} {{ new_status.status.errors }}</td>
						<td>{{ new_status.start }} {{ new_status.start.errors }}
							{{ new_status.start_date }} {{ new_status.start_date.errors }}</td>
						<td>{{ new_status.end }} {{ new_status.end.errors }}</td>
						<td>{{ new_status.notes }} {{ new_status.notes.errors }}</td>
						{% for field in new_status.visible_fields %} 
						{% endfor %}
					</tr>
				</tbody>
			</table>
			<p>
				<input class="submit" type="submit" value="Save" />
			</p>
		</div>
	</form>
</div>
{% endblock %} 