{% extends "grad/base.html" %}
{% load form_display %}

{% block title %}{{grad.person.name}}: Committee Members{% endblock %}
{% block h1 %}{{grad.person.name}}: Committee Members{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad:index" %}">Grad</a></li>
<li><a href="{% url "grad:view" grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li>Committee Members</li>
{% endblock %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
	<li><a href="{% url "grad:manage_defence" grad_slug=grad.slug %}">Edit Defence Info</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
{% include "grad/view__supervisors.html" %}

<div class="form_container">
	<form method="post" action="">{% csrf_token %}
		<fieldset>
			<legend>Add Committee Member</legend>
			<p>Enter only an internal or an external person.</p>
			<p>Click <a href="{% url "grad:committee_info" %}">here</a> for information on committee types.</p> 
			{{ form|as_dl }}
			<p><input class="submit" type="submit" value="Add" /></p>
		</fieldset>
	</form>
</div>
<p class="gradback"><a class="button" href="{% url "grad:view" grad_slug=grad.slug %}">Return to Profile</a></p>
{% endblock %} 
