{% extends "base.html" %}
{% load form_display %}



{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad.views.index" %}">Grad</a></li>
<li>Scholarship Types</li>
{% endblock %}



{% block content %}

<div class="form_container">
    <form action="{% url "grad.views.manage_scholarshipType" %}" method="post">
    	{% csrf_token %}
    	<fieldset>
              {{ new_scholarshipTypeForm|as_dl }}
        <p><input  class="submit"  type="submit" value="Submit" /></p>
        </fieldset>
    </form>
</div>
{% endblock %} 


