{% extends "base.html" %}
{% load form_display %}

{% block title %}{{grad.person.name}}: General Info{% endblock %}
{% block h1 %}{{grad.person.name}}: General Info{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad.views.index" %}">Grad</a></li>
<li><a href="{% url "grad.views.view" grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li>General Info</li>
{% endblock %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
	<li><a href="{% url "grad.views.manage_program" grad_slug=grad.slug %}">Change Program</a></li>
	<li><a href="{% url "grad.views.manage_defence" grad_slug=grad.slug %}">Edit Defence Info</a></li>
	</ul>
</div>
{% endblock %}


{% block content %}
<p><strong>Current program:</strong> {{grad.program.label}}</p>
<div class="form_container">
	<form method="post" action="">
		{% csrf_token %}
		<fieldset>
			<legend>General Info</legend>
			{% if flagforms %}
			<dl class="dlform">
			{% for field,f in flagforms %}
			 	<dt><label>{{field.label}}:</label></dt>
			 	<dd>{{f.value}}</dd>
			{% endfor %}
			</dl>
			{% endif %}

			{{ form|as_dl }}
			
			<p><input class="submit" type="submit" value="Update" /></p>
		</fieldset>
	</form>
</div>
<p class="gradback"><a class="button" href="{% url "grad.views.view" grad_slug=grad.slug %}">Return to Profile</a></p>
{% endblock %} 
