{% extends "grad/base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li>
			<a href="{% url grad.views.view_all grad_slug=grad.slug %}">View All Info</a>
		</li>
		<li class="newsec">
			<a href="{% url grad.views.manage_academics grad_slug=grad.slug %}">Manage Academics</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_supervisors grad_slug=grad.slug  %}">Manage Supervisors</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_status grad_slug=grad.slug  %}">Manage Status</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grad</a>
</li>
<li>
	&gt;<a href="{% url grad.views.view_all grad_slug=grad.slug%}"> {{crumb}}</a>
</li>
<li>
	&gt; Requirements
</li>
{% endblock %}

{% block content %}
<div class="table_container">
	<table class="info">
		<tbody>
			{% for field, value in gp %}
			<tr>
				<th><label>{{field}} :</label></th>
				<td> {{ value }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="datatable_container bigdatatable">
	<table class="display" id="missing_req">
		<thead>
			<tr>
				<th>Missing Requirement(s)</th>
			</tr>
		</thead>
		<tbody>
			{% for s in missing_req %}
			<tr>
				<td>
				<center>
					{{s.description}}
				</center></td>
			</tr>
			{%empty%}
			<tr>
				<td>
				<center>
					Student has completed all requirements in the program.
				</center></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div id="form_container">
	<form method="post" action="{% url grad.views.manage_requirements grad_slug=grad.slug %}">
		{% csrf_token %}
		{{ req_formset.management_form }}
		{% comment %}
		<fieldset>
			<legend>
				Completed Requirements
			</legend>
			<table>
				{% for r in req_formset %}
				{{ r }}
				{% endfor %}
			</table>
			<p>
				<input class="submit" type="submit" value="Save">
			</p>
		</fieldset>
		{% endcomment %}
		<div class="datatable_container bigdatatable">
			<table class="display" id="grads">
				<thead>
					<tr>
						<th>Requirement</th>
						<th>Semster</th>
						<th>Date</th>
						<th>Notes</th>
						{% if req_formset.can_delete %} <th>Delete</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> </td>
						<td> Requirement completed by</td>
						<td> </td>
						<td> </td>
						{% if req_formset.can_delete %} <td></td>
						{% endif %}
					</tr>
					{% for r in req_formset %}
					<tr>{{ r.id }}
						{% if form.non_field_errors %}
						<td>{{ form.non_field_errors }}</td>
						{% endif %}
						<td> {{ r.requirement }} {{ r.requirement.errors }}</td>
						<td> {{ r.semester }} {{ r.semester.errors }}</td>
						<td> {{ r.date }} {{ r.date.errors }}</td>
						<td> {{ r.notes }} {{ r.notes.errors }}</td>
						{% if req_formset.can_delete %} <td> {{ r.DELETE }}</td>
						{% endif %}
					</tr>
					{% endfor%}
				</tbody>
			</table>
			<p>
				<input class="submit" type="submit" value="Save">
			</p>
		</div>
	</form>
	<a class="button" href="{% url grad.views.view_all grad_slug=grad.slug %}">Cancel</a>
</div>
{% endblock %} 