{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block title %}{{grad.person.name}}: General Info{% endblock %}
{% block h1 %}{{grad.person.name}}: General Info{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grad.views.index %}">Grad</a></li>
<li>&gt; <a href="{% url grad.views.view grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li>&gt; General Info</li>
{% endblock %}

{% block content %}
<div id="form_container">
	<form  method="post" action="">
		{% csrf_token %}
		<fieldset>
			<legend>Academic Info</legend>
			{% if flagforms %}
			<dl class="dlform">
			{% for field,f in flagforms %}
				<div class="field">
			 	<dt><label for="id_special_arrangements">{{field.label}}:</label></dt>
			 	<dd>{{f.value}}</dd>
				</div>
			{% endfor %}
			</dl>
			{% endif %}

			{{ form|as_dl }}
			
			<p><input class="submit" type="submit" value="Update" /></p>
		</fieldset>
	</form>
</div>
{% endblock %} 
