{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block title %}{{grad.person.name}}: Add Scholarship{% endblock %}
{% block h1 %}{{grad.person.name}}: Add Scholarship{% endblock %}

{% block actions %}
{% endblock %}



{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grad.views.index %}">Grad</a></li>
<li>&gt; <a href="{% url grad.views.view grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li>&gt; Scholarships</li>
{% endblock %}


{% block content %}
  		<div class="table_container">
	<table class="info">
		<tbody>
			<tr>
				<th>Student # : </th><td>{{grad.person.emplid}}</td>
			</tr>
			<tr>
				<th>Full Name : </th><td>{{grad.person.first_name}} {{grad.person.middle_name}} {{grad.person.last_name}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="form_container">
    <form action="{% url grad.views.manage_scholarship grad_slug=grad.slug%}" method="post">
    	{% csrf_token %}
    	<fieldset>
    		
    		
              {{ scholarship_form|as_dl_2 }}
        <p><input  class="submit"  type="submit" value="Submit" /></p>
        </fieldset>
    </form>
	<a class="button" href="{% url grad.views.index %}">Back</a>
</div>
{% endblock %} 

