{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
<li><a href="{% url grad.views.view_all grad_slug=grad.slug %}">View All Info</a></li>	
<li class="newsec"><a href="{% url grad.views.manage_requirements grad_slug=grad.slug  %}">Manage Requirements</a></li>
<li><a href="{% url grad.views.manage_supervisors grad_slug=grad.slug  %}">Manage Supervisors</a></li>
<li><a href="{% url grad.views.manage_status grad_slug=grad.slug  %}">Manage Status</a></li>
</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grad</a>
</li>
<li>
	&gt;<a href="{% url grad.views.view_all grad_slug=grad.slug%}"> {{crumb}}</a>
</li>
<li>
	&gt; Academics
</li>
{% endblock %}

{% block content %}
{# Display the student's Person related info #}
<div class="table_container">
	<table class="info">
		<tbody>
			{% for field, value in gp %}
			<tr>
				<th><label>{{field}} :</label></th>
				<td> {{ value }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div id="form_container">
	<form  method="POST">
		{% csrf_token %}
		<fieldset>
			<legend>
				Academic Info
			</legend>
			{{ grad_form|as_dl_2 }}
			<p>
				<input class="submit" type="submit" value="Update">
			</p>
		</fieldset>
	</form>
	<a class="button" href="{% url grad.views.view_all grad_slug=grad.slug %}">Cancel</a>
</div>
{% endblock %} 
