{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="/grad">Grad</a></li><li>&gt; {{crumb}}</li>{% endblock %}
{% block content %}
<div id="form_container">
    <form action="{% url grad.views.new_program %}" method="POST">{% csrf_token %}
    	<fieldset>
			<legend>General Info</legend>
              {{ form|as_dl_2 }}
        <p><input  class="submit"  type="submit" value="Submit"></p>
        </fieldset>
    </form>
	<a class="button" href="{% url grad.views.index %}">Back</a>
</div>
{% endblock %} 