{% extends "base.html" %}
{% load form_display %}

{% block title %}New {{ template.label|title }} Letter{% endblock %}
{% block h1 %}New {{ template.label|title }} Letter{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad.views.index" %}">Grad</a></li>
<li><a href="{% url "grad.views.view" grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li><a href="{% url "grad.views.manage_letters" grad_slug=grad.slug%}">Letters</a></li>
<li>New {{ template.label|title }}</li>
{% endblock %}
{% block headextra %}
<script type="text/javascript" src="{{STATIC_URL}}js/grad.js"></script>
<script type="text/javascript">//<![CDATA[

	$(document).ready(function() {
		$("#id_date").datepicker({
			'dateFormat' : 'yy-mm-dd'
		});

		get_addresses('{% url "grad.views.get_addresses" %}')

		url = '{% url "grad.views.get_letter_text" grad_slug=grad.slug letter_template_id=template.id %}'
		getData(url);

		$("#id_from_person").change(update_from_lines);
		update_from_lines();
	});

//]]></script>
{% endblock %}
{% block content %}
<div class="form_container">
	<form action="{% url "grad.views.new_letter" grad_slug=grad.slug letter_template_slug=template.slug %}" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>
				Letter Info
			</legend>
			<div style="clear: both"></div>
            {{form|as_dl}}
			<p>
				<input  class="submit"  type="submit" value="Submit" />
			</p>
		</fieldset>
	</form>
</div>
<p class="gradback"><a class="button" href="{% url "grad.views.view" grad_slug=grad.slug %}">Return to Profile</a></p>
{% endblock %} 
