{% extends "base.html" %}
{% load getattribute %}
{% block headextra %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#grads').dataTable({
			"bJQueryUI" : true,
			"aaSorting" : [[0, "asc"]],
			"bPaginate": false,
		});
	});

</script>
{% endblock %}

{% block title %}Grad Quick Search{% endblock %}
{% block h1 %}Grad Quick Search{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad.views.index" %}">Grad</a></li>
<li>Quick Search</li>
{% endblock %}

{% block content %}
<div class="datatable_container">
	<table class="display" id="grads">
		<thead>
			<tr>
				<th scope="col">Last Name</th>
				<th scope="col">First Name</th>
				<th scope="col">Emplid</th>
				<th scope="col">Userid</th>
				<th scope="col">Program</th>
				<th scope="col">Start</th>
				<th scope="col">Status</th>
				<th scope="col">Supervisor</th>
			</tr>
		</thead>
		<tbody>
			{% for g in grads %}
			<tr>
				<td><a href="{% url "grad.views.view" grad_slug=g.slug %}">{{g.person.last_name}}</a></td>
				<td>{{g.person.first_name}}</td>
				<td>{{g.person.emplid}}</td>
				<td>{{g.person.userid}}</td>
				<td>{{g.program.label}}</td>
				<td>{{g.start_semester.name}}</td>
				<td><span class="sort">{{g.status_order}}</span>{{g.get_current_status_display}}</td>
                <td>{{g.supervisor_names|join:"; "}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} 
