{% extends "base.html" %}
{% block headextra %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#programs').dataTable({
			"bJQueryUI" : true,
			"bPaginate": false,
			"bFilter": false,
			"bInfo": false,
			"aaSorting" : [[0, "asc"]],
		});
	});

</script>
{% endblock %}
{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li>
			<a href="{% url "grad.views.new_program" %}">New Program</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	<a href="{% url "grad.views.index" %}">Grad</a>
</li>
<li>
	{{crumb}}
</li>
{% endblock %}

{% block content %}

<div class="datatable_container">
	<table class="display" id="programs">
		<thead>
			<tr>
				<th scope="col">Program Name</th>
				<th scope="col">Description</th>
			</tr>
		</thead>
		<tbody>
			{% for s in programs %}
			<tr>
				<td>{{s.label}}</td>
				<td>{{s.description}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} 
