{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% block headextra %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#programs').dataTable({
			"bJQueryUI" : true,
			"aaSorting" : [[0, "asc"]],
			"iDisplayLength" : 10,
			"sPaginationType" : "full_numbers",
		});
	});

</script>
{% endblock %}
{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li>
			<a href="{% url grad.views.new_program %}">New Program</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grad</a>
</li>
<li>
	&gt; {{crumb}}
</li>
{% endblock %}

{% block content %}
<p>
	For School of Computing Science (CMPT)
</p>
<div class="datatable_container">
	<table class="display" id="programs">
		<thead>
			<tr>
				<th scope="col">Program Name</th>
				<th scope="col">Description</th>
				<th scope="col">Updated At</th>
			</tr>
		</thead>
		<tbody>
			{% for s in programs %}
			<tr>
				<td>{{s.label}}</td>
				<td>{{s.description}}</td>
				<td>{{s.updated_at}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} 