{% extends "grad/base.html" %}
{% load markup %}
{% load mobile_tags %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; {{crumb}}</li>{% endblock %}




{% block content %}
<div class="datatable_container bigdatatable">
    <table class="display" id="grads">
        <thead>
            <tr>
                <th scope="col">Unit</th>
                <th scope="col">Label</th>
				<th scope="col">Description</th>
            </tr>
		</thead>
        <tbody>
        {% for s in programs %}
        <tr>
            <td scope="row">{{s.unit}}</td>
            <td scope="row">{{s.label}}</td>
            <td scope="row">{{s.description}}</td>
          
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
