{% extends "base-wide.html" %}
{% load static %}
{% load form_display %}

{% block title %}Graduate Student Records Resports{% endblock %}
{% block h1 %}Graduate Student Records Reports{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'style/grad.css' %}" />
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad:index" %}">Grad</a></li>
<li>Reports</li>
{% endblock %}

{% block content %}
<div class="actionlist">
    <a class="btn" href="{% url "grad:config" %}">Configuration</a>
    <div class="btn pressed">Reports</div>
    <a class="btn" href="{% url "grad:search_index" %}">Advanced Search</a>
    <a class="btn" href="#">Browse All Students</a>
    <a class="btn" href="{% url "grad:index" %}">Active Students</a>
</div>
<table id="masters" class="display">
    <thead>
      <tr>
        <th scope="col">Link</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{% url "grad:all_promises" %}">Ending Promises</a></td>
            <td>Manage Ending Promises Here...</td>
        </tr>
        <tr>
            <td><a href="{% url "grad:funding_report" %}">Funding Report</a></td>
            <td>Manage Funding Report Here...</td>
        </tr>
        <tr>
            <td><a href="{% url "grad:financials_report" %}">Finanical Summary Report</a></td>
            <td>View Financial Summary Report Here...</td>
        </tr>
    </tbody>
</table>
{% endblock %}
