{% extends "base.html" %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
	$(document).ready(function() {
		$('#req').dataTable({
			"bJQueryUI" : true,
			"bPaginate": false,
			"bFilter": true,
			"bInfo": false,
			"aaSorting" : [[1, "asc"], [2, "asc"]],
		});
	});
</script>
{% endblock %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li>
			<a href="{% url "grad:new_requirement" %}">New Requirement</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	<a href="{% url "grad:index" %}">Grad</a>
</li>
<li>
	{{crumb}}
</li>
{% endblock %}
{% block content %}
<div class="datatable_container">
	<table class="display" id="req">
		<thead>
			<tr>
				<th scope="col">Department</th>
				<th scope="col">Program</th>
				<th scope="col">Description</th>
                <th scope="col">Hidden</th>
                <th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for s in requirements %}
			<tr>
				<td>{{s.program.unit.label}}</td>
				<td>{{s.program}}</td>
				<td>{{s.description}}</td>
                <td>{{ s.hidden|yesno }}</td>
                <td>
                    <form class="lineform" method="POST"
                          action="{% url "grad:toggle_requirement" requirement_id=s.id %}">
                        {% csrf_token %}
                        {% if s.hidden %}
                            <button type='submit' class='btn' title="Restore Requirement">
                                <i class='fa fa-history'></i>
                            </button>
                        {% else %}
                            <button type='submit' class='btn' title="Hide Requirement">
                                <i class='fa fa-trash-o'></i>
                            </button>
                        {% endif %}
                    </form>
                </td>

			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
