{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}

{% block headextra %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#req').dataTable({
			"bJQueryUI" : true,
			"aaSorting" : [[0, "asc"]],
			"iDisplayLength" : 10,
			"sPaginationType" : "full_numbers",
		});
	});

</script>
{% endblock %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li>
			<a href="{% url grad.views.new_requirement %}">New Requirement</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grad</a>
</li>
<li>
	&gt; {{crumb}}
</li>
{% endblock %}
{% block content %}
<div class="datatable_container">
	<table class="display" id="req">
		<thead>
			<tr>
				<th scope="col">Department</th>
				<th scope="col">Program</th>
				<th scope="col">Description</th>
				<th>Created At</th>
				<th>Updated At</th>
			</tr>
		</thead>
		<tbody>
			{% for s in requirements %}
			<tr>
				<td scope="row">{{s.program.unit}}</td>
				<td scope="row">{{s.program}}</td>
				<td scope="row">{{s.description}}</td>
				<td>{{s.created_at}}</td>
				<td>{{s.updated_at}}</td>
			</tr>
			{%empty%}
			<tr>
				<td>
				<p class="empty">
					There are currently no grad student records stored in the database.
				</p></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}