{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block headextra %}
<link type="text/css" href="{{MEDIA_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript">
  $(function() {
    df = {'dateFormat': 'yy-mm-dd'};
    $("#id_date_from").datepicker(df);
    $("#id_date_to").datepicker(df);
    $("#id_student_status").css("min-height", "180px").multiselect();
    $("#id_accepted_status").css("min-height", "160px").multiselect();
    $("#id_has_comments").css("min-height", "100px").multiselect();
    $("#id_campus").css("min-height", "160px").multiselect();
    $("#id_start_semester").css("min-height", "160px").multiselect();
    $("#id_end_semester").css("min-height", "160px").multiselect();
  });
</script>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block actions %}
{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grad.views.index %}">Grad</a></li>
<li>&gt; Search</li>
{% endblock %}

{% block content %}
<div id="form_container">
    <form id="searchform" action="{% url grad.views.search %}" method="GET">
        <fieldset>
            {#<legend>Advanced Search</legend>#}
            {{ form|as_dl }}
        <p><input id="submitbutton" class="submit"  type="submit" value="Search"></p>
        </fieldset>
    </form>
    <a class="button" href="{% url grad.views.index %}">Back</a>
</div>
{% comment %}
<script type="text/javascript">
<!--

$("#submitbutton").click(function(){
      quizSearchForm = $("#searchform");
      //disable empty fields so they don't clutter up the url
      inputs = quizSearchForm.find(':input[value=""]');
      inputs.attr('disabled', true);
      quizSearchForm.submit();
    });
    
$("#searchform").find(':input[value=""]').attr('disabled', false);

//-->
</script>
{% endcomment %}
{% endblock %}
