{% extends "base.html" %}
{% load form_display %}

{% block headextra %}
<link type="text/css" href="{{STATIC_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript">
  $(function() {
    $("#id_student_status").css("min-height", "180px").multiselect();
    $("#id_application_status").css("min-height", "160px").multiselect();
    $("#id_program").css("min-height", "160px").multiselect();
    $("#id_grad_flags").css("min-height", "120px").multiselect();
    $("#id_supervisor").css("min-height", "160px").multiselect();
    $("#id_requirements").css("min-height", "160px").multiselect();
    $("#id_incomplete_requirements").css("min-height", "160px").multiselect();
    $("#id_financial_support").css("min-height", "120px").multiselect();
    $("#id_scholarship_sem").css("min-height", "120px").multiselect();
    $("#id_scholarshiptype").css("min-height", "120px").multiselect();
    $("#id_campus").css("min-height", "120px").multiselect();
    $("#id_visa").css("min-height", "120px").multiselect();
    $("#id_columns").css("min-height", "180px").multiselect();
    $("#id_grad_flags").css("min-height", "120px").multiselect();
    
    $(".formheader").collapsible();
    $(".formheaderopen").collapsible().trigger('expand');
    $('a.collapsible-heading-toggle').attr('href', 'javascript:');

  });
</script>
<style type="text/css">
.collapsible-heading-status {
	display: none;
}
</style>
<style type="text/css">
#deleteinvalidsearchbutton {float: none;}
</style>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad.views.index" %}">Grad</a></li>
<li>Search</li>
{% endblock %}

{% block content %}
{% if savedsearch %}
<form id="searchform" action="{% url "grad.views.delete_savedsearch" %}" method="post">

<input type="hidden" name="person" value="{{ savedsearch.person.pk }}" id="id_person">
<input type="hidden" name="query" value="{{ savedsearch.query }}" id="id_query">
{% csrf_token %}
<p>This saved search, "{{savedsearch.name}}," is no longer valid. Click the following button to delete it.</p>
<input id="deleteinvalidsearchbutton" class="submit" type="submit" value="Delete this saved search">
</form>
{% endif %}
<p class="helptext">If you don't make a selection in a category, that category is ignored. Unless specified, all multiple select searches will search for any of the conditions.</p>
<div class="form_container">
    <form id="searchform" action="{% url "grad.views.search" %}" method="get">
        <fieldset>
            <h2 class="formheaderopen">Status</h2>
            <div class="formsection">{{ form|as_dl_includefields:form.status_fields }}</div>

            <h2 class="formheader">Personal Info</h2>
            <div class="formsection">{{ form|as_dl_includefields:form.personal_fields }}</div>

            <h2 class="formheader">Start/End Semesters</h2>
            <div class="formsection">{{ form|as_dl_includefields:form.semester_range_fields }}</div>

            <h2 class="formheader">Program</h2>
            <div class="formsection">{{ form|as_dl_includefields:form.program_fields }}</div>

            <h2 class="formheader">Requirements</h2>
            <div class="formsection">{{ form|as_dl_includefields:form.requirement_fields }}</div>

            <h2 class="formheader">Financial</h2>
            <div class="formsection">{{ form|as_dl_includefields:form.financial_fields }}</div>

            <h2 class="formheaderopen">Column Selection</h2>
            <div class="formsection">{{ form|as_dl_includefields:form.col_fields }}</div>
        </fieldset>
        <p><input id="submitbutton" class="submit"  type="submit" value="Search" /></p>
    </form>
</div>
{% endblock %}
