{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block headextra %}
<link type="text/css" href="{{MEDIA_URL}}multiselect/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="{{MEDIA_URL}}multiselect/js/ui.multiselect.js"></script>
<script type="text/javascript">
  $(function() {
    $("#id_student_status").css("min-height", "180px").multiselect();
    $("#id_application_status").css("min-height", "160px").multiselect();
    $("#id_program").css("min-height", "160px").multiselect();
    $("#id_requirements").css("min-height", "160px").multiselect();
    $("#id_financial_support").css("min-height", "120px").multiselect();
    $("#id_scholarship_sem").css("min-height", "160px").multiselect();
    $("#id_campus").css("min-height", "160px").multiselect();
    $("#id_visa").css("min-height", "160px").multiselect();
    $("#id_columns").css("min-height", "180px").multiselect();
  });
</script>
{% comment %}<style type="text/css">
<!--
.ui-multiselect { min-width: 421px; max-width: 421px;}

.ui-multiselect div.selected { max-width:210px; min-width:210px;}

.ui-multiselect div.available { max-width:210px; min-width:210px;}

.ui-multiselect .ui-state-default { max-width:210px;}
.ui-multiselect .ui-widget-header { max-width:210px;}
 
-->
</style>{% endcomment %}
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block actions %}
{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url grad.views.index %}">Grad</a></li>
<li>&gt; Search</li>
{% endblock %}

{% block content %}
<div id="form_container">
    <form id="searchform" action="{% url grad.views.search %}" method="get">
        <fieldset>
            {#<legend>Advanced Search</legend>#}
            <div id="messages"><ul><li class="info">
            If you don't make a selection in a category, that category is ignored.
            </li>
            <li class="info">
            Unless specified, all multiple select searches will search for any of the conditions.
            </li></ul></div>
            {{ form|as_dl_includefields:form.semester_range_fields }}
            {{ form|as_dl_includefields:form.regular_fields }}
            {{ form|as_dl_includefields:form.number_range_fields }}
        </fieldset>
        <fieldset>
        	<legend>Column Selection</legend>
            {{ form|as_dl_includefields:form.col_fields }}
            {#{{form|as_dl}}#}
        </fieldset>
        <p><input id="submitbutton" class="submit"  type="submit" value="Search" /></p>
    </form>
    <a class="button" href="{% url grad.views.index %}" style="clear:both">Back</a>
</div>
{% endblock %}
