{% extends "base.html" %}
{% load static %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
	$(document).ready(function() {
		$('#grads').dataTable({
			"bJQueryUI" : true,
			"aaSorting" : [[2, "asc"], [3, "desc"]],
			"bPaginate": false,
		});
	});

</script>
{% endblock %}


{% block title %}Your Grad Students{% endblock %}
{% block h1 %}Your Grad Students{% endblock %}

{% block subbreadcrumbs %}
<li>Grad Students</li>
{% endblock %}


{% block actions %}
{% if supervisors %}
<div id="actions">
    <h2>Actions</h2>
    <ul class="fa-ul">
        <li>
            <a href="{% url 'dashboard:download_my_grads_csv' %}">
                <i class="fa fa-li fa-download"></i> Download CSV
            </a>
        </li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="datatable_container">
	<table class="display" id="grads">
		<thead>
			<tr>
            <th scope="col">Name</th>
            <th scope="col">Program</th>
            <th scope="col">Your Role</th>
            <th scope="col">Start Semester</th>
            <th scope="col">Current Status</th>
			</tr>
		</thead>
		<tbody>
			{% for s in supervisors %}
            <tr>
            <td scope="row">
            {% if s.can_view_details %}
            <a href="{% url "grad:view" grad_slug=s.student.slug %}">{{s.student.person.sortname}}</a>
            {% else %}
            {{s.student.person.sortname}}
            {% endif %}
            </td>
            <td>{{s.student.program.description}}</td>
            <td><span class="sort">{{s.type_order}}</span>{{s.get_supervisor_type_display}}
            	{% if s.supervisor_type == 'POT' %}{% if s.student.has_committee %}(has committee){% else %}(no committee){% endif %}{% endif %}</td>
            <td><span class="sort">{{s.student.start_semester.name}}</span>{{s.student.start_semester}}</td>
            <td>{{s.student.get_current_status_display}}</td>
            </tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} 
