{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li>
			<a href="{% url grad.views.manage_academics grad_slug=grad.slug %}">Manage Academics</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_requirements grad_slug=grad.slug  %}">Manage Requirements</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_supervisors grad_slug=grad.slug  %}">Manage Supervisors</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_status grad_slug=grad.slug  %}">Manage Status</a>
		</li>
		<li class="newsec">
			<a href="{% url grad.views.new_letter grad_slug=grad.slug %}"> New Letter </a>
		</li>
		<li>
			<a href="{% url grad.views.view_all_letters grad_slug=grad.slug %}">View Letters </a>
		</li>
		<li class="newsec">
			<a href="{% url grad.views.financials grad_slug=grad.slug %}">Financial Summary</a>
		</li>
		<li>
			<a href="{% url grad.views.new_promise grad_slug=grad.slug %}">New Promise</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_scholarship grad_slug=grad.slug %}">Add Scholarship</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
	function toggle(title_btn, open_btn, close_btn, body) {
		$(body).hide();
		$(close_btn).hide();

		$(title_btn).click(function() {
			if($(body).is(':hidden')) {
				$(body).show();
				$(close_btn).show();
				$(open_btn).hide();
			} else {
				$(body).hide();
				$(close_btn).hide();
				$(open_btn).show();
			}
		})

		$(open_btn).click(function() {
			$(body).show('slow');
			$(close_btn).show();
			$(open_btn).hide();
		});

		$(close_btn).click(function() {
			$(body).hide();
			$(close_btn).hide();
			$(open_btn).show();
		});
	}


	$(document).ready(function() {
		toggle('#academic-btn', '#open-academics-btn', '#close-academics-btn', '#academics-body');
	});

</script>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grad</a>
</li>
<li>
	&gt; {{crumb}}
</li>
{% endblock %}

{% block content %}
{# Display the student's Person related info #}
<div class="table_container">
	<table class="info">
		<tbody>
			<tr>
				<th>Student # : </th><td>{{grad.person.emplid}}</td>
				<th>User ID : </th><td>{{grad.person.userid}}</td>
			</tr>
			<tr>
				<th>Full Name : </th><td>{{grad.person.first_name}} {{grad.person.middle_name}} {{grad.person.last_name}}</td>
				<th>Preferred First Name : </th><td>{{grad.person.pref_first_name}}</td>
			</tr>
			<tr>
				<th>Home Address : </th>
				<td>{{grad.person.config.addresses.home}}</td>
				<th>Mail Address : </th>
				<td>{{grad.person.config.addresses.mail}} </td>
			</tr>
			<tr>
				<th> Home Phone :
				<br />
				Mobile Phone : </th>
				<td>{{grad.person.config.phones.home}}
				<br />
				{{grad.person.config.phones.cell}} </td>
				<th> Main Phone:
				<br />
				Preferred Phone: </th>
				<td> {{grad.person.config.phones.main}}
				<br />
				{{grad.person.config.phones.pref}}</td>
			</tr>
			<tr>
				<th>Citizenship : </th><td>{{grad.person.config.citizen}}</td>
				<th>Visa : </th><td>{{grad.person.config.visa}}</td>
			</tr>
			<tr>
				<th>Gender : </th><td>{{grad.person.config.gender}}</td>
				<th>Email : </th><td>{{grad.person.config.email}}</td>
			</tr>
		</tbody>
	</table>
</div>
<br />
<div align="center">
	<p class="helptext">
		Last updated : {{grad.updated_at}}. By:
		{% if not grad.modified_by%}
		{{grad.created_by}}
		{% else %}
		{{grad.modified_by}}
		{% endif %}
	</p>
</div>
<div class="datatable_container bigdatatable">
	<table class="display" id="academics">
		<thead>
			<tr>
				<th colspan="3" >
				<div style="float: left; width: 100%">
					<div style="float: left; width: 100%" id="academic-btn">
						Academics
					</div>
					<div style="float: left;" id="open-academics-btn">
						[Click to expand]
					</div>
					<div style="float: left" id="close-academics-btn">
						[Click to collapse]
					</div>
					<div style="float: right">
						<a href="{% url grad.views.manage_academics grad_slug=grad.slug  %}">Manage Academics</a>
					</div>
				</div></th>
			</tr>
		</thead>
		<tbody id="academics-body">
			<tr>
				<td>
				<dl>
					<dt>
						<label>Grad Program :</label>
					</dt>
					<dd>
						{{ grad.program }}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Research Area : </label>
					</dt>
					<dd>
						{{grad.research_area}}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Main Location :</label>
					</dt>
					<dd>
						{{ grad.get_campus_display }}
					</dd>
				</dl></td>
			</tr>
			<tr>
				<td>
				<dl>
					<dt>
						<label>English Fluency :</label>
					</dt>
					<dd>
						{{grad.english_fluency}}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Mother Tongue :</label>
					</dt>
					<dd>
						{{ grad.mother_tongue }}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Canadian : </label>
					</dt>
					<dd>
						{{grad.is_canadian}}
					</dd>
				</dl></td>
			</tr>
			<tr>
				<td>
				<dl>
					<dt>
						<label>Passport Issued By :</label>
					</dt>
					<dd>
						{{ grad.passport_issued_by }}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Special Arrangements : </label>
					</dt>
					<dd>
						{{grad.special_arrangements}}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Application Status : </label>
					</dt>
					<dd>
						{{grad.get_application_status_display}}
					</dd>
				</dl></td>
			</tr>
			<tr>
				<td colspan="3">
				<dl>
					<dt>
						<label>Comments :</label>
					</dt>
					<dd>
						{{ grad.comments }}
					</dd>
				</dl></td>
			</tr>
		</tbody>
	</table>
	<br />
	<hr>
</div>
<br />
<div class="datatable_container bigdatatable">
	<table class="display" id="grads">
		<thead>
			<tr>
				<th colspan="3"> Completed Requirment(s)
				<div align="right">
					<a href="{% url grad.views.manage_requirements grad_slug=grad.slug  %}">Manage Requirements</a>
				</div></th>
			</tr>
			<tr>
				<th>Requirement</th>
				<th>Completed In</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for s in completed_req %}
			<tr>
				<td>{{s.requirement}}</td>
				<td>{{s.semester}}</td>
				<td>{{s.date}}</td>
			</tr>
			{%empty%}
			<tr>
				<td colspan="3">
				<p class="empty">
					Student has not completed any requirements.
				</p></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<table class="display" id="missing_req">
		<thead>
			<tr>
				<th>Missing Requirement(s)</th>
			</tr>
		</thead>
		<tbody>
			{% for s in missing_req %}
			<tr>
				<td>
				<center>
					{{s.description}}
				</center></td>
			</tr>
			{%empty%}
			<tr>
				<td>
				<p class="empty">
					Student has completed all requirements in the program.
				</p></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br />
	<hr />
</div>
<br />
<div class="datatable_container bigdatatable">
	<table class="display" id="status">
		<thead>
			<tr>
				<th colspan="5">Supervisors
				<div align="right">
					<a href="{% url grad.views.manage_supervisors grad_slug=grad.slug  %}">Manage Supervisors</a>
				</div></th>
			</tr>
			<tr>
				<th>Supervisor</th>
				<th></th>
				<th></th>
				<th>Updated At</th>
			</tr>
		</thead>
		<tbody>
			{% for supervisor in supervisors %}
			<tr>
				<td>{% if supervisor.supervisor %}{{ supervisor.supervisor }}{% else %}{{ supervisor.external }}{% endif%}</td>
				<td>{{ supervisor.position }}</td>
				<td>{% if supervisor.position == 0 %}Potential{% else %} {% if supervisor.position == 1%} Senior {% else %} {% endif %} {% endif %}</td>
				<td>{{ supervisor.updated_at }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br />
	<hr>
</div>
<br />
<div class="datatable_container bigdatatable">
	<table class="display" id="status">
		<thead>
			<tr>
				<th colspan="5">Status History
				<div align="right">
					<a href="{% url grad.views.manage_status grad_slug=grad.slug  %}">Manage Status</a>
				</div></th>
			</tr>
			<tr>
				<th>Status</th>
				<th>Start Semester</th>
				<th>End Semester</th>
				<th>Notes</th>
				<th>Updated At</th>
			</tr>
		</thead>
		<tbody>
			{% if status_history %}
			{% for s in status_history %}
			<tr>
				<td> {{ s.get_status_display }} </td>
				<td> {{s.start}} </td>
				<td> {{s.end}} </td>
				<td> {{s.notes}} </td>
				<td> {{s.updated_at}} </td>
			</tr>
			{% endfor %}
			{% else %}
			<tr>
				<td class="empty"> There are no status history for this grad. Contact an Administrator to check. </td>
			</tr>
			{% endif %}
		</tbody>
	</table>
	<br />
	<hr>
</div>
<br />
{% endblock %} 