{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block actions %}
{% endblock %}

{% block headextra %}
<style type="text/css">
/* from W3 Dot Leaders */
ul.leaders {
    max-width: 100%;
    overflow-x: hidden;
    list-style: none
    }
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 }
ul.leaders li.comment:before{
	content:""
}
ul.leaders span:first-child {
    padding-right: 1em;
    background: white
}
ul.leaders span + span {
    float: right;
    padding-left: 1em;
    padding-right: 2em;
    background: white;
}

div.scholarship_content {
	padding-left: 2em; 
	padding-right: 2em;
	clear: both;
}

div.promise_content { 
	text-align: right;
	padding-right: 1em;
	float: right;
	clear:both;
}

div.hr{
	border: 1px solid black;
	width: 98%;
}

div.scholarship_divider{
	border-right: 2px solid black;
	width: 75%;
	float: left;
}

span.label {
 	font-weight: bold
}

</style>

{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grads</a>
</li>
<li>
	&gt; <a href="{% url grad.views.view_all grad_slug=grad.slug%}">{{crumb}}</a>
</li>

<li>
	&gt; Financial Summary
</li>

{% endblock %}



{% block content %}

<div id="content_container">
	<div class="scholarship_divider">
	{% for semester in semesters %}
		<h2> {{ semester.semester }} - Status: {{ semester.status }} </h2>
			<div class="scholarship_content">
				{% if semester.scholarship_details.scholarships %}
					<span class="label"> Scholarships: </span>
					<ul class="leaders">
					{% for scholarship in semester.scholarship_details.scholarships %}
						<li>
						{% if scholarship.scholarship.scholarship_type.eligible %}
								<span>{{scholarship.scholarship.scholarship_type.name}}</span>
								<span> ${{ scholarship.semester_amount|floatformat:2 }} </span>
						{% else %}
								<span>{{scholarship.scholarship.scholarship_type.name}} (${{ scholarship.semester_amount|floatformat:2 }})</span>
								<span> Not Eligible </span>
						{% endif %}
						</li>
						{% if scholarship.scholarship.comment %}
							<li class="comment"><p>{{ scholarship.scholarship.comment }}</p></li>
						{% endif %}
					{% endfor %}
					</ul>
				{% endif %}
				{% if semester.scholarship_details.other_funding %}
					<span class="label"> Other Funding: </span>
					<ul class="leader">
						{% for other_funding in semester.scholarship_details.other_funding %}
							<li>
								{% if other_funding.eligible %}
								<span>{{ other_funding.description}}</span>
								<span> ${{ other_funding.amount|floatformat:2 }} </span>
								{% else %}
								<span>{{ other_funding.description}} (${{ other_funding.amount|floatformat:2 }})</span>
								<span> Not Eligible </span>
								{% endif %}
							</li>
							{% if other_funding.comment %}
								<li class="comment"><p>{{ other_funding.comment }}</p></li>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
				{% if semester.scholarship_details.semester_total %}
				<div class="hr"></div>
				<span style="float: left;" class="label">Semester Sub-Total</span>
				<span style="float: right; padding-right: 2em;"> ${{ semester.scholarship_details.semester_total|floatformat:2 }} </span>
				{% endif %}
			</div>
			<br />
			<br />
			
			
	    {% for promise in promises %}
	    {% if promise.promise == semester.promise and semester.semester == promise.promise.start_semester %}
   </div>
	    <div class="promise_content">
			<span class="label"> Promised Amount: </span> ${{ promise.promise.amount|floatformat:2 }} <br />
			<span class="label"> Received Amount: </span> ${{ promise.received|floatformat:2 }} <br />
			<div class="hr"></div>
			{% if promise.owing < 0 %}
				<span style="color: red" class="label">
					Amount Owing: (${{ promise.promise.owing_amount|floatformat:2 }})
				</span> 
			{% else %}
				<span class="label">
					Amount Owing: None
				</span>
			{% endif %}
			
		</div>
		
			{% if not forloop.last %}
	<div class="divider">
			{% endif %}
		{% endif %}
		{% endfor %}

			
	{% endfor %}
    </div>
</div>

{% endblock %} 