{% extends "grad/base.html" %}

{% block title %}{{grad.person.name}}, {{grad.program.description}}{% endblock %}
{% block h1 %}{{grad.person.name}}, {{grad.program.description}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad.views.index" %}">Grad</a></li>
<li>{{grad.person.name}}, {{grad.program.label}}</li>
{% endblock %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
	{% if authtype != 'supervisor' %}
	<li id="moreinfo"><a href="javascript:get_more_info('{% url "grad.views.grad_more_info" grad_slug=grad.slug %}')">Fetch more info</a> <i class="fa fa-spinner fa-spin" id="fetchwait" style="display:none"></i></li>
	{% endif %}
	<li><a href="{% url "grad.views.financials" grad_slug=grad.slug %}">View Financial Summary</a></li>
	{% if can_edit %}
	<li><a href="{% url "grad.views.get_form" grad_slug=grad.slug %}?type=cardreq">Card Access Form</a></li>
	{% if grad.program.unit.uses_fasnet %}
	<li><a href="{% url "grad.views.get_form" grad_slug=grad.slug %}?type=fasnet">FASnet Account Form</a></li>
	{% endif %}
	{% endif %}
	</ul>
</div>
{% endblock %}

{% block gradheadextra %}
<script type="text/javascript" src="{{STATIC_URL}}js/advisornotes.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<script type="text/javascript">
//<![CDATA[
$(window).bind( 'hashchange', display_sections);
$(document).ready(function() {
	if (window.location.search.indexOf('_escaped_fragment_') != -1) {
		$('div.datatable_container table.display').each(function(i, elt){
			datatable_grad_table(elt);
		});
		return;
	}
	if ( !$.param.fragment() && $.cookie('grad_view_visible') ) {
		// no sections set in fragment: use cookie if we have that.
		var cookie = $.cookie('grad_view_visible');
		parent.location.hash = '!'+cookie;
		display_sections(null, cookie);
		$.cookie('grad_view_visible', cookie, { expires: 365, path: '/' });
	} else {
		// display sections requested in fragment
		display_sections(null, null);
	}
	$('.collapsiblecomment').collapsible();
});
//]]></script>
{% endblock %}

{% block content %}
<div class="table_container">
<table class="info">
<tbody>
<tr>
  <th>Student #</th>
  <td>{{grad.person.emplid}}
      {# [<a href="https://go.sfu.ca/psp/paprd/EMPLOYEE/HRMS/c/SCC_ADMIN_OVRD_STDNT.SSS_STUDENT_CENTER.GBL?EMPLID={{grad.person.emplid }}">SIMS record</a>] #}
      {% if grad.config.cortezid %}[<a href="{% url "grad.views.view" grad_slug=grad.slug %}?cortez-bounce=yes">OLD cortez record</a>]{% endif %}
  </td>
</tr>
<tr><th>Name</th><td>{{grad.person.sortname_pref}}</td></tr>
<tr><th>Email</th><td>{{grad.person.email_mailto}}
{% if grad.applic_email %}(application email: {{grad.applic_email}}){% endif %}	
</td></tr>
<tr><th>Current Status</th><td>{{grad.get_current_status_display}}
    {% if can_edit %}<a class="editlink" href="{% url "grad.views.manage_status" grad_slug=grad.slug %}">Update status</a>{% endif %}</td></tr>
<tr><th>Citizenship</th><td>{{ grad.person.citizen|default_if_none:"unknown" }} (visa status: {{ grad.person.visa|default_if_none:"unknown" }})</td></tr>
<tr><th>CGPA</th><td>{% if grad.person.gpa %}{{grad.person.gpa}} ({{grad.person.ccredits}} credits){% endif %} {% if grad.config.masters_cgpa %} {{grad.config.masters_cgpa}} {% endif %}</td></tr>
<tr><th>Gender</th><td>{{grad.person.gender}}</td></tr>
<tr><th>Start/End Semesters</th><td>{% if grad.start_semester %}{{ grad.start_semester.name }}{% else %}???{% endif %}&ndash;{% if grad.end_semester %}{{ grad.end_semester.name }}{% else %}present{% endif %}</td></tr>
<tr><th>Active/Total Semesters</th><td>{{grad.active_semesters_display}}</td></tr>
{% if other_grad %}<tr><th>Other programs</th><td>{% for g in other_grad %}<a href="{% url "grad.views.view" grad_slug=g.slug %}">{{g}}</a><br />{% endfor %}</td></tr>{% endif %}
{% if grad.thesis_type != "Defence" %}<tr><th>{{ grad.thesis_type}}</th><td>{{grad.thesis_summary}}</td></tr> {% endif %}
</tbody>
</table>
</div>

{% if can_edit %}
<p><strong>Manage:</strong>
<a href="{% url "grad.views.manage_general" grad_slug=grad.slug  %}">General Info</a>
| <a href="{% url "grad.views.manage_requirements" grad_slug=grad.slug  %}">Requirements</a>
| <a href="{% url "grad.views.manage_supervisors" grad_slug=grad.slug  %}">Committee</a>
| <a href="{% url "grad.views.manage_status" grad_slug=grad.slug  %}">Status</a>
| <a href="{% url "grad.views.manage_scholarships" grad_slug=grad.slug  %}">Scholarships</a>
| <a href="{% url "grad.views.manage_otherfunding" grad_slug=grad.slug  %}">Other Funding</a>
| <a href="{% url "grad.views.manage_financialcomments" grad_slug=grad.slug  %}">Financial Comments</a>
| <a href="{% url "grad.views.manage_letters" grad_slug=grad.slug  %}">Letters</a>
| <a href="{% url "grad.views.manage_defence" grad_slug=grad.slug  %}">{{ grad.thesis_type }}</a>
</p>
{% endif %}

<h2 id="general" class="collapsed"><a href="#!general">General</a></h2>
<div id="general_content">{{general_content}}</div>

<h2 id="requirements" class="collapsed"><a href="#!requirements">Requirements</a></h2>
<div id="requirements_content">{{requirements_content}}</div>

<h2 id="supervisors" class="collapsed"><a href="#!supervisors">Committee</a></h2>
<div id="supervisors_content">{{supervisors_content}}</div>

<h2 id="status" class="collapsed"><a href="#!status">Status</a></h2>
<div id="status_content">{{status_content}}</div>

<h2 id="scholarships" class="collapsed"><a href="#!scholarships">Scholarships</a></h2>
<div id="scholarships_content">{{scholarships_content}}</div>

<h2 id="otherfunding" class="collapsed"><a href="#!otherfunding">Other Funding</a></h2>
<div id="otherfunding_content">{{otherfunding_content}}</div>

<h2 id="promises" class="collapsed"><a href="#!promises">Promises</a></h2>
<div id="promises_content">{{promises_content}}</div>

<h2 id="financialcomments" class="collapsed"><a href="#!financialcomments">Financial Comments</a></h2>
<div id="financialcomments_content">{{financialcomments_content}}</div>

<h2 id="letters" class="collapsed"><a href="#!letters">Letters</a></h2>
<div id="letters_content">{{letters_content}}</div>
{% endblock %} 
