{% extends "base.html" %}
{% load form_display %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad.views.index" %}">Grad</a></li>
<li><a href="{% url "grad.views.view" grad_slug=grad.slug %}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li><a href="{% url "grad.views.manage_letters" grad_slug=grad.slug%}">Letters</a></li>
<li>{{letter.template.label}}, {{letter.date}}</li>
{% endblock %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
<li><a href="{% url "grad.views.get_letter" grad_slug=grad.slug letter_slug=letter.slug %}">Get PDF</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div class="form_container">
	<fieldset>
		<legend>
			Letter Info
		</legend>
		<div style="float: left; width: 40%;">
			<dl class="dlform">
				<dt>
					Student:
				</dt>
				<dd>
					{{letter.student.person.emplid}}- {{letter.student.person.last_name}}, {{letter.student.person.first_name}}
				</dd>
			</dl>
		</div>
		<div style="float: left;">
			<dl class="dlform">
				<dt>
					Template:
				</dt>
				<dd>
					{{letter.template.label}} Letter for {{letter.template.unit}}
				</dd>
			</dl>
		</div>
		<div style="float: left; width: 40%">
			<dl class="dlform">
				<dt>
					Send Date:
				</dt>
				<dd>
					{{letter.date}}
				</dd>
			</dl>
		</div>
		<div style="float: left; width: 20%">
			<dl class="dlform">
				<dt>
					Created By:
				</dt>
				<dd>
					{{letter.created_by}}
				</dd>
			</dl>
		</div>
		<div style="float: left;">
			<dl class="dlform">
				<dt>
					Created At:
				</dt>
				<dd>
					{{letter.created_at}}
				</dd>
			</dl>
		</div>		
		<div style="float:left; width:100%">
			<dl class="dlform">
				<dt>
					Contents:
				</dt>
				<dd>
					<div style="width: 90%; margin: 15px;">
					{{letter.content|linebreaks}}
					</div>
				</dd>
			</dl>
		</div>
	</fieldset>
</div>
{% endblock %} 
