{% if index and can_edit %}<p class="manage_link"><a href="{% url "grad.views.manage_status" grad_slug=grad.slug  %}">Manage Status</a></p>{% endif %}
<div class="datatable_container datatable">
	<table class="display sort-1">
		<thead>
			<tr>
				<th>Status</th>
				<th>As Of</th>
				{% if not index %}
                    <th>Actions</th>
                {% endif %}
			</tr>
		</thead>
		<tbody>
			{% for s in statuses %}
			<tr>
				<td> 
                    <span class="sort">{{s.status_order}}</span>
                    {% if s.hidden %}<del>{% endif %}
                        {{ s.get_status_display }}
                    {% if s.hidden %}</del>{% endif %}
				    {% if s.notes %} 
                        <img src="{{MEDIA_URL}}icons/information.png" alt="[?]" class="collapsiblecomment" />
                        <p class="hiddencomment">
                            {{s.notes}}
                        </p> 
                    {% endif %}
				</td>
				<td> 
                    {% if s.hidden %}<del>{% endif %}
                    	<span class="sort">{{s.start.name}} {% if s.start_date %}{{s.start_date.isoformat}}{% endif %}</span>
                        {{s.start.name}} ({{s.start}}{% if s.start_date %}, {{s.start_date|date:GRAD_DATE_FORMAT}}{% endif %})
                    {% if s.hidden %}</del>{% endif %}
                </td>

				{% if not index %}
                <td class='miniaction'>
                    {% if not s.hidden %}
                        <form action="{% url "grad.views.remove_status" grad_slug=grad.slug s_id=s.id %}" method="post">
                            {% csrf_token %}
                                <p class="actionbutton">
                                    <input type="submit" value="remove" onclick="return confirmSubmit('remove this status')" />
                                </p>
                        </form>
                    {% endif %}
                </td>
                {% endif %}

			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
