{% if can_edit %}
<p class="manage_link">
    <a href="{% url "grad.views.manage_general" grad_slug=grad.slug  %}">Manage General Info</a>
    | <a href="{% url "grad.views.manage_program" grad_slug=grad.slug  %}">Change Program</a>
</p>
{% endif %}

<h3>Programs</h3>
{% include "grad/view__program.html" %}

<h3>Info</h3>
<table class="info">
  <tbody>
    <tr>
      <th>Current Program</th>
      <td>{{grad.program}}</td>
    </tr>
    <tr>
      <th>Research Area</th>
      <td>{{grad.research_area}}</td>
    </tr>
    <tr>
      <th>Main Location</th>
      <td>{{grad.get_campus_display}}</td>
    </tr>
    <tr>
      <th>English Fluency</th>
      <td>{{grad.english_fluency}}</td>
    </tr>
    <tr>
      <th>Mother Tongue</th>
      <td>{{grad.mother_tongue}}</td>
    </tr>
    <tr>
      <th>Canadian</th>
      <td>{{grad.is_canadian}}</td>
    </tr>
    <tr>
      <th>SIN</th>
      <td>{{grad.person.sin}}</td>
    </tr>
    {% for gf, gfv in flag_values %}
    <tr>
        <th>{{gf.label}}</th>
        <td>{{gfv.value|yesno}}</td>
    </tr>
    {% endfor %}
    {% for extra, value in extras %}
    <tr>
        <th>{{extra}}</th>
        <td>{{value}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Comments:</th>
        <td>{{ grad.comments|linebreaksbr }}</td>
    </tr>
  </tbody>
</table>
