<p class="manage_link"><a href="{% url grad.views.manage_general grad_slug=grad.slug  %}">Manage General Info</a></p>
{% include "grad/view__program.html" %}
<div class="datatable">
	<table class="display" id="academics">
		<tbody id="academics-body">
			<tr>
				<td>
				<dl>
					<dt>
						<label>Current Program :</label>
					</dt>
					<dd>
						{{ grad.program }}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Research Area : </label>
					</dt>
					<dd>
						{{grad.research_area}}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Main Location :</label>
					</dt>
					<dd>
						{{ grad.get_campus_display }}
					</dd>
				</dl></td>
			</tr>
			<tr>
				<td>
				<dl>
					<dt>
						<label>English Fluency :</label>
					</dt>
					<dd>
						{{grad.english_fluency}}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Mother Tongue :</label>
					</dt>
					<dd>
						{{ grad.mother_tongue }}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Canadian : </label>
					</dt>
					<dd>
						{{grad.is_canadian}}
					</dd>
				</dl></td>
			</tr>
			<tr>
				<td>
				<dl>
					<dt>
						<label>Passport Issued By :</label>
					</dt>
					<dd>
						{{ grad.passport_issued_by }}
					</dd>
				</dl></td>
				<td>
				{% for gf, gfv in flag_values %}
				<strong class="label">{{gf.label}}</strong>: {{gfv.value|yesno}}<br />
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td colspan="3">
				<dl>
					<dt>
						<label>Comments :</label>
					</dt>
					<dd>
						{{ grad.comments }}
					</dd>
				</dl></td>
			</tr>
		</tbody>
	</table>
</div>
