<p class="manage_link"><a href="{% url grad.views.manage_requirements grad_slug=grad.slug  %}">Manage Requirements</a></p>
<div class="datatable_container datatable">
	<table class="display sort-1" id="grads">
		<thead>
			<tr>
				<th>Requirement</th>
				<th>Completed In</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for s in completed_req %}
			<tr>
				<td>{{s.requirement.description}} ({{s.requirement.program.label}})</td>
				<td><span class="sort">{{s.semester.name}}</span>{{s.semester}}</td>
				<td>{{s.date}}</td>
			</tr>
			{%empty%}
			<tr>
				<td colspan="3">
				<p class="empty">
					Student has not completed any requirements.
				</p></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<table id="missing_req">
		<thead>
			<tr>
				<th>Missing Requirement(s)</th>
			</tr>
		</thead>
		<tbody>
			{% for s in missing_req %}
			<tr>
				<td align="center"> {{s.description}}</td>
			</tr>
			{%empty%}
			<tr>
				<td>
				<p class="empty">
					Student has completed all requirements in the program.
				</p></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
