<p class="manage_link"><a href="{% url grad.views.view_all_letters grad_slug=grad.slug  %}">Manage Letters</a></p>
<div class="datatable_container datatable">
	<table class="display sort-1">
		<thead>
			<tr>
				<th>Template</th>
				<th>Date</th>
				<th>From</th>
			</tr>
		</thead>
		<tbody>
			{% for l in letters %}
			<tr>
				<td> {{ l.template.label }} </td>
				<td> <span class="sort">{{ l.date.isoformat }}</span>{{ l.date }} </td>
				<td> {{ l.from }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
