{% if can_edit %}
<p class="manage_link">
    <a href="{% url "grad:manage_documents" grad_slug=grad.slug  %}">
    Manage Documents
    </a>
</p>{% endif %}
<div class="datatable_container datatable">
	<table class="display">
		<thead>
			<tr>
				<th>Date</th>
                <th>Name</th>
                <th>Document</th>

				{% if can_edit %}
                    <th>Actions</th>
                {% endif %}
			</tr>
		</thead>
		<tbody>
			{% for d in documents %}
			<tr>
				<td> 
                    {% if d.removed %}<del>{% endif %}
                        {{ d.date }}
                    {% if d.removed %}</del>{% endif %}
                </td>
                <td>
                    {% if d.removed %}<del>{% endif %}
                        {{ d.name }}
                    {% if d.removed %}</del>{% endif %}
                    {% if d.comments %} 
                        <i class="fa fa-info-circle collapsiblecomment"></i>
                        <p class="hiddencomment">
                            {{d.comments}}
                        </p> 
                    {% endif %}

                </td>
				<td> 
                    {% if not d.removed %}
                        <a href="{% url "grad:download_file" grad_slug=grad.slug d_id=d.id %}">
                        <i class="fa fa-download"></i>
                        {{d.attachment_filename}}
                        </a>
                        ({{ d.file_attachment.size|filesizeformat }})
                    {% else %}
                    <del>{{d.attachment_filename}}</del>
                    {% endif %}
                </td>
        
				{% if can_edit %}
                <td class='miniaction'>
                    {% if not d.removed %}
                        <form action="{% url "grad:remove_document" grad_slug=grad.slug d_id=d.id %}" method="post">
                            {% csrf_token %}
                                <p class="actionbutton">
                                    <input type="submit" value="remove" onclick="return confirmSubmit('remove this document?')" />
                                </p>
                        </form>
                    {% endif %}
                </td>
                {% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
