{% load sims_check %}
{% if can_edit %}<p class="manage_link"><a href="{% url "grad:manage_supervisors" grad_slug=grad.slug  %}">Manage Committee</a></p>{% endif %}
<div class="datatable_container datatable">
	<table class="display sort-1">
		<thead>
			<tr>
				<th scope="col">Member</th>
				<th scope="col">Type</th>
				<th scope="col">Since</th>
				{% if can_edit %}
				<th scope="col">Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for s in supervisors %}
			<tr>
				<td>{% if s.removed %}<del>{% endif %}{% if s.supervisor %}{{s.supervisor}}{% else %}{{s.external}}{% endif %} {% sims_check s %}{% if s.removed %}</del>{% endif %} </td>
				<td>{% if s.removed %}<del><span class="sort">{{s.type_order}}</span>{% else %}<span class="sort">{{s.type_order|add:"9"}}</span>{% endif %}{{s.get_supervisor_type_display}}{% if s.removed %}</del>{% endif %}</td>
				<td><span class="sort">{{s.created_at.isoformat}}</span>{{s.created_at|date:GRAD_DATE_FORMAT}}
					{% if s.removed %}&ndash; <abbr title="Date Removed from CourSys {% if s.modified_by %}({{s.modified_by}}){% endif %}">{{s.updated_at|date:GRAD_DATE_FORMAT}} <i class="fa fa-info-circle"></i></abbr>{% endif %}
				</td>
				{% if can_edit %}
				<td class="miniaction">{% if not s.removed %}<form action="{% url "grad:remove_supervisor" grad_slug=grad.slug sup_id=s.id %}" method="post">{% csrf_token %}<p class="actionbutton">
                <input type="submit" value="remove" class="confirm-submit" data-submit-action="remove this committee member" />
				</p></form>{% endif %}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
