{% extends "grad/base.html" %}

{% block title %}Financial Summary for {{grad.person.name}}{% endblock %}
{% block h1 %}Financial Summary for {{grad.person.name}}{% endblock %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
	<li><a href="{% url "grad.views.financials" grad_slug=grad.slug %}">View complete format</a></li>
	</ul>
</div>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad.views.index" %}">Grad</a></li>
<li><a href="{% url "grad.views.view" grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li><a href="{% url "grad.views.financials" grad_slug=grad.slug %}">Financial Summary</a></li>
<li>Compact</li>
{% endblock %}


{% block content %}

<table id="financial-compact">
<thead>
<tr><th scope="col">Semester</th><th scope="col">Status</th>
<th scope="col">TA</th><th scope="col">RA</th><th scope="col">Scholar.</th><th scope="col">Other</th>
<th scope="col">Total</th><th scope="col">Promises</th></tr>
</thead>
<tbody>
{% for semester in semesters %}
<tr{% if semester.program %} class="newprogram"{% endif %}>
  <td scope="row">{{semester.semester.name}}</td>
  <td>{% if semester.status %}{{ semester.status_short }}{% endif %}</td>
  <td class="num">{% if semester.ta_total %}${{ semester.ta_total|floatformat:2 }}{% endif %}</td>
  <td class="num">{% if semester.ra_total %}${{ semester.ra_total|floatformat:2 }}{% endif %}</td>
  <td class="num">{% if semester.scholarship_total %}${{ semester.scholarship_total|floatformat:2 }}{% endif %}</td>
  <td class="num">{% if semester.other_total %}${{ semester.other_total|floatformat:2 }}{% endif %}</td>
  <td class="num">${{ semester.semester_total|floatformat:2 }}</td>
  <td{% if semester.promise and semester.promiseowing != -1 %} class="promise-owing"{% endif %}>{% if semester.promise %}
      ${{ semester.promise.amount|floatformat:2 }}
      (${{ semester.promisereceived|floatformat:2 }})
      {% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %} 
