{% if can_edit %}<p class="manage_link"><a href="{% url "grad:manage_scholarships" grad_slug=grad.slug  %}">Manage Scholarships</a></p>{% endif %}
<div class="datatable_container datatable">
	<table class="display sort-2">
		<thead>
			<tr>
				<th>Scholarship</th>
				<th>Amount</th>
				<th>Start Semester</th>
				<th>End Semester</th>
				<th>Entry Date</th>
				<th>Eligible</th>
				{% if can_edit %}
                    <th>Actions</th>
                {% endif %}
			</tr>
		</thead>
		<tbody>
			{% for s in scholarships %}
			<tr>
				<td>
                    {% if s.removed %}<del>{% endif %}
                        {{ s.scholarship_type.name }}
                    {% if s.removed %}</del>{% endif %}
                    {% if s.comments %}<i class="fa fa-info-circle collapsiblecomment"></i><p class="hiddencomment">{{s.comments}}</p>{% endif %}
				</td>
				<td>
                    {% if s.removed %}<del>{% endif %}
                        ${{ s.amount|floatformat:"2" }} 
                    {% if s.removed %}</del>{% endif %}
                </td>
				<td> 
                    {% if s.removed %}<del>{% endif %}
                        {{ s.start_semester.name }} ({{ s.start_semester }}) 
                    {% if s.removed %}</del>{% endif %}
                </td>
				<td> 
                    {% if s.removed %}<del>{% endif %}
                        {{ s.end_semester.name }} ({{ s.end_semester }}) 
                    {% if s.removed %}</del>{% endif %}
                </td>
		<td> 
                    {% if s.removed %}<del>{% endif %}
                        {{ s.entrydate }}  
                    {% if s.removed %}</del>{% endif %}
                </td>
                <td>
                    {% if s.removed %}<del>{% endif %}
                        {{ s.scholarship_type.eligible|yesno }}
                    {% if s.removed %}</del>{% endif %}
                </td>
		{% if can_edit %}
                <td class='miniaction'>
                    {% if not s.removed %}
                        <form action="{% url "grad:remove_scholarship" grad_slug=grad.slug s_id=s.id %}" method="post">
                            {% csrf_token %}
                                <p class="actionbutton">
                                    <input type="submit" value="remove" class="confirm-submit" data-submit-action="remove this scholarship" />
                                </p>
                        </form>
                    {% endif %}
                </td>
                {% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% if scholarship_comments %}
<h3><a href='{% url "grad:manage_financialcomments" grad_slug=grad.slug %}'>Financial Comments:</a></h3>
    {% for f in scholarship_comments %}
    <div class='note-box' style='margin-top:5px'>
        <h3> {{ f.created_by }} - {{ f.semester.name }}: </h3> 
        <p> {{ f.comment|linebreaksbr }} </p>
    </div>
    {% endfor %}
{% endif %}

</div>
