<p class="manage_link"><a href="{% url grad.views.manage_supervisors grad_slug=grad.slug  %}">Manage Committee</a></p>
<div class="datatable_container datatable">
	<table class="display sort-1" id="supervisors">
		<thead>
			<tr>
				<th>Member</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			{% for supervisor in supervisors %}
			<tr>
				<td>{% if supervisor.supervisor %}{{ supervisor.supervisor }}{% else %}{{ supervisor.external }}{% endif%}</td>
				<td><span class="sort">{{supervisor.type_order}}</span>{{ supervisor.get_supervisor_type_display }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
