{% extends "grad/base.html" %}

{% block title %}Financial Summary for {{grad.person.name}}{% endblock %}
{% block h1 %}Financial Summary for {{grad.person.name}}{% endblock %}

{% block actions %}
{% endblock %}

{% block gradheadextra %}
<script type="text/javascript">
	$(document).ready(function() {
		{% for semester in semesters %}{% for scholarship in semester.scholarship_details.scholarships %}
		$('#comment-{{semester.semester.name}}-{{scholarship.scholarship.id}}').hide();
		{% endfor %}{% endfor %}
		{% for semester in semesters %}
		$('#comments-btn-{{semester.semester.name}}').click(function(){
			{% for scholarship in semester.scholarship_details.scholarships %}
			if ($('#comment-{{semester.semester.name}}-{{scholarship.scholarship.id}}').is(':hidden')){
				$('#comment-{{semester.semester.name}}-{{scholarship.scholarship.id}}').show();
			}else {
				$('#comment-{{semester.semester.name}}-{{scholarship.scholarship.id}}').hide();
			}
			{% for other_funding in semester.scholarship_details.other_funding %}
			if ($('#comment-{{semester.semester.name}}-{{other_funding.id}}').is(':hidden')){
				$('#comment-{{semester.semester.name}}-{{other_funding.id}}').show();
			}else {
				$('#comment-{{semester.semester.name}}-{{other_funding.id}}').hide();
			}			
			{% endfor %}{% endfor %}			
		});

		{% endfor %}
	});
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "grad.views.index" %}">Grad</a></li>
<li><a href="{% url "grad.views.view" grad_slug=grad.slug%}">{{grad.person.name}}, {{grad.program.label}}</a></li>
<li>Financial Summary</li>
{% endblock %}



{% block content %}

<table id="financial-compact">
<thead>
<tr><th scope="col">Semester</th><th scope="col">Status</th>
<th scope="col">TA</th><th scope="col">RA</th><th scope="col">Scholarships</th><th scope="col">Other</th>
<th scope="col">Total</th><th scope="col">Promises</th></tr>
</thead>
<tbody>
{% for semester in semesters %}
<tr>
  <td scope="row">{{semester.semester.name}}</td>
  <td>{% if semester.status %}{{ semester.status }}{% endif %}</td>
  <td class="num"></td>
  <td class="num"></td>
  <td class="num">{% if semester.scholarship_total %}${{ semester.scholarship_total|floatformat:2 }}{% endif %}</td>
  <td class="num"></td>
  <td class="num">${{ semester.semester_total|floatformat:2 }}</td>
  <td></td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %} 
