<p class="manage_link"><a href="{% url grad.views.manage_status grad_slug=grad.slug  %}">Manage Status</a></p>
<div class="datatable_container datatable">
	<table class="display sort-1">
		<thead>
			<tr>
				<th>Status</th>
				<th>Start Semester</th>
				<th>End Semester</th>
				<th>Notes</th>
				<th>Updated At</th>
			</tr>
		</thead>
		<tbody>
			{% for s in status_history %}
			<tr>
				<td> <span class="sort">{{s.status_order}}</span>{{ s.get_status_display }} </td>
				<td> <span class="sort">{{s.start.name}}</span>{{s.start}} </td>
				<td> <span class="sort">{{s.end.name}}</span>{{s.end}} </td>
				<td> {{s.notes}} </td>
				<td> {{s.updated_at}} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
