{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block actions %}
<div id="actions">
	<h2>Actions</h2>
	<ul>
		<li>
			<a href="{% url grad.views.manage_academics grad_slug=grad.slug %}">Manage Academics</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_requirements grad_slug=grad.slug  %}">Manage Requirements</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_supervisors grad_slug=grad.slug  %}">Manage Supervisors</a>
		</li>
		<li>
			<a href="{% url grad.views.manage_status grad_slug=grad.slug  %}">Manage Status</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grad</a>
</li>
<li>
	&gt; {{crumb}}
</li>
{% endblock %}

{% block content %}
{# Display the student's Person related info #}
<div class="table_container">
	<table class="info">
		<tbody>
			{% for field, value in gp %}
			<tr>
				<th><label>{{field}} :</label></th>
				<td> {{ value }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div><br />
<div align="center">
	<p class="helptext">
		Last updated : {{grad.updated_at}}. By:
		{% if not grad.modified_by%}
		{{grad.created_by}}
		{% else %}
		{{grad.modified_by}}
		{% endif %}
	</p>
</div>
<div class="datatable_container bigdatatable">
	<table class="display" id="academics">
		<thead>
			<tr>
				<th colspan="3"> Academics
				<div align="right">
					<a href="{% url grad.views.manage_academics grad_slug=grad.slug  %}">Manage Academics</a>
				</div></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
				<dl>
					<dt>
						<label>Grad Program :</label>
					</dt>
					<dd>
						{{ grad.program }}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Research Area : </label>
					</dt>
					<dd>
						{{grad.research_area}}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Campus :</label>
					</dt>
					<dd>
						{{ grad.campus }}
					</dd>
				</dl></td>
			</tr>
			<tr>
				<td>
				<dl>
					<dt>
						<label>English Fluency :</label>
					</dt>
					<dd>
						{{grad.english_fluency}}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Mother Tongue :</label>
					</dt>
					<dd>
						{{ grad.mother_tongue }}
					</dd>
				</dl></td>
				<td>
				<dl>
					<dt>
						<label>Canadian : </label>
					</dt>
					<dd>
						{{grad.is_canadian}}
					</dd>
				</dl></td>
			</tr>
			<tr>
				<td>
				<dl>
					<dt>
						<label>Passport Issued By :</label>
					</dt>
					<dd>
						{{ grad.passport_issued_by }}
					</dd>
				</dl></td>
				<td colspan="2">
				<dl>
					<dt>
						<label>Special Arrangements : </label>
					</dt>
					<dd>
						{{grad.special_arrangements}}
					</dd>
				</dl></td>
			</tr>
			<tr>
				<td colspan="3">
				<dl>
					<dt>
						<label>Comments :</label>
					</dt>
					<dd>
						{{ grad.comments }}
					</dd>
				</dl></td>
			</tr>
		</tbody>
	</table>
	<br />
	<hr>
</div>
<br />
<div class="datatable_container bigdatatable">
	<table class="display" id="grads">
		<thead>
			<tr>
				<th colspan="3"> Completed Requirment(s)
				<div align="right">
					<a href="{% url grad.views.manage_requirements grad_slug=grad.slug  %}">Manage Requirements</a>
				</div></th>
			</tr>
			<tr>
				<th>Requirement</th>
				<th>Completed In</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for s in completed_req %}
			<tr>
				<td>{{s.requirement}}</td>
				<td>{{s.semester}}</td>
				<td>{{s.date}}</td>
			</tr>
			{%empty%}
			<tr>
				<td colspan="3">
				<p class="empty">
					Student has not completed any requirements.
				</p></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<br />
<div class="datatable_container bigdatatable">
	<table class="display" id="missing_req">
		<thead>
			<tr>
				<th>Missing Requirement(s)</th>
			</tr>
		</thead>
		<tbody>
			{% for s in missing_req %}
			<tr>
				<td>
				<center>
					{{s.description}}
				</center></td>
			</tr>
			{%empty%}
			<tr>
				<td>
				<p class="empty">
					Student has completed all requirements in the program.
				</p></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br />
	<hr>
</div>
<br />
<div class="datatable_container bigdatatable">
	<table class="display" id="status">
		<thead>
			<tr>
				<th colspan="5">Supervisors
				<div align="right">
					<a href="{% url grad.views.manage_supervisors grad_slug=grad.slug  %}">Manage Supervisors</a>
				</div></th>
			</tr>
			<tr>
				<th>Supervisor</th>
				<th></th>
				<th></th>
				<th>Updated At</th>
			</tr>
		</thead>
		<tbody>
			{% for supervisor in supervisors %}
			<tr>
				<td>{% if supervisor.supervisor %}{{ supervisor.supervisor }}{% else %}{{ supervisor.external }}{% endif%}</td>
				<td>{{ supervisor.position }}</td>
				<td>{% if supervisor.position == 0 %}Potential{% else %} {% if supervisor.position == 1%} Senior {% else %} {% endif %} {% endif %}</td>
				<td>{{ supervisor.updated_at }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br />
	<hr>
</div>
<br />
<div class="datatable_container bigdatatable">
	<table class="display" id="status">
		<thead>
			<tr>
				<th colspan="5">Status History
				<div align="right">
					<a href="{% url grad.views.manage_status grad_slug=grad.slug  %}">Manage Status</a>
				</div></th>
			</tr>
			<tr>
				<th>Status</th>
				<th>Start Semester</th>
				<th>End Semester</th>
				<th>Notes</th>
				<th>Updated At</th>
			</tr>
		</thead>
		<tbody>
			{% for s in status_history %}
			<tr>
				<td> {{ s.get_status_display }} </td>
				<td> {{s.start}} </td>
				<td> {{s.end}} </td>
				<td> {{s.notes}} </td>
				<td> {{s.updated_at}} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br />
	<hr>
</div>
<br />
{% endblock %} 