{% if can_edit %}<p class="manage_link"><a href="{% url "grad:manage_requirements" grad_slug=grad.slug  %}">Manage Requirements</a></p>{% endif %}
<div class="datatable_container datatable">
	<table class="display sort-1" id="grads">
		<thead>
			<tr>
				<th scope="col">Requirement</th>
				<th scope="col">Completed In</th>
				<th scope="col">Date</th>
				{% if can_edit %}<th scope="col">Actions</th>{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for r in completed_req %}
			<tr>
				<td>{% if r.removed %}<del>{% endif %}{{r.requirement.description}} ({{r.requirement.program.label}})
                        {% if r.notes %}
                        <i class="fa fa-info-circle collapsiblecomment"></i>
                        <p class="hiddencomment">
                            {{r.notes}}
                        </p>
                    {% endif %}
                    {% if r.removed %}</del>{% endif %}</td>
				<td>{% if r.removed %}<del>{% endif %}{{r.semester.name}} ({{r.semester}}){% if r.removed %}</del>{% endif %}</td>
				<td>{% if r.date %}{% if r.removed %}<del>{% endif %}{{r.date|date:GRAD_DATE_FORMAT}}{% if r.removed %}</del>{% endif %}{% endif %}</td>
				{% if can_edit %}
				<td class="miniaction">{% if not r.removed %}<form action="{% url "grad:remove_completedrequirement" grad_slug=grad.slug cr_id=r.id %}" method="post">{% csrf_token %}<p class="actionbutton">
                <input type="submit" value="remove" onclick="return confirmSubmit('remove this completed requirement')" />
				</p></form>{% endif %}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<dl><dt>Missing Requirement(s):</dt>
		{% for r in missing_req %}
		<dd>{{r.description}}</dd>
		{% empty %}
		<dd class="empty">None</dd>
		{% endfor %}
	</dl>
</div>
