{% extends "grad/base.html" %}
{% load markup %}
{% load mobile_tags %}
{% load form_display %}

{% block title %}{{page_title}}{% endblock %}
{% block h1 %}{{page_title}}{% endblock %}

{% block subbreadcrumbs %}
<li>
	&gt; <a href="{% url grad.views.index %}">Grad</a>
</li>
<li>
	&gt; {{crumb}}
</li>
{% endblock %}

{% block content %}
{# Display the student's Person related info #}
<div class="table_container">
	<table class="info">
		<tbody>
			{% for field, value in gp %}
			<tr>
				<th><label>{{field}} :</label></th>
				<td> {{ value }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div id="form_container">
	<fieldset>
		<legend>
			Academics
		</legend>
			<table class="display">
				<tbody>
					<tr>
						<td><dl>
							<dt> <label>Grad Program :</label></dt>
							<dd>{{ grad.program }}</dd>
						</dl></td>
						<td><dl>
							<dt><label>Research Area : </label></dt>
							<dd>{{grad.research_area}}</dd>
						</dl></td>
					</tr>
					<tr>
						<td><dl>
							<dt> <label>Campus :</label></dt>
							<dd>{{ grad.campus }}</dd>
						</dl></td>
						<td><dl>
							<dt><label>English Fluency :</label></dt>
							<dd>{{grad.english_fluency}}</dd>
						</dl></td>
					</tr>
					<tr>
						<td><dl>
							<dt> <label>Mother Tongue :</label></dt>
							<dd>{{ grad.mother_tongue }}</dd>
						</dl></td>
						<td><dl>
							<dt><label>Canadian : </label></dt>
							<dd>{{grad.is_canadian}}</dd>
						</dl></td>
					</tr>
					<tr>
						<td><dl>
							<dt> <label>Passport Issued By :</label></dt>
							<dd>{{ grad.passport_issued_by }}</dd>
						</dl></td>
						<td><dl>
							<dt><label>Special Arrangements : </label></dt>
							<dd>{{grad.special_arrangements}}</dd>
						</dl></td>
					</tr>															
					<tr>
						<td><dl>
							<dt> <label>Comments :</label></dt>
							<dd>{{ grad.comments }}</dd>
						</dl></td>
					</tr>
					<tr>
						<td colspan="2">
							<div align="center"><p class="helptext">Last updated : {{grad.updated_at}}. By: 
								{% if not grad.modified_by%}
									{{grad.created_by}}
								{% else %}
									{{grad.modified_by}}
								{% endif %}</p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
	</fieldset>
</div>
<div id="form_container">
	<fieldset>
		<legend>
			Supervisors
		</legend>
		<div class="table_container">
			<table class="display">
				<tbody>
					{% for field, value in supervisors %}

					{% if forloop.first %}
					<tr>
						{% endif %} <td>
						<dl>
							<dt>
								<label>{{field}} :</label>
							</dt>
							<dd>
								{{ value }}
							</dd>
						</dl></td>
						{% if forloop.counter|divisibleby:2 %}
					</tr>
					<tr>
						{% endif %}
						{% if forloop.last %}
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</fieldset>
</div>
<div id="form_container">
	<fieldset>
		<legend>
			Status History
		</legend>
		<div class="table_container">
			<table class="display">
				<tbody>
					{% for s in gs %}
					{% for field, value in s %}
					{% if forloop.first %}
					<tr>
						{% endif %} <td>
						<dl>
							<dt>
								<label>{{field}} :</label>
							</dt>
							<dd>
								{{ value }}
							</dd>
						</dl></td>
						{% if forloop.counter|divisibleby:2 %}
					</tr>
					<tr>
						{% endif %}
						{% if forloop.last %}
					</tr>
					{% endif %}
					{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</fieldset>
</div>
{% endblock %} 