/* CSS Document */

#mainText {
	width: 560px;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
}

#breadcrumbs {
	padding: 135px 0 0 0;
}
#sideItems #breadcrumbs {
	/*padding-top: 10px;*/
	padding: 0;
}
#breadcrumbs a {
	color: #666666;
	text-decoration: none;
	padding-right: 0.45em;
}
#breadcrumbs ul, #breadcrumbs ul li {
	display: inline;
	margin: 0px;
	padding: 0px;
	font-size: .9em;
}
#PageTitle {
	padding: 1.5em 0 1em 0;
}
#PageTitle, .title {
	text-transform: uppercase;
	color: #B5111A;
}
.heading {
	color: #006666;
}
/*   */