/* CSS Document */

#publish_form input {
	display: block;
	clear: both;
}

#textNews a {
	display: block;
	clear: both;
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	color: #0054A6;
	text-decoration: none;
}
#textNews a:hover {
	color: #0054A6;
	text-decoration: none;
}
#features a {
	text-decoration: none;
	text-transform: none;
}
.newsStory {
	margin: 10px 10px 0 10px;
	width: 290px;
	float: left;
	background-color: #999999;
	text-indent: 10px;
	font:bold 12px verdana;
	line-height: 20px;
	color: #FFFFFF;
}

.newsCaption {
	width: 280px;
	height: 126px;
	padding: 5px;
	background-color: #D3D3D3;
	color: #666666;
	overflow: hidden;
}
.newsCaption a {
	color: #8B2C33;
	display: block;
	position: relative;
	top: 110px;
	float: right;
	height: 0px;
}