/* CSS Document */

#poll {
	padding: 10px;
	margin: 0px;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-transform: uppercase;
	color: #B5111A;
}

#poll ul, #poll li, #poll h2 {
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}
#poll h2 {
	border-top: 2px solid #BBBBBB;
	padding-top: 10px;
}
#SubmitPollAnswer {
	width: 40%;
}
#ViewResults {
	width: 50%;
}