{% extends "base-wide.html" %}
{% load form_display %}
{% load static %}
{% block h1 %}{{unit.name}} Forms {% endblock %}
{% block title %}{{unit.label}} Forms {% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "onlineforms:index" %}">Forms</a></li>
{% if unit_options %}
<li>
    <div class="unit-menu">
        <button class="unit">{{unit.label}} &#9660</button>
            <div class="unit-options">
                {% for unit in unit_options %}
                    <a href="{% url "onlineforms:index" unit_slug=unit.label %}">{{unit.name}}</a>
                {% endfor %}
            </div>
    </div>
</li>
{% else %}
{% if unit %}<li>{{unit.label}}</li>{% endif %}
{% endif %}
{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'style/formindex.css' %}" media="all" />
<script nonce="{{ CSP_NONCE }}">
    $(document).ready(function() {
        $("h3.summary_heading").collapsible();
        $("#summary_heading").tabs({
            collapsible: true,
            active: false,
        });
        
        // http://live.datatables.net/sovoyuyu/1/edit
        $('#sheet_table').dataTable({
                        "bPaginate": false,
                        "bJQueryUI": true,
                        "aaSorting": [[2, "asc"]],
        });
        var tables = $('table.display:not(#sheet_table)').DataTable({
                    "bPaginate": false,
                    "bJQueryUI": true,
                    "aaSorting": [[0, "asc"]],
        }); 
        $('#formSearch').on('keyup click', function () {
         tables.tables().search($(this).val()).draw();
        });
        $.widget( "custom.catcomplete", $.ui.autocomplete, {
            _create: function() {
                this._super();
                this.widget().menu( "option", "items", "> :not(.ui-autocomplete-unit)" );
            },
            _renderMenu: function( ul, forms ) {
                var that = this,
                currentUnit = "";
                $.each( forms, function( index, form ) {
                var li;
                if ( form.unit != currentUnit ) {
                    ul.append( "<li class='ui-autocomplete-unit'>" + form.unit + "</li>" );
                    currentUnit = form.unit;
                }
                li = that._renderItemData( ul, form );
                if ( form.unit ) {
                    li.attr( "aria-title", form.unit + " : " + form.title);
                }
                });
            }
            });
        
            $( "#search" ).catcomplete({
                delay: 0,
                source: "{{unit.label}}" + "/ajax_calls/form_search/",
                minLength: 1,
                select: function(event, ui) {   
                    window.location.pathname = "/forms/" + ui.item.value;
                    this.value = "";
                    return false;
                },
                // https://stackoverflow.com/questions/5643767/jquery-ui-autocomplete-width-not-set-correctly
                open: function() {
                    $("ul.ui-menu").width( $(this).innerWidth() );
                }
            })
            .catcomplete( "instance" )._renderItem = function( ul, form ) {
                return $( "<li>" )
                .append( "<div>" + form.title + "<br><li class='ui-autocomplete-description'>" + form.description + "</div></div>" )
                .appendTo( ul );
            };    
    
            $(window).resize(function() {
                $(".ui-autocomplete").css('display', 'none');
            });
        });
    
</script>
{% endblock %}

{% block content %}

<div class="actionlist">
{% if form_groups or form_admin %}
    {% if form_groups %}
        <a class="btn" href="{% url "onlineforms:list_all" %}">Create/Edit Forms</a>
        <a class="btn" href="{% url "onlineforms:admin_list_all" %}">Manage Submissions</a>
    {% endif %}
    {% if form_admin %}
        <a class="btn" href="{% url "onlineforms:manage_groups" %}">Manage Form Groups</a>
    {% endif %}
    {% if participated %}
        <a class="btn" href="{% url "onlineforms:participated_in" %}">
            View forms in which you participated
        </a>
        {% endif %}
    {% elif participated %}
        <a class="btn" href="{% url "onlineforms:participated_in" %}">View completed forms in which you participated</a>
    {% endif %}
</div>

{% if sheet_submissions %}
<h2 id="assigned">Assigned Forms</h2>
<div class="datatable_container">
    <table class="display" id="sheet_table">
        <thead>
            <tr>
                <th scope="col">Your Sheet</th>
                <th scope="col">Form</th>
                <th scope="col">Waiting Since</th>
            </tr>
        </thead>
        {% for sheet_sub in sheet_submissions %}
            <tr>
                <td><a href="{% url "onlineforms:sheet_submission_subsequent" form_slug=sheet_sub.form_submission.form.slug formsubmit_slug=sheet_sub.form_submission.slug sheet_slug=sheet_sub.sheet.slug sheetsubmit_slug=sheet_sub.slug %}">{{ sheet_sub.sheet.title }}</a></td>
                <td>{{ sheet_sub.form_submission.form.title }} (from {{ sheet_sub.form_submission.initiator.name }})</td>
                <td><span class="sort">{{ sheet_sub.given_at.isoformat }}</span>{{ sheet_sub.given_at }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

<h2 id="new">Available Forms</h2>
 	{% if forms %}<p>These forms can be filled out and submitted online.</p>{% endif %}
    {% if recent_forms %}
        <h3 class="summary_heading collapsible"><a href="#!general"></a>Forms Initiated in the Last 60 Days</h3>
        <div id="summary_content" class="collapse_menu">
            <ul> {% for initial_sheet in recent_forms %}<li> <a href="{% url "onlineforms:sheet_submission_initial" form_slug=initial_sheet.form_submission__form__slug %}">{{ initial_sheet.form_submission__form__title }}</a> ({{ initial_sheet.form_submission__form__unit__name }}) </li> {% endfor %}</ul>
        </div>
    {% endif %}
    {% regroup forms by unit as unit_list %}

    {% if forms %}
    {% if not other_forms %}
        <h3>Search by Keyword:</h3>
        <div class="form_section">
            <p><input id="search" name="search" type="search" placeholder="Type to search for a form...."></p>
        </div>
    {% endif %}
    
    <h3>Search by School:</h3>        
    <div id="summary_heading">
        <ul>
            {% for data in unit_list %}
                <li><a href="#summary_heading-{{ forloop.counter }}">{{ data.grouper.name }}</a></li>
            {% endfor %}
        </ul>
        {% for data in unit_list %}
            <div id="summary_heading-{{ forloop.counter }}">
                <table class="display">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    {% for f in data.list %}
                        <tr>
                            <td width="20%"><a href="{% url "onlineforms:sheet_submission_initial" form_slug=f.slug %}">{{ f.title }}</a> </td>
                            <td>{{ f.description }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
    {% else %}
    {% if unit %}<p>There are no forms available to fill out for: {{unit.name}} (or any sub-units).</p>{% endif %}
    {% endif %}

    {% if other_forms %}
        <h2 id="other">Forms for Logged-In Users</h2>

        <table class="display">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            {% for form in other_forms %}
                <tr>
                    <td width="20%"><a href="{% url "onlineforms:sheet_submission_initial" form_slug=form.slug %}">{{ form.title }}</a> ({{ form.unit.name }}) </td>
                    <td>{{ form.description }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}

