{% extends "base.html" %}
{% load form_display %}
{% block h1 %} Forms {% endblock %}
{% block title %} Forms {% endblock %}

{% block subbreadcrumbs %}
<li>&gt; Forms</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
    $(document).ready(function() {
    $('#form_table').dataTable({
                "bPaginate": false,
                "bJQueryUI": true,
                "aaSorting": [[0, "asc"]],
    });

    });
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url onlineforms.views.list_all %}">Manage Forms</a></li>
         <li class="newsec"></li>
        <li><a href="{% url onlineforms.views.admin_list_all %}">Administrate Forms</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<h2>Available forms</h2>
<div class="datatable_container">
    {% if forms %}
        <table class="display" id="form_table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            {% for form in forms %}
                <tr>
                    <td><a href="{% url onlineforms.views.form_initial_submission form_slug=form.slug %}">{{ form.title }}</a></a></td>
                    <td>{{ form.unit|default:"" }}</td>
                    <td>?????</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
            <p>There are currently no forms.</p>
    {% endif %}
</div>
{% endblock %}