{% extends "base.html" %}
{% load form_display %}
{% block h1 %} Forms {% endblock %}
{% block title %} Forms {% endblock %}

{% block subbreadcrumbs %}
<li>&gt; Forms</li>
{% endblock %}

{% block content %}
{% if forms %}
        <h2>Availiable forms</h2>
        {% for form in forms %}
            <a href="{% url onlineforms.views.form_initial_submission form_slug=form.slug %}">{{ form.title }}</a>
        {% endfor %}
{% else %}
        <p>There are currently no forms.</p>
{% endif %}

{% endblock %}