{% extends "base.html" %}
{% load form_display %}
{% block h1 %} {{ owner_form.title }} submission{% endblock %}
{% block title %} {{ owner_form.title }} submission {% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url onlineforms.views.submissions_list_all_forms %}">Forms</a></li>
<li>&gt; {{ owner_form.title }} submission</li>
{% endblock %}

{% block content %}

<form action="" method="post">
<fieldset>
        <legend>{{ sheet.title }}</legend>
        {{ form|as_dl }}
        <input type="submit" value="submit" class="submit" />
</fieldset>
</form>

{% endblock %}