{% extends "base.html" %}
{% load form_display %}
{% block h1 %} {{ owner_form.title }} submission{% endblock %}
{% block title %} {{ owner_form.title }} submission {% endblock %}

{% block subbreadcrumbs %}
    <li>&gt; <a href="{% url onlineforms.views.index %}">Forms</a></li>
    <li>&gt; {{ sheet.title }} submission</li>
{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{{MEDIA_URL}}style/onlineforms.css" media="all" />
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  $('.date-input').datepicker({ buttonImageOnly: true, buttonImage: '{{MEDIA_URL}}images/grades/calendar.png',
                                changeMonth: true, changeYear: true,
                                dateFormat: 'yy-mm-dd', showOn: 'both'});
});
//]]></script>
{% endblock %}

{% block content %}

    {% if error_msg %}
        <p>{{ error_msg }}</p>
        <p>If you have a SFU account, you can <a href="/login/">login here</a>.</p>
    {% else %}
        {% if errors %}
            {{ errors }}
        {% endif %}

        {% if form_submission %}
            <p><strong>Form Initiator:</strong> {{ form_submission.initiator.name }}, {{ form_submission.initiator.email_mailto }}</p>
        {% endif %}

        {% if filled_sheets %}
            {% include "onlineforms/admin/view_sheet.html" with sheet_submissions=filled_sheets %}
        {% endif %}

        {% if sheet %}
            {% if form.is_multipart %}
                <form enctype="multipart/form-data" action="{% if alternate_url %}{{alternate_url}}{% endif %}" method="post">
            {% else %}
                <form action="{% if alternate_url %}{{alternate_url}}{% endif %}" method="post">
            {% endif %}
            {% csrf_token %}
            {% if nonSFUFormFillerForm %}
                <fieldset>
                    <legend>Your Contact Information</legend>
                    <p>If you have a SFU account, please <a href="{{ LOGIN_URL }}?next={{this_path}}">login</a>. It will be easier for us and you to keep track of your info if you do.</p>
                    {{ nonSFUFormFillerForm|as_dl_onlineforms }}
                    <input type="hidden" name="add-nonsfu" value="True"/>
                </fieldset>
            {% endif %}
            <fieldset>
                <legend>{{ sheet.title }}</legend>
                {{ form|as_dl_onlineforms }}
                <input type="submit" name="submit" value="Complete and Submit" class="submit"/>
                <input type="submit" name="save" value="Save for Later" class="submit"/>
            </fieldset>
            </form>
        {% else %}
            <p>This form is empty.</p>
        {% endif %}
    {% endif %}

{% endblock %}
