{% extends "base.html" %}

{% block headextra %}

<script type="text/javascript">
$(document).ready(
    function() {
	//$('#searchSubmit').click(
	$('#q').keyup(
	    function() {
		q = $('#q').val();
		q = $.trim(q);
		if (q != "")
		    $('#results').html('&nbsp;').load('/advisors_A/search/?q=' + q);
	    });
    });

$(document).ajaxStart( function() {
    $('#spinner').show();
}).ajaxStop(function() {
    $('#spinner').hide();
});
</script>

<style type="text/css">
      #spinner {
	  display: none;
      }
</style>

{% endblock %}


{% block content %}

{% if memberships %}
<p>Yeah, you are an advisor. Type to search.</p>
<div>
    <input id="q" type="text" />
    <!--<input id="searchSubmit" type="submit" value="Search" />-->
    <div id="spinner">Loading...</div>
    <div id="results"></div>
</div>

{% else %}
    <script type="text/javascript">
	window.location.replace("notes/{{student.emplid}}/");
    </script>
{% endif %}

{% endblock %}
