{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript">
    function collapse_all() {
	{% for entry in results %}
	    {% if entry.hidden %}
		$('#note_{{forloop.counter}}').slideUp(200);
	    {% endif %}
	{% endfor %}
    }
    function expend_all() {
	{% for entry in results %}
	    {% if entry.hidden %}
		//alert("#note_{{forloop.counter}}.slideDown");
		$('#note_{{forloop.counter}}').slideDown(200);
	    {% endif %}
	{% endfor %}
    }
</script>
{% endblock %}

{% block content %}

{% block personal %}
<h2>Personal Information Summary</h2>
<dl>
   <dt>First name:</dt><dd>{{ student.first_name }}</dd>
   <dt>Last name:</dt><dd>{{ student.last_name }}</dd>
   </dl>
<dl> 
    <dt> First name:</dt><dd>{{ student.first_name }}</dd>
    <dt> Middle name:</dt><dd>{{ student.middle_name }}</dd>
    <dt> Last name:</dt><dd>{{ student.last_name }}</dd>
    <dt> Student No.:</dt><dd>{{ student.emplid }}</dd>
    <dt> Email:</dt><dd>{{ student.email }}</dd>
</dl> 
{% endblock %}

{% block notes %}
<h2>Advising Notes</h2>
{% if membership %}
    <a href="{% url advisors_A.views.add_note empId=student.emplid %}">new note</a>
    <p></p>
{% endif %}
<a href="javascript:collapse_all()">collapse all</a>  <a href="javascript:expend_all()">expend all</a>
{% if results %}
    {% for entry in results %}
    <div>
    <b>Note {{forloop.counter}}:</b>
	{% if entry.hidden %}
	<div id="toggle_hide_{{forloop.counter}}" style="background-color:#FFCC33"> hidden </div>
	<script type="text/javascript">
	    $(document).ready(
	    function() {
		$('#note_{{forloop.counter}}').hide();
		$('#toggle_hide_{{forloop.counter}}').click(
		    function() {
			$('#note_{{forloop.counter}}').slideToggle(200);
		    });
	    });
	</script>
	{% endif %}
	<div id="note_{{forloop.counter}}" {% if entry.hidden %} style="background-color:#FFCC33" {% endif %}>
	    {{ entry.time_created }}, by {{ entry.advisor.first_name }} {{ entry.advisor.last_name }} <br>
		<i> <b>Content:</b> {{ entry.content }} </i> <br>
		{% if entry.file_uploaded %}
		    <a href="/media/{{ entry.file_uploaded }}">attachment</a>
		{% endif %}
		{% if entry.hidden %}
		    {% if membership %}
			<input type="button" value=" Unhide " onClick="location.href='{% url advisors_A.views.hide_note empId=student.emplid, noteId=entry.id, attr='False' %}'">
		    {% endif %}
		{% else %}
		    {% if membership %}
			<input type="button" value=" Hide " onClick="location.href='{% url advisors_A.views.hide_note empId=student.emplid, noteId=entry.id, attr='True' %}'">
		    {% endif %}
		{% endif %}
	</div>
	<br>
    </div>
    {% endfor %}
{% else %}
    <div>
	<p>No note found for this student.</p>
    </div>
{% endif %}
{% endblock %}

{% block courses %}
<h2>Courses Enrolled</h2>
    {% regroup course_memberships by offering.semester as by_semester %}
    <ul>
    {% for semester in by_semester %}
      <li><h3 id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</h3></li>
      <ul>
      {% for membership in semester.list %}
	  	<li><a href="{% url courses.dashboard.views.course course_slug=membership.offering.slug %}">{{membership.offering.name}}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
    </ul>

{% endblock %}

{% endblock %}
