{% extends "base.html" %}


{% block content %}

{% block personal %}
<h2>Personal Information Summary</h2>
<p> 
    <b> First name:  </b>  {{ student.first_name }} <br />
    <b> Middle name: </b> {{ student.middle_name }} <br />
    <b> Last name:   </b> {{ student.last_name }} <br />
    <b> Student No.: </b> {{ student.emplid }} <br />
    <b> Email: </b> {{ student.email }} <br />
</p> 
{% endblock %}

{% block notes %}
<h2>Advising Notes</h2>
{% if membership %}
    <a href="/advisors_A/notes/{{ student.emplid }}/add_note">new note</a>
    <p></p>
{% endif %}
{% if results %}
    {% for entry in results %}
    <div>
    <b>Note {{forloop.counter}}:</b>
	{% if entry.hidden %}
	<div id="toggle_hide_{{forloop.counter}}" style="background-color:#FFCC33"> hidden </div>
	<script type="text/javascript">
	    $(document).ready(
	    function() {
		$('#note_{{forloop.counter}}').hide();
		$('#toggle_hide_{{forloop.counter}}').click(
		    function() {
			$('#note_{{forloop.counter}}').slideToggle(200);
		    });
	    });
	</script>
	{% endif %}
	<div id="note_{{forloop.counter}}" {% if entry.hidden %} style="background-color:#FFCC33" {% endif %}>
	    {{ entry.time_created }}, by {{ entry.advisor.first_name }} {{ entry.advisor.last_name }} <br>
		<i> <b>Content:</b> {{ entry.content }} </i> <br>
		{% if entry.file_uploaded %}
		    <a href="/media/{{ entry.file_uploaded }}">attachment</a>
		{% endif %}
		{% if entry.hidden %}
		    {% if membership %}
			<input type="button" value=" Unhide " onClick="location.href='/advisors_A/notes/{{student.emplid}}/{{entry.id}}/hide/False/'">
		    {% endif %}
		{% else %}
		    {% if membership %}
			<input type="button" value=" Hide " onClick="location.href='/advisors_A/notes/{{student.emplid}}/{{entry.id}}/hide/True/'">
		    {% endif %}
		{% endif %}
	</div>
	<br>
    </div>
    {% endfor %}
{% else %}
    <div>
	<p>No note found for this student.</p>
    </div>
{% endif %}
{% endblock %}

{% block courses %}
<h2>Courses Enrolled</h2>    

    {% regroup course_memberships by offering.semester as by_semester %}
    {% for semester in by_semester %}
      <h3 id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</h3>
      <ul>
      {% for membership in semester.list %}
	<li><a href="{{membership.offering.get_absolute_url}}">{{membership.offering.name}}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}

{% endblock %}

{% endblock %}
