{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}Ta Contracts : Edit Contract{% endblock %}
{% block h1 %}TA Contracts : Edit Contract{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
var persongradprograms_url = "{% url 'tacontracts:person_grad_programs' semester=semester %}";
</script>
<link rel="stylesheet" href="{% static 'style/tacontracts.css' %}" />
<script type="text/javascript" src="{% static 'js/tacontracts.js' %}"></script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'tacontracts:list_all_semesters' %}">Hiring Semesters</a></li>
<li><a href="{% url 'tacontracts:list_all_contracts' unit_slug=unit_slug semester=semester %}">{{semester}}</a></li>
<li><a href="{% url "tacontracts:view_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug%}">{{contract}}</a>
<li>Edit Contract</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<form action="{% url "tacontracts:edit_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug%}" method="post">
    {% csrf_token %}
    <fieldset>
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Edit Contract" />
    </p>
    </fieldset>
</form>
{% endblock %}
