{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}TA Contracts : Edit Semester {{hiring_semester.semester.name}}{% endblock %}
{% block h1 %}TA Contracts : Edit Semester {{hiring_semester.semester.name}}{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{% static 'js/tacontracts.js' %}"></script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "tacontracts:list_all_semesters" %}">Hiring Semesters</a></li>
<li>Edit Semester {{hiring_semester.semester.name}}</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Edit Semester" />
    </p>
    </fieldset>
</form>
{% endblock %}
