{% extends "base.html" %}
{% load form_display %}

{% block title %}Ta Contracts : Edit Contract{% endblock %}
{% block h1 %}TA Contracts : Edit Contract{% endblock %}

{% block headextra %}
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'tacontracts.views.list_all_semesters' %}">Hiring Semesters</a></li>
<li><a href="{% url 'tacontracts.views.list_all_contracts' unit_slug=unit_slug semester=semester %}">{{semester}}</a></li>
<li><a href="{% url "tacontracts.views.view_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug%}">{{contract}}</a>
<li>Edit Contract</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<form action="{% url "tacontracts.views.edit_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug%}" method="post">
    {% csrf_token %}
    <fieldset>
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Edit Contract" />
    </p>
    </fieldset>
</form>
{% endblock %}
