{% extends "base.html" %}
{% load form_display %}
{% load static %}
{% load currency %}
{% load bu %}

{% block title %}TA Contracts - {{semester}}{% endblock %}
{% block h1 %}TA Contracts - {{semester}}{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/tacontracts.css" %}" type="text/css">

<script nonce="{{ CSP_NONCE }}">
$(function() {
  $('.contracts_table').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
    "aaSorting": [[ 2, "desc" ]],
  } );
  $("h2.contracts").collapsible();
  $("h2.draft").trigger('expand');
  $("h2.signed").trigger('expand');
} );
function confirmDelete() {
  return confirm("Are you sure you want to delete this contract?");
}
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'tacontracts:list_all_semesters' %}">Hiring Semesters</a></li>
<li>{{semester}}</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "tacontracts:new_category" unit_slug=unit_slug semester=semester %}">New Category</a></li>
        <li><a href="{% url "tacontracts:view_categories" unit_slug=unit_slug semester=semester %}">View Categories</a></li>
        {% if show_copy_categories %}
        <li><a href="{% url "tacontracts:copy_categories" unit_slug=unit_slug semester=semester %}">Copy Categories From
            Previous Semester</a></li>
        {% endif %}
        {% if categories %}
        <li><a href="{% url "tacontracts:new_contract" unit_slug=unit_slug semester=semester  %}">New Contract</a></li>
        <li><a href="{% url "tacontracts:contracts_csv" unit_slug=unit_slug semester=semester %}">Generate CSV</a></li>
        <li><a href="{% url "tacontracts:bulk_email" unit_slug=unit_slug semester=semester %}">Bulk Email</a></li>
        <li><a href="{% url "tacontracts:list_all_contracts_by_course" unit_slug=unit_slug semester=semester %}">All Contracts by Course</a></li>
        <li><a href="{% url "tacontracts:view_financials" unit_slug=unit_slug semester=semester %}">View Course Financials</a></li>
        {% endif %}
        {% if signed_contracts %}
            <li><a href="{% url "tacontracts:print_all_contracts" unit_slug=unit_slug semester=semester %}">Print All Signed Contracts</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}

{% if not categories %}
    <p>
        You don't have any contract categories yet.
    </p>
    <p>
        Would you like to 
        <a href="{% url "tacontracts:new_category" unit_slug=unit_slug semester=semester %}">
            Create A Contract Category</a>
        {% if show_copy_categories %}
            or perhaps 
            <a href="{% url "tacontracts:copy_categories" unit_slug=unit_slug semester=semester %}">
            Copy The Categories From The Previous Semester</a>
        {% endif %}?
    </p>
{% else %}
    {% if not contracts %}
    <p>
        You don't have any contracts yet. Would you like to 
        <a href="{% url "tacontracts:new_contract" unit_slug=unit_slug semester=semester %}"><i class='fa fa-plus'></i> 
            Create A Contract</a>?
    </p>
    {% else %}
    <h2 class='contracts draft'>Draft Contracts</h2>
    <div>
        {% include "tacontracts/module_contracts_table.html" with contracts=draft_contracts %}
    </div>

    <h2 class='contracts signed'>Signed Contracts</h2>
    <div>
        {% include "tacontracts/module_contracts_table.html" with contracts=signed_contracts %}
    </div>

    <h2 class='contracts cancelled'>Cancelled Contracts</h2>
    <div>
        {% include "tacontracts/module_contracts_table.html" with contracts=cancelled_contracts %}
    </div>
    {% endif %}
{% endif %}
    

{% endblock %}
