{% extends "base-wide.html" %}
{% load form_display %}
{% load staticfiles %}
{% load currency %}
{% load bu %}

{% block title %}TA Contracts{% endblock %}
{% block h1 %}TA Contracts{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/tacontracts.css" %}" type="text/css">

<script type="text/javascript">
$(function() {
  $('.contracts_table').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
    "aaSorting": [[ 2, "desc" ]],
  } );
  $("h2.contracts").collapsible();
  $("h2.draft").trigger('expand');
  $("h2.signed").trigger('expand');
} );
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li>TA Contracts</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "tacontracts.views.new_category" %}">New Category</a></li>
        <li><a href="{% url "tacontracts.views.view_categories" %}">View Categories</a></li>
        {% if categories %}
        <li><a href="{% url "tacontracts.views.new_contract" %}">New Contract</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}

{% if not categories %}
    <p>
        You don't have any contract categories yet. Would you like to 
        <a href="{% url "tacontracts.views.new_category" %}"><i class='fa fa-plus'></i> 
            Create A Contract Category</a>?
    </p>
{% else %}
    {% if not contracts %}
    <p>
        You don't have any contracts yet. Would you like to 
        <a href="{% url "tacontracts.views.new_contract" %}"><i class='fa fa-plus'></i> 
            Create A Contract</a>?
    </p>
    {% else %}
    <h2 class='contracts draft'>Draft Contracts</h2>
    <div>
        {% include "tacontracts/module_contracts_table.html" with contracts=draft_contracts %}
    </div>

    <h2 class='contracts signed'>Signed Contracts</h2>
    <div>
        {% include "tacontracts/module_contracts_table.html" with contracts=signed_contracts %}
    </div>

    <h2 class='contracts cancelled'>Cancelled Contracts</h2>
    <div>
        {% include "tacontracts/module_contracts_table.html" with contracts=cancelled_contracts %}
    </div>
    {% endif %}
{% endif %}
    

{% endblock %}
