{% load bu %}

{% if semesters %}
<table>
    <thead>
        <tr>
            <th>Semester</th>
            <th>Number of Contracts</th>
            <th>Incomplete Contracts</th>
            <th>Total BU</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for semester in semesters %}
            <tr>
                <td>
                    <a href="{% url "tacontracts:list_all_contracts" unit_slug=semester.unit.label semester=semester.semester.name %}">
                        {{semester.semester.label}}
                    </a>
                    {% if display_units %}
                    ({{semester.unit.label}})
                    {% endif %}
                </td>
                <td>{{semester.number_of_contracts}}</td>
                <td>{{semester.number_of_incomplete_contracts}}</td>
                <td>{{semester.total_bu|bu}}</td>
                <td>
                    <a href="{% url "tacontracts:edit_semester" unit_slug=semester.unit.label semester=semester.semester.name %}">
                        Edit Semester
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

