{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}TA Contracts{% endblock %}
{% block h1 %}TA Contracts : New Semester{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{% static 'js/tacontracts.js' %}"></script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "tacontracts:list_all_semesters" %}">Hiring Semesters</a></li>
<li>New Semester</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<form action="{% url "tacontracts:new_semester" %}" method="post">
    {% csrf_token %}
    <fieldset>
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Add Semester" />
    </p>
    </fieldset>
</form>
{% endblock %}
