{% extends "base.html" %}
{% load staticfiles %}
{% load form_display %}
{% load currency %}
{% load bu %}

{% block title %}TA Contract Categories{% endblock %}
{% block h1 %}TA Contract Categories{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/tacontracts.css" %}" type="text/css">
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'tacontracts.views.list_all_semesters' %}">Hiring Semesters</a></li>
<li><a href="{% url 'tacontracts.views.list_all_contracts' semester=semester%}">{{semester}}</a></li>
<li>Contract Categories</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
        <li><a href="{% url "tacontracts.views.new_category" semester=semester %}">New Category</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

{% if categories %}
<table>
    <thead>
        <tr>
            <th>Account</th>
            <th>Code</th>
            <th>Title</th>
            <th>Pay Per BU</th>
            <th>Scholarship Per BU</th>
            <th>BU Lab Bonus</th>
            <th>Actions</th>
        </tr>
    </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{category.account}}</td>
                <td>{{category.code}}</td>
                <td>{{category.title}}</td>
                <td>{{category.pay_per_bu|currency}}</td>
                <td>{{category.scholarship_per_bu|currency}}</td>
                <td>{{category.bu_lab_bonus|bu}}</td>
                <td>
                    <form class="lineform" method="POST"
                        action="{% url "tacontracts.views.hide_category" category_slug=category.slug semester=semester %}">
                        {% csrf_token %}
                        <button type='submit' class='btn' title="Hide Category">
                            <i class='fa fa-trash-o'></i>
                        </button>
                    </form>
                    {% if not category.frozen %}
                    <form class="lineform" method="GET" 
                        action="{% url "tacontracts.views.edit_category" category_slug=category.slug semester=semester %}">
                        <button type='submit' class='btn' title="Edit Category">
                            <i class='fa fa-edit'></i>
                        </button>
                    </form>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
