{% extends "base.html" %}
{% load currency %}
{% load bu %}
{% load form_display %}
{% load static %}

{% block title %}TA Contract : {{contract}}{% endblock %}
{% block h1 %}TA Contract : {{contract}}{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static "style/tacontracts.css" %}" type="text/css">
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $("h4#add_a_course").collapsible();
  $("h2.contract_heading").collapsible();
  $("h2.details").trigger('expand');
});
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'tacontracts:list_all_semesters' %}">Hiring Semesters</a></li>
<li><a href="{% url 'tacontracts:list_all_contracts' unit_slug=unit_slug semester=semester %}">{{semester}}</a></li>
<li>{{contract}}</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul>
    {% if editable %}
        <li><a href="{% url "tacontracts:edit_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug %}">
            Edit Contract Details</a></li>
        <li><a href="{% url "tacontracts:new_course" unit_slug=unit_slug semester=semester contract_slug=contract.slug %}">
            Add a Course</a></li>
    {% endif %}
    <li><a href="{% url "tacontracts:print_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug %}">
        Print Contract</a></li>
    <li><a href="{% url "tacontracts:new_attachment" unit_slug=unit_slug semester=semester contract_slug=contract.slug %}">
        New Attachment</a> </li>
    </ul>
</div>
{% endblock %}

{% block content %}

<h2 class='contract_heading details'>Contract Details</h2>
<div>

    {% if editable %}
    <div class='collapse_menu'>
        <ul>
            <li><a href="{% url "tacontracts:edit_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug %}">
                <i class='fa fa-edit'></i>
                Edit Contract Details</a>
            </li>
        </ul>
    </div>
    <div style="clear:both;"></div>
    {% endif %}

    <table class="info">
        <tr>
            <th>Person</th>
            <td>{{contract.person.name}} ({{contract.person.emplid}}, {{contract.person.userid}})</td>
        </tr>
        <tr>
            <th>SIN</th>
            <td>{{contract.sin}}</td>
        </tr>
        <tr>
            <th>Deadline for Acceptance</th>
            <td>{{contract.deadline_for_acceptance}}</td>
        <tr>
            <th>Appointment</th>
            <td>{{contract.get_appointment_display}}</td>
        </tr>
        <tr>
            <th>Conditional</th>
            <td>{{contract.conditional_appointment|yesno|capfirst}}</td>
        </tr>
        <tr>
            <th>TSSU</th>
            <td>{{contract.tssu_appointment|yesno|capfirst}}</td>
        </tr>
        <tr>
            <th>Visa Verified</th>
            <td>{{ contract.visa_verified|yesno|capfirst }}</td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>{{contract.comments|linebreaks}}</td>
        </tr>
    </table>
</div>


<h2 class='contract_heading'>{{contract.get_status_display}} - 
    {% if contract.status == "NEW" %}<i class='fa fa-unlock'></i>{% endif %}
    {% if contract.status == "SGN" %}<i class='fa fa-lock'></i>{% endif %}
    {% if contract.status == "CAN" %}<i class='fa fa-times'></i>{% endif %}
</h2>
<div class='{{contract.status}}'>
{% if contract.status == "NEW" %}
<form method="post" action="{% url "tacontracts:sign_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug %}">
    {% csrf_token %}
    <p>
    This contract is in {{contract.get_status_display}} status, which means
    that you can edit it and make changes to it.
    </p>
    <p>
    Signing the contract will lock it, disallowing any further changes.
    </p>
    <button type="submit" class="btn" style="float:right;">
        <i class="fa fa-lock"></i>
        &nbsp;
        Sign the Contract
    </button>
    <div style="clear:both;"></div>
</form>
{% endif %}
{% if contract.status == "SGN" %}
<form method="post" action="{% url "tacontracts:cancel_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug %}">
    {% csrf_token %}
    <p>
    This contract is in {{contract.get_status_display}} status, which means
    that you <em>cannot edit it</em> it or make changes to it.
    </p>
    <p>
    If you need to make changes to this contract, you can cancel it, then copy it, 
    then make changes to the copy.
    </p>
    <button type="submit" class="btn" style="float:right;">
        <i class="fa fa-minus"></i>
        &nbsp;
        Cancel the Contract
    </button>
    <div style="clear:both;"></div>
</form>
{% endif %}
{% if contract.status == "CAN" %}
<form method="post" action="{% url "tacontracts:copy_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug %}">
    {% csrf_token %}
    <p>
    This contract is in {{contract.get_status_display}} status, which means
    that you <em>cannot edit it</em> it or make changes to it.
    </p>
    <p>
    If you want to make changes to this contract, you must make a copy of it.
    </p>
    <button type="submit" class="btn" style="float:right;">
        <i class="fa fa-copy"></i>
        &nbsp;
        Copy the Contract
    </button>
    <div style="clear:both;"></div>
</form>
{% endif %}
</div>

<h2 class="contract_heading">Account - {{contract.category.code}} - {{contract.category.title}} : {{contract.category.account}}</h2>
<div>
    {% if editable %}
    <div class="collapse_menu">
        <ul>
            <li><a href="{% url "tacontracts:edit_contract" unit_slug=unit_slug semester=semester contract_slug=contract.slug %}">
                <i class="fa fa-exchange"></i>
                Use Different Account</a>
            </li>
            {% if not contract.category.frozen %}
            <li><a href="{% url "tacontracts:edit_category" unit_slug=unit_slug semester=semester category_slug=contract.category.slug %}">
                <i class="fa fa-edit"></i>
                Edit Account </a>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    <div style='clear:both;'></div>
    <table>
        <thead>
            <tr>
                <th>Account</th>
                <th>Code</th>
                <th>Title</th>
                <th>Pay Per BU</th>
                <th>Scholarship Per BU</th>
                <th>BU Lab Bonus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{contract.category.account}}</td>
                <td>{{contract.category.code}}</td>
                <td>{{contract.category.title}}</td>
                <td>{{contract.category.pay_per_bu|currency}}</td>
                <td>{{contract.category.scholarship_per_bu|currency}}</td>
                <td>{{contract.category.bu_lab_bonus|bu}}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class='contract_heading courses'>Courses - {{contract.total_bu|bu}} BU</h2>
<table>
    <thead>
        <tr>
            <th>Course Offering</th>
            <th>BUs</th>
            <th>Lab/Tutorial</th>
            <th>Lab BUs</th>
            <th>Total BUs</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% if not courses %}
        <tr>
            <td colspan="6">
                This contract doesn't have any courses assigned to it. 
            </td>
        </tr>
    {% endif %}
    {% for course in courses %}
        <tr>
            <td>{{course.course}}</td>
            <td>{{course.bu|bu}}</td>
            <td>{{course.labtut|yesno}}</td>
            <td>
                {% if course.labtut %}
                    {{ contract.category.bu_lab_bonus|bu }}
                {% else %}
                    0.00
                {% endif %}
            </td>
            <td>
                {{ course.total_bu|bu }}
            </td>
            <td>
                {% if editable %}
                <form class="lineform" method="POST"
                      action="{% url "tacontracts:delete_course" unit_slug=unit_slug semester=semester course_slug=course.slug contract_slug=contract.slug %}">
                    {% csrf_token %}
                      <button type="submit" class="btn" title="Delete Course">
                          <i class="fa fa-trash-o"></i>
                      </button>
                </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3"></th>
            <th>Total BUs</th>
            <td>{{ contract.total_bu|bu }}</td>
        </tr>
        {% if editable %}
        <tr>
            <td colspan="6">
                <h4 id="add_a_course">Add a Course</h4>
                <form action="{% url "tacontracts:new_course" unit_slug=unit_slug semester=semester contract_slug=contract.slug %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                    {{ courseform|as_dl }}
                    <p>
                        <input type="submit" class="submit" value="Add Course" />
                    </p>
                    </fieldset>
                </form>

            </td>
        </tr>
        {% endif %}
    </tfoot>

</table>


<h2 class='contract_heading total'>Total - {{contract.total|currency}}</h2>
<div>
<h3>Pay Schedule</h3>
<table>
    <thead>
        <tr>
            <th>Pay Start</th>
            <th>Pay End</th>
            <th>Biweekly Payperiods</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{contract.pay_start|date:"M d, Y"}}</td>
            <td>{{contract.pay_end|date:"M d, Y"}}</td>
            <td>{{contract.payperiods}}</td>
        </tr>
    </tbody>
</table>
<h3>Scholarship Pay</h3>
<table>
    <thead>
        <tr>
            <th>Scholarship BUs</th>
            <th>Scholarship Per BU</th>
            <th>Total Scholarship</th>
            <th>Payperiods</th>
            <th>Biweekly Scholarship</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{contract.bu|bu}}</td>
            <td>{{contract.scholarship_per_bu|currency}}</td>
            <td>{{contract.scholarship_pay|currency}}</td>
            <td>{{contract.payperiods}}</td>
            <td>{{contract.biweekly_scholarship|currency}}</td>
        </tr>
    </tbody>
</table>

<h3>Pay</h3>
<table>
    <thead>
        <tr>
            <th>Total BUs</th>
            <th>Pay Per BU</th>
            <th>Total Pay</th>
            <th>Payperiods</th>
            <th>Biweekly Pay</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{contract.total_bu|bu}}</td>
            <td>{{contract.pay_per_bu|currency}}</td>
            <td>{{contract.total_pay|currency}}</td>
            <td>{{contract.payperiods}}</td>
            <td>{{contract.biweekly_pay|currency}}</td>
        </tr>
    </tbody>
</table>
</div>

<h2 class='contract_heading emails'>Emails - {{contract.number_of_emails}}</h2>
<div>
{% for email in emails %}
<h3><i class='fa fa-envelope-o'></i> {{email.content.published|date:"M d, Y"}} : {{email.content.title}}</h3>
<div>{{email.content.content}}</div>
{% endfor %}
</div>

{% if contract.grad_students %}
<h2 class='contract_heading gradstudent'>Grad Student Record</h2>
<div>
<ul>
    {% for student in contract.grad_students %}
    <li>
        <a href="{% url "grad:view" grad_slug=student.slug %}">
        <i class='fa fa-mortar-board'></i> 
        {{student}}</a>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}
{% with attachments=contract.attachments.visible %}
    {% if attachments %}
    <h2 id="attachments">Attachments</h2>
    <ul>
    {% for a in attachments %}
    <li>{{ a.title }} ({{a.contents_filename}}, {{ a.created_at.date }}, {{ a.contents.file.size|filesizeformat }})
      <a href="{% url 'tacontracts:view_attachment' unit_slug=unit_slug semester=semester contract_slug=contract.slug attach_slug=a.slug %}">View</a> |
      <a href="{% url 'tacontracts:download_attachment' unit_slug=unit_slug semester=semester contract_slug=contract.slug attach_slug=a.slug %}">Download</a> |
      <a href="{% url 'tacontracts:delete_attachment' unit_slug=unit_slug semester=semester contract_slug=contract.slug attach_slug=a.slug  %}">Delete</a>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
{% endblock %}
