{% extends "base.html" %}
{% load grade_student %}


{% load markup %}

{% block title %}Add Courses{% endblock %}
{% block h1 %}Add Courses{% endblock %}

{% block subbreadcrumbs %}&gt; Add Courses</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url planning.views.add_plan userid=userid %}">Manage Course Plan</a></li>

    </ul>
</div>
{% endblock %}

{% block content %}



<div id="form_container">
    {% if form.non_field_errors %}
    <p class="errorindicator">
        <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
        {{ form.non_field_errors }}
    </p>
    {% endif %}
	
    <form action="/submit_course/{{ userid }}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Course Info</legend>
            <ul>
				
				{{form.test|activity_field}}
				
				Subject:

				<select name="course_subject">
				<option value="CMPT">CMPT</option>
				<option value="MACM">MACM</option>
				</select>

				</br >
				Number: <input type="text" name = "course_number" size="30" />
				Title: <input type="text" name = "course_title" size="30" />


                <li>
                    <input class="submit" type="submit" value="Submit" />
                </li>
            </ul>
        </fieldset>
    </form>

</div>
{% endblock%}


