{% extends "base.html" %}


{% load markup %}

{% block title %}Add Courses{% endblock %}
{% block h1 %}Add Courses{% endblock %}

{% block subbreadcrumbs %}&gt; Add Courses</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url planning.views.add_plan userid=userid %}">Add a New Course Plan</a></li>

    <li><a href="{% url planning.views.courses %}">Edit a Course Plan</a></li>

    </ul>
</div>
{% endblock %}

{% block content %}
<div id="form_container">
    {% if form.non_field_errors %}
    <p class="errorindicator">
        <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
        {{ form.non_field_errors }}
    </p>
    {% endif %}
	
    <form action="/submit_course/{{ userid }}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Course Info</legend>
            <ul>

				Subject: <input type="text" name = "course_subject" size="30" /><br />
				Number: <input type="text" name = "course_number" size="30" /><br />
				Title: <input type="text" name = "course_title" size="30" />


                <li>
                    <input class="submit" type="submit" value="Submit" />
                </li>
            </ul>
        </fieldset>
    </form>

</div>
{% endblock%}


