{% extends "base.html" %}
{% load form_display %}

{% load markup %}

{% block title %}Edit Teachable Courses{% endblock %}
{% block h1 %}Edit Teachable Courses{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url planning.views.instructor_index %}">Teaching Plan</a></li><li>&gt; Courses</li>{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}

<div id="capability" class="table_container">

	
	<h2>Teachable Courses</h2>
    
		<table class = "inst_table">
			<tbody>
				<tr>
					<th>Course</th>
					<th>Note</th>
					<th>Option</th>

				</tr>
				{% for capability in capability_list %}
				<tr>
					<td>{{ capability.course }}</td>
					<td>{{ capability.note|linebreaks }}</td>
					<td><a href="{% url planning.views.delete_course_from_capability course_id=capability.id %} ">Remove</td>
					
				</tr>
				{%endfor%}
		    </tbody>
		</table>
</div>

<div id="form_container">
    <form action="{% url planning.views.edit_capability %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Add Course</legend>

            {{form|as_dl}}
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
        

    </form>

</div>


{% endblock%}




