{% extends "base.html" %}
{% load form_display %}

{% block title %}Edit Semester Teaching Intention{% endblock %}
{% block h1 %}Edit Semester Teaching Intention{% endblock %}

{% block subbreadcrumbs %}<li><a href="{% url "planning.views.instructor_index" %}">Teaching Preferences</a></li><li>Semester Teaching Intentions</li>{% endblock %}

{% block content %}

<div id="intention" class="table_container">
	<h2>Semester Teaching Intentions</h2>

	{% if intention_list %}
	<table class = "inst_table">
		<thead>
			<tr>
				<th>Semester</th>
				<th>Number of Courses</th>
				<th>Note</th>
				<th>Options</th>
			</tr>
		</thead>
		
		<tbody>
			{% for intention in intention_list %}
			<tr>
				<td>{{ intention.semester.label }}</td>
				<td>{{ intention.count }}</td>
				<td>{{ intention.note|linebreaks }}</td>
				<td><a href="{% url "planning.views.delete_intention" semester=intention.semester.name %}">Remove</a></td>
			</tr>
			{%endfor%}
	    </tbody>
	</table>
	{% else %}
	<p>You haven't created any semester teaching intentions.</p>
	{% endif %}
</div>	


<div class="form_container">
    <form action="{% url "planning.views.edit_intention" %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Add Semester Teaching Intention</legend>

            {{form|as_dl}}
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
    </form>
</div>


{% endblock%}




