{% extends "base.html" %}

{% load markup %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#plans').dataTable( {
    'aaSorting': [[0, 'desc']],
    'bPaginate': true,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "iDisplayLength" : 10
  } );
} );
</script>
{% endblock %}

{% block title %}Course Planning{% endblock %}
{% block h1 %}Course Planning{% endblock %}

{% block subbreadcrumbs %}<li>&gt; Course Planning</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url "planning.views.create_plan" %}">Create a Course Plan</a></li>
        <li><a href="{% url "planning.views.copy_plan" %}">Copy a Course Plan</a></li>
        <li><a href="{% url "planning.views.manage_courses" %}">Manage Courses</a></li>
        <li><a href="{% url "planning.views.view_intentions" %}">View Teaching Intentions</a></li>
        <li><a href="{% url "planning.views.view_capabilities" %}">View Teaching Capabilities</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="datatable_container">
    <h2>Course Plans</h2>
    <table class="display" id="plans">
        <thead>
            <tr>
                <th scope="col">Semester</th>
                <th scope="col">Plan Name</th>
                <th scope="col">Visibility</th>
            </tr>
        </thead>

        <tbody>
        {% for plan in plan_list %}
        <tr>
            <td>{{ plan.semester.name }} - {{ plan.semester.label }}</td>
            <td><a href="{% url "planning.views.update_plan" semester=plan.semester.name plan_slug=plan.slug %}">{{ plan.name }}</a></td>
            <td>{{ plan.get_visibility_display }}</td>  
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
{% endblock content %}
