{% extends "base.html" %}
{% load grade_student %}


{% load markup %}

{% block title %}Edit Courses{% endblock %}
{% block h1 %}Edit Courses{% endblock %}

{% block subbreadcrumbs %}&gt; Edit Courses</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
	
    	<li><a href="{% url planning.views.admin_index %}">Manage Course Plans</a></li>
		<li><a href="{% url planning.views.add_course userid=userid %}">Manage Courses</a></li>

    </ul>
</div>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#courses').dataTable( {
    'bPaginate': true,
    'bInfo': true,
    'bLengthChange': true,
    "bJQueryUI": true,
	"sPaginationType": "full_numbers",
	"iDisplayLength" : 50
  } );
} );
</script>
{% endblock %}

{% block content %}

<div class="datatable_container">
	
	
    <h2>{{ semester_plan.semester.label }} </br> {{ semester_plan.name }}</h2>
    <table class="display" id="courses">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Section</th>
                <th scope="col">Assigned Instructors</th>
                <th scope="col">Capable Instructors</th>



            </tr>
        </thead>

        <tbody>
		{% for planned_course in planned_courses_list %}
		
		<tr>
			<form action="/admin_planning/submit_assigned_instructors/{{ userid }}/{{ planned_course.id }}/{{ plan_id }}/" method="post">{% csrf_token %}
			
			<td>{{ planned_course.course }}</td>
			<td>{{ planned_course.section }}</td>
			<td>
				
					{{ planned_course.instructor }}
				
			</td>
			<td>
			<select name="instructors">
				<option value="None"></option>
				{% for instructors in instructor_list %}
					{% for instructors_check in  instructor_intention_list %}
						{% if instructors.instructor ==  instructors_check.instructor %}
							{% if instructors.course ==  planned_course.course %}
								<option value={{instructors.instructor.userid}}>{{instructors.instructor}}</option>
							{% endif %}
						{% endif %}
					{% endfor %}	
				{% endfor %}
			</select>
			<input type="submit" value="Assign" />
			</td>
	
			</form>
		</tr>

		{%endfor%}
        </tbody>
    </table>
		

</div>


{% endblock%}


