{% extends "base.html" %}
{% load form_display %}


{% load markup %}

{% block title %}Add New Course{% endblock %}
{% block h1 %}Add New Course{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url planning.views.admin_index %}">Course Planning</a></li>
<li>&gt; <a href="{% url planning.views.manage_courses %}">Manage Courses</a></li>
<li>&gt; Add New Course</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<div id="form_container">
    <form action="{% url planning.views.create_course %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>New Course</legend>
            {{form|as_dl}}
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
    </form>
</div>
{% endblock%}