{% extends "base.html" %}
{% load form_display %}


{% load markup %}

{% block title %}Edit Plan {{ plan.name }}{% endblock %}
{% block h1 %}Edit Plan {{ plan.name }}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url planning.views.admin_index %}">Course Planning</a></li><li>&gt; {{ plan.name }} in {{plan.semester.label}}</li><li>&gt; Edit</li>{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}

<div id="form_container">
    <form action="{% url planning.views.edit_plan semester=plan.semester.name plan_slug=plan.slug %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Plan Info</legend>
            {{form|as_dl}}
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
    </form>
</div>

<form action="{% url planning.views.delete_plan semester=plan.semester.name plan_slug=plan.slug %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Delete Plan</legend>
            <div><input class="submit" type="submit" value="Delete Plan" /></div>
        </fieldset>
    </form>
{% endblock%}


