{% extends "base.html" %}
{% load form_display %}



{% block title %}Edit Course{% endblock %}
{% block h1 %}Edit Course - {{ course.full_name }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "planning.views.admin_index" %}">Course Planning</a></li>
<li><a href="{% url "planning.views.manage_courses" %}">Manage Courses</a></li>
<li>Edit Course - {{ course }}</li>
{% endblock %}

{% block content %}
<div class="form_container">
    <form action="{% url "planning.views.edit_course" course_slug=course.slug %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Course Information</legend>
            {{form|as_dl}}
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
    </form>
</div>
{% endblock%}