{% extends "base.html" %}
{% load form_display %}

{% block title %}Edit Teaching Credits For {{ member.offering.name }}{% endblock %}
{% block h1 %}Edit Teaching Credits For <i>{{ member.offering.name }} ({{ instructor.userid }}, {{ member.offering.semester }})</i>{% endblock %}

{% block subbreadcrumbs %}
<li>
    <a href="{% url "planning.views.view_insts_in_unit" %}">Teaching Administration</a>
</li>
<li>
    <a href="{% url "planning.views.view_teaching_credits_admin" userid=instructor.userid %}">Teaching Credits For {{ instructor.userid }}</a>
</li>
<li>
    Credits For {{ member.offering.name }}
</li>
{% endblock %}

{% block content %}
<div class="form_container">
    <form action="{% url "planning.views.edit_course_offering_credits" userid=instructor.userid course_slug=member.offering.slug %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Course Credits</legend>
            {{ form|as_dl_safe }}
            <p><input class="submit" type="submit" value="Submit" /></p>
        </fieldset>
    </form>
</div>
{% endblock %}