{% extends "base.html" %}
{% load form_display %}


{% block title %}Edit Teaching Capabilities{% endblock %}
{% block h1 %}Edit Teaching Capabilities{% endblock %}

{% block headextra %}
<script type="text/javascript">
function confirmDelete() {
  return confirm("Are you sure you want to remove this course?");
}
</script>
{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url "planning.views.instructor_index" %}">Teaching Preferences</a></li><li>&gt; Teaching Capabilities</li>{% endblock %}

{% block content %}
<div id="capability" class="table_container">
	<h2>Teaching Capabilities</h2>
    
    	{% if capability_list %}
		<table id="courses" class="inst_table">
			<thead>
				<tr>
					<th>Course</th>
					<th>Note</th>
					<th>Option</th>
				</tr>
			</thead>
			<tbody>
				{% for capability in capability_list %}
				<tr>
					<td>{{ capability.course.full_name }}</td>
					<td>{{ capability.note|linebreaks }}</td>
					<td><a onclick="return confirmDelete();" href="{% url "planning.views.delete_capability" course_id=capability.id %} ">Remove</a></td>
				</tr>
				{%endfor%}
		    </tbody>
		</table>
		{% else %}
		<p>You haven't added any teaching capabilities.</p>
		{% endif %}
</div>

<div class="form_container">
    <form action="{% url "planning.views.edit_capability" %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Add Course</legend>

            {{form|as_dl}}
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
        
    </form>
</div>
{% endblock%}




