{% extends "base.html" %}
{% load form_display %}


{% load markup %}

{% block title %}Edit Course Plan{% endblock %}
{% block h1 %}Edit Course Plan{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url planning.views.admin_index %}">Course Planning</a></li><li>&gt; {{ plan.name }} in {{plan.semester.label}}</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#courses').dataTable( {
    'bPaginate': true,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "iDisplayLength" : 25
  } );
} );
</script>
{% endblock %}


{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url planning.views.edit_plan semester=plan.semester.name plan_slug=plan.slug %}">Edit Course Plan Information</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<div class="datatable_container">
    <h2>{{ plan.name }} in {{plan.semester.label}}</h2>
    <table class="display" id="courses">
        <thead>
            <tr>
                <th colspan="3">Course</th>
                <th rowspan="2" scope="col">Insturctor</th>
                <th rowspan="2" scope="col">Sec.</th>
                <th rowspan="2" scope="col">Campus</th>
                <th rowspan="2" scope="col">Component</th>
                <th rowspan="2" scope="col">Option</th>
            </tr>
            <tr>
                <th scope="col"><abbr title="Course Subject">Sub.</abbr></th>
                <th scope="col"><abbr title="Course Number">#</abbr></th>
                <th scope="col">Title</th>
            </tr>
        </thead>

        <tbody>
        {% for planned_offering in planned_offerings_list %}

        <tr>
            <td>{{ planned_offering.course.subject }}</td>
            <td>{{ planned_offering.course.number }}</td>
            <td>{{ planned_offering.course.title }}</td>
            <td>
                {{ planned_offering.instructor }}
                [<a href="{% url planning.views.view_instructors semester=plan.semester.name plan_slug=plan.slug planned_offering_slug=planned_offering.slug %}">Edit</a>]
            </td>
            <td>{{ planned_offering.section }}</td>
            <td>{{ planned_offering.get_campus_display }}</td>
            <td>{{ planned_offering.get_component_display }}</td>
            <td><a href="{% url planning.views.delete_course_from_plan course_id=planned_offering.id plan_id=plan.id %}">Remove</td>
        </tr>
        
        {%endfor%}

        </tbody>
    </table>
</div>

<div id="form_container">
    <form action="{% url planning.views.edit_courses semester=plan.semester.name plan_slug=plan.slug %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Add Course Offering</legend>
            {{form|as_dl}}
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
    </form>

</div>
{% endblock%}