{% extends "base.html" %}
{% load form_display %}


{% load markup %}

{% block title %}Edit Courses{% endblock %}
{% block h1 %}Edit Courses{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url planning.views.admin_index %}">Course Planning</a></li><li>&gt; {{ plan.name }} in {{plan.semester.label}}</li><li>&gt; Courses</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
		<li><a href="{% url planning.views.add_course %}">Manage Courses</a></li>
    </ul>
</div>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#courses').dataTable( {
    'bPaginate': true,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
	"sPaginationType": "full_numbers",
	"iDisplayLength" : 10
  } );
} );
</script>
{% endblock %}

{% block content %}

<div class="datatable_container">
    <h2>{{ semester_plan.semester.label }} </br> {{ semester_plan.name }}</h2>
    <table class="display" id="courses">
        <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Section</th>
                <th scope="col">Campus</th>
                <th scope="col">Component</th>
                <th scope="col">Option</th>


            </tr>
        </thead>

        <tbody>
		{% for planned_course in planned_courses_list %}

		<tr>
			<td>{{ planned_course.course }}</td>
			<td>{{ planned_course.section }}</td>
			<td>{{ planned_course.get_campus_display }}</td>
			<td>{{ planned_course.get_component_display }}</td>
			<td><a href="{% url planning.views.delete_course_from_plan course_id=planned_course.id plan_id=plan.id %} ">Remove</td>
		</tr>
		
		{%endfor%}

        </tbody>
    </table>
</div>

<div id="form_container">
    <form action="{% url planning.views.edit_courses semester=plan.semester.name plan_slug=plan.slug%}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Add Course</legend>
            {{form|as_dl}}
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
    </form>

</div>
{% endblock%}


