{% extends "base.html" %}

{% load markup %}

{% block title %}Teaching Preferences{% endblock %}
{% block h1 %}Teaching Preferences{% endblock %}

{% block subbreadcrumbs %}<li>&gt; Teaching Preferences</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
	    <li><a href="{% url planning.views.edit_capability %}">Manage Teachable Courses</a></li>
		<li><a href="{% url planning.views.edit_intention %}">Manage Semester Plans</a></li>
    </ul>
</div>
{% endblock %}


{% block content %}

<div id="course_plan" class="table_container">

	
	<h2>Teachable Courses</h2>

	{% if capability_list %}
	<table class = "inst_table">
		<tbody>
			<tr>
				<th>Course</th>
			</tr>

			{% for capability in capability_list %}
			<tr>
				<td>{{ capability.course.full_name }}</td>
			</tr>
			{%endfor%}
	    </tbody>
	</table>
	{% else %}
	<p>You haven't selected any teachable courses. <a href="{% url planning.views.edit_capability %}">Add your teachable courses.</a></p>
	{% endif %}
	
	<h2>Semester Teaching Plans</h2>

	{% if intention_list %}
	<p>A list of the number of courses you intend to teach in upcoming semesters.</p>

	<table class = "inst_table">
		<thead>
			<tr>
				<th>Semester</th>
				<th>Number of Courses</th>
			</tr>
		</thead>
		<tbody>
		{% for intention in intention_list %}
			<tr>
			<td>{{ intention.semester.label }}</td>
			<td>{{ intention.count }}</td>
		{%endfor%}
	    </tbody>
	</table>
	{% else %}
	<p>You haven't created any semester teaching plans. <a href="{% url planning.views.edit_intention %}">Create a semester teaching.</a></p>
	{% endif %}


</div>

{% endblock content %}
