{% extends "base.html" %}

{% load markup %}

{% block title %}Teaching Plan{% endblock %}
{% block h1 %}Teaching Plan{% endblock %}

{% block subbreadcrumbs %}<li>&gt; Teaching Plan</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    <li><a href="{% url planning.views.edit_capability %}">Manage Teachable Courses</a></li>
	<li><a href="{% url planning.views.edit_intention %}">Manage Semester Plans</a></li>

    </ul>
</div>
{% endblock %}


{% block content %}

<div id="course_plan" class="table_container">

	
	<h2>Teachable Courses</h2>
	<p>This should be a complete list of courses you are able to teach.</p>
    
		<table class = "inst_table">
			<tbody>
				<tr>
					<th>Course</th>

				</tr>
				{% for capability in capability_list %}
				<tr>
					<td>{{ capability.course }}</td>
				</tr>
				{%endfor%}
		    </tbody>
		</table>
	
	
	<h2>Semester Plans</h2>
	<p>This should be a list of the number of courses you intend to teach in upcoming semesters.</p>

		<table class = "inst_table">
			<tbody>
				<tr>
					<th>Semester</th>
					<th>Number of Courses</th>
					<th>Detail</th>

			{% for intention in intention_list %}
			<tr>
				<td>{{ intention.semester.label }}</td>
				<td>{{ intention.count }}</td>
				<td><a href="{% url planning.views.semester_plan_index %}">Course Schedule</a></td>
			{%endfor%}
				</tr>

		    </tbody>
		</table>


</div>

{% endblock content %}
