{% extends "base.html" %}
{% load form_display %}


{% load markup %}

{% block title %}Manage Courses{% endblock %}
{% block h1 %}Manage Courses{% endblock %}

{% block headextra %}
<script type="text/javascript">
function confirmDelete() {
  return confirm("Are you sure you want to remove this course?");
}
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url planning.views.admin_index %}">Course Planning</a></li>
<li>&gt; Manage Courses</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url planning.views.create_course %}">Add New Course</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<div class="datatable_container">
    <h2>Courses</h2>
    <table class="display" id="plans">
        <thead>
            <tr>
                <th scope="col">Unit</th>
                <th scope="col"><abbr title="Subject">Sub.</abbr></th>
                <th scope="col"><abbr title="Course Number">#</abbr></th>
                <th scope="col">Title</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
	        {% for course in course_list %}
	        <tr>
                <td>{{ course.owner.informal_name }}</td>
	            <td>{{ course.subject }}</td>
	            <td>{{ course.number }}</td>
	            <td>{{ course.title }}</td> 
                <td>
                    <a href="{% url planning.views.edit_course course_slug=course.slug %}">Edit</a> |
                    <a onclick="return confirmDelete();" href="{% url planning.views.delete_course course_id=course.id %}">Remove</a>
                </td> 
	        </tr>
	        {%endfor%}
        </tbody>
    </table>
</div>

{% endblock%}
