{% extends "base.html" %}
{% load form_display %}

{% block title %}New Teaching Equivalent For {{ instructor }}{% endblock %}
{% block h1 %}New Teaching Equivalent For <i>{{ instructor}} ({{ instructor.userid }})</i>{% endblock %}

{% block subbreadcrumbs %}
<li>
    <a href="{% url "planning.views.view_insts_in_unit" %}">Teaching Administration</a>
</li>
<li>
    <a href="{% url "planning.views.view_teaching_credits_admin" userid=instructor.userid %}">Teaching Credits For {{ instructor.userid }}</a>
</li>
<li>
	New Teaching Equivalent
</li>
{% endblock %}

{% block content %}
<div class="form_container">
    <form action="{% url "planning.views.new_teaching_equivalent_admin" userid=instructor.userid %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Teaching Equivalent</legend>
            {{ form|as_dl_safe }}
            <p><input class="submit" type="submit" value="Submit" /></p>
        </fieldset>
    </form>
</div>
{% endblock %}