{% extends "base.html" %}
{% load form_display %}

{% block title %}Add Semester Teaching Intention{% endblock %}
{% block h1 %}Add Semester Teaching Intention{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url planning.views.admin_index %}">Course Planning</a></li>
<li>&gt; <a href="{% url planning.views.view_intentions %}">Semester Teaching Intentions</a></li>
<li>&gt; Add Semester Teaching Intention</li>
{% endblock %}

{% block content %}
<div id="form_container">
    <form action="{% url planning.views.planner_create_intention %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Semester Teaching Intention</legend>
            {{form|as_dl}}
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
    </form>
</div>
{% endblock%}

