{% extends "base.html" %}


{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#plans').dataTable( {
    'bPaginate': true,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
	"sPaginationType": "full_numbers"
  } );
} );
</script>
{% endblock %}

{% block title %}Semester Plans{% endblock %}
{% block h1 %}Semester Plans{% endblock %}

{% block subbreadcrumbs %}<li>&gt; Semester Plans</li>{% endblock %}


{% block content %}

<div class="datatable_container">
    <h2>Course Plans</h2>
    {% if plan_list %}
    <table class="display" id="plans">
        <thead>
            <tr>
                <th scope="col">Semester</th>
                <th scope="col">Plan Name</th>
            </tr>
        </thead>
        <tbody>
			{% for plan in plan_list %}
			<tr>
                <td>{{ plan.semester.label }}</td>
				<td><a href="{% url "planning.views.view_plan" semester=plan.semester.name plan_slug=plan.slug %}">{{ plan.name }}</a></td>
			</tr>		
			{%endfor%}
        </tbody>
    </table>
    {% else %}
        <p>There are no semester plans at the moment.</p>
    {% endif %}
</div>

{% endblock content %}
