{% extends "base.html" %}
{% load form_display %}


{% load markup %}

{% block title %}Edit Course Plan{% endblock %}
{% block h1 %}Edit Course Plan{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url planning.views.admin_index %}">Course Planning</a></li><li>&gt; {{ plan.name }} in {{plan.semester.label}}</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">

$(function() {
  $('#courses').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "aoColumns": [
        null,
        null,
        null,
        { "bSortable" : false },
        null,
        null,
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false }
    ],
    "bFilter": true
  } );

} );
</script>
{% endblock %}


{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url planning.views.edit_plan semester=plan.semester.name plan_slug=plan.slug %}">Edit Course Plan Information</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<h2>{{ plan.name }} in {{plan.semester.label}}</h2>

<table class="display course-plan" id="courses">
    <thead>
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Instructor</th>
            <th scope="col">Cap</th>
            <th scope="col">Sec</th>
            <th scope="col"><abbr title="Campus">Camp</abbr></th>
            <th scope="col"><abbr title="Component">Comp</abbr></th>
            <th scope="col"><abbr title="Monday">Mon</abbr></th>
            <th scope="col"><abbr title="Tuesday">Tues</abbr></th>
            <th scope="col"><abbr title="Wednesday">Wed</abbr></th>
            <th scope="col"><abbr title="Thursday">Thur</abbr></th>
            <th scope="col"><abbr title="Friday">Fri</abbr></th>
            <th scope="col"><abbr title="Thursday">Sat</abbr></th>
            <th scope="col"><abbr title="Friday">Sun</abbr></th>
            <th scope="col">Options</th>
        </tr>
    </thead>

    <tbody>
        {% for planned_offering, meeting_time in offerings_list %}
        <tr>
            <td>
                <span class="subject">{{ planned_offering.course.subject }}</span> {{ planned_offering.course.number }}
                {% if planned_offering.notes %}
                    <div class="note-container">
                        <a href="javascript:void(0)" class="note">[?]</a>
                        <div class="note-content after">
                            <strong>Note:</strong>
                            {{ planned_offering.notes }}
                        </div>
                    </div>
                {% endif %}
            </td>
            <td>
                {{ planned_offering.instructor }}
                (<a href="{% url planning.views.view_instructors semester=plan.semester.name plan_slug=plan.slug planned_offering_slug=planned_offering.slug %}">Edit</a>)
            </td>
            <td class="cap">{{ planned_offering.enrl_cap }}</td>
            <td class="section">{{ planned_offering.section }}</td>
            <td>{{ planned_offering.campus }}</td>
            <td>{{ planned_offering.get_component_display }}</td>
            {% for i in range %}
            <td>
                {% for time in meeting_time %}
                    {% if time.weekday == i %}
                        <div class="meeting-time">
                            {{ time.start_time|time:"f" }} - {{ time.end_time|time:"f" }}<br />
                            {{ time.room }}
                        </div>
                    {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
            <td class="option">
                <a href="{% url planning.views.edit_planned_offering semester=plan.semester.name plan_slug=plan.slug planned_offering_slug=planned_offering.slug %}">Edit</a> |
                <a href="{% url planning.views.delete_planned_offering semester=plan.semester.name plan_slug=plan.slug planned_offering_slug=planned_offering.slug %}">Remove</a>
            </td>
        </tr>
        {%endfor %}
    </tbody>
</table>

<div id="form_container" class="add-course-offering">
    <form action="{% url planning.views.update_plan semester=plan.semester.name plan_slug=plan.slug %}" method="post">{% csrf_token %}
        {% include "planning/course_offering_form.html" with offeringform=form timesformset=formset %}
    </form>
</div>
{% endblock %}
