{% extends "base.html" %}
{% load form_display %}


{% load markup %}

{% block title %}Edit Course Plan{% endblock %}
{% block h1 %}Edit Course Plan{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url planning.views.admin_index %}">Course Planning</a></li><li>&gt; {{ plan.name }} in {{plan.semester.label}}</li>{% endblock %}

{% block headextra %}
<script type="text/javascript">

$(function() {
  $('#courses').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': true,
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "aoColumns": [
        null,
        null,
        null,
        { "bSortable" : false },
        null,
        null,
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false },
        { "bSortable" : false }
    ],
    "bFilter": true
  } );

    $('.add-formset').click(function() {
        var last = $('.meeting-time tr:visible:last');
        var next = $('.meeting-time tr:hidden').eq(0).show();

        lastInputs = last.find('select, input[type=text]');
        nextInputs = next.find('select, input[type=text]');

        nextInputs.each(function(i) {
            $(this).val(lastInputs.eq(i).val());
        });
    });

    $('.remove-formset').click(function() {
        var meeting = $(this).parents('tr');
        meeting.find('input').val('');
        meeting.find('select').val('---------');
        meeting.hide();
    });

} );
</script>
{% endblock %}


{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url planning.views.edit_plan semester=plan.semester.name plan_slug=plan.slug %}">Edit Course Plan Information</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<h2>{{ plan.name }} in {{plan.semester.label}}</h2>

<table class="display course-plan" id="courses">
    <thead>
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Insturctor</th>
            <th scope="col">Cap</th>
            <th scope="col">Sec</th>
            <th scope="col"><abbr title="Campus">Camp</abbr></th>
            <th scope="col"><abbr title="Component">Comp</abbr></th>
            <th scope="col"><abbr title="Monday">Mon</abbr></th>
            <th scope="col"><abbr title="Tuesday">Tues</abbr></th>
            <th scope="col"><abbr title="Wednesday">Wed</abbr></th>
            <th scope="col"><abbr title="Thursday">Thur</abbr></th>
            <th scope="col"><abbr title="Friday">Fri</abbr></th>
            <th scope="col"><abbr title="Thursday">Sat</abbr></th>
            <th scope="col"><abbr title="Friday">Sun</abbr></th>
            <th scope="col">Options</th>
        </tr>
    </thead>

    <tbody>
        {% for planned_offering, meeting_time in offerings_list %}
        <tr>
            <td><span class="subject">{{ planned_offering.course.subject }}</span> {{ planned_offering.course.number }}</td>
            <td>
                {{ planned_offering.instructor }}
                (<a href="{% url planning.views.view_instructors semester=plan.semester.name plan_slug=plan.slug planned_offering_slug=planned_offering.slug %}">Edit</a>)
            </td>
            <td class="cap">{{ planned_offering.enrl_cap }}
            <td class="section">{{ planned_offering.section }}</td>
            <td>{{ planned_offering.campus }}</td>
            <td>{{ planned_offering.get_component_display }}</td>
            {% for i in range %}
            <td>
                {% for time in meeting_time %}
                    {% if time.weekday == i %}
                        <div class="meeting-time">
                            {{ time.start_time|time:"f" }} - {{ time.end_time|time:"f" }}<br />
                            {{ time.room }}
                        </div>
                    {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
            <td class="option">
                <a href="{% url planning.views.edit_planned_offering semester=plan.semester.name plan_slug=plan.slug planned_offering_slug=planned_offering.slug %}">Edit</a> |
                <a href="{% url planning.views.delete_planned_offering semester=plan.semester.name plan_slug=plan.slug planned_offering_slug=planned_offering.slug %}">Remove</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<div id="form_container" class="add-course-offering">
    <form action="{% url planning.views.update_plan semester=plan.semester.name plan_slug=plan.slug %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Add Course Offering</legend>

            <div class="course">
                <h3>Course Information</h3>

                {% for field in form %}
                    <dt>
                        <label for="{{ field.auto_id }}">
                            {{ field.label }}:
                            {% if field.field.required %}
                                <span class="required">*</span>
                            {% endif %}
                            <span> 
                        </label>
                    </dt>
                    <dd>
                        <div class="field">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </dd>
                {% endfor %}
            </div>

            <div class="meeting-times">
                {{ formset.management_form }}
                <table class="meeting-time">
                    <thead>
                        <th>Day</th>
                        <th>Start</th>
                        <th>End</th>
                        <th colspan="2">Room</th>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                        <tr class="{% if form.errors %}errors{% endif %}
                            {% if form.weekday.value or form.start_time.value or form.end_time.value or form.room.value %}content{% endif %}">
                            <td>
                                {{ form.weekday }}
                                {% if form.weekday.errors %}
                                    {{ form.weekday.errors }}
                                {% endif %}
                            </td>
                            <td><input type="text" placeholder="e.g. 11:30" name="meetingtime_set-{{ forloop.counter0 }}-{{ form.start_time.name }}" id="{{ form.start_time.auto_id }}" value="{{ form.start_time.value|time:"f" }}" /></td>
                            <td><input type="text" placeholder="e.g. 12:20" name="meetingtime_set-{{ forloop.counter0 }}-{{ form.end_time.name }}" id="{{ form.end_time.auto_id }}" value="{{ form.end_time.value|time:"f" }}" /></td>
                            <td><input type="text" placeholder="e.g. ASB9896" name="meetingtime_set-{{ forloop.counter0 }}-{{ form.room.name }}" id="{{ form.room.auto_id }}" value="{% firstof form.room.value %}" /></td>
                            <td>
                                {% if not forloop.first %}
                                    <a class="remove-formset">Remove</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="add-formset">Add another meeting time</a>
            </div>
            <div><input class="submit" type="submit" value="Submit" /></div>
        </fieldset>
    </form>
</div>
{% endblock%}