{% extends "base.html" %}

{% block title %}Teaching Credits{% endblock %}
{% block h1 %}Teaching Credits{% endblock %}

{% block subbreadcrumbs %}
<li>
    &gt; <a href="{% url planning.views.instructor_index %}">Teaching Preferences</a>
</li>
<li>
    &gt; Teaching Credits
</li>
{% endblock %}

{% block content %}
<div class="table_container">
    {% for semester in semesters %}
    <h2>{{ semester.label }}</h2>
    <table class = "inst_table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Credits</th>
            </tr>
        </thead>
        <tbody>
            {% for course in semester.courses %}
            <tr>
                <td> {% if course.equivalent %}
                <strong>Teaching Equivalent:</strong> <a href="#">{{ course.name }}</a> {% if course.confirmed %}
                (Confirmed)
                {% endif %}
                {% if not course.confirmed %}
                (Unconfirmed)
                {% endif %}
                {% endif %}
                {% if not course.equivalent %}
                {{ course.name }}
                {% endif %} </td>
                <td>{{ course.credits }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><i style="font-weight: bold;">{{ semester.total_credits }} total</i></td>
            </tr>
    </table>
    {% endfor %}
</div>
{% endblock %}