{% extends "base.html" %}
{% load grade_student %}
{% load form_display %}

{% load markup %}

{% block title %}Instructor for {{ course_info.course.subject }} {{ course_info.course.number }} {{ course_info.section }}{% endblock %}
{% block h1 %}Instructor for {{ course_info.course.subject }} {{ course_info.course.number }} {{ course_info.section }}{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url planning.views.admin_index %}">Course Planning</a></li><li>&gt; <a href="{% url planning.views.assign_instructors semester=semester_plan.semester.name plan_slug=semester_plan.slug %}">{{ semester_plan.name }} in {{semester_plan.semester.label}}</a></li><li>&gt; Instructor for {{ course_info.course.subject }} {{ course_info.course.number }} {{ course_info.section }}</li>{% endblock %}

{% block actions %}
{% endblock %}

{% block headextra %}
<style type="text/css">
<!--
table.inst_table .radiocell { text-align: center;}
-->
</style>
{% endblock %}


{% block content %}

<p><b>Semester plan</b>:  {{ semester_plan.name }} in {{ semester_plan.semester.label }} </p>
<p><b>Currently Assigned Instructor</b>: {{ course_info.instructor }} </p>

<div class="datatable_container">
	
	

	
	
	<div id="form_container">
	    <form action="{% url planning.views.submit_assigned_instructors semester=semester_plan.semester.name plan_slug=semester_plan.slug offering_id=course_info.id %}" method="post">{% csrf_token %}

		<table class='inst_table'>
			<tbody>
				<tr>
					<th>Select</th>
					<th>Capable Instructors</th>
					<th>Currently Assigned Courses</th>
					<th>Capable Courses</th>
					<th>Teaching Intentions</th>

				</tr>
				{% for data in instructors %}
				<tr>
					<td class="radiocell"><input type="radio" name="instructor" value="{{data.instructor.instructor.userid}}" /></td>
					<td>
					{% if data.instructor.instructor = course_info.instructor %}	
						<b>{{data.instructor.instructor}}</b>
					{% else %}
						{{data.instructor.instructor}}
					{% endif %}
					</td>
					<td>
					{% if data.current_courses %}
						{% for i in data.current_courses %}
							{%  if i.course == course_info.course %}
								<b>{{i.course.subject}} {{i.course.number}}</b>
								<br/>
							{% else %}
								{{i.course.subject}} {{i.course.number}}
								<br/>
							{% endif %}
						{% endfor %}
					{% else %}
						None
					{% endif %}
					</td>
					<td>
					{% for i in data.teachable %}
						{%  if i.course == course_info.course %}
							<b>{{i.course.subject}} {{i.course.number}}
							{% if i.note %}
							(Note: {{i.note}})
							{% endif %}
							</b><br/>						
						{% else %}
							{{i.course.subject}} {{i.course.number}}
							{% if i.note %}
							(Note: {{i.note}})
							{% endif %}
							<br/>
						{% endif %}
					{% endfor %}
					</td>
					<td>
					{% for i in data.intention %}
						{% if i.semester == semester_plan.semester %}
							<b>{{i.semester}}:
							{{i.count}}
							{% if i.note %}
								(Note: {{i.note}})
							{% endif %}</b><br/>
						{% else %}
							{{i.semester}}:
							{{i.count}}
							{% if i.note %}
								(Note: {{i.note}})
							{% endif %}
							<br/>
						{% endif %}
					{% endfor %}
					</td>
				</tr>
				{%endfor%}
				{% if course_info.instructor %}
				<tr>
					<td class="radiocell"><input type="radio" name="instructor" value="None" /></td>
					<td>Clear Assigned Instructor</td>
				</tr>
				{% endif %}
		    </tbody>
		</table>

		<div><input class="submit" type="submit" value="Assign" /></div>
	    </form>

	</div>

</div>


{% endblock%}


