{% extends "base.html" %}
{% load grade_student %}
{% load form_display %}

{% load markup %}

{% block title %}Assign Instructors{% endblock %}
{% block h1 %}Assign Instructors{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url planning.views.admin_index %}">Course Planning</a></li><li>&gt; <a href="{% url planning.views.assign_instructors semester=semester_plan.semester.name plan_slug=semester_plan.slug %}">{{ semester_plan.name }} in {{semester_plan.semester.label}}</a></li><li>&gt; Assign Instructors</li>{% endblock %}

{% block actions %}
{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
  $('#courses').dataTable( {
    'bPaginate': true,
    'bInfo': true,
    'bLengthChange': true,
    "bJQueryUI": true,
	"sPaginationType": "full_numbers",
	"iDisplayLength" : 50
  } );
} );
</script>

<style type="text/css">
<!--
/* All id selectors are defined with 
a pound symbol (#) before their name */

#radio_style { text-align: center;}

-->
</style>
{% endblock %}


{% block content %}

<div class="datatable_container">
	
	
    <h2>{{ semester_plan.semester.label }} </br> {{ semester_plan.name }} </br> {{ course_info.course }} {{ course_info.section }} </h2>
	
	<h3> Current Assigned Instructor: {{ course_info.instructor }} </h3>
	
	<div id="form_container">
	    <form action="{% url planning.views.submit_assigned_instructors semester=semester_plan.semester.name plan_slug=semester_plan.slug offering_id=course_info.id %}" method="post">{% csrf_token %}

		<table class='inst_table'>
			<tbody>
				<tr>
					<th>Select</th>
					<th>Capable Instructors</th>
					<th>Currently Assigned Courses</th>
					<th>Capable Courses</th>
					<th>Teaching Intentions</th>

				</tr>
				{% for data in instructors %}
				<tr>
					<td id=radio_style><input type="radio" name="instructor" value="{{data.instructor.instructor.userid}}" /></td>
					<td>
					{% if data.instructor.instructor = course_info.instructor %}	
						<b>{{data.instructor.instructor}}</b>
					{% else %}
						{{data.instructor.instructor}}
					{% endif %}
					</td>
					<td>
					{% if data.current_courses %}
						{% for i in data.current_courses %}
							{%  if i.course == course_info.course %}
								<b>{{i.course.subject}} {{i.course.number}} {{i.get_component_display}}
								</br></b>
							{% else %}
								{{i.course.subject}} {{i.course.number}} {{i.get_component_display}}
								</br>
							{% endif %}
						{% endfor %}
					{% else %}
						None
					{% endif %}
					</td>
					<td>
					{% for i in data.teachable %}
						{%  if i.course == course_info.course %}
							<b>{{i.course.subject}} {{i.course.number}}
							{% if i.note %}
							( Note: {{i.note}} )
							{% endif %}
							</br></b>							
						{% else %}
							{{i.course.subject}} {{i.course.number}}
							{% if i.note %}
							( Note: {{i.note}} )
							{% endif %}
							</br>
						{% endif %}
					{% endfor %}
					</td>
					<td>
					{% for i in data.intention %}
						{% if i.semester == semester_plan.semester %}
							<b>{{i.semester}}:
							{{i.count}}
							{% if i.note %}
								( Note: {{i.note}} )
							{% endif %}</br></b>
						{% else %}
							{{i.semester}}:
							{{i.count}}
							{% if i.note %}
								( Note: {{i.note}} )
							{% endif %}
							</br>
						{% endif %}
					{% endfor %}
					</td>
				</tr>
				{%endfor%}
				{% if course_info.instructor %}
					<td id=radio_style><input type="radio" name="instructor" value="None" /></td>
					<td>Clear Assigned Instructor</td>
				{% endif %}
		    </tbody>
		</table>

		<div><input class="submit" type="submit" value="Assign" /></div>
	    </form>

	</div>

</div>


{% endblock%}


