{% comment %}
Adapted using this page as an exemplar http://www.sfu.ca/computing/undergraduate/important-forms.html
{% endcomment %}{% load staticfiles %}{% load compress %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>{% block wholetitle %}CourSys - {% block title %}{% endblock %}{% endblock %}</title>
  {% compress js %}
  <script type="text/javascript" src="{% static "newsfu/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "newsfu/jquery-ui.js" %}"></script>
  <script type="text/javascript" src="{% static "newsfu/head.scripts.js" %}"></script>
  <script type="text/javascript">var $ = jQuery;</script>

  <script type="text/javascript" src="{% static "datatables/js/jquery.dataTables.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/core.js" %}"></script>
  <script type="text/javascript" src="{% static "collapsible/js/jQuery.collapsible.js" %}"></script>
  {% endcompress %}

  <!--[if lt IE 9]>
  {% compress js %}
  <script type="text/javascript" src="{% static "newsfu/html5shiv.js" %}"></script>
  <script type="text/javascript" src="{% static "newsfu/respond.js" %}"></script>
  {% endcompress %}
  <![endif]-->
  <!--[if lte IE 9]>
  {% compress js %}
  <script type="text/javascript" src="{% static "newsfu/matchmedia.js" %}"></script>
  {% endcompress %}
  <![endif]-->

  {% compress css %}
  <link rel="stylesheet" href="{% static "newsfu/head.styles.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "style/main.css" %}" />
  <link rel="stylesheet" href="{% static "style/jqueryui-smoothness/jquery-ui-1.10.3.custom.min.css" %}" />
  <link rel="stylesheet" href="{% static "style/print.css" %}" />
  <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
  {% endcompress %}

  <link rel="icon" href="{% static "icons/favicon.ico" %}" type="image/x-icon" />
  <link rel="shortcut icon" href="{% static "icons/favicon.ico" %}" type="image/x-icon" />

  {% block headextra %}{% endblock %}
</head>

{% block bodytag %}<body>{% endblock %}
  <div id="container" class="">
    <div id="page">
      <header>
        <button class="toggle-search-control">Search</button>
        <section class="heading">
          <div class="brand-title">
            <a href="http://www.sfu.ca">
            <div class="branding">
              <h1>Simon Fraser University<br>Engaging the World</h1>
            </div></a> <!-- end branding -->
            <div class="site-title"><h2><a href="/">CourSys</a></h2></div>
          </div>
        </section>
        <section class="actionable-header">
          <div class="search">
            <form action="{% url "dashboard.views.site_search" %}" method="get">
              <fieldset class="search-field">
                <input type="search" placeholder="Search" name="q">
              </fieldset>

              <fieldset class="search-scope-set">
                <label><input type="radio" checked="checked" value="site" name="search-scope">This site</label>
                <label><input type="radio" value="sfu" name="search-scope">SFU.ca</label>
              </fieldset>
            </form>
          </div>
          <div class="global-links">
            <div class="mobile-global-links-container">
              <ul class="mobile-global-links">
                <li class="header">
                  <a href="http://www.sfu.ca/directory">A-Z <span>directory</span></a>
                </li>

                <li class="header sign-in">
                  {% if user.is_authenticated %}
                    <a href="{{ LOGOUT_URL }}">Sign Out</a>
				  {% else %}
                    <a href="{{ LOGIN_URL }}">Sign In</a>
				  {% endif %}
                </li>
              </ul>
            </div>

            <ul class="sf-menu">
              <li class="header">
                <a href="/">Courses</a>
                  {% regroup memberships by offering.semester as by_semester %}
                    <ul>
                    {% for semester in by_semester %}
                    {% for membership in semester.list %}
                      <li><a href="{{membership.offering.get_absolute_url}}">{{semester.grouper.label}} - {{membership.offering.name}}</a></li>
                    {% endfor %}
                    {% endfor %}
                    </ul>
              </li>
<!--              <li>
                <a href="#">A-Z Directory</a>

                <ul class="expanded directory">
                  <li><a href="http://www.sfu.ca/main/dir/a.html">a</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/b.html">b</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/c.html">c</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/d.html">d</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/e.html">e</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/f.html">f</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/g.html">g</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/h.html">h</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/i.html">i</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/j.html">j</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/k.html">k</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/l.html">l</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/m.html">m</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/n.html">n</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/o.html">o</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/p.html">p</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/q.html">q</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/r.html">r</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/s.html">s</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/t.html">t</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/u.html">u</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/v.html">v</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/w.html">w</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/x.html">x</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/y.html">y</a></li>
                  <li><a href="http://www.sfu.ca/main/dir/z.html">z</a></li>
                </ul>
              </li>
-->
              <li>
                {% if user.is_authenticated %}<a href="{{ LOGOUT_URL }}">Sign Out</a>{% else %}<a href="{{ LOGIN_URL }}">Sign In</a>{% endif %}
                <ul class="expanded">
                  <li><a href="http://connect.sfu.ca">SFU Connect + mySFU</a></li>
                  <li><a href="http://go.sfu.ca">Student Information System</a></li>
                  <li><a href="https://canvas.sfu.ca">Canvas</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </section>
      </header>

      <div class="header-divider">
            <div id="sysmenu">
			{% if user.is_authenticated %}
			Logged in as {{user.username}}. <a href="{{ LOGOUT_URL }}">Logout</a>
			{% else %}
			Not logged in. <a href="{{ LOGIN_URL }}">Login</a>
			{% endif %}
			</div>
      </div><!-- end header-divider -->

      <div id="page-content" class="two-column">

        {% block subnav %}
        <div class="subnav-wrapper">
          {% block actions %}{% endblock %}
        </div>
        {% endblock %}

        {% block allbreadcrumbs %}<div class="breadcrumb">
        {% block breadcrumbs %}<ul><li><a href="/">CourSys</a></li>{% block subbreadcrumbs %}{% endblock %}</ul>{% endblock %}
        </div>{% endblock %}

        <div class="mobile-sub-nav">
          <div class="mobile-sub-menu"></div>
        </div>

        <section class="main">
          <div class="inherited-parsys above-main">
            {% block wideactions %}{% endblock %}
            {% if messages %}
			<div id="messages">
			<ul>
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}</li>
			    {% endfor %}
			</ul>
			</div>
			{% endif %}
          </div>

          <div class="parsys main_content">
            <div class="title section">
              <div>
                <h1>{% block h1 %}{% endblock %}</h1>
              </div>
            </div>

            {% block content %}{% endblock %}
          </div>

          <div class="inherited-parsys below-main"></div>
        </section>

        <footer>
          <ul>
            <li><a href="http://www.sfu.ca/admission">Admission</a></li>
            <li><a href="http://www.sfu.ca/programs">Programs</a></li>
            <li><a href="http://www.sfu.ca/learning">Learning</a></li>
            <li><a href="http://www.sfu.ca/research-at-sfu">Research</a></li>
            <li><a href="http://www.sfu.ca/sfu-community">Community</a></li>
            <li><a href="http://www.sfu.ca/about">About</a></li>
          </ul>
          <ul>
            <li><a href="http://www.sfu.ca/campuses/maps.html">Maps + directions</a></li>
            <li><a href="http://www.lib.sfu.ca/">Library</a></li>
            <li><a href="http://www.sfu.ca/calendar">Academic Calendar</a></li>
            <li><a href="http://www.sfu.ca/roads">Road Report</a></li>
            <li><a href="http://www.sfu.ca/advancement">Give to SFU</a></li>
          </ul>

          <ul>
            <li class="header">Connect with us</li>
            <li>
              <div class="inherited-parsys connect-with-us">
                <div class="parsys">
                  <div class="text parbase section">
                    <div class="">
                      <p><a href="http://www.facebook.com/simonfraseruniversity">Facebook</a><br>
                      <a href="http://www.twitter.com/sfu">Twitter</a><br>
                      <a href="http://www.youtube.com/user/SFUNews">YouTube</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <ul>
            <li class="header"><a href="http://www.sfu.ca/clf/contact.html">Contact us</a></li>

            <li>
              <div class="inherited-parsys contact-us">
                <div class="parsys">
                  <div class="text parbase section">
                    <div class="">
                      <p>Simon Fraser University<br>
                      8888 University Drive<br>
                      Burnaby, B.C.<br>
                      Canada V5A 1S6</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <ul>
            <li><div class="inherited-parsys footer-right"></div></li>
            <li><a href="http://www.sfu.ca/contact/terms-conditions.html">Terms and conditions</a></li>
            <li>© Simon Fraser University</li>
          </ul>
        </footer>
      </div>
    </div>
  </div>
  {% compress js %}
  <script type="text/javascript" src="{% static "newsfu/footer.scripts.js" %}"></script>
  <script type="text/javascript" src="{% static "newsfu/toggleFormContent.js" %}"></script>
  {% endcompress %}
</body>
</html>
