{% extends "base.html" %}
{% block content %}
	<p><b><font size = "3"> Create Note </font></b></p><br />
	{% if advisor %}
		{% if student %}
			<p><b>Author:</b> {{ advisor.person.first_name }} {{ advisor.person.last_name}}</p><br />
			<p><b>Student:</b> {{ student.first_name }} {{ student.last_name }} ({{ student.email }})</p><br />
			<form enctype="multipart/form-data" action="/advisors_B/{{ advisor.person.userid }}/{{ student.userid }}/submit/" method="post">
				<label><b>Content:</b><br />
				<textarea name="NoteContent" cols="50" rows="10" wrap="virtual" id="NoteContent"></textarea><br /><br />
				<label><p><b>Attachment:</b></p></label>
				<input type="file" size="50" name="browns" id="browns" value="Browns" /><br /><br />
				<label>
				<input type="checkbox" name="hide" id="hide" value = "off"/>Hidden</label><br /><br />
				<input type="reset" name="Reset" id="button" value="Clear" />&nbsp;&nbsp;
				<input type="submit" value="Submit" />
			</form>
		{% else %}
			<p> Student does not exist </p>
		{% endif %}
	{% else %}
		<p> Advisor does not exist </p>
	{% endif %}
{% endblock content %}