a#addactivity {
    display: block;
    width: 10em;
    height: 2em;
    color: #FFF;
    text-align: center;
    line-height: 2em;
    background-color: #B5111A;
    text-decoration: none;
    font-weight: bold;
}
a#addactivity:hover {
    border-bottom: 5px solid #d8d5d5;
}

/* Override SFU template style */
#container a:hover {
    text-decoration: none;
}
#container {
    z-index: auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */
.dataTables_wrapper {
    width: 700px;
    clear: both;
    
    /* Override style in "media/style/main.css" */
    margin: 0;
    zoom: 1; /* Feeling sorry for IE */
}
.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}
.dataTables_info {
    width: 40%;
    float: left;
}

.dataTables_paginate {
    width: 40%;
    float: right;
    text-align: right;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
    margin: 0;
    width: 100%;
    clear: both;
    
    /* Override style in "media/style/main.css" */
    border-width: 0;
}

table.display thead th {
    padding: 3px 0px 3px 10px;
    font-weight: bold;
    cursor: pointer;
    * cursor: hand;
}

table.display td {
    padding: 3px 10px;
    
    /* Override style in "media/style/main.css" */
    border-width: 0;
}

table.display td.center {
    text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* DataTables row classes
*/
tr.odd {
    background-color: #E2E4FF;
}

tr.even {
    background-color: white;
}


/*
 * jQuery UI specific styling
 */
.paging_full_numbers .fg-button {
    padding: 2px 6px;
    cursor: pointer;
    * cursor: hand;
}

.paging_full_numbers {
    height: 22px;
    line-height: 22px;
}
.fg-toolbar {
    padding: 1px;
}
.dataTables_info {
    height: 22px;
    line-height: 22px;
}


/* The following css will make the sorting icon float to right. Not sure how the underline implementation */
.css_right {
    float: right;
}