{% extends "base.html" %}
{% load markup %}

{% block title %}All News{% endblock %}
{% block h1 %}All News{% endblock %}

{% block subbreadcrumbs %}&gt; News</li>{% endblock %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
<li><a href="{% url dashboard.views.config %}">Configure external news feed</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
{% if news_list%}
<div id="newsitems">
  {% for news in news_list %}
   <div class="newsitem">
   	{%if news.url%}
   	 	<h3>{{news.course.name}}: <a href="{{news.url}}">{{news.title}}</a></h3>
   	{%else%}
   		<h3>{{news.course.name}}: {{news.title}}</h3>
   	{% endif %}
    <div class="newsdate">{{news.published|date:'r'}}</div>
    <div class="newscontent">{{news.content_xhtml}}</div>
    </div>
  {% endfor %}
</div>
{% else %}
<p class="empty">No news items posted for you yet.</p>
{% endif %}
{% endblock %}
