{% extends "base.html" %}

{% block title %}All News{% endblock %}
{% block h1 %}All News{% endblock %}

{% block subbreadcrumbs %}<li>News</li>{% endblock %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
<li><a href="{% url "dashboard.views.config" %}">User Configuration</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
{% if news_list%}
<div id="newsitems">
  {% for news in news_list %}
   <div class="newsitem">
   	<h3>
   	{% if news.course %}{{news.course.name}}: {% endif %} 
   	{%if news.url%}
   	 	<a href="{{news.url}}">{{news.title}}</a>
   	{%else%}
   		{{news.title}}</h3>
   	{% endif %}
   	</h3>
    <div class="newsdate">{{news.published|date:'r'}}</div>
    <div class="newscontent">{{news.content_xhtml}}</div>
    </div>
  {% endfor %}
</div>
{% else %}
<p class="empty">No news items posted for you yet.</p>
{% endif %}
{% endblock %}
