{% extends "base.html" %}
{% load static %}

{% block title %}Calendar{% endblock %}
{% block h1 %}Calendar{% endblock %}

{% block subbreadcrumbs %}<li>Calendar</li>{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}" />
<script src="{% static 'moment/moment.js' %}"></script>
<script src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    events: {
      url: '{% url "calendar:calendar_data" %}',
      cache: true,
      ignoreTimezone: false,
    },
    slotMinutes: 60,
  })
});
</script>
{% endblock %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
<li><a href="{% url "config:config" %}">Configure External Calendar</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div id='calendar' style="width:695px"></div>
{% endblock %}
