{% extends "base.html" %}

{% block title %}Change Advisor Notes API Token{% endblock %}
{% block h1 %}Change Advisor Notes API Token{% endblock %}

{% block subbreadcrumbs %}
<li>
    <a href="{% url "dashboard.views.config" %}">User Configuration</a>
</li>
<li>
    Advisor Notes API
</li>{% endblock %}

{% block content %}

<p>
    The advisor notes API may cause security concerns. Please note that:
</p>
<ul>
    <li>
        A secret token will be generated for your account that allows advising notes to be added via an external API that <strong>bypasses normal authentication</strong>. It is your responsibility to keep this token private.
    </li>
    <li>
        The generated token will contain a long string of random characters that would be essentially impossible to guess.
    </li>
    <li>
        Your token can be deactivated or changed any any time.
    </li>
</ul>

<form action="{% url "dashboard.views.change_advisor_token" %}" method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="field">
        {{ field }} Change my adivsor notes API token.
        {{ field.errors }}
    </div>
    {% endfor %}
    <p>
        <input type="submit" value="Change API Token" />
    </p>
</form>

{% endblock %}