{% extends "base.html" %}

{% block title %}User Configuration{% endblock %}
{% block h1 %}User Configuration{% endblock %}

{% block subbreadcrumbs %}<li>User Configuration</li>{% endblock %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
<li><a href="{% url "config:news_config" %}">Change news item settings</a></li>
{% if newstoken %}
<li><a href="{% url "config:create_news_url" %}">Change news feed URL</a></li>
<li><a href="{% url "config:disable_news_url" %}">Disable external news feed </a></li>
{% else %}
<li><a href="{% url "config:create_news_url" %}">Activate external news feed</a></li>
{% endif %}
{% if caltoken %}
<li><a href="{% url "config:create_calendar_url" %}">Change calendar URL</a></li>
<li><a href="{% url "config:disable_calendar_url" %}">Disable external calendar</a></li>
{% else %}
<li><a href="{% url "config:create_calendar_url" %}">Activate external calendar</a></li>
{% endif %}

{% if instructor or advisor %}
<li class="newsec"><a href="{% url "config:photo_agreement" %}">Display ID Photos</a></li>
{% endif %}
{% if privacy_visible %}
<li><a href="{% url "config:privacy" %}"><i class="fa fa-li fa-lock"></i>Privacy Agreement</a></li>
{% endif %}
{% if da_privacy_visible %}
<li><a href="{% url "config:privacy_da" %}"><i class="fa fa-li fa-lock"></i>Departmental Admin Privacy Agreement</a></li>
{% endif %}

</ul>
</div>
{% endblock %}

{% block content %}
<h2 id="newsconfig">News Notifications</h2>
<p>Your currently <strong>{% if newsconfig.email %}do receive{% else %}do not receive{% endif %}</strong> emails for new notifications within this system. You can change your <a href="{% url "config:news_config" %}">news item settings</a> if you wish.</p>

{% if newstoken %}
<p>Your external news feed is currently enabled at this URL:</p>
<blockquote>
<p><a href="{% url "news:atom_feed" token=newstoken userid=userid %}">{{server_url}}{% url "news:atom_feed" token=newstoken userid=userid %}</a></p>
</blockquote>
<p>You can subscribe to this feed URL in a feed reader like <a href="https://feedly.com/">Feedly</a> or another <a href="http://en.wikipedia.org/wiki/Comparison_of_feed_aggregators">feed aggregator</a> (that supports Atom&nbsp;2.0 feeds).</p>
{% else %}
<p>You do not currently have the external news feed configured.</p>
<p>The news feed can be used to subscribe to your news items (like new grades) in a feed reader like <a href="https://feedly.com/">Feedly</a> or another <a href="http://en.wikipedia.org/wiki/Comparison_of_feed_aggregators">feed aggregator</a> (that supports Atom&nbsp;2.0 feeds).</p>
{% endif %}

<h2 id="extcalendar">External Calendar</h2>
{% if caltoken %}
<p>You can get your calendar as iCalendar at this URL:</p>
<blockquote>
<p><a href="{% url "calendar:calendar_ical" token=caltoken userid=userid %}">{{server_url}}{% url "calendar:calendar_ical" token=caltoken userid=userid %}</a></p>
</blockquote>
<p>
It's probably <strong>better to subscribe to this URL</strong> in your calendaring app, instead of saving the file.
The iCalendar file will contain due dates/times for any assignments in your courses so if you save the file, these won't be updated if the instructor changes them (or adds more assignments). You also won't get changes to exam rooms that are made during the semester.</p>
{% else %}
<p>You do not currently have the external calendar configured.</p>
<p>If you enable the external calendar, you will get a URL that you can subscribe to in a calendaring app like <a href="https://www.google.com/calendar">Google Calendar</a> or <a href="http://en.wikipedia.org/wiki/List_of_applications_with_iCalendar_support">another calendar app</a> (that supports iCalendar).</p>
{% endif %}

<p>You can subscribe to this calendar in <a href="https://connect.sfu.ca/">SFU Connect</a> as well.
Select the Calendar tab, right click on Calendars, and select &ldquo;Add External Calendar&rdquo;.  Select &ldquo;Add External Calendar (other)&rdquo; in the window that appears, change the Type to &ldquo;iCAL Subscription&rdquo;, and enter your calendar URL.
</p>
<p>In Google Calendar: in the &ldquo;Other Calendars&rdquo; menu, select &ldquo;Add by URL&rdquo;, and enter your calendar URL.</p>

{% if advisor %}
    <h2>Advisor Notes API</h2>
    {% if advisortoken %}
    <p>The advisor notes API is currently <strong>enabled</strong> for your account and your secret token is set to:</p>
    <blockquote>
    	<p><i>{{ advisortoken }}</i></p>
    </blockquote>
    <p>You may add advising notes via the external API using your username and token to authenticate. Please ensure that this token is kept private.</p>
    {% else %}
    <p>You currently do not have the advisor notes API enabled.</p>
    {% endif %}
{% endif %}

{% endblock %}
