{% extends "base.html" %}

{% block title %}Disable Advisor Notes API{% endblock %}
{% block h1 %}Disable Advisor Notes API{% endblock %}

{% block subbreadcrumbs %}
<li>
    <a href="{% url "dashboard.views.config" %}">User Configuration</a>
</li>
<li>
    Advisor Notes API
</li>{% endblock %}

{% block content %}

<form action="{% url "dashboard.views.disable_advisor_token" %}" method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="field">
        {{ field }} Disable the advisor notes API for my account.
        {{ field.errors }}
    </div>
    {% endfor %}
    <p>
        <input type="submit" value="Disable Advisor Note API" />
    </p>
</form>

{% endblock %}