{% extends "base.html" %}

{% block title %}{{course}}{% endblock %}
{% block h1 %}{{course}}{% endblock %}
{% block content %}
<p>The links below should work at some point (once there is something to display).  For now, feel free to add links to make testing easier to <code>templates/dashboard/index.html</code>.</p>
<p><a href="/advisors_A">Advisors A</a></p>
<p><a href="/marking">Marking</a></p>
<p><a href="/grades">Grades</a></p>


{% regroup memberships by offering.semester as by_semester %}
{% for semester in by_semester %}
  <h2 id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</h2>
  <ul>
  {% for membership in semester.list %}
    <li><a href="{{membership.offering.get_absolute_url}}">{{membership.offering.name}}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

{% endblock %}
