{% extends "base.html" %}
{% load markup %}
{% load mobile_tags %}

{% block headextra %}
<script type="text/javascript" src="{{MEDIA_URL}}collapsible/js/jQuery.collapsible.js"></script>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  $("div.newsitem h3").collapsible();
  $("h2.semester").collapsible();
  $("h2.timely").trigger('expand');
});
//]]></script>
{% endblock %}

{% block title %}CourSys{% endblock %}
{% block h1 %}CourSys{% endblock %} 


{% block breadcrumbs %}<li><a href="http://www.sfu.ca/">SFU</a></li><li>&gt; CourSys</li>{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
	
    <li><a href="{% url dashboard.views.news_list %}">All News Items</a></li>
    <li><a href="{% url dashboard.views.config %}">User Configuration</a></li>
    <li><a href="{% url dashboard.views.calendar %}">View Calendar</a></li>
    {# {% if 'FAC' in roles or 'SESS' in roles or 'COOP' in roles %}<li><a href="{% url planning.views.instructor_index %}">Teaching Preferences</a></li>{% endif %} #}
    {% if 'PLAN' in roles %}<li><a href="{% url planning.views.admin_index %}">Course Planning</a></li>{% endif %}  
    {# <li><a href="{% url planning.views.semester_plan_index %}">Semester Plans</a></li> #}
    {% if 'DISC' in roles %}<li><a href="{% url discipline.views.chair_index %}">Discipline Cases</a></li>{% endif %}
    {% if 'SYSA' in roles %}<li><a href="{% url coredata.views.sysadmin %}">System Administration</a></li>{% endif %}
    {% if staff_memberships %}<li><a href="{% url dashboard.views.list_docs %}">View Documentation</a></li>{% endif %}
    {% if 'ADVS' in roles %}<li><a href="{% url advisornotes.views.advising %}">Advisor Notes</a></li>{% endif %}
    {% if 'GRAD' in roles %}<li class="newsec"><a href="{% url grad.views.index %}">Grad Students</a></li>{% endif %}
    {% if 'FUND' in roles %}<li class="newsec"><a href="{% url ra.views.search %}">Research Associates</a></li>{% endif %}
    {% if 'FUND' in roles %}<li class="newsec"><a href="{% url ra.views.accounts_index %}">Manage Accounts</a></li>{% endif %}
    {% if 'FUND' in roles %}<li><a href="{% url ra.views.projects_index %}">Manage Projects</a></li>{% endif %}
    {% if 'ADMN' in roles %}<li><a href="{% url ta.views.all_tugs_admin %}">Time Use Guidelines</a></li>{% endif %}
    <li  class='newsec'><a href="{% url ta.views.view_postings %}">TA Job Postings</a></li>
    {% if 'TAAD' in roles %}<li><a href="{% url ta.views.all_contracts %}">TA Contracts</a></li>{% endif %}
    {% if 'ADMN' in roles %}<li class="newsec"><a href="{% url coredata.views.unit_admin %}">Department Management</a></li>{% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}

{% if request.is_mobile %}
    <div>Browsing on a mobile device? <a href="{{ request.REQUEST.url|mobilize_url }}">Visit our mobile site.</a></div>
{% endif %}

{% if news_list%}
<h2>Latest news</h2>
<div id="newsitems">
  {% for news in news_list %}
    <div class="newsitem">
    <h3>
   	{% if news.course %}{{news.course.name}}: {% endif %} 
   	{%if news.url%}
   	 	<a href="{{news.url}}">{{news.title}}</a>
   	{%else%}
   		{{news.title}}</h3>
   	{% endif %}
   	</h3>
    <div class="newsmore">
    <div class="newsdate">{{news.published|date:'r'}}</div>
    <div class="newscontent">{{news.content_xhtml}}</div>
    </div>
    </div>
  {% endfor %}
   
</div>
{% endif %}


{% regroup memberships by offering.semester as by_semester %}
{% for semester in by_semester %}
  <h2 class="semester{% if semester.grouper.timely %} timely{% endif %}" id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</h2>
  <ul>
  {% for membership in semester.list %}
    <li><a href="{{membership.offering.get_absolute_url}}">{{membership.offering.name}}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

{% endblock %}
