{% extends "base.html" %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $("div.newsitem h3").collapsible();
  $("h2.semester").collapsible();
  $("h2.timely").trigger('expand');
});
</script>
{% endblock %}

{% block wholetitle %}{{ CourSys }}{% endblock %}
{% block h1 %}{{ CourSys }}{% endblock %}


{% block allbreadcrumbs %}{% endblock %}

{% block actions %}
<div id="actions">
    <h2>Actions</h2>
    <ul class="fa-ul">
    <li><a href="{% url "news:news_list" %}"><i class="fa fa-li fa-envelope"></i> All News Items</a></li>
    <li><a href="{% url "calendar:calendar" %}"><i class="fa fa-li fa-calendar"></i> View Calendar</a></li>
    
    {% if 'DISC' in roles %}<li><a href="{% url "discipline:chair_index" %}"><i class="fa fa-li fa-gavel"></i> Discipline Cases</a></li>{% endif %}
    {% if 'ADVS' in roles or 'ADVM' in roles %}<li><a href="{% url "advising:advising" %}"><i class="fa fa-li fa-comments"></i> Advisor Notes</a></li>{% endif %}
    {% if 'OUTR' in roles %}<li><a href="{% url "outreach:outreach_index" %}"><i class="fa fa-li fa-university"></i> Outreach </a></li>{% endif %}
    {% if 'INV' in roles %}<li><a href="{% url "inventory:inventory_index" %}"><i class="fa fa-li fa-laptop"></i> Inventory </a></li>{% endif %}
    {% if 'SPAC' in roles %}<li><a href="{% url "space:index" %}"><i class="fa fa-li fa-building"></i> Space Management</a></li>{% endif %}
    {% if 'RELA' in roles %}<li><a href="{% url "relationships:index" %}"><i class="fa fa-li fa-address-book"></i> Relationships </a></li>{% endif %}

    {% if 'GRAD' in roles or 'GRPD' in roles %}<li class="newsec"><a href="{% url "grad:index" %}"><i class="fa fa-li fa-group"></i> Grad Students</a></li>{% endif %}

    {% if 'FUND' in roles %}<li class="newsec"><a href="{% url "ra:search" %}"><i class="fa fa-li fa-money"></i> Research Associates</a></li>{% endif %}
    {% if 'ADMN' in roles or 'TAAD' in roles or is_instructor %}<li><a href="{% url "tugs:all_tugs_admin" %}"><i class="fa fa-li fa-clock-o"></i> Time Use Guidelines</a></li>{% endif %}

    <li class='newsec'><a href="{% url "onlineforms:index" %}"><i class="fa fa-li fa-envelope-o"></i> Online Forms</a></li>
    {% if cmpt_taadmn  %}<li><a href="{% url "ta:view_postings" %}"><i class="fa fa-li fa-briefcase"></i> TA Job Postings</a></li>{% endif %}
    {% if other_taadmn %}<li><a href="{% url "tacontracts:list_all_semesters" %}"><i class="fa fa-li fa-file-zip-o"></i> TA Contracts</a></li>{% endif %}
    {% if 'ADMN' in roles or 'FACR' in roles or 'FACA' in roles %}
        <li><a href="{% url "faculty:index" %}"><i class="fa fa-li fa-files-o"></i> Faculty Management</a></li>
    {% endif %}
    {% if 'ADMN' in roles %}
        <li><a href="{% url "admin:unit_admin" %}"><i class="fa fa-li fa-gears"></i> Department Management</a></li>
    {% endif %}
    {% if 'GRAD' in roles or 'ADMN' in roles or 'TAAD' in roles %}
        <li><a href="{% url "sessionals:sessionals_index" %}"><i class="fa fa-li fa-bell"></i> Sessional Management</a></li>
    {% endif %}
    {% if 'GRAD' in roles or 'GRPD' in roles or 'ADMN' in roles or 'TAAD' in roles %}
        <li><a href="{% url "visas:list_all_visas" %}"><i class="fa fa-li fa-plane"></i> Manage Visas</a></li>
    {% endif %}

    
    {% if has_grads %}<li ><a href="{% url "dashboard:supervisor_index" %}"><i class="fa fa-li fa-group"></i> My Grad Students</a></li>{% endif %}
    {% if has_ras %}<li ><a href="{% url "ra:browse" %}"><i class="fa fa-li fa-user-plus"></i> My RAs</a></li>{% endif %}

    {% if 'SYSA' in roles %}
    <li><a href="{% url "sysadmin:sysadmin" %}"><i class="fa fa-li fa-bolt"></i> System Administration</a></li>{% endif %}
    {% if has_reports or 'REPV' in roles or 'SYSA' in roles %}
    <li><a href="{% url "reports:view_reports" %}"><i class="fa fa-li fa-book"></i> Reports</a></li>{% endif %}
    
    <li class="newsec"><a href="{% url "config:config" %}"><i class="fa fa-li fa-wrench"></i> User Configuration</a></li>
    <li><a href="{% url "browse:browse_courses" %}"><i class="fa fa-li fa-eye"></i> Browse Course Offerings</a></li>
    {% if excluded %}<li><a href="{% url "dashboard:index_full" %}"><i class="fa fa-li fa-archive"></i> View Older Courses</a></li>{% endif %}
    {% if staff_memberships or form_groups %}
    <li><a href="{% url "docs:list_docs" %}"><i class="fa fa-li fa-question"></i> View Documentation</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}

{% if news_list%}
<h2>Latest news</h2>
<div id="newsitems">
  {% for news in news_list %}
    <div class="newsitem">
    <h3>
   	{% if news.course %}{{news.course.name}}: {% endif %} 
   	{%if news.url%}
   	 	<a href="{{news.url}}">{{news.title}}</a>
   	{%else%}
   		{{news.title}}
   	{% endif %}
   	</h3>
    <div class="newsmore">
    <div class="newsdate">{{news.published}}</div>
    <div class="newscontent">{{news.content_xhtml}}</div>
    </div>
    </div>
  {% endfor %}
</div>
{% endif %}


{% regroup memberships by offering.semester as by_semester %}
{% for semester in by_semester %}
  <h2 class="semester{% if semester.grouper.timely %} timely{% endif %}" id="semester-{{semester.grouper.name}}">{{semester.grouper.label}}</h2>
  <ul>
  {% for membership in semester.list %}
    <li><a href="{{membership.offering.get_absolute_url}}">{{membership.offering.name}}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

{% endblock %}
