{% extends "grades/base.html" %}

{% block subbreadcrumbs %}&gt;<a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li><li>&gt; New Message</li>{% endblock %}

{% block title %}Create a new message{% endblock %}

{% block h1 %}Create a new message{% endblock %}

{% block content %}
<form action="{% url dashboard.views.new_message course_slug=course.slug %}" method="POST", enctype="multipart/form-data">
<fieldset>
<legend>New Message</legend>
{{form.as_p}}
<br>
</fieldset>
<br>
<a class = "redbutton reset_button" href="{% url dashboard.views.new_message course.slug %}" >Reset</a>
<input class="submit" type="submit" value="Save" />
</form>

{% endblock %}
