{% extends "base.html" %}
{% load markup %}

{% block title %}Configure News Feed{% endblock %}
{% block h1 %}Configure News Feed{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url dashboard.views.news_list %}">News</a></li><li>&gt; Configure Feed</li>{% endblock %}

{% block actions %}
<div id="actions">
<h2>Actions</h2>
<ul>
{% if token %}
<li><a href="{% url dashboard.views.create_news_url %}">Change feed URL</a></li>
<li><a href="{% url dashboard.views.disable_news_url %}">Disable external feed </a></li>
{% else %}
<li><a href="{% url dashboard.views.create_news_url %}">Activate external feed</a></li>
{% endif %}
</ul>
</div>
{% endblock %}

{% block content %}
{% if token %}
<p>Your external news feed is currently enabled at this URL:</p>
<blockquote>
<a href="{% url dashboard.views.atom_feed token=token userid=userid %}">{{server_url}}{% url dashboard.views.atom_feed token=token userid=userid %}</a>
</blockquote>
{% else %}
<p>You do not currently have the external news feed configured.</p>
{% endif %}


{% endblock %}
