{% extends "base.html" %}
{% load search_display %}

{% block title %}{% if query %}Search Results for &ldquo;{{ query }}&rdquo;{% else %}Site Search{% endif %}{% endblock %}
{% block h1 %}{% if query %}Search Results for &ldquo;{{ query }}&rdquo;{% else %}Site Search{% endif %}{% endblock %}

{% block subbreadcrumbs %}<li>Search{% if query %} Results{% endif %}</li>{% endblock %}

{% block actions %}
{% endblock %}

{% block headextra %}
<style>
#resultstable col.resultscore {
    text-align: center;
}
.highlighted {
    font-weight: bold;
}
</style>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
  $('#search-results').dataTable( {
    'bPaginate': false,
    'bInfo': false,
    'bLengthChange': false,
    "bJQueryUI": true,
    'aaSorting': [[0,'desc']],
  } );
} );
</script>
{% endblock %}

{% block content %}
<form action="" method="get">
<p>Search{% if query %} again{% endif %}: <input type="text" name="q" value="{{ query }}" />
<input type="submit" class="inlinebutton" value="Search" />
</p>
</form>

{% if results %}
<table id="search-results" class="display">
  <thead><tr>
      <th scope="col">Score</th>
      <th scope="col">Result</th>
      <th scope="col">Type</th>
  </tr></thead>
  <tbody>
  {% for r in results %}
  <tr>
  <td class="stars">
      <span class="sort">{{ r.score|format_score }}</span>
      {{ r.score|score_stars:maxscore }}
  </td>
  <td>
      {% if r.url %}
      <a href="{{ r.url }}">{{ r.search_display }}</a>
      {% else %}
      {{ r.search_display }}
      {% endif %}
  </td>
  <td>{% if r.content_type == 'coredata.member' and r.role == 'TA' %}TA in your class{% else %}{{ r.content_type|display_type }}{% endif %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p class="empty">Sorry, no results.</p>
{% endif %}


{% endblock %}
