[Unit]
Description="CourSys gunicorn process"
After=network.target

[Service]
Environment='PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/home/coursys/sqllib/bin:/home/coursys/sqllib/adm:/home/coursys/sqllib/misc' 'DB2DIR=/opt/ibm/db2/V9.7' 'DB2INSTANCE=coursys' 'INSTHOME=/home/coursys' 'LD_LIBRARY_PATH=/home/coursys/sqllib/lib64:/home/coursys/sqllib/lib32' 'LANG=en_CA.UTF-8'
# DB2 doesn't return UTF-8 strings without LANG=en_CA.UTF-8

PIDFile=/run/gunicorn/pid
User=coursys
Group=coursys
WorkingDirectory=/home/coursys/courses
ExecStart=/usr/local/bin/gunicorn --workers=5 --worker-class=sync --max-requests=1000 --log-file=/var/log/gunicorn/server.log --bind 127.0.0.1:8000 courses.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
