{% extends "base.html" %}
{% load form_display %}

{% block title %} Edit Field Type {% endblock %}
{% block h1 %} Edit Field Type {% endblock %}

{% block headextra %}
    <!-- Changes must also be applied to new_field.html -->
    {% if choices %}
        <script type="text/javascript">
            $(document).ready(function () {

                var choice_count = 0;
                var r_button = '<input type="button" name="remove_choice" value="Remove"/>';

                $('input[name^="choice_"]').after(r_button)
                $('input[name^="remove_choice"]').click(function(){
                    alert("TEST")
                })

                var new_choice_field = function () {

                    new_choice = '<div class="choice"><dt><label for="choice_' + choice_count + '">Choice: </label></dt><dd>\ ' +
                            '<div class="field"><input type="text" name="choice_' + choice_count + '" id="id_choice_' + choice_count + '" />'+r_button+'</div>\ ' +
                            '</dd></div>'

                    return new_choice
                }

                $("dd").last().after('<dt id="add_dt"><label for="add_button">Add</label></dt><dd>\ ' +
                        '<div class="field"><input type="button" name="Add Choice" value="Add Choice" id="add_button" /></div>\ ' +
                        '</dd></div>');

                $("#add_button").click(function () {
                    choice_count++
                    while($("#id_choice_"+choice_count).length){
                        choice_count++
                    }
                    $('#add_dt').before(new_choice_field());

                    $('input[name^="remove_choice"]').unbind('click');
                    $('input[name^="remove_choice"]').click(function(){
                        $(this).parents('.choice').remove()
                    })
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="form_container">
        {% if form.non_field_errors %}
            <p class="errorindicator">
                <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation"/>
                {{ form.non_field_errors }}
            </p>
        {% endif %}
        <form action="{% url onlineforms.views.edit_field form_slug=slug_form sheet_slug=slug_sheet field_slug=slug_field %}"
              method="post" name="form">{% csrf_token %}
            <fieldset>
                <legend> Edit Field Type</legend>
                <ul>
                    {{ form|as_dl }}
                    <li>
                        <input class="submit" type="submit" value="Update"/>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
{% endblock %}