{% extends "base.html" %}
{% load form_display %}

{% block title %}{{ owner_sheet.title }}{% endblock %}
{% block h1 %}Edit {{ owner_sheet.title }}{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "onlineforms:index" %}">Forms</a></li>
<li><a href="{% url "onlineforms:list_all" %}">Edit Forms</a></li>
<li><a href="{% url "onlineforms:view_form" form_slug=owner_form.slug %}">{{ owner_form.title }}</a></li>
<li>{{ owner_sheet.title }}</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url "onlineforms:edit_sheet_info" form_slug=owner_form.slug sheet_slug=owner_sheet.slug %}">Edit Sheet Info</a></li>
        <li><a href="{% url "onlineforms:preview_sheet" form_slug=owner_form.slug sheet_slug=owner_sheet.slug %}">Preview</a></li>
        <li class="newsec"><a href="{% url "onlineforms:new_field" form_slug=owner_form.slug sheet_slug=owner_sheet.slug %}">Add Field</a></li>
    </ul>
</div>
{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
    $(document).ready(function() {
        $('#fetchwait').hide();
        // activate dataTable ui
        $('#fields_table').dataTable({
            "bJQueryUI": false,
            "bSort": false,
            "bPaginate": false,
            "bFilter": false,
            "bInfo": false,
        });

        $('#fields_table_body').sortable({
           axis: 'y',
           update: function() {
               $('#fetchwait').show();
               let data = $(this).sortable('serialize').concat('&csrfmiddlewaretoken={{ csrf_token }}');
               $.ajax({
                   data: data,
                   type: 'POST',
                   url: "{% url "onlineforms:reorder_field" form_slug=owner_form.slug sheet_slug=owner_sheet.slug %}",
                   success: function() {
                       $('#fetchwait').hide();
                   }
               });
           }
        });
    });

</script>
{% endblock %}

{% block content %}
<div class="table_container">
    <table class="info">
        <tr>
            <th scope="row">On Form</th>
            <td><a href="{% url "onlineforms:view_form" form_slug=owner_form.slug %}">{{ owner_sheet.form.title }}</a>
            	{% if owner_sheet.is_initial %}(initial sheet){% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Visibility</th>
            <td>{{ owner_sheet.get_can_view_display }}</td>
        </tr>
    </table>
</div>
<div class="form_container">
        {% if fields %}
            <p class="infomessage">To change the order of the fields, simply drag and drop them to their desired
                position. <span id="fetchwait"><i class="fa fa-spinner fa-spin"></i> Please wait, re-ordering</span></p>
            <table class="display" id="fields_table">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Type</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
            <tbody id="fields_table_body">
                {% for field in fields %}
                <tr id="field_{{ field.modelField.id }}">
                    <td>
                        {{ field.formField.label }}
                    </td>
                    <td>
                        {{ field.formField.type }}
                    </td>
                    <td>
                        <a href="{% url "onlineforms:edit_field" form_slug=owner_form.slug sheet_slug=owner_sheet.slug field_slug=field.modelField.slug %}">Edit</a>
                    </td>
                    <td class="miniaction">
                        <form action="{% url "onlineforms:edit_sheet" form_slug=owner_form.slug sheet_slug=owner_sheet.slug %}" method="post">{% csrf_token %}
                        <p> 
                            <input type="hidden" name="field_id" value="{{field.modelField.id}}" />
                            <input type="hidden" name="action" value="del" />
                            <input type="submit" value="Remove" class="confirm-submit" data-submit-action="remove this field" />
                        </p>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        {% else %}
            <div>There are currently no fields.</div>
        {% endif %} 
</div>
{% endblock %}