{% extends "base.html" %}
{% load form_display %}

{% block title %} New Field Type {% endblock %}
{% block h1 %} New Field Type {% endblock %}


{% block content %}
    <div id="form_container">
        {% if form.non_field_errors %}
            <p class="errorindicator">
                <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation"/>
                {{ form.non_field_errors }}
            </p>
        {% endif %}
        <form action=""
              method="post" name="form">{% csrf_token %}
            <fieldset>
                <legend> New Field Type</legend>
                <ul>
                    {{ form|as_dl }}
                    <li>
                        <input type="hidden" name="next_section" value="{{ section }}"/>
                        <input type="hidden" name="type_name" value="{{ type_name }}"/>
                        <input class="submit" type="submit" value="Next"/>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
{% endblock %}