{% extends "base.html" %}
{% load form_display %}

{% block title %}{{ owner_sheet.title }}{% endblock %}
{% block h1 %}Edit {{ owner_sheet.title }}{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url onlineforms.views.list_all %}">Forms</a></li>
<li>&gt; <a href="{% url onlineforms.views.edit_form form_slug=owner_form.slug %}">{{ owner_form.title }}</a></li>
<li>&gt; {{ owner_sheet.title }}</li>
{% endblock %}

{% block content %}
<div id="form_container">
    {% if form.non_field_errors %}
    <p class="errorindicator">
        <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
        {{ form.non_field_errors }}
    </p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <fieldset>
            <legend>{{ owner_sheet.title }}</legend>
            <ul>
                <li>
                    {{form|as_dl}}
                </li>
                <li>
                    <table>
                        <tr>
                            <th>Label</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    {% for field in fields %}
                        <tr>
                            <td>{{  field.label }}</td>
                            <td><a href="{% url onlineforms.views.edit_field form_slug=owner_form.slug sheet_slug=owner_sheet.slug field_slug=field.slug %}">Edit</a></td>
                            <td>
                                <form action="{% url onlineforms.views.edit_sheet form_slug=owner_form.slug sheet_slug=owner_sheet.slug %}" method="post">{% csrf_token %}
                                <p> 
                                    <input type="hidden" name="field_id" value="{{field.id}}" />
                                    <input type="hidden" name="action" value="del" />
                                    <input type="submit" value="Remove" onclick="return confirmSubmit('remove this field')" />
                                </p>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </li>
                <li>
                    <a href="{% url onlineforms.views.new_field form_slug=owner_form.slug sheet_slug=owner_sheet.slug %}">Add Field</a>
                </li>
            </ul>
        </fieldset>
    </form>
</div>
{% endblock %}