{% extends "base.html" %}
{% load form_display %}
{% block h1 %}Edit {{ owner_form.title }}{% endblock %}
{% block title %}Edit {{ owner_form.title }}{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url "onlineforms.views.index" %}">Forms</a></li>
<li>&gt; <a href="{% url "onlineforms.views.list_all" %}">Edit Forms</a></li>
<li>&gt; <a href="{% url "onlineforms.views.view_form" form_slug=owner_form.slug %}">{{ owner_form.title }}</a></li>
<li>&gt; Edit</li>
{% endblock %}

{% block content %}
<div class="form_container">
    <form action="{% url "onlineforms.views.edit_form" form_slug=owner_form.slug %}"  method="post"> {% csrf_token %}
        <fieldset>
            <legend>Form Information</legend>
                {{form|as_dl}}           
            <input type="hidden" name="action" value="edit" />
            <input class="submit" type="submit" value="Submit" />
        </fieldset>
    </form>
</div>
{% endblock %}