{% extends "base.html" %}
{% load form_display %}
{% block h1 %} Manage Forms {% endblock %}
{% block title %} Manage Forms {% endblock %}

{% block headextra %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#form_table').dataTable({
                    "bPaginate": false,
                    "bJQueryUI": true,
                    "aaSorting": [[0, "asc"]],
        });
    });
</script>
{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; Manage Forms</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url onlineforms.views.new_form %}">New Form</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="datatable_container">
    {% if forms %}
        <table class="display" id="form_table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Initiators</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Active</th>
                    <th scope="col">Original</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            {% for form in forms %}
                <tr>
                    <td><a href="{% url onlineforms.views.view_form form_slug=form.slug %}">{{ form.title }}</a></td>
                    <td>{{ form.owner|default:"" }}</td>
                    <td>{{ form.initiators|default:"" }}</td>
                    <td>{{ form.unit|default:"" }}</td>
                    <td>{{ form.active }}</td>
                    <td>{{ form.original|default:"" }}</td>  
                    <td class="miniaction">
                        <form action="{% url onlineforms.views.list_all %}" method="post">{% csrf_token %}
                            <a href="{% url onlineforms.views.edit_form form_slug=form.slug %}">Edit</a>  
                            <input type="hidden" name="action" value="del" />
                            <p>    
                                <input type="hidden" name="form_id" value="{{form.id}}" />
                                <input type="submit" value="Remove" onclick="return confirmSubmit('remove this Form')" />
                            </p>
                        </form>
                    </td>
                </tr>
              {% endfor %}
        </table>
    {% else %}
            <p>There are currently no forms.</p>
    {% endif %}
</div>
{% endblock %}