{% extends "base.html" %}
{% load form_display %}

{% block title %} Create New Group{% endblock %}
{% block h1 %} Create New Group {% endblock %}

{% block subbreadcrumbs %}{% endblock %}

{% block content %}
<div id="form-container">
	<form action="{% url onlineforms.views.new_group %}" method="POST">
		{% csrf_token %}
		 <fieldset>
            <legend>New Group Information</legend>
            <ul>
                {{form|as_dl}}
                <li>
                    <input class="submit" type="submit" value="Submit" />
                </li>
            </ul>
        </fieldset>
	</form>
</div>
{% endblock %}