{% extends "base.html" %}
{% load form_display %}

{% block title %} New Field Type {% endblock %}
{% block h1 %} New Field Type {% endblock %}

{% block content %}
    <div id="form_container">
        {% if form.non_field_errors %}
        <p class="errorindicator">
            <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
            {{ form.non_field_errors }}
        </p>
        {% endif %}
        <form action="{% url onlineforms.views.new_field form_slug=slug_form sheet_slug=slug_sheet%}" method="post">{% csrf_token %}
            <fieldset>
                <legend> New Field Type </legend>
                <ul>
                    {{form|as_dl}}
                    <li>
                        <input class="submit" type="submit" value="Create" />
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
{% endblock %}