{% extends "base.html" %}
{% load form_display %}

{% block title %}Create New Group{% endblock %}
{% block h1 %}Create New Group {% endblock %}

{% block subbreadcrumbs %}
<li>
    <a href="{% url "onlineforms.views.index" %}">Forms</a>
</li>
<li>
    <a href="{% url "onlineforms.views.manage_groups" %}">Groups</a>
</li>
<li>
    New Group
</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url "onlineforms.views.manage_groups" %}">Manage Groups</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div id="form-container" style="clear: left;">
            <form action="{% url "onlineforms.views.new_group" %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>New Group Information</legend>
                <ul>
                    <li>
                        {{form|as_dl}}
                    </li>
                    <li>
                        <input class="submit" type="submit" value="Next" />
                    </li>
                </ul>
            </fieldset>
            </form>
</div>


{% endblock %}