{% extends "base.html" %}
{% load form_display %}

{% block title %}New Sheet{% endblock %}
{% block h1 %}New Sheet{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "onlineforms.views.index" %}">Forms</a></li>
<li><a href="{% url "onlineforms.views.list_all" %}">Edit Forms</a></li>
<li><a href="{% url "onlineforms.views.view_form" form_slug=owner_form.slug %}">{{owner_form.title}}</a></li>
<li>New Sheet</li>
{% endblock %}

{% block content %}
<div class="form_container">
    <form action="{% url "onlineforms.views.new_sheet" form_slug=owner_form.slug %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Sheet Information</legend>
                    {{ form|as_dl }}
                    <p><input class="submit" type="submit" value="Submit"/></p>
        </fieldset>
    </form>
</div>
{% endblock %}
