{% extends "base.html" %}
{% load form_display %}

{% block title %}Preview {{owner_sheet.title }}{% endblock %}
{% block h1 %}Preview {{owner_sheet.title }}{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{{STATIC_URL}}style/onlineforms.css" media="all" />
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  $('.date-input').datepicker({ buttonImageOnly: true, buttonImage: '{{STATIC_URL}}images/grades/calendar.png',
                                changeMonth: true, changeYear: true,
                                dateFormat: 'yy-mm-dd', showOn: 'both'});
});
//]]></script>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "onlineforms.views.index" %}">Forms</a></li>
<li><a href="{% url "onlineforms.views.list_all" %}">Manage Forms</a></li>
<li><a href="{% url "onlineforms.views.view_form" form_slug=owner_form.slug %}">{{ owner_form.title }}</a></li>
<li><a href="{% url "onlineforms.views.edit_sheet" form_slug=owner_form.slug sheet_slug=owner_sheet.slug%}">{{ owner_sheet.title }}</a></li>
<li>Preview</li>
{% endblock %}

{% block content %}
    <form action="#" method="post">{% csrf_token %}
        <fieldset>
            <legend>{{form.title}}</legend>
            {{form|as_dl_onlineforms}}
        </fieldset>
    </form>
{% endblock %}
