{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block title %}Preview {{owner_form.title }} sheets{% endblock %}
{% block h1 %}Preview {{owner_form.title }} sheets{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'style/onlineforms.css' %}" media="all" />
<script type="text/javascript" src="{% static 'js/onlineforms.js' %}"></script>
{% if owner_form.jsfile %}
    <script type="text/javascript" src={{owner_form.jsfile|get_js_path }}></script>
{% endif %}
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "onlineforms:index" %}">Forms</a></li>
<li><a href="{% url "onlineforms:list_all" %}">Manage Forms</a></li>
<li><a href="{% url "onlineforms:view_form" form_slug=owner_form.slug %}">{{ owner_form.title }}</a></li>
<li>Preview</li>
{% endblock %}

{% block content %}
    <p>What follows is a preview of all of the sheets on this form: nobody would ever see more than one of these at a time, but it may be useful to see everything all together like this.</p>
    {% for form in sheet_forms %}
    <form action="#" method="post">{% csrf_token %}
        <fieldset>
            <legend>{{form.title}}</legend>
            {{form|as_dl_onlineforms}}
        </fieldset>
    </form>
    {% endfor %}
{% endblock %}
