{% extends "base.html" %}
{% load form_display %}
{% block h1 %}{{ form.title }}{% endblock %}
{% block title %}{{ form.title }}{% endblock %}

{% block headextra %}<script type="text/javascript">
//<![CDATA[
    $(document).ready(function() {
    $('#form_table').dataTable({
                "bPaginate": false,
                "bJQueryUI": true,
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
        ]
    });

    });

//]]></script>
{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url onlineforms.views.list_all %}">Forms</a></li>
<li>&gt; {{ form.title }}</li>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url onlineforms.views.edit_form form_slug=form.slug %}">Edit Form Info</a></li>
        <li><a href="{% url onlineforms.views.new_sheet form_slug=form.slug %}">New Sheet</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<h2>Form Info</h2>
<table>
    <tr>
        <td>Title</td>
        <td>{{ form.title }}</td>
    </tr>
    <tr>
        <td>Owner</td>
        <td>{{ form.owner }}</td>
    </tr>
    <tr>
        <td>Initiators</td>
        <td>{{ form.initiators }}</td>
    </tr>
    <tr>
        <td>Unit</td>
        <td>{{ form.unit }}</td>
    </tr>
</table>
<h2>Sheets</h2>
<div class="datatable_container">
    {% if sheets %}
        <table class="display" id="sheet_table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Is Initial</th>
                    <th scope="col">Can View</th>
                    <th scope="col">Original</th>
                </tr>
            </thead>
            {% for sheet in sheets %}
                <tr>
                    <td><a href="{% url onlineforms.views.edit_sheet form_slug=form.slug sheet_slug=sheet.slug %}">{{ sheet.title }}</a></td>
                    <td>{{ sheet.is_initial|default:"" }}</td>
                    <td>{{ sheet.can_view|default:"" }}</td>
                    <td>{{ sheet.original|default:"" }}</td>
                </tr>
              {% endfor %}
        </table>
    {% else %}
            <p>There are currently no sheets.</p>
    {% endif %}
</div>

{% endblock %}
