{% extends "base.html" %}
{% load form_display %}
{% load static %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'style/ra.css' %}" />
{% endblock %}

{% block title %}Payroll Appointment Form Configuration{% endblock %}
{% block h1 %}Payroll Appointment Form Configuration{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "ra:dashboard" %}">RA Dashboard</a></li>
<li><a href="{% url "ra:view_request" ra_slug=req.slug %}">View RA {{ status }} for {{ req.get_name }}</a></li>
<li>Payroll Appointment Form Configuration</li>{% endblock %}

{% block content %}
  <h2>Configuration</h2>
  <div class="form_container">
    <form action="{% url "ra:request_admin_paf_update" ra_slug=req.slug %}" method="POST" class="subtle">{% csrf_token %}
      <fieldset>
        <div class="form_section">
        {{ adminpafform|as_dl_includefields:"position_no,object_code,paf_comments,fs1_program"}}
        {% if req.fs2_option %}
        {{ adminpafform|as_dl_includefields:"fs2_program" }}
        {% endif %}
        {% if req.fs3_option %}
        {{ adminpafform|as_dl_includefields:"fs3_program" }}
        {% endif %}
        {{ adminpafform|as_dl_includefields:"encumbered_hours"}} 
        <div class="helptext">(Enter if different from <b>{{req.get_encumbered_hours}})</b></div>
        {% if req.fs2_option %}
        <h3>Bi-Weekly Rates and Percentages for Multiple Funding Sources</h3>
        <h4>Overall</h4>
        <div class="important_info row"> 
          <b>Total Pay:</b> ${{ req.total_pay|floatformat:2 }} | 
          <b>Start:</b> {{ req.start_date.isoformat }} | 
          <b>End:</b> {{ req.end_date.isoformat }} | 
          <b>Bi-Weekly Rate:</b> ${{ req.biweekly_salary|floatformat:2 }}
        </div>
        <h4>Funding Source #1</h4>
        <div class="important_info row">
        <b>Total Pay:</b> ${{ req.fs1_amount|floatformat:2 }} | 
        <b>Start:</b> {{ req.fs1_start_date }} | 
        <b>End:</b> {{ req.fs1_end_date }} | 
        <b>Est. Pay Periods:</b> {{ req.fs1_info.pay_periods }} | 
        <b>Est. Bi-Weekly Rate:</b> {{ req.fs1_info.biweekly_rate }} | 
        <b>Est. Percentage:</b> {{ req.fs1_info.percentage }}
        </div>
        {{ adminpafform|as_dl_includefields:"fs1_percentage,fs1_biweekly_rate"}}
        <h4>Funding Source #2</h4>
        <div class="important_info row">
        <b>Total Pay:</b> ${{ req.fs2_amount|floatformat:2 }} | 
        <b>Start:</b> {{ req.fs2_start_date }} | 
        <b>End:</b> {{ req.fs2_end_date }} | 
        <b>Est. Pay Periods:</b> {{ req.fs2_info.pay_periods }} | 
        <b>Est. Bi-Weekly Rate:</b> {{ req.fs2_info.biweekly_rate }} | 
        <b>Est. Percentage:</b> {{ req.fs2_info.percentage }}
        </div>
        {{ adminpafform|as_dl_includefields:"fs2_percentage,fs2_biweekly_rate" }}
        {% endif %}
        {% if req.fs3_option %}
        <h4>Funding Source #3</h4>
        <div class="important_info row">
        <b>Total Pay:</b> ${{ req.fs3_amount|floatformat:2 }} | 
        <b>Start:</b> {{ req.fs3_start_date }} | 
        <b>End:</b> {{ req.fs3_end_date }} | 
        <b>Est. Pay Periods:</b> {{ req.fs3_info.pay_periods }} | 
        <b>Est. Bi-Weekly Rate:</b> {{ req.fs3_info.biweekly_rate }} | 
        <b>Est. Percentage:</b> {{ req.fs3_info.percentage }}
        </div>
        {{ adminpafform|as_dl_includefields:"fs3_percentage,fs3_biweekly_rate" }}
        {% endif %}
        </div> 
        <p><input type="submit" class="submit" value="Update PAF Configuration" /></p>
      </fieldset>
    </form>
  </div>

  <h2>Important Information about Appointee</h2>
  <div class="form_container">
    {% if req.nonstudent %}
      <i>This appointment is not associated with anyone in the system (appointee does not have an ID).</i> 
    {% else %}
      <h3>Program(s)</h3><ul>
        {% if info.programs %}
          {% for program in info.programs %}
            <li>{{ program.program }}, {{ program.unit }} ({{program.status}})</li>
          {% endfor %}
        {% else %}
          <li class="empty">No grad program in system</li>
        {% endif %}
        <p>
          {% if citizenshipUnknown %}
              Citizenship: Unknown
          {% else %}
              Citizenship: {{ citizenship }}
          {% endif %}
        </p>
      </ul>
      <h3>Currently Valid Visa(s)</h3><ul>
        {% if info.visas %}
          {% for visa in info.visas %}
            <p><u><li><b>Type:</b> {{ visa.status }}</li></u>
            <li><b>Starts:</b> {{ visa.start }}</li>
            <li><b>Ends:</b> {{ visa.end }}</li>
            <li><b>Validity:</b> {{ visa.validity }}</li></p>
          {% endfor %}
        {% else %}
          <li class="empty">No currently valid visa in system</li>
          {% if citizenshipUnknown %}
          <div id="visa_warning"><p>WARNING:  We do not have any currently valid visa for this person, and we have no way to verify they are Canadian.  Please make sure you check/add this person's visa information in the Visas module. </p></div>
          {% elif not isCanadian %}
          <div id="visa_warning"><p>WARNING:  We do not have any currently valid visa for this person, and they are not Canadian.  Please make sure you check/add this person's visa information in the Visas module. </p></div>
          {% endif %}
        {% endif %}
      {% endif %}
      <a href="{% url "visas:new_visa" emplid=req.person.userid_or_emplid %}"><b>+ Add New Visa for {{ req.get_name }}</b></a>
    </ul>
  </div>

  <h2>Download</h2>

  {% if req.get_paf %}
    <div class="form_container">
      <form action="{% url "ra:request_paf" ra_slug=req.slug %}" method="post" class="subtle">{% csrf_token %}
        <fieldset>
          <div class="form_section">
          {{ form|as_dl }}
          </div>
          <p><input type="submit" value="View/Download PAF" class="submit" /></p>
        </fieldset>
      </form>  
    </div>
  {% else %}
    <p><b>Please complete more of the <a href="{% url "ra:view_request" ra_slug=req.slug %}">administrative checklist</a> before downloading the PAF.</b></p> 
    <p>(You must complete up to and including "Payroll Forms are Collected/Already on File")</p>
  {% endif %}
{% endblock %}
