{% extends "base.html" %}
{% load form_display %}

{% block title %}Bulk Close Pending Forms{% endblock %}
{% block h1 %}Bulk Close Pending Forms{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
    $(document).ready(function() {
        $("h3.summary_heading").collapsible();
        $('#pend_table').dataTable({
                    "bPaginate": true,
                    "lengthChange": false,
                    "pageLength": 25,
                    "bJQueryUI": true,
                    "aaSorting": [[2, "asc"]],
                    "bFilter": false,
                    "bInfo": true,
                    "bSortable": false,
                    "ordering": true,
                    "columnDefs": [{
                        "orderable": false,
                        "targets": "no-sort"
                    }]
        });
        $("#selectAll").change(function() {
            $(".checkMe:checkbox").prop('checked', this.checked);
        } );
    });
    function confirmDelete(url) {
        // https://stackoverflow.com/questions/14800954/how-to-check-if-all-checkboxes-are-unchecked
        var checked_formsubs = document.querySelectorAll('input[type="checkbox"]:checked:not(#selectAll)').length;
        return confirm("Are you sure you want to close " + checked_formsubs + " form(s)?");
    }
</script>
{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "onlineforms:index" %}">Forms</a></li>
    <li><a href="{% url "onlineforms:admin_list_all" %}">Admin Forms</a></li>
    <li>Bulk Close</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<p class="helptext">These forms have been completed by the person filling things out <b>at least two weeks ago</b>. You can mark them complete here in bulk (maximum of 25 at a time).</b></p>
<form action="{% url "onlineforms:bulk_close" %}" method="post">
{% csrf_token %}
    <div class="datatable_container">
        {% if pend_submissions %}
            <table class="display" id="pend_table">
                <thead>
                    <tr>
                        <th scope="col">Form</th>
                        <th scope="col">Initiator</th>
                        <th scope="col">Last Submission</th>
                        <th scope="col" class="no-sort">Close {% if pend_submissions %}<input type="checkbox" id="selectAll"/>{% endif %}</th>
                    </tr>
                </thead>
                {% for form_sub in pend_submissions %}
                    <tr>
                        <td>{{ form_sub.form.title }}</td>
                        <td><a href="{% url "onlineforms:view_submission" form_slug=form_sub.form.slug formsubmit_slug=form_sub.slug %}">{{ form_sub.initiator }}</a></td>
                        <td><span class="sort">{{ form_sub.last_sheet_completion.isoformat }}</span>{{ form_sub.last_sheet_completion }}</td>
                        <td><input type="checkbox" class="checkMe" name="forms_to_close" value="{{form_sub.form.slug}},{{form_sub.slug}}"></td>
                    </tr>
                {% endfor %}
            </table>
        <p><input type="submit" class="submit" value="Close" onclick="return confirmDelete()"/></p>
        {% else %}
                <p>There are currently no pending forms that need any action.</p>
        {% endif %}
    </div>
</form>
{% endblock %}