{% extends "base.html" %}
{% load form_display %}

{% block title %} Assign {{ form_submission.form.title }} {% endblock %}
{% block h1 %} Assign {{ form_submission.form.title }} {% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "onlineforms.views.index" %}">Forms</a></li>
    <li><a href="{% url "onlineforms.views.admin_list_all" %}">Admin Forms</a></li>
    <li>Assign {{ form_submission.form.title }}</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
    var frequent_fillers = {{ frequent_fillers }}

    function set_assignee(emplid) {
        $('#id_assignee').val(emplid);
    }
    function update_frequent() {
        var html = 'Frequent assignees: ';
        var sheetid = $('#assignform input[name=sheet]:checked').val();
        $(frequent_fillers[sheetid]).each(function(i, p) {
            html += '<a href="javascript:set_assignee(' + p['emplid'] + ')">' + p['name'] + '</a> &nbsp; ';
        });
        $('#frequent').html(html);
    }

    $(document).ready(function() {
        $('#id_assignee').each(function() {
            $(this).autocomplete({
                source: '/data/students',
                minLength: 2,
                select: function(event, ui){
                    $(this).data("val", ui.item.value);
                }
            });
        });
        $('#assignform').change(function() {
          update_frequent();
        });
        update_frequent();
    });
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    {% if assign_to_sfu_account %}
    <li><a href="{% url "onlineforms.views.admin_assign_nonsfu" form_slug=form_submission.form.slug formsubmit_slug=form_submission.slug %}">
    Assign to non-SFU user
    </a></li>
    {% else %}
    <li><a href="{% url "onlineforms.views.admin_assign" form_slug=form_submission.form.slug formsubmit_slug=form_submission.slug %}">
    Assign to an SFU user
    </a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="form_container">
        <form action="" method="post" id="assignform">{% csrf_token %}
            <fieldset>
                <legend>Assignee Information</legend>
                    {{ form|as_dl }}
                    {% if assign_to_sfu_account %}<p id="frequent"></p>{% endif %}
                    <p><input class="submit" type="submit" value="Submit"/></p>
                </ul>
            </fieldset>
        </form>
    </div>
{% endblock %}