{% extends "base.html" %}
{% load form_display %}

{% block title %}Completed {{ form.title }} [{{ form.unit.label }}]{% endblock %}
{% block h1 %}Completed {{ form.title }} [{{ form.unit.label }}]{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "onlineforms:index" %}">Forms</a></li>
    <li><a href="{% url "onlineforms:admin_list_all" %}">Admin Forms</a></li>
    <li><a href="{% url "onlineforms:admin_completed" %}">Completed</a></li>
    <li>{{ form.title }} [{{ form.unit.label }}]</li>
{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
$(function() {
    $("#id_fromdate").datepicker({'dateFormat': 'yy-mm-dd'});
    $("#id_todate").datepicker({'dateFormat': 'yy-mm-dd'});
    
    $(document).ready(function() {
        $('#done_table').dataTable({
                    "bPaginate": false,
                    "bJQueryUI": true,
                    "aaSorting": [[1, "desc"]],
        });
    });
});
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url "onlineforms:summary_csv" form_slug=form.slug %}">Summary of completed submissions</a></li>
        <li><a href="{% url "onlineforms:pending_summary_csv" form_slug=form.slug %}">Summary of pending submissions</a></li>
        <li><a href="{% url "onlineforms:waiting_summary_csv" form_slug=form.slug %}">Summary of waiting submissions</a></li>
        <li><a href="{% url "onlineforms:admin_rejected_form" form_slug=form.slug %}">Rejected submissions</a></li>
        <li><a href="{% url "onlineforms:download_result_csv" form_slug=form.slug %}?fromdate={{fromdate}}&amp;todate={{todate}}">Download Result Table (CSV)</a></li>
    </ul>
</div>{% endblock %}

{% block content %}
    <form class="noprint" action="" method="POST">

    {% csrf_token %}  
    {{ searchform.as_p }}

    <input type="submit" value="Select" />
  </form> 

    {% if formsubs %}
        <table class="display" id="done_table">
            <thead>
                <tr>
                    <th scope="col">Initiator</th>
                    <th scope="col">Completed on</th>
                </tr>
            </thead>
            {% for form_sub in formsubs %}
                <tr>
                    <td><a href="{% url "onlineforms:view_submission" form_slug=form_sub.form.slug form_slug=form_sub.form.slug formsubmit_slug=form_sub.slug %}">{{ form_sub.initiator }}</a></td>
                    <td><span class="sort">{{ form_sub.last_sheet_completion.isoformat }}</span>{{ form_sub.last_sheet_completion }}</td>
                </tr>
              {% endfor %}
        </table>
    {% else %}
            <p>No forms have been set to done.</p>
    {% endif %}
{% endblock %}