{% extends "base.html" %}
{% load form_display %}

{% block title %}Completed Form Submissions{% endblock %}
{% block h1 %}Completed Form Submissions{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "onlineforms:index" %}">Forms</a></li>
    <li><a href="{% url "onlineforms.views.admin_list_all" %}">Admin Forms</a></li>
    <li>Completed</li>
{% endblock %}

{% block content %}
<p>You have access to submissions for these forms:</p>
<ul>
    {% for f in forms %}
    <li><a href="{% url 'onlineforms.views.admin_completed_form' form_slug=f.slug %}">{{ f.title }} [{{ f.unit.label }}]</a></li>
    {% endfor %}
</ul>
{% endblock %}