{% extends "base.html" %}
{% load form_display %}

{% block title %} Assign Form {% endblock %}
{% block h1 %} Assign Form {% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "onlineforms.views.index" %}">Forms</a></li>
    <li><a href="{% url "onlineforms.views.admin_list_all" %}">Admin Forms</a></li>
    <li>Assign Form</li>
{% endblock %}

{% block headextra %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_assignee').each(function() {
            $(this).autocomplete({
                source: '/data/students',
                minLength: 2,
                select: function(event, ui){
                    $(this).data("val", ui.item.value);
                }
            });
        }); 
    });
</script>
{% endblock %}

{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
    {% if assign_to_sfu_account %}
    <li><a href="{% url "onlineforms.views.admin_assign_any_nonsfu" %}">Assign to non-SFU user</a></li>
    {% else %}
    <li><a href="{% url "onlineforms.views.admin_assign_any" %}">Assign to an SFU user</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}


{% block content %}
    <div class="form_container">
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                <legend>Assignee Information</legend>
                        {{ form|as_dl }}
                        <p><input class="submit" type="submit" value="Submit"/></p>
            </fieldset>
        </form>
    </div>
{% endblock %}
