{# be sure to include this if using this fragment: <link rel="stylesheet" href="{% static 'style/onlineforms.css' %}" media="all" />  #}

{% for sheet_sub, fields in formsub_activity %}
{% if fields == 'FormLogEntry' %}{# it's a FormLogEntry, not a SheetSubmission #}
    {% with logentry=sheet_sub %}
    <p class="logentry">
        {{ logentry.timestamp }} by {{ logentry.identifier }}: {{ logentry.description }}
        {% if logentry.sheet_submission %}
        (sheet <a href="#sheetsub-{{ logentry.sheet_submission.id }}">{{ logentry.sheet_submission.sheet.title }}</a>)
        {% endif %}
    </p>
    {% endwith %}
{% else %}
	<form class="sheetsub sheetsub-{{ sheet_sub.status }}" id="sheetsub-{{ sheet_sub.id }}" action="">
		<fieldset class="view_fieldset">
			<legend>{{ sheet_sub.sheet.title }}</legend>
            {% if sheet_sub.assign_comment %}
            <p class="assign-comment">Comment from {{ sheet_sub.assigner.name }} when assigning sheet: {{ sheet_sub.assign_comment|linebreaksbr }}</p>
            {% endif %}
			{% if sheet_sub.status == 'REJE' %}
			<p>Returned by {{ sheet_sub.filler.name }} ({{ sheet_sub.filler.email_mailto }})
				without being completed, {{sheet_sub.completed_at}}.
				{% if sheet_sub.reject_reason %}
				Given reason: &ldquo;{{ sheet_sub.reject_reason }}&rdquo;.
				{% endif %}
				</p>
			{% else %}
			{% if sheet_sub.status != 'DONE' %}<p class="incomplete-warning">This is a draft submission: it has not been completed by the person filling it out, only saved for later.</p>{% endif %}
			<dl class="dlform formview">
                <dt><label>Completed by:</label></dt>
                <dd><p>{{ sheet_sub.filler }}
                {% if can_advise and sheet_sub.sheet.is_initial and sheet_sub.filler.isSFUPerson %}
                [<a href="{% url "advising:student_notes" userid=sheet_sub.filler.sfuFormFiller.userid_or_emplid %}">advising notes for {{ sheet_sub.filler.name }}</a>]
                {% endif %}
                </p></dd>
                <dt><label>Email:</label></dt>
                <dd><p>{{ sheet_sub.filler.email_mailto }}</p></dd>
			{% for field in fields %}
                {% if field.fieldtype == "DIVI" %}
                    <hr class="clear" />
                {% else %}
                    {% if sheetsWithFiles %}
                        {% for sheet_id, file_id in sheetsWithFiles.items %}
                            <dt><label>{{ field.label }}:</label></dt>
                            <dd>{% if sheet_id == sheet_sub.id %}<a href="{% url "onlineforms:file_field_download" form_slug=form_slug formsubmit_slug=formsubmit_slug sheet_id=sheet_sub.id file_id=file_id disposition="attachment" %}">Download File</a>{% endif %}</dd>
                        {% endfor %}
                    {% else %}
                        <dt><label>{{ field.label }}:</label></dt>
                        <dd>{{ field.html }}</dd>
                    {% endif %}
                {% endif %}
			{% endfor %}
            <dt><label>Completed at:</label></dt>
            <dd>{% if sheet_sub.status == 'DONE' %}{{sheet_sub.completed_at}}{% else %}Still incomplete.{% endif %}</dd>
			</dl>
            {% if sheet_sub.status == 'DONE' and can_admin and not sheet_sub.sheet.is_initial %}
            <p class="returnlink">
            <a href="{% url "onlineforms:admin_return_sheet" form_slug=sheet_sub.sheet.form.slug formsubmit_slug=sheet_sub.form_submission.slug sheetsubmit_slug=sheet_sub.slug %}">
            Return to {{ sheet_sub.filler.name }}</a></p>
            {% endif %}
			{% endif %}
		</fieldset>
	</form>
{% endif %}
{% endfor %}
