{% extends "base.html" %}
{% block content %}
	<p><b><font size = "3"> Create Note </font></b></p><br />
	{% if advisor %}
		{% if student %}
			<p><b>Author:</b> {{ advisor.person.first_name }} {{ advisor.person.last_name}}</p><br />
			<p><b>Student:</b> {{ student.first_name }} {{ student.last_name }} ({{ student.email }})</p><br />
                        <form action="submit" method="POST", enctype="multipart/form-data">		
				<label><b>Content:</b><br />
				<textarea name="content" cols="50" rows="10" wrap="virtual" id="content"></textarea><br />
				<label><br />
				<b>Attachment:</b><br />
				<input name="attachment" type="file" id="attachment" value="" size="50" />
				</label><br /><br />
				<input type="submit" value="Submit" />
			</form>
		{% else %}
			<p> Student does not exist </p>
		{% endif %}
	{% else %}
		<p> Advisor does not exist </p>
	{% endif %}
{% endblock content %}
