GradeSource:
  country
  institution/scale (string)
  scale type: discrete/continuous
  min/max grade (for continuous scales only)
  status ('ACTI', 'DISA')
  slug (AutoSlugField)
  config (JSONField)

DiscreteConversionRule:
  GPASource (foreign key)
  value: the lookup values
  sfu_grade: one of A+, A, A-, ...

ContinuousConversionRule:
  GPASource (foreign key)
  lower_bound: lowest mark that gets this grade
  sfu_grade: one of A+, A, A-, ...

"discrete scales" are things like A+,A,A-,... or Excellent,Good,Fair,Poor. Lookup tables, basically.
"continuous scales" are things like 100-90, 89.99-80, ... . 

Admin interface:
  create new institution/scale
  view institution/scale details
  edit institution/scale details and conversion rules

Public interface:
  select country and institution/scale (with active==True)
  enter each course: title, credits, grade (from the chosen institution/scale)
    result: SFU-equiv grade for each course, and SFU GPA
  enter the average from that institution
    result: SFU GPA

Lower priority:
  when entering, select some of the courses for a secondary GPA calculation (in-major, upper-division, etc)
  share page: create anonymous URL that points to this conversion event (for sharing with potential supervisor, etc.)

See demo video here for some idea what is needed: https://www.wes.org/calculator/login.asp
