MemoTemplate:
  Unit
  event_type (where it is presented as an option)
  template_text

CareerEventType:
  EntryForm
  to_html(career_event)
  to_careerevent(entry_form)
  who_can_enter (faculty member, department admin, dean's office)
  who_can_approve (department admin, dean's office)
  exclusion_type (or None)

Each CareerEvent has:
  Person
  Unit
  title
  slug
  start date
  end date
  event_type
  exclusion_type (logic: only one event with same person,unit,exclusion_type can occur simultaneously)
  other type-specific data
  additional comments
  status: needs approval, deleted, approved
  one-to-many documentation attachments
  one-to-many memos produced

CareerEvent types:
  appointment (when hired/left, appointment fraction, was spousal hire?, reason for leaving: retire, moved to other Uni, etc)
  received tenure
  contract (appointment fraction) 
  emeritus
  research group membership?
  external affiliation (adjunct, external company/not-for-profit, research institute/centre)
  admin position (position: director, assoc director, etc; teaching reduction?)
  committee member (commitee name and unit)
  special deals (additional research stipend, etc)
  grant received (startup, NSERC, etc. Amount. Cover with grant features instead?)
  salary change (rank, step, base salary, FTE fraction)
  salary modification/stipend (source: retention/market differential, chair stipend)
  award received (from who? for what?)
  leaves (medical/parental/admin/secondment, fraction leave, salary recovery info?)
  study leave (80/90/100% option)
  study leave report received
  received teaching credit (number of credits, reason, approved by, funded by)

Grants
  owner (can be faculty member or admin staff)
  start date
  expiry date
  account code (13, 31, ...)
  label (to ID from FINS)
  one-to-many: date, balance
  * users import CSV from FINS
  * need logic on FINS import to manually set FINS ID <-> owner link

Reporting
  faculty summary page
  study leave credits accumulated
  teaching credit:
    Member[role=INST] (with exclusion logic for distance, directed studies, etc.)
    CareerEvent[type=teaching-credit]
  search events by type/categegory/date (range)

Data additions: (things that would be nice to have editable per faculty member)
  phone local
  office
  title (Mr/Mrs -> Dr)
  DOB
  normal retirement year (==DOB + 65?)
  * do import like grad students for gender/etc.




