MemoTemplate:
  Unit
  event_type (where it is presented as an option)
  template_text

Each CareerEvent has:
  Person
  Unit
  title
  slug
  start date
  end date
  start/end semester (default=guess, but allow override in weird cases)
  event_type (foreign key to CareerEventType)
  exclusion_type (logic: only one event with same person,unit,exclusion_type can occur simultaneously)
  other career-type-specific data
  additional comments
  import_key (to identify data from imports, like "nserc-43517b4fd422423382baab1e916e7f63", or null)
  status: needs approval, deleted, approved
  one-to-many documentation attachments
  one-to-many memos produced

CareerEventType:
  EntryForm
  category????
  is_instant (if so, is instantaneous and end date is irrelevant)
  get_entry_form(career_event=None) (returns a Form to create/edit an event of this type)
  to_careerevent(entry_form) (processes entry form into a CareerEvent object, or should be done by entry_form.save?)
  to_html(career_event) (converts this to HTML for display--maybe need short/long versions?)
  who_can_enter (faculty member, department admin, dean's office)
  who_can_approve (department admin, dean's office)
  exclusion_type (or None)

CareerEventTypes we know about at the moment:
  appointment (when hired/left, was spousal hire?, reason for leaving: retired, moved to other Uni, etc)
  received tenure
  contract (appointment fraction)
  rank (associate professor, lecturer, emeritus, etc)
  teaching load (default = 3/year, etc)
  research group membership?
  external affiliation (adjunct, external company/not-for-profit, research institute/centre)
  admin position (position: director, assoc director, etc; teaching/supervision reduction)
  committee member (commitee name and unit)
  special deals (additional research stipend, etc)
  applied for grant
  grant received (startup, NSERC, etc. Amount... Cover with grant features instead?)
  salary change (rank, step, base salary, FTE fraction)
  salary modification/stipend (amount, source: retention/market differential, chair stipend)
  award received (from who? for what?)
  leaves (medical/parental/admin/secondment, fraction leave, salary recovery info?)
  study leave (80/90/100% option)
  study leave report received
  received teaching credit (number of credits, reason, approved by, funded by)
  accreditation flags (is PEng, has PhD, ...)

You know what'd be cool? NSERC common-CV XML importing.

Must be able to do the stupid CMPT FTTE/FTSE/credit balance calculations.

Needed: wizard to set up a new appointment (create CareerEvents for appointment, contract, rank, teaching load, etc)

Grants
  owner (can be faculty member or admin staff)
  start date
  expiry date
  account code (13, 31, ...)
  label (to ID from FINS)
  import_key (to identify from imports, like "nserc-43517b4fd422423382baab1e916e7f63")
  one-to-many: date, balance
  * users import CSV from FINS
  * need logic on FINS import to manually set FINS ID <-> owner link
  * talk to grants facilitator/faculty for more needed info

Reporting
  faculty member summary page
  faculty-in-unit summary page
  study leave credits accumulated
  teaching credit:
    Member.teaching_credit
    CareerEvent[type=teaching-credit]
  search events by type/categegory/date (range)
  career timeline

Data additions: (things that would be nice to have editable per faculty member)
  phone local
  office
  title (Mr/Mrs -> Dr)
  DOB
  normal retirement year (==DOB + 65?)
  * do import like grad students for gender/etc.

EventTypeCategory
  name
  Unit?
  one-to-many CareerEventType
  * use them to give useful menu options

CVImport
  person
  date
  type ('nserc', 'sfucv'?, others TBA)
  datafile
  import_stuff_from(self) (idempotent method to produce other objects out of this data)
  
