{% load forum_display %}

<section id="post-{{ post.number }}">
<h2>
    {{ thread.title }}
    {% if thread.privacy != 'ALL' %}<span class="privacy-note">[Private to instructors/TAs]</span>{% endif %}
</h2>
    {% include 'forum/_post_fragment.html' with post=post viewer=viewer %}
</section>

<h2>Replies</h2>

<p class="sorting">
    Sort by:
    <button class="sort-button active" id="sort-time">Oldest First</button>
    <button class="sort-button" id="sort-time-newest">Newest First</button>
    <button class="sort-button" id="sort-score">Best First</button>
</p>

<section id="replies">
{% for reply in replies %}
{% include 'forum/_post_fragment.html' with post=reply.post viewer=viewer %}
{% empty %}
    <p class="empty">No replies.</p>
{% endfor %}
</section>

<section id="reply">
<h3>Reply</h3>

<form action="" method="post" enctype="multipart/form-data" class="close-warn">{% csrf_token %}
{{ reply_form | forum_form:"Reply" }}
</form>
<p><a href="{% url 'offering:forum:anon_identity' course_slug=offering.slug %}">About discussion forum anonymous identities</a></p>

</section>
