{% load forum_display %}

<section id="post-{{ post.number }}">
<h2>{{ thread.title }}</h2>
    {% include 'forum/_post_fragment.html' with post=post viewer=viewer %}
</section>

<h2>Replies</h2>

{% for reply in replies %}
<section id="post-{{ reply.post.number }}" class="thread-reply">
{% include 'forum/_post_fragment.html' with post=reply.post viewer=viewer %}
</section>
    {{ post_scores.post_id }}
{% endfor %}

<section id="reply">
<h3>Reply</h3>

<form action="" method="post" enctype="multipart/form-data" class="close-warn">{% csrf_token %}
{{ reply_form | forum_form:"Reply" }}
</form>
<p><a href="{% url 'offering:forum:anon_identity' course_slug=offering.slug %}">About discussion forum anonymous identities</a></p>


</section>
