{% extends "base-wide.html" %}
{% load static %}
{% load compress %}

{% block title %}{{ offering.name }}: Discussion Forum{% endblock %}
{% block h1 %}{{ offering.name }}: Discussion Forum{% endblock %}
{% block subbreadcrumbs %}
    <li><a href="{{ offering.get_absolute_url }}">{{ offering.name }}</a></li>
    <li>Discussion</li>
{% endblock %}

{% block headextra %}
    {% url 'offering:forum:index' course_slug=offering.slug as dataurl %}{{ dataurl|json_script:"forum-url" }}

    {% include 'pages/markup_view_head.html' %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'style/forum.css' %}" />
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'js/forum.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}

    <section id="forum">
    <section id="thread-list">{% include "forum/_thread_list.html" with offering=offering threads=threads %}</section>
    <section id="main-panel">
        {% if current_thread %}
            {% include "forum/_thread_detail.html" with thread=current_thread post=current_thread.post %}
        {% else %}
            {% include "forum/_forum_summary.html" %}
        {% endif %}
    </section>
    </section>

{% endblock %}