<p>Hello {{ supervisor.name }},</p>

{% if research_assistant %}
<p>This is a friendly reminder that one of your Research Assistants (RAs) has an appointment that is expiring in the near future:</p>
{% elif graduate_research_assistant %}
<p>This is a friendly reminder that one of your graduate students has a scholarship funding appointment that is expiring in the near future:</p>
{% elif non_continuing %}
<p>This is a friendly reminder that one of your temporary hires has an appointment that is expiring in the near future:</p>
{% endif %}

<p>{{ raappt.get_name }} expiring on {{ raappt.end_date }}</p>

{% if research_assistant %}
<p>The employment of research assistants (RA) is under the collective agreement between SFU and the Teaching Support Staff Union (TSSU). Appointment letters are required to be issued prior to the commencement of all appointments and where possible, a week in advance. If you plan to set up another appointment for this appointee beyond the current appointment end date, please initiate the process by submitting a new appointment request via CourSys as soon as possible to allow sufficient processing time.</p>
{% elif graduate_research_assistant or non_continuing %}
<p>If you wish to renew this appointment, please start the process by submitting a new appointment request via CourSys to ensure everything gets done in time.</p>
{% endif %}

<p>To view the current appointment, click <a href="{{url}}">here</a>.</p>

{% if research_assistant %}
<p>If a reappointment is not needed, or if the process has already been started, please feel free to ignore this email.</p>
{% elif graduate_research_assistant or non_continuing %}
<p>If a renewal is not needed, or if the process has already been started, please feel free to ignore this email.</p>
{% endif %}

<p>You will NOT get a system-generated reminder from CourSys for this appointment again.</p>
